---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  #- shell
  #- javascript

toc_footers:
  - <a href='/swagger/swagger.yaml'>Download do Swagger</a>
  - <a href='https://www.bcb.gov.br/' target="_blank">Banco Central do Brasil</a>

includes:
  - standards
  #- authentication
  - security
  - banking_apis
  - schemas
  - non_functional_requirements

search: true
---

# Introdução

A documentação a seguir é parte da iniciativa do Banco Central (Bacen) para a abertura do sistema financeiro no Brasil, o que é conhecido no mundo como Open Banking (Sistema Financeiro Aberto). Estabelece padrões de desenvolvimento de APIs por parte das instituições financeiras, instituições de pagamento e demais instituições autorizadas, e contém informações adicionais para melhor entendimento do uso dos dados disponibilizados.


