---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - javascript

toc_footers:
  - <a href='#'>Download do Swagger</a>
  - <a href='https://www.bcb.gov.br/' target="_blank">Banco Central do Brasil</a>

includes:
  - standards
  - authentication
  - banking_apis
  - schemas

search: true
---

# Introdução

Documentação das API's de open banking no Brasil.