---
title: Open Banking Brasil

language_tabs: # must be one of https://git.io/vQNgJ
  #- shell
  #- javascript

toc_footers:

includes:
  - standards
  - glossary
  - security
  - security_participant
  - common_apis
  - channels_apis
  - products_services_apis
  - admin_apis
  - schemas
  - non_functional_requirements
  - operational_guideline
  - versioning_guideline
  - support

search: true
---

# Introdução

Este documento é o resultado do trabalho conjunto do GT da Convenção – Interfaces, formado por integrantes da ABBC, ABCD, Abecs, ABFintechs, Abipag, Abranet, Camara e-net, OCB, BACEN e Febraban, baseado na proposta inicial apresentada pela Febraban (Federação Brasileira de Bancos) para implementação do Sistema Financeiro Aberto no Brasil (Open Banking). A documentação a seguir visa estabelecer padrões de desenvolvimento de APIs por parte das instituições financeiras, instituições de pagamento e demais instituições autorizadas pelo Banco Central do Brasil, além de conter informações adicionais para melhor entendimento do uso dos dados disponibilizados.

Nossa proposta tem como base o modelos do Open Banking do <a href="https://standards.openbanking.org.uk/api-specifications/" target="_blank">Reino Unido</a> e <a href="https://consumerdatastandardsaustralia.github.io/standards/" target="_blank">Austrália</a>, com as devidas adaptações ao cenário bancário brasileiro.

