## Métricas

> Exemplo de código:

```http
GET https://api.banco.com.br/open-banking/admin/v1/metrics HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/admin/v1/metrics", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "requestTime": "string",
    "availability": {
        "uptime" : {
            "generalUptimeRate" : "",
            "endpoints" : [
                {
                    "url" : "",
                    "uptimeRate" : ""
                }
            ]
        },
        "downtime" : {
            "generalDowntime" : 0,
            "scheduledOutage" : 0,
            "endpoints" : [
                {
                    "url" : "",
                    "partialDowntime" : 0
                }
            ]
        }
    },
    "invocations": {
      "unauthenticated": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "highPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "mediumPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "unattended": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
    },
    "averageResponse": {
      "unauthenticated": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "highPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "mediumPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "unattended": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
    },
    "averageTps": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "peakTps": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "errors": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "rejections": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    }
  },
  "links": {
    "self": "string"
  },
  "meta": {}
}
```

`GET /admin/<versão>/metrics`

### Visão geral

Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.


### Parâmetros de entrada

|Nome  |Origem|Tipo                                                    |Obrigatório|Descrição                                                         |
|:-----|:-----|:-------------------------------------------------------|:----------|:-----------------------------------------------------------------|
|period|query |[Enum AdminMetricsPeriod](#schemaEnumAdminMetricsPeriod)|Não        |O período a ser retornado. Se não for informado, o padrão será ALL|

### Enum AdminMetricsPeriod
<a id="schemaEnumAdminMetricsPeriod"></a>

|Propriedade|Código |Definição                             |
|:----------|:------|:-------------------------------------|
|period     |CURRENT|Métricas do dia atual.                |
|period     |ALL    |Métricas de todo o período disponível.|

<%= partial "./includes/partials_admin_apis/swagger" %>

### Resposta

|Status|Significado|Descrição|Schema                                           |
|:-----|:----------|:--------|:------------------------------------------------|
|200   |OK         |Sucesso  |[ResponseMetricsList](#schemaResponseMetricsList)|

