openapi: 3.0.0
info:
  title: APIs Admin do Open Banking Brasil
  description: As API's administrativas são recursos que podem ser consumidos apenas pelo diretório para avaliação e controle da qualidade dos serviços fornecidos pelas instituições financeiras
  version: 1.0.0
  contact:
    email: "apiteam@swagger.io"
servers:
  - url: 'http://api.banco.com.br/open-banking/admin/v1'
tags:
- name: "Metrics"
paths:
  /metrics:
    get:
      tags:
        - Metrics
      summary: Obtém as métricas de disponibilidade das APIs
      description: "Obtém as métricas de disponibilidade das APIs"
      operationId: "getMetrics"
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: Período a ser consultado
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
components:
  schemas:
    ResponseMetricsList:
      type: object
      required:
        - data
        - links
      properties:
        data:
          type: object
          required:
            - requestTime
            - availability
            - invocations
            - averageResponse
            - averageTps
            - peakTps
            - errors
            - rejections
          properties:
            requestTime:
              type: string
              format: date-time
            availability:
              $ref: '#/components/schemas/AvailabilityMetrics'
            invocations:
              $ref: '#/components/schemas/InvocationMetrics'
            averageResponse:
              $ref: '#/components/schemas/AverageMetrics'
            averageTps:
              $ref: '#/components/schemas/AverageTPSMetrics'
            peakTps:
              $ref: '#/components/schemas/PeakTPSMetrics'
            errors:
              $ref: '#/components/schemas/ErrorMetrics'
            rejections:
              $ref: '#/components/schemas/RejectionMetrics'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    AvailabilityMetrics:
      type: object
      required:
        - uptime
        - downtime
      properties:
        uptime:
          type: object
          required:
            - generalUptimeRate
            - endpoints
          properties:
            generalUptimeRate:
              type: string
            endpoints:
              $ref: '#/components/schemas/EndpointUptime'
        downtime:
          type: object
          required:
            - generalDowntime
            - scheduledOutage
            - endpoints
          properties:
            generalDowntime:
              type: integer
            scheduledOutage:
              type: integer
            endpoints:
              $ref: '#/components/schemas/EndpointDowntime'
    EndpointUptime:
      type: object
      required:
        - url
        - uptimeRate
      properties:
        url:
          type: string
        uptimeRate:
          type: string
    EndpointDowntime:
      type: object
      required:
        - url
        - partialDowntime
      properties:
        url:
          type: string
        partialDowntime:
          type: integer
    InvocationMetrics:
      type: object
      required:
        - unauthenticated
        - highPriority
        - lowPriority
        - unattended
      properties:
        unauthenticated:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        highPriority:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        lowPriority:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        unattended:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
    AverageMetrics:
      type: object
      required:
        - unauthenticated
        - highPriority
        - lowPriority
        - unattended
      properties:
        unauthenticated:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        highPriority:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        lowPriority:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
        unattended:
          type: object
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
            previousDays:
              type: array
              items:
                type: integer
    AverageTPSMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
        previousDays:
          type: array
          items:
            type: integer
    PeakTPSMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
        previousDays:
          type: array
          items:
            type: integer
    ErrorMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
        previousDays:
          type: array
          items:
            type: integer
    RejectionMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
        previousDays:
          type: array
          items:
            type: integer
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
