
.DS_Store
.idea/

documentation/source/swagger/swagger_admin_apis.yaml
documentation/source/swagger/swagger_channels_apis.yaml
documentation/source/swagger/swagger_common_apis.yaml
documentation/source/swagger/swagger_products_services_apis.yaml
documentation/source/swagger/swagger_customers_apis.yaml
documentation/source/swagger/swagger_open_banking_apis.yml

documentation/source/includes/partials_open_banking/_open_banking_apis.md.erb
