.DS_Store
.idea/

documentation/source/swagger/swagger_accounts_apis.yaml
documentation/source/swagger/swagger_consents_apis.yaml
documentation/source/swagger/swagger_credit_cards_apis.yaml
documentation/source/swagger/swagger_customers_apis.yaml
documentation/source/swagger/swagger_financings_apis.yaml
documentation/source/swagger/swagger_invoice_financings_apis.yaml
documentation/source/swagger/swagger_loans_apis.yaml
documentation/source/swagger/swagger_resources_apis.yaml
documentation/source/swagger/swagger_unarranged_accounts_overdraft_apis.yaml
documentation/source/swagger/swagger_payments_apis.yaml
documentation/source/swagger/swagger_capitalization_bonds_apis.yaml
documentation/source/swagger/swagger_investments_apis.yaml
documentation/source/swagger/swagger_pension_apis.yaml
documentation/source/swagger/swagger_insurances_apis.yaml

documentation/source/swagger/swagger_open_banking_fase2_apis.yml
documentation/source/swagger/swagger_open_banking_fase3_apis.yml
documentation/source/swagger/swagger_open_banking_fase4_apis.yml