## Tipos de dados comuns

### Propriedades
|     Tipo                                   |  Descrição                                       | Exemplos válidos       |
|:------------------------------------------ |:------------------------------------------------ |:----------------       |
| <a id="commonFieldString"></a>string       | Padrão de texto UTF-8 sem restrição de conteúdo  |                        |
| <a id="commonFieldBoolean"></a>boolean     | Booleano do padrão JSON                          | true<br>false          |
| <a id="commonFieldURIString"></a>URIString | Uma URI válida                                   | http://google.com.br   |
