## Referências informativas

|Referença|Descrição|
|---------|---------|
|[BCP195]|Recomendações para o uso do seguro do Transport Layer Security (TLS) e Datagram Transport Layer Security (DTLS): <a href='https://tools.ietf.org/html/bcp195' target="_blank">https://tools.ietf.org/html/bcp195</a>|
|[DOS-G]| Guia de segurança sobre DDoS attacks: <a href='https://www.ncsc.gov.uk/collection/denial-service-dos-guidance-collection' target="_blank"> https://www.ncsc.gov.uk/collection/denial-service-dos-guidance-collection</a>|
