## Referências normativas

|Referença|Descrição|Versão|
|---------|---------|------|
|[JSON]|The JavaScript Object Notation (JSON) Data Interchange Format: <a href='https://tools.ietf.org/html/rfc8259' target="_blank">https://tools.ietf.org/html/rfc8259</a>|Dec 2017|
|[JWT]|JSON Web Token (JWT): <a href='https://tools.ietf.org/html/rfc7519' target="_blank"> https://tools.ietf.org/html/rfc7519</a>|May 2015|
|[JWS]|JSON Web Signature (JWS): <a href='https://tools.ietf.org/html/rfc7797' target="_blank"> https://tools.ietf.org/html/rfc7797</a>|Feb 2016|