openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ''
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking'
tags:
  - name: APIs Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
  - name: API - Admin
  - name: API - Dados Cadastrais
  - name: API - Contas
paths:
  /discovery/v1/status:
    get:
      tags:
        - APIs Comuns
      summary: API de Status
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de descrição e código de status retornado pelas APIs obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /discovery/v1/outages:
    get:
      tags:
        - APIs Comuns
      summary: API de Outages
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtêm a lista de indisponibilidade agendada para os serviços.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de indisponilidade agendada obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutagesList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Dependências próprias
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de dependências próprias da instituição financeira.

        Dependência própria é o espaço físico destinado ao atendimento ao público.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Branches_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/branches.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento eletrônico
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de canais eletrônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_ElectronicChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/electronic_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento telefônico
      description: |
        |Versão|
        |:-----|
        |1     |


        ### Visão Geral

        Obtém a lista de canais telefônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_PhoneChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/phone_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Correspondentes bancários
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de Correspondentes bancários.

        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados
        <img src="images/tld/TLD_Banking_Agents_v1.png">

        ### Dicionário de dados

        <a href="dictionary/banking_agents.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Terminais de Autoatendimento Compartilhado
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Shared_Automated_Teller_Machines_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/automated_teller_machines.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Natural.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Jurídica.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

        Tags: [ Marca (Brand) ](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa natural
      description: |
        Obtém dados sobre empréstimos pessoa natural

        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCreditCard'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCreditCard'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Métricas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_admin_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getMetrics
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
        '400':
          description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
        '401':
          description: Cabeçalho de autenticação ausente/inválido ou token inválido.
        '403':
          description: O token tem escopo incorreto ou uma política de segurança foi violada.
        '404':
          description: O recurso solicitado não existe ou não foi implementado.
        '405':
          description: O consumidor tentou acessar o recurso com um método não suportado.
        '406':
          description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8.
        '410':
          description: Indica que o recurso não está mais disponível.
        '422':
          description: 'A solicitação foi bem formada, mas não pôde ser processada devido à lógica de negócios específica da solicitação.'
        '429':
          description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.'
        '500':
          description: Ocorreu um erro no gateway da API ou no microsserviço.
        '503':
          description: O serviço está indisponível no momento.
        '504':
          description: O servidor não pôde responder em tempo hábil.
  /customers/v1/business-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Razão Social (Company Name)](#glossarioRazaoSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /customers/v1/business-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /customers/v1/business-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento pessoa jurídica com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /customers/v1/personal-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /customers/v1/personal-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /customers/v1/personal-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento da pessoa natural com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /accounts/v1/accounts/identification:
    get:
      tags:
        - API - Contas
      summary: Identificação da Conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agencia (Agency)](#glossarioAgencia), [Conta depósito à vista (Current Account)](#glossarioContaDepositoVista), [Conta Poupança (Saving Account)](#glossarioContaPoupanca),
              [Conta de Pagamento Pré-Paga (Prepayd Payment Account)](#glossarioContaPagamentoPrePaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.png"/>

        <a href="images/der/accounts/DER_Accounts_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/accountsIspbCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountIdentification'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsBalances
      parameters:
        - $ref: '#/components/parameters/accountsIspbCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction) (Scheduled Payment)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsTransactions
      parameters:
        - $ref: '#/components/parameters/accountsIspbCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: '#/components/parameters/accountsIspbCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/400'
        '401':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/401'
        '403':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/403'
        '404':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/404'
        '405':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/405'
        '406':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/406'
        '410':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/410'
        '422':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/422'
        '429':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/429'
        '500':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/500'
        '503':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/503'
        '504':
          $ref: '#/paths/~1admin~1v1~1metrics/get/responses/504'
components:
  schemas:
    AccountBalances:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - balances
      properties:
        balances:
          $ref: '#/components/schemas/Balances'
    AccountFee:
      type: object
      description: Objeto que reúne informações de tarifas de serviços
      required:
        - priorityServices
      properties:
        priorityServices:
          type: array
          items:
            $ref: '#/components/schemas/AccountPriorityService'
          minItems: 1
          maxItems: 40
          description: Lista das Tarifas cobradas sobre Serviços Prioritários
        otherServices:
          type: array
          items:
            $ref: '#/components/schemas/AccountOtherService'
          minItems: 1
          description: 'Lista das Tarifas cobradas sobre outros Serviços, que não prioritários'
    AccountsLimits:
      type: object
      description: Conjunto de informações referentes aos limites da conta de  pagamento pós-paga.
      required:
        - requestDateTime
        - updateDateTime
      properties:
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLenght: 20
          example: '2020-07-21T08:30:00Z'
        updateDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da atualização do bloco de Relacionamento, conforme especificação RFC-3339, formato UTC.'
          maxLenght: 20
          example: '2020-07-21T08:30:00Z'
        currency:
          type: string
          description: 'Moeda referente ao valor da transação, segundo modelo ISO-4217.'
          example: BRL
        statementCreditCardAccounts:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardAccountsStatement'
    AccountOtherService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          maxLength: 250
          pattern: \w*\W*
          description: Nome atribuído a Outros Serviços disponíveis para os tipos de contas.
          example: Evento personalizado
        code:
          type: string
          maxLength: 100
          description: Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas.
          example: TALAO_DOMICILIO
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Outros Fatos geradores de cobrança referentes aos Outros Serviços que incidem sobre as contas comercializadas.
          example: Cobrança devido a evento personalizado
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
          minItems: 4
          maxItems: 4
          description: Valor da tarifa cobrada referente aos Outros Serviços.
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
    AccountOverdraftLimits:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - overdraftLimits
      properties:
        overdraftLimits:
          $ref: '#/components/schemas/OverdraftLimits'
    AccountPriorityService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          $ref: '#/components/schemas/EnumPriorityServiceName'
        code:
          $ref: '#/components/schemas/EnumAccountPriorityServiceCode'
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Fatos geradores de cobrança que incidem sobre os serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa natural.'
          example: 'Fornecimento de extrato com a movimentação de um período em guichê de caixa ou por outras formas de atendimento pessoal, tal como atendimento telefônico realizado por atendente.'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
          minItems: 4
          maxItems: 4
          description: 'Valor da mediana da tarifa, relativa ao serviço ofertado, informado no período'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
    AccountsIdentification:
      type: object
      description: |
        Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - identification
      properties:
        identification:
          $ref: '#/components/schemas/Identification'
    AccountsIncomeRate:
      type: object
      description: Valores dos percentuais de taxas.
      properties:
        savingAccount:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          minItems: 1
          maxItems: 1
          description: |
            Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente.
            Restrição: De preenchimento obrigatório para CONTA_POUPANCA. Para os demais Tipos preencher com NA
          example: 'Para depósitos até 03/05/2012 – remuneração trimestral de 1,5% + TR, sempre creditada no aniversário da conta; Para depósitos a partir de 04/05/2012 – 70% da Selic + TR quando a Selic for igual ou inferior a 8,5% ao ano e 1,5% + TR caso a Selic seja superior a 8,5%.'
        prepaidPaymentAccount:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          minItems: 1
          maxItems: 1
          description: Campo Livre. Deve explicitar o Percentual em favor do titular da conta de pagamento pré-paga.
          example: 40% Rendimento a.m.
    AccountsTermsConditions:
      type: object
      description: Objeto que reúne informações relativas a Termos e Condições para as modalidades tratadas
      required:
        - minimumBalance
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumBalance:
          $ref: '#/components/schemas/MinimumBalance'
        elegibilityCriteriaInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Critérios de qualificação do cliente com a finalidade de definir sua elegibilidade para a aquisição do tipo de conta. Campo Aberto
          example: 'https://example.com/mobile-banking'
        closingProcessInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Procedimentos de encerramento para o tipo de conta tratado. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal.
          example: 'https://example.com/mobile-banking'
    ApplicationRate:
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/EnumApplicationIntervals'
        indexer:
          $ref: '#/components/schemas/Indexer'
        customers:
          $ref: '#/components/schemas/Customer'
      required:
        - interval
        - indexer
        - customers
    AvailabilityMetrics:
      type: object
      description: Índices de disponibilidades das APIs.
      required:
        - uptime
        - downtime
      properties:
        uptime:
          type: object
          description: Tempos de uptime por endpoint
          required:
            - generalUptimeRate
            - endpoints
          properties:
            generalUptimeRate:
              type: string
              description: Taxa de disponibilidade (considerando todos os serviços ativos ao mesmo tempo).
            endpoints:
              $ref: '#/components/schemas/EndpointUptime'
        downtime:
          type: object
          description: Tempos de downtime por endpoint.
          required:
            - generalDowntime
            - scheduledOutage
            - endpoints
          properties:
            generalDowntime:
              type: integer
              description: Quantidade de segundos de downtime (considerando qualquer api em downtime).
            scheduledOutage:
              type: integer
              description: Quantidade de segundos de indisponibilidade agendada.
            endpoints:
              $ref: '#/components/schemas/EndpointDowntime'
    AverageMetrics:
      type: object
      description: Tempo médio de reposta em segundos em cada nível e prioridade.
      required:
        - unauthenticated
        - highPriority
        - mediumPriority
        - unattended
      properties:
        unauthenticated:
          type: object
          description: Tempo médio de resposta para chamadas não autenticadas.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Tempo médio de resposta para chamadas no dia atual.
[...]
