openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/accounts/v1'
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts/identification:
    get:
      tags:
        - Accounts Identification
      summary: Obtém os dados de identificação da conta mantidos na instituição transmissora.
      description: Método para obter os dados de identificação da conta na transmissora.
      operationId: getAccountsIdentification
      parameters:
        - $ref: '#/paths/~1accounts~1balances/get/parameters/0'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/1'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/2'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/3'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/4'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/5'
      responses:
        '200':
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - account
                    properties:
                      account:
                        type: object
                        description: |
                          Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
                        required:
                          - identification
                        properties:
                          identification:
                            type: object
                            description: |
                              Conjunto dos atributos que caracterizam as Contas de: depósito à vista, poupança e de pagamento pré-paga
                            required:
                              - ispbCode
                              - branchCode
                              - number
                              - checkDigit
                              - brandName
                              - companyCnpj
                              - requestDateTime
                              - updateDateTime
                              - type
                              - subtype
                              - personalBusinessIndicator
                            properties:
                              ispbCode:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código
                                example: '60701190'
                              branchCode:
                                type: string
                                maxLength: 4
                                pattern: '\d{4}|^NA$'
                                description: |
                                  Código da Agência detentora da conta
                                example: '6272'
                              number:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Número da conta
                                example: '24550245'
                              checkDigit:
                                type: string
                                maxLength: 1
                                pattern: '\d{1}|^NA$'
                                description: |
                                  Dígito da conta
                                example: '4'
                              brandName:
                                type: string
                                maxLength: 80
                                pattern: \w*\W*
                                description: |
                                  Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                                example: Organização A
                              companyCnpj:
                                type: string
                                maxLength: 14
                                pattern: '\d{14}|^NA$'
                                description: |
                                  Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
                                example: '21128159000166'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              updateDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                              type:
                                type: string
                                enum:
                                  - CONTA_DEPOSITO_A_VISTA
                                  - CONTA_POUPANCA
                                  - CONTA_PAGAMENTO_PRE_PAGA
                                description: |
                                  Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
                                  Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
                                  Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
                                  Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
                                example: CONTA_DEPOSITO_A_VISTA
                              subtype:
                                type: string
                                enum:
                                  - INDIVIDUAL
                                  - CONJUNTA_SOLIDARIA
                                  - CONJUNTA_NAO_SOLIDARIA
                                description: |
                                  Conta individual - possui um único titular
                                  Conta conjunta solidária - é a modalidade cujos titulares podem realizar movimentações de forma isolada, isto é, sem que seja necessária a autorização dos demais titulares
                                  Conta conjunta não solidária - onde as movimentações financeiras só podem serem realizadas mediante autorização de TODOS os correntistas da conta.
                                example: INDIVIDUAL
                              personalBusinessIndicator:
                                type: string
                                enum:
                                  - PESSOAL
                                  - JURIDICA
                                description: |
                                  Indicador do tipo de conta Pessoal ou Jurídica
                                example: PESSOAL
                  links:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/meta'
  /accounts/balances:
    get:
      tags:
        - Accounts Balances
      summary: Obtém os saldos da conta mantidos na instituição transmissora.
      description: Método para obter os dados da conta na transmissora.
      operationId: getAccountsBalances
      parameters:
        - name: ispbCode
          in: query
          description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código'
          schema:
            type: string
            maxLength: 8
            pattern: '\d{8}|^NA$'
          required: true
        - name: branchCode
          in: query
          description: 'Código da Agência detentora da conta. (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória)'
          schema:
            type: string
            maxLength: 4
            pattern: '\d{4}|^NA$'
          required: true
        - name: number
          in: query
          description: Número da conta
          schema:
            type: string
            maxLength: 20
            pattern: '\d{20}|^NA$'
          required: true
        - name: checkDigit
          in: query
          description: Dígito da conta
          schema:
            type: string
            maxLength: 2
            pattern: '^\d{1}$|^NA$'
          required: true
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - account
                    properties:
                      account:
                        type: object
                        description: |
                          Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
                        required:
                          - balances
                        properties:
                          balances:
                            type: object
                            description: |
                              Traz as informações relativas aos saldos para  Contas de: depósito à vista, poupança e de pagamento pré-paga
                            required:
                              - ispbCode
                              - branchCode
                              - number
                              - checkDigit
                              - brandName
                              - companyCnpj
                              - requestDateTime
                              - currency
                              - statementAccount
                            properties:
                              ispbCode:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código
                                example: '60701190'
                              branchCode:
                                type: string
                                maxLength: 4
                                pattern: '\d{4}|^NA$'
                                description: |
                                  Código da Agência detentora da conta
                                example: '6272'
                              number:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Número da conta
                                example: '24550245'
                              checkDigit:
                                type: string
                                maxLength: 1
                                pattern: '\d{1}|^NA$'
                                description: |
                                  Dígito da conta
                                example: '4'
                              brandName:
                                type: string
                                maxLength: 80
                                pattern: \w*\W*
                                description: |
                                  Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                                example: Organização A
                              companyCnpj:
                                type: string
                                maxLength: 14
                                pattern: '\d{14}|^NA$'
                                description: |
                                  Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
                                example: '21128159000166'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              currency:
                                type: string
                                pattern: '^(\w{3}){1}$'
                                maxLength: 3
                                format: CurrencyString
                                description: 'Moeda referente ao valor mínimo da Tarifa, segundo modelo ISO-4217'
                                example: BRL
                              statementAccount:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - type
                                    - amount
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - SALDO_DISPONIVEL
                                        - SALDO_BLOQUEADO
                                        - SALDO_DISPONIVEL_APLICACAO_AUTOMATICA
                                      description: |
                                        tipos de saldo em conta: (vide enum) informados:
                                        Saldo disponível para utilização imediata. No caso de conta de depósito a vista, sem considerar cheque especial e investimentos atrelados a conta. Admite saldo negativo.
                                        Saldo bloqueado não disponível para utilização imediata, por motivo de bloqueio por compensação, ou bloqueio judicial
                                        Saldo disponível com aplicação automática - saldo disponível para utilização imediata, referente ao tipo de conta que remunera automaticamente o saldo em conta 
                                      example: SALDO_DISPONIVEL
                                    amount:
                                      type: number
                                      nullable: true
                                      maxLength: 12
                                      description: 'Valor do Saldo disponível, representado em valor monetário com 2 casas decimais. O tipo SALDO_DISPONIVEL admite valor negativo.'
                                      example: 800.87
                                minItems: 1
                                description: |
                                  Lista os saldos referentes às contas de: depósito à vista, poupança ou de pagamento pré-paga
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
  /accounts/transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Obtém a lista de transações da conta mantidos na instituição transmissora.
      description: Método para obter a lista de transações da conta na transmissora.
      operationId: getAccountsTransactions
      parameters:
        - $ref: '#/paths/~1accounts~1balances/get/parameters/0'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/1'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/2'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/3'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/4'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/5'
      responses:
        '200':
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - account
                    properties:
                      account:
                        type: object
                        description: |
                          Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
                        required:
                          - transactions
                        properties:
                          transactions:
                            type: object
                            description: |
                              Conjunto de informações relativas às Transações de crédito e débito realizadas e de pagamento autorizado para  Contas de: depósito à vista, poupança e de pagamento pré-paga
                            required:
                              - ispbCode
                              - branchCode
                              - number
                              - checkDigit
                              - brandName
                              - companyCnpj
                              - requestDateTime
                              - currency
                              - statementAccount
                            properties:
                              ispbCode:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código
                                example: '60701190'
                              branchCode:
                                type: string
                                maxLength: 4
                                pattern: '\d{4}|^NA$'
                                description: |
                                  Código da Agência detentora da conta
                                example: '6272'
                              number:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Número da conta
                                example: '24550245'
                              checkDigit:
                                type: string
                                maxLength: 1
                                pattern: '\d{1}|^NA$'
                                description: |
                                  Dígito da conta
                                example: '4'
                              brandName:
                                type: string
                                maxLength: 80
                                pattern: \w*\W*
                                description: |
                                  Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                                example: Organização A
                              companyCnpj:
                                type: string
                                maxLength: 14
                                pattern: '\d{14}|^NA$'
                                description: |
                                  Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
                                example: '21128159000166'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              currency:
                                $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/data/properties/account/properties/balances/properties/currency'
                              statementAccount:
                                type: array
                                items:
                                  type: object
                                  description: |
                                    Agrupador das informações relativas às Transações de crédito e débito realizadas e autorizadas
                                  required:
                                    - completedAuthorisedPaymentIndicator
                                    - creditDebitIndicator
                                    - type
                                    - additionalInfo
                                    - amount
                                    - transactionDate
                                    - payer
                                    - payee
                                  properties:
                                    completedAuthorisedPaymentIndicator:
                                      type: string
                                      enum:
                                        - TRANSACAO_EFETIVADA
                                        - PAGAMENTO_AUTORIZADO
                                      description: |
                                        Indicador da transação
                                      example: TRANSACAO_EFETIVADA
                                    creditDebitIndicator:
                                      type: string
                                      enum:
                                        - CREDITO
                                        - DEBITO
                                      description: |
                                        Indicador do tipo de lançamento: a crédito ou a débito. 
                                      example: CREDITO
                                    type:
                                      type: string
                                      enum:
                                        - TED
                                        - DIC
                                        - PIX
                                        - TRANSFERENCIA_MESMA_INSTITUICAO
                                        - BOLETO
                                        - CONVENIO
                                        - ARRECADACAO
                                        - PACOTE_TARIFA_SERVICOS
                                        - TARIFA_SERVICOS_AVULSOS
                                        - FOLHA_PAGAMENTO
                                        - DEPOSITO
                                        - SAQUE
                                        - CARTAO
                                        - JUROS_CHEQUE_ESPECIAL
                                        - RENDIMENTO
                                        - DEBITO_APLICACAO_AUTOMATICA
                                        - OUTRO
                                      description: |
                                        Tipo de Transação
                                      example: PIX
                                    additionalInfo:
                                      type: string
                                      maxLength: 30
                                      pattern: \w*\W*
                                      description: |
                                        Campo livre, de preenchimento obrigatório para complementar informação, quando selecionado o tipo de transação: OUTRO
                                      example: Transferência
                                    amount:
                                      type: number
                                      description: 'Valor do Saldo disponível, representado em valor monetário com 2 casas decimais. O tipo SALDO_DISPONIVEL admite valor negativo.'
                                      example: 500.54
                                    transactionDate:
                                      type: string
                                      maxLength: 10
                                      pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                      description: |
                                        Se indicador de transação:
                                         TRANSACAO_EFETIVADA - corresponde a data de lançamento da transação
                                         PAGAMENTO_AUTORIZADO - corresponde a data prevista de efetivação da transação
                                      example: '2021-01-07'
                                    payer:
                                      type: string
                                      maxLength: 100
                                      pattern: \w*\W*
                                      description: |
                                        Identificação do Pagador da transação
                                      example: GSOKS74631
                                    payee:
                                      type: string
                                      maxLength: 100
                                      pattern: \w*\W*
                                      description: |
                                        Identificação do Recebedor da transação
                                      example: RHGTJ37417
                                minItems: 1
                                description: |
                                  Lista dos lançamentos referentes às transações realizadas e de pagamento autorizado para as contas de: depósito à vista, poupança e de pagamento pré-paga
                  links:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/meta'
  /accounts/overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Obtém os dados de limite de cheque especial e de adiantamento a depositante  da conta mantidos na instituição transmissora.
      description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: '#/paths/~1accounts~1balances/get/parameters/0'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/1'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/2'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/3'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/4'
        - $ref: '#/paths/~1accounts~1balances/get/parameters/5'
      responses:
        '200':
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - account
                    properties:
                      account:
                        type: object
                        description: |
                          Conjunto de informações das Contas de: depósito à vista, poupança e de pagamento pré-paga
                        required:
                          - overdraftLimits
                        properties:
                          overdraftLimits:
                            type: object
                            description: Conjunto das informações relativas aos Limites referentes ao valor das operações de crédito (Cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente
                            required:
                              - ispbCode
                              - branchCode
                              - number
                              - checkDigit
                              - brandName
                              - companyCnpj
                              - requestDateTime
                              - currency
                              - balances
                            properties:
                              ispbCode:
                                type: string
                                maxLength: 8
                                pattern: '\d{8}|^NA$'
                                description: |
                                  Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código
                                example: '60701190'
                              branchCode:
                                type: string
                                maxLength: 4
                                pattern: '\d{4}|^NA$'
                                description: |
                                  Código da Agência detentora da conta
                                example: '6272'
                              number:
                                type: string
                                maxLength: 20
                                pattern: '\d{20}|^NA$'
                                description: |
                                  Número da conta
                                example: '24550245245502452455'
                              checkDigit:
                                type: string
                                maxLength: 1
                                pattern: '\d{1}|^NA$'
                                description: |
                                  Dígito da conta
                                example: '4'
                              brandName:
                                type: string
                                maxLength: 80
                                pattern: \w*\W*
                                description: |
                                  Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
                                example: Organização A
                              companyCnpj:
                                type: string
                                maxLength: 14
                                pattern: '\d{14}|^NA$'
                                description: |
                                  Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
                                example: '21128159000166'
                              requestDateTime:
                                type: string
                                maxLength: 20
                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                example: '2020-07-21T08:30:00Z'
                                description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                              currency:
                                $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/data/properties/account/properties/balances/properties/currency'
                              balances:
                                type: array
                                items:
                                  type: object
                                  required:
                                    - type
                                    - amount
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - VALOR_CONTRATADO_LIMITE
                                        - VALOR_UTILIZADO_LIMITE
                                        - SALDO_DESCOBERTO
                                      description: |
                                        Tipo de Transação relativa ao saldo do limite  informado: (vide Enum)
                                        valor utilizado do limite do cheque especial
                                        valor disponível do limite do cheque especial
                                        saldo a descoberto em conta de depósito a vista (relativo ao adiantamento a depositante 
                                      example: VALOR_CONTRATADO_LIMITE
                                    amount:
                                      type: number
                                      nullable: true
                                      maxLength: 12
                                      description: Valor do saldo. Expressa em valor monetário com 2 casas decimais.
                                      example: 500
                                minItems: 1
                                description: Lista dos valores referentes ao Limite de Cheque especial e ao adiantamento a depositante
                  links:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1accounts~1balances/get/responses/200/content/application~1json/schema/properties/meta'
