openapi: 3.0.0
info:
  title: APIs Admin do Open Banking Brasil
  description: As API's administrativas são recursos que podem ser consumidos apenas pelo diretório para avaliação e controle da qualidade dos serviços fornecidos pelas instituições financeiras
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/admin/v1'
tags:
  - name: Metrics
paths:
  /metrics:
    get:
      tags:
        - Metrics
      summary: Obtém as métricas de disponibilidade das APIs
      description: Obtém as métricas de disponibilidade das APIs
      operationId: getMetrics
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
        - in: query
          description: 'O período a ser retornado. Se não for informado, o padrão será ALL'
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
            description: |
              Período a ser consultado
                 `CURRENT` - Métricas do dia atual.
                 `ALL` - Métricas de todo o período disponível.
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                properties:
                  data:
                    type: object
                    description: Dados primários da requisição.
                    required:
                      - requestTime
                      - availability
                      - invocations
                      - averageResponse
                      - averageTps
                      - peakTps
                      - errors
                      - rejections
                    properties:
                      requestTime:
                        type: string
                        description: Data e hora que as métricas foram requisitadas.
                        format: date-time
                      availability:
                        type: object
                        description: Índices de disponibilidades das APIs.
                        required:
                          - uptime
                          - downtime
                        properties:
                          uptime:
                            type: object
                            description: Tempos de uptime por endpoint
                            required:
                              - generalUptimeRate
                              - endpoints
                            properties:
                              generalUptimeRate:
                                type: string
                                description: Taxa de disponibilidade (considerando todos os serviços ativos ao mesmo tempo).
                              endpoints:
                                type: object
                                description: Tempos de uptime por endpoint.
                                required:
                                  - url
                                  - uptimeRate
                                properties:
                                  url:
                                    type: string
                                    description: URL do endpoint
                                  uptimeRate:
                                    type: string
                                    description: Taxa de disponibilidade do endpoint.
                          downtime:
                            type: object
                            description: Tempos de downtime por endpoint.
                            required:
                              - generalDowntime
                              - scheduledOutage
                              - endpoints
                            properties:
                              generalDowntime:
                                type: integer
                                description: Quantidade de segundos de downtime (considerando qualquer api em downtime).
                              scheduledOutage:
                                type: integer
                                description: Quantidade de segundos de indisponibilidade agendada.
                              endpoints:
                                type: object
                                description: Tempos de downtime por endpoint.
                                required:
                                  - url
                                  - partialDowntime
                                properties:
                                  url:
                                    type: string
                                    description: URL do endpoint
                                  partialDowntime:
                                    type: integer
                                    description: Quantidade de segundos de indisponibilidade do endpoint.
                      invocations:
                        type: object
                        description: Número de chamadas em cada nível e prioridade.
                        required:
                          - unauthenticated
                          - highPriority
                          - mediumPriority
                          - unattended
                        properties:
                          unauthenticated:
                            type: object
                            description: Número de chamadas não autenticadas.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Número de chamadas não autenticadas no dia atual.
                              previousDays:
                                type: array
                                description: 'Número de chamadas não autenticadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          highPriority:
                            type: object
                            description: Número de chamadas para o nível de alta prioridade.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Número de chamadas no dia atual para o nível de alta prioridade.
                              previousDays:
                                type: array
                                description: 'Número de chamadas nos dias anteriores para o nível de alta prioridade. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          mediumPriority:
                            type: object
                            description: Número de chamadas para o nível de média prioridade.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Número de chamadas no dia atual para o nível de média prioridade.
                              previousDays:
                                type: array
                                description: 'Número de chamadas nos dias anteriores para o nível de média prioridade. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          unattended:
                            type: object
                            description: Número de chamadas para o nível não acompanhado.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                description: Número de chamadas no dia atual para o nível não acompanhado.
                                type: integer
                              previousDays:
                                type: array
                                description: 'Número de chamadas nos dias anteriores para o nível não acompanhado. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                      averageResponse:
                        type: object
                        description: Tempo médio de reposta em segundos em cada nível e prioridade.
                        required:
                          - unauthenticated
                          - highPriority
                          - mediumPriority
                          - unattended
                        properties:
                          unauthenticated:
                            type: object
                            description: Tempo médio de resposta para chamadas não autenticadas.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Tempo médio de resposta para chamadas no dia atual.
                              previousDays:
                                type: array
                                description: 'Tempo médio de resposta para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          highPriority:
                            type: object
                            description: Tempo médio de resposta de chamadas para o nível de alta prioridade.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Tempo médio de resposta para chamadas no dia atual.
                              previousDays:
                                type: array
                                description: 'Tempo médio de resposta para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          mediumPriority:
                            type: object
                            description: Tempo médio de resposta para chamadas para o nível de média prioridade.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Tempo médio de resposta para chamadas no dia atual.
                              previousDays:
                                type: array
                                description: 'Tempo médio de resposta para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                          unattended:
                            type: object
                            description: Tempo médio de resposta para chamadas para o nível não acompanhado.
                            required:
                              - currentDay
                              - previousDays
                            properties:
                              currentDay:
                                type: integer
                                description: Tempo médio de resposta para chamadas no dia atual.
                              previousDays:
                                type: array
                                description: 'Tempo médio de resposta para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                                items:
                                  type: integer
                      averageTps:
                        type: object
                        description: Transações em média por segundo.
                        required:
                          - currentDay
                          - previousDays
                        properties:
                          currentDay:
                            type: integer
                            description: Número médio de chamadas por segundo no dia.
                          previousDays:
                            type: array
                            description: 'Número médio de chamadas por segundo nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                            items:
                              type: integer
                      peakTps:
                        type: object
                        description: Número máximo de transações por segundo.
                        required:
                          - currentDay
                          - previousDays
                        properties:
                          currentDay:
                            type: integer
                            description: Pico de chamadas por segundo no dia.
                          previousDays:
                            type: array
                            description: 'Pico de chamadas por segundo nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                            items:
                              type: integer
                      errors:
                        type: object
                        description: Número de chamadas que resultaram em erro devido ao servidor.
                        required:
                          - currentDay
                          - previousDays
                        properties:
                          currentDay:
                            type: integer
                            description: Número de chamadas com erro no dia atual.
                          previousDays:
                            type: array
                            description: 'Número de chamadas com erro nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                            items:
                              type: integer
                      rejections:
                        type: object
                        description: Número de chamadas rejeitadas devido aos limites.
                        required:
                          - currentDay
                          - previousDays
                        properties:
                          currentDay:
                            type: integer
                            description: Número de chamadas rejeitadas no dia atual.
                          previousDays:
                            type: array
                            description: 'Número de chamadas rejeitadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
                            items:
                              type: integer
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
        '400':
          description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
        '401':
          description: Cabeçalho de autenticação ausente/inválido ou token inválido.
        '403':
          description: O token tem escopo incorreto ou uma política de segurança foi violada.
        '404':
          description: O recurso solicitado não existe ou não foi implementado.
        '405':
          description: O consumidor tentou acessar o recurso com um método não suportado.
        '406':
          description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8.
        '410':
          description: Indica que o recurso não está mais disponível.
        '422':
          description: 'A solicitação foi bem formada, mas não pôde ser processada devido à lógica de negócios específica da solicitação.'
        '429':
          description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido.'
        '500':
          description: Ocorreu um erro no gateway da API ou no microsserviço.
        '503':
          description: O serviço está indisponível no momento.
        '504':
          description: O servidor não pôde responder em tempo hábil.
