openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/products-services/v1'
tags:
  - name: Accounts
  - name: Loans
  - name: Credit Cards
  - name: Financings
  - name: Invoice Financings
  - name: Unarranged Account Overdraft
paths:
  /personal-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa natural
      description: Obtém dados das contas
      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/paths/~1personal-loans/get/parameters/0'
        - $ref: '#/paths/~1personal-loans/get/parameters/1'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    description: Dados primários da requisição.
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Organização controladora do grupo de instituições financeiras.
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            maxLength: 80
                            pattern: \w*\W*
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''''marca'''' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
                            example: Organização A
                          companies:
                            type: array
                            description: Companies traz uma lista de todas as instituições da Marca
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                              properties:
                                name:
                                  type: string
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos. p.ex.''Empresa da Organização A'''
                                  maxLength: 80
                                  pattern: \w*\W*
                                  example: Empresa A1
                                cnpjNumber:
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  description: Número completo do CNPJ da instituição
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  type: string
                                  pattern: \w*\W*
                                  format: URIString
                                  maxLength: 1024
                                  description: |
                                    URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
                                    Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
                                  example: 'https://empresadaorganizacaoa.com/complementarylist'
                                personalAccounts:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - type
                                      - fees
                                      - serviceBundles
                                      - openingClosingChannels
                                      - transactionMethods
                                      - termsConditions
                                      - incomeRate
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - CONTA_DEPOSITO_A_VISTA
                                          - CONTA_POUPANCA
                                          - CONTA_PAGAMENTO_PRE_PAGA
                                        description: |
                                          Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
                                          Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
                                          Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
                                          Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
                                        example: CONTA_DEPOSITO_A_VISTA
                                      fees:
                                        type: object
                                        description: Objeto que reúne informações de tarifas de serviços
                                        required:
                                          - priorityServices
                                        properties:
                                          priorityServices:
                                            type: array
                                            items:
                                              type: object
                                              required:
                                                - name
                                                - code
                                                - chargingTriggerInfo
                                                - prices
                                                - minimum
                                                - maximum
                                              properties:
                                                name:
                                                  type: string
                                                  enum:
                                                    - CONFECCAO_CADASTRO_INICIO_RELACIONAMENTO
                                                    - FORNECIMENTO_2_VIA_CARTAO_FUNCAO_DEBITO
                                                    - FORNECIMENTO_2_VIA_CARTAO_FUNCAO_MOVIMENTACAO_CONTA_POUPANCA
                                                    - EXCLUSAO_CADASTRO_EMITENTES_CHEQUES_SEM_FUNDO_CCF
                                                    - CONTRA_ORDEM_REVOGACAO_E_OPOSICAO_OU_SUSTACAO_PAGAMENTO_CHEQUE
                                                    - FORNECIMENTO_FOLHAS_CHEQUE
                                                    - CHEQUE_ADMINISTRATIVO
                                                    - CHEQUE_VISADO
                                                    - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_PRESENCIAL_OU_PESSOAL
                                                    - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_TERMINAL_AUTOATENDIMENTO
                                                    - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_CORRESPONDENTES_PAIS
                                                    - DEPOSITO_IDENTIFICADO
                                                    - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_PRESENCIAL_OU_PESSOAL
                                                    - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_TERMINAL_AUTOATENDIMENTO
                                                    - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_CORRESPONDENTES_PAIS
                                                    - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_PRESENCIAL_OU_PESSOAL
                                                    - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_TERMINAL_AUTOATENDIMENTO
                                                    - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_CORRESPONDENTES_PAIS
                                                    - FORNECIMENTO_COPIA_MICROFILME_MICROFICHA_ASSEMELHADO
                                                    - TRANSFERENCIA_DOC_PESSOAL_OU_PRESENCIAL
                                                    - TRANSFERENCIA_DOC_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
                                                    - TRANSFERENCIA_DOC_INTERNET
                                                    - TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL
                                                    - TRANSFERENCIA_TED_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
                                                    - TRANSFERENCIA_TED_INTERNET
                                                    - TRANSFERENCIA_DOC_TED_PESSOAL_OU_PRESENCIAL
                                                    - TRANSFERENCIA_DOC_TED_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
                                                    - TRANSFERENCIA_DOC_TED_INTERNET
                                                    - TRANSFERENCIA_ENTRE_CONTAS_PROPRIA_INSTITUICAO_PESSOAL_OU_PRESENCIAL
                                                    - TRANSFERENCIA_ENTRE_CONTAS_PROPRIA_INSTITUICAO_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS_INCLUSIVE_INTERNET
                                                    - ORDEM_PAGAMENTO
                                                    - ANUIDADE_CARTAO_BASICO_NACIONAL
                                                    - ANUIDADE_CARTAO_BASICO_INTERNACIONAL
                                                    - ANUIDADE_DIFERENCIADA
                                                    - UTILIZACAO_CANAIS_ATENDIMENTO_RETIRADA_ESPECIE_BRASIL
                                                    - UTILIZACAO_CANAIS_ATENDIMENTO_RETIRADA_ESPECIE_EXTERIOR
                                                    - AVALIACAO_EMERGENCIAL_CREDITO
                                                    - FORNECIMENTO_SEGUNDA_VIA_FUNCAO_CREDITO
                                                    - PAGAMENTO_CONTAS_UTILIZANDO_FUNCAO_CREDITO
                                                    - SMS
                                                  description: 'Nome dos Serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa natural.'
                                                  example: TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL
                                                code:
                                                  type: string
                                                  description: 'Sigla de identificação do Serviço Prioritário, segundo Resolução 3.919 do Bacen.'
                                                  enum:
                                                    - CADASTRO
                                                    - 2_VIA_CARTAO_DEBITO
                                                    - 2_VIA_CARTAO_POUPANCA
                                                    - EXCLUSAO_CCF
                                                    - SUSTACAO_REVOGACAO
                                                    - FOLHA_CHEQUE
                                                    - CHEQUE_ADMINISTRATIVO
                                                    - CHEQUE_VISADO
                                                    - SAQUE_PESSOAL
                                                    - SAQUE_TERMINAL
                                                    - SAQUE_CORRESPONDENTE
                                                    - DEPOSITO_IDENTIFICADO
                                                    - EXTRATO_MES_P
                                                    - EXTRATO_MES_E
                                                    - EXTRATO_MES_C
                                                    - EXTRATO_MOVIMENTO_P
                                                    - EXTRATO_MOVIMENTO_E
                                                    - EXTRATO_MOVIMENTO_C
                                                    - MICROFILME
                                                    - DOC_PESSOAL
                                                    - DOC_ELETRONICO
                                                    - DOC_INTERNET
                                                    - TED_PESSOAL
                                                    - TED_ELETRONICO
                                                    - TED_INTERNET
                                                    - DOC_TED_AGENDADO_P
                                                    - DOC_TED_AGENDADO_E
                                                    - DOC_TED_AGENDADO_I
                                                    - TRANSF_RECURSO_P
                                                    - TRANSF_RECURSO_E
                                                    - ORDEM_PAGAMENTO
                                                    - ANUIDADE_NACIONAL
                                                    - ANUIDADE_INTERNACIONAL
                                                    - ANUIDADE_DIFERENCIADA
                                                    - SAQUE_CARTAO_BRASIL
                                                    - SAQUE_CARTAO_EXTERIOR
                                                    - AVALIACAO_EMERGENCIAL_CREDITO
                                                    - EMISSAO_SEGUNDA_VIA
                                                    - TARIFA_PAGAMENTO_CONTAS
                                                    - SMS
                                                  example: CADASTRO
                                                chargingTriggerInfo:
                                                  type: string
                                                  maxLength: 2000
                                                  pattern: \w*\W*
                                                  description: 'Fatos geradores de cobrança que incidem sobre os serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa natural.'
                                                  example: 'Fornecimento de extrato com a movimentação de um período em guichê de caixa ou por outras formas de atendimento pessoal, tal como atendimento telefônico realizado por atendente.'
                                                prices:
                                                  type: array
                                                  items:
                                                    $ref: '#/paths/~1business-credit-cards/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/businessCreditCards/items/properties/fees/properties/services/items/properties/prices/items'
                                                  minItems: 4
                                                  maxItems: 4
                                                  description: 'Valor da mediana da tarifa, relativa ao serviço ofertado, informado no período'
                                                minimum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/minimum'
                                                maximum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/maximum'
                                            minItems: 1
                                            maxItems: 40
                                            description: Lista das Tarifas cobradas sobre Serviços Prioritários
                                          otherServices:
                                            type: array
                                            items:
                                              type: object
                                              required:
                                                - name
                                                - code
                                                - chargingTriggerInfo
                                                - prices
                                                - minimum
                                                - maximum
                                              properties:
                                                name:
                                                  type: string
                                                  maxLength: 250
                                                  pattern: \w*\W*
                                                  description: Nome atribuído a Outros Serviços disponíveis para os tipos de contas.
                                                  example: Evento personalizado
                                                code:
                                                  type: string
                                                  maxLength: 100
                                                  description: Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas.
                                                  example: TALAO_DOMICILIO
                                                chargingTriggerInfo:
                                                  type: string
                                                  maxLength: 2000
                                                  pattern: \w*\W*
                                                  description: Outros Fatos geradores de cobrança referentes aos Outros Serviços que incidem sobre as contas comercializadas.
                                                  example: Cobrança devido a evento personalizado
                                                prices:
                                                  type: array
                                                  items:
                                                    $ref: '#/paths/~1business-credit-cards/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/businessCreditCards/items/properties/fees/properties/services/items/properties/prices/items'
                                                  minItems: 4
                                                  maxItems: 4
                                                  description: Valor da tarifa cobrada referente aos Outros Serviços.
                                                minimum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/minimum'
                                                maximum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/maximum'
                                            minItems: 1
                                            description: 'Lista das Tarifas cobradas sobre outros Serviços, que não prioritários'
                                      serviceBundles:
                                        type: array
                                        items:
                                          type: object
                                          required:
                                            - name
                                            - services
                                            - prices
                                            - minimum
                                            - maximum
                                          properties:
                                            name:
                                              type: string
                                              maxLength: 250
                                              pattern: \w*\W*
                                              description: Nome do Pacote de Serviços dado pela instituição.
                                              example: Conta de depósitos à vista Movimentação com cartão (sem cheque)
                                            services:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - code
                                                  - chargingTriggerInfo
                                                  - eventLimitQuantity
                                                  - freeEventQuantity
                                                properties:
                                                  code:
                                                    type: string
                                                    maxLength: 100
                                                    pattern: \w*\W*
                                                    description: |
                                                      Código que identifica o Serviço que compõe o Pacote de Serviços, podendo ser da lista de Serviços Prioritários ou Outros Serviços. p.ex. segundo Resolução 3.919 do Bacen: 'SAQUE_TERMINAL'.
                                                    example: SAQUE_TERMINAL
                                                  chargingTriggerInfo:
                                                    type: string
                                                    maxLength: 2000
                                                    pattern: \w*\W*
                                                    description: |
                                                      Fatos geradores de cobrança que incidem sobre serviço que compõe o Pacote de Serviços.
                                                    example: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                                                  eventLimitQuantity:
                                                    type: string
                                                    maxLength: 6
                                                    pattern: '^(\d{1,6}){1}$'
                                                    description: |
                                                      Segundo Resolução  4196, BCB, de 2013: Quantidade de eventos previstos no Pacote de Serviços (Número de eventos incluídos no mês) p.ex.'2'. No caso de quantidade ilimitada, reportar 999999
                                                    example: '2'
                                                  freeEventQuantity:
                                                    type: string
                                                    maxLength: 6
                                                    pattern: '^(\d{1,6}){1}$'
                                                    description: |
                                                      Segundo Resolução  4196, BCB, de 2013: Quantidade de eventos previstos no Pacote de Serviços com isenção de Tarifa.p.ex.'1'  No caso de quantidade ilimitada, reportar 999999
                                                    example: '1'
                                              minItems: 1
                                              description: Lista dos serviços que compõe o pacote de serviços
                                            prices:
                                              type: array
                                              items:
                                                type: object
                                                required:
                                                  - interval
                                                  - monthlyFee
                                                  - currency
                                                  - customers
                                                properties:
                                                  interval:
                                                    type: string
                                                    enum:
                                                      - 1_FAIXA
                                                      - 2_FAIXA
                                                      - 3_FAIXA
                                                      - 4_FAIXA
                                                    minItems: 1
                                                    maxItems: 1
                                                    description: |
                                                      Segundo Normativa nº 32, BCB, de 2020: Distribuição de frequência relativa dos valores de tarifas cobradas dos clientes, de que trata o § 2º do art. 3º da Circular nº 4.015, de 2020, deve dar-se com base em quatro faixas de igual tamanho, com explicitação dos valores sobre a mediana em cada uma dessas faixas. Informando: 1ª faixa, 2ª faixa, 3ª faixa e 4ª faixa
                                                    example: 1_FAIXA
                                                  monthlyFee:
                                                    type: string
                                                    pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                    maxLength: 12
                                                    format: AmountString
                                                    description: |
                                                      Valor da mediana de cada faixa relativa ao serviço ofertado, informado no período, conforme Res nº 32 BCB, 2020. p.ex. ''45.00''
                                                      (representa um valor monetário. p.ex: 1547368.92. Este valor, considerando que a moeda seja BRL, significa R$ 1.547.368,92. O único separador presente deve ser o ''.'' (ponto) para indicar a casa decimal. Não deve haver separador de milhar)
                                                    example: '2000.00'
                                                  currency:
                                                    $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/termsConditions/properties/minimumBalance/properties/currency'
                                                  customers:
                                                    $ref: '#/paths/~1personal-unarranged-account-overdraft/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalUnarrangedAccountOverdraft/properties/interestRates/items/properties/applications/items/properties/customers'
                                              minItems: 4
                                              maxItems: 4
                                              description: Lista distribuição preços tarifas de serviços
                                            minimum:
                                              type: object
                                              description: Valor mínimo apurado para a tarifa de serviços sobre a base de clientes no mês de referência
                                              required:
                                                - value
                                                - currency
                                              properties:
                                                value:
                                                  type: string
                                                  pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                  maxLength: 12
                                                  format: AmountString
                                                  description: Valor mínimo apurado para a tarifa de serviços sobre a base de clientes no mês de referência
                                                  example: '1350.00'
                                                currency:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/termsConditions/properties/minimumBalance/properties/currency'
                                            maximum:
                                              type: object
                                              description: Valor máximo apurado para a tarifa de serviços sobre a base de clientes no mês de referência
                                              required:
                                                - value
                                                - currency
                                              properties:
                                                value:
                                                  type: string
                                                  pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                  maxLength: 12
                                                  format: AmountString
                                                  description: Valor máximo apurado para a tarifa de serviços sobre a base de clientes no mês de referência
                                                  example: '8800.00'
                                                currency:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/termsConditions/properties/minimumBalance/properties/currency'
                                        minItems: 1
                                        description: Lista dos Pacotes de serviços
                                      openingClosingChannels:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - DEPENDENCIAS_PROPRIAS
                                            - CORRESPONDENTES_BANCARIOS
                                            - INTERNET_BANKING
                                            - MOBILE_BANKING
                                            - CENTRAL_TELEFONICA
                                            - CHAT
                                            - OUTROS
                                          description: 'Canais disponíveis para abertura e encerramento de contas, p.ex. ''DEPENDENCIAS_PROPRIAS'''
                                          example: DEPENDENCIAS_PROPRIAS
                                        minItems: 1
                                        maxItems: 7
                                        description: Lista dos canais para aberturas e encerramento
                                      additionalInfo:
                                        type: string
                                        maxLength: 100
                                        pattern: \w*\W*
                                        description: |
                                          Texto livre para complementar informação relativa ao Canal disponível, quando no campo ''openingClosingChannels'' estiver preenchida a opção ''Outros''
                                          Restrição: Campo de preenchimento obrigatório se ''openingCloseChannels'' estiver preenchida a opção ''OUTROS''
                                        example: NA
                                      transactionMethods:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - MOVIMENTACAO_ELETRONICA
                                            - MOVIMENTACAO_CHEQUE
                                            - MOVIMENTACAO_CARTAO
                                            - MOVIMENTACAO_PRESENCIAL
                                          description: Lista de formas de movimentação possíveis para a conta
                                          example: MOVIMENTACAO_CARTAO
                                        minItems: 1
                                        maxItems: 4
                                        description: Lista de formas de movimentação
                                      termsConditions:
                                        type: object
                                        description: Objeto que reúne informações relativas a Termos e Condições para as modalidades tratadas
                                        required:
                                          - minimumBalance
                                          - elegibilityCriteriaInfo
                                          - closingProcessInfo
                                        properties:
                                          minimumBalance:
                                            type: object
                                            required:
                                              - value
                                              - currency
                                            properties:
                                              value:
                                                type: string
                                                maxLength: 12
                                                pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
                                                description: 'Saldo mínimo exigido nos Termos e condições contratuais, que regem as contas comercializadas.'
                                                example: '200.00'
                                              currency:
                                                type: string
                                                pattern: '^(\w{3}){1}$'
                                                maxLength: 3
                                                format: CurrencyString
                                                description: 'Moeda referente ao valor mínimo da Tarifa, segundo modelo ISO-4217'
                                                example: BRL
                                          elegibilityCriteriaInfo:
                                            type: string
                                            maxLength: 2000
                                            pattern: \w*\W*
                                            description: Critérios de qualificação do cliente com a finalidade de definir sua elegibilidade para a aquisição do tipo de conta. Campo Aberto
                                            example: 'https://example.com/mobile-banking'
                                          closingProcessInfo:
                                            type: string
                                            maxLength: 2000
                                            pattern: \w*\W*
                                            description: Procedimentos de encerramento para o tipo de conta tratado. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal.
                                            example: 'https://example.com/mobile-banking'
                                      incomeRate:
                                        type: object
                                        description: Valores dos percentuais de taxas.
                                        properties:
                                          savingAccount:
                                            type: string
                                            maxLength: 2000
                                            pattern: \w*\W*
                                            minItems: 1
                                            maxItems: 1
                                            description: |
                                              Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente.
                                              Restrição: De preenchimento obrigatório para CONTA_POUPANCA. Para os demais Tipos preencher com NA
                                            example: 'Para depósitos até 03/05/2012 – remuneração trimestral de 1,5% + TR, sempre creditada no aniversário da conta; Para depósitos a partir de 04/05/2012 – 70% da Selic + TR quando a Selic for igual ou inferior a 8,5% ao ano e 1,5% + TR caso a Selic seja superior a 8,5%.'
                                          prepaidPaymentAccount:
                                            type: string
                                            maxLength: 2000
                                            pattern: \w*\W*
                                            minItems: 1
                                            maxItems: 1
                                            description: Campo Livre. Deve explicitar o Percentual em favor do titular da conta de pagamento pré-paga.
                                            example: 40% Rendimento a.m.
                                  description: Lista de tipos de conta
                                  minItems: 1
                                  maxItems: 3
                            minItems: 1
                  links:
                    $ref: '#/paths/~1personal-loans/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1personal-loans/get/responses/200/content/application~1json/schema/properties/meta'
                example:
                  data:
                    brand:
                      name: Organização A
                      companies:
                        - name: Empresa A1
                          cnpjNumber: '45086338000178'
                          urlComplementaryList: 'https://empresaa1.com/branches-banking'
                          personalAccounts:
                            - type: CONTA_DEPOSITO_A_VISTA
                              fees:
                                priorityServices:
                                  - name: TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL
                                    code: TED_PESSOAL
                                    chargingTriggerInfo: 'Realização de transferência de recursos por meio de Transferência Eletrônica Disponível (TED) em guichê de caixa ou mediante outras formas de atendimento pessoal, incluindo o atendimento telefônico realizado por atendente'
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '35.40'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '45.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '52.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '69.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3000'
                                    minimum:
                                      value: '19.00'
                                      currency: BRL
                                    maximum:
                                      value: '88.00'
                                      currency: BRL
                                  - name: FORNECIMENTO_2_VIA_CARTAO_FUNCAO_DEBITO
                                    code: 2_VIA_CARTAO_DEBITO
                                    chargingTriggerInfo: 'Confecção e emissão de novo cartão com função débito, restrito a casos de pedidos de reposição formulados pelo detentor da conta, decorrente de perda, roubo, furto, danificação e outros motivos não imputáveis à instituição emitente'
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '37.40'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '45.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '52.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '69.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3000'
                                    minimum:
                                      value: '35.00'
                                      currency: BRL
                                    maximum:
                                      value: '72.00'
                                      currency: BRL
                                otherServices:
                                  - name: Entrega de talão de cheque em domícilio
                                    code: TALAO_DOMICILIO
                                    chargingTriggerInfo: Por remessa
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '30.40'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '45.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '62.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '69.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3000'
                                    minimum:
                                      value: '19.00'
                                      currency: BRL
                                    maximum:
                                      value: '88.00'
                                      currency: BRL
                                  - name: 2ª via de recibo de transação eletrônica
                                    code: SEGUNDA_RECIBO_TE
                                    chargingTriggerInfo: Por documento
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '37.40'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '45.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '62.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '69.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3000'
                                    minimum:
                                      value: '15.00'
                                      currency: BRL
                                    maximum:
                                      value: '72.00'
                                      currency: BRL
                              serviceBundles:
                                - name: Conta de depósitos à vista Movimentação com cartão (sem cheque)
                                  services:
                                    - code: CADASTRO
                                      chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                                      eventLimitQuantity: '1'
                                      freeEventQuantity: '0'
                                    - code: SAQUE_TERMINAL
                                      chargingTriggerInfo: Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas 'contas eletrônicas' não pode ser cobrada tarifa para este canal de entrega
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '8'
                                    - code: CHEQUE_VISADO
                                      chargingTriggerInfo: Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '4'
                                    - code: CHEQUE_ADMINISTRATIVO
                                      chargingTriggerInfo: Emissão de cheque administrativo
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '2'
                                  prices:
                                    - interval: 1_FAIXA
                                      monthlyFee: '43.40'
                                      currency: BRL
                                      customers:
                                        rate: '0.1500'
                                    - interval: 2_FAIXA
                                      monthlyFee: '55.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.3500'
                                    - interval: 3_FAIXA
                                      monthlyFee: '62.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.2000'
                                    - interval: 4_FAIXA
                                      monthlyFee: '69.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.3000'
                                  minimum:
                                    value: '19.00'
                                    currency: BRL
                                  maximum:
                                    value: '88.00'
                                    currency: BRL
                                - name: Conta de depósitos à vista -Pacote XXX
                                  services:
                                    - code: Serviço 1
                                      chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '999999'
                                    - code: Serviço 2
                                      chargingTriggerInfo: Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas 'contas eletrônicas' não pode ser cobrada tarifa para este canal de entrega
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '8'
                                    - code: Serviço 3
                                      chargingTriggerInfo: Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '4'
                                    - code: Serviço 4
                                      chargingTriggerInfo: Emissão de cheque administrativo
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '2'
                                  prices:
                                    - interval: 1_FAIXA
                                      monthlyFee: '30.40'
                                      currency: BRL
                                      customers:
                                        rate: '0.1500'
                                    - interval: 2_FAIXA
                                      monthlyFee: '45.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.3500'
                                    - interval: 3_FAIXA
                                      monthlyFee: '62.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.2000'
                                    - interval: 4_FAIXA
                                      monthlyFee: '69.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.3000'
                                  minimum:
                                    value: '25.00'
                                    currency: BRL
                                  maximum:
                                    value: '72.00'
                                    currency: BRL
                              openingClosingChannels:
                                - DEPENDENCIAS_PROPRIAS
                                - CORRESPONDENTES_BANCARIOS
                                - INTERNET_BANKING
                                - MOBILE_BANKING
                                - CENTRAL_TELEFONICA
                                - CHAT
                                - OUTROS
                              additionalInfo: WhatsApp
                              transactionMethods:
                                - MOVIMENTACAO_CARTAO
                              termsConditions:
                                minimumBalance:
                                  value: '200.00'
                                  currency: BRL
                                elegibilityCriteriaInfo: 'https://empresaa1.com/Accounts_closingProcess'
                                closingProcessInfo: 'https://empresaa1.com/Accounts_closingProcess'
                              incomeRate:
                                savingAccount: NA
                                prepaidPaymentAccount: NA
                  links:
                    self: 'https://api.banco.com.br/open-banking/products-services/v1/personal-accounts'
                    first: 'https://api.banco.com.br/open-banking/products-services/v1/personal-accounts'
                    prev: string
                    next: string
                    last: 'https://api.banco.com.br/open-banking/products-services/v1/personal-accounts'
                  meta:
                    totalRecords: 1
                    totalPages: 1
  /business-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa jurídica
      description: Obtém dados das contas pessoa jurídica
      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/paths/~1personal-loans/get/parameters/0'
        - $ref: '#/paths/~1personal-loans/get/parameters/1'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    description: Dados primários da requisição.
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Organização controladora do grupo de instituições financeiras.
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            maxLength: 80
                            pattern: \w*\W*
                            description: 'Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços'
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                              properties:
                                name:
                                  type: string
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos. p.ex.''Empresa da Organização A'''
                                  maxLength: 80
                                  pattern: \w*\W*
                                  example: Empresa A1
                                cnpjNumber:
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  description: Número completo do CNPJ da instituição
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  type: string
                                  pattern: \w*\W*
                                  format: URIString
                                  maxLength: 1024
                                  description: |
                                    URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal. Será obrigatoriamente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada.
                                    Restrição: Será obrigatorimente preenchido se houver lista complementar com os nomes e CNPJs a ser disponibilizada
                                  example: 'https://empresadaorganizacaoa.com/complementarylist'
                                businessAccounts:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - type
                                      - fees
                                      - serviceBundles
                                      - openingClosingChannels
                                      - transactionMethods
                                      - termsConditions
                                      - incomeRate
                                    properties:
                                      type:
                                        $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/type'
                                      fees:
                                        type: object
                                        description: Objeto que reúne informações de tarifas de serviços
                                        required:
                                          - services
                                        properties:
                                          services:
                                            type: array
                                            items:
                                              type: object
                                              required:
                                                - name
                                                - code
                                                - chargingTriggerInfo
                                                - prices
                                                - minimum
                                                - maximum
                                              properties:
                                                name:
                                                  type: string
                                                  maxLength: 250
                                                  description: Nome do Serviço que incide sobre tipo de conta selecionado para pessoa jurídica(Campo Livre)
                                                  example: Evento personalizado
                                                code:
                                                  type: string
                                                  maxLength: 100
                                                  description: Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas informados.
                                                  example: EVENTO_PERSONALIZADO
                                                chargingTriggerInfo:
                                                  type: string
                                                  maxLength: 2000
                                                  pattern: \w*\W*
                                                  description: Fatos geradores de cobrança que incidem sobre serviço que compõe o Pacote de Serviços.
                                                  example: Cobrança devido a evento personalizado
                                                prices:
                                                  type: array
                                                  items:
                                                    $ref: '#/paths/~1business-credit-cards/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/businessCreditCards/items/properties/fees/properties/services/items/properties/prices/items'
                                                  minItems: 4
                                                  maxItems: 4
                                                  description: Lista distribuição preços tarifas de serviços
                                                minimum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/minimum'
                                                maximum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/maximum'
                                            minItems: 1
                                            description: Lista das Tarifas cobradas sobre Serviços
                                      serviceBundles:
                                        type: array
                                        items:
                                          $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items'
                                        minItems: 1
                                        description: Lista dos serviços que compõe o pacote de serviços
                                      openingClosingChannels:
                                        type: array
                                        items:
                                          $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/openingClosingChannels/items'
                                        minItems: 1
                                        maxItems: 7
                                        description: Lista dos canais para aberturas e encerramento
                                      additionalInfo:
                                        type: string
                                        maxLength: 100
                                        pattern: \w*\W*
                                        description: |
                                          Texto livre para complementar informação relativa ao Canal disponível, quando no campo ''openingClosingChannels'' estiver preenchida a opção ''Outros''
                                          Restrição: Campo de preenchimento obrigatório se ''openingCloseChannels'' estiver preenchida a opção ''OUTROS''
                                        example: NA
                                      transactionMethods:
                                        type: array
                                        items:
                                          $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/transactionMethods/items'
                                        minItems: 1
                                        maxItems: 4
                                        description: Lista de formas de movimentação
                                      termsConditions:
                                        $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/termsConditions'
                                      incomeRate:
                                        $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/incomeRate'
                                  minItems: 1
                                  maxItems: 3
                                  description: lista de tipos de conta
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    $ref: '#/paths/~1personal-loans/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1personal-loans/get/responses/200/content/application~1json/schema/properties/meta'
                example:
                  data:
                    brand:
                      name: Organização A
                      companies:
                        - name: Empresa A1
                          cnpjNumber: '45086338000178'
                          urlComplementaryList: 'https://empresaa1.com/branches-banking'
                          businessAccounts:
                            - type: CONTA_DEPOSITO_A_VISTA
                              fees:
                                services:
                                  - name: Entrega de talão de cheque em domícilio
                                    code: TALAO_DOMICILIO
                                    chargingTriggerInfo: Por remessa
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '55.40'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '65.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '69.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '72.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3000'
                                    minimum:
                                      value: '49.00'
                                      currency: BRL
                                    maximum:
                                      value: '88.00'
                                      currency: BRL
                              serviceBundles:
                                - name: Conta de depósitos à vista Movimentação com cartão (sem cheque)
                                  services:
                                    - code: CADASTRO
                                      chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                                      eventLimitQuantity: '1'
                                      freeEventQuantity: '0'
                                    - code: SAQUE_TERMINAL
                                      chargingTriggerInfo: Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas 'contas eletrônicas' não pode ser cobrada tarifa para este canal de entrega
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '8'
                                    - code: CHEQUE_VISADO
                                      chargingTriggerInfo: Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista correspondente ao valor do cheque
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '4'
                                    - code: CHEQUE_ADMINISTRATIVO
                                      chargingTriggerInfo: Emissão de cheque administrativo
                                      eventLimitQuantity: '999999'
                                      freeEventQuantity: '2'
                                  prices:
                                    - interval: 1_FAIXA
                                      monthlyFee: '50.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.1500'
                                    - interval: 2_FAIXA
                                      monthlyFee: '65.40'
                                      currency: BRL
                                      customers:
                                        rate: '0.3500'
                                    - interval: 3_FAIXA
                                      monthlyFee: '75.40'
                                      currency: BRL
                                      customers:
                                        rate: '0.2000'
                                    - interval: 4_FAIXA
                                      monthlyFee: '83.00'
                                      currency: BRL
                                      customers:
                                        rate: '0.3000'
                                  minimum:
                                    value: '45.00'
                                    currency: BRL
                                  maximum:
                                    value: '87.00'
                                    currency: BRL
                              openingClosingChannels:
                                - DEPENDENCIAS_PROPRIAS
                                - CORRESPONDENTES_BANCARIOS
                                - INTERNET_BANKING
                                - MOBILE_BANKING
                                - CENTRAL_TELEFONICA
                                - CHAT
                                - OUTROS
                              additionalInfo: WhastApp
                              transactionMethods:
                                - MOVIMENTACAO_CARTAO
                              termsConditions:
                                minimumBalance:
                                  value: '500.00'
                                  currency: BRL
                                elegibilityCriteriaInfo: 'https://empresaa1.com/Accounts_elegebilityCriteria'
                                closingProcessInfo: 'https://empresaa1.com/Accounts_closingProcess'
                              incomeRate:
                                savingAccount: NA
                                prepaidPaymentAccount: NA
                  links:
                    self: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
                    first: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
                    prev: ''
                    next: ''
                    last: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
                  meta:
                    totalRecords: 1
                    totalPages: 1
  /personal-loans:
    get:
      tags:
        - Loans
      summary: Obtém dados sobre empréstimos pessoa natural
      description: Obtém dados sobre empréstimos pessoa natural
      operationId: getPersonalLoans
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    description: Dados primários da requisição.
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            pattern: \w*\W*
                            maxLength: 80
                            description: Nome da Marca.
                            example: Organização A
                          companies:
                            type: array
                            items:
                              type: object
                              required:
                                - name
                                - cnpjNumber
                                - personalLoans
                              properties:
                                name:
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços'
                                  example: Empresa da Marca A
                                cnpjNumber:
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  description: Número completo do CNPJ da instituição
                                  maxLength: 14
                                  example: '50685362000135'
                                urlComplementaryList:
                                  type: string
                                  pattern: \w*\W*
                                  format: URIString
                                  maxLength: 1024
                                  description: URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal.
                                  example: 'https://example.com/mobile-banking'
                                personalLoans:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - type
                                      - fees
                                      - interestRates
                                      - requiredWarranties
                                      - termsConditions
                                    properties:
                                      type:
                                        type: string
                                        enum:
                                          - EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
                                          - EMPRESTIMO_CREDITO_PESSOAL_SEM_CONSIGNACAO
                                          - EMPRESTIMO_HOME_EQUITY
                                          - EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
                                          - EMPRESTIMO_CHEQUE_ESPECIAL
                                          - EMPRESTIMO_CONTA_GARANTIDA
                                        description: |
                                          Modalidades de empréstimos ofertados para pessoa Natural, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Empréstimo é um contrato entre o cliente e uma instituição financeira (banco, cooperativa de crédito, caixa econômica) pelo qual o cliente recebe uma quantia em dinheiro que deverá ser devolvida em prazo determinado, acrescida dos juros acertados. Os recursos obtidos no empréstimo não tem destinação específica.
                                            * `EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO` -  operações de crédito com retenção de parcela do salário ou benefício do tomador, para o pagamento das prestações do empréstimo – desconto em folha de pagamento – nos termos da legislação em vigor
                                            * `EMPRESTIMO_CREDITO_PESSOAL_SEM_CONSIGNACAO` - operações de empréstimos às pessoa natural, sem vinculação com aquisição de bem ou serviço e sem retenção de parcela do salário ou benefício do tomador para o pagamento das prestações do empréstimo
                                            * `EMPRESTIMO_HOME_EQUITY` - empréstimos pessoa natural, garantidos por hipoteca ou por alienação fiduciária de bens imóveis residenciais, sem vinculação a aquisição de bens
                                            * `EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO` - segundo PNMPO é o crédito concedido para financiamento das atividades produtivas, cuja metodologia será estabelecida em regulamento, observada a preferência do relacionamento direto com os empreendedores, admitido o uso de tecnologias digitais e eletrônicas que possam substituir o contato presencial
                                            * `EMPRESTIMO_CHEQUE_ESPECIAL` - operações de crédito vinculadas à conta corrente, nas quais determinado limite de crédito é disponibilizado aos clientes para utilização de acordo com suas conveniências, sem necessidade de comunicação prévia à instituição financeira
                                            * `EMPRESTIMO_CONTA_GARANTIDA` - operações de crédito rotativo, nas quais determinado limite de crédito é disponibilizado para utilização pelo cliente, através da simples movimentação da conta corrente e/ou solicitação formal à instituição financeira. As operações classificadas nessa modalidade não devem ter data definida para a amortização do saldo devedor, exceto a estabelecida para vigência do contrato
                                        example: EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
                                      fees:
                                        type: object
                                        properties:
                                          services:
                                            type: array
                                            items:
                                              type: object
                                              required:
                                                - name
                                                - code
                                                - chargingTriggerInfo
                                                - prices
                                                - minimum
                                                - maximum
                                              properties:
                                                name:
                                                  type: string
                                                  pattern: \w*\W*
                                                  maxLength: 250
                                                  description: Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada do Empréstimo para pessoa natural/jurídica.
                                                  example: Taxa de Abertura
                                                code:
                                                  type: string
                                                  pattern: \w*\W*
                                                  maxLength: 100
                                                  description: Sigla de identificação do serviço relacionado à Modalidade informada de Empréstimo para pessoa natural/jurídica.
                                                  example: NA
                                                chargingTriggerInfo:
                                                  type: string
                                                  pattern: \w*\W*
                                                  maxLength: 2000
                                                  description: Fatores geradores de cobrança que incidem sobre as Modalidades informada de Empréstimos para pessoa natural/jurídica.
                                                  example: 3% do valor do contrato
                                                prices:
                                                  type: array
                                                  items:
                                                    $ref: '#/paths/~1business-credit-cards/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/businessCreditCards/items/properties/fees/properties/services/items/properties/prices/items'
                                                  minItems: 4
                                                  maxItems: 4
                                                minimum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/minimum'
                                                maximum:
                                                  $ref: '#/paths/~1personal-accounts/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalAccounts/items/properties/serviceBundles/items/properties/maximum'
                                            minItems: 1
                                            description: Lista das Tarifas cobradas sobre Serviços
                                        description: Objeto que reúne informações de tarifas de serviços
                                      interestRates:
                                        type: array
                                        items:
                                          required:
                                            - applications
                                            - minimumRate
                                            - maximumRate
                                            - referentialRateIndexer
                                            - rate
                                          type: object
                                          properties:
                                            referentialRateIndexer:
                                              $ref: '#/paths/~1personal-unarranged-account-overdraft/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalUnarrangedAccountOverdraft/properties/interestRates/items/properties/referentialRateIndexer'
                                            rate:
                                              type: string
                                              pattern: '(^[0-1](\.[0-9]{2})$|^NA$)'
                                              description: |
                                                Percentual que incide sobre a composição das taxas de juros remuneratórios. (representa uma porcentagem Ex: 0.15 (O valor ao lado representa 15%. O valor 1 representa 100%) A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
                                              example: '0.15'
                                              maxLength: 4
                                            applications:
                                              type: array
                                              items:
                                                $ref: '#/paths/~1personal-unarranged-account-overdraft/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/personalUnarrangedAccountOverdraft/properties/interestRates/items/properties/applications/items'
                                              minItems: 4
                                              maxItems: 4
                                              description: Lista  das faixas de cobrança da taxa efetiva aplicada pela contratação de crédito
                                            minimumRate:
                                              type: string
                                              pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
                                              maxLength: 6
                                              description: |
                                                Percentual mínimo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
                                              example: '0.0456'
                                            maximumRate:
                                              type: string
                                              pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
                                              maxLength: 6
                                              description: |
                                                Percentual máximo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
                                              example: '0.6865'
                                        minItems: 1
                                        description: Lista que traz o conjunto de informações necessárias para demonstrar a distribuição de frequências das taxas de juros remuneratórios da Modalidade de crédito
                                      requiredWarranties:
                                        type: array
                                        items:
                                          type: string
                                          enum:
                                            - CESSAO_DIREITOS_CREDITORIOS
                                            - CAUCAO
                                            - PENHOR
                                            - ALIENACAO_FIDUCIARIA
                                            - HIPOTECA
                                            - OPERACOES_GARANTIDAS_PELO_GOVERNO
                                            - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS
                                            - SEGUROS_ASSEMELHADOS
                                            - GARANTIA_FIDEJUSSORIA
                                            - BENS_ARRENDADOS
                                            - GARANTIAS_INTERNACIONAIS
                                            - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
                                            - ACORDOS_COMPENSACAO
                                            - NAO_APLICAVEL
                                          description: |
                                            Relação de garantias exigidas, segundo documento 3040 do Bacen:
                                             `cessão de direitos creditórios`: o cedente transfere ao credor/cessionário a titularidade de direitos creditórios, até a liquidação da dívida. O credor/cessionário passa a recebê-los diretamente dos devedores e credita o produto da operação para o cedente na operação que originou a cessão, até a sua liquidação
                                             `caução`: garantia instituída sobre créditos do garantidor
                                             `penhor`: direito real que consiste na tradição de uma coisa móvel ou mobilizável, suscetível de alienação, realizada pelo devedor ou por terceiro ao credor, a fim de garantir o pagamento do débito
                                             `alienação fiduciária`: transferência ao credor, ou fiduciário, da propriedade do bem
                                             `hipoteca`: direito real de garantia que afeta um bem imóvel para o cumprimento da obrigação
                                             `operações garantidas pelo governo`: nas instâncias federal, estadual ou municipal
                                             `outras garantias não fidejussórias`: as garantias reais não descritas como: cessão de direitos creditórios, caução, penhor, alienação fiduciária, hipoteca ou operação garantida pelo governo
                                             `seguros e assemelhados`: os seguros (e assemelhados) contratados para garantir o pagamento da operação em circunstâncias adversas
                                             `garantia fidejussória`: baseada na fidelidade do garantidor em cumprir as obrigações, caso o devedor não o faça
                                             `bens arrendados`: bem objeto do arrendamento financeiro
                                             `garantias internacionais`: declarar se a garantia é mitigadora ou não, observados os critérios definidos pela Circular 3.644, de 4 de março de 2013
                                             `operações garantidas por outras entidade`: declarar as garantias prestadas pelas entidades descritas no item 3. Informações de Garantias (i) do documento 3040 - Bacen
                                             `acordos de compensação`: operações que sejam abrangidas por acordos para a compensação e liquidação de obrigações no âmbito do SFN, nos termos da Resolução 3.263, de 24 de fevereiro de 2005
                                             `não aplicável`
                                          example: CESSAO_DIREITOS_CREDITORIOS
                                        minItems: 1
                                        maxItems: 14
                                        description: Lista das garantias exigidas
                                      termsConditions:
                                        type: string
                                        pattern: \w*\W*
                                        maxLength: 2000
                                        description: Campo aberto para informar as condições contratuais relativas à Modalidade de Financiamentos para pessoa jurídica informada. Pode ser informada a URL referente ao endereço onde constam as condições informadas. Endereço eletrônico de acesso ao canal.
                                        example: 'https://empresaa1.com/personal_loans'
                                  minItems: 1
                                  maxItems: 6
                                  description: Lista de modalidades de empréstimos
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
                example:
                  data:
                    brand:
                      name: Organização A
                      companies:
                        - cnpjNumber: '45086338000178'
                          name: Empresa A1
                          urlComplementaryList: 'https://empresaa1.com/branches-banking'
                          personalLoans:
                            - type: EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
                              fees:
                                services:
                                  - name: Crédito pessoal consignado
                                    code: NA
                                    chargingTriggerInfo: Tarifa cobrada sobre demanda
                                    prices:
                                      - interval: 1_FAIXA
                                        value: '500.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.1500'
                                      - interval: 2_FAIXA
                                        value: '860.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.3500'
                                      - interval: 3_FAIXA
                                        value: '1090.00'
                                        currency: BRL
                                        customers:
                                          rate: '0.2000'
                                      - interval: 4_FAIXA
                                        value: '2100.00'
[...]
