openapi: 3.0.0
info:
  title: 'API de contas de depósito à vista, poupança e contas pré-pagas do Open Banking Brasil – Fase 2.'
  description: |
    API que retorna informações de contas de depósito à vista, contas de poupança e contas de pagamento pré-pagas mantidas nas instituições transmissoras por seus clientes, incluindo dados de identificação da conta, saldos, limites e transações.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Homologação
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts:
    get:
      tags:
        - Accounts Identification
      summary: Obtém a lista de contas consentidas pelo cliente.
      description: 'Método para obter a lista de contas depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.'
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados de identificação das contas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts
  '/accounts/{accountId}':
    get:
      tags:
        - Accounts Identification
      summary: Obtém os dados de identificação da conta identificada por accountId.
      description: 'Método para obter os dados de identificação da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.'
      operationId: getAccountsAccountId
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Dados de identificação da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts
  '/accounts/{accountId}/balances':
    get:
      tags:
        - Accounts Balances
      summary: Obtém os saldos da conta identificada por accountId.
      description: 'Método para obter os saldos da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.'
      operationId: getAccountsAccountIdBalances
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
      responses:
        '200':
          description: Dados relativos aos saldos da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts
  '/accounts/{accountId}/transactions':
    get:
      tags:
        - Accounts Transactions
      summary: Obtém a lista de transações da conta identificada por accountId.
      description: 'Método para obter a lista de transações da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.'
      operationId: getAccountsAccountIdTransactions
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromBookingDate'
        - $ref: '#/components/parameters/toBookingDate'
        - $ref: '#/components/parameters/creditDebitIndicator'
      responses:
        '200':
          description: Dados da lista de transações da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts
  '/accounts/{accountId}/overdraft-limits':
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Obtém os limites da conta identificada por accountId.
      description: 'Método para obter os limites da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.'
      operationId: getAccountsAccountIdOverdraftLimits
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
      responses:
        '200':
          description: Dados de limites da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts
components:
  schemas:
    Account:
      type: object
      required:
        - type
        - compeCode
        - branchCode
        - number
        - checkDigit
        - accountID
      properties:
        type:
          $ref: '#/components/schemas/EnumTypeAccount'
        compeCode:
          type: string
          description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas).O Compe (Sistema de Compensação de Cheques e Outros Papéis) é um sistema que identifica e processa as compensações bancárias. Ele é representado por um código de três dígitos que serve como identificador de bancos, sendo assim, cada instituição bancária possui um número exclusivo'
          pattern: '\d{3}|^NA$'
          maxLength: 3
          example: '001'
        branchCode:
          type: string
          description: 'Código da Agência detentora da conta. (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória)'
          pattern: '\d{4}|^NA$'
          maxLength: 4
          example: '6272'
        number:
          type: string
          description: Número da conta
          pattern: '^\d{8,20}$|^NA$'
          maxLength: 20
          example: '94088392'
        checkDigit:
          type: string
          description: Dígito da conta
          pattern: \w*\W*
          maxLength: 1
          example: '4'
        accountID:
          type: string
          description: Um identificador único e imutável usado para identificar o recurso do contrato da operação de crédito. Este identificador não tem significado para oproprietário da conta
          pattern: \w*\W*
          maxLength: 100
          example: '92792126019929279212650822221989319252576'
    AccountBrand:
      type: object
      required:
        - brandName
        - companyCnpj
        - accounts
      properties:
        brandName:
          type: string
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          pattern: \w*\W*
          example: Organização A
        companyCnpj:
          type: string
          maxLength: 14
          pattern: '\d{14}|^NA$'
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
          example: '21128159000166'
        accounts:
          type: array
          description: 'Lista de contas depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento'
          items:
            $ref: '#/components/schemas/Account'
          minItems: 1
    Balances:
      type: object
      description: |
        Traz as informações relativas aos saldos para  Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - accountId
        - requestDateTime
        - avaiableAmount
        - blockedAmount
        - automaticallyInvestedAmount
      properties:
        accountId:
          type: string
          description: 'Um identificador único e imutável usado para identificar o recurso da conta (de depósito à vista, poupança ou de pagamento pré-paga). Este identificador não tem significado para o proprietário da conta.'
          pattern: \w*\W*
          maxLength: 100
          example: '92792126019929279212650822221989319252576'
        requestDateTime:
          type: string
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        currency:
          type: string
          description: 'Moeda referente ao valor da garantia, segundo modelo ISO-4217. p.ex. ''BRL'' Todos os valores monetários informados estão representados com a moeda vigente do Brasil'
          maxLength: 3
          format: CurrencyString
          pattern: '^(\w{3}){1}$'
          example: BRL
        avaiableAmount:
          type: number
          nullable: true
          description: 'Saldo disponível para utilização imediata. No caso de conta de depósito a vista, sem considerar cheque especial e investimentos atrelados a conta. Admite saldo negativo. Expresso em valor monetário com 4 casas decimais'
          maxLength: 19
          example: 100000
        blockedAmount:
          type: number
          nullable: true
          description: Saldo disponível com aplicação automática - corresponde a soma do saldo disponível acrescido do valor obtido a partir da aplicação automática Expresso em valor monetário com 4 casas decimais
          maxLength: 19
          example: 100000
        automaticallyInvestedAmount:
          type: number
          nullable: true
          description: Saldo disponível com aplicação automática - corresponde a soma do saldo disponível acrescido do valor obtido a partir da aplicação automática Expresso em valor monetário com 4 casas decimais
          maxLength: 19
          example: 100000
    EnumAccountSubType:
      type: string
      enum:
        - INDIVIDUAL
        - CONJUNTA_SOLIDARIA
        - CONJUNTA_NAO_SOLIDARIA
      description: |
        Conta individual - possui um único titular
        Conta conjunta solidária - é a modalidade cujos titulares podem realizar movimentações de forma isolada, isto é, sem que seja necessária a autorização dos demais titulares
        Conta conjunta não solidária - onde as movimentações financeiras só podem serem realizadas mediante autorização de TODOS os correntistas da conta.
      example: INDIVIDUAL
    EnumAccountType:
      type: string
      enum:
        - CONTA_DEPOSITO_A_VISTA
        - CONTA_POUPANCA
        - CONTA_PAGAMENTO_PRE_PAGA
      description: |
        Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
        Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
        Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
        Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
      example: CONTA_DEPOSITO_A_VISTA
    EnumCompletedAuthorisedPaymentIndicator:
      type: string
      description: Indicador da transação
      maxLength: 19
      enum:
        - TRANSACAO_EFETIVADA
        - LANCAMENTO_FUTURO
      example: TRANSACAO_EFETIVADA
    EnumCreditDebitIndicator:
      type: string
      description: |
        Indicador do tipo de lançamento: a crédito ou a débito.
      maxLength: 7
      enum:
        - CREDITO
        - DEBITO
      example: CREDITO
    EnumOverdraftLimit:
      type: string
      description: Faixa de valor que corresponde ao valor monetário do limite de cheque esepciaql contratado. Cada faixa corresponde a um range de valor. São previstos valores diferentes das faixas para Contratos de Cheque Especial de Pessoa Natural e de Pessoa jurídica
      enum:
        - FAIXA_1
        - FAIXA_2
        - FAIXA_3
        - FAIXA_4
        - FAIXA_5
      example: FAIXA_1
    EnumOverdraftLimitType:
      type: string
      enum:
        - VALOR_UTILIZADO_LIMITE
        - SALDO_DESCOBERTO
      description: |
        Tipo de  saldo informado: (vide Enum)
        - valor utilizado do limite do cheque especial
        - saldo a descoberto em conta de depósito à vista (relativo ao excesso do limite de cheque especial ou ao adiantamento a depositante)
      example: VALOR_UTILIZADO_LIMITE
    EnumPayerPersonType:
      type: string
      description: Identificação do Tipo de Pessoa do Pagador da transação
      maxLength: 14
      enum:
        - PESSOA_NATURAL
        - PESSOA_JURIDICA
      example: PESSOA_NATURAL
    EnumPayeePersonType:
      type: string
      description: Identificação do Tipo de Pessoa do Pagador da transação
      maxLength: 14
      enum:
        - PESSOA_NATURAL
        - PESSOA_JURIDICA
      example: PESSOA_NATURAL
    EnumTransactionTypes:
      type: string
      description: |
        Tipo de Transação
      maxLength: 31
      enum:
        - TED
        - DOC
        - PIX
        - TRANSFERENCIA_MESMA_INSTITUICAO
        - BOLETO
        - CONVENIO
        - ARRECADACAO
        - PACOTE_TARIFA_SERVICOS
        - TARIFA_SERVICOS_AVULSOS
        - FOLHA_PAGAMENTO
        - DEPOSITO
        - SAQUE
        - CARTAO
        - JUROS_CHEQUE_ESPECIAL
        - RENDIMENTO
        - RECEBIVEIS_CARTAO_DEBITO
        - RECEBIVEIS_CARTAO_CREDITO
        - OUTRO
      example: OUTRO
    EnumTypeAccount:
      type: string
      enum:
        - CONTA_DEPOSITO_A_VISTA
        - CONTA_POUPANCA
        - CONTA_PAGAMENTO_PRE_PAGA
      description: '| Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. ''CONTA_DEPOSITO_A_VISTA''. Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a ''destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'''
      example: CONTA_DEPOSITO_A_VISTA
    Identification:
      type: object
      description: |
        Conjunto dos atributos que caracterizam as Contas de: depósito à vista, poupança e de pagamento pré-paga
      required:
        - accountId
        - compeCode
        - branchCode
        - number
        - checkDigit
        - brandName
        - companyCnpj
        - requestDateTime
        - type
        - subtype
        - personalBusinessIndicator
      properties:
        accountId:
          type: string
          description: 'Um identificador único e imutável usado para identificar o recurso da conta (de depósito à vista, poupança ou de pagamento pré-paga). Este identificador não tem significado para o proprietário da conta.'
          pattern: \w*\W*
          maxLength: 100
          example: '92792126019929279212650822221989319252576'
        compeCode:
          type: string
          maxLength: 3
          pattern: '\d{3}|^NA$'
          description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código'
          example: '001'
        branchCode:
          type: string
          maxLength: 4
          pattern: '\d{4}|^NA$'
          description: |
            Código da Agência detentora da conta
          example: '6272'
        number:
          type: string
          maxLength: 20
          pattern: '^\d{8,20}$|^NA$'
          description: |
            Número da conta
          example: '24550245'
        checkDigit:
          type: string
          maxLength: 1
          pattern: \w*\W*
          description: |
            Dígito da conta
          example: '4'
        brandName:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: |
            Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a marca é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes
          example: Organização A
        companyCnpj:
          type: string
          maxLength: 14
          pattern: '\d{14}|^NA$'
          description: |
            Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara
          example: '21128159000166'
        requestDateTime:
          type: string
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        type:
          $ref: '#/components/schemas/EnumAccountType'
        subtype:
          $ref: '#/components/schemas/EnumAccountSubType'
    Links:
      type: object
      description: Referências para outros recusos da API requisitada.
      required:
        - self
      properties:
        self:
          type: string
          format: URIString
          description: URI completo que gerou a resposta atual.
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        first:
          type: string
          format: URIString
          description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        prev:
          type: string
          format: URIString
          description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
        next:
          type: string
          format: URIString
          description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
        last:
          type: string
          format: URIString
          description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
    Meta:
      type: object
      description: Meta informações referente a API requisitada.
      properties:
        totalRecords:
          type: integer
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          description: Número total de páginas no resultado
          example: 1
      required:
        - totalRecords
        - totalPages
    OverdraftLimits:
      type: object
      description: Conjunto das informações relativas aos Limites referentes ao valor das operações de crédito (Cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente
      required:
        - accountId
        - requestDateTime
        - currency
        - overdraftLimit
        - balances
      properties:
        accountId:
          type: string
          description: 'Um identificador único e imutável usado para identificar o recurso da conta (de depósito à vista, poupança ou de pagamento pré-paga). Este identificador não tem significado para o proprietário da conta.'
          pattern: \w*\W*
          maxLength: 100
          example: '92792126019929279212650822221989319252576'
        requestDateTime:
          type: string
          maxLength: 20
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          example: '2020-07-21T08:30:00Z'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
        currency:
          type: string
          pattern: '^(\w{3}){1}$'
          maxLength: 3
          format: CurrencyString
          description: |
            Moeda referente aos valores de Limite de Cheque Especial e de Adiantamento a depositante , segundo modelo ISO-4217. p.ex. 'BRL'. Todos os saldos informados estão representados com a moeda vigente do Brasil.
          example: BRL
        overdraftLimit:
          $ref: '#/components/schemas/EnumOverdraftLimit'
        balances:
          type: array
          description: Lista dos valores referentes ao utilizado do Limite de Cheque especial e do adiantamento a depositante
          items:
            $ref: '#/components/schemas/OverdraftLimitsBalance'
          minItems: 1
    OverdraftLimitsBalance:
      type: object
      required:
        - type
        - amount
      properties:
        type:
          $ref: '#/components/schemas/EnumOverdraftLimitType'
        amount:
          type: number
          description: Valor do saldo. Expressa em valor monetário com 4 casas decimais.
          nullable: true
          maxLength: 19
          example: 500
    ResponseAccount:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/AccountBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseAccountBalances:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/Balances'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseAccountIdentification:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/Identification'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseAccountOverdraftLimits:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: |
            Conjunto de informações da Conta de: depósito à vista
          required:
            - overdraftLimits
          properties:
            overdraftLimits:
              $ref: '#/components/schemas/OverdraftLimits'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseAccountTransactions:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/Transactions'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
              title:
                description: Título legível por humanos do erro deste erro específico
                type: string
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
        meta:
          $ref: '#/components/schemas/Meta'
    Transactions:
      type: object
      description: |
        Lista dos lançamentos referentes às transações realizadas e de pagamentos aurotizados para as contas de: depósito à vista, pouopança e de pagamento pré-paga.
      required:
        - completedAuthorisedPaymentType
        - creditDebitType
        - transactionIdentification
        - type
        - amount
        - transactionDate
        - payerCnpjCpf
        - payeeCnpjCpf
        - payerCheckDigit
        - payerNumber
        - payerBranchCode
        - payerCompeCode
        - payerPersonType
        - accountID
        - payeePersonType
        - payeeCompeCode
        - payeeBranchCode
        - payeeNumber
        - payeeCheckDigit
      properties:
        accountID:
          type: string
          description: 'Um identificador único e imutável usado para identificar o recurso da conta (de depósito à vista, poupança ou de pagamento pré-paga). Este identificador não tem significado para o proprietário da conta.'
          pattern: \w*\W*
          maxLength: 100
          example: '92792126019929279212650822221989319252576'
        completedAuthorisedPaymentType:
          $ref: '#/components/schemas/EnumCompletedAuthorisedPaymentIndicator'
        creditDebitType:
          $ref: '#/components/schemas/EnumCreditDebitIndicator'
        transactionIdentification:
          type: string
          maxLength: 60
          pattern: \w*\W*
          description: Campo livre que corresponde ao identificador da transação na instituição financeira
          example: TRANSFCWAR5TXHCX5I9IDBHML8082N8NEO30M6LNNG7ANAYIJYRM00ZBZPU8
        type:
          $ref: '#/components/schemas/EnumTransactionTypes'
        additionalInfo:
          type: string
          maxLength: 60
          pattern: \w*\W*
          description: |
            Campo livre, de preenchimento obrigatório para complementar informação, quando selecionado o tipo de transação: OUTRO
          example: Transferência
        amount:
          type: number
          description: 'Valor do Saldo disponível, representado em valor monetário com 2 casas decimais. O tipo SALDO_DISPONIVEL admite valor negativo.'
          maxLength: 19
          example: 500.54
        transactionDate:
          type: string
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: |
            Se indicador de transação:
             TRANSACAO_EFETIVADA - corresponde a data de lançamento da transação
             LANCAMENTO_FUTURO - corresponde a data prevista de efetivação da transação
          example: '2021-01-07'
        payerCnpjCpf:
          type: string
          maxLength: 14
          pattern: '^\d{11}$|^\d{14}$|^NA$'
          description: |
            Identificação do Pagador da transação. Número do cadastro nas Receita Federal (Preencher com CPF ou CNPJ sem formatação)
          example: '43908445778'
        payerPersonType:
          $ref: '#/components/schemas/EnumPayerPersonType'
        payerCompeCode:
          type: string
          maxLength: 3
          pattern: '\d{3}|^NA$'
          description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O Compe (Sistema de Compensação de Cheques e Outros Papéis) é um sistema que identifica e processa as compensações bancárias. Ele é representado por um código de três dígitos que serve como identificador de bancos, sendo assim, cada instituição bancária possui um número exclusivo'
          example: '001'
        payerBranchCode:
          type: string
          maxLength: 4
          pattern: '\d{4}|^NA$'
          description: 'Código da Agência detentora da conta. (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória)'
          example: '6272'
        payerNumber:
          type: string
          maxLength: 20
          pattern: '^\d{8,20}$|^NA$'
          description: Número da conta
          example: '94088392'
        payerCheckDigit:
          type: string
          maxLength: 1
          pattern: \w*\W*
          description: Dígito da conta
          example: '4'
        payeeCnpjCpf:
          type: string
          maxLength: 14
          pattern: '^\d{11}$|^\d{14}$|^NA$'
          description: |
            Identificação do Recebedor da transação. Número do cadastro nas Receita Federal  (Preencher com CPF ou CNPJ sem formatação)
          example: '67890854360'
        payeePersonType:
          $ref: '#/components/schemas/EnumPayeePersonType'
        payeeCompeCode:
          type: string
          maxLength: 3
          pattern: '\d{3}|^NA$'
          description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O Compe (Sistema de Compensação de Cheques e Outros Papéis) é um sistema que identifica e processa as compensações bancárias. Ele é representado por um código de três dígitos que serve como identificador de bancos, sendo assim, cada instituição bancária possui um número exclusivo'
          example: '001'
        payeeBranchCode:
          type: string
          maxLength: 4
          pattern: '\d{4}|^NA$'
          description: 'Código da Agência detentora da conta. (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória)'
          example: '6272'
        payeeNumber:
          type: string
          maxLength: 20
          pattern: '^\d{8,20}$|^NA$'
          description: Número da conta
          example: '94088392'
        payeeCheckDigit:
          type: string
          maxLength: 1
          pattern: \w*\W*
          description: Dígito da conta
          example: '4'
  parameters:
    accountId:
      name: accountId
      in: path
      description: 'Identificador da conta de depósito à vista, de poupança ou de pagamento pré-paga.'
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
    accountsBranchCode:
      name: branchCode
      in: query
      description: 'Código da Agência detentora da conta. (Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória)'
      schema:
        type: string
        maxLength: 4
        pattern: '\d{4}|^NA$'
      required: true
    accountsCheckDigit:
      name: checkDigit
      in: query
      description: Dígito da conta
      schema:
        type: string
        maxLength: 1
        pattern: \w*\W*
      required: true
    accountsCompeCode:
      name: compeCode
      in: query
      description: 'Código identificador atribuído pelo Banco Central do Brasil às instituições participantes do STR (Sistema de Transferência de reservas). O número-código substituiu o antigo código COMPE. Todos os participantes do STR, exceto as Infraestruturas do Mercado Financeiro (IMF) e a Secretaria do Tesouro Nacional, possuem um número-código independentemente de participarem da Centralizadora da Compensação de Cheques (Compe). O campo tem a anotação “n/a” (“não se aplica”) para os participantes do STR aos quais não é atribuído um número-código'
      schema:
        type: string
        maxLength: 3
        pattern: '\d{3}|^NA$'
      required: true
    accountsNumber:
      name: number
      in: query
      description: Número da conta
      schema:
        type: string
        maxLength: 20
        pattern: '\d{20}|^NA$'
      required: true
    Authorization:
      name: Authorization
      in: header
      description: a definir
      required: false
      schema:
        type: string
    creditDebitIndicator:
      name: creditDebitIndicator
      in: query
      schema:
        $ref: '#/components/schemas/EnumCreditDebitIndicator'
    fromBookingDate:
      name: fromBookingDate
      description: Data inicial de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
    toBookingDate:
      name: toBookingDate
      description: Data final de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\d{4} \d{2}:\d{2}:\d{2}  (GMT|UTC)$'
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://authserver.example/.well-known/openid-configuration'
  responses:
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
