openapi: 3.0.0
info:
  title: API de contas de pagamento pós-pagas do Open Banking Brasil – Fase 2.
  description: |
    API que retorna informações de contas de pagamento pós-paga mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, produto, bandeira, limites de crédito, informações sobre transações de pagamento efetuadas e faturas.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/credit-cards-accounts/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/credit-cards-accounts/v1'
    description: Servidor de Homologação
tags:
  - name: Credit Card
    description: Operações para listagem das informações de Cartão de Crédito
paths:
  /accounts:
    get:
      tags:
        - Credit Card
      summary: Conjunto de informações das Contas de pagamento pós paga
      description: Método para obter a lista de contas de pagamento pós-paga mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      operationId: getAccountsCreditCard
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Conjunto de informações das Contas de pagamento pós paga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccounts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card
  '/accounts/{creditCardAccountId}':
    get:
      tags:
        - Credit Card
      summary: Obtém os dados de identificação da conta identificada por creditCardAccountId.
      description: Método para obter os dados de identificação da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountId
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados de identificação da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card
  '/accounts/{creditCardAccountId}/bills':
    get:
      tags:
        - Credit Card
      summary: Obtém a lista de faturas da conta identificada por creditCardAccountId.
      description: Método para obter a lista de faturas da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdBills
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromDueDate'
        - $ref: '#/components/parameters/toDueDate'
      responses:
        '200':
          description: Dados referentes à lista de faturas da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card
  '/accounts/{creditCardAccountId}/limits':
    get:
      tags:
        - Credit Card
      summary: |
        Obtém os limites da conta identificada por creditCardAccountId.
      description: |
        Método para obter os limites da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdLimits
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados dos limites da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card
  '/accounts/{creditCardAccountId}/transactions':
    get:
      tags:
        - Credit Card
      summary: Obtém a lista de transações da conta identificada por creditCardAccountId.
      description: Método para obter a lista de transações da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdTransactions
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromTransactionDate'
        - $ref: '#/components/parameters/toTransactionDate'
        - $ref: '#/components/parameters/creditCardTransactionType'
        - $ref: '#/components/parameters/creditCardPayeeMCC'
      responses:
        '200':
          description: Dados das lista de transações da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card
components:
  schemas:
    AccountsLimits:
      type: object
      description: Conjunto de informações referentes aos limites da conta de  pagamento pós-paga.
      required:
        - creditCardAccountId
        - requestDateTime
        - brandName
        - companyCnpj
        - statementCreditCardAccounts
      properties:
        creditCardAccountId:
          type: string
          description: 'Identificador para conta pagamento pós-paga é o creditCardAccountId, chave artificial que permite identificar a conta pagamento pós-paga especifica.'
          maxLength: 40
          example: XXZTR3459087
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        brandName:
          type: string
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          example: Organização A
        companyCnpj:
          type: string
          pattern: '\d{14}|^NA$'
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
          maxLength: 14
          example: '21128159000166'
        currency:
          type: string
          description: 'Moeda referente ao valor da transação, segundo modelo ISO-4217.'
          maxLength: 3
          example: BRL
        statementCreditCardAccounts:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardAccountsStatement'
    CreditCardAccountsBilling:
      type: object
      description: Conjunto de informações de conta de pagamento pós-paga
      required:
        - bill
      properties:
        bill:
          $ref: '#/components/schemas/CreditCardAccountsBillingBill'
    CreditCardAccountsBillingBill:
      type: object
      description: Conjunto das informações referentes a fatura associada à conta de pagamento pós-paga
      required:
        - billIdentification
        - dueDate
        - paymentDate
        - paymentMode
        - payments
      properties:
        billIdentification:
          type: string
          description: Informação que identifica a fatura que está sendo consultada
          maxLength: 40
          pattern: \w*\W*
        currency:
          type: string
          pattern: '^(\w{3}){1}$'
          maxLength: 3
          format: CurrencyString
          description: |
            Moeda referente ao valor de todas transações relacionadas com fatura da conta de pagamento pós-paga, segundo modelo ISO-4217. p.ex. 'BRL' 
            Todos os saldos informados estão representados com a moeda vigente do Brasil.
          example: BRL
        dueDate:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          format: DateString
          description: 'Data de vencimento da Fatura, que aparece para pagamento pelo cliente'
        paymentDate:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
          format: DateString
          description: Data efetiva de quando o Pagamento da fatura foi realizado
        paymentMode:
          $ref: '#/components/schemas/EnumCreditCardAccountsPaymentMode'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardAccountsBillingPayment'
          minItems: 1
          maxItems: 2
          description: Lista que traz os valores relativos aos pagamentos da Fatura da conta de pagamento pós-paga
    CreditCardAccountsBillingData:
      type: object
      required:
        - creditCardAccount
      properties:
        creditCardAccount:
          $ref: '#/components/schemas/CreditCardAccountsBilling'
    CreditCardAccountsBillingFinanceCharge:
      type: object
      required:
        - type
        - amount
      properties:
        type:
          $ref: '#/components/schemas/EnumCreditCardAccountsFinanceChargeType'
        additionalInfo:
          type: string
          maxLength: 60
          pattern: \w*\W*
          description: 'Campo livre, de preenchimento obrigatório se selecionado tipo de encargo ''OUTROS'''
        amount:
          type: string
          maxLength: 12
          nullable: true
          format: AmountString
          description: Valor cobrado pelo encargo. Expresso em valor monetário com 2 casas decimais
        transactionName:
          type: string
          maxLength: 40
          pattern: \w*\W*
          description: Campo de livre preenchimento. Literal usada na instituição financeira para identificar a transação
    CreditCardAccountsBillingPayment:
      type: object
      required:
        - valueType
        - amount
        - financeCharges
      properties:
        valueType:
          $ref: '#/components/schemas/EnumCreditCardAccountsBillingValueType'
        amount:
          type: string
          maxLength: 12
          nullable: true
          format: AmountString
          description: Valor da transação. Expresso em valor monetário com 2 casas decimais
        financeCharges:
          type: array
          items:
            $ref: '#/components/schemas/CreditCardAccountsBillingFinanceCharge'
          minItems: 1
          description: Lista dos encargos cobrados na fatura
    CreditCardsAccountIdentification:
      type: object
      description: Conjunto de informações referentes à identificação da conta de pagamento pós-paga.
      required:
        - creditCardAccountId
        - requestDateTime
        - brandName
        - companyCnpj
        - name
        - productType
        - creditCardNetwork
        - paymentMethod
      properties:
        creditCardAccountId:
          type: string
          description: 'Identificador para conta pagamento pós-paga é o creditCardAccountId, chave artificial que permite identificar a conta pagamento pós-paga especifica.'
          maxLength: 40
          example: XXZTR3459087
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        brandName:
          type: string
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          example: Organização A
        name:
          type: string
          pattern: \w*\W*
          description: |
            Denominação/Identificação do nome da conta de pagamento pós-paga (cartão). Conforme CIRCULAR Nº 3.680,BCB, 2013: 'conta de pagamento pós-paga: destinada à execução de transações de pagamento que independem do aporte prévio de recursos'.
          maxLength: 50
          example: Cartão Universitário
        companyCnpj:
          type: string
          pattern: '\d{14}|^NA$'
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
          maxLength: 14
          example: '21128159000166'
        productType:
          $ref: '#/components/schemas/EnumCreditCardAccountsProductType'
        productAdditionalInfo:
          type: string
          pattern: \w*\W*
          description: Texto livre para especificar categoria de bandeira marcada como 'OUTRAS'.
          maxLength: 50
        creditCardNetwork:
          $ref: '#/components/schemas/EnumCreditCardAccountNetwork'
        networkAdditionalInfo:
          type: string
          pattern: \w*\W*
          description: Texto livre para especificar categoria de bandeira marcada como 'OUTRAS'.
          maxLength: 50
        paymentMethod:
          $ref: '#/components/schemas/CreditCardsAccountPaymentMethod'
    CreditCardAccountsLimits:
      type: object
      required:
        - limits
      properties:
        limits:
          $ref: '#/components/schemas/AccountsLimits'
    CreditCardAccountsLimitsBrand:
      type: object
      required:
        - creditCardAccounts
      properties:
        creditCardAccounts:
          $ref: '#/components/schemas/CreditCardAccountsLimits'
    CreditCardsAccountPaymentMethod:
      type: object
      description: Conjunto de informações relativas aos Meios de Pagamento da Conta de pagamento pós-paga
      required:
        - identificationNumber
        - isMultipleCreditCard
      properties:
        identificationNumber:
          type: number
          description: |
            Número de identificação do cartão:  corresponde aos 4 últimos dígitos
          maxLength: 4
          example: 4453
        isMultipleCreditCard:
          type: boolean
          description: |
            Informa se a conta de Pagamento pós paga é Múltipla. "Cartões  denominados múltiplos possuem tanto a função crédito quanto a débito, devendo o proprietário do cartão, no momento de sua utilização, informar se o pagamento é na função crédito (que leva a um pagamento futuro, por meio de uma fatura do cartão de crédito) ou na função débito".
            Fonte: Tipos de cartão - Banco Central do Brasilwww.bcb.gov.br › port ›folder_serie_I_tipos_de_
            cartao
          example: true
    CreditCardAccountsStatement:
      type: object
      description: Lista dos lançamentos referentes aos limites relativos à conta de  pagamento pós-paga
      required:
        - creditLineLimitType
        - consolidationType
        - balances
      properties:
        creditLineLimitType:
          $ref: '#/components/schemas/EnumCreditCardAccountsLineLimitType'
        consolidationType:
          $ref: '#/components/schemas/EnumCreditCardAccountsConsolidationType'
        lineName:
          $ref: '#/components/schemas/EnumCreditCardAccountsLineName'
        lineNameAdditionalInfo:
          type: string
          pattern: \w*\W*
          description: Campo de preenchimento obrigatório se selecionada a opção 'OUTRAS' em nameLine
        limitType:
          $ref: '#/components/schemas/EnumCreditCardAccountsLimitType'
        balances:
          type: array
          description: Lista que traz os valores relativos aos saldos do Limite de crédito total da conta de pagamento pós-paga
          items:
            $ref: '#/components/schemas/CreditCardAccountsStatementBalance'
    CreditCardAccountsStatementBalance:
      type: object
      description: Lista que traz os valores relativos aos saldos do Limite de crédito total da conta de pagamento pós-pa
      required:
        - type
        - amount
      properties:
        type:
          $ref: '#/components/schemas/EnumCreditCardsAccountsBalancesType'
        amount:
          type: string
          description: 'Valor do limite de crédito informado (total ou por modalidade), relativo ao tipo selecionado. Expresso em valor monetário com 2 casas decimais'
          maxLength: 12
    CreditCardAccountStatementTransaction:
      type: object
      description: Lista que traz os valores relativos aos saldos do Limite de crédito total da conta de pagamento pós-paga
      required:
        - transactionName
        - creditDebitType
        - transactionType
        - feeType
        - otherCreditsType
        - chargeIdentificator
        - charge
        - brazilianAmount
        - brazilianCurrency
        - transactionDate
        - balances
      properties:
        transactionName:
          type: string
          maxLength: 40
          description: Campo de livre preenchimento. Literal usada na instituição financeira para identificar a transação
        billIdentification:
          type: string
          maxLength: 40
          description: Informação que identifica a fatura onde consta a transação informada.
        creditDebitType:
          $ref: '#/components/schemas/EnumCreditDebitIndicator'
        transactionType:
          $ref: '#/components/schemas/EnumCreditCardTransactionType'
        transactionalAdditionalInfo:
          type: string
          description: 'Campo livre, de preenchimento obrigatório quando selecionado tipo de transação ''OUTROS'''
          maxLength: 50
        paymentType:
          $ref: '#/components/schemas/EnumCreditCardAccountsPaymentType'
        feeType:
          $ref: '#/components/schemas/EnumCreditCardAccountFee'
        feeTypeAdditionalInfo:
          type: string
          maxLength: 50
          description: 'Campo livre, de preenchimento obrigatório quando selecionada tipo de tarifa ''OUTRA'''
        otherCreditsType:
          $ref: '#/components/schemas/EnumCreditCardAccountsOtherCreditType'
        otherCreditsAdditionalInfo:
          type: string
          maxLength: 50
          description: 'Campo livre, de preenchimento obrigatório quando selecionado tipo de crédito ''OUTROS'''
        chargeIdentificator:
          type: string
          description: Identificador da parcela que está sendo informada. Campo de livre preenchimento
          maxLength: 50
          pattern: \w*\W*
        charge:
          type: number
          description: Quantidade de parcelas
          maxLength: 2
        brazilianAmount:
          type: number
          maxLength: 12
          description: 'Valor da transação expresso em valor monetário com 2 casas decimais, em moeda corrente do Brasil'
        brazilianCurrency:
          type: string
          maxLength: 3
          description: 'Moeda referente ao valor da transação  no Brasil, segundo modelo ISO-4217. p.ex. ''BRL'' Todos os saldos informados estão representados com a moeda vigente do Brasil'
        amount:
          type: number
          maxLength: 12
          description: Valor da transação. Expresso em valor monetário com 2 casas decimais
        currency:
          type: string
          maxLength: 3
          description: 'Moeda referente ao valor da transação, se a opoepração foi efeuatda em moeda  estrangeira, segundo modelo ISO-4217. p.ex. ''EUR'' Todos os saldos informados estão representados com a moeda vigente do Brasil'
        transactionDate:
          type: string
          description: Data lançamento da transação
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
        billPostDate:
          type: string
          description: Data de postagem na fatura
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          maxLength: 10
        payeeMCC:
          type: number
          description: 'MCC é o Merchant Category Code, ou o código da categoria do estabelecimento comercial. Os MCCs são agrupados segundo suas similaridades'
          maxLength: 4
    CreditCardAccountsTransactions:
      type: object
      description: objeto que agrupa as informações referentes as transações de pagamentos realizadas na conta de  pagamento pós-paga
      required:
        - requestDateTime
        - brandName
        - companyCnpj
        - statementCreditCardAccounts
      properties:
        creditCardAccountId:
          type: string
          description: 'Identificador para conta pagamento pós-paga é o creditCardAccountId, chave artificial que permite identificar a conta pagamento pós-paga especifica.'
          maxLength: 40
          example: XXZTR3459087
        requestDateTime:
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          maxLength: 20
          example: '2020-07-21T08:30:00Z'
        brandName:
          type: string
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          example: Organização A
        companyCnpj:
          type: string
          pattern: '\d{14}|^NA$'
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
          maxLength: 14
          example: '21128159000166'
        statementCreditCardAccounts:
          $ref: '#/components/schemas/CreditCardAccountStatementTransaction'
    CreditCardaccountsTransactionsBrand:
      type: object
      required:
        - creditCardAccount
      properties:
        creditCardAccount:
          $ref: '#/components/schemas/CreditCardTransactionAccount'
    CreditCardTransactionAccount:
      type: object
      required:
        - transactions
      properties:
        transactions:
          $ref: '#/components/schemas/CreditCardAccountsTransactions'
    EnumCreditCardAccountFee:
      type: string
      description: Traz os tipos de Tarifas
      enum:
        - ANUIDADE
        - SAQUE_CARTAO_BRASIL
        - SAQUE_CARTAO_EXTERIOR
        - AVALIACAO_EMERGENCIAL_CREDITO
        - EMISSAO_SEGUNDA_VIA
        - TARIFA_PAGAMENTO_CONTAS
        - SMS
      example: ANUIDADE
    EnumCreditCardAccountsBillingValueType:
      type: string
      description: |
        Traz os tipos dos valores relativos aos pagamentos da fatura da conta de pagamento pós-paga:
        - Valor total da fatura
        - Valor de pagamento mínimo da fatura
        - Valor de pagamento total da fatura 
        - Valor de pagamento da fatura com parcelamento
        - Outro Valor pago na fatura
      enum:
        - VALOR_TOTAL_FATURA
        - VALOR_PAGAMENTO_MINIMO_FATURA
        - VALOR_PAGAMENTO_TOTAL_FATURA
        - VALOR_PAGAMENTO_FATURA_PARCELADO
        - OUTRO_VALOR_PAGO_FATURA
    EnumCreditCardAccountsConsolidationType:
      type: string
      description: Indicador que permite informar se o valor do limite é consolidado ou individual.
      enum:
        - CONSOLIDADO
        - INDIVIDUAL
      example: CONSOLIDADO
    EnumCreditCardAccountsFinanceChargeType:
      type: string
      description: |
        Traz a denominação dos Encargos que incidem na fatura da conta de pagamento pós-paga.
        - Juros remuneratórios por atraso no pagamento da fatura
        - Multa por atraso no pagamento da fatura
        - Juros de mora por atraso no pagamento da fatura
        - IOF
        - Crédito rotativo
        - Parcelamento da fatura
        - Empréstimo
        - Outros
        - NA
      enum:
        - JUROS_REMUNERATORIOS_ATRASO_PAGAMENTO_FATURA
        - MULTA_ATRASO_PAGAMENTO_FATURA
        - JUROS_MORA_ATRASO_PAGAMENTO_FATURA
        - IOF
        - CREDITO_ROTATIVO
        - PARCELAMENTO_FATURA
        - EMPRÉSTIMO
        - OUTROS
        - NA
    EnumCreditCardAccountsLimitType:
      type: string
      description: Indicador que permite informar se a operação de crédito é com limite ou com limite flexível
      enum:
        - COM_LIMITE
        - LIMITE_FLEXIVEL
        - SEM_LIMITE
      example: COM_LIMITE
    EnumCreditCardAccountsLineLimitType:
      type: string
      description: Indicador do tipo de limite
      enum:
        - LIMITE_CREDITO_TOTAL
        - LIMITE_CREDITO_MODALIDADE_OPERACAO
      example: LIMITE_CREDITO_TOTAL
    EnumCreditCardAccountsLineName:
      type: string
      description: Modalidade de operação - Lista de   Modalidades de Operação relacionadas às Contas de Pagamento Pós-Pagas
      enum:
        - CREDITO_A_VISTA
        - SAQUE_CREDITO_BRASIL
        - SAQUE_CREDITO_EXTERIOR
        - EMPRESTIMO_CARTAO_CONSIGNADO
        - OUTRAS
      example: CREDITO_A_VISTA
    EnumCreditCardAccountNetwork:
      type: string
      description: |
        Categoria de Bandeiras de Cartões de Crédito (Instituidor do arranjo de pagamento).
        Bandeira é a detentora de todos os direitos e deveres da utilização da marca estampada no cartão, inclusive as bandeiras pertencentes aos emissores.
      enum:
        - VISA
        - MASTERCARD
        - AMERICAN_EXPRESS
        - DINERS_CLUB
        - HIPERCARD
        - BANDEIRA_PROPRIA
        - CHEQUE_ELETRONICO
        - ELO
        - OUTRAS
      example: VISA
    EnumCreditCardAccountsOtherCreditType:
      type: string
      description: Traz outros tipos de crédito contratados no cartão.
      enum:
        - CREDITO_ROTATIVO
        - PARCELAMENTO_FATURA
        - EMPRESTIMO
        - OUTROS
      example: CREDITO_ROTATIVO
    EnumCreditCardAccountsPaymentMode:
      type: string
      description: |
        Traz as formas de efetivação do pagamento realizado: 
        - Débito em conta corrente
        - Boleto bancário
        - Averbação em folha
        - PIX
      enum:
        - DEBITO_CONTA_CORRENTE
        - BOLETO_BANCARIO
        - AVERBACAO_FOLHA
        - PIX
    EnumCreditCardAccountsPaymentType:
      type: string
      description: Traz os tipos de pagamento
      enum:
        - A_VISTA
        - A_PRAZO
      example: A_VISTA
    EnumCreditCardAccountsProductType:
      type: string
      description: 'Categoria atribuída a um cartão de pagamento, sob uma certa denominação, que lhe agrega um conjunto de vantagens, diferenciando-o de acordo com o perfil do portador.'
      enum:
        - CLASSIC_NACIONAL
        - CLASSIC_INTERNACIONAL
        - GOLD
        - PLATINUM
        - INFINITE
        - ELECTRON
        - STANDARD_NACIONAL
        - STANDARD_INTERNACIONAL
        - ELETRONIC
        - BLACK
        - REDESHOP
        - MAESTRO_MASTERCARD_MAESTRO
        - GREEN
        - BLUE
        - BLUEBOX
        - PROFISSIONAL_LIBERAL
        - CHEQUE_ELETRONICO
        - CORPORATIVO
        - EMPRESARIAL
        - COMPRAS
        - OUTROS
      example: CLASSIC_NACIONAL
    EnumCreditCardTransactionType:
      type: string
      description: Traz os tipos de Transação
      enum:
        - PAGAMENTO
        - TARIFA
        - OPERACOES_CREDITO_CONTRATADAS_CARTAO
        - ESTORNO
        - CASHBACK
        - OUTROS
      example: CASHBACK
    EnumCreditCardsAccountsBalancesType:
      type: string
      description: Traz os tipos dos valores relativos aos saldos  do Limite de crédito total da conta de pagamento pós-paga.
      enum:
        - VALOR_TOTAL
        - VALOR_UTILIZADO
        - VALOR_DISPONIVEL
      example: VALOR_TOTAL
    EnumCreditDebitIndicator:
      type: string
      description: |
        Indicador do tipo de lançamento: a crédito ou a débito.
      maxLength: 7
      enum:
        - CREDITO
        - DEBITO
      example: CREDITO
    Links:
      type: object
      description: Referências para outros recusos da API requisitada.
      required:
        - self
      properties:
        self:
          type: string
          format: URIString
          description: URI completo que gerou a resposta atual.
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        first:
          type: string
          format: URIString
          description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        prev:
          type: string
          format: URIString
          description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
        next:
          type: string
          format: URIString
          description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
        last:
          type: string
          format: URIString
          description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
    Meta:
      type: object
      description: Meta informações referente a API requisitada.
      properties:
        totalRecords:
          type: integer
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          description: Número total de páginas no resultado
          example: 1
      required:
        - totalRecords
        - totalPages
    ResponseCreditCardAccounts:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: Conjunto de informações das Contas de pagamento pós paga
          required:
            - brandName
            - companyCnpj
            - name
            - productType
            - creditCardNetwork
            - CreditCardAccountId
          properties:
            brandName:
              type: string
              description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes'
              pattern: \w*\W*
              maxLength: 80
              example: Organização A
            companyCnpj:
              type: string
              description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
              pattern: '\d{14}|^NA$'
              maxLength: 14
              example: '21128159000166'
            name:
              type: string
              description: 'Denominação/Identificação do nome da conta de pagamento pós-paga (cartão). Conforme CIRCULAR Nº 3.680,BCB, 2013: ''conta de pagamento pós-paga: destinada à execução de transações de pagamento que independem do aporte prévio de recursos'
              pattern: \w*\W*
              maxLength: 50
              example: Cartão Universitário
            productType:
              $ref: '#/components/schemas/EnumCreditCardAccountsProductType'
            productAdditionalInfo:
              type: string
              description: Informações complementares se tipo de Cartão 'OUTROS'
              pattern: \w*\W*
              maxLength: 50
            creditCardNetwork:
              $ref: '#/components/schemas/EnumCreditCardAccountNetwork'
            networkAdditionalInfo:
              type: string
              description: Texto livre para especificar categoria de bandeira marcada como 'OUTRAS'
              pattern: \w*\W*
              maxLength: 50
            CreditCardAccountId:
              type: string
              description: Um identificador único e imutável usado para identificar o recurso da conta de pagamento pós paga. Este identificador não tem significado para o proprietário da conta
              maxLength: 100
              example: XXZTR3459087
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseCreditCardAccountsBilling:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/CreditCardAccountsBillingData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          creditCardAccount:
            bill:
              billIdentification: 229873ASBCR
              currency: BRL
              dueDate: '2021-03-15'
              paymentDate: '2021-03-17'
              paymentMode: PIX
              payments:
                - valueType: VALOR_TOTAL_FATURA
                  amount: '567.43'
                  financeCharges:
                    - type: OUTROS
                      additionalInfo: SAQUE UTILIZANDO A FUNÇÃO CRÉDITO
                      amount: '17.00'
                      transactionName: CVFDT789650
                - valueType: VALOR_PAGAMENTO_MINIMO_FATURA
                  amount: '96.46'
                  financeCharges:
                    - type: NA
                      amount: '0.00'
        links:
          self: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
          first: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
          prev: string
          next: string
          last: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        meta:
          totalRecords: 1
          totalPages: 1
    ResponseCreditCardAccountsIdentification:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/CreditCardsAccountIdentification'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseCreditCardAccountsLimits:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/CreditCardAccountsLimitsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          creditCardAccounts:
            limits:
              creditCardAccountId: XXZTR3459087
              requestDateTime: '2020-07-21T08:30:00Z'
              brandName: Organização A
              companyCnpj: '21128159000166'
              currency: BRL
              statementCreditCardAccounts:
                - creditLineLimitType: LIMITE_CREDITO_TOTAL
                  consolidationType: CONSOLIDADO
                  balances:
                    - type: VALOR_TOTAL
                      amount: '2000.00'
                    - type: VALOR_UTILIZADO
                      amount: '1654.00'
                    - type: VALOR_DISPONIVEL
                      amount: '1200.00'
                - creditLineLimitType: LIMITE_CREDITO_MODALIDADE_OPERACAO
                  consolidationType: INDIVIDUAL
                  lineName: SAQUE_CREDITO_BRASIL
                  limitType: COM_LIMITE
                  balances:
                    - type: VALOR_TOTAL
                      amount: '2000.00'
                    - type: VALOR_UTILIZADO
                      amount: '1654.00'
                    - type: VALOR_DISPONIVEL
                      amount: '1200.00'
        links:
          self: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
          first: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
          prev: string
          next: string
          last: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
        meta:
          totalRecords: 1
          totalPages: 1
    ResponseCreditCardAccountsTransactions:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          $ref: '#/components/schemas/CreditCardaccountsTransactionsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
              title:
                description: Título legível por humanos do erro deste erro específico
                type: string
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
        meta:
          $ref: '#/components/schemas/Meta'
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: a definir
      required: false
      schema:
        type: string
    creditCardAccountId:
      name: creditCardAccountId
      in: path
      description: Identificador da conta de pagamento pós-paga.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
    creditCardPayeeMCC:
      name: payeeMCC
      in: query
      schema:
        type: number
        maxLength: 4
        description: 'MCC é o Merchant Category Code, ou o código da categoria do estabelecimento comercial. Os MCCs são agrupados segundo suas similaridades'
        example: 8299
    creditCardTransactionType:
      name: transactionType
      in: query
      schema:
        $ref: '#/components/schemas/EnumCreditCardTransactionType'
    fromDueDate:
      name: fromDueDate
      description: Data inicial de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    fromTransactionDate:
      name: fromTransactionDate
      description: Data inicial de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
    toDueDate:
      name: toDueDate
      description: Data final de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    toTransactionDate:
      name: toTransactionDate
      description: Data final de filtragem.
      required: false
      in: query
      schema:
        type: string
        format: DateString
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\d{4} \d{2}:\d{2}:\d{2}  (GMT|UTC)$'
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://authserver.example/.well-known/openid-configuration'
  responses:
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
