openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0
servers:
  - url: http://api.banco.com.br/open-banking/product-services/v1
  
###############
## Endpoints ##
###############
paths:
  /personal-loans:
    get:
      tags:
      - "Loans"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponsePersonalLoansList'
                
  /business-loans:
    get:
      tags:
      - "Loans"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseBusinessLoansList'
                
components:
  ###############
  ##  Schemas  ##
  ###############
  schemas:
  ######################
  ##  Personal Loans  ##
  ######################
  
  ##### ResponsePersonalLoansList #####
    ResponsePersonalLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - organisation
          properties:
            organisation:
                $ref: '#/components/schemas/PersonalLoansOrganisation'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
          
  ##### PersonalLoansOrganisation #####      
    PersonalLoansOrganisation:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome do conglomerado.
          example: "Organização A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalLoansCompanies'
          description: Lista de instituições pertencentes à organização 
          
  #### PersonalLoansCompanies ####
    PersonalLoansCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalLoans
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Nome da Instituição, pertencente à organização, responsável pela comercialização das modalidades de Empréstimos para Pessoas Físicas consultadas."
          example: "Empresa da Organização A"
        personalLoans:
          type: array
          items:
            $ref: '#/components/schemas/Loans'
          description: Lista   
      allOf:
        - $ref: '#/components/schemas/CNPJ'  
         
  ######################
  ##  Business Loans  ##
  ######################
  
  #### ResponseBusinessLoansList ####
    ResponseBusinessLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - organisation
          properties:
            organisation:
                 $ref: '#/components/schemas/BusinessLoansOrganisation'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'  
          
  ##### BusinessLoansOrganisation #####      
    BusinessLoansOrganisation:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome do conglomerado.
          example: "Organização A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessLoansCompanies'
          description: Lista de instituições pertencentes à organização 
   
  #### BusinessLoansCompanies ####
    BusinessLoansCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalLoans
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Nome da Instituição, pertencente à organização, responsável pela comercialização das modalidades de Empréstimos para Pessoas Jurídicas consultadas."
          example: "Empresa da Organização A"
        businessLoans:
          type: array
          items:
            $ref: '#/components/schemas/Loans'
          description: Lista   
      allOf:
        - $ref: '#/components/schemas/CNPJ'         
    
    ##################################
    ##  Commons  Personal/Business  ##
    ##################################
        
    #### Loans ####
    Loans:
      type: object
      required:
        - types
        - feeds
        - interestRates
        - requiredWarranties
      properties:
        types:
          type: string
          enum: 
            - ADIANTAMENTO_DEPOSITANTE
            - CREDITO_PESSOAL_CONSIGNADO
            - CREDITO_PESSOAL_NAO_CONSIGNADO
            - CHEQUE_ESPECIAL
            - CONTA_GARANTIDA
            - HOME_EQUITY
            - MICROCREDITO
            - MICROCREDITO_CONSIGNADO
            - OUTROS_EMPRESTIMOS
            - CARTAO_CREDITO
            - RECEBIVEIS_ADQUIRIDOS
          description: "Modalidades de empréstimos ofertados para pessoas físicas/jurídicas"
          example: "CHEQUE_ESPECIAL"
        fees:
          type: array
          items:
            $ref: '#/components/schemas/LoanFees'
          description: Lista   
        interestRates:
          type: array
          items:
            $ref: '#/components/schemas/InterestRates'
        requiredWarranties:
          type: array
          items:
            type: string
            enum: 
              - CESSAO_DIREITOS_CREDITORIOS
              - CAUÇAO
              - PENHOR
              - ANILEAÇAO_FIDUCIARIA
              - HIPOTECA
              - OPERAÇOES_GARANTIDAS_GOVERNO
              - OUTRAS_GARANT_NO_FIDEJUSSORIAS
              - SEGUROS_ASSEMELHADOS
              - GARANTIA_FIDEJUSSORIA
              - BENS_ARRENDADOS
              - GARANTIAS_INTERNACIONAIS
              - OPERAÇOES_GARAN_OUTR_ENTIDADES
              - ACORDOS_DE_COMPENSAÇAO
              - NAO_APLICAVEL
            maxLength: 50
            description: "Relação de garantias exigidas"
            example: "CESSAO_DIREITOS_CREDITORIOS"
        termsConditions:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Campo aberto para informar as condições contratuais relativas à Modalidade de Empréstimo para pessoa física informada. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
          example: ""
    
    #### Fees ####
    LoanFees:
      type: object
      required:
        - serviceName
        - serviceCode
        - chargeTriggerInfo
        - maxPrice
        - currency
      properties:
        serviceName:
          type: string
          pattern: '\w*\W*'
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada do Empréstimo para pessoa física/jurídica."
          example: "Cheque Especial"
        serviceCode:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade informada de Empréstimo para pessoa física/jurídica."
          example: "Cheque Especial"
        chargingTriggerInfo:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades informada de Empréstimos para pessoa física/jurídica."
          example: "(e) Tarifa válida a partir de 06.01.2020, para novas contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI (f) Tarifa válida a partir de 01.06.2020, para contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI realizadas até 05.01.2020"
        price:
          type: array
          items:
            $ref: '#/components/schemas/LoanFeesPrice'
    
  #### Price ####  
    LoanFeesPrice:
      type: object
      required:
        - changingUnit
      properties:
        type:
          type: string
          pattern: '^(\d{1})$'
          enum: 
            - MINIMO
            - MEDIO
            - MAXIMO
          description: "Indica os tipos: mínimo, médio e máximo do valor informado"
          example: "MINIMO"
        value:
          type: string
          pattern: '^(\d{1,9}\,\d{2}){1}$'
          maxLength: 12
          description: "Valor da tarifa cobrada, relativa ao serviço ofertado para a Modalidade de Empréstimo, para pessoa física/jurídica. P.ex. 45,00"
          example: "45,00"
        currency:
          type: string
          pattern: '^(\W{3}){1}$'
          maxLength: 3
          description: "Moeda referente ao valor da Tarifa, segundo modelo ISO-4217."
          example: "BRL"
        additionalInfo:
          type: string
          pattern: '\w*\W*'
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa. p.ex. '0,25% sobre o excedente do limite acima de R$ 500,00'"
          example: ""
        changingUnit:
          type: string
          pattern: '\w*\W*'
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por mês"
          
  #### InterestRates ####
    InterestRates:
      type: object
      properties:
        rate:
          type: string
          pattern: '(-?[1-9]?\d{1,2}){1}(\,\d{1,2}){1}'
          maxLength: 7
          description: "Percentual que incide sobre a composição das taxas de juros remuneratórias"
          example: ""
        referencialRate:
          type: string
          pattern: '(-?[1-9]?\d{1,2}){1}(\,\d{1,2}){1}'
          maxLength: 10
          description: "Taxa Referencial se configura como uma taxa de juros de referência, ou seja, um indicador geral da economia brasileira. Por isso, é utilizada na hora de calcular o rendimento de determinadas aplicações financeiras"
          example: ""
        indexer:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Indexador é o termo utilizado para se referir aos índices usados como base para corrigir os valores monetários de um determinado ativo. No Brasil, os indexadores mais comuns são o IPCA, a taxa Selic e o CDI"
          example: "IPCA"
        prePostTax:
          type: string
          pattern: '^(\d{1})$'
          enum: 
            - PRE
            - POS
          description: "Indicador de pré ou pós"
          example: "PRE"
        frecuency:
          type: string
          pattern: '^(a\.[d,m,a]\.){1}$'
          enum: 
            - AD
            - AM
            - AA
          description: "Código que indica Frequência sobre a qual incide a Remuneração"
          example: "AD"
        incomeRateInfo:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Descrição da Remuneração relativa as taxas de juros remuneratóriassobre a modalidad de Empréstimo para pessoa física/jurídica"
          example: ""

  
  ############
  ##  CNPJ  ##
  ############
    CNPJ:
      type: object
      properties:
        cnpjNumber:
          type: string
          pattern: '(\d{2})\.(\d{3})\.(\d{3})'
          description: CNPJ
          maxLength: 14
          example: 50.685.362/0001-35
      required:
        - cnpjNumber   
        

  ####################
  ##  Links & Meta  ##
  ####################
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        first:
          type: string
          description: URL da primeira página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages