openapi: 3.0.0
info:
  title: API Exchange and Acquiring Services - Open Banking Brasil
  description: |
    API de Câmbio e Credenciamento do Open Banking Brasil – Fase 4.
    API que retorna informações de Câmbio e Credenciamento.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/exchange-and-acquiring-services/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/exchange-and-acquiring-services/v1'
    description: Servidor de Homologação
tags:
  - name: Exchange
    description: Operações para obter as informações de Câmbio.
  - name: AcquiringServices
    description: Operações para obter as informações de Credenciamento.
paths:
  /exchange:
    get:
      tags:
        - Exchange
      summary: Conjunto de informações de Câmbio.
      operationId: getExchange
      description: Método para disponibilizar o valor VET.
      responses:
        '200':
          $ref: '#/components/responses/OKResponseExchange'
        default:
          $ref: '#/components/responses/OKResponseExchange'
  /acquiring-services:
    get:
      tags:
        - AcquiringServices
      summary: Conjunto de informações de Credenciamento.
      operationId: getAcquiringServices
      description: Método para disponibilizar as taxas e tarifas por serviços.
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAcquiringServices'
        default:
          $ref: '#/components/responses/OKResponseAcquiringServices'
components:
  schemas:
    OKResponseExchange:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: Conjunto de informações referentes às informações de câmbio
          required:
            - participantIdentification
            - transactionType
            - foreignCurrency
          properties:
            participantIdentification:
              type: object
              description: Objeto de identificação do participante OB.
              required:
                - brand
                - name
                - cnpjNumber
              properties:
                brand:
                  type: string
                  pattern: '[\w\W\s]*'
                  maxLength: 120
                  example: NA
                  description: |
                    Nome da Marca reportada pelo participante do Open Banking.  
                name:
                  type: string
                  pattern: '[\w\W\s]*'
                  maxLength: 120
                  example: NA
                  description: |
                    Nome da Instituição, pertencente à Marca, responsável pela Dependência. 
                cnpjNumber:
                  type: string
                  pattern: '[\d]*'
                  maxLength: 14
                  example: NA
                  description: |
                    Número completo do CNPJ da instituição responsável pela dependência o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. 
              additionalProperties: false
            transactionType:
              type: string
              description: |
                "Determina se o Banco está comprando ou vendendo a moeda estrangeira nas operações
                spot,  que se liquidam em até dois dias (não aplica-se a operações futuras. (Vide Enum)
                - Compra
                - Venda
              maxLength: 6
              enum:
                - COMPRA
                - VENDA
              example: COMPRA
            foreignCurrency:
              type: string
              description: |
                "É a moeda estrangeira, segundo modelo ISO 4217. (Vide Enum)
                - USD
                - EUR
              maxLength: 3
              enum:
                - USD
                - EUR
              example: USD
            transactionCategory:
              type: string
              description: 'A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013.'
              maxLength: 68
              enum:
                - COMERCIO_EXTERIOR
                - TRANSPORTE
                - SEGUROS
                - VIAGENS_INTERNACIONAIS
                - TRANSFERENCIAS_UNILATERAIS
                - SERVICOS_DIVERSOS
                - RENDAS_DE_CAPITAIS
                - CAPITAIS_BRASILEIROS
                - CAPITAIS_ESTRANGEIROS
                - PRESTACAO_DE_SERVICO_DE_PAGAMENTO_OU_TRANSFERENCIA_INTERNACIONAL_EFX
              example: COMERCIO_EXTERIOR
            deliveryForeignCurrency:
              type: string
              description: |
                "A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013. (Vide Enum)
                - ESPECIE_CARTAO_PRE_PAGO
                - TELETRANSMISSAO_SWIFT
              maxLength: 23
              enum:
                - ESPECIE_CARTAO_PRE_PAGO
                - TELETRANSMISSAO_SWIFT
              example: ESPECIE_CARTAO_PRE_PAGO
            rangeTransactionCategory:
              type: string
              description: A classificação conforme a circular BCB nº 4015.
              maxLength: 17
              enum:
                - '0,01_200'
                - '200,01_500'
                - '500,01_1.000'
                - '1.000,01_3.000'
                - '3.000,01_10.000'
                - '10.000,01_30.000'
                - '30.000,01_100.000'
              example: '0,01_200'
            targetAudience:
              type: string
              description: Média das operações PF/PJ.
              maxLength: 5
              enum:
                - PF
                - PJ
                - PF_PJ
              example: PF
            vetAmount:
              type: number
              example: 5.5023
            onlineRate:
              type: array
              items:
                type: object
                description: Taxa disponibilizada (taxa online) pelas instituições no formato D+0/D+2 (valor U$100.000 operações câmbio pronto) separado por moeda dólar e euro compra e venda PF/PJ.
                required:
                  - term
                  - foreignCurrency
                  - transactionType
                  - targetAudience
                  - value
                properties:
                  term:
                    type: string
                    pattern: 'D+[0-9]*'
                    maxLength: 3
                    example: D+2
                    description: |
                      Formato da taxa online.  
                  foreignCurrency:
                    $ref: '#/paths/~1exchange/get/responses/200/content/application~1json/schema/properties/data/properties/foreignCurrency'
                  transactionType:
                    $ref: '#/paths/~1exchange/get/responses/200/content/application~1json/schema/properties/data/properties/transactionType'
                  targetAudience:
                    $ref: '#/paths/~1exchange/get/responses/200/content/application~1json/schema/properties/data/properties/targetAudience'
                  value:
                    type: number
                    example: 5.5023
                additionalProperties: false
          additionalProperties: false
        links:
          type: object
          description: Referências para outros recusos da API requisitada.
          required:
            - self
          properties:
            self:
              type: string
              format: uri
              maxLength: 2000
              description: URI completo que gerou a resposta atual.
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            first:
              type: string
              format: uri
              maxLength: 2000
              description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            prev:
              type: string
              format: uri
              maxLength: 2000
              description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            next:
              type: string
              format: uri
              maxLength: 2000
              description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            last:
              type: string
              format: uri
              maxLength: 2000
              description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          additionalProperties: false
      additionalProperties: false
    OKResponseAcquiringServices:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          description: Conjunto de informações referentes às informações de credenciamento
          required:
            - name
            - code
            - chargingTriggerInfo
          properties:
            name:
              type: string
              enum:
                - TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO
                - TAXA_DE_DESCONTO_NA_MODALIDADE_DEBITO
              example: TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO
              description: |
                Nome da tarifa cobrada sobre o serviço de credenciamento, para pessoa física/jurídica.
                1. Taxa de Desconto na Modalidade Crédito
                2. Taxa de Desconto na Modalidade Débito
            code:
              type: string
              enum:
                - MDR_CREDITO
                - MDR_DEBITO
              example: MDR_CREDITO
              description: |
                Sigla da Tarifa cobrada sobre o Serviço de Credenciamento informado.
            price:
              type: array
              description: '4 Faixas de igual tamanho, com suas respectivas medianas e percentuais de clientes.'
              required:
                - interval
                - value
                - rate
              properties:
                interval:
                  type: string
                  enum:
                    - 1_FAIXA
                    - 2_FAIXA
                    - 3_FAIXA
                    - 4_FAIXA
                  example: 1_FAIXA
                  description: |
                    Identificação do intervalo a ser exibido.
                value:
                  type: number
                  example: 0.0203
                rate:
                  type: number
                  example: 0.5
              additionalProperties: false
            chargingTriggerInfo:
              type: string
              pattern: '[\w\W\s]*'
              maxLength: 200
              example: NA
              description: |
                Recebimento através de transação de cartão.
            minimum:
              type: number
            maximum:
              type: number
          additionalProperties: false
        links:
          $ref: '#/components/schemas/OKResponseExchange/properties/links'
      additionalProperties: false
  responses:
    OKResponseAcquiringServices:
      description: Taxas e tarifas por serviços obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseAcquiringServices'
    OKResponseExchange:
      description: Dados de operações de câmbio da instituição obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseExchange'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 13
                items:
                  type: object
                  required:
                    - code
                    - title
                    - detail
                  properties:
                    code:
                      description: Código de erro específico do endpoint
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    title:
                      description: Título legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    detail:
                      description: Descrição legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 2048
                  additionalProperties: false
              meta:
                type: object
                description: Meta informações referente à API requisitada.
                required:
                  - totalRecords
                  - totalPages
                  - requestDateTime
                properties:
                  totalRecords:
                    type: integer
                    format: int32
                    description: Número total de registros no resultado
                    example: 1
                  totalPages:
                    type: integer
                    format: int32
                    description: Número total de páginas no resultado
                    example: 1
                  requestDateTime:
                    description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                    type: string
                    maxLength: 20
                    format: date-time
                    example: '2021-05-21T08:30:00Z'
                additionalProperties: false
            additionalProperties: false
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
