openapi: 3.0.0
info:
  title: API Capitalization-bonds - Open Banking Brasil
  description: |
    As APIs descritas neste documento é referente a API de Capitalização da fase OpenInsurance do Open Banking Brasil.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/capitalization-bonds/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/capitalization-bonds/v1'
    description: Servidor de Homologação
tags:
  - name: Capitalization Bonds
    description: Operações para consulta das informações de Titulos de Capitalização
paths:
  /products:
    get:
      tags:
        - Capitalization Bonds
      summary: Conjunto de informações dos Títulos de Capitalização de uma instuição
      operationId: capitalizationBondsGetProducts
      description: Método para obter a lista de todos os títulos de Capitalização de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCapitalizationBondsProductsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    EnumCapitalizationBondsProductPaymentFrequency:
      type: string
      description: |
        Pagamento efetuado ao subscritor à sociedade de capitalização para aquisição do título de capitalização, podendo ser única, periódica ou mensal.
        1. Pagamento Único
        2. Pagamento Mensal
        3. Pagamento Periódico
      minLength: 15
      maxLength: 19
      enum:
        - PAGAMENTO_UNICO
        - PAGAMENTO_MENSAL
        - PAGAMENTO_PERIODICO
      example: PAGAMENTO_UNICO
    TermsAndConditions:
      type: object
      description: Conjunto de informações relativas ao Título de Capitalização
      required:
        - susepNumber
        - generalConditions
      properties:
        susepNumber:
          type: string
          description: 'Sequência numérica utilizada para consulta dos processos eletrônicos na SUSEP com caracteres especiais, conforme campo de consulta no site da SUSEP(15414.6XXXXX/AAAA-DV).'
          maxLength: 20
          example: 15414.622222/2222-22
        generalConditions:
          type: string
          description: |
            Conjunto de cláusulas que regem um mesmo título de capitalização, estabelecendo obrigações e direitos, da sociedade de capitalização, do titular, e do subscritor. Campo aberto (possibilidade de incluir URL).
            Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance foi adotado a metade deste tamanho (1024 caracteres).
          maxLength: 1024
          example: 'https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf'
      additionalProperties: false
    CapitalizationPeriod:
      type: object
      description: Conjunto de informações relativas ao Título de Capitalização
      required:
        - interestRate
        - adjustmentIndex
        - contributionAmount
        - earlyRedemption
        - finalRedemptionRate
        - redemptionGraceMonths
      properties:
        interestRate:
          type: number
          format: double
          description: 'Taxa que remunera a parte da mensalidade destinada a formar o Capital, ou seja, a Provisão Matemática de Resgate, também chamada de saldo de capitalização. Em porcentagem ao mês (% a.m.).'
          maxLength: 6
          example: 0.25123
        adjustmentIndex:
          $ref: '#/components/schemas/ContributionPayment/properties/adjustmentIndex'
        adjustmentIndexOthers:
          type: string
          description: Lista string a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘Índice de atualização’.
          maxLength: 10
          example: ''
        contributionAmount:
          type: object
          description: |
            Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20).
          required:
            - periodicity
          properties:
            periodicity:
              $ref: '#/components/schemas/PrizeDraw/properties/periodicity'
            periodicityOthers:
              type: string
              description: Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘periodicity’.
              maxLength: 20
              example: ''
            minimum:
              type: number
              description: |
                Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.
                Na modalidade Tradicional, informar a faixa de valor mínimo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.
              maxLength: 200
              example: 500
            maximum:
              type: number
              description: |
                Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.
                Na modalidade Tradicional, informar a faixa de valor máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.
              maxLength: 200
              example: 5000
            allowed:
              type: array
              description: |
                Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.
                Na modalidade Tradicional, informar a faixa de valor mínimo e máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.
              items:
                type: number
                example: 500
          additionalProperties: false
        earlyRedemptions:
          type: array
          description: |
            Possibilidade de o titular efetuar o resgate do capital constituído antes do fim do prazo de vigência do título, 
            podendo ocorrer por solicitação expressa do titular ou por contemplação em sorteio com liquidação antecipada (Resolução CNSP 384/20). 
            Em percentuais a cada parcela (meses de vigência) Obs: No caso de garantia, não contempla a extinção antecipada do contrato.
          minItems: 0
          items:
            type: object
            description: Conjunto de informações relativas ao Resgate Antecipado
            required:
              - tranche
              - rate
            properties:
              tranche:
                type: number
                description: Parcela relativa ao Resgate Antecipado
                maxLength: 3
                example: 1
              rate:
                type: number
                format: double
                description: Taxa relativa ao Resgate Antecipado
                maxLength: 9
                example: 10.000001
            additionalProperties: false
        finalRedemptionRate:
          type: number
          format: double
          description: 'Percentual mínimo da soma das contribuições efetuadas que poderá ser resgatado ao final da vigência, tendo como condição os pagamentos das parcelas nos respectivos vencimentos.'
          maxLength: 6
          example: 100.002
        redemptionGraceMonths:
          type: number
          description: 'Intervalo de tempo mínimo entre contratação e resgate do direito, em meses.'
          maxLength: 3
          example: 999
      additionalProperties: false
    LatePayment:
      type: object
      description: Conjunto de informações relativas aos Títulos de Capitalização
      required:
        - suspensionMonths
        - periodExtensionOption
      properties:
        suspensionMonths:
          type: number
          description: 'Conforme manual SUSEP: Prazo máximo (contínuo ou intermitente) em dias em meses que o título fica suspenso por atraso de pagamento, antes de ser cancelado (não aplicável a pagamento único).'
          maxLength: 3
          example: 999
        periodExtensionOption:
          $ref: '#/components/schemas/PrizeDraw/properties/mandatoryDraw'
      additionalProperties: false
    ContributionPayment:
      type: object
      description: Conjunto de informações relativas aos Títulos de Capitalização
      required:
        - paymentMethod
        - adjustmentIndex
      properties:
        paymentMethod:
          type: string
          maxLength: 33
          enum:
            - CARTAO_DE_CREDITO
            - CARTAO_DE_DEBITO
            - DEBITO_EM_CONTA_CORRENTE
            - DEBITO_EM_CONTA_POUPANCA
            - BOLETO_BANCARIO
            - PIX
            - CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO
            - PONTOS_DE_PROGRAMAS_DE_BENEFICIO
            - OUTROS
          example: CARTAO_DE_CREDITO
          description: |
            Meio de Pagamento utilizado para pagamento da contribuição. A considerar os domínios abaixo:
              1. Cartão de Crédito
              2. Cartão de Débito
              3. Débito em conta corrente
              4. Débito em conta poupança
              5. Boleto bancário
              6. PIX
              7. Consignação em Folha de Pagamento
              8. Pontos de Programas de Benefício
              9. Outros
        paymentMethodOthers:
          type: string
          description: Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘paymentMethod’.
          maxLength: 20
          example: ''
        adjustmentIndex:
          type: string
          maxLength: 33
          enum:
            - IPCA_IBGE
            - IGPM_FGV
            - INPC_IBGE
            - TR_BC
            - INDICE_DE_REMUNERACAO_DOS_DEPOSITOS_DE_POUPANCA
            - OUTROS
          example: IPCA_IBGE
          description: |
            Índice utilizado na correção que remunera a provisão matemática para capitalização.
              1. IPCA (IBGE)
              2. IGP M (FGV)
              3. INPC (IBGE)
              4. TR (BC)
              5. Índice de remuneração dos depósitos de poupança
              6. Outros
        adjustmentIndexOthers:
          type: string
          description: Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘adjustmentIndex’.
          maxLength: 20
          example: ''
      additionalProperties: false
    PrizeDraw:
      type: object
      description: Conjunto de informações relativas aos Títulos de Capitalização
      required:
        - periodicity
        - quantity
        - prizeMultiplier
        - earlyRedemption
        - mandatoryDraw
        - additionalConditions
        - minimumProbability
      properties:
        periodicity:
          type: string
          maxLength: 33
          enum:
            - UNICO
            - DIARIO
            - SEMANAL
            - QUINZENAL
            - MENSAL
            - BIMESTRAL
            - TRIMESTRAL
            - QUADRIMESTRAL
            - SEMESTRAL
            - ANUAL
            - OUTROS
          example: SEMANAL
          description: |
            Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:
              Único
              Diário
              Semanal
              Quinzenal
              Mensal
              Bimestral
              Trimestral
              QuadrimestraL
              Semestral
              Anual
              Outros
        periodicityOthers:
          type: string
          description: Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘periodicity’.
          maxLength: 20
          example: ''
        quantity:
          type: number
          description: Número da quantidade de sorteios previstos ao longo da vigência.
          maxLength: 5
          example: 99999
        prizeMultiplier:
          type: number
          description: 'Valor dos sorteios representado por múltiplo do valor de contribuição. Por exemplo: 5 vezes valor da contribuição'
          maxLength: 6
          example: 999999
        earlyRedemption:
          $ref: '#/components/schemas/PrizeDraw/properties/mandatoryDraw'
        mandatoryDraw:
          type: string
          maxLength: 3
          enum:
            - SIM
            - NAO
          example: SIM
          description: 'Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).'
        additionalConditions:
          type: string
          description: 'Campo aberto para complementar a regra dos sorteios do produto, a ser feita para cada participante.'
          maxLength: 200
          example: Sorteio aos Sábados
        minimumProbability:
          type: number
          format: double
          description: 'Número representativo da probabilidade mínima de contemplação nos sorteios, em porcentagem (%).'
          maxLength: 7
          example: 0.000001
      additionalProperties: false
    EnumTargetAudience:
      type: string
      maxLength: 15
      enum:
        - PESSOA_NATURAL
        - PESSOA_JURIDICA
      example: PESSOA_NATURAL
      description: 'Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.'
  parameters:
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        format: int32
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
        format: int32
        maximum: 1000
  responses:
    OKResponseCapitalizationBondsProductsList:
      description: Dados de título(s) de capitalização obtidos com sucesso.
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - links
              - meta
            properties:
              data:
                type: array
                description: Conjunto de informações do Título de Capitalização
                items:
                  type: object
                  description: Conjunto de informações do Título de Capitalização
                  required:
                    - product
                    - termsAndConditions
                    - quotas
                    - periodMonths
                    - capitalizationPeriod
                    - latePayment
                    - contributionPayment
                    - finalRedemptionRate
                    - draws
                    - additionalInfo
                    - minimumRequirement
                    - targetAudience
                  properties:
                    product:
                      type: object
                      description: Conjunto de informações relativas aos Títulos de Capitalização
                      required:
                        - name
                        - productId
                        - modality
                        - paymentTerm
                      properties:
                        name:
                          type: string
                          description: 'Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.'
                          maxLength: 80
                          example: ACMEcap
                        productId:
                          type: string
                          description: Código único a ser definido pela sociedade.
                          maxLength: 80
                          example: 01234589_cap
                        modality:
                          type: string
                          description: |
                            1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)
                            2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)
                            3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)
                            4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)
                            5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)
                            6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)
                          minLength: 7
                          maxLength: 24
                          enum:
                            - TRADICIONAL
                            - INSTRUMENTO_DE_GARANTIA
                            - COMPRA_PROGRAMADA
                            - POPULAR
                            - INCENTIVO
                            - FILANTROPIA
                            - PREMIAVEL
                          example: TRADICIONAL
                        paymentTerm:
                          $ref: '#/components/schemas/EnumCapitalizationBondsProductPaymentFrequency'
                      additionalProperties: false
                    termsAndConditions:
                      $ref: '#/components/schemas/TermsAndConditions'
                    quotas:
                      type: array
                      description: Informações relativas às taxas da Quotas praticadas para cada Parcela
                      minItems: 0
                      items:
                        type: object
                        description: Conjunto de informações relativas ao Título de Capitalização
                        required:
                          - tranche
                          - capitalization
                          - drawing
                          - loadingRate
                        properties:
                          tranche:
                            type: integer
                            description: Número da parcela.
                            maxLength: 3
                            example: 999
                          capitalization:
                            type: number
                            format: double
                            description: Percentual da contribuição destinado à constituição de capital referente ao direito de resgate. (Resolução CNSP 384/20) Em porcentagem(%).
                            maxLength: 9
                            example: 10.000001
                          drawing:
                            type: number
                            format: double
                            description: 'Percentual da contribuição destinado a custear os sorteios, se previstos no plano. (Resolução CNSP 384/20) Em porcentagem(%).'
                            maxLength: 9
                            example: 10.000001
                          loadingRate:
                            type: number
                            format: double
                            description: 'Percentual da contribuição destinado aos custos de despesas com corretagem, colocação e administração do título de capitalização, emissão, divulgação, lucro da sociedade de capitalização e eventuais despesas relativas ao custeio da contemplação obrigatória e da distribuição de bônus. (Resolução CNSP 384/20) Em porcentagem(%).'
                            maxLength: 9
                            example: 10.000001
                        additionalProperties: false
                    periodMonths:
                      type: number
                      description: Período entre a data de início e a data final para constituição do capital a ser pago ao(s) titular(es) do direito de resgate. Prazo de vigência do título de capitalização em meses (Resolução CNSP 384/20). Em meses.
                      maxLength: 3
                      example: 999
                    serieSize:
                      type: integer
                      description: 'Os títulos de capitalização que prevejam sorteio devem ser estruturados em séries, ou seja, em sequências ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.'
                      maxLength: 10
                      example: 5000000000
                    capitalizationPeriod:
                      $ref: '#/components/schemas/CapitalizationPeriod'
                    latePayment:
                      $ref: '#/components/schemas/LatePayment'
                    contributionPayment:
                      $ref: '#/components/schemas/ContributionPayment'
                    finalRedemptionRate:
                      type: number
                      format: double
                      description: Valor percentual (%) de resgate final permitido.
                      maxLength: 5
                      example: 151.23
                    draws:
                      type: array
                      description: Informações relativas aos Sorteios
                      minItems: 0
                      items:
                        $ref: '#/components/schemas/PrizeDraw'
                    additionalInfo:
                      type: string
                      description: 'Campo aberto (possibilidade de incluir URL) Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). tamanho p.ex.  ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.'
                      maxLength: 1024
                      example: 'https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais'
                    minimumRequirements:
                      type: string
                      description: |
                        Campo aberto (possibilidade de incluir URL).
                        Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). 
                        tamanho. p.ex. ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.’
                      maxLength: 1024
                      example: 'https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais'
                    targetAudience:
                      type: array
                      description: 'Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.'
                      minItems: 0
                      items:
                        $ref: '#/components/schemas/EnumTargetAudience'
                  additionalProperties: false
                minItems: 0
              links:
                type: object
                description: Referências para outros recusos da API requisitada.
                required:
                  - self
                properties:
                  self:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: URI completo que gerou a resposta atual.
                    example: 'https://api.banco.com.br/open-banking/api/v1/resource'
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                  first:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                    example: 'https://api.banco.com.br/open-banking/api/v1/resource'
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                  prev:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                    example: 'https://api.banco.com.br/open-banking/api/v1/resource'
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                  next:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                    example: 'https://api.banco.com.br/open-banking/api/v1/resource'
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                  last:
                    type: string
                    format: uri
                    maxLength: 2000
                    description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                    example: 'https://api.banco.com.br/open-banking/api/v1/resource'
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                additionalProperties: false
              meta:
                type: object
                description: Meta informações referente à API requisitada.
                required:
                  - totalRecords
                  - totalPages
                  - requestDateTime
                properties:
                  totalRecords:
                    type: integer
                    format: int32
                    description: Número total de registros no resultado
                    example: 1
                  totalPages:
                    type: integer
                    format: int32
                    description: Número total de páginas no resultado
                    example: 1
                  requestDateTime:
                    description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                    type: string
                    maxLength: 20
                    format: date-time
                    example: '2021-05-21T08:30:00Z'
                additionalProperties: false
            additionalProperties: false
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 13
                items:
                  type: object
                  required:
                    - code
                    - title
                    - detail
                  properties:
                    code:
                      description: Código de erro específico do endpoint
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    title:
                      description: Título legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    detail:
                      description: Descrição legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 2048
                  additionalProperties: false
              meta:
                $ref: '#/paths/~1products/get/responses/200/content/application~1json/schema/properties/meta'
            additionalProperties: false
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
