openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0
servers:
  - url: http://api.banco.com.br/open-banking/product-services/v1
  
###############
## Endpoints ##
###############
paths:
  /personal-accounts:
    get:
      tags:
      - "Personal Accounts"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/PersonalAccountsResponse'

  /business-accounts:
    get:
      tags:
      - "Business Accounts"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BusinessAccountsResponse'                
                
components:
  ###############
  ##  Schemas  ##
  ###############
  schemas:
  
  ##############################
  ##  Commons - Accounts  ##
  ##############################
  
  ##### AccountsTermsConditions #####
    AccountsTermsConditions:
      type: object
      required:
        - minimumBalance
        - minimumBalanceCurrency
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumBalance:
          type: number
          description: "Saldo mínimo exigido nos Termos e condições contratuais, que regem as contas comercializadas."
          example: 25.5
        minimumBalanceCurrency:
          type: string
          maxLength: 3
          description: "Moeda referente ao saldo mínimo exigido, segundo modelo ISO-4217"
          example: "BRL"
        elegibilityCriteriaInfo:
          type: string
          maxLength: 1000
          description: "Critérios de elegibilidade para a aquisição do tipo de conta comercializado."
        closingProcessInfo:
          type: string
          maxLength: 2000
          description: "Procedimentos de encerramento para o tipo de conta tratado."
          example: "www.banco.com.br/cancelamento-conta"
          
  ##### AccountsIncomeRates #####
    AccountsIncomeRates:
      type: object
      properties:
        rate:
          type: string
          maxLength: 7
          description: "Valor do percentual que corresponde a taxa de remuneração prevista para a conta do tipo 'poupança'."
        referencialRate:
          type: string
          maxLength: 7
          description: "Taxa Referencial se configura como uma taxa de juros de referência, ou seja, um indicador geral da economia brasileira. Por isso, é utilizada na hora de calcular o rendimento de determinadas aplicações financeiras"
        indexer:
          type: string
          enum: [
            "IPCA"
            ,"SELIC"
            ,"CDI"
          ]
          description: "Lista de Indexadores. Indexador é o termo utilizado para se referir aos índices usados como base para corrigir os valores monetários de um determinado ativo. No Brasil, os indexadores mais comuns são o IPCA, a taxa Selic e o CDI"
          example: "CDI"
        prePostTax:
          type: string
          enum: [
            "PRE"
            ,"POS"
          ]
          description: "Indicador de indexador pré ou pós fixado. A diferença básica é que, enquanto o prefixado apresenta rentabilidade definida, o pós-fixado acompanha algum indicador. Assim, quem investe no primeiro grupo sabe como será seu rendimento previamente, enquanto quem investe no segundo, só conhecerá os resultados na data de vencimento."
          example: "PRE"
        frequency:
          type: string
          enum: [
            "A_D"
            ,"A_M"
            ,"A_A"
          ]
          description: "Código que indica Frequência sobre a qual incide a Remuneração"
          example: "A_D"
        additionalInfo:
          type: string
          maxLength: 2000
          description: "Descrição da Remuneração"
  
   ##### AccountOtherServicesPrice ##### 
    AccountOtherServicesPrice:
      type: object
      required: 
        - type
        - value
        - currency
      properties:
        type:
          type: string
          enum: [
            "MINIMO"
            ,"MEDIO"
            ,"MAXIMO"
          ]
          description: "Indica os tipos: mínimo, médio e máximo do valor informado"
          example: "MEDIO"
        value:
          type: number
          description: "Valor da tarifa cobrada referente aos Outros Serviços"
          example: 45.00
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor máximo da tarifa conforme ISO-4217"
          example: "BRL"

  ############################
  ##  Personal Accounts ##
  ############################  
  
  ##### ResponsePersonalAccounts #####
    PersonalAccountsResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - organisation
          properties:
            organisation:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  description: "Nome do conglomerado proprietário da companhia responsável pelOs tipos de contas de pessoas físicas cosultadas."
                  example: "The Big Bank Organisation"
                companies:
                  type: array
                  items:
                    required: 
                      - name
                      - cnpjNumber
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à organização, responsável pela comercialização dos tipos de contas de pessoas físicas cosultadas."
                        example: "The Big Bank Company"
                      cnpjNumber:
                        type: string
                        minLength: 14
                        maxLength: 14
                        description: "Número completo do CNPJ da instituição responsável pelos  tipos de contas de pessoas físicas cosultadas."
                        example: "54672317000101"
                      personalAccounts:
                        type: array
                        items:
                          required:
                            - type
                            - fees
                            - termsConditions
                            - incomeRates
                          properties:
                            name:
                              type: string
                              enum: [
                                  "CONTA_DEPOSITO_VISTA"
                                  ,"CONTA_POUPANCA"
                                  ,"CONTA_PAGAMENTO_PRE_PAGA"
                                ]
                              description: "Tipos de contas ofertadas para pessoas Físicas, conforme Resolução 3.919 do Bacen."
                              example: "Conta de depósito à vista"
                            fees:
                              type: object
                              required:
                                - priorityServices
                              properties:
                                priorityServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalAccountsPriorityServices'
                                otherServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalAccountsOtherServices'
                            termsConditions:
                              $ref: '#/components/schemas/AccountsTermsConditions'
                            incomeRates:
                              $ref: '#/components/schemas/AccountsIncomeRates'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
          
  ##### PersonalAccountsPriorityServices #####
    PersonalAccountsPriorityServices:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - maxPrice
        - currency
        - chargingUnit
      properties:
        name:
          type: string
          enum: [
            "CONFECCAO_CADASTRO"
            ,"CARTAO"
            ,"FORNECIMENTO_SEG_VIA_CARTAO_DEBITO"
            ,"FORNECIMENTO_SEG_VIA_CARTAO_CONTA_POUPANCA"
            ,"CHEQUE"
            ,"EXCLUSAO_CADASTRO_CHEQUE_SEM_FUNDOS"
            ,"CONTRA_ORDEM_REVOGACAO_SUSTACAO_PAGAMENTO_CHEQUE"
            ,"FORNECIMENTO_FOLHAS_CHEQUE"
            ,"CHEQUE_ADMINISTRATIVO"
            ,"CHEQUE_VISADO"
            ,"SAQUE"
            ,"SAQUE_CONTA_DEPOSITOS_VISTA_POUPANCA"
            ,"DEPOSITO"
            ,"DEPOSITO_IDENTIFICADO"
            ,"CONSULTA"
            ,"FORNECIMENTO_EXTRATO_MENSAL_CONTA_VISTA_POUPANCA"
            ,"FORNECIMENTO_EXTRATO_PERIODO_CONTA_VISTA_POUPANCA"
            ,"FONECIMENTO_COPIA_MICROFILME_MICROFICHA_ASSEMELHADO"
            ,"TRANSFERENCIA_DOC"
            ,"TRANSFERENCIA_TED"
            ,"TRANSFERENCIA_AGENDADA_DOC_TED"
            ,"TRANSFERENCIA_ENTRE_CONTAS_PROPRIA_INSTITUICAO"
            ,"ORDEM_PAGAMENTO"
          ]
          description: "Nome das Tarifas cobradas sobre Serviços Prioritários para os tipos de contas comercializadas para pessoa física. A Lista corresponde às relacionadas na Resolução 3919 do Bacen."
          example: "FORNECIMENTO_EXTRATO_MENSAL_CONTA_VISTA_POUPANCA"
        code:
          type: string
          enum: [
            "CADASTRO"
            ,"SEGUNDA_VIA_CARTAO_DEBITO"
            ,"SEGUNDA_VIA_CARTAO_POUPANCA"
            ,"EXCLUSAO_CCF"
            ,"SUSTACAO_REVOGACAO"
            ,"FOLHA_CHEQUE"
            ,"CHEQUE_ADMINISTRATIVO"
            ,"CHEQUE_VISADO"
            ,"SAQUE_PESSOAL"
            ,"SAQUE_TERMINAL"
            ,"SAQUE_CORRESPONDENTE"
            ,"DEPOSITO_IDENTIFICADO"
            ,"EXTRATO_MES_P"
            ,"EXTRATO_MES_E"
            ,"EXTRATO_MES_C"
            ,"EXTRATO_MOVIMENTO_P"
            ,"EXTRATO_MOVIMENTO_E"
            ,"EXTRATO_MOVIMENTO_C"
            ,"MICROFILME"
            ,"DOC_PESSOAL"
            ,"DOC_ELETRONICO"
            ,"DOC_INTERNET"
            ,"TED_PESSOAL"
            ,"TED_ELETRONICO"
            ,"TED_INTERNET"
            ,"DOC_TED_AGENDADO_P"
            ,"DOC_TED_AGENDADO_E"
          ]
          description: "Sigla de identificação do Serviço Prioritário, segundo Resolução 3.919 do Bacen."
          example: "EXTRATO_MOVIMENTO_P"
        chargingTriggerInfo:
          type: string
          description: "Fatores geradores de cobrança dos Serviços Prioritários que incidem sobre as contas comercializadas, conforme Resolução 3.919 do Bacen."
          example: "CHEQUE_ADMINISTRATIVO"
        maxPrice:
          type: number
          description: "Valor máximo para a tarifa cobrada, referente ao Serviço Prioritário."
          example: 45.00
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor da tarifa conforme ISO-4217"
          example: "BRL"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por depósito recebido"
          
  ##### PersonalAccountsOtherServices #####
    PersonalAccountsOtherServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - chargingUnit
        - price
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nome atribuído a Outros Serviços disponíveis para os tipos de contas informados. Outros Serviços são quaisquer serviços que a instituição ofereça para a modalidade de Contas e não estejam definidos na lista de Serviços Prioritários definidos na resolução 3.919 do Bacen."
          example: "Evento personalizado"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas informados."
          example: "EVENTO_PERSONALIZADO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Outros Fatores geradores de cobrança referentes aos Outros Serviços que incidem sobre as contas comercializadas."
          example: "Cobrança devido a evento personalizado"
        price:
          $ref: '#/components/schemas/AccountOtherServicesPrice'
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor da tarifa conforme ISO-4217"
          example: "BRL"
        additionalInfo:
          type: string
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa"
          example: "0,5% do valor do orçamentor"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por depósito recebido"         
 
  ############################
  ##  Business Accounts ##
  ############################  
  
  ##### ResponseBusinessAccounts #####
   
 
  ####################
  ##  Links & Meta  ##
  ####################
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        first:
          type: string
          description: URL da primeira página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
 