openapi: "3.0.0"
info:
  title: "API de Consentimentos do Open Banking Brasil."
  description: "API que trata da criação, consulta e revogação de consentimentos para o Open Banking Brasil- Fase 2 e posteriores."
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil - Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/consents/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/consents/v1'
    description: Servidor de Homologação  
tags:
  - name: Consents
    description: "Operações para manipulação do consentimento dado pelo cliente."    
paths:
  /consents:
    post:
      tags:
        - "Consents"
      summary: "Criar consentimento."
      description: "Método para a criação de um novo consentimento."
      operationId: "createConsents"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBReadConsent1"
          application/json:
            schema:
              $ref: "#/components/schemas/OBReadConsent1"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBReadConsent1"
        description: "Default"
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201ConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - OAuth2Security:
            - "consents"
  /consents/{consentId}:
    get:
      tags:
        - "Consents"
      summary: "Obter detalhes do consentimento identificado por consentId."
      description: "Método para obter detalhes do consentimento identificado por consentId."
      operationId: "getConsentsConsentId"
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200ConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"          
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - OAuth2Security:
            - "consents"
    delete:
      tags:
        - "Consents"
      summary: "Deletar/revogar o consentimento identificado por consentId."
      description: "Método para deletar/revogar o consentimento identificado por consentId."
      operationId: "deleteConsentsConsentId"
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "204":
          $ref: "#/components/responses/204ConsentsConsentIdDeleted"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"            
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - OAuth2Security:
            - "consents"
components:
  parameters:
    ConsentId:
      name: "consentId"
      in: "path"
      description: "Identificador do consentimento."
      required: true
      schema:
        type: "string"
        pattern: ^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$
    Authorization:
      in: "header"
      name: "Authorization"
      required: true
      description: "An Authorisation Token as per https://tools.ietf.org/html/rfc6750"
      schema:
        type: "string"
    x-customer-user-agent:
      in: "header"
      name: "x-customer-user-agent"
      description: "Indica o user-agent que o usuário utiliza."
      required: false
      schema:
        type: "string"
    x-fapi-customer-ip-address:
      in: "header"
      name: "x-fapi-customer-ip-address"
      required: false
      description: |
        O endereço IP do usuário se estiver atualmente logado com o receptor.
      schema:
        type: "string"
    x-fapi-auth-date:
      in: "header"
      name: "x-fapi-auth-date"
      required: false
      description: |
        Data em que o usuário logou pela última vez com o receptor.  
        Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).
          Exemplo: Sun, 10 Sep 2017 19:43:31 UTC 
      schema:
        type: "string"
        pattern: "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \\d{4} \\d{2}:\\d{2}:\\d{2} (GMT|UTC)$"
    x-fapi-interaction-id:
      in: "header"
      name: "x-fapi-interaction-id"
      required: false
      description: |
        Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
        Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.
      schema:
        type: "string"
    x-idempotency-key:
      name: "x-idempotency-key"
      in: "header"
      description: |
        Cabeçalho HTTP personalizado. Identificador de solicitação exclusivo para suportar a idempotência.
      required: true
      schema:
        type: "string"
        maxLength: 40
        pattern: "^(?!\\s)(.*)(\\S)$"
    x-jws-signature:
      in: "header"
      name: "x-jws-signature"
      required: true
      description: |
        Cabeçalho contendo uma assinatura JWS separada do corpo do payload. 
      schema:
        type: "string"
  responses:
    201ConsentsCreated:
      description: "Consents Created"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string"      
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
    200ConsentsConsentIdRead:
      description: "Consents Read"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBReadConsentResponse1"
    204ConsentsConsentIdDeleted:
      description: "Consents Deleted"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    400Error:
      description: "Bad request"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
    401Error:
      description: "Unauthorized"
      headers:      
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    403Error:
      description: "Forbidden"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
    404Error:
      description: "Not found"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    405Error:
      description: "Method Not Allowed"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    406Error:
      description: "Not Acceptable"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    415Error:
      description: "Unsupported Media Type"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    429Error:
      description: "Too Many Requests"
      headers:
        Retry-After:
          description: "Number in seconds to wait"
          schema:
            type: "integer"
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
    500Error:
      description: "Internal Server Error"
      headers:
        x-fapi-interaction-id:
          description: |
            Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação.  
            Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.          
          schema:
            type: "string" 
      content:
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
  securitySchemes:
    OAuth2Security:
      type: "oauth2"
      description: "TPP client credential authorisation flow with the ASPSP"
      flows:
        clientCredentials:
          tokenUrl: "https://authserver.example/token"
          scopes:
            accounts: "Ability to read Accounts information"
    PSUOAuth2Security:
      type: "oauth2"
      description: "OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU"
      flows:
        authorizationCode:
          authorizationUrl: "https://authserver.example/authorization"
          tokenUrl: "https://authserver.example/token"
          scopes:
            accounts: "Ability to read Accounts information"
  schemas:
    CreationDateTime:
      description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: "string"
      format: "date-time"
    ISODateTime:
      description: "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: "string"
      format: "date-time"
    Links:
      type: "object"
      description: "Links relevant to the payload"
      properties:
        Self:
          type: "string"
          format: "uri"
        First:
          type: "string"
          format: "uri"
        Prev:
          type: "string"
          format: "uri"
        Next:
          type: "string"
          format: "uri"
        Last:
          type: "string"
          format: "uri"
      additionalProperties: false
      required:
        - "Self"
    Meta:
      title: "MetaData"
      type: "object"
      description: "Meta Data relevant to the payload"
      properties:
        TotalPages:
          type: "integer"
          format: "int32"
        FirstAvailableDateTime:
          $ref: "#/components/schemas/ISODateTime"
        LastAvailableDateTime:
          $ref: "#/components/schemas/ISODateTime"
      additionalProperties: false
    OBError1:
      type: "object"
      properties:
        ErrorCode:
          description: "Low level textual error code, e.g., UK.OBIE.Field.Missing"
          type: "string"
          x-namespaced-enum:
            - "UK.OBIE.Field.Expected"
            - "UK.OBIE.Field.Invalid"
            - "UK.OBIE.Field.InvalidDate"
            - "UK.OBIE.Field.Missing"
            - "UK.OBIE.Field.Unexpected"
            - "UK.OBIE.Header.Invalid"
            - "UK.OBIE.Header.Missing"
            - "UK.OBIE.Reauthenticate"
            - "UK.OBIE.Resource.ConsentMismatch"
            - "UK.OBIE.Resource.InvalidConsentStatus"
            - "UK.OBIE.Resource.InvalidFormat"
            - "UK.OBIE.Resource.NotFound"
            - "UK.OBIE.Rules.AfterCutOffDateTime"
            - "UK.OBIE.Rules.DuplicateReference"
            - "UK.OBIE.Signature.Invalid"
            - "UK.OBIE.Signature.InvalidClaim"
            - "UK.OBIE.Signature.Malformed"
            - "UK.OBIE.Signature.Missing"
            - "UK.OBIE.Signature.MissingClaim"
            - "UK.OBIE.Signature.Unexpected"
            - "UK.OBIE.UnexpectedError"
            - "UK.OBIE.Unsupported.AccountIdentifier"
            - "UK.OBIE.Unsupported.AccountSecondaryIdentifier"
            - "UK.OBIE.Unsupported.Currency"
            - "UK.OBIE.Unsupported.Frequency"
            - "UK.OBIE.Unsupported.LocalInstrument"
            - "UK.OBIE.Unsupported.Scheme"
        Message:
          description: "A description of the error that occurred. e.g., 'A mandatory field isn't supplied' or 'RequestedExecutionDateTime must be in future'\nOBIE doesn't standardise this field"
          type: "string"
          minLength: 1
          maxLength: 500
        Path:
          description: "Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency"
          type: "string"
          minLength: 1
          maxLength: 500
        Url:
          description: "URL to help remediate the problem, or provide more information, or to API Reference, or help etc"
          type: "string"
      required:
        - "ErrorCode"
        - "Message"
      additionalProperties: false
      minProperties: 1
    OBErrorResponse1:
      description: "An array of detail error codes, and messages, and URLs to documentation to help remediation."
      type: "object"
      properties:
        Code:
          description: "High level textual error code, to help categorize the errors."
          type: "string"
          minLength: 1
          maxLength: 40
        Id:
          description: "A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors."
          type: "string"
          minLength: 1
          maxLength: 40
        Message:
          description: "Brief Error message, e.g., 'There is something wrong with the request parameters provided'"
          type: "string"
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: "#/components/schemas/OBError1"
          type: "array"
          minItems: 1
      required:
        - "Code"
        - "Message"
        - "Errors"
      additionalProperties: false
    OBReadConsent1:
      type: "object"
      required:
        - "Data"
        - "Risk"
      properties:
        Data:
          type: "object"
          required:
            - "Permissions"
          properties:
            Permissions:
              type: "array"
              items:
                description: "Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP."
                type: "string"
                enum:
                  - "ReadAccountsBasic"
                  - "ReadAccountsDetail"
                  - "ReadBalances"
                  - "ReadBeneficiariesBasic"
                  - "ReadBeneficiariesDetail"
                  - "ReadDirectDebits"
                  - "ReadOffers"
                  - "ReadPAN"
                  - "ReadParty"
                  - "ReadPartyPSU"
                  - "ReadProducts"
                  - "ReadScheduledPaymentsBasic"
                  - "ReadScheduledPaymentsDetail"
                  - "ReadStandingOrdersBasic"
                  - "ReadStandingOrdersDetail"
                  - "ReadStatementsBasic"
                  - "ReadStatementsDetail"
                  - "ReadTransactionsBasic"
                  - "ReadTransactionsCredits"
                  - "ReadTransactionsDebits"
                  - "ReadTransactionsDetail"
              minItems: 1
            ExpirationDateTime:
              description: "Specified date and time the permissions will expire.\nIf this is not populated, the permissions will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
            TransactionFromDateTime:
              description: "Specified start date and time for the transaction query period.\nIf this is not populated, the start date will be open ended, and data will be returned from the earliest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
            TransactionToDateTime:
              description: "Specified end date and time for the transaction query period.\nIf this is not populated, the end date will be open ended, and data will be returned to the latest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
        Risk:
          $ref: "#/components/schemas/OBRisk2"
      additionalProperties: false
    OBReadConsentResponse1:
      type: "object"
      required:
        - "Data"
        - "Risk"
      properties:
        Data:
          type: "object"
          required:
            - "ConsentId"
            - "CreationDateTime"
            - "Status"
            - "StatusUpdateDateTime"
            - "Permissions"
          properties:
            ConsentId:
              description: "Unique identification as assigned to identify the account access consent resource."
              type: "string"
              minLength: 1
              maxLength: 128
            CreationDateTime:
              $ref: "#/components/schemas/CreationDateTime"
            Status:
              description: "Specifies the status of consent resource in code form."
              type: "string"
              enum:
                - "Authorised"
                - "AwaitingAuthorisation"
                - "Rejected"
                - "Revoked"
            StatusUpdateDateTime:
              $ref: "#/components/schemas/StatusUpdateDateTime"
            Permissions:
              type: "array"
              items:
                description: "Specifies the Open Banking account access data types. This is a list of the data clusters being consented by the PSU, and requested for authorisation with the ASPSP."
                type: "string"
                enum:
                  - "ReadAccountsBasic"
                  - "ReadAccountsDetail"
                  - "ReadBalances"
                  - "ReadBeneficiariesBasic"
                  - "ReadBeneficiariesDetail"
                  - "ReadDirectDebits"
                  - "ReadOffers"
                  - "ReadPAN"
                  - "ReadParty"
                  - "ReadPartyPSU"
                  - "ReadProducts"
                  - "ReadScheduledPaymentsBasic"
                  - "ReadScheduledPaymentsDetail"
                  - "ReadStandingOrdersBasic"
                  - "ReadStandingOrdersDetail"
                  - "ReadStatementsBasic"
                  - "ReadStatementsDetail"
                  - "ReadTransactionsBasic"
                  - "ReadTransactionsCredits"
                  - "ReadTransactionsDebits"
                  - "ReadTransactionsDetail"
              minItems: 1
            ExpirationDateTime:
              description: "Specified date and time the permissions will expire.\nIf this is not populated, the permissions will be open ended.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
            TransactionFromDateTime:
              description: "Specified start date and time for the transaction query period.\nIf this is not populated, the start date will be open ended, and data will be returned from the earliest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
            TransactionToDateTime:
              description: "Specified end date and time for the transaction query period.\nIf this is not populated, the end date will be open ended, and data will be returned to the latest available transaction.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: "string"
              format: "date-time"
        Risk:
          $ref: "#/components/schemas/OBRisk2"
        Links:
          $ref: "#/components/schemas/Links"
        Meta:
          $ref: "#/components/schemas/Meta"
      additionalProperties: false
    OBRisk2:
      description: "The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Account Info."
      type: "object"
      properties: { }
      additionalProperties: false      
    StatusUpdateDateTime:
      description: "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: "string"
      format: "date-time"