openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/accounts/v1'
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /identification:
    get:
      tags:
        - Accounts Identification
      summary: Dados de identificação de uma conta
      description: Obtém dados que identificam uma conta
      operationId: getAccountsIdentification
      parameters:
        - $ref: '#/paths/~1balances/get/parameters/0'
        - $ref: '#/paths/~1balances/get/parameters/1'
      responses:
        '200':
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                            maxLength: 80
                            pattern: \w*\W*
                          companies:
                            type: array
                            items:
                              type: object
                              description: Instituições da Marca
                              required:
                                - name
                                - cnpjNumber
                                - accounts
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                accounts:
                                  description: 'Conjunto de informações  das Contas de: depósito à vista, poupança e de pagamento pré-paga'
                                  type: object
                                  required:
                                    - identification
                                  properties:
                                    identification:
                                      description: 'Conjunto dos atributos que identificam Contas de: depósito à vista, poupança e de pagamento pré-paga'
                                      type: object
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - number
                                        - digitNumber
                                        - branchCode
                                        - ispbCode
                                        - type
                                        - subtype
                                      properties:
                                        requestDateTime:
                                          allOf: null
                                          type: string
                                          maxLength: 20
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          example: '2020-07-21T08:30:00Z'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                        updateDateTime:
                                          type: string
                                          maxLength: 20
                                          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                          example: '2020-07-21T08:30:00Z'
                                          description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                                        number:
                                          type: string
                                          maxLength: 8
                                          pattern: '\d{8}|^NA$'
                                          description: |
                                            Número da conta
                                          example: '24550'
                                        digitNumber:
                                          type: string
                                          maxLength: 1
                                          pattern: '\d{8}|^NA$'
                                          description: |
                                            Número do dígito da conta
                                          example: '4'
                                        branchCode:
                                          type: string
                                          maxLength: 4
                                          pattern: '\d{8}|^NA$'
                                          description: |
                                            Código da Agência detentora da conta
                                          example: '6272'
                                        ispbCode:
                                          type: string
                                          maxLength: 8
                                          pattern: '\d{8}|^NA$'
                                          description: |
                                            Código da Instituição financeira. 
                                            ISPB: Identificador do participante junto ao Banco Central para o Sistema de Pagamentos Brasileiro – código identificador atribuído a todos os participantes do Sistema de Transferência de Reservas (STR) do Banco Central do Brasil
                                          example: '60701190'
                                        type:
                                          type: string
                                          enum:
                                            - CONTA_DEPOSITO_A_VISTA
                                            - CONTA_POUPANCA
                                            - CONTA_PAGAMENTO_PRE_PAGA
                                          description: |
                                            Tipos de contas ofertadas para pessoa natural ou jurídica, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
                                            Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
                                            Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
                                            Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
                                          example: CONTA_DEPOSITO_A_VISTA
                                        subtype:
                                          type: string
                                          enum:
                                            - INDIVIDUAL
                                            - CONJUNTA_SOLIDARIA
                                            - CONJUNTA_NAO_SOLIDARIA
                                          description: |
                                            Conta individual - possui um único titular
                                            Conta conjunta solidária - é a modalidade cujos titulares podem realizar movimentações de forma isolada, isto é, sem que seja necessária a autorização dos demais titulares
                                            Conta conjunta não solidária - onde as movimentações financeiras só podem serem realizadas mediante autorização de TODOS os correntistas da conta.
                                          example: INDIVIDUAL
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca.
                  links:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/meta'
  /balances:
    get:
      tags:
        - Accounts Balances
      summary: Dados relativos aos saldos em conta
      description: Obtém dados relativos aos saldos em conta
      operationId: getAccountsBalances
      parameters:
        - name: page
          in: query
          description: Número da página que está sendo requisitada (o valor da primeira página é 1).
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: page-size
          in: query
          description: Quantidade total de registros por páginas.
          schema:
            type: integer
            default: 25
            minimum: 1
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                            maxLength: 80
                            pattern: \w*\W*
                          companies:
                            type: array
                            items:
                              type: object
                              description: Instituições da Marca
                              required:
                                - name
                                - cnpjNumber
                                - accounts
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                accounts:
                                  description: 'Conjunto de informações  das Contas de: depósito à vista, poupança e de pagamento pré-paga'
                                  type: object
                                  required:
                                    - balances
                                  properties:
                                    balances:
                                      type: array
                                      description: 'Traz as informações relativas aos saldos para  Contas de: depósito à vista, poupança e de pagamento pré-paga'
                                      items:
                                        type: object
                                        required:
                                          - requestDateTime
                                          - updateDateTime
                                          - type
                                          - amount
                                        properties:
                                          requestDateTime:
                                            allOf:
                                              - $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/updateDateTime/allOf/0'
                                            description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          updateDateTime:
                                            allOf:
                                              - $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/updateDateTime/allOf/0'
                                            description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                                          type:
                                            type: string
                                            enum:
                                              - SALDO_DISPONIVEL
                                              - SALDO_BLOQUEADO
                                              - SALDO_DISPONIVEL_APLICACAO_AUTOMATICA
                                            description: |
                                              tipos de saldo em conta: (vide enum) informados:
                                              Saldo disponível para utilização imediata. No caso de conta de depósito a vista, sem considerar cheque especial e investimentos atrelados a conta. Admite saldo negativo.
                                              Saldo bloqueado não disponível para utilização imediata, por motivo de bloqueio por compensação, ou bloqueio judicial
                                              Saldo disponível com aplicação automática - saldo disponível para utilização imediata, referente ao tipo de conta que remunera automaticamente o saldo em conta 
                                            example: SALDO_DISPONIVEL
                                          amount:
                                            type: number
                                            nullable: true
                                            description: 'Valor do Saldo disponível, representado em valor monetário com 2 casas decimais. O tipo SALDO_DISPONIVEL admite valor negativo.'
                                          currency:
                                            type: string
                                            pattern: '^(\w{3}){1}$'
                                            maxLength: 3
                                            format: CurrencyString
                                            description: 'Moeda referente ao valor mínimo da Tarifa, segundo modelo ISO-4217'
                                            example: BRL
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca.
                  links:
                    type: object
                    description: Referências para outros recusos da API requisitada.
                    required:
                      - self
                    properties:
                      self:
                        type: string
                        format: URIString
                        description: URI completo que gerou a resposta atual.
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      first:
                        type: string
                        format: URIString
                        description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                      prev:
                        type: string
                        format: URIString
                        description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
                      next:
                        type: string
                        format: URIString
                        description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                      last:
                        type: string
                        format: URIString
                        description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
                        example: 'https://api.banco.com.br/open-banking/<api>/v1/<resource>'
                  meta:
                    type: object
                    description: Meta informações referente a API requisitada.
                    properties:
                      totalRecords:
                        type: integer
                        description: Número total de registros no resultado
                        example: 1
                      totalPages:
                        type: integer
                        description: Número total de páginas no resultado
                        example: 1
                    required:
                      - totalRecords
                      - totalPages
  /transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Transações de crédito e débito realizadas e autorizadas
      description: Obtém dados relativos a Transações de crédito e débito realizadas e autorizadas
      operationId: getAccountsTransactions
      parameters:
        - $ref: '#/paths/~1balances/get/parameters/0'
        - $ref: '#/paths/~1balances/get/parameters/1'
      responses:
        '200':
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                            maxLength: 80
                            pattern: \w*\W*
                          companies:
                            type: array
                            items:
                              type: object
                              description: Instituições da Marca
                              required:
                                - name
                                - cnpjNumber
                                - accounts
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                accounts:
                                  type: object
                                  required:
                                    - transactions
                                  properties:
                                    transactions:
                                      type: object
                                      description: Agrupador das informações relativas às Transações de crédito e débito realizadas e autorizadas
                                      required:
                                        - requestDateTime
                                        - updateDateTime
                                        - completedTransactions
                                        - authorisedPayments
                                      properties:
                                        requestDateTime:
                                          allOf:
                                            - $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/updateDateTime/allOf/0'
                                          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                        updateDateTime:
                                          allOf:
                                            - type: string
                                              maxLength: 20
                                              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                                              example: '2020-07-21T08:30:00Z'
                                          description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                                        completedTransactions:
                                          type: array
                                          items:
                                            type: object
                                            description: Transações a débito e a crédito efetivadas em conta
                                            required:
                                              - creditDebitIndicator
                                              - type
                                              - amount
                                              - transactionDate
                                              - payer
                                              - payee
                                            properties:
                                              creditDebitIndicator:
                                                $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/authorisedPayments/items/properties/creditDebitIndicator'
                                              type:
                                                $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/authorisedPayments/items/properties/type'
                                              amount:
                                                type: number
                                                nullable: true
                                                description: Valor da transação. Expressa em valor monetário com 2 casas decimais
                                              currency:
                                                $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/balances/items/properties/currency'
                                              transactionDate:
                                                type: string
                                                description: Data de lançamento da transação
                                                maxLength: 10
                                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                              payer:
                                                type: string
                                                description: Identificação do Pagador da transação
                                                maxLength: 100
                                                pattern: \w*\W*
                                              payee:
                                                type: string
                                                description: Identificação do Recebedor da transação
                                                maxLength: 100
                                                pattern: \w*\W*
                                          minItems: 1
                                          description: Lista das transações a débito e a crédito efetivadas em conta.
                                        authorisedPayments:
                                          type: array
                                          items:
                                            type: object
                                            description: Informações relativas aos pagamentos autorizados
                                            required:
                                              - creditDebitIndicator
                                              - type
                                              - amount
                                              - transactionDate
                                              - payer
                                              - payee
                                            properties:
                                              creditDebitIndicator:
                                                type: string
                                                enum:
                                                  - CREDITO
                                                  - DEBITO
                                                description: |
                                                  Indicador do tipo de lançamento: a crédito ou a débito. 
                                                example: CREDITO
                                              type:
                                                type: string
                                                enum:
                                                  - PACOTE_TARIFA_SERVICOS
                                                  - TARIFA_SERVICOS_AVULSOS
                                                  - FOLHA_PAGAMENTO
                                                  - SAQUE
                                                  - CARTAO_DEBITO
                                                  - CARTAO_PRE_PAGO
                                                  - DEPOSITO
                                                  - JUROS_CHEQUE_ESPECIAL
                                                  - RENDIMENTOS
                                                description: |
                                                  Tipo de Transação
                                                example: SAQUE
                                              amount:
                                                type: number
                                                nullable: true
                                                description: Valor da transação. Expressa em valor monetário com 2 casas decimais
                                              currency:
                                                $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/balances/items/properties/currency'
                                              transactionDate:
                                                type: string
                                                description: Data de lançamento da transação
                                                maxLength: 10
                                                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                                              payer:
                                                type: string
                                                description: Identificação do Pagador da transação
                                                maxLength: 100
                                                pattern: \w*\W*
                                              payee:
                                                type: string
                                                description: Identificação do Recebedor da transação
                                                maxLength: 100
                                                pattern: \w*\W*
                                          minItems: 1
                                          description: Lista das Informações relativas aos pagamentos autorizados.
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca.
                  links:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/meta'
  /overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Limites referentes ao valor das operações de crédito
      description: Obtém dados relativos Limites referentes ao valor das operações de crédito (cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente.
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: '#/paths/~1balances/get/parameters/0'
        - $ref: '#/paths/~1balances/get/parameters/1'
      responses:
        '200':
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - links
                  - meta
                properties:
                  data:
                    type: object
                    required:
                      - brand
                    properties:
                      brand:
                        type: object
                        description: Objeto que define a Organização controladora do grupo de instituições financeiras
                        required:
                          - name
                          - companies
                        properties:
                          name:
                            type: string
                            description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                            maxLength: 80
                            pattern: \w*\W*
                          companies:
                            type: array
                            items:
                              type: object
                              description: Instituições da Marca
                              required:
                                - name
                                - cnpjNumber
                                - accounts
                              properties:
                                name:
                                  description: 'Nome da Instituição, pertencente à marca, responsável pela modalidade de Empréstimos.'
                                  type: string
                                  pattern: \w*\W*
                                  maxLength: 80
                                  example: Empresa da Organização A
                                cnpjNumber:
                                  description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                                  type: string
                                  pattern: '^(\d{14})$|^NA$'
                                  maxLength: 14
                                  example: '50685362000135'
                                accounts:
                                  type: object
                                  required:
                                    - overdraftLimits
                                  properties:
                                    overdraftLimits:
                                      type: array
                                      items:
                                        type: object
                                        description: Objeto que define um Limite referente ao valor das operações de crédito (cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente
                                        required:
                                          - requestDateTime
                                          - updateDateTime
                                          - type
                                          - amount
                                          - currency
                                        properties:
                                          requestDateTime:
                                            allOf:
                                              - $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/updateDateTime/allOf/0'
                                            description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                                          updateDateTime:
                                            allOf:
                                              - $ref: '#/paths/~1transactions/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/transactions/properties/updateDateTime/allOf/0'
                                            description: 'Data e hora da atualização, conforme especificação RFC-3339.'
                                          type:
                                            type: string
                                            enum:
                                              - VALOR_UTILIZADO
                                              - VALOR_DISPONIVEL
                                              - SALDO_DESCOBERTO
                                            description: |
                                              Tipo de Transação relativa ao saldo do limite  informado: (vide Enum)
                                              valor utilizado do limite do cheque especial
                                              valor disponível do limite do cheque especial
                                              saldo a descoberto em conta de depósito a vista (relativo ao adiantamento a depositante 
                                            example: VALOR_UTILIZADO
                                          amount:
                                            type: number
                                            nullable: true
                                            description: Valor da transação. Expressa em valor monetário com 2 casas decimais. A opção saldo a descoberto é expressa em valor negativo.
                                          currency:
                                            $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/data/properties/brand/properties/companies/items/properties/accounts/properties/balances/items/properties/currency'
                            minItems: 1
                            description: Companies traz uma lista de todas as instituições da Marca.
                  links:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/links'
                  meta:
                    $ref: '#/paths/~1balances/get/responses/200/content/application~1json/schema/properties/meta'
