openapi: 3.0.0
info:
  title: API Pension - Open Banking Brasil
  description: |
    API de Previdência do Open Banking Brasil – Fase 4.
    API que retorna informações de Previdência.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/opendata-pension/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/opendata-pension/v1'
    description: Servidor de Homologação
tags:
  - name: Risk Coverages
    description: Operações relacionadas à Previdência com Coberturas de Risco.
  - name: Survival Coverages
    description: Operações relacionadas à Previdência com Coberturas de Sobrevivência.
paths:
  /risk-coverages:
    get:
      tags:
        - Risk Coverages
      summary: Informações de Previdência com Cobertura de Riscos.
      operationId: getPensionRiskCoverages
      description: Método para obter informações de Previdência de Cobertura de Riscos.
      responses:
        '200':
          $ref: '#/components/responses/OKResponseRiskCoveragePension'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /survival-coverages:
    get:
      tags:
        - Survival Coverages
      summary: Informações de Previdência com Cobertura de Sobrevivência.
      operationId: getPensionSurvivalCoverages
      description: Método para obter informações de Previdência de Cobertura de Sobrevivência.
      responses:
        '200':
          $ref: '#/components/responses/OKResponseSurvivorCoveragePension'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    OKResponseRiskCoveragePension:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetRiskPensionContractData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    GetRiskPensionContractData:
      type: object
      required:
        - participantIdentification
      properties:
        participantIdentification:
          $ref: '#/components/schemas/ParticipantIdentification'
        products:
          type: array
          items:
            $ref: '#/components/schemas/RiskPensionProduct'
    OKResponseSurvivalCoveragePension:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GetSurvivalPensionContractData'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      additionalProperties: false
    GetSurvivalPensionContractData:
      type: object
      required:
        - participantIdentification
      properties:
        participantIdentification:
          $ref: '#/components/schemas/ParticipantIdentification'
        products:
          type: array
          items:
            $ref: '#/components/schemas/SurvivalPensionProduct'
    SurvivalPensionInvestimentFund:
      type: object
      description: Fundos de Investimento (por fundo).
      properties:
        cnpjNumber:
          $ref: '#/components/schemas/ParticipantIdentification/properties/cnpjNumber'
        name:
          type: string
          description: |
            Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis para o período de diferimento/acumulação, contemplando:
            - Nome Fantasia
          maxLength: 80
          example: EMPRESAAPREV
        maximumAdministrationFee:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: |
            Lista com as informações do(s) Fundo(s) de Investimento(s) disponíveis para o período de diferimento/acumulação, contemplando:
              - Taxa Máxima de Administração - em %
          example: '0.201000'
          maxLength: 10
        typePerformanceFee:
          type: string
          enum:
            - DIRETAMENTE
            - INDIRETAMENTE
            - NAO_APLICA
          description: Tipo de Taxa de Performance
          example: DIRETAMENTE
        maximumPerformanceFee:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Taxa Máxima de Performance
          maxLength: 10
          example: '0.201000'
        eligibilityRule:
          type: boolean
          description: |
            Regra de Elegibilidade:
            - true (SIM)
            - false (Não se aplica)
          example: true
        minimumContributionAmount:
          type: string
          description: Valor Mínimo de Contribuição
          pattern: '^\d{1,16}\.\d{2,4}$'
          example: '1000.00'
        minimumMathematicalProvisionAmount:
          type: string
          description: Valor Mínimo do Saldo Provisão Matemática
          pattern: '^\d{1,16}\.\d{2,4}$'
          example: '1000.00'
        currency:
          $ref: '#/components/schemas/CoverageAttributes/properties/currency'
    SurvivalPensionProduct:
      type: object
      required:
        - name
        - code
        - segment
        - type
      properties:
        name:
          type: string
          maxLength: 80
          description: |
            Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
          example: Produto A
        code:
          type: string
          maxLength: 80
          description: |
            Código único a ser definido pela sociedade.
          example: '0001'
        type:
          type: array
          items:
            $ref: '#/components/schemas/SurvivalPensionType'
        segment:
          type: string
          description: |
            Segmento do qual se trata o produto contratado
            1. Seguro de Pessoas
            2. Previdência
          maxLength: 20
          enum:
            - SEGURO_DE_PESSOAS
            - PREVIDENCIA
          example: PREVIDENCIA
        modality:
          $ref: '#/components/schemas/EnumPensionModality'
        adittionalInfo:
          type: string
          description: |
            Campo aberto (possibilidade de incluir URL) para a descrição das coberturas de risco (previdência) comercializadas facultativamente à cobertura de sobrevivência.
            Comentários: As URLs são limitadas a 2048 caracteres, mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex. 'https://openinsurance.com.br/
            aaa’.
          example: 'https://openinsurance.com.br/aaa'
          maxLength: 1024
        minimumRequirements:
          $ref: '#/components/schemas/SurvivalPensionMinimumRequirements'
        targetAudience:
          $ref: '#/components/schemas/MinimumRequirements/properties/targetAudience'
        termsAndConditions:
          type: array
          items:
            $ref: '#/components/schemas/TermsAndConditions'
        defferalPeriod:
          $ref: '#/components/schemas/SurvivalPensionDefferalPeriod'
        grantPeriodBenefit:
          $ref: '#/components/schemas/SurvivalPensionGrantPeriodBenefit'
        costs:
          $ref: '#/components/schemas/SurvivalPensionCosts'
    SurvivalPensionMinimumRequirements:
      type: object
      required:
        - contractType
        - participantQualified
      properties:
        contractType:
          type: string
          maxLength: 27
          enum:
            - COLETIVO
            - INDIVIDUAL
            - AMBAS
          description: |
            O tipo de serviço contratado. A considerar os domínios abaixo:
            1. Coletivo Averbado;
            2. Individual.
            3. Ambas
          example: COLETIVO
        participantQualified:
          type: boolean
          description: |
            Indicação se o plano é destinado para participante qualificado. A considerar os domínios abaixo:
            1. true (Sim).
            2. false (Não).
          example: true
        contractingMinRequirement:
          type: string
          maxLength: 1024
          description: |
            Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL). Comentários: As URLs são limitadas a 2048 caracteres mas, para o  contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex. https://openinsurance.com.br/aaa
          example: 'https://openinsurance.com.br/aaa'
    SusepProcessNumber:
      type: string
      pattern: '^\d{5}\.\d{6}/\d{4}-\d{2}$'
      description: |
        Sequência numérica utilizada para consulta dos processos eletrônicos na SUSEP, com caracteres especiais, conforme campo de consulta no site da SUSEP (XXXXX.XXXXXX/XXXX-XX)
        Observação: Mascaras da SUSEP – Serão permitidos todas as máscaras de Produtos. Limitar pelos códigos das Máscaras.
      maxLength: 20
      example: 15414.622222/2222-22
    SurvivalPensionDefferalPeriod:
      type: object
      description: Período de Diferimento
      required:
        - premiumPaymentMethods
      properties:
        interestRate:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Taxa de juros garantida que remunera o plano durante a fase de diferimento/acumulação.
          example: '0.251231'
        updateIndex:
          $ref: '#/components/schemas/UpdateIndex'
        otherMinimumPerformanceGarantees:
          type: string
          description: 'Para produtos do tipo PDR e VDR, indicação do índice de ampla divulgação utilizados como garantia mínima de desempenho.'
          example: SELIC
          maxLength: 12
        minimumPremium:
          $ref: '#/components/schemas/SurvivalPensionMinimumPremium'
        premiumPaymentMethods:
          type: array
          items:
            type: string
            maxLength: 27
            enum:
              - CARTAO_CREDITO
              - DEBITO_CONTA
              - DEBITO_CONTA_POUPANCA
              - BOLETO_BANCARIO
              - PIX
              - CARTAO_DEBITO
              - REGRA_PARCEIRO
              - CONSIGNACAO_FOLHA_PAGAMENTO
              - PONTOS_PROGRAMA_BENEFICIO
              - TED_DOC
              - OUTROS
            example: CARTAO_CREDITO
        permissionExtraordinaryContributions:
          description: |
            Se ficam permitidos aportes extraordinários. A considerar os seguintes domínios:
            1. Sim; (true)
            2. Não (false).
          type: boolean
          example: true
        permissionScheduledFinancialPayments:
          description: |
            Se ficam permitidos pagamentos financeiros programados. A considerar os seguintes domínios:
            1. Sim; (true)
            2. Não (false).
          type: boolean
          example: true
        gracePeriod:
          $ref: '#/components/schemas/SurvivalPensionGracePeriod'
        reversalFinancialResults:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual de reversão de excedente financeiro na concessão. Em %.
          example: '0.051230'
        investmentFunds:
          type: array
          items:
            $ref: '#/components/schemas/SurvivalPensionInvestimentFund'
        portabilityPaymentTerm:
          type: number
          description: Prazo em dias para pagamento da portabilidade.
          example: 20
          maximum: 9999
    SurvivalPensionType:
      type: string
      description: |
        1.  PGBL
        2.  PRGP
        3.  PAGP
        4.  PRSA
        5.  PRI
        6.  PDR
        7.  VGBL
        8.  VRGP
        9.  VAGP
        10. VRSA
        11. VRI
        12. VDR
        13. Demais produtos de Previdência.
      maxLength: 27
      enum:
        - PGBL
        - PRGP
        - PAGP
        - PRSA
        - PRI
        - PDR
        - VGBL
        - VRGP
        - VAGP
        - VRSA
        - VRI
        - VDR
        - DEMAIS_PRODUTOS_PREVIDENCIA
    SurvivalPensionGracePeriod:
      type: object
      description: Prazo de carência
      required:
        - redemption
        - betweenRedemptionRequests
        - portability
        - betweenPortabilityRequests
      properties:
        redemption:
          type: number
          description: |
            Prazo em dias de carência para resgate Para Coletivos: Valor máximo da carência.
          example: 100
          maximum: 9999
        betweenRedemptionRequests:
          type: number
          description: |
            Prazo em dias de carência entre pedidos de resgate Para Coletivos: Valor máximo da carência
          example: 30
          maximum: 9999
        portability:
          type: number
          description: Prazo em dias de carência para portabilidade.
          example: 12
          maximum: 9999
        betweenPortabilityRequests:
          type: number
          description: Prazo em dias de carência entre pedidos de portabilidade.
          example: 15
          maximum: 9999
    SurvivalPensionCosts:
      type: object
      description: Custos
      required:
        - loadingAntecipated
        - loadingLate
      properties:
        loadingAntecipated:
          $ref: '#/components/schemas/SurvivalPensionLoadingAntecipated'
        loadingLate:
          $ref: '#/components/schemas/SurvivalPensionLoadingLate'
    SurvivalPensionLoadingAntecipated:
      type: object
      description: Carregamento antecipado.
      required:
        - minValue
        - maxValue
      properties:
        minValue:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual mínimo de carregamento cobrada quando do pagamento do prêmio/ contribuição. Em %.
          example: '0.000000'
        maxValue:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual máximo de carregamento cobrada quando do pagamento do prêmio/ contribuição. Em %.
          example: '0.100000'
    SurvivalPensionLoadingLate:
      type: object
      description: Carregamento postecipado.
      required:
        - minValue
        - maxValue
      properties:
        minValue:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual mínimo de taxa de carregamento cobrado quando da efetivação de resgate ou portabilidade.
          example: '0.000000'
        maxValue:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual máximo de taxa de carregamento cobrado quando da efetivação de resgate ou portabilidade.
          example: '0.100000'
    SurvivalPensionMinimumPremium:
      type: object
      description: Valor mínimo de prêmio/contribuição
      properties:
        currency:
          $ref: '#/components/schemas/CoverageAttributes/properties/currency'
        periodicity:
          type: string
          maxLength: 10
          enum:
            - DIÁRIO
            - SEMANAL
            - QUINZENAL
            - MENSAL
            - BIMESTRAL
            - TRIMESTRAL
            - SEMESTRAL
            - ANUAL
        amount:
          type: string
          pattern: '^\d{1,16}\.\d{2,4}$'
          description: Valor mínimo em R$ de prêmio/ contribuição aceita pela sociedade ao plano (identificar valor mensal e/ou aporte único).
          example: '250.00'
    SurvivalPensionGrantPeriodBenefit:
      type: object
      description: Período de concessão do benefício
      required:
        - incomeModality
        - biometricTable
      properties:
        incomeModality:
          type: string
          description: |
            Modalidades de renda disponíveis para contratação.
              A considerar os seguintes domínios:
              1. Pagamento Único
              2. Renda por Prazo Certo;
              3. Renda Temporária;
              4. Renda Temporária Reversível;
              5. Renda Temporária com mínimo garantido;
              6. Renda Temporária Reversível com Mínimo Garantido;
              7. Renda Vitalícia;
              8. Renda Vitalícia Reversível ao Beneficiário Indicado
              9. Renda Vitalícia Reversível ao Cônjuge com Continuidade de Menores
              10. Renda Vitalícia com o Mínimo Garantido;
              11. Renda Vitalícia com Prazo mínimo garantido.
          enum:
            - PAGAMENTO_UNICO
            - RENDA_PRAZO_CERTO
            - RENDA_TEMPORARIA
            - RENDA_TEMPORARIA_REVERSIVEL
            - RENDA_TEMPORARIA_MINMO_GARANTIDO
            - RENDA_TEMPORARIA_REVERSIVEL_MININO_GARANTIDO
            - RENDA_VITALICIA
            - RENDA_VITALICIA_REVERSIVEL_BENEFICIARIO_INDICADO
            - RENDA_VITALICIA_CONJUGE_CONTINUIDADE_MENORES
            - RENDA_VITALICIA_MINIMO_GARANTIDO
            - RENDA_VITALICIA_PRAZO_MINIMO_GRANTIDO
          example: PAGAMENTO_UNICO
        biometricTable:
          type: string
          maxLength: 32
          description: |
            Tábua biométrica utilizada como parâmetro para conversão em renda atuarial que deve observar a relação discriminada de coberturas, conforme Tabela II.2 do Anexo II.
            Deverá ser informada a tábua biométrica aplicável à modalidade de renda padrão do plano.
          enum:
            - AT_2000_MALE
            - AT_2000_FEMALE
            - AT_2000_MALE_FEMALE
            - AT_2000_MALE_SUAVIZADA_10
            - AT_2000_FEMALE_SUAVIZADA_10
            - AT_2000_MALE_FEMALE_SUAVIZADA_10
            - AT_2000_MALE_SUAVIZADA_15
            - AT_2000_FEMALE_SUAVIZADA_15
            - AT_2000_MALE_FEMALE_SUAVIZADA_15
            - AT_83_MALE
            - AT_83_FEMALE
            - AT_83_MALE_FEMALE
            - BR_EMSSB_MALE
            - BR_EMSSB_FEMALE
            - BR_EMSSB_MALE_FEMALE
          example: AT_2000_MALE
        interestRate:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Taxa de juros garantida utilizada para conversão em renda. Em %
          example: '0.225222'
        updateIndex:
          $ref: '#/components/schemas/UpdateIndex'
        reversalFinancialResults:
          type: string
          pattern: '^[0-1]\.\d{6}$'
          description: Percentual de reversão de excedente financeiro na concessão. Em %.
          example: '1.252111'
        investmentFunds:
          type: array
          items:
            $ref: '#/components/schemas/SurvivalPensionInvestimentFund'
    Links:
      type: object
      description: Referências para outros recusos da API requisitada.
      required:
        - self
      properties:
        self:
          type: string
          format: uri
          maxLength: 2000
          description: URI completo que gerou a resposta atual.
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        first:
          type: string
          format: uri
          maxLength: 2000
          description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        prev:
          type: string
          format: uri
          maxLength: 2000
          description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        next:
          type: string
          format: uri
          maxLength: 2000
          description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        last:
          type: string
          format: uri
          maxLength: 2000
          description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
      additionalProperties: false
    Meta:
      type: object
      description: Meta informações referente à API requisitada.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Número total de páginas no resultado
          example: 1
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
      additionalProperties: false
    ParticipantIdentification:
      type: object
      description: Conjunto de informações relativas ao participante do produto de open banking
      required:
        - brand
        - name
        - cnpjNumber
      properties:
        brand:
          type: string
          description: 'Nome da marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 120
          example: Organização
        name:
          type: string
          description: Nome do participante do Open Banking.
          maxLength: 120
          example: Organização A1
        cnpjNumber:
          type: string
          description: 'O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
          pattern: '\d{14}$'
          example: '13456789000112'
        urlComplementaryList:
          type: string
          maxLength: 1024
          pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          example: 'https://empresaa1.com/companies'
      additionalProperties: false
    RiskPensionProduct:
      type: object
      required:
        - name
        - code
        - coverages
        - additionals
        - assistanceType
        - termsAndConditions
        - contributionPayment
      properties:
        name:
          type: string
          maxLength: 80
          description: |
            Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.
          example: Produto A
        code:
          type: string
          maxLength: 80
          description: |
            Código único a ser definido pela sociedade.
          example: '0001'
        modality:
          $ref: '#/components/schemas/EnumPensionModality'
        coverages:
          type: array
          items:
            $ref: '#/components/schemas/Coverage'
        additionals:
          type: array
          items:
            type: string
          example:
            - Sorteio (gratuito)
            - Outros
        additionalsOthers:
          type: array
          items:
            type: string
          example:
            - NA
        assistanceType:
          description: 'Lista padronizada de tipo de assistências ofertadas vinculadas ao produto. Por exemplo, Funeral, Bicicleta, Assistência PET – Tabela padrão a ser consolidada com retorno das empresas com a relação de assistências, permitindo um campo ‘Outros’ para assistências não contempladas na Tabela padronizada.'
          type: array
          items:
            type: string
          example:
            - Assistência PET
            - Funeral
        assistanceTypeAdditionalInfos:
          description: |
            Texto livre para complementar informação relativa ao campo assistanceType, quando no campo 'assistanceType' estiver preenchida a opção 'Outros'.Restrição: Campo de preenchimento obrigatório se 'assistanceType' estiver preenchida a opção 'OUTROS'.
          type: array
          items:
            type: string
          example:
            - NA
        termsAndConditions:
          $ref: '#/components/schemas/TermsAndConditions'
        update:
          $ref: '#/components/schemas/RiskPensionUpdate'
        ageReframing:
          $ref: '#/components/schemas/AgeReframing'
        financialRegimeContractType:
          type: string
          description: |
            Listagem de regime financeiro para cada combinação de modalidade/cobertura do produto indicando:
            1. Repartição simples;
            2. Repartição Capitais Cobertura;
            3. Capitalização.
          maxLength: 50
          enum:
            - REPARTICAO_SIMPLES
            - REPARTICAO_CAPITAIS_COBERTURA
            - CAPITALIZACAO
          example: REPARTICAO_SIMPLES
        reclaim:
          $ref: '#/components/schemas/Reclaim'
        otherGuaranteedValues:
          type: array
          description: |
            1. Saldamento;
            2. Benefício Prolongado.
            3. Não se aplica
          items:
            type: string
          example:
            - Benefício Prolongado
            - Não se aplica
            - Saldamento
        profitModality:
          $ref: '#/components/schemas/EnumRiskPensionPaymentModality'
        contributionPayment:
          $ref: '#/components/schemas/ContributionPayment'
    RiskPensionUpdate:
      type: object
      description: Atualização / Remuneração da PMBaC e Remuneração da PMBaC
      properties:
        award:
          $ref: '#/components/schemas/UpdateAward'
        pmbac:
          $ref: '#/components/schemas/UpdatePMBaC'
    RiskPensionIndemnfiable:
      type: object
      description: Indenizável
      properties:
        period:
          $ref: '#/components/schemas/EnumRiskPensionIndenfiablePeriod'
        deadline:
          type: number
          description: 'Caso o período de pagamento seja relacionado a Prazo, listagem de número máximo de parcelas do benefício. Em meses.'
          maximum: 9999
          example: 48
    EnumRiskPensionIndenfiablePeriod:
      type: string
      description: |
        Listagem do pagamento para cada benefício:
          1. Prazo;
          2. Até o fim de ciclo determinado.
      enum:
        - PRAZO
        - ATE_FIM_CICLO_DETERMINADO
      maxLength: 200
      example: PRAZO
    ExcludedRisk:
      type: object
      required:
        - url
      properties:
        type:
          description: Listagem para indicar quais serão o(s) risco(s) excluído(s) aplicável(is) à(s) cobertura(s).
          type: string
          example: NA
        url:
          description: |
            Campo aberto (possibilidade de incluir URL) Comentários: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex.
            https://openinsurance.com.br/aaa
          type: string
          example: 'https://openinsurance.com.br/aaa'
          maxLength: 1024
    EnumRiskPensionPaymentModality:
      type: string
      description: |
        Listagem da forma de pagamento para cada benefício do produto indicando, conforme Resolução CNSP nº 201/2008:
        1. Pagamento único;
        2. Sob forma de renda.
      maxLength: 19
      enum:
        - PAGAMENTO_UNICO
        - SOB_FORMA_DE_RENDA
      example: SOB_FORMA_DE_RENDA
    EnumPensionModality:
      type: string
      description: |
        Se Prev. Cob. Risco:

        1. Contribuição Variável;
        2. Benefício Definido.
      maxLength: 21
      enum:
        - CONTRIBUICAO_VARIAVEL
        - BENEFICIO_DEFINIDO
      example: BENEFICIO_DEFINIDO
    Coverage:
      type: object
      required:
        - types
        - attributes
      properties:
        types:
          type: array
          items:
            type: string
          example:
            - Morte
            - Invalidez
        attributes:
          $ref: '#/components/schemas/CoverageAttributes'
        period:
          type: string
          description: |
            1. Vitalícia;
            2. Temporária.
          maxLength: 10
          enum:
            - VITALICIA
            - TEMPORARIA
          example: TEMPORARIA
    CoverageAttributes:
      type: object
      description: Atributos da cobertura
      required:
        - minValue
        - maxValue
        - currency
        - gracePeriod
      properties:
        indenizationPaymentMethod:
          $ref: '#/components/schemas/EnumRiskPensionPaymentModality'
        minValue:
          type: number
          example: 1500
          description: |
            Listagem do valor mínimo de cobertura (Capital Segurado), diária ou parcela aceito pela sociedade para cada combinação de modalidade/cobertura do produto.
            Conforme moeda.
          maximum: 999999999999999
        maxValue:
          type: number
          example: 5000
          description: |
            Listagem do valor máximo de cobertura (Capital Segurado), diária ou parcela aceito pela sociedade para cada combinação de modalidade/cobertura do produto.
            Conforme moeda.
          maximum: 999999999999999
        indemnifiable:
          $ref: '#/components/schemas/RiskPensionIndemnfiable'
        deductibleDays:
          type: number
          description: Listagem de franquia em dias para cada combinação de modalidade/cobertura do produto.
          maximum: 9999999999
          example: 10
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: |
            Moeda referente ao valor da transação, segundo modelo ISO-4217. p.ex. 'BRL' 
            Todos os saldos informados estão representados com a moeda vigente do Brasil
          example: BRL
        gracePeriod:
          $ref: '#/components/schemas/GracePeriod'
        excludedRisk:
          type: array
          description: Listagem para indicar quais serão o(s) risco(s) excluído(s) aplicável(is) à(s) cobertura(s).
          items:
            $ref: '#/components/schemas/ExcludedRisk'
    GracePeriod:
      type: object
      required:
        - deadline
        - unit
      properties:
        deadline:
          type: number
          description: Informar o prazo de carência
          example: 90
          maximum: 9999999999
        unit:
          type: string
          description: |
            Informar o critério de carência para a cobertura
            1. Dias
            2. Meses
            3. Não se aplica
          maxLength: 15
          enum:
            - DIAS
            - MESES
            - NAO_APLICA
          example: MESES
    TermsAndConditions:
      type: object
      required:
        - susepProcessNumber
        - detail
      properties:
        susepProcessNumber:
          $ref: '#/components/schemas/SusepProcessNumber'
        detail:
          type: string
          description: |
            Representam as Condições Gerais, Condições Especiais e Condições ou Cláusulas Particulares de um mesmo seguro. (Circular SUSEP 321/06). Campo aberto (possibilidade de incluir URL). Comentários: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex. 'https://openinsurance.com.br/aaa’
          maxLength: 1024
          example: 'https://openinsurance.com.br/aaa'
      additionalProperties: false
    UpdatePMBaC:
      type: object
      properties:
        index:
          $ref: '#/components/schemas/UpdateIndex'
        interestRate:
          type: string
          pattern: '^\d{1,2}\.\d{1,3}$'
          maximum: 99.999
          example: '14.252'
          description: Taxa de juros para capitalização da PMBaC.
    UpdateIndex:
      type: string
      maxLength: 5
      description: |
        Índice utilizado na atualização do prêmio e do capital segurado, caso critério de atualização por meio de índice:
        1. IPCA (IBGE);
        2. IGP-M (FGV);
        3. INPC (IBGE).
      enum:
        - IPCA
        - IGP_M
        - INPC
      example: IPCA
    UpdateAward:
      type: object
      properties:
        index:
          $ref: '#/components/schemas/UpdateIndex'
    AgeReframing:
      type: object
      description: Reenquadramento etário
      properties:
        criterion:
          type: string
          maxLength: 40
          description: |
            Critério escolhido para reenquadramento etário
            1. Após período em anos;
            2. A cada período em anos;
            3. Por mudança de faixa etária;
            4. Não aplicável.
          enum:
            - APOS_PERIODO_ANOS
            - A_CADA_PERIODO_ANOS
            - POR_MUDANCA_FAIXA_ETARIA
            - NAO_APLICAVEL
          example: APOS_PERIODO_ANOS
        periodicity:
          type: number
          maximum: 999
          description: |
            Período em anos, caso critério de reenquadramento após ou a cada período em anos.
          example: 10
    Reclaim:
      type: object
      description: Resgate
      properties:
        table:
          $ref: '#/components/schemas/ReclaimTable'
        differentiatedPercentage:
          type: string
          maxLength: 1024
          description: |
            Campo aberto (possibilidade de incluir URL)
            Comentários: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex.
            'https://openinsurance.com.br/aaa’
          example: |
            https://openinsurance.com.br/aaa’
            Obs.: Exceção de cobertura ou critério definido acima será descrito aqui na URL
            Exemplo: Cobertura X: a partir de 25 meses = 100%
        gracePeriod:
          $ref: '#/components/schemas/GracePeriod'
    ReclaimTable:
      type: object
      properties:
        initialMonthRange:
          type: number
          maximum: 12
          example: 1
          description: NA
        finalMonthRange:
          type: number
          maximum: 12
          example: 1
          description: NA
        percentage:
          type: string
          pattern: '^\d{1}\.\d{2}'
          maximum: 1
          example: '0.85'
          description: |
            Tabela com % variáveis por mês de vigência.
            Esse campo será traduzido para dois campos, sendo um com o descritivo dos anos e outro com os %.
    ContributionPayment:
      type: object
      description: 'Pagamento de Prêmio (da Contribuição, no caso de Previdência)'
      required:
        - method
        - periodicity
        - minimumRequirements
      properties:
        method:
          type: array
          items:
            type: string
          description: |
            Meio de pagamento escolhido pelo segurado. A considerar os domínios abaixo:
            1. Cartão de Crédito
            2. Cartão de Débito
            3. Débito em conta corrente;
            4. Débito em conta poupança;
            5. Boleto bancário;
            6. PIX;
            7. Consignação em Folha de
            Pagamento
            8. Pontos de Programas de
            Benefício;
            9. Outros
          example:
            - CARTÃO DE CRÉDITO
        periodicity:
          type: array
          items:
            type: string
          description: |
            Periodicidade de pagamento do prêmio 
            1. Diária;
            2. Mensal;
            3. Única;
            4. Anual;
            5. Trimestral;
            6. Semestral;
            7. Fracionado.
            8. Outra
          example:
            - Diária
            - Anual
            - Semestral
        contributionTax:
          type: string
          maxLength: 500
          description: |
            Distribuição de frequência relativa aos valores referentes às taxas cobradas, nos termos do Anexo III.
          example: NA
        minimumRequirements:
          $ref: '#/components/schemas/MinimumRequirements'
    MinimumRequirements:
      type: object
      properties:
        contractType:
          type: array
          items:
            type: string
          description: |
            O tipo de serviço contratado. A considerar os domínios abaixo:
            1. Coletivo Averbado;
            2. Coletivo Instituído;
            3. Individual.
          example:
            - Individual
        contract:
          type: string
          description: |
            Campo aberto contendo todos os requisitos mínimos para contratação (possibilidade de incluir URL). Comentários: As URLs são limitadas a 2048 caracteres mas, para o  contexto do Open Insurance, foi adotado a metade deste tamanho (1024). tamanho. p.ex. https://openinsurance.com.br/aaa
          example: 'https://openinsurance.com.br/aaa'
          maxLength: 1024
        targetAudience:
          type: string
          description: Média das operações PF/PJ.
          maxLength: 5
          enum:
            - PF
            - PJ
            - PF_PJ
          example: PF
  responses:
    OKResponseRiskCoveragePension:
      description: Dados de previdência de risco obtidos com sucesso da instituição.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseRiskCoveragePension'
    OKResponseSurvivorCoveragePension:
      description: Dados de previdência de sobrevivência obtidos com sucesso da instituição.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseSurvivalCoveragePension'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 13
                items:
                  type: object
                  required:
                    - code
                    - title
                    - detail
                  properties:
                    code:
                      description: Código de erro específico do endpoint
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    title:
                      description: Título legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    detail:
                      description: Descrição legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 2048
                  additionalProperties: false
              meta:
                $ref: '#/components/schemas/Meta'
            additionalProperties: false
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/NotFound/content/application~1json%3B%20charset%3Dutf-8/schema'
