openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 2.0.0
  contact:
    email: apiteam@swagger.io
servers:
  - url: 'http://api.banco.com.br/open-banking/products-services/v1'
tags:
  - name: Accounts
  - name: Loans
  - name: Credit Cards
  - name: Financings
  - name: Invoice Financings
  - name: Unarranged Account Overdraft
paths:
  /personal-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa física
      description: Obtém dados das contas
      operationId: getPersonalAccounts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /business-accounts:
    get:
      tags:
        - Accounts
      summary: Obtém dados das contas pessoa jurídica
      description: Obtém dados das contas pessoa jurídica
      operationId: getBusinessAccounts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /personal-loans:
    get:
      tags:
        - Loans
      summary: Obtém dados sobre empréstimos pessoa física
      description: Obtém dados sobre empréstimos pessoa física
      operationId: getPersonalLoans
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoansList'
  /business-loans:
    get:
      tags:
        - Loans
      summary: Obtém dados sobre empréstimos pessoa jurídica
      description: Obtém dados sobre empréstimos pessoa jurídica
      operationId: getBusinessLoans
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoansList'
  /personal-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Obtém dados sobre cartões de crédito pessoa física
      description: Obtém dados sobre cartões de crédito pessoa física
      operationId: getPersonalCreditCards
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalCreditCardResponse'
  /business-credit-cards:
    get:
      tags:
        - Credit Cards
      summary: Obtém dados sobre cartões de crédito pessoa jurídica
      description: Obtém dados sobre cartões de crédito pessoa jurídica
      operationId: getBusinessCreditCards
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreditCardResponse'
  /personal-financings:
    get:
      tags:
        - Financings
      summary: Obtém a lista de Financiamentos de Pessoa Física.
      description: Obtém a lista de Financiamentos de Pessoa Física
      operationId: getPersonalFinancings
      responses:
        '200':
          description: Retorna lista de financiamentos de pessoa física.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancingsList'
  /business-financings:
    get:
      tags:
        - Financings
      summary: Obtém a lista de Financiamentos de Pessoa Física.
      description: Obtém a lista de Financiamentos de Pessoa Física.
      operationId: getBusinessFinancings
      responses:
        '200':
          description: Retorna lista de financiamentos de pessoa jurídica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancingsList'
  /personal-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Física.
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Física.
      operationId: getPersonalInvoiceFinancings
      responses:
        '200':
          description: Retorna lista de adiantamento de recebíveis de pessoa física.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancingsList'
  /business-invoice-financings:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      description: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      operationId: getBusinessInvoiceFinancings
      responses:
        '200':
          description: Retorna lista de adiantamento de recebíveis de pessoa jurídica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancingsList'
  /business-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Obtém a lista de adiantamento de depositante de Pessoa Jurídica.
      description: Obtém a lista de adiantamento de depositante de Pessoa Jurídica.
      operationId: getBusinessUnarrangedAccountOverdraft
      responses:
        '200':
          description: Retorna lista de adiantamento de depositante de pessoa jurídica.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraftList'
  /personal-unarranged-account-overdraft:
    get:
      tags:
        - Unarranged Account Overdraft
      summary: Obtém a lista de adiantamento de depositante de Pessoa Fisica.
      description: Obtém a lista de adiantamento de depositante de Pessoa Fisica.
      operationId: getPersonalUnarrangedAccountOverdraft
      responses:
        '200':
          description: Retorna lista de adiantamento de depositante de pessoa física.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraftList'
components:
  schemas:
    AccountsTermsConditions:
      type: object
      required:
        - minimumBalance
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumBalance:
          $ref: '#/components/schemas/MinimumBalance'
        elegibilityCriteriaInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Critérios de qualificação do cliente com a finalidade de definir sua elegibilidade para a aquisição do tipo de conta. Campo Aberto'
          example: 'https://example.com/mobile-banking'
        closingProcessInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Procedimentos de encerramento para o tipo de conta tratado. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal. URLs são limitadas a 2048 caracteres mas, para o contexto do Sistema Financeiro aberto, será adotado a metade deste tamanho.'
          example: 'https://example.com/mobile-banking'
    AccountOtherServicesPrice:
      type: object
      required:
        - interval
        - value
        - currency
      properties:
        interval:
          type: string
          enum:
            - 1_QUARTIL_CLIENTES
            - 2_QUARTIL_CLIENTES
            - 3_QUARTIL_CLIENTES
            - 4_QUARTIL_CLIENTES
          description: 'Faixas de valor referentes a tarifa de outro Serviços informada: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes'
          example: 1_QUARTIL_CLIENTES
        value:
          type: string
          description: 'Valor da mediana da tarifa cobrada referente a Outros Serviços, para o tipo de faixa informada'
          example: '45.00'
          maxLength: 12
          pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
        currency:
          type: string
          pattern: '^(\w{3}){1}$'
          description: 'Moeda referente ao valor da mediana da tarifa de Outros Serviços no quartil informado, segundo modelo ISO-4217.'
          example: BRL
        minimum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: Valor mínimo cobrado para a tarifa de Outros Serviços no mês de referência
              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
              example: '45.00'
            currency:
              type: string
              description: 'Moeda referente ao valor mínimo da tarifa de Outros Serviços, segundo modelo ISO-4217.'
              example: BRL
        maximum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
              description: Valor máximo cobrado para a tarifa de Outros Serviços no mês de referência.
              example: '45.00'
            currency:
              type: string
              description: 'Moeda referente ao valor máximo da tarifa de outros serviços, segundo modelo ISO-4217.'
              example: BRL
    ResponsePersonalAccounts:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonalAccountBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    PersonalAccountBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          maxLength: 30
          pattern: \w*\W*
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalAccountCompany'
    PersonalAccountCompany:
      type: object
      required:
        - name
        - cnpjNumbers
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        personalAccounts:
          type: array
          items:
            $ref: '#/components/schemas/PersonalAccount'
    PersonalAccount:
      type: object
      required:
        - type
        - fees
        - serviceBundles
        - openingClosingChannels
        - transactionMethods
        - termsConditions
        - incomeRates
      properties:
        type:
          $ref: '#/components/schemas/PersonalAccountType'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/AccountFee'
        serviceBundles:
          type: array
          items:
            $ref: '#/components/schemas/ServiceBundle'
          example:
            - name: 'Movimentação com cartão (sem cheque)'
              services:
                - code: 'CADASTRO'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '1'
                  freeEventQuantity: '0'
                - code: 'SAQUE_TERMINAL'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '8'
                - code: 'EXTRATO_MOVIMENTO_E'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '4'
                - code: 'TRANSF_RECURSO_P'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '2'
              prices:
                - interval: '1_QUARTIL_CLIENTES'
                  monthlyFee: '43.40'
                  currency: 'BRL'
                - interval: '2_QUARTIL_CLIENTES'
                  monthlyFee: '55.00'
                  currency: 'BRL'
                - interval: '3_QUARTIL_CLIENTES'
                  monthlyFee: '62.00'
                  currency: 'BRL'
                - interval: '4_QUARTIL_CLIENTES'
                  monthlyFee: '69.00'
                  currency: 'BRL'
              minimum:
                value: '19.00'
                currency: 'BRL'
              maximum:
                value: '88.00'
                currency: 'BRL'
            - name: 'Conta de depósitos à vista - Pacote XXX'
              services:
                - code: 'Serviço 1'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '999999'
                - code: 'Serviço 2'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '8'
                - code: 'Serviço 3'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '4'
                - code: 'Serviço 4'
                  chargingTriggerInfo: 'Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente'
                  eventLimitQuantity: '999999'
                  freeEventQuantity: '2'
              prices:
                - interval: '1_QUARTIL_CLIENTES'
                  monthlyFee: '30.40'
                  currency: 'BRL'
                - interval: '2_QUARTIL_CLIENTES'
                  monthlyFee: '45.00'
                  currency: 'BRL'
                - interval: '3_QUARTIL_CLIENTES'
                  monthlyFee: '62.00'
                  currency: 'BRL'
                - interval: '4_QUARTIL_CLIENTES'
                  monthlyFee: '69.00'
                  currency: 'BRL'
              minimum:
                value: '33.00'
                currency: 'BRL'
              maximum:
                value: '87.00'
                currency: 'BRL'
        openingClosingChannels:
          $ref: '#/components/schemas/OpeningClosingChannels'
        additionalInfo:
          type: string
          maxLength: 100
          pattern: \w*\W*
          description: |
            Texto livre para complementar informação relativa ao Canal disponível, quando no campo ''openingClosingChannels'' estiver preenchida a opção ''Outros''
            Restrição: Campo de preenchimento obrigatório se 'openingCloseChannels' estiver preenchida a opção 'OUTROS'
          example: 'NA'
        transactionMethods:
          $ref: '#/components/schemas/TransactionMethods'
        termsConditions:
          $ref: '#/components/schemas/AccountsTermsConditions'
        incomeRate:
          $ref: '#/components/schemas/PersonalAccountsIncomeRate'
    AccountFee:
      type: object
      required:
        - priorityServices
      properties:
        priorityService:
          $ref: '#/components/schemas/AccountPriorityService'
        otherService:
          $ref: '#/components/schemas/AccountOtherService'
    AccountPriorityService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          $ref: '#/components/schemas/PriorityServiceName'
        code:
          $ref: '#/components/schemas/AccountPriorityServiceCode'
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Fatos geradores de cobrança que incidem sobre os serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa física.'
          example: 'Fornecimento de extrato com a movimentação de um período em guichê de caixa ou por outras formas de atendimento pessoal, tal como atendimento telefônico realizado por atendente.'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref:  "#/components/schemas/MaximumPrice"
    PersonalAccountType:
      type: string
      enum:
        - CONTA_DEPOSITO_A_VISTA
        - CONTA_POUPANCA
        - CONTA_PAGAMENTO_PRE_PAGA
      description: |
        Tipos de contas ofertadas para pessoa natural, p.ex. 'CONTA_DEPOSITO_A_VISTA'.
        Conta de depósito à vista ou Conta corrente - é o tipo mais comum. Nela, o dinheiro fica à sua disposição para ser sacado a qualquer momento. Essa conta não gera rendimentos para o depositante
        Conta poupança - foi criada para estimular as pessoas a pouparem. O dinheiro que ficar na conta por trinta dias passa a gerar rendimentos, com isenção de imposto de renda para quem declara. Ou seja, o dinheiro “cresce” (rende) enquanto ficar guardado na conta. Cada depósito terá rendimentos de mês em mês, sempre no dia do mês em que o dinheiro tiver sido depositado
        Conta de pagamento pré-paga: segundo CIRCULAR Nº 3.680, BCB de  2013, é a 'destinada à execução de transações de pagamento em moeda eletrônica realizadas com base em fundos denominados em reais previamente aportados'
      example: CONTA_DEPOSITO_A_VISTA
    OpeningClosingChannels:
      type: string
      enum:
        - DEPENDENCIAS_PROPRIAS
        - CORRESPONDENTES_BANCARIOS
        - INTERNET_BANKING
        - MOBILE_BANKING
        - CENTRAL_TELEFONICA
        - CHAT
        - OUTROS
      description: Canais disponíveis para abertura e encerramento de contas, p.ex. 'DEPENDENCIAS_PROPRIAS'
      example: DEPENDENCIAS_PROPRIAS
    TransactionMethods:
      type: string
      enum:
        - MOVIMENTACAO_ELETRONICA
        - MOVIMENTACAO_CHEQUE
        - MOVIMENTACAO_CARTAO
        - MOVIMENTACAO_PRESENCIAL
      description: Lista de formas de movimentação possíveis para a conta
      example: MOVIMENTACAO_CARTAO
    PriorityServiceName:
      type: string
      enum:
        - CONFECCAO_CADASTRO_INICIO_RELACIONAMENTO
        - FORNECIMENTO_2_VIA_CARTAO_FUNCAO_DEBITO
        - FORNECIMENTO_2_VIA_CARTAO_FUNCAO_MOVIMENTACAO_CONTA_POUPANCA
        - EXCLUSAO_CADASTRO_EMITENTES_CHEQUES_SEM_FUNDO_CCF
        - CONTRA_ORDEM_REVOGACAO_E_OPOSICAO_OU_SUSTACAO_PAGAMENTO_CHEQUE
        - FORNECIMENTO_FOLHAS_CHEQUE
        - CHEQUE_ADMINISTRATIVO
        - CHEQUE_VISADO
        - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_PRESENCIAL_OU_PESSOAL
        - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_TERMINAL_AUTOATENDIMENTO
        - SAQUE_CONTA_DEPOSITO_A_VISTA_POUPANCA_CORRESPONDENTES_PAIS
        - DEPOSITO_IDENTIFICADO
        - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_PRESENCIAL_OU_PESSOAL
        - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_TERMINAL_AUTOATENDIMENTO
        - FORNECIMENTO_EXTRATO_MENSAL_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_CORRESPONDENTES_PAIS
        - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_PRESENCIAL_OU_PESSOAL
        - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_TERMINAL_AUTOATENDIMENTO
        - FORNECIMENTO_EXTRATO_DE_UM_PERIODO_CONTA_DEPOSITOS_A_VISTA_E_POUPANCA_CORRESPONDENTES_PAIS
        - FORNECIMENTO_COPIA_MICROFILME_MICROFICHA_ASSEMELHADO
        - TRANSFERENCIA_DOC_PESSOAL_OU_PRESENCIAL
        - TRANSFERENCIA_DOC_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
        - TRANSFERENCIA_DOC_INTERNET
        - TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL
        - TRANSFERENCIA_TED_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
        - TRANSFERENCIA_TED_INTERNET
        - TRANSFERENCIA_DOC_TED_PESSOAL_OU_PRESENCIAL
        - TRANSFERENCIA_DOC_TED_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS
        - TRANSFERENCIA_DOC_TED_INTERNET
        - TRANSFERENCIA_ENTRE_CONTAS_PROPRIA_INSTITUICAO_PESSOAL_OU_PRESENCIAL
        - TRANSFERENCIA_ENTRE_CONTAS_PROPRIA_INSTITUICAO_TERMINAL_AUTOATENDIMENTO_OUTROS_MEIOS_ELETRONICOS_INCLUSIVE_INTERNET
        - ORDEM_PAGAMENTO
      maxLength: 250
      pattern: \w*\W*
      description: 'Nome dos Serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa física.'
      example: TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL
    AccountOtherService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          maxLength: 250
          description: 'Nome de Outro Serviço para pessoa física (Campo Livre)'
          example: Evento personalizado
        code:
          type: string
          maxLength: 100
          description: ' Siglas de identificação de Outro Serviço (Campo Livre)'
          example: TALAO_DOMICILIO
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Fatos geradores de cobrança que incidem sobre outros serviços para pessoa física. (Campo Livre)
          example: Cobrança devido a evento personalizado
        prices:
          type: array
          items:
            $ref: "#/components/schemas/Price"
        minimum:
          $ref: "#/components/schemas/MinimumPrice"
        maximum:
          $ref: "#/components/schemas/MaximumPrice"
    AccountPriorityServiceCode:
      type: string
      description: 'Sigla de identificação do Serviço Prioritário, segundo Resolução 3.919 do Bacen.'
      enum:
        - CADASTRO
        - 2_VIA_CARTAO_DEBITO
        - 2_VIA-CARTAO_POUPANCA
        - EXCLUSAO_CCF
        - SUSTACAO_REVOGACAO
        - FOLHA_CHEQUE
        - CHEQUE_ADMINISTRATIVO
        - CHEQUE_VISADO
        - SAQUE_PESSOAL
        - SAQUE_TERMINAL
        - SAQUE_CORRESPONDENTE
        - DEPOSITO_IDENTIFICADO
        - EXTRATO_MES_P
        - EXTRATO_MES_E
        - EXTRATO_MES_C
        - EXTRATO_MOVIMENTO_P
        - EXTRATO_MOVIMENTO_E
        - EXTRATO_MOVIMENTO_C
        - MICROFILME
        - DOC_PESSOAL
        - DOCELETRONICO
        - DOC_INTERNET
        - TED_PESSOAL
        - TED_ELETRONICO
        - TED_INTERNET
        - DOC_TED_AGENDADO_P
        - DOC_TED_AGENDADO_E
        - DOC_TED_AGENDADO_I
        - TRANSF_RECURSO_P
        - TRANSF_RECURSO_E
        - ORDEM_PAGAMENTO
    ServiceBundle:
      type: object
      required:
        - name
        - services
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          maxLength: 250
          pattern: \w*\W*
          description: Nome do Pacote de Serviços dado pela instituição.
          example: Conta de depósitos à vista Movimentação com cartão (sem cheque)
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceBundleServiceDetail'
        prices:
          type: array
          items:
            $ref:  "#/components/schemas/MontlyPrice"
        minimum:
          $ref:  "#/components/schemas/MinimumPrice"
        maximum:
          $ref:  "#/components/schemas/MaximumPrice"
    ServiceBundleServiceDetail:
      type: object
      required:
        - code
        - chargingTriggerInfo
        - eventLimitQuantity
        - freeEventQuantity
      properties:
        code:
          type: string
          maxLength: 100
          format: \w*\W*
          description: |
            Código que identifica o Serviço que compõe o Pacote de Serviços, podendo ser da lista de Serviços Prioritários ou Outros Serviços. p.ex. segundo Resolução 3.919 do Bacen: 'SAQUE_TERMINAL'.
          example: SAQUE_TERMINAL
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          format: \w*\W*
          description: |
            Fatos geradores de cobrança que incidem sobre serviço que compõe o Pacote de Serviços.
          example: |
            Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente
        eventLimitQuantity:
          type: string
          maxLength: 6
          format: ^(\d{1,6}){1}$
          description: |
            Segundo Resolução  4196, BCB, de 2013: Quantidade de eventos previstos no Pacote de Serviços (Número de eventos incluídos no mês) p.ex.'2'. No caso de quantidade ilimitada, reportar 999999
          example: '2'
        freeEventQuantity:
          type: string
          maxLength: 6
          format: ^(\d{1,6}){1}$
          description: |
            Segundo Resolução  4196, BCB, de 2013: Quantidade de eventos previstos no Pacote de Serviços com isenção de Tarifa.p.ex.'1'  No caso de quantidade ilimitada, reportar 999999
          example: '1'
    PersonalAccountsIncomeRate:
      type: object
      properties:
        savingAccount:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: |
            Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente.
            Restrição: De preenchimento obrigatório para CONTA_POUPANCA. Para os demais Tipos  preencher com NA
          example: 'NA'
        prepaidPaymentAccount:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: |
            Percentual em favor do titular da conta de pagamento pré-paga. Campo Livre.
            Restrição: De preenchimento obrigatório para Conta do Tipo CONTA_PAGAMENTO_PRE_PAGA. Para os demais Tipos preencher com NA
          example: 'NA'
    ResponseBusinessAccounts:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  pattern: \w*\W*
                  description: 'Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços'
                  example: Organização A
                companies:
                  type: array
                  items:
                    required:
                      - name
                      - cnpjNumber
                    allOf:
                      - $ref: '#/components/schemas/Company'
                    properties:
                      businessAccounts:
                        type: array
                        items:
                          required:
                            - type
                            - fees
                            - serviceBundles
                            - openingClosingChannels
                            - transactionMethods
                            - termsConditions
                            - incomeRates
                          properties:
                            type:
                              type: string
                              enum:
                                - CONTA_DEPOSITO_A_VISTA
                                - CONTA_POUPANCA
                                - CONTA_PAGAMENTO_PRE_PAGA
                              description: 'Tipos de contas ofertadas para pessoas jurídicas, conforme Resolução 3.919 do Bacen.'
                              example: CONTA_DEPOSITO_A_VISTA
                            fees:
                              type: array
                              items:
                                type: object
                                required:
                                  - service
                                properties:
                                  service:
                                    $ref: '#/components/schemas/BusinessAccountsServices'
                            serviceBundles:
                              type: array
                              items:
                                type: object
                                required:
                                  - name
                                  - service
                                  - prices
                                  - minimum
                                  - maximum
                                properties:
                                  name:
                                    type: string
                                    maxLength: 70
                                    description: Nome do Pacote de Serviços dado pela instituição.
                                  service:
                                    type: array
                                    items:
                                      required:
                                        - code
                                        - eventLimitQuantity
                                        - freeEventQuantity
                                      properties:
                                        code:
                                          type: string
                                          maxLength: 30
                                          description: 'Código que identifica o Serviço que compõe o Pacote de Serviços, podendo ser da lista de Serviços Prioritários ou Outros Serviços'
                                          example: SAQUE_TERMINAL
                                        eventLimitQuantity:
                                          type: string
                                          maxLength: 6
                                          pattern: '^(\d{1,6}){1}$'
                                          description: Quantidade de eventos previstos no Pacote de Serviços (Número de eventos incluídos no mês)
                                          example: '2'
                                        freeEventQuantity:
                                          type: string
                                          maxLength: 6
                                          pattern: '^(\d{1,6}){1}$'
                                          description: Quantidade de eventos previstos no Pacote de Serviços com isenção de Tarifa
                                          example: '1'
                                  prices:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                        - interval
                                        - monthlyFee
                                        - currency
                                      properties:
                                        interval:
                                          type: string
                                          enum:
                                            - 1_QUARTIL_CLIENTES
                                            - 2_QUARTIL_CLIENTES
                                            - 3_QUARTIL_CLIENTES
                                            - 4_QUARTIL_CLIENTES
                                          description: 'Faixas de valor referentes ao pagamento mensal do Pacote de Serviços informado: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes'
                                          example: 1_QUARTIL_CLIENTES
                                        monthlyFee:
                                          type: string
                                          description: Valor da mediana da tarifa mensal referente ao Pacote de Serviços.
                                          example: '50.00'
                                        currency:
                                          type: string
                                          maxLength: 3
                                          pattern: '^(\w{3}){1}$'
                                          description: 'Moeda referente ao valor da mediana da tarifa mensal do Pacote de Serviços, segundo modelo ISO-4217.'
                                          example: BRL
                                  minimum:
                                    $ref: '#/components/schemas/MinimumPrice'
                                  maximum:
                                    $ref: '#/components/schemas/MaximumPrice'
                            openingClosingChannels:
                              type: string
                              enum:
                                - DEPENDENCIAS_PROPRIAS
                                - CORRESPONDENTES_BANCARIOS
                                - INTERNET_BANKING
                                - MOBILE_BANKING
                                - CENTRAL_TELEFONICA
                                - CHAT
                                - OUTROS
                              description: Canais disponíveis para abertura e encerramento de contas
                              example: CENTRAL_TELEFONICA
                            additionalInfo:
                              type: string
                              maxLength: 100
                              pattern: \w*\W*
                              description: 'Texto livre para complementar informação relativa ao Canal disponível, quando no campo ''openingClosingChannels'' estiver preenchida a opção ''Outros'''
                              example: NA
                            transactionMethods:
                              type: string
                              enum:
                                - MOVIMENTACAO_ELETRONICA
                                - MOVIMENTACAO_CHEQUE
                                - MOVIMENTACAO_CARTAO
                                - MOVIMENTACAO_PRESENCIAL
                              description: Lista de formas de movimentação possíveis para a conta
                              example: MOVIMENTACAO_CARTAO
                            termsConditions:
                              $ref: '#/components/schemas/AccountsTermsConditions'
                            incomeRates:
                              type: array
                              items:
                                required:
                                  - savingAccount
                                  - prepaidPaymentAccount
                                properties:
                                  savingAccount:
                                    type: string
                                    maxLength: 2000
                                    pattern: \w*\W*
                                    description: Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente.
                                    example: '''70% da Taxa Selic (6,5%) = 4,55%, que é o atual rendimento anual da poupança. O rendimento mensal é de 0,3715'
                                  prepaidPaymentAccount:
                                    type: object
                                    required:
                                      - applications
                                      - minimumRate
                                      - maximumRate
                                    properties:
                                      applications:
                                        type: array
                                        items:
                                          type: object
                                          required:
                                            - interval
                                            - rate
                                          properties:
                                            interval:
                                              type: string
                                              enum:
                                                - 1_QUARTIL_CLIENTES
                                                - 2_QUARTIL_CLIENTES
                                                - 3_QUARTIL_CLIENTES
                                                - 4_QUARTIL_CLIENTES
                                              description: 'Faixas do percentual de taxa de remuneração efetivamente aplicada no intervalo informado para Contas do Tipo CONTA_PAGAMENTO_PRE_PAGA :1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes'
                                              example: 1_QUARTIL_CLIENTES
                                            rate:
                                              type: string
                                              pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                                              maxLength: 9
                                              description: 'Percentual que corresponde a taxa mediana de remuneração efetivamente aplicada no intervalo informado para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros'
                                              example: '0.1500'
                                      mininumRate:
                                        type: string
                                        pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                                        maxLength: 9
                                        description: 'Percentual mínimo referente à taxa de remuneração efetivamente aplicada no mês de referência para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros'
                                        example: '0.1500'
                                      maximumRate:
                                        type: string
                                        pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                                        maxLength: 9
                                        description: 'Percentual máximo referente à taxa de remuneração efetivamente aplicada no mês de referência para VCONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros'
                                        example: '0.1500'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                businessAccounts:
                  - type: CONTA_DEPOSITO_A_VISTA
                    fees:
                      - service:
                          name: "NA"
                          code: "NA"
                          chargingTriggerInfo: "NA"
                          prices:
                            - interval: 1_QUARTIL_CLIENTES
                              value: '55.40'
                              currency: BRL
                            - interval: 2_QUARTIL_CLIENTES
                              value: '65.00'
                              currency: BRL
                            - interval: 3_QUARTIL_CLIENTES
                              value: '69.00'
                              currency: BRL
                            - interval: 4_QUARTIL_CLIENTES
                              value: '72.00'
                              currency: BRL
                          minimum:
                            value: '49.00'
                            currency: BRL
                          maximum:
                            value: '88.00'
                            currency: BRL
                    serviceBundles:
                      - name: Conta de depósitos à vista Movimentação com cartão (sem cheque)
                        service:
                          - code: CADASTRO
                            eventLimitQuantity: '999999'
                            freeEventQuantity: '999999'
                          - code: SAQUE_TERMINAL
                            eventLimitQuantity: '999999'
                            freeEventQuantity: '8'
                          - code: EXTRATO_MOVIMENTO_E
                            eventLimitQuantity: '999999'
                            freeEventQuantity: '4'
                          - code: TRANSF_RECURSO_P
                            eventLimitQuantity: '999999'
                            freeEventQuantity: '2'
                        prices:
                          - interval: 1_QUARTIL_CLIENTES
                            monthlyFee: '50.00'
                            currency: BRL
                          - interval: 2_QUARTIL_CLIENTES
                            monthlyFee: '65.40'
                            currency: BRL
                          - interval: 3_QUARTIL_CLIENTES
                            monthlyFee: '75.40'
                            currency: BRL
                          - interval: 4_QUARTIL_CLIENTES
                            monthlyFee: '83.00'
                            currency: BRL
                        minimum:
                          value: '45.00'
                          currency: BRL
                        maximum:
                          value: '87.00'
                          currency: BRL
                    openingClosingChannels: CENTRAL_TELEFONICA
                    additionalInfo: NA
                    transactionMethods: MOVIMENTACAO_CARTAO
                    termsConditions:
                      minimumBalance:
                        value: '500.00'
                        currency: BRL
                      elegibilityCriteriaInfo: 'https://empresaa1.com/Accounts_elegebilityCriteria'
                      closingProcessInfo: 'https://empresaa1.com/Accounts_closingProcess'
                    incomeRates:
                      - savingAccount: NA
                        prepaidPaymentAccount:
                          applications:
                            - interval: 1_QUARTIL_CLIENTES
                              rate: NA
                            - interval: 2_QUARTIL_CLIENTES
                              rate: NA
                            - interval: 3_QUARTIL_CLIENTES
                              rate: NA
                            - interval: 4_QUARTIL_CLIENTES
                              rate: NA
                          minimumRate: NA
                          maximumRate: NA
        links:
          self: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
          first: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
          prev: ""
          next: ""
          last: 'https://api.banco.com.br/open-banking/products-services/v1/business-accounts'
        meta:
          totalRecords: 1
          totalPages: 1
    BusinessAccountsServices:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          maxLength: 50
          description: Nome atribuído a Outros Serviços disponíveis para os tipos de contas informados. Outros Serviços são quaisquer serviços que a instituição ofereça para a modalidade de Contas e não estejam definidos na lista de Serviços Prioritários definidos na resolução 3.919 do Bacen.
          example: Evento personalizado
        code:
          type: string
          maxLength: 30
          description: Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas informados.
          example: EVENTO_PERSONALIZADO
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: Outros Fatores geradores de cobrança referentes aos Outros Serviços que incidem sobre as contas comercializadas.
          example: Cobrança devido a evento personalizado
        prices:
          type: array
          items:
            $ref: '#/components/schemas/AccountOtherServicesPrice'
        minimum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: Valor mínimo cobrado para a tarifa do Outro Serviço no mês de referência.
              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
              example: '45.00'
            currency:
              type: string
              maxLength: 3
              description: 'Moeda referente ao valor mínimo da tarifa do Outro Serviço  segundo modelo ISO-4217. '
              pattern: '^([A-Z]{3})$'
              example: BRL
        maximum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: Valor máximo cobrado para a tarifa de Outros Serviços na base de clientes do mês de referência.
              pattern: '^((\d{1,9}\.\d{2}){1}|NA)$'
              example: '45.00'
            currency:
              type: string
              maxLength: 3
              description: 'Moeda referente ao valor máximo da tarifa de outros serviços, segundo modelo ISO-4217.'
              pattern: '^([A-Z]{3})$'
              example: BRL
    ResponsePersonalLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonalLoanBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    PersonalLoanBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 80
          description: Nome da Marca.
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalLoanCompany'
          description: Lista de instituições pertencentes à marca
    PersonalLoanCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - personalLoans
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 80
          description: 'Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços'
          example: Empresa da Marca A
        urlComplementaryList:
          type: string
          pattern: \w*\W*
          maxLength: 1024
          description: URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal.
          example: 'https://example.com/mobile-banking'
        personalLoans:
          type: array
          items:
            $ref: '#/components/schemas/PersonalLoan'
          description: Lista
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ResponseBusinessLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/BusinessLoanBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    BusinessLoanBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 30
          description: Nome do marca.
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessLoanCompany'
          description: Lista de instituições pertencentes à marca
    BusinessLoanCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - businessLoans
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 80
          description: 'Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços'
          example: Empresa A1
        urlComplementaryList:
          type: string
          pattern: \w*\W*
          maxLength: 1024
          description: URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal.
          example: 'https://example.com/mobile-banking'
        businessLoans:
          type: array
          items:
            $ref: '#/components/schemas/BusinessLoan'
          description: Lista
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    PersonalLoan:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
        - termsConditions
      properties:
        type:
          type: string
          enum:
            - EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
            - EMPRESTIMO_CREDITO_PESSOAL_NAO_CONSIGNADO
            - EMPRESTIMO_HOME_EQUITY
            - EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
            - EMPRESTIMO_CHEQUE_ESPECIAL
            - EMPRESTIMO_CONTA_GARANTIDA
          description: |
            Modalidades de empréstimos ofertados para pessoa Natural, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Empréstimo é um contrato entre o cliente e uma instituição financeira (banco, cooperativa de crédito, caixa econômica) pelo qual o cliente recebe uma quantia em dinheiro que deverá ser devolvida em prazo determinado, acrescida dos juros acertados. Os recursos obtidos no empréstimo não tem destinação específica.
            Empréstimo-Crédito pessoal consignado -  operações de crédito com retenção de parcela do salário ou benefício do tomador, para o pagamento das prestações do empréstimo – desconto em folha de pagamento – nos termos da legislação em vigor
            Empréstimo-Home equity - empréstimos pessoa natural, garantidos por hipoteca ou por alienação fiduciária de bens imóveis residenciais, sem vinculação a aquisição de bens
            Empréstimo-Microcrédito Produtivo Orientado - segundo PNMPO é o crédito concedido para financiamento das atividades produtivas, cuja metodologia será estabelecida em regulamento, observada a preferência do relacionamento direto com os empreendedores, admitido o uso de tecnologias digitais e eletrônicas que possam substituir o contato presencial
            Empréstimo-Crédito pessoal não consignado -  operações de empréstimos às pessoa natural, sem vinculação com aquisição de bem ou serviço e sem retenção de parcela do salário ou benefício do tomador para o pagamento das prestações do empréstimo
            Empréstimo-Cheque especial - operações de crédito vinculadas à conta corrente, nas quais determinado limite de crédito é disponibilizado aos clientes para utilização de acordo com suas conveniências, sem necessidade de comunicação prévia à instituição financeira
            Empréstimo-Conta garantida - operações de crédito rotativo, nas quais determinado limite de crédito é disponibilizado para utilização pelo cliente, através da simples movimentação da conta corrente e/ou solicitação formal à instituição financeira. As operações classificadas nessa modalidade não devem ter data definida para a amortização do saldo devedor, exceto a estabelecida para vigência do contrato
          example: EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
        fees:
          type: array
          items:
            $ref: '#/components/schemas/LoanFee'
          description: Lista
        interestRate:
          $ref: '#/components/schemas/LoanInterestRate'
        requiredWarranties:
          type: array
          items:
            $ref: '#/components/schemas/RequiredWarranty'
        termsConditions:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas.
          example: 'https://empresaa1.com/personal_loans'
    BusinessLoan:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
        - termsConditions
      properties:
        type:
          type: string
          enum:
            - EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
            - EMPRESTIMO_CHEQUE_ESPECIAL
            - EMPRESTIMO_CONTA_GARANTIDA
            - EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_ATE_365_DIAS
            - EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_SUPERIOR_365_DIAS
            - EMPRESTIMO_CAPITAL_GIRO_ROTATIVO
          description: |
            Modalidades de empréstimos ofertados para pessoas Jurídicas, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Empréstimo é um contrato entre o cliente e uma instituição financeira (banco, cooperativa de crédito, caixa econômica) pelo qual o cliente recebe uma quantia em dinheiro que deverá ser devolvida em prazo determinado, acrescida dos juros acertados. Os recursos obtidos no empréstimo não tem destinação específica.
            Empréstimo-Microcrédito Produtivo Orientado - segundo PNMPO é o crédito concedido para financiamento das atividades produtivas, cuja metodologia será estabelecida em regulamento, observada a preferência do relacionamento direto com os empreendedores, admitido o uso de tecnologias digitais e eletrônicas que possam substituir o contato presencial
            Empréstimo-Cheque especial - operações de crédito vinculadas à conta corrente, nas quais determinado limite de crédito é disponibilizado aos clientes para utilização de acordo com suas conveniências, sem necessidade de comunicação prévia à instituição financeira
            Empréstimo-Conta garantida - operações de crédito rotativo, nas quais determinado limite de crédito é disponibilizado para utilização pelo cliente, através da simples movimentação da conta corrente e/ou solicitação formal à instituição financeira. As operações classificadas nessa modalidade não devem ter data definida para a amortização do saldo devedor, exceto a estabelecida para vigência do contrato
            Empréstimo-Capital de giro com prazo de vencimento até 365 dias: operações de crédito voltadas para o financiamento de curto prazo (igual ou inferior a 365 dias) das pessoas jurídicas, vinculadas às necessidades de capital de giro e a um contrato específico que estabeleça prazos, taxas e garantias
            Empréstimo-Capital de giro com prazo vencimento superior a 365 dias: operações de crédito voltadas para o financiamento de médio e longo prazo (superior a 365 dias) das pessoas jurídicas, vinculadas às necessidades de capital de giro e a um contrato específico que estabeleça prazos, taxas e garantias
            Empréstimo-Capital de giro rotativo: operações de crédito voltadas para o financiamento de capital de giro, vinculadas a um contrato que estabeleça linha de crédito rotativo, de forma que, à medida que a empresa devedora amortize os empréstimos já tomados, o limite disponível para utilização seja restituído, e amortizações com datas predeterminadas, podendo ser facultado ao devedor repactuar o fluxo de pagamentos ao longo da vigência do contrato
          example: EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
        fees:
          type: array
          items:
            $ref: '#/components/schemas/LoanFee'
          description: Lista
        interestRate:
          $ref: '#/components/schemas/LoanInterestRate'
        requiredWarranties:
          type: array
          items:
            $ref: '#/components/schemas/RequiredWarranty'
        termsConditions:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas.
          example: 'https://empresaa1.com/personal_loans'
    LoanFee:
      type: object
      properties:
        service:
          $ref: '#/components/schemas/LoanService'
    LoanService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 250
          description: Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada do Empréstimo para pessoa física/jurídica.
          example: Taxa de Abertura
        code:
          type: string
          pattern: \w*\W*
          maxLength: 100
          description: Sigla de identificação do serviço relacionado à Modalidade informada de Empréstimo para pessoa física/jurídica.
          example: NA
        chargingTriggerInfo:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Fatores geradores de cobrança que incidem sobre as Modalidades informada de Empréstimos para pessoa física/jurídica.
          example: 3% do valor do contrato
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
    LoanInterestRate:
      type: object
      properties:
        fees:
          type: array
          items:
            $ref: '#/components/schemas/InterestRateFee'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRate'
        minimumRate:
          type: string
          format: '(^[0-9](\.[0-9]{4})$|^NA$)'
          description: 'Percentual mínimo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)'
          example: '0.0456'
        maximumRate:
          type: string
          format: '(^[0-9](\.[0-9]{4})$|^NA$)'
          description: 'Percentual máximo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)'
          example: '0.6865'
    ApplicationRate:
      type: object
      properties:
        interval:
          $ref: '#/components/schemas/ApplicationIntervals'
        rate:
          type: string
          format: '(^[0-9](\.[0-9]{4})$|^NA$)'
          description: 'Percentual que corresponde a mediana da taxa efetiva cobrada do cliente pela contratação do Empréstimo, no intervalo informado. p.ex. ''9,8700%'' A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)'
          example: '0.0987'
      required:
        - interval
        - rate
    InterestRateFee:
      type: object
      properties:
        referentialRateIndexer:
          type: string
          enum:
            - SEM_INDEXADOR_TAXA
            - PRE_FIXADO
            - POS_FIXADO_TR_TBF
            - POS_FIXADO_TJLP
            - POS_FIXADO_LIBOR
            - POS_FIXADO_TLP
            - OUTRAS_TAXAS_POS_FIXADAS
            - FLUTUANTES_CDI
            - FLUTUANTES_SELIC
            - OUTRAS_TAXAS_FLUTUANTES
            - INDICES_PRECOS_IGPM
            - INDICES_PRECOS_IPCA
            - INDICES_PRECOS_IPCC
            - OUTROS_INDICES_PRECO
            - CREDITO_RURAL_TCR_PRE
            - CREDITO_RURAL_TCR_POS
            - CREDITO_RURAL_TRFC_PRE
            - CREDITO_RURAL_TRFC_POS
            - OUTROS_INDEXADORES
          description: 'Tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040'
          example: PRE_FIXADO
        rate:
          type: string
          format: '(^[0-1](\.[0-9]{2})$|^NA$)'
          description: |
            Percentual que incide sobre a composição das taxas de juros remuneratórios. (representa uma porcentagem Ex: 0.15 (O valor ao lado representa 15%. O valor '1 'representa 100%) A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)
          example: '0.15'
      required:
        - referentialRateIndexer
        - rate
    PriceIntervals:
      type: string
      enum:
        - 1_FAIXA_VALOR
        - 2_FAIXA_VALOR
        - 3_FAIXA_VALOR
        - 4_FAIXA_VALOR
      description: |
        Segundo Normativa nº 32, BCB, de 2020: Distribuição de frequência relativa dos valores de tarifas cobradas dos clientes, de que trata o § 2º do art. 3º da Circular nº 4.015, de 2020, deve dar-se com base em quatro faixas de igual tamanho, com explicitação dos valores sobre a mediana em cada uma dessas faixas. Informando: 1ª faixa de valor, 2ª faixa de valor, 3ª faixa de valor e 4ª faixa de valor
      example: 1_FAIXA_VALOR
    ApplicationIntervals:
      type: string
      enum:
        - 1_QUARTIL_CLIENTES
        - 2_QUARTIL_CLIENTES
        - 3_QUARTIL_CLIENTES
        - 4_QUARTIL_CLIENTES
      description: |
        Faixas para cobrança da taxa efetiva aplicada pela contratação do Empréstimo, no intervalo informado: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes. Segundo Normativa nº32 de 2020: 'Distribuição de frequência relativa dos valores de tarifas e taxas de juros cobrados dos clientes, de que trata o § 2º do art. 3º da Circular nº 4.015, de 2020, deve dar-se com base em quatro faixas de igual tamanho, com explicitação dos valores sobre a mediana e o percentual de clientes em cada uma dessas faixas.
    RequiredWarranty:
      type: string
      enum:
        - CESSAO_DIREITOS_CREDITORIOS
        - CAUCAO
        - PENHOR
        - ALIENACAO_FIDUCIARIA
        - HIPOTECA
        - OPERCAOES_GARANTIDAS_PELO_GOVERNO
        - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS
        - SEGUROS_ASSEMELHADOS
        - GARANTIA_FIDEJUSSORIA
        - BENS_ARRENDADOS
        - GARANTIAS_INTERNACIONAIS
        - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
        - ACORDOS_COMPENSACAO
        - NAO_APLICAVEL
      maxLength: 50
      description: Campo aberto para informar as condições contratuais relativas à Modalidade de direitos creditórios descontados informada
      example: CESSAO_DIREITOS_CREDITORIOS
    CreditCardIdentification:
      type: object
      required:
        - product
        - creditCard
      properties:
        product:
          type: object
          required:
            - type
            - additionalInfo
          properties:
            type:
              type: string
              enum:
                - CLASSIC_NACIONAL
                - CLASSIC_INTERNACIONAL
                - GOLD
                - PLATINUM
                - INFINITE
                - ELECTRON
                - STANDARD_NACIONAL
                - STANDARD_INTERNACIONAL
                - ELETRONIC
                - BLACK
                - REDESHOP
                - MAESTRO_MASTERCARD_MAESTRO
                - GREEN
                - BLUE
                - BLUEBOX
                - PROFISSIONAL_LIBERAL
                - CHEQUE_ELETRONICO
                - CORPORATIVO
                - EMPRESARIAL
                - COMPRAS
                - OUTROS
              description: 'Categoria atribuída a um cartão de pagamento, sob uma certa denominação, que lhe agrega um conjunto de vantagens, diferenciando-o de acordo com o perfil do portador. Essa categoria é definida pelo BACEN e está contida no documento de nome ''Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores'''
              example: PLATINUM
            additionalInfo:
              type: string
              maxLength: 50
              pattern: \w*\W*
              description: 'Informações complementares se tipo de Cartão ''OUTROS''. Campo deve ser obrigatoriamente preenchido se selecionado ''OUTROS'''
              example: 'NA'
        creditCard:
          type: object
          required:
            - network
            - additionalInfo
          properties:
            network:
              type: string
              enum:
                - VISA
                - MASTERCARD
                - AMERICAN_EXPRESS
                - DINERS_CLUB
                - HIPERCARD
                - BANDEIRA_PROPRIA
                - CHEQUE_ELETRONICO
                - ELO
                - OUTRAS
              description: 'Categoria de Bandeiras de Cartões de Crédito (Instituidor do arranjo de pagamento). Bandeira é a detentora de todos os direitos e deveres da utilização da marca estampada no cartão, inclusive as bandeiras pertencentes aos emissores. p.ex. "American Express", "Diners Club" Essas bandeiras estão definidas em documento do BACEN de nome "Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores"'
              example: MASTERCARD
            additionalInfo:
              type: string
              maxLength: 50
              pattern: \w*\W*
              description: "Texto livre para especificar categoria de bandeira marcada como 'OUTRAS'. Campo deve ser obrigatoriamente preenchido se campo network vier selecionado como 'OUTROS'"
              example: 'NA'
    CreditCardRewardsProgram:
      type: object
      required:
        - hasRewardProgram
      properties:
        hasRewardProgram:
          type: boolean
          description: 'Indicador da existência de programa de fidelidade/recompensa associado à conta de pagamento pós-paga (cartão) true false'
          example: false
        rewardProgramInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Informações de termos e condições do programa de fidelidade/recompensa. Pode ser informada a URL referente ao endereço onde constam as condições informadas. Será de preenchimento obrigatório caso o campo hasRewardProgram esteja preenchido como true
          example: 'https://empresaa1.com/credit_cards_rewards'
    CreditCardTermsConditions:
      type: object
      required:
        - minimumFeeRate
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumFeeRate:
          type: string
          pattern: '(^[0-9](\.[0-9]{2})$|^NA$)'
          description: Percentual para pagamento mínimo sobre o saldo devedor da fatura.
          example: '0.25'
          maxLength: 4
        additionalInfo:
          type: string
          maxLength: 500
          pattern: \w*\W*
          description: Campo aberto para detalhamento de taxas de juros
          example: 'NA'
        elegibilityCriteriaInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Informação sobre as condições e critérios de elegibilidade do emissor do cartão. Pode ser informada a URL referente ao endereço onde constam as condições informadas.'
          example: 'https://empresaa1.com/creditcards_elegibility_criteria'
        closingProcessInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Descrição dos procedimentos para encerramento da conta de pagamento pós paga. Pode ser informada a URL referente ao endereço onde constam as condições informadas.'
          example: 'https://empresaa1.com/creditcards_closing_process'
    CreditCardInterest:
      type: object
      required:
        - feeRate
        - instalmentRate
        - interestRates
      properties:
        feeRate:
          $ref: '#/components/schemas/InterestRate'
        instalmentRate:
          $ref: '#/components/schemas/InterestRate'
        interestRates:
          type: array
          items:
            type: object
            required:
              - code
              - prices
              - minimumRate
              - maximumRate
              - fees
            properties:
              code:
                type: string
                enum:
                  - SAQUE_A_CREDITO
                  - PAGAMENTOS_CONTAS
                  - OUTROS
                description: Lista de outras operações de crédito
                example: SAQUE_A_CREDITO
              additionalInfo:
                type: string
                maxLength: 50
                pattern: \w*\W*
                description: Campo Texto para descrever outras operações de crédito marcadas como 'OUTROS'. Se o campo 'code' vier selecionado com 'OUTROS' é obrigatório o preenchimento do additionalInfo
                example: NA
              prices:
                type: array
                items:
                  required:
                    - interval
                    - rate
                  properties:
                    interval:
                      $ref: '#/components/schemas/PriceIntervals'
                    rate:
                      type: string
                      pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                      maxLength: 9
                      description: 'Percentual que corresponde a mediana (taxa efetiva) aplicada para  outras operações de crédito, no período informado.'
                      example: '0.1500'
              minimumRate:
                type: string
                pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                maxLength: 9
                description: Percentual mínimo cobrado (taxa efetiva) para  outras operações de crédito do mês de referência.
                example: '0.0450'
              maximumRate:
                type: string
                pattern: '((-?[1-9]?\d{1,4}){1}(\.\d{1,4}){1}|NA)$'
                maxLength: 9
                description: Percentual máximo cobrado (taxa efetiva) para  outras operações de crédito do mês de referência.
                example: '0.8000'
              fees:
                type: array
                description: Tarifas cobradas sobre Serviços ofertados
                items:
                  $ref: '#/components/schemas/FeeReferentialRateIndexer'
    PersonalCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonalCreditCardBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    PersonalCreditCardBrand:
      type: object
      required:
        - companies
      allOf:
        - $ref: '#/components/schemas/Brand'
      properties:
        companies:
          $ref: '#/components/schemas/PersonalCreditCardCompany'
    PersonalCreditCardCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - personalCreditCards
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        personalCreditCards:
          type: array
          items:
            $ref: '#/components/schemas/CreditCard'
    BusinessCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  pattern: \w*\W*
                  maxLength: 30
                  description: Nome da marca selecionada pela Organização responsável pelas contas de pagamento pós-paga (cartão de crédito)
                  example: Organização A
                companies:
                  type: array
                  items:
                    $ref: '#/components/schemas/BusinessCreditCardCompany'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    BusinessCreditCardCompany:
      type: object
      required:
        - name
        - cnpjNumber
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        businessCreditCards:
          type: array
          items:
            $ref: '#/components/schemas/CreditCard'
    CreditCardService:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
      properties:
        name:
          type: string
          enum:
            - ANUIDADE_CARTAO_BASICO_NACIONAL
            - ANUIDADE_CARTAO_BASICO_INTERNACIONAL
            - UTILIZACAO_CANAIS_ATENDIMENTO_RETIRADA_ESPECIE_BRASIL
            - UTILIZACAO_CANAIS_ATENDIMENTO_RETIRADA_ESPECIE_EXTERIOR
            - AVALIACAO_EMERGENCIAL_CREDITO
            - FORNECIMENTO_SEGUNDA_VIA_FUNCAO_CREDITO
            - PAGAMENTO_CONTAS_UTILIZANDO_FUNCAO_CREDITO
            - SMS
          description: 'Denominação de Serviços relacionados à Modalidade de Contas de Pagamento Pós-Pagas (Vide ENUM)'
          example: ANUIDADE_CARTAO_BASICO_NACIONAL
        code:
          type: string
          enum:
            - ANUIDADE_NACIONAL
            - ANUIDADE_INTERNACIONAL
            - SAQUE_CARTAO_BRASIL
            - SAQUE_CARTAO_EXTERIOR
            - AVALIACAO_EMERGENCIAL_CREDITO
            - EMISSAO_SEGUNDA_VIA
            - TARIFA_PAGAMENTO_CONTAS
            - SMS
          description: 'Sigla de identificação do Serviço relacionado à Modalidade de Contas de Pagamento Pós-Pagas (Vide ENUM)'
          example: ANUIDADE_NACIONAL
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          description: 'Fatos geradores de cobrança que incidem sobre as Modalidades de Contas de Pagamento Pós-Pagas informada, para pessoa jurídica. (Campo Livre)'
          example: 'Disponibilização de rede de estabelecimentos afiliados, instalada no País, para pagamentos de bens e serviços, cobrada no máximo uma vez a cada doze meses, admitido o parcelamento da cobrança'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
    ResponsePersonalFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonalFinancingBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    PersonalFinancingBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 30
          description: Nome da marca.
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancingCompany'
          description: Lista de instituições pertencentes à marca
    PersonalFinancingCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - personalFinancings
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        personalFinancings:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancing'
          description: Lista de financiamentos
    PersonalFinancing:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
      properties:
        type:
          type: string
          enum:
            - FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES
            - FINANCIAMENTO_AQUISICAO_BENS_OUTROS_BENS
            - FINANCIAMENTO_MICROCREDITO
            - FINANCIAMENTO_RURAL_CUSTEIO
            - FINANCIAMENTO_RURAL_INVESTIMENTO
            - FINANCIAMENTO_RURAL_COMERCIALIZACAO
            - FINANCIAMENTO_RURAL_INDUSTRIALIZACAO
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO_SFH
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO_SFI
          description: 'Modalidades de financiamentos ofertados para pessoas físicas, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Financiamento é um contrato entre o cliente e uma instituição financeira, mas com, destinação específica como para a aquisição de veículo ou de bem imóvel, que funcionam como garantia para o crédito concedido'
          example: FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES
        fees:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancingFee'
        interestRate:
          $ref: '#/components/schemas/FinancingInterestRate'
        requiredWarranties:
          type: array
          items:
            enum:
              - CESSAO_DIREITOS_CREDITORIOS
              - CAUCAO
              - PENHOR
              - ALIENACAO_FIDUCIARIA
              - HIPOTECA
              - OPERCAOES_GARANTIDAS_PELO_GOVERNO
              - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS
              - SEGUROS_ASSEMELHADOS
              - GARANTIA_FIDEJUSSORIA
              - BENS_ARRENDADOS
              - GARANTIAS_INTERNACIONAIS
              - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
              - ACORDOS_COMPENSACAO
              - NAO_APLICAVEL
            description: Relação de garantias exigidas
            example:
              - ALIENACAO_FIDUCIARIA
              - PENHOR
        termsConditions:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas.
          example: 'https://empresaa1.com/personal_financing'
    PersonalFinancingFee:
      type: object
      properties:
        service:
          $ref: '#/components/schemas/FinancingService'
    FinancingService:
      type: object
      properties:
        name:
          type: string
          pattern: \w*\W*
          description: 'Nomes das Tarifas cobradas sobre Serviços ofertados à Modalidade de Financiamento, para pessoa física'
          maxLength: 250
          example: 'Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia'
        code:
          type: string
          pattern: \w*\W*
          description: 'Sigla de identificação do serviço relacionado à Modalidade de Financiamento informada, para pessoa física. Campo aberto'
          maxLength: 100
          example: AQBAM009
        chargingTriggerInfo:
          type: string
          description: 'Fatores geradores de cobrança que incidem sobre as Modalidades de Financiamentos, para pessoa física. Campo Livre'
          example: '570.00'
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
        customers:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
      required:
        - name
        - code
        - prices
        - minimum
        - maximum
    FinancingInterestRate:
      type: object
      properties:
        fees:
          type: array
          items:
            $ref: '#/components/schemas/InterestRateFee'
        applications:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRate'
          example:
            - interval: 1_QUARTIL_CLIENTES
              rate: '0.0987'
            - interval: 2_QUARTIL_CLIENTES
              rate: '0.1600'
            - interval: 3_QUARTIL_CLIENTES
              rate: '0.3600'
            - interval: 4_QUARTIL_CLIENTES
              rate: '0.5890'
        minimumRate:
          type: string
          format: '(^[0-9](\.[0-9]{4})$|^NA$)'
          description: 'Percentual mínimo cobrado (taxa efetiva) no mês de referência, para o Financiamento contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)'
          example: '0.0456'
        maximumRate:
          type: string
          format: '(^[0-9](\.[0-9]{4})$|^NA$)'
          description: 'Percentual máximo cobrado (taxa efetiva) no mês de referência, para o Financiamento contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)'
          example: '0.6865'
        customers:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
      required:
        - applications
        - minimumRate
        - maximumRate
    ResponseBusinessFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/BusinessFinancingBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    BusinessFinancingBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 30
          description: Nome da marca.
          example: Organização A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancingCompany'
          description: Lista de instituições pertencentes à marga
    BusinessFinancingCompany:
      type: object
      required:
        - name
        - cnpjNumber
        - businessFinancings
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        businessFinancings:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancing'
          description: Lista de financiamentos
    BusinessFinancing:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
      properties:
        type:
          type: string
          enum:
            - FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES
            - FINANCIAMENTO_AQUISICAO_BENS_OUTROS_BENS
            - FINANCIAMENTO_MICROCREDITO
            - FINANCIAMENTO_RURAL_CUSTEIO
            - FINANCIAMENTO_RURAL_INVESTIMENTO
            - FINANCIAMENTO_RURAL_COMERCIALIZACAO
            - FINANCIAMENTO_RURAL_INDUSTRIALIZACAO
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO_SFH
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO_SFI
          description: 'Modalidades de financiamentos ofertados para pessoas jurídicas, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Financiamento é um contrato entre o cliente e uma instituição financeira, mas com, destinação específica como para a aquisição de veículo ou de bem imóvel, que funcionam como garantia para o crédito concedido'
          example: FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES
        fees:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancingFee'
        interestRate:
          $ref: '#/components/schemas/FinancingInterestRate'
        requiredWarranties:
          type: array
          items:
            enum:
              - CESSAO_DIREITOS_CREDITORIOS
              - CAUCAO
              - PENHOR
              - ALIENACAO_FIDUCIARIA
              - HIPOTECA
              - OPERCAOES_GARANTIDAS_PELO_GOVERNO
              - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS
              - SEGUROS_ASSEMELHADOS
              - GARANTIA_FIDEJUSSORIA
              - BENS_ARRENDADOS
              - GARANTIAS_INTERNACIONAIS
              - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
              - ACORDOS_COMPENSACAO
              - NAO_APLICAVEL
            description: Relação de garantias exigidas
            example: ALIENACAO_FIDUCIARIA
        termsConditions:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Campo aberto para informar as condições contratuais relativas à Modalidade de Financiamentos para pessoa jurídica informada. Pode ser informada a URL referente ao endereço onde constam as condições informadas. Endereço eletrônico de acesso ao canal. 
          example: 'https://empresaa1.com/personal_financing'
    BusinessFinancingFee:
      type: object
      properties:
        service:
          $ref: '#/components/schemas/FinancingService'
      required:
        - service
    ResponsePersonalInvoiceFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PersonalInvoiceFinancingsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                personalInvoiceFinancings:
                  - type: DESCONTO_DUPLICATAS
                    fees:
                      - service:
                          name: Informar Serviço para PF
                          code: NA
                          chargingTriggerInfo: 3% do valor do contrato
                          prices:
                            - interval: 1_QUARTIL_CLIENTES
                              value: '62.00'
                              currency: BRL
                            - interval: 2_QUARTIL_CLIENTES
                              value: '69.00'
                              currency: BRL
                            - interval: 3_QUARTIL_CLIENTES
                              value: '75.40'
                              currency: BRL
                            - interval: 4_QUARTIL_CLIENTES
                              value: '85.00'
                              currency: BRL
                          minimum:
                            value: '59.90'
                            currency: BRL
                          maximum:
                            value: '87.00'
                            currency: BRL
                    interestRate:
                      applications:
                        - interval: 1_QUARTIL_CLIENTES
                          rate: '0.0100'
                        - interval: 2_QUARTIL_CLIENTES
                          rate: '0.0200'
                        - interval: 3_QUARTIL_CLIENTES
                          rate: '0.0390'
                        - interval: 4_QUARTIL_CLIENTES
                          rate: '0.0455'
                      minimumRate: '0.0015'
                      maximumRate: '0.5100'
                    requiredWarranties: "CESSAO_DIREITOS_CREDITORIOS"
                    termsConditions: 'https://empresaa1.com/business_invoice_financings'
        links:
          self: 'https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings'
          first: 'https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings'
          prev: ""
          next: ""
          last: 'https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings'
        meta:
          totalRecords: 1
          totalPages: 1
    PersonalInvoiceFinancingsBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: \w*\W*
          maxLength: 30
          description: Nome da marca.
          example: Marca A
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalInvoiceFinancingsCompanies'
          description: Lista de instituições pertencentes à marga
    PersonalInvoiceFinancingsCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalInvoiceFinancings
      allOf:
        - $ref: '#/components/schemas/Company'
      properties:
        personalInvoiceFinancings:
          type: array
          items:
            $ref: '#/components/schemas/PersonalInvoiceFinancings'
          description: Lista de adiantamento de recebíveis
    PersonalInvoiceFinancings:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
        - termsConditions
      properties:
        type:
          type: string
          enum:
            - DESCONTO_DUPLICATAS
            - DESCONTO_CHEQUES
            - ANTECIPACAO_FATURA_CARTAO_CREDITO
            - OUTROS_DIREITOS_CREDITORIOS_DESCONTADOS
            - OUTROS_TITULOS_DESCONTADOS
          description: 'Modalidades de direitos creditórios descontados ofertados para pessoas Físicas, conforme Circular 4015-Bacen. Direito creditório descontado é a antecipação de créditos relativos por ex. ao: desconto de duplicatas, desconto de cheques,antecipação de fatura de cartão de crédito'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/PersonalInvoiceFinancingsFees'
        interestRate:
          $ref: '#/components/schemas/PersonalInvoiceFinancingsInterestRates'
        requiredWarranties:
          type: array
          items:
            $ref: '#/components/schemas/RequiredWarranty'
          description: Relação de garantias exigidas
        termsConditions:
          type: string
          pattern: \w*\W*
          maxLength: 2000
          description: Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas.
          example: ''
    PersonalInvoiceFinancingsFees:
      type: object
      properties:
        service:
          type: object
          required:
            - name
            - code
            - chargingTriggerInfo
            - prices
            - minimum
            - maximum
          properties:
            name:
              type: string
              pattern: \w*\W*
              maxLength: 250
              description: 'Nomes das Tarifas cobradas sobre Serviços ofertados à Modalidade de direitos creditórios descontados, para pessoa física. (Campo Livre)'
            code:
              type: string
              pattern: \w*\W*
              maxLength: 100
              description: 'Sigla de identificação do serviço relacionado à Modalidade de direitos creditórios descontados, para pessoa física. Campo aberto'
            chargingTriggerInfo:
              type: string
              pattern: \w*\W*
              maxLength: 2000
              description: 'Fatores geradores de cobrança que incidem sobre as Modalidades de direitos creditórios descontados, para pessoa física. Campo Livre'
            prices:
              type: array
              items:
                $ref: '#/components/schemas/Price'
            minimum:
              type: object
              items:
                $ref: '#/components/schemas/MinimumPrice'
            maximum:
              type: object
              items:
                $ref: '#/components/schemas/MaximumPrice'
      required:
        - service
    PersonalInvoiceFinancingsInterestRates:
      type: object
      properties:
        fees:
          type: array
          items:
            $ref: '#/components/schemas/InterestRateFee'
        applications:
          type: array
          items:
            type: object
            required:
              - interval
              - rate
            properties:
              interval:
                $ref: '#/components/schemas/ApplicationIntervals'
              rate:
                type: string
                description: |
                  Percentual que corresponde a mediana da taxa efetiva cobrada do cliente pela contratação dos Direitos Creditórios Descontados, no intervalo informado. p.ex. '9,8700%' A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.15. Este valor representa 15%. O valor 1 representa 100%)
                pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
        minimumRate:
          type: string
          description: |
            Percentual mínimo cobrado (taxa efetiva) no mês de referência, para os Direitos Creditórios Descontados contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.15. Este valor representa 15%. O valor 1 representa 100%)
          pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
        maximumRate:
          type: string
          description: |
            Percentual máximo cobrado (taxa efetiva) no mês de referência, para os Direitos Creditórios Descontados contratado  A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.15. Este valor representa 15%. O valor 1 representa 100%)
          pattern: '(^[0-9](\.[0-9]{4})$|^NA$)'
      required:
        - applications
        - minimumRate
        - maximumRate
    ResponseBusinessInvoiceFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/BusinessInvoiceFinancingsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                businessInvoiceFinancings:
                  - type: DESCONTO_DUPLICATAS
                    fees:
                      - service:
                          name: Informar Serviço para PJ
                          code: NA
                          chargingTriggerInfo: 3% do valor do contrato
                          prices:
                            - interval: 1_QUARTIL_CLIENTES
                              value: '62.00'
                              currency: BRL
                            - interval: 2_QUARTIL_CLIENTES
                              value: '69.00'
                              currency: BRL
[...]
