openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0
  contact:
    email: "apiteam@swagger.io"
servers:
  - url: http://api.banco.com.br/open-banking/products-services/v1
tags:
- name: "Accounts"
- name: "Loans"
- name: "Credit Cards" 
- name: "Financings"
- name: "Invoice Financings"
###############
## Endpoints ##
###############
paths:
  /personal-accounts:
    get:
      tags:
      - "Accounts"
      summary: "Obtém dados das contas pessoa física"
      description: "Obtém dados das contas"
      operationId: "getPersonalAccounts"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/PersonalAccountsResponse'
  
  /business-accounts:
    get:
      tags:
      - "Accounts"
      summary: "Obtém dados das contas pessoa jurídica"
      description: "Obtém dados das contas pessoa jurídica"
      operationId: "getBusinessAccounts"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseBusinessAccounts'   

  /personal-loans:
    get:
      tags:
      - "Loans"
      summary: "Obtém dados sobre empréstimos pessoa física"
      description: "Obtém dados sobre empréstimos pessoa física"
      operationId: "getPersonalLoans"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponsePersonalLoansList'
                
  /business-loans:
    get:
      tags:
      - "Loans"
      summary: "Obtém dados sobre empréstimos pessoa jurídica"
      description: "Obtém dados sobre empréstimos pessoa jurídica"
      operationId: "getBusinessLoans"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseBusinessLoansList'
                
  /personal-credit-cards:
    get:
      tags:
      - "Credit Cards"
      summary: "Obtém dados sobre cartões de crédito pessoa física"
      description: "Obtém dados sobre cartões de crédito pessoa física"
      operationId: "getPersonalCreditCards"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/PersonalCreditCardResponse'
                
  /business-credit-cards:
    get:
      tags:
      - "Credit Cards"
      summary: "Obtém dados sobre cartões de crédito pessoa jurídica"
      description: "Obtém dados sobre cartões de crédito pessoa jurídica"
      operationId: "getBusinessCreditCards"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BusinessCreditCardResponse'

  /personal-financings:
    get:
      tags:
      - "Financings"
      summary: Obtém a lista de Financiamentos de Pessoa Física.
      description: "Obtém a lista de Financiamentos de Pessoa Física"
      operationId: "getPersonalFinancings"
      responses:
        '200':
          description: Retorna lista de financiamentos de pessoa física.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponsePersonalFinancingsList'

  /business-financings:
    get:
      tags:
      - "Financings"
      summary: Obtém a lista de Financiamentos de Pessoa Física.
      description: "Obtém a lista de Financiamentos de Pessoa Física."
      operationId: "getBusinessFinancings"
      responses:
        '200':
          description: Retorna lista de financiamentos de pessoa jurídica.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseBusinessFinancingsList'
                
  /personal-invoice-financings:
    get:
      tags:
      - "Invoice Financings"
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Física.
      description: "Obtém a lista de Adiantamento de Recebíveis de Pessoa Física."
      operationId: "getPersonalInvoiceFinancings"
      responses:
        '200':
          description: Retorna lista de adiantamento de recebíveis de pessoa física.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancingsList'
                
  /business-invoice-financings:
    get:
      tags:
      - "Invoice Financings"
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      description: "Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica."
      operationId: "getBusinessInvoiceFinancings"
      responses:
        '200':
          description: Retorna lista de adiantamento de recebíveis de pessoa jurídica.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancingsList'
components:
  ###############
  ##  Schemas  ##
  ###############
  schemas:
  
  ##############################
  ##  Commons - Accounts  ##
  ##############################
  
  ##### AccountsTermsConditions #####
    AccountsTermsConditions:
      type: object
      required:
        - minimumBalance
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumBalance:
          type: object
          properties:
            value:
              type: string
              maxLength: 12
              pattern: ^(\d{1,9}\,\d{2}){1}$
              description: "Saldo mínimo exigido nos Termos e condições contratuais, que regem as contas comercializadas."
              example: "200,00"
            currency:
              type: string
              description: "Moeda referente ao saldo mínimo exigido, segundo modelo ISO-4217."
              example: "BRL"
        elegibilityCriteriaInfo:
          type: string
          maxLength: 1024
          pattern: \w*\W*
          description: "Critérios de qualificação do cliente com a finalidade de definir sua elegibilidade para a aquisição do tipo de conta. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal. URLs são limitadas a 2048 caracteres mas, para o contexto do Sistema Financeiro aberto, será adotado a metade deste tamanho."
          example: "https://example.com/mobile-banking"
        closingProcessInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: "Procedimentos de encerramento para o tipo de conta tratado. Possibilidade de inscrição da URL. Endereço eletrônico de acesso ao canal. URLs são limitadas a 2048 caracteres mas, para o contexto do Sistema Financeiro aberto, será adotado a metade deste tamanho."
          example: "https://example.com/mobile-banking"
  
  ##### AccountOtherServicesPrice ##### 
    AccountOtherServicesPrice:
      type: object
      required:
        - intervals
        - values
        - currencies
        - minimum
        - maximum
      properties:
        intervals:
          type: string
          enum: ["1_QUARTIL_CLIENTES",
                 "2_QUARTIL_CLIENTES",
                 "3_QUARTIL_CLIENTES",
                 "4_QUARTIL_CLIENTES"
            ]
          description: "Faixas de valor referentes a tarifa de outro Serviços informada: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
          example: "1_QUARTIL_CLIENTES"
        values:
          type: string
          description: "Valor da mediana da tarifa cobrada referente a Outros Serviços, para o tipo de faixa informada"
          example: "45,00"
          maxLength: 12
          pattern: ^(\d{1,9}\,\d{2}){1}$
        currencies:
          type: string
          maxLength: 3
          pattern: ^(\w{3}){1}$
          description: "Moeda referente ao valor da mediana da tarifa de Outros Serviços no quartil informado, segundo modelo ISO-4217."
          example: "BRL"
        minimum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: "Valor mínimo cobrado para a tarifa de Outros Serviços no mês de referência"
              pattern: ^(\d{1,9}\,\d{2}){1}$
              example: "45,00"
            currency:
              type: string
              description: "Moeda referente ao valor mínimo da tarifa de Outros Serviços, segundo modelo ISO-4217."
              example: "BRL"
        maximum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              pattern: ^(\d{1,9}\,\d{2}){1}$
              description: "Valor máximo cobrado para a tarifa de Outros Serviços no mês de referência."
              example: "45,00"
            currency:
              type: string
              description: "Moeda referente ao valor máximo da tarifa de outros serviços, segundo modelo ISO-4217."
              example: "BRL"
        
  ############################
  ##  Personal Accounts ##
  ############################  
  
  ##### ResponsePersonalAccounts #####
    PersonalAccountsResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  pattern: \w*\W*
                  description: "Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes."
                  example: "Organização A"
                companies:
                  type: array
                  items:
                    required: 
                      - names
                      - cnpjNumbers
                    properties:
                      names:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
                        example: "Empresa A1"
                      cnpjNumbers:
                        type: string
                        minLength: 14
                        maxLength: 14
                        pattern: ^(\d{14})$
                        description: "O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica."
                        example: "45086338000178"
                      urlComplementaryList:
                        type: string
                        maxLength: 1024
                        pattern: \w*\W*
                        description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços.
                              Endereço eletrônico de acesso ao canal. URLs são limitadas a 2048 caracteres mas, para o contexto do Sistema Financeiro aberto, será adotado a metade deste tamanho."
                        example: "https://empresaa1.com/branches-banking"
                      personalAccounts:
                        type: array
                        items:
                          required:
                            - types
                            - fees
                            - serviceBundles
                            - openCloseChannels
                            - transactionMethods
                            - termsConditions
                            - incomeRates
                          properties:
                            types:
                              type: string
                              enum: [
                                  "CONTA_DEPOSITO_A_VISTA"
                                  ,"CONTA_POUPANCA"
                                  ,"CONTA_PAGAMENTO_PRE_PAGA"
                                ]
                              description: "Tipos de contas ofertadas para pessoas Físicas, conforme Resolução 3.919 do Bacen."
                              example: "CONTA_DEPOSITO_A_VISTA"
                            fees:
                              type: object
                              required:
                                - priorityServices
                              properties:
                                priorityServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalAccountsPriorityServices'
                                otherServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalAccountsOtherServices'
                            serviceBundles:
                                type: object
                                required: 
                                  - names
                                  - services
                                  - price
                                  - minimum
                                  - maximum
                                properties:
                                  names:
                                    type: string
                                    maxLength: 50
                                    pattern: \w*\W*
                                    description: "Nome do Pacote de Serviços dado pela instituição."
                                  services:
                                    type: array
                                    items:
                                      required: 
                                        - code
                                        - eventLimitQuantity
                                        - freeEventQuantity
                                      properties:
                                        code:
                                          type: string
                                          maxLength: 30
                                          description: "Código que identifica o Serviço que compõe o Pacote de Serviços, podendo ser da lista de Serviços Prioritários ou Outros Serviços."
                                          example: "SAQUEterminal"
                                        eventLimitQuantity:
                                          type: string
                                          maxLength: 60
                                          description: "Quantidade de eventos previstos no Pacote de Serviços (Número de eventos incluídos no mês)"
                                          example: "2"
                                        freeEventQuantity:
                                          type: string
                                          maxLength: 60
                                          description: "Quantidade de eventos previstos no Pacote de Serviços com isenção de Tarifa"
                                          example: "1"
                                  price:
                                    type: object
                                    required:
                                      - intervals
                                      - monthlyFees
                                      - currencies
                                      - minimum
                                      - maximum
                                    properties:
                                      intervals:
                                        type: string
                                        enum: ["1_QUARTIL_CLIENTES",
                                               "2_QUARTIL_CLIENTES",
                                               "3_QUARTIL_CLIENTES",
                                               "4_QUARTIL_CLIENTES"
                                          ]
                                        description: "Faixas de valor referentes a tarifa de Pacote de Serviços informada: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
                                        example: "1_QUARTIL_CLIENTES"
                                      monthlyFees:
                                        type: string
                                        description: "Valor da mediana da tarifa mensal referente ao Pacote de Serviços."
                                        example: "130,00"
                                        maxLength: 12
                                        pattern: ^(\d{1,9}\,\d{2}){1}$
                                      currencies:
                                        type: string
                                        maxLength: 3
                                        pattern: ^(\w{3}){1}$
                                        description: "Moeda referente ao valor da mediana da tarifa mensal do Pacote de Serviços, segundo modelo ISO-4217. "
                                        example: "BRL"
                                  minimum:
                                    type: object
                                    required:
                                      - value
                                      - currency
                                    properties:
                                      value:
                                        type: string
                                        maxLength: 12
                                        description: "Valor  mensal mínimo cobrado referente ao Pacote de Serviços no mês de referência"
                                        pattern: ^(\d{1,9}\,\d{2}){1}$
                                        example: "45,00"
                                      currency:
                                        type: string
                                        description: "Moeda referente ao valor mínimo da tarifa de Pacote de Serviços, segundo modelo ISO-4217."
                                        example: "BRL"
                                  maximum:
                                    type: object
                                    required:
                                      - value
                                      - currency
                                    properties:
                                      value:
                                        type: string
                                        maxLength: 12
                                        pattern: ^(\d{1,9}\,\d{2}){1}$
                                        description: "Valor mensal máximo cobrado referente ao Pacote de Serviços no mês de referência."
                                        example: "45,00"
                                      currency:
                                        type: string
                                        description: "Moeda referente ao valor máximo da tarifa do Pacote de Serviços, segundo modelo ISO-4217."
                                        example: "BRL"
                            openCloseChannels:
                              type: string
                              enum: [
                                "DEPENDENCIAS_PROPRIAS",
                                "CORRESPONDENTES_BANCARIOS",
                                "INTERNET_BANKING",
                                "MOBILE_BANKING",
                                "CENTRAL_TELEFONICA",
                                "CHAT",
                                "OUTROS"
                                ]
                              description: "Canais disponíveis para abertura e encerramento de contas"
                              example: "CENTRAL_TELEFONICA"
                            transactionMethods:
                              type: string
                              enum: [
                                "MOVIMENTACAO_ELETRONICA",
                                "MOVIMENTACAO_CHEQUE",
                                "MOVIMENTACAO_CARTAO",
                                "MOVIMENTACAO_PRESENCIAL"
                                ]
                              description: "Lista de formas de movimentação possíveis para a conta"
                              example: "MOVIMENTACAO_CARTAO"
                            additionalInfo:
                              type: string
                              maxLength: 100
                              pattern: \w*\W*
                              description: "Texto livre para complementar informação relativa ao Canal disponível, quando no campo 'openingClosingChannels' estiver preenchida a opção 'Outros'"
                              example: "Texto livre"
                            termsConditions:
                              $ref: '#/components/schemas/AccountsTermsConditions'
                            incomeRates:
                              $ref: '#/components/schemas/PersonalAccountsIncomeRates'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
          
  ##### PersonalAccountsPriorityServices #####
    PersonalAccountsPriorityServices:
      type: object
      required:
        - names
        - codes
        - chargingTriggerInfo
        - price
        - minimum
        - maximum
      properties:
        names:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: "Nome dos Serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa física."
          example: "Fornecimento de extrato de um período de conta de depósitos à vista e de poupança"
        codes:
          type: string
          enum: [
            "CADASTRO",
            "2_VIA_CARTAO_DEBITO",
            "2_VIA-CARTAO_POUPANCA",
            "EXCLUSAO_CCF",
            "SUSTACAO_REVOGACAO",
            "FOLHA_CHEQUE",
            "CHEQUE_ADMINISTRATIVO",
            "CHEQUE_VISADO",
            "SAQUE_PESSOAL",
            "SAQUE_TERMINAL",
            "SAQUE_CORRESPONDENTE",
            "DEPOSITO_IDENTIFICADO",
            "EXTRATO_MES_P",
            "EXTRATO_MES_E",
            "EXTRATO_MES_C",
            "EXTRATO_MOVIMENTO_P",
            "EXTRATO_MOVIMENTO_E",
            "EXTRATO_MOVIMENTO_C",
            "MICROFILME",
            "DOC_PESSOAL",
            "DOCELETRONICO",
            "DOC_INTERNET",
            "TED_PESSOAL",
            "TED_ELETRONICO",
            "TED_INTERNET",
            "DOC_TED_AGENDADO_P",
            "DOC_TED_AGENDADO_E",
            "DOC_TED_AGENDADO_I",
            "TRANSF_RECURSO_P",
            "TRANSF_RECURSO_E",
            "ORDEM_PAGAMENTO"
          ]
          description: "Sigla de identificação do Serviço Prioritário, segundo Resolução 3.919 do Bacen."
          example: "EXTRATO_MOVIMENTO_P"
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: "Fatos geradores de cobrança que incidem sobre os serviços prioritários, segundo Resolução 3.919 do Bacen, para pessoa física."
          example: "Fornecimento de extrato com a movimentação de um período em guichê de caixa ou por outras formas de atendimento pessoal, tal como atendimento telefônico realizado por atendente."
        price:
          type: object
          required:
            - intervals
            - values
            - currencies
          properties:
            intervals:
              type: string
              enum: [
                    "1_QUARTIL_CLIENTES",
                    "2_QUARTIL_CLIENTES",
                    "3_QUARTIL_CLIENTES",
                    "4_QUARTIL_CLIENTES"
                ]
              description: "Faixas de valor referentes a tarifa do Serviço Prioritário informada: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
              example: "1_QUARTIL_CLIENTES"
            values:
              type: string
              pattern: ^(\d{1,9}\,\d{2}){1}$
              maxLength: 12
              description: "Valor da mediana da tarifa cobrada, relativa ao Serviço Prioritário, para o tipo de faixa informada."
              example: "45,00"
            currencies:
              type: string
              pattern: ^([A-Z]{3})$
              description: "Moeda referente ao valor da mediana da tarifa do Serviço Prioritário no quartil informado, segundo modelo ISO-4217."
              example: "BRL"
        minimum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: "Valor mínimo cobrado para a tarifa de Serviço Prioritário no mês de referência"
              pattern: ^(\d{1,9}\,\d{2}){1}$
              example: "45,00"
            currency:
              type: string
              maxLength: 3
              pattern: ^([A-Z]{3})$
              description: "Moeda referente ao valor da tarifa conforme ISO-4217"
              example: "BRL"
        maximum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              pattern: ^(\d{1,9}\,\d{2}){1}$
              description: "Valor máximo cobrado para a tarifa de Serviço Prioritário no mês de referência"
              example: "45,00"
            currency:
              type: string
              maxLength: 3
              pattern: ^([A-Z]{3})$
              description: "Moeda referente ao valor da tarifa conforme ISO-4217"
              example: "BRL"
          
  ##### PersonalAccountsOtherServices #####
    PersonalAccountsOtherServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - price
      properties:
        name:
          type: string
          maxLength: 80
          description: "Nome de Outro Serviço para pessoa física (Campo Livre) "
          example: "Evento personalizado"
        code:
          type: string
          maxLength: 60
          description: " Siglas de identificação de Outro Serviço (Campo Livre)"
          example: "EVENTO_PERSONALIZADO"
        chargingTriggerInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: "Fatos geradores de cobrança que incidem sobre outros serviços para pessoa física. (Campo Livre)"
          example: "Cobrança devido a evento personalizado"
        price:
          $ref: '#/components/schemas/AccountOtherServicesPrice'
  
  ##### PersonalAccountsIncomeRates #####
    PersonalAccountsIncomeRates:
      type: object
      required: 
        - savingAccount
        - prepaidPaymentAccount
      properties:
        savingAccount:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: "Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente."
          example: "70% da Taxa Selic (6,5%) = 4,55%, que é o atual rendimento anual da poupança. O rendimento mensal é de 0,3715"
        prepaidPaymentAccount:
          type: object
          required:
            - application
            - minimumRate
            - maximumRate
          properties:
            application:
              type: object
              required:
                - intervals
                - rates
              properties:
                intervals:
                  type: string
                  enum: [
                        "1_QUARTIL_CLIENTES",
                        "2_QUARTIL_CLIENTES",
                        "3_QUARTIL_CLIENTES",
                        "4_QUARTIL_CLIENTES"
                    ]
                  description: "Faixas do percentual de taxa de remuneração efetivamente aplicada no intervalo informado para Contas do Tipo CONTA_PAGAMENTO_PRE_PAGA :1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
                  example: "1_QUARTIL_CLIENTES"
                rates:
                  type: string
                  pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
                  maxLength: 9
                  description: "Percentual que corresponde a taxa mediana de remuneração efetivamente aplicada no intervalo informado para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
                  example: "0.1500"
            mininumRate:
              type: string
              pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
              maxLength: 9
              description: "Percentual mínimo referente à taxa de remuneração efetivamente aplicada no mês de referência para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
              example: "0.1500"
            maximumRate:
              type: string
              pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
              maxLength: 9
              description: "Percentual máximo referente à taxa de remuneração efetivamente aplicada no mês de referência para VCONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
              example: "0.1500"

 
  ############################
  ##  Business Accounts ##
  ############################  
  
  ##### ResponseBusinessAccounts #####
    ResponseBusinessAccounts:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  pattern: \w*\W*
                  description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
                  example: "The Big Bank Brand"
                companies:
                  type: array
                  items:
                    required: 
                      - names
                      - cnpjNumbers
                    properties:
                      names:
                        type: string
                        maxLength: 80
                        pattern: \w*\W*
                        description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
                        example: "The Big Bank Company"
                      cnpjNumbers:
                        type: string
                        minLength: 14
                        maxLength: 14
                        pattern: ^(\d{14})$
                        description: "Número completo do CNPJ da instituição responsável pelos  tipos de contas de pessoas juridicas cosultadas."
                        example: "54672317000101"
                      urlComplementaryList:
                        type: string
                        description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber."
                        pattern: \w*\W*
                        example: "https://example.com/mobile-banking"
                      businessAccounts:
                        type: array
                        items:
                          required:
                            - types
                            - fees
                            - serviceBundles
                            - openingClosingChannels
                            - transactionMethods
                            - termsConditions
                            - incomeRates
                          properties:
                            types:
                              type: string
                              enum: [
                                  "CONTA_DEPOSITO_A_VISTA"
                                  ,"CONTA_POUPANCA"
                                  ,"CONTA_PAGAMENTO_PRE_PAGA"
                                ]
                              description: "Tipos de contas ofertadas para pessoas jurídicas, conforme Resolução 3.919 do Bacen."
                              example: "CONTA_POUPANCA"
                            fees:
                              type: object
                              properties:
                                services:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/BusinessAccountsServices'
                            serviceBundles:
                                type: object
                                required: 
                                  - name
                                  - services
                                  - price
                                  - minimum
                                  - maximum
                                properties:
                                  name:
                                    type: string
                                    maxLength: 50
                                    description: "Nome do Pacote de Serviços dado pela instituição."
                                  services:
                                    type: array
                                    items:
                                      required: 
                                        - code
                                        - eventLimitQuantity
                                        - freeEventQuantity
                                      properties:
                                        code:
                                          type: string
                                          maxLength: 30
                                          description: "Código que identifica o Serviço que compõe o Pacote de Serviços, podendo ser da lista de Serviços Prioritários ou Outros Serviços"
                                          example: "SAQUEterminal"
                                        eventLimitQuantity:
                                          type: string
                                          maxLength: 6
                                          pattern: ^(\d{1,6}){1}$
                                          description: "Quantidade de eventos previstos no Pacote de Serviços (Número de eventos incluídos no mês)"
                                          example: "2"
                                        freeEventQuantity:
                                          type: string
                                          maxLength: 6
                                          pattern: ^(\d{1,6}){1}$
                                          description: "Quantidade de eventos previstos no Pacote de Serviços com isenção de Tarifa"
                                          example: "1"
                                  price:
                                    type: object
                                    required:
                                      - intervals
                                      - monthlyFees
                                      - currencies
                                    properties:
                                      intervals:
                                        type: string
                                        enum: [
                                              "1_QUARTIL_CLIENTES",
                                              "2_QUARTIL_CLIENTES",
                                              "3_QUARTIL_CLIENTES",
                                              "4_QUARTIL_CLIENTES",
                                          ]
                                        description: "Faixas de valor referentes ao pagamento mensal do Pacote de Serviços informado: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
                                        example: "1_QUARTIL_CLIENTES"
                                      monthlyFees:
                                        type: string
                                        description: "Valor da mediana da tarifa mensal referente ao Pacote de Serviços."
                                      currencies:
                                        type: string
                                        maxLength: 3
                                        pattern: ^(\w{3}){1}$
                                        description: "Moeda referente ao valor da mediana da tarifa mensal do Pacote de Serviços, segundo modelo ISO-4217."
                                        example: "BRL"
                                  minimum:
                                    type: object
                                    required:
                                      - value
                                      - currency
                                    properties:
                                      value:
                                        type: string
                                        maxLength: 12
                                        description: "Valor  mensal mínimo cobrado referente ao Pacote de Serviços no mês de referência"
                                        pattern: ^(\d{1,9}\,\d{2}){1}$
                                        example: "45,00"
                                      currency:
                                        type: string
                                        maxLength: 3
                                        pattern: ^([A-Z]{3})$
                                        description: "Moeda referente ao valor mínimo da tarifa de Pacote de Serviços, segundo modelo ISO-4217."
                                        example: "BRL"
                                  maximum:
                                    type: object
                                    required:
                                      - value
                                      - currency
                                    properties:
                                      value:
                                        type: string
                                        maxLength: 12
                                        pattern: ^(\d{1,9}\,\d{2}){1}$
                                        description: "Valor  mensal máximo cobrado referente ao Pacote de Serviços no mês de referência"
                                        example: "45,00"
                                      currency:
                                        type: string
                                        maxLength: 3
                                        pattern: ^([A-Z]{3})$
                                        description: "Moeda referente ao valor máximo da tarifa do Pacote de Serviços, segundo modelo ISO-4217."
                                        example: "BRL"            
                            openingClosingChannels:
                              type: string
                              enum: [
                                "DEPENDENCIAS_PROPRIAS",
                                "CORRESPONDENTES_BANCARIOS",
                                "INTERNET_BANKING",
                                "MOBILE_BANKING",
                                "CENTRAL_TELEFONICA",
                                "CHAT",
                                "OUTROS"
                                ]
                              description: "Canais disponíveis para abertura e encerramento de contas"
                              example: "CENTRAL_TELEFONICA"
                            transactionMethods:
                              type: string
                              enum: [
                                "MOVIMENTACAO_ELETRONICA",
                                "MOVIMENTACAO_CHEQUE",
                                "MOVIMENTACAO_CARTAO",
                                "MOVIMENTACAO_PRESENCIAL"
                                ]
                              description: "Lista de formas de movimentação possíveis para a conta"
                              example: "MOVIMENTACAO_PRESENCIAL"
                            termsConditions:
                              $ref: '#/components/schemas/AccountsTermsConditions'
                            incomeRates:
                              type: object
                              required:
                                - savingAccount
                                - prepaidPaymentAccount
                              properties:
                                savingAccount:
                                  type: string
                                  maxLength: 2000
                                  pattern: \w*\W*
                                  description: "Descrição da Remuneração especificamente para Conta de Poupança. Deve ser preenchido com a determinação legal vigente."
                                  example: "'70% da Taxa Selic (6,5%) = 4,55%, que é o atual rendimento anual da poupança. O rendimento mensal é de 0,3715"
                                prepaidPaymentAccount:
                                  type: object
                                  required:
                                    - application
                                    - minimumRate
                                    - maximumRate
                                  properties:
                                    application:
                                      type: object
                                      required:
                                        - intervals
                                        - rates
                                      properties:
                                        intervals:
                                          type: string
                                          enum: [
                                                "1_QUARTIL_CLIENTES",
                                                "2_QUARTIL_CLIENTES",
                                                "3_QUARTIL_CLIENTES",
                                                "4_QUARTIL_CLIENTES"
                                            ]
                                          description: "Faixas do percentual de taxa de remuneração efetivamente aplicada no intervalo informado para Contas do Tipo CONTA_PAGAMENTO_PRE_PAGA :1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes"
                                          example: "1_QUARTIL_CLIENTES"
                                        rates:
                                          type: string
                                          pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
                                          maxLength: 9
                                          description: "Percentual que corresponde a taxa mediana de remuneração efetivamente aplicada no intervalo informado para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
                                          example: "0.1500"
                                    mininumRate:
                                      type: string
                                      pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
                                      maxLength: 9
                                      description: "Percentual mínimo referente à taxa de remuneração efetivamente aplicada no mês de referência para CONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
                                      example: "0.1500"
                                    maximumRate:
                                      type: string
                                      pattern: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1
                                      maxLength: 9
                                      description: "Percentual máximo referente à taxa de remuneração efetivamente aplicada no mês de referência para VCONTA_PAGAMENTO_PRE_PAGA. A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, emso que venham preenchidas com zeros"
                                      example: "0.1500"
      
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
  
  ##### BusinessAccountsServices #####
    BusinessAccountsServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - price
        - minimum
        - maximum
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nome atribuído a Outros Serviços disponíveis para os tipos de contas informados. Outros Serviços são quaisquer serviços que a instituição ofereça para a modalidade de Contas e não estejam definidos na lista de Serviços Prioritários definidos na resolução 3.919 do Bacen."
          example: "Evento personalizado"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação de Outros Serviços que incidem sobre os tipos de contas informados."
          example: "EVENTO_PERSONALIZADO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Outros Fatores geradores de cobrança referentes aos Outros Serviços que incidem sobre as contas comercializadas."
          example: "Cobrança devido a evento personalizado"
        price:
          $ref: '#/components/schemas/AccountOtherServicesPrice'
        minimum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: "Valor mínimo cobrado para a tarifa do Outro Serviço no mês de referência."
              pattern: ^(\d{1,9}\,\d{2}){1}$
              example: "45,00"
            currency:
              type: string
              maxLength: 3
              description: "Moeda referente ao valor mínimo da tarifa do Outro Serviço  segundo modelo ISO-4217. "
              pattern: ^([A-Z]{3})$
              example: "BRL"
        maximum:
          type: object
          required:
            - value
            - currency
          properties:
            value:
              type: string
              maxLength: 12
              description: "Valor máximo cobrado para a tarifa de Outros Serviços na base de clientes do mês de referência."
              pattern: ^(\d{1,9}\,\d{2}){1}$
              example: "45,00"
            currency:
              type: string
              maxLength: 3
              description: "Moeda referente ao valor máximo da tarifa de outros serviços, segundo modelo ISO-4217."
              pattern: ^([A-Z]{3})$
              example: "BRL"
 
  ######################
  ##  Personal Loans  ##
  ######################
  
  ##### ResponsePersonalLoansList #####
    ResponsePersonalLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
                $ref: '#/components/schemas/PersonalLoansBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'

  ##### PersonalLoansBrand #####
    PersonalLoansBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome da Marca.
          example: "Organização A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalLoansCompanies'
          description: Lista de instituições pertencentes à marca 
          
  #### PersonalLoansCompanies ####
    PersonalLoansCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalLoans
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 80
          description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
          example: "Empresa da Marca A"
        urlComplementaryList:
          type: string
          pattern: '\w*\W*'
          maxLength: 1024
          description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal." 
          example: "https://example.com/mobile-banking"
        personalLoans:
          type: array
          items:
            $ref: '#/components/schemas/PersonalLoans'
          description: Lista
      allOf:
        - $ref: '#/components/schemas/CNPJ'

  ######################
  ##  Business Loans  ##
  ######################

  #### ResponseBusinessLoansList ####
    ResponseBusinessLoansList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
                 $ref: '#/components/schemas/BusinessLoansBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'

  ##### BusinessLoansBrand #####
    BusinessLoansBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome do marca.
          example: "Organização A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessLoansCompanies'
          description: Lista de instituições pertencentes à marca
   
  #### BusinessLoansCompanies ####
    BusinessLoansCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - businessLoans
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 80
          description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
          example: "Empresa A1"
        urlComplementaryList:
          type: string
          pattern: '\w*\W*'
          maxLength: 1024
          description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal." 
          example: "https://example.com/mobile-banking"
        businessLoans:
          type: array
          items:
            $ref: '#/components/schemas/BusinessLoan'
          description: Lista
      allOf:
        - $ref: '#/components/schemas/CNPJ'

    #######################################
    ##  Commons  Personal/Business Loans ##
    #######################################

    #### PersonalLoans ####
    PersonalLoans:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
      properties:
        type:
          type: string
          enum:
            - ADIANTAMENTO_DEPOSITANTE
            - EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO
            - EMPRESTIMO_CREDITO_PESSOAL_NAO_CONSIGNADO
            - EMPRESTIMO_HOME_EQUITY
            - EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
            - EMPRESTIMO_CHEQUE_ESPECIAL
            - EMPRESTIMO_CONTA_GARANTIDA
          description: "Modalidades de empréstimos ofertados para pessoas físicas"
          example: "ADIANTAMENTO_DEPOSITANTE"
        fees:
          type: array
          items:
            $ref: '#/components/schemas/LoanFee'  
          description: Lista
        interestRate:
          type: object
          $ref: '#/components/schemas/LoanInterestRate'
        requiredWarranties:
          type: array
          items:
            $ref: '#/components/schemas/RequiredWarranty'
        termsConditions:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas."
          example: "https://empresaa1.com/personal_loans"
    #### BusinessLoan ####
    BusinessLoan:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
      properties:
        type:
          type: string
          enum:
            - ADIANTAMENTO_DEPOSITANTE
            - EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO
            - EMPRESTIMO_CHEQUE_ESPECIAL
            - EMPRESTIMO_CONTA_GARANTIDA
            - EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_ATE_365_DIAS
            - EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_SUPERIOR_365_DIAS
            - EMPRESTIMO_CAPITAL_GIRO_ROTATIVO
          description: "Modalidades de empréstimos ofertados para pessoas jurídicas"
          example: "ADIANTAMENTO_DEPOSITANTE"
        fees:
          type: array
          items:
            $ref: '#/components/schemas/LoanFee'  
          description: Lista
        interestRate:
          type: object
          $ref: '#/components/schemas/LoanInterestRate'
        requiredWarranties:
          type: array
          items:
            $ref: '#/components/schemas/RequiredWarranty'
        termsConditions:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas."
          example: "https://empresaa1.com/personal_loans"

    #### Fees ####
    LoanFee:
      type: object
      properties:
        service:
          type: object
          $ref: '#/components/schemas/LoanService'

    #### Fees ####
    LoanService:
      type: object
      required:
        - name
        - code
        - chargeTriggerInfo
        - prices
        - minimum
        - maximum
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada do Empréstimo para pessoa física/jurídica."
          example: "Adiantamento a Depositantes / Excesso Limite"
        code:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade informada de Empréstimo para pessoa física/jurídica."
          example: "ADIANT. DEPOSITANTE DD/MM"
        chargingTriggerInfo:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades informada de Empréstimos para pessoa física/jurídica."
          example: "Tarifa cobrada sobre saldo a descoberto em conta corrente a cada ocorrencia"
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          $ref: '#/components/schemas/MinimumPrice'
        maximum:
          $ref: '#/components/schemas/MaximumPrice'
          
  #### LoanInterestRates ####
    LoanInterestRate:
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRate'
        minimumRate:
          type: string
          format: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1}
          description: "Percentual mínimo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado 
A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
(representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)"
          example: '0.0456'
        maximumRate:
          type: string
          format: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1}
          description: "Percentual máximo cobrado (taxa efetiva) no mês de referência, para o Empréstimo contratado 
A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
(representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)"
          example: '0.6865'

  #### ApplicationRates ####
    ApplicationRate:
      type: object
      properties:
          interval:
            $ref: '#/components/schemas/Intervals'
            example: 1_QUARTIL_CLIENTES
          rate:
            type: string
            format: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1}
            description: "Percentual que corresponde a mediana da taxa efetiva cobrada do cliente pela contratação do Empréstimo, no intervalo informado. p.ex. '9,8700%'
A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
(representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)"
            example: "0.0987"
      required:
          - interval
          - rate

  #### Intervals ####          
    Intervals:
      type: string
      enum:
        - 1_QUARTIL_CLIENTES
        - 2_QUARTIL_CLIENTES
        - 3_QUARTIL_CLIENTES
        - 4_QUARTIL_CLIENTES
      description: 'Faixas para cobrança da taxa efetiva aplicada pela contratação do Empréstimo, no intervalo informado: 1º quartil de clientes, 2º quartil de clientes, 3º quartil de clientes e 4º quartil de clientes'

  ####  Required Warranties  ####
    RequiredWarranty:  
      type: string
      enum:
        - CESSAO_DIREITOS_CREDITORIOS
        - CAUCAO
        - PENHOR
        - ALIENACAO_FIDUCIARIA
        - HIPOTECA
        - OPERCAOES_GARANTIDAS_PELO_GOVERNO
        - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS 
        - SEGUROS_ASSEMELHADOS
        - GARANTIA_FIDEJUSSORIA
        - BENS_ARRENDADOS
        - GARANTIAS_INTERNACIONAIS
        - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
        - ACORDOS_COMPENSACAO
        - NAO_APLICAVEL
      maxLength: 50
      description: "Campo aberto para informar as condições contratuais relativas à Modalidade de direitos creditórios descontados informada"
      example: "CESSAO_DIREITOS_CREDITORIOS"
  ############
  ##  CNPJ  ##
  ############
    CNPJ:
      type: object
      properties:
        cnpjNumber:
          type: string
          pattern: '(\d{2})(\d{3})(\d{3})'
          description: CNPJ
          maxLength: 14
          example: "50685362000135"
      required:
        - cnpjNumber   
        
  ##############################
  ##  Commons - Credit Cards  ##
  ##############################
  
  ##### CreditCardIndentification #####
    CreditCardIndentification:
      type: object
      required:
        - productType
        - creditCardNetwork
      properties:
        productType:
          type: string
          enum: [
            "CLASSIC_NACIONAL"
            ,"CLASSIC_INTERNACIONAL"
            ,"GOLD"
            ,"PLATINUM"
            ,"INFINITE"
            ,"ELECTRON"
            ,"STANDARD_NACIONAL"
            ,"STANDARD_INTERNACIONAL"
          ]
          description: "Categoria atribuída a um cartão de pagamento, sob uma certa denominação, que lhe agrega um conjunto de vantagens, diferenciando-o de acordo com o perfil do portador. Essa categoria é definida pelo BACEN e está contida no documento de nome 'Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores'"
          example: "PLATINUM"
        creditCardNetwork:
          type: string
          enum: [
            "VISA"
            ,"MASTERCARD"
            ,"AMERICAN_EXPRESS"
            ,"DINERS_CLUB"
            ,"HIPERCARD"
            ,"BANDEIRA_PROPRIA"
            ,"CHEQUE_ELETRONICO"
            ,"ELO"
            ,"OUTRAS"
          ]
          description: "Categoria de Bandeiras de Cartões. Bandeira é a detentora de todos os direitos e deveres da utilização da marca estampada no cartão, inclusive as bandeiras pertencentes aos emissores. Essas bandeiras estão definidas em documento do BACEN de nome 'Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores'"
          example: "MASTERCARD"
        additionalInfo:
          type: string
          maxLength: 50
          
  ##### CreditCardRewardsProgram #####
    CreditCardRewardsProgram:
      type: object
      required: 
        - hasRewardProgram
      properties:
        hasRewardProgram:
          type: boolean
          description: "Indicador da existência de programa de fidelidade/recompensa associado à conta"
          example: true
        rewardProgramInfo:
          type: string
          maxLength: 2000
          description: "Informações de termos e condições do programa de fidelidade/recompensa. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
          example: "www.banco.com.br/programa-recompensas"
  
  ##### CreditCardTermsConditions #####
    CreditCardTermsConditions:
      type: object
      required:
        - minimumFeeRate
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumFeeRate:
          type: number
          description: "Percentual para pagamento mínimo sobre o saldo devedor da fatura"
          example: 25.5
        additionalInfo:
          type: string
          maxLength: 500
          description: "Campo aberto para detalhamento de taxas de juros"
        elegibilityCriteriaInfo:
          type: string
          maxLength: 2000
          description: "Informação sobre as condições e critérios de elegibilidade do emissor do cartão. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
        closingProcessInfo:
          type: string
          maxLength: 2000
          description: "Descrição dos procedimentos para encerramento da conta pós paga. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
          example: "www.banco.com.br/cancelamento-cartao"
          
  ##### CreditCardInterestRates #####
    CreditCardInterestRates:
      type: object
      required:
        - feeRate
        - instalmentRate
        - code
      properties:
        feeRate:
          type: object
          required:
            - price
          properties:
            price:
              type: object
              required:
                - interval
                - rate
                - frequency
              properties:
                interval:
                  type: string
                  enum: ["1ª quartil de clientes",
                        "2ª quartil de clientes",
                        "3ª quartil de clientes",
                        "4ª quartil de clientes"]
                  description: "Faixas para cobrança de valores de tarifas por produto/serviço informado."
                rate:
                  type: string
                  description: "Percentual que corresponde a taxa média aplicada para utilização de Crédito Rotativo, no intervalo informado."
                frequency:
                  type: string
                  description: "Frequência de clientes em cada faixa de valor. Representa uma porcentagem"
        instalmentRate:
          type: object
          required:
            - price
          properties:
            price:
              type: object
              required:
                - interval
                - rate
                - frequency
              properties:
                interval:
                  type: string
                  enum: ["1ª quartil de clientes",
                        "2ª quartil de clientes",
                        "3ª quartil de clientes",
                        "4ª quartil de clientes"]
                  description: "Faixas para cobrança de valores de tarifas por produto/serviço informado."
                rate:
                  type: string
                  description: "Percentual que corresponde a taxa média aplicada para utilização de Crédito Rotativo, no intervalo informado."
                frequency:
                  type: string
                  description: "Frequência de clientes em cada faixa de valor. Representa uma porcentagem"
        code:
          type: string
          enum: [
            "SAQUE_CREDITO"
            ,"OUTROS"
          ]
          description: "Lista de outras operações de crédito"
          example: "SAQUE_CREDITO"
        additionalInfo:
          type: string
          maxLength: 50
          
  ##### CreditCardServicePrice ##### 
    CreditCardServicePrice:
      type: object
      required: 
        - interval
        - value
        - currency
        - frequency
      properties:
        type:
          type: string
          enum: ["1ª quartil de clientes",
                "2ª quartil de clientes",
                "3ª quartil de clientes",
                "4ª quartil de clientes"]
          description: "Faixas para cobrança de valores de tarifas por produto/serviço informado."
          example: "1ª quartil de clientes"
        value:
          type: number
          description: "Valor da tarifa cobrada referente aos Outros Serviços"
          example: 15.66
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor máximo da tarifa conforme ISO-4217"
          example: "BRL"
        frequency:
          type: string
          description: "Frequência de clientes em cada faixa de valor. Representa uma porcentagem"
          
  ############################
  ##  Personal Credit Cards ##
  ############################  
  
  ##### PersonalCreditCardResponse #####
    PersonalCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  description: "Nome da marca selecionada pela Organização responsável pelas contas de pagamento pós-pagas (cartão de crédito)"
                  example: "The Big Bank Brand"
                companies:
                  type: array
                  items:
                    required: 
                      - name
                      - cnpjNumber
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
                        example: "The Big Bank Company"
                      cnpjNumber:
                        type: string
                        minLength: 14
                        maxLength: 14
                        description: "Número completo do CNPJ da instituição responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "54672317000101"
                      personalCreditCards:
                        type: array
                        items:
                          required:
                            - name
                            - identification
                            - rewardsProgram
                            - fees
                            - interestRates
                            - termsConditions
                          properties:
                            name:
                              type: string
                              maxLength: 50
                              description: "Denominação/Identificação do nome da conta (cartão de crédito)"
                              example: "Cartão Univertário Bem-Vindo"
                            identification:
                              $ref: '#/components/schemas/CreditCardIndentification'
                            rewardsProgram:
                              $ref: '#/components/schemas/CreditCardRewardsProgram'
                            fees:
                              type: object
                              required:
                                - priorityServices
                              properties:
                                priorityServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalCreditCardPriorityServices'
                                otherServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalCreditCardOtherServices'
                            interestRates:
                              $ref: '#/components/schemas/CreditCardInterestRates'
                            termsConditions:
                              $ref: '#/components/schemas/CreditCardTermsConditions'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
                  
  ##### PersonalCreditCardPriorityServices #####
    PersonalCreditCardPriorityServices:
      type: object
      required:
        - code
        - price
        - chargingUnit
      properties:
        code:
          type: string
          enum: [
            "ANUIDADE_NACIONAL"
            ,"ANUIDADE_INTERNACIONAL"
            ,"SEGUNDA_VIA_CARTAO_CREDITO"
            ,"RETIRADA_PAIS"
            ,"RETIRADA_EXTERIOR"
            ,"PAGAMENTO_CONTAS"
            ,"AVALIACAO_EMERGENCIAL_CREDITO"
          ]
          description: "Sigla de identificação do serviço relacionado à modalidade de contas de pagamento pós-pagas para pessoa física informada conforme resolução 3.919 do BACEN"
          example: "AVALIACAO_EMERGENCIAL_CREDITO"
        price:
          type: object
          required:
            - interval
            - value
            - currency
            - frequency
          properties:
            interval:
              type: string
              description: "Faixas para cobrança de valores de tarifas por serviço prioritário informado: 1ª quartil de clientes, 2ª quartil de clientes, 3ª quartil de clientes, 4ª quartil de clientes"
              example: "1ª quartil de clientes"
            value:
              type: string
              description: "Valor médio da tarifa cobrada, relativa ao serviço prioritário, para o tipo de faixa informada."
              example: 45,00
            currency:
              type: string
              maxLength: 3
              pattern: ^([A-Z]{3})$
              description: "Moeda referente ao valor da tarifa conforme ISO-4217"
              example: "BRL"
            frequency:
              type: string
              description: "Frequência de clientes em cada faixa de valor. Representa uma porcentagem"
              example: " 0.15 (O valor ao lado representa 15%. O valor 1 representa 100%)"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por depósito recebido"
  
  ##### PersonalCreditCardOtherServices #####
    PersonalCreditCardOtherServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - chargingUnit
        - price
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada de Contas de Pagamento Pós-Pagas para pessoa física"
          example: "Evento personalizado"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade de Contas de Pagamento Pós-Pagas para pessoa física informada"
          example: "EVENTO_PERSONALIZADO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades inforrmadas de Contas de Pagamento Pós-Pagas para pessoa física"
          example: "Cobrança devido a evento personalizado"
        price:
          $ref: '#/components/schemas/CreditCardServicePrice'
        additionalInfo:
          type: string
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa"
          example: "50% do valor da anuidade do cartão titular"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Anualmente"
  ############################
  ##  Business Credit Cards ##
  ############################
    
  ##### BusinessCreditCardResponse #####
    BusinessCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  description: "Nome da marca selecionada pela Organização responsável pelas contas de pagamento pós-pagas (cartão de crédito)"
                  example: "The Big Bank Brand"
                companies:
                  type: array
                  items:
                    required: 
                      - name
                      - cnpjNumber
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
                        example: "The Big Bank Company"
                      cnpjNumber:
                        type: string
                        minLength: 14
                        maxLength: 14
                        description: "Número completo do CNPJ da instituição responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "54672317000101"
                      businessCreditCards:
                        type: array
                        items:
                          required:
                            - name
                            - identification
                            - rewardsProgram
                            - fees
                            - interestRates
                            - termsConditions
                          properties:
                            name:
                              type: string
                              maxLength: 50
                              description: "Denominação/Identificação do nome da conta"
                              example: "Cartão Microempreendedor Bem-Vindo"
                            identification:
                              $ref: '#/components/schemas/CreditCardIndentification'
                            rewardsProgram:
                              $ref: '#/components/schemas/CreditCardRewardsProgram'
                            fees:
                              type: object
                              properties:
                                services:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/BusinessCreditCardServices'
                            interestRates:
                              $ref: '#/components/schemas/CreditCardInterestRates'
                            termsConditions:
                              $ref: '#/components/schemas/CreditCardTermsConditions'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
          
    ##### PersonalCreditCardOtherServices #####
    BusinessCreditCardServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - chargingUnit
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada de Contas de Pagamento Pós-Pagas para pessoa jurídica"
          example: "2ª via do cartão de crédito"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade de Contas de Pagamento Pós-Pagas para pessoa jurídica informada"
          example: "SEGUNDA_VIA_CARTAO_CREDITO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades inforrmadas de Contas de Pagamento Pós-Pagas para pessoa jurídica"
          example: "SEGUNDA_VIA_CARTAO_CREDITO"
        price:
          $ref: '#/components/schemas/CreditCardServicePrice'
        additionalInfo:
          type: string
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa"
          example: "0.5% da valor do orçamento"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por evento"

  ##########################
  ##  Personal Financings ##
  ##########################
  
    ##### ResponsePersonalFinancingsList #####
    ResponsePersonalFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
                $ref: '#/components/schemas/PersonalFinancingsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
        
    ##### PersonalFinancingsBrand #####
    PersonalFinancingsBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome da marca.
          example: "Organização A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancingsCompanies'
          description: Lista de instituições pertencentes à marca  
    ##### PersonalFinancingsCompanies #####
    PersonalFinancingsCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalFinancings
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 80
          description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
          example: "Empresa A1"
        urlComplementaryList:
          type: string
          pattern: '\w*\W*'
          maxLength: 1024
          description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal." 
          example: "'https://empresaa1.com/branches-banking'"
        personalFinancings:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancings'
          description: Lista de financiamentos
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ##### PersonalFinancings #####
    PersonalFinancings:
      type: object
      required:
        - type
        - fees
        - interestRates
        - requiredWarranties
      properties:
        type:
          type: string
          enum: 
            - FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES
            - FINANCIAMENTO_AQUISICAO_BENS_OUTROS_BENS
            - FINANCIAMENTO-MICROCREDITO
            - FINANCIAMENTO_RURAL_CUSTEIO
            - FINANCIAMENTO_RURAL_INVESTIMENTO
            - FINANCIAMENTO_RURAL_COMERCIALIZACAO
            - FINANCIAMENTO_RURAL_INDUSTRIALIZACAO
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO-SFH
            - FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO-SFI
          description: "Modalidades de financiamentos ofertados para pessoas físicas, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Financiamento é um contrato entre o cliente e uma instituição financeira, mas com, destinação específica como para a aquisição de veículo ou de bem imóvel, que funcionam como garantia para o crédito concedido"
          example: 'FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES'
        fees:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancingsFees'
        interestRates:
          type: array
          items:
            $ref: '#/components/schemas/PersonalFinancingsInterestRates'
        requiredWarranties:
          type: string
          enum: 
            - CESSAO_DIREITOS_CREDITORIOS
            - CAUCAO
            - PENHOR
            - ALIENACAO_FIDUCIARIA
            - HIPOTECA
            - OPERCAOES_GARANTIDAS_PELO_GOVERNO
            - OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS 
            - SEGUROS_ASSEMELHADOS
            - GARANTIA_FIDEJUSSORIA
            - BENS_ARRENDADOS
            - GARANTIAS_INTERNACIONAIS
            - OPERACOES_GARANTIDAS_OUTRAS_ENTIDADES
            - ACORDOS_COMPENSACAO
            - NAO_APLICAVEL
          description: "Relação de garantias exigidas"
          example: 'ALIENACAO_FIDUCIARIA'
        termsConditions:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas."
          example: "https://empresaa1.com/personal_financing"
    ##### PersonalFinancingsFees #####
    PersonalFinancingsFees:
      type: object
      properties:
        serviceName:
          type: string
          description: "Nomes das Tarifas cobradas sobre Serviços ofertados à Modalidade de Financiamento, para pessoa física"
          example: 'Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia'
        serviceCode:
          type: string
          description: "Sigla de identificação do serviço relacionado à Modalidade de Financiamento informada, para pessoa física. Campo aberto"
          example: NA
        chargingTriggerInfo:
          type: string
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades de Financiamentos, para pessoa física. Campo Livre"
          example: '570.00'
        price:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          type: object
          items:
            $ref: '#/components/schemas/MinimumPrice'
        maximum:
          type: object
          items:
            $ref: '#/components/schemas/MaximumPrice'
      required:
        - serviceName
        - serviceCode
        - price
        - minimum
        - maximum
    ##### PersonalFinancingsInterestRates #####
    PersonalFinancingsInterestRates:
      type: object
      properties:
        application:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRate'
        minimumRate:
          type: string
          format: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1}
          description: "Percentual mínimo cobrado (taxa efetiva) no mês de referência, para o Financiamento contratado 
A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
(representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)"
          example: '0.0456'
        maximumRate:
          type: string
          format: (-?[1-9]?\d{1,4}){1}(\,\d{1,4}){1}
          description: "Percentual máximo cobrado (taxa efetiva) no mês de referência, para o Financiamento contratado 
A apuração pode acontecer com até 4 casas decimais. O preenchimento deve respeitar as 4 casas decimais, mesmo que venham preenchidas com zeros
(representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%)"
          example: '0.6865'
      required:
        - application
        - minimumRate
        - maximumRate

  ##########################
  ##  Business Financings ##
  ##########################
  
    ##### ResponseBusinessFinancingsList #####
    ResponseBusinessFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
                $ref: '#/components/schemas/BusinessFinancingsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ##### BusinessFinancingsBrand #####
    BusinessFinancingsBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome da marca.
          example: "Marca A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancingsCompanies'
          description: Lista de instituições pertencentes à marga  
    ##### BusinessFinancingsCompanies #####
    BusinessFinancingsCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - businessFinancings
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
          example: "Empresa da Marca A"
        urlComplementaryList:
          type: string
          pattern: '\w*\W*'
          maxLength: 1024
          description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal." 
          example: "https://example.com/mobile-banking"
        businessFinancings:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancings'
          description: Lista de financiamentos
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ##### BusinessFinancings #####
    BusinessFinancings:
      type: object
      required:
        - type
        - fees
        - interestRates
        - requiredWarranties
      properties:
        type:
          type: string
          enum: ["AQUISICAO_BENS_VEICULOS_AUTOMOTORES",
                "AQUISICAO_BENS_OUTROS_BENS",
                "MICROCREDITO_PRODUTIVO_ORIENTADO",
                "FINANCIAMENTOS_RURAIS_CUSTEIO",
                "FINANCIAMENTOS_RURAIS_INVESTIMENTO",
                "FINANCIAMENTOS_RURAIS_COMERCIALIZACAO",
                "FINANCIAMENTOS_RURAIS_INDUSTRIALIZACAO",
                "FINANCIMENTO_IMOBILIARIO_SFH",
                "FINANCIMENTO_IMOBILIARIO_SFI"]
          description: "Modalidades de financiamentos ofertados para pessoas jurídicas, conforme Circular 4015-Bacen. Segundo cartilha do Bacen: Financiamento é um contrato entre o cliente e uma instituição financeira, mas com, destinação específica como para a aquisição de veículo ou de bem imóvel, que funcionam como garantia para o crédito concedido"
        fees:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancingsFees'
        interestRates:
          type: array
          items:
            $ref: '#/components/schemas/BusinessFinancingsInterestRates'
        requiredWarranties:
          type: string
          enum: ["CESSAO_DIREITOS_CREDITORIOS",
                "CAUCAO",
                "PENHOR",
                "ALIENACAO_FIDUCIARIA",
                "HIPOTECA",
                "OPERACOES_GARANTIDAS_GOVERNO",
                "OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS",
                "SEGUROS_ASSEMELHADOS",
                "GARANTIA_FIDEJUSSORIA",
                "BENS_ARRENDADOS",
                "GARANTIAS_INTERNACIONAIS",
                "OPERACOES_GARANTIDAS_OUTRAS_ENTIDADE",
                "ACORDOS_COMPENSACAO",
                "NAO_APLICAVEL"]
          description: "Relação de garantias exigidas"
        termsConditions:
          type: string
          pattern: '\w*\W*'
          maxLength: 2000
          description: "Campo aberto para informar as condições contratuais relativas ao produto ou serviço informado. Pode ser informada a URL referente ao endereço onde constam as condições informadas."
          example: ""
    ##### BusinessFinancingsFees #####
    BusinessFinancingsFees:
      type: object
      properties:
        serviceName:
          type: string
          description: "Nomes das Tarifas cobradas sobre Serviços ofertados à Modalidade de Financiamento, para pessoa jurídica"
        serviceCode:
          type: string
          description: "Sigla de identificação do serviço relacionado à Modalidade de Financiamento informada, para pessoa jurídica. Campo aberto"
        chargingTriggerInfo:
          type: string
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades de Financiamentos, para pessoa jurídica. Campo Livre"
        chargingUnit:
          type: string
          description: "Unidade ou forma de cobrança"
        price:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          type: object
          items:
            $ref: '#/components/schemas/MinimumPrice'
        maximum:
          type: object
          items:
            $ref: '#/components/schemas/MaximumPrice'
        additionalInfo:
          type: string
          description: "Descrição de como é composto o valor da tarifa. p.ex. '0,25% sobre o excedente do limite acima de R$ 500,00'"
      required:
        - serviceName
        - serviceCode
        - price
        - minimum
        - maximum
    ##### BusinessFinancingsInterestRates #####
    BusinessFinancingsInterestRates:
      type: object
      properties:
        rate:
          type: string
          description: "Percentual que incide sobre a composição da  taxa de juros remuneratórias"
        referencialRate:
          type: string
          description: "Taxa Referencial se configura como uma taxa de juros de referência, ou seja, um indicador geral da economia brasileira. Por isso, é utilizada na hora de calcular o rendimento de determinadas aplicações financeiras"
        indexer:
          type: string
          enum: ["IPCA",
                "SELIC",
                "CDI"]
          description: "Indexador é o termo utilizado para se referir aos índices usados como base para corrigir os valores monetários de um determinado ativo. No Brasil, os indexadores mais comuns são o IPCA, a taxa Selic e o CDI"
        prePostTax:
          type: string
          enum: ["PRE",
                "POS"]
          description: "Indicador de pré ou pós. A diferença básica é que, enquanto o prefixado apresenta rentabilidade definida, o pós-fixado acompanha algum indicador. Assim, quem investe no primeiro grupo sabe como será seu rendimento previamente, enquanto quem investe no segundo, só conhecerá os resultados na data de vencimento"
        occurrence:
          type: string
          enum: ["AD",
                "AM",
                "AA"]
          description: "Frequência sobre a qual incide a Remuneração"
        incomeRateInfo:
          type: string
          description: "Descrição da Remuneração relativa as taxas de juros remuneratórias sobre a modalidade de Financiamento informada, para pessoa jurídica"
        application:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        minimum:
          type: object
          items:
            $ref: '#/components/schemas/MinimumPrice'
        maximum:
          type: object
          items:
            $ref: '#/components/schemas/MaximumPrice'
      required:
        - rate
        - referencialRate
        - indexer
        - prePostTax
        - occurrence
        - application
        - minimum
        - maximum

  ##################################
  ##  Personal Invoice Financings ##
  ##################################
    ##### ResponsePersonalInvoiceFinancingsList #####
    ResponsePersonalInvoiceFinancingsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
                $ref: '#/components/schemas/PersonalInvoiceFinancingsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: 'Organização A'
            companies:
            - name: 'Empresa A1'
              cnpjNumber: '45086338000178'
              urlComplementaryList: 'https://empresaa1.com/branches-banking'
              personalInvoiceFinancings:
              - type: 'DESCONTO_DUPLICATAS'
                fee:
                 services:
                  - name: 'Informar Serviço para PJ'
                    code: 'NA'
                    chargingTriggerInfo: '3% do valor do contrato'
                    prices:
                    - interval: '1_QUARTIL_CLIENTES'
                      value: '75,4'
                      currency: 'BRL'
                    - interval: '2_QUARTIL_CLIENTES'
                      value: '85,00'
                      currency: 'BRL'
                    - interval: '3_QUARTIL_CLIENTES'
                      value: '62,00'
                      currency: 'BRL'
                    - interval: '4_QUARTIL_CLIENTES'
                      value: '69,00'
                      currency: 'BRL'
                    minimum:
                      value: '59.90'
                      currency: 'BRL'
                    maximum:
                      value: '87.00'
                      currency: 'BRL'
                interestRate:
                  applications:
                  - interval: '1_QUARTIL_CLIENTES'
                    rate: '0.0100'
                  - interval: '2_QUARTIL_CLIENTES'
                    rate: '0.0200'
                  - interval: '3_QUARTIL_CLIENTES'
                    rate: '0.0390'
                  - interval: '4_QUARTIL_CLIENTES'
                    rate: '0.0455'
                  minimumRate: '0.0015'
                  maximumRate: '0.5100'
                requiredWarranties:
                - "CESSAO_DIREITOS_CREDITORIOS"
                - "https://empresaa1.com/personal_invoice_financings"
                termsConditions: 'https://empresaa1.com/business_invoice_financings'
        links: 
          self: "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings"
          first: "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings"
          prev: null
          next: null
          last: "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings"
        meta: 
          totalRecords: 1
          totalPages: 1
    ##### PersonalInvoiceFinancingsBrand #####
    PersonalInvoiceFinancingsBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: Nome da marca.
          example: "Marca A"
        companies:
          type: array
          items:
            $ref: '#/components/schemas/PersonalInvoiceFinancingsCompanies'
          description: Lista de instituições pertencentes à marga  
    ##### PersonalInvoiceFinancingsCompanies #####
    PersonalInvoiceFinancingsCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - personalInvoiceFinancings
      properties:
        name:
          type: string
          pattern: '\w*\W*'
          maxLength: 30
          description: "Nome da Instituição, pertencente à marca, responsável pela comercialização dos produtos e serviços"
          example: "Empresa da Marca A"
        urlComplementaryList:
          type: string
          pattern: '\w*\W*'
          maxLength: 1024
          description: "URL do link que conterá a lista complementar com os nomes e CNPJs agrupados sob o mesmo cnpjNumber. Os contidos nessa lista possuem as mesmas características para produtos e serviços. Endereço eletrônico de acesso ao canal." 
          example: "https://example.com/mobile-banking"
        personalInvoiceFinancings:
          type: array
          items:
            $ref: '#/components/schemas/PersonalInvoiceFinancings'
          description: Lista de adiantamento de recebíveis
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ##### PersonalInvoiceFinancings #####
    PersonalInvoiceFinancings:
      type: object
      required:
        - type
        - fees
        - interestRate
        - requiredWarranties
      properties:
        type:
          type: string
          enum: ["DESCONTO_DUPLICATAS",
                "DESCONTO_CHEQUES",
                "ANTECIPACAO_FATURA_CARTAO_CREDITO",
                "OUTROS_DIREITOS_CREDITORIOS_DESCONTADOS",
                "OUTROS_TÍTULOS_DESCONTADOS"]
[...]
