# Calendário

Este anexo tem como objetivo detalhar quando a versão das APIs do Open Banking é alterada, conforme a classificação da modificação:

- Major: quando há incompatibilidade com a versão corrente (v2.0.0)
- Minor: versão gerada quando há compatibilidade com a versão corrente (v1.1.0)
- Patch: versão gerada quando há correção de bug e compatibilidade com a versão corrente (v1.1.1)

Ele poderá ser acessado clicando <a href="documents/calendario.pdf" target="_blank">aqui</a>.