# Diretrizes técnicas do diretório

## Guia Operacional do Diretório Central

Este guia serve para orientar os participantes a atuar no Diretório Central em procedimentos necessários para a operação no Open Banking Brasil.

Destina-se a administradores, contatos técnicos primários e secundários.

Aqui estão descritas as etapas técnicas para cadastrar usuários, criar e manter declarações de software, tokens de acesso e servidores de autorização no ambiente de sandbox e produção do Diretório Central.

O documento está estruturado nas seguintes seções:

1. Introdução
2. Registrando um usuário no Diretório
3. Acessando uma Organisation
4. Cadastrando contatos de notificação
5. Cadastrando reivindicações de domínio de autoridade
6. Cadastrando reivindicações de autoridade
7. Cadastrando um Authorisation Server
8. Cadastrando Recursos de uma API
9. Criando um Software Statements
10. Criando uma nova reivindicação de autoridade de software
11. Criando certificados de transporte e assinatura em Sandbox
12. Carregando certificados emitidos por autoridade de certificação em Produção
13. Cadastrando administradores da organização
14. Obtendo um Software Statements Assertion
15. Configurando eventos de notificação no Diretório
16. Obtendo um token de acesso para as APIs do Diretório
17. Listando as organizações cadastradas no Diretório via API
18. Listando os servidores de autorização de uma organização via API
19. Obtendo um Software Statement via API
20. Obtendo um Software Statement Assertion via API
21. Suporte
22. Anexos

O guia pode ser baixado nesse link (<a href='documents/OpenBanking-Guia_Operacao_Diretorio_Central_v2.pdf' target="_blank">OpenBanking - Guia de operação do diretório central</a>).
