# Especificações de registro de participantes

*Live* do Cadastramento - acesse neste <a href="https://www.youtube.com/watch?v=ARUcxUIL1DQ&feature=youtu.be" target="_blank">*link*</a> o tutorial em vídeo.

Passo a passo do Cadastramento - acesse neste <a href='documents/Open_Banking_passo_a_passo_cadastro_v05.pdf' target="_blank">*link*</a> o arquivo com instruções.
    
    