# Especificações de registro de participantes

Live do Cadastramento - acesse neste link o tutorial em vídeo (link: <a href="https://www.youtube.com/watch?v=ARUcxUIL1DQ&feature=youtu.be">https://www.youtube.com/watch?v=ARUcxUIL1DQ&feature=youtu.be</a>)

Passo a passo do Cadastramento - acesse neste link o arquivo com instruções (arquivo em anexo)

