# Especificações de APIs do Diretório e do Service Desk

## APIs Diretório

O Diretório Central do Open Banking Brasil pode ser acessado tanto via interface gráfica
quanto por meio de integração por APIs.

Para acessar as APIs do Diretório, verifique o item 10 do guia operacional do Diretório Central -
“Obtendo um token de acesso para acessar as APIs do Diretório”. O guia está disponível na
sessão “Diretrizes técnicas do Diretório”.

Para entender como usar cada API, leia a especificação do Swagger da API do Diretório
disponível nesse link (<a target="_blank" href="https://github.com/OpenBanking-Brasil/specs-
directory/blob/main/openapi.yaml">https://github.com/OpenBanking-Brasil/specs-directory/blob/main/openapi.yaml</a>).

As funcionalidades previamente liberadas para acesso são:

* Organisations
* References - Authority
* References - Authorization Domain
* References - Authorization Domain Role
* References - Authority Authorization Domain
* Organisation Authority Domain Claims
* Organisation Authority Claims
* Organisation Authority Claims Authorizations
* Contacts
* Authorization Servers
* Authorization Servers - API Resources
* Authorization Servers - API Discovery Endpoints
* Software Statements
* Software Statement Authority Claims
* Software Statement Certificates
* Software Statement Assertions
 
## APIs Service Desk
O Service Desk do Open Banking Brasil pode ser acessado tanto via interface gráfica quanto
por meio sistêmico através de APIs.

Para acessar a documentação das APIs do Service Desk é necessário logar na ferramenta via
interface gráfica, acessar a sessão de FAQ e selecionar o menu "API SysAid".

As funcionalidades previamente liberadas para acesso são:

* (Status) Encaminhado N2 atendimento
* (Status) Em Análise N2
* (Status) Em Atendimento N2
* (Status) Encaminhado N1 Encerramento
* Interação com chamado através da API do SysAid

Como documento adicional, é possível fazer o download de um PDF nesse link 
(<a target="_blank" href="documents/OpenBankingEspecificacaoAPIServiceDesk.pdf">Especificação APIs Service Desk</a>) contendo todas as informações listadas no repositório acima.