##Guia de Prevenção a Fraudes

Esse guia é parte integrante do Open Banking no Brasil e engloba um conjunto de recomendações
para mitigações em Prevenção a Fraude, Lavagem de Dinheiro e Financiamento ao Terrorismo para 
as instituições participantes.

O documento é focado na Iniciação de Transação de Pagamento e é composto por recomendações de 
estratégias que os participantes podem implementar para mitigar riscos, sendo que estas 
recomendações são divididas em quatro pilares: 1) Prevenção, 2) Detecção, 3) Remediação e 4) 
Repressão.

Estas especificações fazem parte de um trabalho em desenvolvimento e novos conceitos e definições
serão abordados em versões futuras deste documento. Dessa maneira, nenhuma informação aqui 
apresentada deve ser considerada final para qualquer propósito.

Este documento não busca alterar nenhum tipo de norma ou legislação a respeito do tema, e sim 
recomendar melhores práticas para criar um ecossistema seguro.

<a href='documents/Guia_recomendacoes_Opb_Prevencao_Fraudes.pdf' target="_blank">OpenBanking - Guia de Prevenção a Fraudes, Lavagem de Dinheiro e Financiamento ao Terrorismo</a>