# Guias de implementação

Acesse neste <a href="https://github.com/OpenBanking-Brasil/mock-api" target="_blank">*link*</a> uma implementação de referência da fase 1.

Esta implementação de exemplo permite ao desenvolvedor realizar testes referentes à fase 1 (*open-data*) do Open Banking Brasil.

