##Guia de Experiência de Compartilhamento de Dados e Iniciação de Pagamento

Esse guia é parte integrante do regulamento do Open Banking no Brasil e engloba um conjunto
de requisitos mínimos que devem ser seguidos pelas instituições participantes com o objetivo
de nortear a sua implantação e garantir uma experiência adequada e padronizada ao cliente,
com foco na jornada do usuário para compartilhamento de dados e iniciação de pagamento.

Direcionado às instituições participantes do Open Banking no Brasil, o guia de experiência
apresenta princípios, diretrizes, referências, requisitos obrigatórios e recomendações para a
criação da jornada do usuário para compartilhamento de dados e iniciação de pagamento.

As recomendações podem ser seguidas para complementar a experiência, porém
funcionalidades não previstas nesse documento serão aceitas, desde que atendam aos
princípios e às diretrizes da regulamentação em vigor.

Cada caso de uso é acompanhado de telas ilustrativas para facilitar a compreensão do texto
que não implicam em obrigatoriedade para o desenvolvimento das interfaces.

O guia v3.05.02 pode ser baixado nesse link (<a href='documents/Open_Banking_Brasil_ilegra.pdf' target="_blank">OpenBanking - Guia de Experiência do Usuário para Compartilhamento de Dados e Iniciação de Pagamento</a>).