## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Banking Brasil.  

Open Banking Informa #1 - 31/05/21 – <a href='documents/informes/Open_Banking_Informa_1.pdf' target="_blank">download</a>  
Open Banking Informa #2 - 07/06/21 – <a href='documents/informes/Open_Banking_Informa_2.pdf' target="_blank">download</a>  
Open Banking Informa #3 - 09/06/21 – <a href='documents/informes/Open_Banking_Informa_3.pdf' target="_blank">download</a>  
Open Banking Informa #4 - 11/06/21 – <a href='documents/informes/Open_Banking_Informa_4.pdf' target="_blank">download</a>  
Open Banking Informa #5 - 14/06/21 – <a href='documents/informes/Open_Banking_Informa_5.pdf' target="_blank">download</a>  
Open Banking Informa #6 - 15/06/21 – <a href='documents/informes/Open_Banking_Informa_6.pdf' target="_blank">download</a>  
Open Banking Informa #7 - 17/06/21 – <a href='documents/informes/Open_Banking_Informa_7.pdf' target="_blank">download</a>  
Open Banking Informa #8 - 21/06/21 – <a href='documents/informes/Open_Banking_Informa_8.pdf' target="_blank">download</a>  
Open Banking Informa #9 - 22/06/21 – <a href='documents/informes/Open_Banking_Informa_9.pdf' target="_blank">download</a>  
Open Banking Informa #10 - 24/06/21 – <a href='documents/informes/Open_Banking_Informa_10.pdf' target="_blank">download</a>  
Open Banking Informa #11 - 25/06/21 – <a href='documents/informes/Open_Banking_Informa_11.pdf' target="_blank">download</a>  
Open Banking Informa #12 - 28/06/21 – <a href='documents/informes/Open_Banking_Informa_12.pdf' target="_blank">download</a>  
Open Banking Informa #13 - 30/06/21 – <a href='documents/informes/Open_Banking_Informa_13.pdf' target="_blank">download</a>  
Open Banking Informa #14 - 02/07/21 – <a href='documents/informes/Open_Banking_Informa_14.pdf' target="_blank">download</a>  
Open Banking Informa #15 - 03/07/21 – <a href='documents/informes/Open_Banking_Informa_15.pdf' target="_blank">download</a>  
Open Banking Informa #16 - 07/07/21 – <a href='documents/informes/Open_Banking_Informa_16.pdf' target="_blank">download</a>  
Open Banking Informa #17 - 08/07/21 – <a href='documents/informes/Open_Banking_Informa_17.pdf' target="_blank">download</a>  
Open Banking Informa #18 - 09/07/21 – <a href='documents/informes/Open_Banking_Informa_18.pdf' target="_blank">download</a>  
Open Banking Informa #19 - 13/07/21 – <a href='documents/informes/Open_Banking_Informa_19.pdf' target="_blank">download</a>  
Open Banking Informa #20 - 13/07/21 – <a href='documents/informes/Open_Banking_Informa_20.pdf' target="_blank">download</a>  
Open Banking Informa #21 - 14/07/21 – <a href='documents/informes/Open_Banking_Informa_21.pdf' target="_blank">download</a>  
Open Banking Informa #22 - 15/07/21 – <a href='documents/informes/Open_Banking_Informa_22.pdf' target="_blank">download</a>  
Open Banking Informa #23 - 16/07/21 – <a href='documents/informes/Open_Banking_Informa_23.pdf' target="_blank">download</a>  
Open Banking Informa #24 - 20/07/21 – <a href='documents/informes/Open_Banking_Informa_24.pdf' target="_blank">download</a>  
Open Banking Informa #25 - 23/07/21 – <a href='documents/informes/Open_Banking_Informa_25.pdf' target="_blank">download</a>  
Open Banking Informa #26 - 24/07/21 – <a href='documents/informes/Open_Banking_Informa_26.pdf' target="_blank">download</a>  
Open Banking Informa #27 - 26/07/21 – <a href='documents/informes/Open_Banking_Informa_27.pdf' target="_blank">download</a>  
Open Banking Informa #28 - 27/07/21 – <a href='documents/informes/Open_Banking_Informa_28.pdf' target="_blank">download</a>  
Open Banking Informa #29 - 28/07/21 – <a href='documents/informes/Open_Banking_Informa_29.pdf' target="_blank">download</a>  
Open Banking Informa #30 - 30/07/21 – <a href='documents/informes/Open_Banking_Informa_30.pdf' target="_blank">download</a>  
Open Banking Informa #31 - 02/08/21 – <a href='documents/informes/Open_Banking_Informa_31.pdf' target="_blank">download</a>  
Open Banking Informa #32 - 05/08/21 – <a href='documents/informes/Open_Banking_Informa_32.pdf' target="_blank">download</a>  
Open Banking Informa #33 - 06/08/21 – <a href='documents/informes/Open_Banking_Informa_33.pdf' target="_blank">download</a>  
Open Banking Informa #34 - 07/08/21 – <a href='documents/informes/Open_Banking_Informa_34.pdf' target="_blank">download</a>  
Open Banking Informa #35 - 10/08/21 – <a href='documents/informes/Open_Banking_Informa_35.pdf' target="_blank">download</a>  
Open Banking Informa #36 - 11/08/21 – <a href='documents/informes/Open_Banking_Informa_36.pdf' target="_blank">download</a>  
Open Banking Informa #38 - 12/08/21 – <a href='documents/informes/Open_Banking_Informa_38.pdf' target="_blank">download</a>  
Open Banking Informa #39 - 13/08/21 – <a href='documents/informes/Open_Banking_Informa_39.pdf' target="_blank">download</a>  
Open Banking Informa #40 - 16/08/21 – <a href='documents/informes/Open_Banking_Informa_40.pdf' target="_blank">download</a>  
Open Banking Informa #41 - 17/08/21 – <a href='documents/informes/Open_Banking_Informa_41.pdf' target="_blank">download</a>  
Open Banking Informa #42 - 18/08/21 – <a href='documents/informes/Open_Banking_Informa_42.pdf' target="_blank">download</a>  
Open Banking Informa #43 - 20/08/21 – <a href='documents/informes/Open_Banking_Informa_43.pdf' target="_blank">download</a>  
Open Banking Informa #44 - 24/08/21 – <a href='documents/informes/Open_Banking_Informa_44.pdf' target="_blank">download</a>  
Open Banking Informa #45 - 26/08/21 – <a href='documents/informes/Open_Banking_Informa_45.pdf' target="_blank">download</a>  
Open Banking Informa #46 - 27/08/21 – <a href='documents/informes/Open_Banking_Informa_46.pdf' target="_blank">download</a>  
Open Banking Informa #47 - 30/08/21 – <a href='documents/informes/Open_Banking_Informa_47.pdf' target="_blank">download</a>  
Open Banking Informa #48 - 31/08/21 – <a href='documents/informes/Open_Banking_Informa_48.pdf' target="_blank">download</a>  