## Informes

Confira as últimas atualizações da Estrutura de Governança do Open Banking Brasil.  

Open Banking Informa #1 - 31/05/21 – <a href='documents/informes/Open_Banking_Informa_1.pdf' target="_blank">download</a>  
Open Banking Informa #2 - 07/06/21 – <a href='documents/informes/Open_Banking_Informa_2.pdf' target="_blank">download</a>  
Open Banking Informa #3 - 09/06/21 – <a href='documents/informes/Open_Banking_Informa_3.pdf' target="_blank">download</a>  
Open Banking Informa #4 - 11/06/21 – <a href='documents/informes/Open_Banking_Informa_4.pdf' target="_blank">download</a>  
Open Banking Informa #5 - 14/06/21 – <a href='documents/informes/Open_Banking_Informa_5.pdf' target="_blank">download</a>  
Open Banking Informa #6 - 15/06/21 – <a href='documents/informes/Open_Banking_Informa_6.pdf' target="_blank">download</a>  
Open Banking Informa #7 - 17/06/21 – <a href='documents/informes/Open_Banking_Informa_7.pdf' target="_blank">download</a>  
Open Banking Informa #8 - 21/06/21 – <a href='documents/informes/Open_Banking_Informa_8.pdf' target="_blank">download</a>  
Open Banking Informa #9 - 22/06/21 – <a href='documents/informes/Open_Banking_Informa_9.pdf' target="_blank">download</a>  
Open Banking Informa #10 - 24/06/21 – <a href='documents/informes/Open_Banking_Informa_10.pdf' target="_blank">download</a>  
Open Banking Informa #11 - 25/06/21 – <a href='documents/informes/Open_Banking_Informa_11.pdf' target="_blank">download</a>  
Open Banking Informa #12 - 28/06/21 – <a href='documents/informes/Open_Banking_Informa_12.pdf' target="_blank">download</a>  
Open Banking Informa #13 - 30/06/21 – <a href='documents/informes/Open_Banking_Informa_13.pdf' target="_blank">download</a>  
Open Banking Informa #14 - 02/07/21 – <a href='documents/informes/Open_Banking_Informa_14.pdf' target="_blank">download</a>  
Open Banking Informa #15 - 03/07/21 – <a href='documents/informes/Open_Banking_Informa_15.pdf' target="_blank">download</a>  
Open Banking Informa #16 - 07/07/21 – <a href='documents/informes/Open_Banking_Informa_16.pdf' target="_blank">download</a>  
Open Banking Informa #17 - 08/07/21 – <a href='documents/informes/Open_Banking_Informa_17.pdf' target="_blank">download</a>  
Open Banking Informa #18 - 09/07/21 – <a href='documents/informes/Open_Banking_Informa_18.pdf' target="_blank">download</a>  
Open Banking Informa #19 - 13/07/21 – <a href='documents/informes/Open_Banking_Informa_19.pdf' target="_blank">download</a>  
Open Banking Informa #20 - 13/07/21 – <a href='documents/informes/Open_Banking_Informa_20.pdf' target="_blank">download</a>  
Open Banking Informa #21 - 14/07/21 – <a href='documents/informes/Open_Banking_Informa_21.pdf' target="_blank">download</a>  
Open Banking Informa #22 - 15/07/21 – <a href='documents/informes/Open_Banking_Informa_22.pdf' target="_blank">download</a>  
Open Banking Informa #23 - 16/07/21 – <a href='documents/informes/Open_Banking_Informa_23.pdf' target="_blank">download</a>  
Open Banking Informa #24 - 20/07/21 – <a href='documents/informes/Open_Banking_Informa_24.pdf' target="_blank">download</a>  
Open Banking Informa #25 - 23/07/21 – <a href='documents/informes/Open_Banking_Informa_25.pdf' target="_blank">download</a>  
Open Banking Informa #26 - 24/07/21 – <a href='documents/informes/Open_Banking_Informa_26.pdf' target="_blank">download</a>  
Open Banking Informa #27 - 26/07/21 – <a href='documents/informes/Open_Banking_Informa_27.pdf' target="_blank">download</a>  
Open Banking Informa #28 - 27/07/21 – <a href='documents/informes/Open_Banking_Informa_28.pdf' target="_blank">download</a>  
Open Banking Informa #29 - 28/07/21 – <a href='documents/informes/Open_Banking_Informa_29.pdf' target="_blank">download</a>  
Open Banking Informa #30 - 30/07/21 – <a href='documents/informes/Open_Banking_Informa_30.pdf' target="_blank">download</a>  
Open Banking Informa #31 - 02/08/21 – <a href='documents/informes/Open_Banking_Informa_31.pdf' target="_blank">download</a>  
Open Banking Informa #32 - 05/08/21 – <a href='documents/informes/Open_Banking_Informa_32.pdf' target="_blank">download</a>  
Open Banking Informa #33 - 06/08/21 – <a href='documents/informes/Open_Banking_Informa_33.pdf' target="_blank">download</a>  
Open Banking Informa #34 - 07/08/21 – <a href='documents/informes/Open_Banking_Informa_34.pdf' target="_blank">download</a>  
Open Banking Informa #35 - 10/08/21 – <a href='documents/informes/Open_Banking_Informa_35.pdf' target="_blank">download</a>  
Open Banking Informa #36 - 11/08/21 – <a href='documents/informes/Open_Banking_Informa_36.pdf' target="_blank">download</a>  
Open Banking Informa #38 - 12/08/21 – <a href='documents/informes/Open_Banking_Informa_38.pdf' target="_blank">download</a>  
Open Banking Informa #39 - 13/08/21 – <a href='documents/informes/Open_Banking_Informa_39.pdf' target="_blank">download</a>  
Open Banking Informa #40 - 16/08/21 – <a href='documents/informes/Open_Banking_Informa_40.pdf' target="_blank">download</a>  
Open Banking Informa #41 - 17/08/21 – <a href='documents/informes/Open_Banking_Informa_41.pdf' target="_blank">download</a>  
Open Banking Informa #42 - 18/08/21 – <a href='documents/informes/Open_Banking_Informa_42.pdf' target="_blank">download</a>  
Open Banking Informa #43 - 20/08/21 – <a href='documents/informes/Open_Banking_Informa_43.pdf' target="_blank">download</a>  
Open Banking Informa #44 - 24/08/21 – <a href='documents/informes/Open_Banking_Informa_44.pdf' target="_blank">download</a>  
Open Banking Informa #45 - 26/08/21 – <a href='documents/informes/Open_Banking_Informa_45.pdf' target="_blank">download</a>  
Open Banking Informa #46 - 27/08/21 – <a href='documents/informes/Open_Banking_Informa_46.pdf' target="_blank">download</a>  
Open Banking Informa #47 - 30/08/21 – <a href='documents/informes/Open_Banking_Informa_47.pdf' target="_blank">download</a>  
Open Banking Informa #48 - 31/08/21 – <a href='documents/informes/Open_Banking_Informa_48.pdf' target="_blank">download</a>  
Open Banking Informa #49 - 01/09/21 – <a href='documents/informes/Open_Banking_Informa_49.pdf' target="_blank">download</a>  
Open Banking Informa #50 - 03/09/21 – <a href='documents/informes/Open_Banking_Informa_50.pdf' target="_blank">download</a>  
Open Banking Informa #51 - 06/09/21 – <a href='documents/informes/Open_Banking_Informa_51.pdf' target="_blank">download</a>  
Open Banking Informa #52 - 08/09/21 – <a href='documents/informes/Open_Banking_Informa_52.pdf' target="_blank">download</a>  
Open Banking Informa #53 - 09/09/21 – <a href='documents/informes/Open_Banking_Informa_53.pdf' target="_blank">download</a>  
Open Banking Informa #54 - 11/09/21 – <a href='documents/informes/Open_Banking_Informa_54.pdf' target="_blank">download</a>  
Open Banking Informa #55 - 13/09/21 – <a href='documents/informes/Open_Banking_Informa_55.pdf' target="_blank">download</a>  
Open Banking Informa #56 - 15/09/21 – <a href='documents/informes/Open_Banking_Informa_56.pdf' target="_blank">download</a>  
Open Banking Informa #57 - 17/09/21 – <a href='documents/informes/Open_Banking_Informa_57.pdf' target="_blank">download</a>  
Open Banking Informa #58 - 22/09/21 – <a href='documents/informes/Open_Banking_Informa_58.pdf' target="_blank">download</a>  
Open Banking Informa #59 - 23/09/21 – <a href='documents/informes/Open_Banking_Informa_59.pdf' target="_blank">download</a>  
Open Banking Informa #60 - 24/09/21 – <a href='documents/informes/Open_Banking_Informa_60.pdf' target="_blank">download</a>  
Open Banking Informa #61 - 24/09/21 – <a href='documents/informes/Open_Banking_Informa_61.pdf' target="_blank">download</a>  
Open Banking Informa #62 - 28/09/21 – <a href='documents/informes/Open_Banking_Informa_62.pdf' target="_blank">download</a>  
Open Banking Informa #63 - 29/09/21 – <a href='documents/informes/Open_Banking_Informa_63.pdf' target="_blank">download</a>  
Open Banking Informa #64 - 01/10/21 – <a href='documents/informes/Open_Banking_Informa_64.pdf' target="_blank">download</a>  
Open Banking Informa #65 - 04/10/21 – <a href='documents/informes/Open_Banking_Informa_65.pdf' target="_blank">download</a>  
Open Banking Informa #66 - 05/10/21 – <a href='documents/informes/Open_Banking_Informa_66.pdf' target="_blank">download</a>  
Open Banking Informa #67 - 08/10/21 – <a href='documents/informes/Open_Banking_Informa_67.pdf' target="_blank">download</a>  
Open Banking Informa #68 - 11/10/21 – <a href='documents/informes/Open_Banking_Informa_68.pdf' target="_blank">download</a>  
Open Banking Informa #69 - 13/10/21 – <a href='documents/informes/Open_Banking_Informa_69.pdf' target="_blank">download</a>  
Open Banking Informa #70 - 14/10/21 – <a href='https://mailchi.mp/519a6f7a20c9/open-banking-informa-4870714?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #71 - 15/10/21 – <a href='https://mailchi.mp/1f14b502b4e7/open-banking-informa-4872386?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #72 - 18/10/21 – <a href='https://mailchi.mp/b410543acc75/open-banking-informa-4875642?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #73 - 19/10/21 – <a href='https://mailchi.mp/0e263e8df912/open-banking-informa-4877858?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #74 - 20/10/21 – <a href='https://mailchi.mp/bffd07ca38cc/open-banking-informa-4879778?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #75 - 22/10/21 – <a href='https://mailchi.mp/e84160919735/open-banking-informa-4884930?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #76 - 25/10/21 – <a href='https://mailchi.mp/b7f4610ad151/open-banking-informa-4888998?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #77 - 26/10/21 – <a href='https://mailchi.mp/22ebc7fdc0a8/open-banking-informa-4890878?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #78 - 27/10/21 – <a href='https://mailchi.mp/650af0db7d68/open-banking-informa-4892950?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #79 - 28/10/21 – <a href='https://mailchi.mp/cca55c865246/open-banking-informa-4894994?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #80 - 28/10/21 – <a href='https://mailchi.mp/edd38e9317af/open-banking-informa-4895066?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #81 - 29/10/21 – <a href='https://mailchi.mp/86e9aacb6d11/open-banking-informa-4896898?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #82 - 01/11/21 – <a href='https://mailchi.mp/496132582665/open-banking-informa-4899942?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #83 - 05/11/21 – <a href='https://mailchi.mp/bd530c2b3e07/open-banking-informa-4906726?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #84 - 08/11/21 – <a href='documents/informes/Open_Banking_Informa_84.pdf' target="_blank">download</a>  
Open Banking Informa #85 - 10/11/21 – <a href='https://mailchi.mp/06b2c3595d47/open-banking-informa-4911322?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #86 - 11/11/21 – <a href='https://mailchi.mp/ef0761957d1d/open-banking-informa-4912598?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #87 - 11/11/21 – <a href='https://mailchi.mp/1f9095aa235f/open-banking-informa-4913650?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #88 - 12/11/21 – <a href='https://mailchi.mp/851809bfeaed/open-banking-informa-4914638?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #89 - 16/11/21 – <a href='https://mailchi.mp/815927bd2273/open-banking-informa-8576878?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #90 - 17/11/21 – <a href='https://mailchi.mp/02859340161d/open-banking-informa-8577994?e=ebb74106a2' target="_blank">download</a>  
Open Banking Informa #91 - 19/11/21 – <a href='https://mailchi.mp/cd8bc90fc0eb/open-banking-informa-8580098?e=%5BUNIQID%5D' target="_blank">download</a>  
Open Banking Informa #92 - 22/11/21 – <a href='https://mailchi.mp/73c7a1c5d3df/open-banking-informa-8581582?e=%5BUNIQID%5D' target="_blank">download</a>  
Open Banking Informa #93 - 23/11/21 – <a href='https://mailchi.mp/5ee3fefe7cb0/open-banking-informa-8583002?e=%5BUNIQID%5D' target="_blank">download</a>  
Open Banking Informa #94 - 24/11/21 – <a href='https://mailchi.mp/f541013bc106/open-banking-informa-8583734?e=%5BUNIQID%5D' target="_blank">download</a>  
Open Banking Informa #95 - 25/11/21 – <a href='https://mailchi.mp/8d90e7dd4ea5/open-banking-informa-8584866?e=13a5745c53' target="_blank">download</a>  
Open Banking Informa #96 - 26/11/21 – <a href='https://mailchi.mp/2fa43dc3d235/open-banking-informa-8585278?e=2d43fcb971' target="_blank">download</a>  
Open Banking Informa #97 - 29/11/21 – <a href='https://mailchi.mp/eaad70237666/open-banking-informa-8587414?e=2d43fcb971' target="_blank">download</a>  
Open Banking Informa #98 - 01/12/21 – <a href='https://mailchi.mp/50a50c4ac884/open-banking-informa-8589186?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #99 - 02/12/21 – <a href='https://mailchi.mp/d92943212a5f/open-banking-informa-8590050?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #100 - 03/12/21 – <a href='https://mailchi.mp/01bdbd7cc7dd/open-banking-informa-8590918?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #101 - 06/12/21 – <a href='https://mailchi.mp/2ce66d65e8d0/open-banking-informa-8592458?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #102 - 07/12/21 – <a href='https://mailchi.mp/2cd5508e5da8/open-banking-informa-8593398?e=2d43fcb971)' target="_blank">download</a>   
Open Banking Informa #103 - 09/12/21 – <a href='https://mailchi.mp/d5f5d21e6be2/open-banking-informa-8594882?e=2d43fcb971)' target="_blank">download</a>   
Open Banking Informa #104 - 10/12/21 – <a href='https://mailchi.mp/21d98ff06d1e/open-banking-informa-8595550?e=2d43fcb971)' target="_blank">download</a>   
Open Banking Informa #105 - 15/12/21 – <a href='https://mailchi.mp/97da587d73a4/open-banking-informa-8598702?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #106 - 17/12/21 – <a href='https://mailchi.mp/3dae2e6c9f9d/open-banking-informa-8600018?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #107 - 23/12/21 – <a href='https://mailchi.mp/45148b0e0af9/open-banking-informa-8603458?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #108 - 03/01/22 – <a href='https://mailchi.mp/cbc8da7b18a6/open-banking-informa-8701182?e=2d43fcb971)' target="_blank">download</a>   
Open Banking Informa #109 - 04/01/22 – <a href='https://mailchi.mp/25d3751cef13/open-banking-informa-8701750?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #110 - 05/01/22 – <a href='https://mailchi.mp/bdd88bbd6014/open-banking-informa-8702698?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #111 - 06/01/22 – <a href='https://mailchi.mp/7dfd9f889b6a/open-banking-informa-8703330?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #112 - 07/01/22 – <a href='https://mailchi.mp/3396bed3755c/open-banking-informa-8703918?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #113 - 12/01/22 – <a href='https://mailchi.mp/020d40697b0b/open-banking-informa-8706298?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #114 - 17/01/22 – <a href='https://mailchi.mp/d525cfd19440/open-banking-informa-8792806?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #115 - 19/01/22 – <a href='https://mailchi.mp/27340821506c/open-banking-informa-8795246?e=13a5745c53' target="_blank">download</a>   
Open Banking Informa #116 - 21/01/22 – <a href='https://mailchi.mp/6536590f0cc3/open-banking-informa-8802858?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #117 - 24/01/22 – <a href='https://mailchi.mp/febf64c42464/open-banking-informa-8811290?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #118 - 25/01/22 – <a href='https://mailchi.mp/027adfaa2353/open-banking-informa-8812050?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #119 - 26/01/22 – <a href='https://mailchi.mp/8b4d70b5d088/open-banking-informa-8816102?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #120 - 27/01/22 – <a href='https://mailchi.mp/e21331d84517/open-banking-informa-8816634?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #121 - 28/01/22 – <a href='https://mailchi.mp/3af58f61b7f0/open-banking-informa-8817190?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #122 - 01/02/22 – <a href='https://mailchi.mp/087f229cf77a/open-banking-informa-8837470?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #123 - 02/02/22 – <a href='https://mailchi.mp/e5f0eeb46c8c/open-banking-informa-8838038?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #124 - 03/02/22 – <a href='https://mailchi.mp/dd05bbccf2ee/open-banking-informa-8838350?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #125 - 03/02/22 – <a href='https://mailchi.mp/9ec2166c84df/open-banking-informa-8838550?e=2d43fcb971' target="_blank">download</a>   
Open Banking Informa #126 - 07/02/22 – <a href='https://mailchi.mp/c6c6ef058746/open-banking-informa-8839690?e=%5BUNIQID%5D' target="_blank">download</a>   
Open Banking Informa #127 - 07/02/22 – <a href='https://mailchi.mp/726416ab0dbc/open-banking-informa-8839990?e=2d43fcb971' target="_blank">download</a>   