# Introdução

Este documento é o resultado do trabalho conjunto do GT da Convenção – Interfaces, formado por integrantes da ABBC, ABCD, Abecs, ABFintechs, Abipag, Abranet, Camara e-net, OCB, BACEN e Febraban, baseado na proposta inicial apresentada pela Febraban (Federação Brasileira de Bancos) para implementação do Sistema Financeiro Aberto no Brasil (Open Banking). A documentação a seguir visa estabelecer padrões de desenvolvimento de APIs por parte das instituições financeiras, instituições de pagamento e demais instituições autorizadas pelo Banco Central do Brasil, além de conter informações adicionais para melhor entendimento do uso dos dados disponibilizados.

Nossa proposta tem como base os modelos do Open Banking do <a href="https://standards.openbanking.org.uk/api-specifications/" target="_blank">Reino Unido</a> e <a href="https://consumerdatastandardsaustralia.github.io/standards/" target="_blank">Austrália</a>, com as devidas adaptações ao cenário bancário brasileiro.
