<aside class="notice">
    <b>Portal desatualizado!</b> Desde o dia 31/03/2022, esse portal não é mais atualizado. <a href='https://openbankingbrasil.atlassian.net/wiki/spaces/OB/overview' target="_blank">Clique aqui</a> para acessar o novo canal ao Portal do Desenvolvedor do Open Banking. A página antiga estará disponível para consulta pelos próximos dias, porém reforçamos a orientação para uso imediato e contínuo do novo portal.<br><br>

    Acesse o menu <a href='https://openbankingbrasil.atlassian.net/wiki/spaces/OB/pages/1738130/Suporte' target="_blank">Suporte</a> em casos de dúvidas ou problemas no novo portal.
</aside>

# Introdução

Sejam bem-vindos à área do desenvolvedor do Portal do Open Banking Brasil.

Nessa área os desenvolvedores encontrarão informações para observância obrigatória de todos os participantes, sejam eles obrigatórios ou voluntários, incluindo padrões técnicos de interfaces, glossário de termos técnicos, especificações dos diferentes tipos de APIs - incluindo seu versionamento, requisitos não funcionais como SLAs e limites de tráfego de requisições, informações de desempenho e disponibilidade, FAQ com diversas orientações aos desenvolvedores, entre outros elementos necessários à implementação do Sistema Financeiro Aberto.  Todas as informações foram definidas de acordo com a regulamentação vigente no País, respeitando instruções normativas e resoluções do Banco Central do Brasil e do Conselho Monetário Nacional.

Este sítio eletrônico e seu conteúdo foram criados e são mantidos pela Estrutura responsável pela Governança do Open Banking Brasil, formada por integrantes de múltiplas associações: Febraban, ABBC, ACREFI, ABBI, OCB, Abecs, Abipag, Abranet, Câmara e-net, ABCD e ABFintechs.
