# Notificações

## Como realizar a publicação das APIs da Fase 1 do Open Banking

Para a primeira fase do Open Banking Brasil, conhecida como Open Data, as instituições registradas no ecossistema com o papel “instituição transmissora e receptora de dados” deverão realizar a publicação das suas APIs no diretório de participantes.

O papel “instituição transmissora e receptora de dados”, abreviada por DADOS no diretório de participantes, é destinado a todas as instituições dos agrupamentos S1 e S2, em caráter obrigatório, e a qualquer outra instituição regulada pelo Banco Central do Brasil, em caráter voluntário.

Para publicar as APIs da fase 1 descritas no <a target="_blank" href="hyperlink: https://openbanking-brasil.github.io/areadesenvolvedor/#fase-1-apis-do-open-banking-brasil">Portal do Desenvolvedor do Open Banking</a> o administrador da instituição no diretório de participantes com papel “DADOS” deve seguir as instruções contidas no <a target="_blank" href="https://openbanking-brasil.github.io/areadesenvolvedor/#guias-de-implementacao">Guia do diretório</a>.

Caso a publicação tenha sido realizada de forma correta os endpoints das APIs poderão ser consultados através do JSON retornado pela API de participantes do diretório: https://data.directory.openbankingbrasil.org.br/participants. O acesso a essa API é livre e seu conteúdo é atualizado a cada 15 minutos.

Qualquer dúvida em relação ao processo de cadastro deverá ser enviado ao <a target="_blank" href="https://servicedesk.openbankingbrasil.org.br/Login.jsp?navLanguage=pt-BR">service desk do Open Banking</a>.

Materiais adicionais:
<a target="_blank" href="https://openbankingbrasil.org.br/2021/05/03/atualizacao-das-apis-no-diretorio/?cookie=true">Comunicado atualização do diretório</a>
<a target="_blank" href="https://ob-public-files.s3.amazonaws.com/faq_atualizacao_diretorio_v3.pdf?cookie=true">FAQ Diretório atualizado</a>
<a target="_blank" href="https://ob-public-files.s3.amazonaws.com/open_banking_endpoints.pdf?cookie=true">Cadastro endpoints</a>