# Guia Operacional

O Guia Operacional dá suporte a doadores e receptores, trazendo informações sobre Desempenho, Disponibilidade, Processo de Registro e Revogação, Estrutura do Repositório de Informações, Resolução de Problemas, Comunicação de Mudanças, CheckList, Glossário e Referências.

Ele poderá ser acessado clicando <a href='documents/guia_operacional.pdf' target="_blank">aqui</a>.

