# Participantes Open Banking Brasil

## Acesso a JSON com dados dos participantes

Os participantes do Open Banking Brasil podem ser consultados a partir do arquivo localizado no *link* <a href="https://data.directory.openbankingbrasil.org.br/participants" target="_blank">https://data.directory.openbankingbrasil.org.br/participants</a>.

A lista é composta por todos os participantes cadastrados no diretório do Open Banking.
    
Os campos que contêm informações relevantes para descoberta dos *endpoints* para a fase 1 são:

|Campo                                               |  Descrição                                       |
|:---------------------------------------------------|:-------------------------------------------------|
|**OrganisationDetails.OrganisationId**              |O Identificador do participante                   |
|**AuthorisationServers.CustomerFriendlyName**       |Nome da marca                                     |
|**OrganisationDetails.RegistrationNumber**          |CNPJ                                              |
|**OrganisationDetails.RegisteredName**              |Razão Social                                      |
|**OrgDomainRoleClaim.Role**                         |Papel junto ao Open Banking                       |
|**OrgDomainRoleClaim.Status**                       |Status do papel                                   |
|**AuthorisationServers.APIResources.APIFamilyType** |URL das APIs                                      |
|**AuthorisationServers.APIResources.APIVersion**    |                                                  |
|**AuthorisationServers.APIResources.APIEndPoint**   |                                                  |
|**AuthorisationServers.DeveloperPortalURI**         |URL da documentação sobre a API do participante   |

A especificação do arquivo de participantes pode ser acessada <a href="swagger/swagger_participants.yaml" target="_blank">aqui</a>.

## Especificações de registro de participantes

*Live* do Cadastramento - acesse neste <a href="https://www.youtube.com/watch?v=ARUcxUIL1DQ&feature=youtu.be" target="_blank">*link*</a> o tutorial em vídeo.

Passo a passo do Cadastramento - acesse neste <a href='documents/Open_Banking_passo_a_passo_cadastro_v05.pdf' target="_blank">*link*</a> o arquivo com instruções.
    
    
