# Problemas conhecidos da especificação

## Especificações da fase 2 do Open Banking Brasil
Disponibilizamos neste <a href='documents/problemas_conhecidos_fase02_v01.pdf' target="_blank">*link*</a> o arquivo com a lista inicial de problemas conhecidos das especificações das APIs da fase 2, contendo orientações às instituições participantes até que se publiquem as correções.  

Este arquivo poderá ser atualizado conforme novos itens sejam identificados.  
Sua eventual atualização será previamente comunicada através dos informes do Open Banking Brasil.


