# Problemas conhecidos da especificação

## Especificações da fase 1 do Open Banking Brasil

Apresentamos neste item orientações para problemas conhecidos da fase 1 do Open Banking Brasil. Na tabela a seguir listamos a versão inicial de problemas identificados e seu direcionamento.

| API/Menu  | Endpoint/Submenu | Campo/detalhe | Problema | Orientação |
|-----------|------------------|---------------|----------|------------|
| API Admin | GET /metrics     | schema AverageMetrics - currentDay e previousDays  | O swagger não detalha a necessidade de fornecer resposta nestes campos em milissegundos, causando erros de apropriação no dashboard para algumas instituições. | Publicada orientação na página principal do portal, os campos são do tipo inteiro (e não number) e deve-se considerar milissegundos até o ajuste explícito no swagger.  |


## Especificações da fase 2 do Open Banking Brasil

Apresentamos neste item orientações para problemas conhecidos da fase 2 do Open Banking Brasil.  

Disponibilizamos neste <a href='documents/problemas_conhecidos_fase_02_v11.pdf' target="_blank">*link*</a> o arquivo com a lista inicial de problemas conhecidos das especificações das APIs da fase 2, contendo orientações às instituições participantes até que se publiquem as correções.  

Este arquivo poderá ser atualizado conforme novos itens sejam identificados.  
Sua eventual atualização será previamente comunicada através dos informes do Open Banking Brasil.


## Especificações da fase 3 do Open Banking Brasil

Apresentamos neste item orientações para problemas conhecidos da fase 3 do Open Banking Brasil.  

Disponibilizamos neste <a href='documents/problemas_conhecidos_fase_03_v07.pdf' target="_blank">*link*</a> o arquivo com a lista inicial de problemas conhecidos das especificações da API da Fase 3, contendo orientações às instituições participantes até que se publiquem as correções.  

Este arquivo poderá ser atualizado conforme novos itens sejam identificados.  
Eventuais atualizações serão também comunicadas através dos Informes do Open Banking Brasil.