# Guia de Versionamento

Este anexo tem como objetivo detalhar quando mudanças nas APIs do Open Banking serão consideradas disruptivas (breaking changes) exigindo a criação de uma nova versão maior (major) e quando uma mudança poderá ser tratada como não disruptiva (non breaking changes) podendo ser criada uma versão menor (minor) para comportá-la. 

Mudanças em APIs REST podem ocorrer no contrato da API (Open API 3.0) tendo efeitos mais visíveis aos consumidores e, portanto, sendo mais fácil de se mapear os seus impactos; ou podem acontecer em suas regras de negócio/implementação precisando de uma análise mais complexa de quando a mudança traz impactos aos atuais consumidores das APIs. 
    
Nota: Os exemplos contidos neste anexo são meramente ilustrativos e não refletem as APIs definidas nas especificações do Open Banking. 

Ele poderá ser acessado clicando <a href='documents/guia_versionamento.pdf' target="_blank">aqui</a>.

