# Versões anteriores

* <a href="./versions/v1.0.0-rc5.2/index.html" target="_blank">v1.0.0-rc5.2</a>
* <a href="./versions/v1.0.0-rc5.1/index.html" target="_blank">v1.0.0-rc5.1</a>
* <a href="./versions/v1.0.0-rc5/index.html" target="_blank">v1.0.0-rc5</a>
* <a href="./versions/v1.0.0-rc4/index.html" target="_blank">v1.0.0-rc4</a>
* <a href="./versions/v1.0.0-rc3/index.html" target="_blank">v1.0.0-rc3</a>
* <a href="./versions/v1.0.0-rc2/index.html" target="_blank">v1.0.0-rc2</a>
* <a href="./versions/v1.0.0-rc/index.html" target="_blank">v1.0.0-rc</a>
