## Dependências próprias

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/branches HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/branches", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "The Big Bank Company",
        "companies": [
          {
            "name": "RSR Bank",
            "cnpjNumber": "14684579163",
            "branches": [
              {
                "identification": {
                  "type": "AGENCIA",
                  "code": "7055",
                  "checkDigit": "0",
                  "name": "Agência Alameda Santos"
                },
                "postalAddress": {
                  "streetType": "Alameda",
                  "streetName": "Santos",
                  "buildingNumber": "1041",
                  "additionalInfo": null,
                  "districtName": "Cerqueira César",
                  "townName": "São Paulo",
                  "countrySubDivision": "SP",
                  "postCode": "01419-002"
                },
                "availability": {
                  "standard": [
                    {
                      "weekday": "Segunda-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Terça-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Quarta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Quinta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Sexta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    }
                  ],
                  "exceptionAvailability": "Exceto feriados municipais, estaduais e nacionais",
                  "allowPublicAccess": "true",
                  "phones": [
                    {
                      "type": "FIXO",
                      "areaCode": "11",
                      "number": "4444-5555"
                    },
                    {
                      "type": "MOVEL",
                      "areaCode": "11",
                      "number": "99999-8888"
                    }
                  ]
                },
                "services": {
                  "codes": [
                    "ABERTURA_CONTAS",
                    "RECEBIMENTOS_PAGAMENTOS_TRANSFERÊNCIAS_ELETRONICAS",
                    "RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA",
                    "OPERACOES_CREDITO",
                    "CARTAO_CREDITO",
                    "OPERACOES_CÂMBIO",
                    "INVESTIMENTOS",
                    "SEGUROS"
                  ],
                  "additionalInfo": null
                }
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/channels/v1/branches",
    "first": "https://api.banco.com.br/open-banking/channels/v1/branches",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/channels/v1/branches"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /channels/<versão>/branches`

Versão |
------ |
1 |

### Visão Geral

Obtém a lista de dependências próprias da instituição financeira.  

Dependência própria é o espaço físico destinado ao atendimento ao público.

Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario) e [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Branches_v1.png'/>

### Dicionário de dados

<a href='dictionary/branches.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBranchesList](#schemaResponseBranchesList)|