## Canais de atendimento eletrônico

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/electronic-channels HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/electronic-channels", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "electronicChannels": [
            {
              "identification": {
                "type": "INTERNET_BANKING",
                "additionalInfo": "NA",
                "urls": [
                  "https://empresaa1.com/internet-banking"
                ]
              },
              "services": [
                {
                  "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
                  "code": "ABRE_CONTA_DEPOSITO_OU_PRE_PAGA",
                  "additionalInfo": "NA"
                },
                {
                  "name": "SEGUROS",
                  "code": "SEGUROS",
                  "additionalInfo": "NA"
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/channels/v1/electronic-channels",
    "first": "https://api.banco.com.br/open-banking/channels/v1/electronic-channels",
    "prev": "null",
    "next": "null",
    "last": "https://api.banco.com.br/open-banking/channels/v1/electronic-channels"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /channels/<versão>/electronic-channels`


Versão    |
--------- |
2         | 


### Visão Geral

Obtém a lista de canais eletrônicos próprios da instituição financeira.

Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_ElectronicChannels_v1.png'/>

### Dicionário de dados

<a href='dictionary/electronic_channels.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseElectronicChannelsList](#schemaResponseElectronicChannelsList)|
