## Canais de atendimento telefônico

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/phone-channels HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/phone-channels", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "phoneChannels": [
            {
              "identification": {
                "type": "CENTRAL_TELEFONICA",
                "additionalInfo": "NA",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "35721199",
                    "additionalInfo": "NA"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "997865532",
                    "additionalInfo": "NA"
                  }
                ]
              },
              "services": [
                {
                  "name": "ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA",
                  "code": "ABRE_CONTA_DEPOSITO_OU_PRE_PAGA",
                  "additionalInfo": "NA"
                },
                {
                  "name": "RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA",
                  "code": "RECEBE_PAGA_QUALQUER_NATUREZA",
                  "additionalInfo": "NA"
                }
              ]
            },
            {
              "identification": {
                "type": "SAC",
                "additionalInfo": "NA",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-4828",
                    "additionalInfo": "DDI '55'; DDD '11', 40044828, 'Para clientes no exterior'"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-4828",
                    "additionalInfo": "DDI ' ', DDD ' ', 40044828, 'Para regiões metropolitanas'"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-4828",
                    "additionalInfo": "DDI ' ', DDD ' ', 40044828, 'Para demais localidades'"
                  }
                ]
              },
              "services": [
                {
                  "name": "RECLAMACOES",
                  "code": "RECLAMACOES",
                  "additionalInfo": "NA"
                },
                {
                  "name": "INFORMACOES",
                  "code": "INFORMACOES",
                  "additionalInfo": "NA"
                },
                {
                  "name": "CANCELAMENTO",
                  "code": "CANCELAMENTO",
                  "additionalInfo": "NA"
                }
              ]
            },
            {
              "identification": {
                "type": "OUVIDORIA",
                "additionalInfo": "NA",
                "phones": [
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-5555",
                    "additionalInfo": "DDI '55'; DDD '11', 40045555, 'Para clientes no exterior'"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-5555",
                    "additionalInfo": "DDI ' ', DDD ' ', 40045555, 'Para regiões metropolitanas'"
                  },
                  {
                    "countryCallingCode": "55",
                    "areaCode": "14",
                    "number": "4004-5555",
                    "additionalInfo": "DDI ' ', DDD ' ', 40045555, 'Para demais localidades'"
                  }
                ]
              },
              "services": [
                {
                  "name": "RECLAMACOES",
                  "code": "RECLAMACOES",
                  "additionalInfo": "NA"
                },
                {
                  "name": "INFORMACOES",
                  "code": "INFORMACOES",
                  "additionalInfo": "NA"
                }
              ]
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/channels/v1/phone-channels",
    "first": "https://api.banco.com.br/open-banking/channels/v1/phone-channels",
    "prev": "null",
    "next": "null",
    "last": "https://api.banco.com.br/open-banking/channels/v1/phone-channels"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /channels/<versão>/phone-channels`


Versão |
--------- |
2  |


### Visão Geral

Obtém a lista de canais telefônicos próprios da instituição financeira.

Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_PhoneChannels_v1.png'/>

### Dicionário de dados

<a href='dictionary/phone_channels.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePhoneChannelsList](#schemaResponsePhoneChannelsList)|
