## Terminais de Autotendimento Compartilhados

> Exemplo de código:

```http
TBD
```

> O comando acima retorna uma estrutura json como essa:

```json
TBD
```

`GET /channels/<versão>/TBD`

Versão |
------ |
1 |

### Visão Geral

TBD.

Tags: TBD

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Shared_Automated_Teller_Machines_v1.png'/>

### Dicionário de dados

<a href='dictionary/automated_teller_machines.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|TBD|
