openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0
servers:
  - url: http://api.banco.com.br/open-banking/product-services/v1
  
###############
## Endpoints ##
###############
paths:
  /personal-credit-cards:
    get:
      tags:
      - "Credit Cards"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/PersonalCreditCardResponse'
                
  /business-credit-cards:
    get:
      tags:
      - "Credit Cards"
      summary: ""
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BusinessCreditCardResponse'
                
components:
  ###############
  ##  Schemas  ##
  ###############
  schemas:
  ##############################
  ##  Commons - Credit Cards  ##
  ##############################
  
  ##### CreditCardIndentification #####
    CreditCardIndentification:
      type: object
      required:
        - productType
        - brandCode
      properties:
        productType:
          type: string
          enum: [
            "CLASSIC_NACIONAL"
            ,"CLASSIC_INTERNACIONAL"
            ,"GOLD"
            ,"PLATINUM"
            ,"INFINITE"
            ,"ELECTRON"
            ,"STANDARD_NACIONAL"
            ,"STANDARD_INTERNACIONAL"
          ]
          description: "Categoria atribuída a um cartão de pagamento, sob uma certa denominação, que lhe agrega um conjunto de vantagens, diferenciando-o de acordo com o perfil do portador. Essa categoria é definida pelo BACEN e está contida no documento de nome 'Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores'"
          example: "PLATINUM"
        brandCode:
          type: string
          enum: [
            "VISA"
            ,"MASTERCARD"
            ,"AMERICAN_EXPRESS"
            ,"DINERS_CLUB"
            ,"HIPERCARD"
            ,"BANDEIRA_PROPRIA"
            ,"CHEQUE_ELETRONICO"
            ,"ELO"
            ,"OUTRAS"
          ]
          description: "Categoria de Bandeiras de Cartões. Bandeira é a detentora de todos os direitos e deveres da utilização da marca estampada no cartão, inclusive as bandeiras pertencentes aos emissores. Essas bandeiras estão definidas em documento do BACEN de nome 'Elaboração e Remessa de Informações Relativas aos Cartões de Pagamento  Emissores'"
          example: "MASTERCARD"
          
  ##### CreditCardRewardsProgram #####
    CreditCardRewardsProgram:
      type: object
      required: 
        - hasProgramReward
      properties:
        hasProgramReward:
          type: boolean
          description: "Indicador da existência de programa de fidelidade/recompensa associado à conta"
          example: true
        programRewardInfo:
          type: string
          maxLength: 2000
          description: "Informações de termos e condições do programa de fidelidade/recompensa. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
          example: "www.banco.com.br/programa-recompensas"
  
  ##### CreditCardTermsConditions #####
    CreditCardTermsConditions:
      type: object
      required:
        - minimumFeeRate
        - elegibilityCriteriaInfo
        - closingProcessInfo
      properties:
        minimumFeeRate:
          type: number
          description: "Percentual para pagamento mínimo sobre o saldo devedor da fatura"
          example: 25.5
        additionalInfo:
          type: string
          maxLength: 500
          description: "Campo aberto para detalhamento de taxas de juros"
        elegibilityCriteriaInfo:
          type: string
          maxLength: 2000
          description: "Informação sobre as condições e critérios de elegibilidade do emissor do cartão. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
        closingProcessInfo:
          type: string
          maxLength: 2000
          description: "Descrição dos procedimentos para encerramento da conta pós paga. Pode ser informada a URL referente ao endereço onde constam as condições informadas"
          example: "www.banco.com.br/cancelamento-cartao"
          
  ##### CreditCardInterestRates #####
    CreditCardInterestRates:
      type: object
      required:
        - feeRate
        - instalmentRate
        - code
      properties:
        feeRate:
          type: number
          description: "Percentual que corresponde a taxa aplicada para utilização de Crédito Rotativo"
          example: 9.87
        instalmentRate:
          type: number
          description: "Percentual que corresponde a taxa aplicada para pagamento parcelado do saldo devedor quando não realizado pagamento integral da fatura"
          example: 4.1
        code:
          type: string
          enum: [
            "SAQUE_CREDITO"
            ,"OUTROS"
          ]
          description: "Lista de outras operações de crédito"
          example: "SAQUE_CREDITO"
          
  ##### CreditCardServicePrice ##### 
    CreditCardServicePrice:
      type: object
      required: 
        - type
        - value
        - currency
      properties:
        type:
          type: string
          enum: [
            "MINIMO"
            ,"MEDIO"
            ,"MAXIMO"
          ]
          description: "Indica os tipos: mínimo, médio e máximo do valor informado"
          example: "MEDIO"
        value:
          type: number
          description: "Valor da tarifa cobrada referente aos Outros Serviços"
          example: 15.66
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor máximo da tarifa conforme ISO-4217"
          example: "BRL"
          
  ############################
  ##  Personal Credit Cards ##
  ############################  
  
  ##### PersonalCreditCardResponse #####
    PersonalCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  description: "Nome da marca selecionada pela Organização proprietária da companhia responsável pelas contas de pagamento pós-pagas (cartão de crédito)"
                  example: "The Big Bank Brand"
                companies:
                  type: array
                  items:
                    required: 
                      - name
                      - cnpjNumber
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à marca, responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "The Big Bank Company"
                      cnpjNumber:
                        type: string
                        minLength: 14
                        maxLength: 14
                        description: "Número completo do CNPJ da instituição responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "54672317000101"
                      personalCreditCards:
                        type: array
                        items:
                          required:
                            - name
                            - identification
                            - rewardsProgram
                            - fees
                            - interestRates
                            - termsConditions
                          properties:
                            name:
                              type: string
                              maxLength: 50
                              description: "Denominação/Identificação do nome da conta (cartão de crédito)"
                              example: "Cartão Univertário Bem-Vindo"
                            identification:
                              $ref: '#/components/schemas/CreditCardIndentification'
                            rewardsProgram:
                              $ref: '#/components/schemas/CreditCardRewardsProgram'
                            fees:
                              type: object
                              required:
                                - priorityServices
                              properties:
                                priorityServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalCreditCardPriorityServices'
                                otherServices:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/PersonalCreditCardOtherServices'
                            interestRates:
                              $ref: '#/components/schemas/CreditCardInterestRates'
                            termsConditions:
                              $ref: '#/components/schemas/CreditCardTermsConditions'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
                  
  ##### PersonalCreditCardPriorityServices #####
    PersonalCreditCardPriorityServices:
      type: object
      required:
        - name
        - code
        - chargingTriggerInfo
        - maxPrice
        - currency
        - chargingUnit
      properties:
        name:
          type: string
          enum: [
            "ANUIDADE_CARTAO_BASICO_NACIONAL"
            ,"ANUIDADE_CARTAO_BASICO_INTERNACIONAL"
            ,"FORNECIMENTO_SEG_VIA_CARTAO_CREDITO"
            ,"UTILIZACAO_CANAIS_ATEND_RETIRADA_ESPECIE_PAIS"
            ,"UTILIZACAO_CANAIS_ATEND_REDIRADA_ESPECIA_EXTERIOR"
            ,"PAGAMENTO_CONTAS_UTILIZANDO_FUNCAO_CREDITO"
            ,"AVALIACAO_EMERGENCIAL_CREDITO"
          ]
          description: "Nomes das Tarifas cobradas sobre serviços relacionados à modalidade informada de contas de pagamento pós-pagas para pessoa física conforme resolução 3.919 do BACEN"
          example: "AVALIACAO_EMERGENCIAL_CREDITO"
        code:
          type: string
          enum: [
            "ANUIDADE_NACIONAL"
            ,"ANUIDADE_INTERNACIONAL"
            ,"SEGUNDA_VIA_CARTAO_CREDITO"
            ,"RETIRADA_PAIS"
            ,"RETIRADA_EXTERIOR"
            ,"PAGAMENTO_CONTAS"
            ,"AVALIACAO_EMERGENCIAL_CREDITO"
          ]
          description: "Sigla de identificação do serviço relacionado à modalidade de contas de pagamento pós-pagas para pessoa física informada conforme resolução 3.919 do BACEN"
          example: "AVALIACAO_EMERGENCIAL_CREDITO"
        chargingTriggerInfo:
          type: string
          description: "Fatores geradores de cobrança que incidem sobre as modalidades inforrmadas de contas de pagamento pós-pagas para pessoa física conforme resolução 3.919 do BACEN"
          example: "AVAL.EMERG.CRÉDITO"
        maxPrice:
          type: number
          description: "Valor máximo para a tarifa cobrada, relativa ao serviço relacionado à Modalidade informada de Contas de Pagamento Pós-Pagas para pessoa física"
          example: 45.88
        currency:
          type: string
          maxLength: 3
          pattern: ^([A-Z]{3})$
          description: "Moeda referente ao valor da tarifa conforme ISO-4217"
          example: "BRL"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por depósito recebido"
  
  ##### PersonalCreditCardOtherServices #####
    PersonalCreditCardOtherServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - chargingUnit
        - price
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada de Contas de Pagamento Pós-Pagas para pessoa física"
          example: "Evento personalizado"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade de Contas de Pagamento Pós-Pagas para pessoa física informada"
          example: "EVENTO_PERSONALIZADO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades inforrmadas de Contas de Pagamento Pós-Pagas para pessoa física"
          example: "Cobrança devido a evento personalizado"
        price:
          $ref: '#/components/schemas/CreditCardServicePrice'
        additionalInfo:
          type: string
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa"
          example: "50% do valor da anuidade do cartão titular"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Anualmente"
  ############################
  ##  Business Credit Cards ##
  ############################
    
  ##### BusinessCreditCardResponse #####
    BusinessCreditCardResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              type: object
              required:
                - name
                - companies
              properties:
                name:
                  type: string
                  maxLength: 30
                  description: "Nome da marca selecionada pela Organização responsável pelas contas de pagamento pós-pagas (cartão de crédito)"
                  example: "The Big Bank Brand"
                companies:
                  type: array
                  items:
                    required: 
                      - name
                      - cnpjNumber
                    properties:
                      name:
                        type: string
                        maxLength: 30
                        description: "Nome da Instituição, pertencente à marca, responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "The Big Bank Company"
                      cnpjNumber:
                        type: string
                        minLength: 14
                        maxLength: 14
                        description: "Número completo do CNPJ da instituição responsável pelas contas de pagamento pós-pagas (cartões de crédito)"
                        example: "54672317000101"
                      businessCreditCards:
                        type: array
                        items:
                          required:
                            - name
                            - identification
                            - rewardsProgram
                            - fees
                            - interestRates
                            - termsConditions
                          properties:
                            name:
                              type: string
                              maxLength: 50
                              description: "Denominação/Identificação do nome da conta"
                              example: "Cartão Microempreendedor Bem-Vindo"
                            identification:
                              $ref: '#/components/schemas/CreditCardIndentification'
                            rewardsProgram:
                              $ref: '#/components/schemas/CreditCardRewardsProgram'
                            fees:
                              type: object
                              properties:
                                services:
                                  type: array
                                  items:
                                    $ref: '#/components/schemas/BusinessCreditCardServices'
                            interestRates:
                              $ref: '#/components/schemas/CreditCardInterestRates'
                            termsConditions:
                              $ref: '#/components/schemas/CreditCardTermsConditions'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
          
    ##### PersonalCreditCardOtherServices #####
    BusinessCreditCardServices:
      type: object
      required: 
        - name
        - code
        - chargingTriggerInfo
        - chargingUnit
      properties:
        name:
          type: string
          maxLength: 50
          description: "Nomes das Tarifas cobradas sobre Serviços relacionados à Modalidade informada de Contas de Pagamento Pós-Pagas para pessoa jurídica"
          example: "2ª via do cartão de crédito"
        code:
          type: string
          maxLength: 30
          description: "Sigla de identificação do serviço relacionado à Modalidade de Contas de Pagamento Pós-Pagas para pessoa jurídica informada"
          example: "SEGUNDA_VIA_CARTAO_CREDITO"
        chargingTriggerInfo:
          type: string
          maxLength: 3000
          description: "Fatores geradores de cobrança que incidem sobre as Modalidades inforrmadas de Contas de Pagamento Pós-Pagas para pessoa jurídica"
          example: "SEGUNDA_VIA_CARTAO_CREDITO"
        price:
          $ref: '#/components/schemas/CreditCardServicePrice'
        additionalInfo:
          type: string
          maxLength: 80
          description: "Descrição de como é composto o valor da tarifa"
          example: "0.5% da valor do orçamento"
        chargingUnit:
          type: string
          maxLength: 50
          description: "Unidade ou forma de cobrança"
          example: "Por evento"
          
  ####################
  ##  Links & Meta  ##
  ####################
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        first:
          type: string
          description: URL da primeira página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages