## Diretório de participantes

### Introdução

O Diretório de Participantes do Open Banking é o principal componente de arquitetura que permite que Instituições Provedoras (TPPs) se registrem e iniciem interações por meio de APIs com Instituições Transmissoras (ASPSPs), também fornece um ambiente de testes.<br>
O Diretório é um serviço de gerenciamento de identidade e acesso que fornece informações de identidade que dão suporte aos participantes do Ecossistema do Open Banking.<br>
O Diretório de Participantes disponibiliza os recursos funcionais necessários para que as Instituições Provedoras (TPPs) possam se autenticar no Open Banking e também recursos para identificar as Instituições Transmissoras (ASPSPs).<br>
O Registro dos Provedores é obrigatório para usar as APIs fornecidas pelas Instituições Transmissoras (ASPSPs).<br>
As instituições Transmissoras devem utilizar as informações técnicas contidas no Diretório para realizar o gerenciamento da identidade e da autorização das aplicações das instituições Participantes, que abrange a identificação, a autorização e a revogação de certificados utilizados no compartilhamento de dados e serviços do escopo do Open Banking.<br>
       
Recursos funcionais do Diretório de Participantes:

* Gerenciar identidades e acesso: a capacidade de emitir e gerenciar registros de identidade para organizações e pessoas físicas que interagem com o Diretório.
* Gerenciar certificados e chaves: A capacidade de fazer upload, gerenciar e remover certificados, chaves de assinatura e chaves de criptografia. A capacidade de emitir, gerenciar e revogar certificados digitais do Open Banking.
* Gerenciar informações do Diretório: a capacidade de atualizar e localizar informações mantidas no diretório - por meio de APIs e/ou uma interface de usuário (IU).
       
###	Padrões 
       
* Adoção de padrões abertos 
  * O design do Diretório de Participantes do Open Banking será baseado em padrões abertos e amplamente adotados, como  API Restful, <a href='https://openid.net/connect/'target="_blank">OpenID Connect</a> e <a href='https://tools.ietf.org/html/rfc6749'target="_blank">OAuth2</a>.
* Participantes devem estar registrados
  * Os participantes devem ser autorizados e registrados na autoridade competente. 
* Uso de certificados 
  * Os participantes que possuem um certificado válido podem se registrar no diretório mais rapidamente e sem a necessidade de realizar etapas manuais.
       
###	Registro de uma Instituição Provedora
   
O Diretório deverá realizar validações para o Registro de uma TPP, depois destas validações, solicitações e respostas de API e/ou dados de contaspodem ser compartilhadas com segurança entre as duas partes. O diretório deve validar, se:

* O TPP está utilizando um certificado digital.
* O certificado se encontra em conformidade com os padrões do Open Banking Brasil.
* O certificado não está expirado.
* O certificado foi emitido por uma Entidade Emissora válida.
* O certificado não foi revogado. 

Depois que todas as verificações forem realizadas, será estabelecido uma conexão TLS segura, mutuamente autenticada entre o Diretório e o TPP. 
       
###	Funções Operacionais dos Participantes
<br>   
__Fluxos para Instituições Provedoras (TPP)__

<img class='lazy' src='images/loading.gif' data-src='images/security/TPP.png'/>

<br>
<br>
<br>
<br>
<br>

__Fluxos para Instituições Transmissoras (ASPSP)__

<img class='lazy' src='images/loading.gif' data-src='images/security/ASPPSP.png'/>

###	Registro no diretório de participantes
    
Para poder consumir APIs disponibilizadas por um ASPSP, um TPP deverá realizar um registro junto ao ASPSP, esse processo de autenticação do participante deve ser feita de forma centralizada no Diretório de Participantes, sendo necessário a federação do seu portal ao Diretório.
O ASPSP deve implementar um processo de integração do TPP ao seu sistema, esse processo deve:

* Validar se o TPP é autorizado por uma autoridade competente.
* Validar as informações do TPP.

Após o TPP realizar o registro no Diretório de Participantes o mesmo poderá realizar o registro de *clients* (aplicações) na ASPSP.
Para a realização do registro de *clients* no Open Banking, é mandatório a disponibilização do processo de registro de *Client* dinâmico, conforme <a href='https://tools.ietf.org/html/rfc7591'target="_blank">[RFC 7591]</a>.  