## Financial-grade API (FAPI)

Financial-grade API, o FAPI, é uma especificação técnica desenvolvida pelo Grupo de Trabalho Financial-grade API da OpenID Foundation. Ele utiliza OAuth 2.0 e OpenID Connect (OIDC) como sua base e define requisitos técnicos adicionais para o setor financeiro e outros setores que exigem maior segurança.

<img class='lazy' src='images/loading.gif' data-src='images/security/FAPI.png'/>

### FAPI: *Read and Write API Security Profile*

É obrigatório o uso do perfil de segurança *FAPI-Financial-grade API: Read and Write API Security Profile*, referenciado no endereço: <a href='https://openid.net/specs/openid-financial-api-part-2-wd-06.html'target="_blank">https://openid.net/specs/openid-financial-api-part-2-wd-06.html</a>.

### FAPI: *CIBA-Client Initiated Backchannel Authentication Profile*

A autenticação pelo CIBA fornece um fluxo desacoplado, possibilitando autorizar um pagamento por exemplo em um terminal de ponto de venda ou em um posto de combustível.
O perfil de segurança CIBA: *Client Initiated Backchannel Authentication Profle* será opcional pelos participantes do Open Banking, referenciado no endereço: <a href='https://openid.net/specs/openid-financial-api-ciba.html'target="_blank">https://openid.net/specs/openid-financial-api-ciba.html</a>.