## Guia do usuário: Instituição Receptora ou Iniciadora de Pagamentos

Este guia visa fornecer às instituições receptoras de dados ou iniciadores de pagamentos o passo a passo para implementação de aplicações de acordo com o framework do Open Banking Brasil. 
Os detalhes deste guia podem ser consultados nos endereços:

<a href="https://openbanking-brasil.github.io/specs-seguranca/tpp-user-guide-ptbr.html" target="_blank">https://openbanking-brasil.github.io/specs-seguranca/tpp-user-guide-ptbr.html</a> (em português)

<a href="https://openbanking-brasil.github.io/specs-seguranca/tpp-user-guide.html" target="_blank">https://openbanking-brasil.github.io/specs-seguranca/tpp-user-guide.html</a> (em inglês)
