## Guia do usuário: Instituição Transmissora

Este guia visa fornecer às instituições transmissoras de dados o passo a passo para implementação de aplicações de acordo com o framework do Open Banking Brasil. 
Os detalhes deste guia podem ser consultados nos endereços:

<a href="https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide-ptbr.html" target="_blank">https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide-ptbr.html</a> (em português)

<a href="https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide.html" target="_blank">https://openbanking-brasil.github.io/specs-seguranca/aspsp-user-guide.html</a> (em inglês)
