## Introdução

Esta seção tem como finalidade auxiliar na auto avaliação aos cumprimentos dos requisitos de segurança da informação relacionados a autorização e autenticação de APIs e End-Users, emissão de certificados digitais e requisitos para o onboarding no Diretório de participantes para as Instituições participantes do Open Banking.

As instituições participantes do Open Banking possuem a obrigação de acompanhar a edição e a revogação de eventuais normas com impacto no tema de forma a estar permanentemente em dia com as determinações legais.
Compõem, de forma não exaustiva, o rol de atos normativos cuja observância é essencial pelas instituições participantes do Open Banking:


|Normativa|
|---------|
|<a href='https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Resolu%C3%A7%C3%A3o%20BCB&numero=1'target="_blank">Resolução Conjunta CMN/BCB nº 1, de 2020</a>|
|<a href='https://www.bcb.gov.br/pre/normativos/busca/downloadNormativo.asp?arquivo=/Lists/Normativos/Attachments/50581/Res_4658_v1_O.pdf'target="_blank">Resolução CMN nº 4.658, de 2018</a>|
|<a href='https://www.bcb.gov.br/pre/normativos/busca/downloadNormativo.asp?arquivo=/Lists/Normativos/Attachments/50645/Circ_3909_v1_O.pdf'target="_blank">Circular BCB nº 3.909, de 2018</a>|
|<a href='https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Instru%C3%A7%C3%A3o%20Normativa%20BCB&numero=37'target="_blank">Resolução BCB nº 37, de 4 de Novembro de 2020</a>|
|<a href='https://www.bcb.gov.br/estabilidadefinanceira/exibenormativo?tipo=Resolu%C3%A7%C3%A3o%20BCB&numero=32'target="_blank">Resolução BCB n° 32 de 29/10/2020</a>|          
|<a href='http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm'target="_blank">Lei Geral de Proteção de Dados Pessoais (LGPD - Lei nº 13.709, de 2018)</a>|


Estas especificações baseiam-se, referenciam, e complementam, quando aplicável, os seguintes documentos:
        
|Referência|Link|
|---------|---------|      
|BCP 195/RFC 7525|<a href='https://tools.ietf.org/html/rfc7525'target="_blank"> https://tools.ietf.org/html/rfc7525</a>|
|Owasp API Top 10|<a href='https://owasp.org/www-project-api-security/'target="_blank"> https://owasp.org/www-project-api-security/</a>|                
|Sans Top 25 Software Errors|<a href='https://www.sans.org/top25-software-errors'target="_blank"> https://www.sans.org/top25-software-errors</a>|                
|CWE Top 25 Software Weaknesses|<a href='https://cwe.mitre.org/top25/archive/2020/2020_cwe_top25.html'target="_blank"> https://cwe.mitre.org/top25/archive/2020/2020_cwe_top25.html</a>|