## JWT

O formato JWT (JSON Web Token) é projetado para transmitir *claims* entre duas partes. O JWT consiste em um *Header*, um *payload* e uma assinatura. O cabeçalho do *ID Token* contém informações sobre o tipo de objeto (JWT) e o algoritmo de assinatura utilizado para proteger a integridade dos *claims* do *payload*. O algoritmo de assinatura exigido é o PS256 (RSASSA-PSS utilizando SHA-256 e MGF1 com SHA-256). A seção do *payload* contém as *claims* sobre um usuário e o evento de autenticação. A seção de assinatura contém uma assinatura digital com base no *payload* do *ID Token* e uma chave secreta conhecida pelo provedor OpenID. 

O JWT é formado por três seções: *Header, Payload* e *Signature*.<br>
O *Header* contém somente a informação tipo e algoritmo:

<span style="font-family: Courier New">
__{"typ": "JWT",__<br>
__"alg": " PS256"}__<br>
</span>


### *Payload*

O *Payload* é um objeto JSON com as *Claims* da entidade tratada, normalmente o usuário autenticado.<br>
*Claims* são informações afirmadas sobre um sujeito, por exemplo um *ID Token*, pode conter uma *claim* chamada *name* que afirma que o usuário autenticado é quem diz ser. Em um JWT uma claim aparece como um par nome/valor em que o nome é sempre uma *string* e o valor pode conter qualquer conteúdo JSON.
Essas *claims* podem ser de 3 tipos:

*__Reserved claims__*: São *claims* definidas pela especificação do JWT e contém atributos não obrigatórios (mais recomendados) que são usados na validação do token pelos protocolos de segurança das APIs. É possível verificar a lista completa de *Reserved Claims* em <a href='https://www.iana.org/assignments/jwt/jwt.xhtml#claims'target="_blank">[IANA JSON Web Token Claims Registry]</a>.

<span style="font-family: Courier New">
__{"sub": "Subject, entidade à quem o token pertence, normalmente o ID do usuário",__<br>
__"iss": "Issuer, emissor do token",__<br>
__"exp": "Expiration, timestamp de quando o token irá expirar",__<br>
__"iat": "Issued at, timestamp de quando o token foi criado",__<br>
__"aud": "Audience, destinatário do token, representa a aplicação que irá usá-lo"}__<br>
</span>



*__Public claims__*: atributos utilizados nas aplicações. Normalmente armazenamos as informações do usuário autenticado na aplicação.

<span style="font-family: Courier New">
__{"name": "Joe",__<br>
__"roles": "Administrator",__<br>
__"permissions": "Full"}__<br>
</span>


*__Private claims__*: são *claims* personalizadas e contém atributos definidos  para compartilhar informações entre aplicações.

<span style="font-family: Courier New">
__{"sub": "1234567890",__<br>
__"name": "Jose Doe"__<br>
__"admin": "true"}__<br>
</span>


Conjunto de *claims* para um *ID Token* do Open Banking:

<span style="font-family: Courier New">
__{"iss": "Emissor do token",__<br>
__"sub": "Identificador único do subject",__<br>
__"openbanking_intent_id": "Intent ID da solicitação",__<br>
__"aud": "Público alvo para o qual o ID Token é destinado (deve incluir o Client ID)",__<br>
__"exp": "Data/hora de expiração do token",__<br>
__"iat": "Data/hora de emissão do token",__<br>
__"auth_time": "Data/hora de autenticação do End-user",__<br>
__"nonce": "Valor string que associa uma sessão do cliente com um ID Token usado para ajudar na mitigação de ataques de replay",__<br>
__"acr": "Authentication Context Class Reference",__<br>
__"amr": "Authentication Methods References",__<br>
__"azp": "Authorized party",__<br>
__"s_hash": "State hash value",__<br>
__"at_hash": "Access Token hash value",__<br>
__"c_hash": "Code hash value"}__<br>
</span>



### Assinatura

A assinatura é o *header* e o *payload* criptografados com um *secret*.

<span style="font-family: Courier New">
__PS256(__<br>
__base64UrlEncode(header) + "." +__<br>
__base64UrlEncode(payload),__<br>
__secret)__<br>
</span>

Para obter o token JWT, as três seções *header* (vermelho), *payload* (roxo) e *signature* (azul) são codificadas com Base64-URL e unidas por pontos.

<font size="4">
<span style="color:red">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9</span>.<span style="color:purple">eyJz</span><br>
<span style="color:purple">dWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4g</span><br>
<span style="color:purple">RG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ</span>.<span style="color:blue">SflKxwRJSM</span><br>
<span style="color:blue">eKKF2QT4fwpMeJf36POk6yJV_adQssw5c</span><br>
</font>

__eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.__ -> *__Header__* <br>
__eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.__ -> *__Payload__* <br>
__SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c__ -> *__Signature__* <br>

Este token JWT deve ser enviado no cabeçalho *Authentication* HTTP usando o esquema *Bearer*. O conteúdo do cabeçalho deve seguir este formato:

<span style="font-family: Courier New">
__Authorization: Bearer <token>__
</span>