## Assinaturas

Sobre os certificados exigidos para assinatura de mensagens - Padrões de certificados digitais Open Banking Brasil: 
<a href="https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-certificate-standards-1_ID1.md#certificado-de-assinatura-certificadoassinatura" target="_blank">https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-certificate-standards-1_ID1.md#certificado-de-assinatura-certificadoassinatura</a>

Sobre os algoritmos usados para assinatura de mensagens JWS - Perfil de segurança FAPI - Open Banking Brasil: <a href="https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3.md#algorithm-considerations" target="_blank">https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/open-banking-brasil-financial-api-1_ID3.md#algorithm-considerations</a>

Sobre mensagens assinadas, JWS e JWKS - Guia de usuário (Receptoras e iniciadoras de pagamento): <a href="https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide-ptbr.md#143-o-que-%C3%A9-um-jwt-jwe-jws-e-jwk--jwt_jwe_jws_jwk" target="_blank">https://github.com/OpenBanking-Brasil/specs-seguranca/blob/main/tpp-user-guide-ptbr.md#143-o-que-%C3%A9-um-jwt-jwe-jws-e-jwk--jwt_jwe_jws_jwk</a>