## Contas pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessAccounts": [
            {
              "type": "CONTA_DEPOSITO_A_VISTA",
              "fees": {
                "services": [
                  {
                    "name": "Entrega de talão de cheque em domícilio",
                    "code": "TALAO_DOMICILIO",
                    "chargingTriggerInfo": "Por remessa",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "55.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "65.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "72.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "49.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "88.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "serviceBundles": [
                {
                  "name": "Conta de depósitos à vista Movimentação com cartão (sem cheque)",
                  "services": [
                    {
                      "code": "CADASTRO",
                      "chargingTriggerInfo": "Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente",
                      "eventLimitQuantity": "1",
                      "freeEventQuantity": "0"
                    },
                    {
                      "code": "SAQUE_TERMINAL",
                      "chargingTriggerInfo": "Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas "contas eletrônicas" não pode ser cobrada tarifa para este canal de entrega",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "8"
                    },
                    {
                      "code": "CHEQUE_VISADO",
                      "chargingTriggerInfo": "Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista correspondente ao valor do cheque",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "4"
                    },
                    {
                      "code": "CHEQUE_ADMINISTRATIVO",
                      "chargingTriggerInfo": "Emissão de cheque administrativo",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "2"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "monthlyFee": "50.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "monthlyFee": "65.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "monthlyFee": "75.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "monthlyFee": "83.00",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "45.00",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "87.00",
                    "currency": "BRL"
                  },
                  "customers": [
                    {
                      "frequency": "1_FAIXA_CLIENTE",
                      "rate": "0.1500"
                    },
                    {
                      "frequency": "2_FAIXA_CLIENTE",
                      "rate": "0.3500"
                    },
                    {
                      "frequency": "3_FAIXA_CLIENTE",
                      "rate": "0.2000"
                    },
                    {
                      "frequency": "4_FAIXA_CLIENTE",
                      "rate": "0.3000"
                    }
                  ]
                }
              ],
              "openingClosingChannels": [
                "DEPENDENCIAS_PROPRIAS",
                "CORRESPONDENTES_BANCARIOS",
                "INTERNET_BANKING",
                "MOBILE_BANKING",
                "CENTRAL_TELEFONICA",
                "CHAT",
                "OUTROS"
              ],
              "additionalInfo": "WhastApp",
              "transactionMethods": [
                "MOVIMENTACAO_CARTAO"
              ],
              "termsConditions": {
                "minimumBalance": {
                  "value": "500.00",
                  "currency": "BRL"
                },
                "elegibilityCriteriaInfo": "https://empresaa1.com/Accounts_elegebilityCriteria",
                "closingProcessInfo": "https://empresaa1.com/Accounts_closingProcess"
              },
              "incomeRate": {
                "savingAccount": "NA",
                "prepaidPaymentAccount": "NA"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts",
    "prev": "",
    "next": "",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-accounts`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados da Conta Pessoa Jurídica.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessAccounts](#schemaResponseBusinessAccounts)|
