## Empréstimos pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-loans HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-loans", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "cnpjNumber": "45086338000178",
          "name": "Empresa A1",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessLoans": [
            {
              "type": "EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO",
              "fees": {
                "services": [
                  {
                    "name": "Taxa de Abertura de Crédito - Microcrédito Produtivo Orientado",
                    "code": "NA",
                    "chargingTriggerInfo": "3% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "2000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1350.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CHEQUE_ESPECIAL",
              "fees": {
                "services": [
                  {
                    "name": "Cheque Especial",
                    "code": "NA",
                    "chargingTriggerInfo": "0,25% sobre o excente do limite acima de R$500,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "2000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "6006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1300.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "6800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "GARANTIA_FIDEJUSSORIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CONTA_GARANTIDA",
              "fees": {
                "services": [
                  {
                    "name": "Descoberto em C/C, Conta garantida",
                    "code": "NA",
                    "chargingTriggerInfo": "Tarifa R$63,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "1500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3800.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "4090.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7786.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "830.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "GARANTIA_FIDEJUSSORIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_ATE_365_DIAS",
              "fees": {
                "services": [
                  {
                    "name": "Contratação",
                    "code": "NA",
                    "chargingTriggerInfo": "(mín. R$ 100,00 máx. R$ 3.000), tarifa 3% do Contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "1700.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "2200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "4030.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "5030.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "770.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  },
                  {
                    "name": "Alteração Contratual",
                    "code": "NA",
                    "chargingTriggerInfo": "(mín. R$ 100,00 máx. R$ 3.000), tarifa 3% do Contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "55.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "75.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "86.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "49.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "90.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0150"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2240"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3090"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.6223"
                  }
                ],
                "minimumRate": "0.0100",
                "maximumRate": "0.7100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "NAO_APLICAVEL"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CAPITAL_GIRO_PRAZO_VENCIMENTO_SUPERIOR_365_DIAS",
              "fees": {
                "service": {
                  "name": "Amortização/Liquidação antecipada",
                  "code": "NA",
                  "chargingTriggerInfo": "2 % do Contrato",
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "value": "345.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "value": "479.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "value": "776.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "value": "1300.00",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "110.00",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "1390.00",
                    "currency": "BRL"
                  },
                  "customers": [
                    {
                      "frequency": "1_FAIXA_CLIENTE",
                      "rate": "0.1500"
                    },
                    {
                      "frequency": "2_FAIXA_CLIENTE",
                      "rate": "0.3500"
                    },
                    {
                      "frequency": "3_FAIXA_CLIENTE",
                      "rate": "0.2000"
                    },
                    {
                      "frequency": "4_FAIXA_CLIENTE",
                      "rate": "0.3000"
                    }
                  ]
                }
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.09"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "NAO_APLICAVEL"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CAPITAL_GIRO_ROTATIVO",
              "fees": {
                "services": [
                  {
                    "name": "Renovação",
                    "code": "NA",
                    "chargingTriggerInfo": "(mín. R$ 100 máx. R$ 1.100,00), tarifa 3% do Contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "1000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3800.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7826.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "610.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8580.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateOrIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.18"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.8100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "NAO_APLICAVEL"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            }

          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-loans`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados de Empréstimos para pessoa jurídica.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Loans_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_loans.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessLoans](#schemaResponseBusinessLoans)|
