## Contas pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/product-services/v1/business-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/product-services/v1/business-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "The Big Bank Organisation",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "54672317000101",
          "businessAccounts": [
            {
              "name": "Conta de depósito à vista",
              "fees": {
                "priorityServices": [
                  {
                    "name": "FORNECIMENTO_EXTRATO_MENSAL_CONTA_VISTA_POUPANCA",
                    "code": "EXTRATO_MOVIMENTO_P",
                    "chargingTriggerInfo": "CHEQUE_ADMINISTRATIVO",
                    "maxPrice": 45,
                    "currency": "BRL",
                    "chargingUnit": "Por depósito recebido"
                  }
                ],
                "otherServices": [
                  {
                    "name": "Evento personalizado",
                    "code": "EVENTO_PERSONALIZADO",
                    "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                    "price": {
                      "type": "MEDIO",
                      "value": 45,
                      "currency": "BRL"
                    },
                    "currency": "BRL",
                    "additionalInfo": "0,5% do valor do orçamentor",
                    "chargingUnit": "Por depósito recebido"
                  }
                ]
              },
              "serviceBundles": {
                "name": "string",
                "services": [
                  {
                    "code": "segundo Resolução 3.919 do Bacen: 'SAQUEterminal'.",
                    "eventLimitQuantity": "2",
                    "freeEventQuantity": "1",
                    "maxPrice": "string",
                    "currency": "BRL"
                  }
                ]
              },
              "openCloseChannels": "CENTRAL_TELEFONICA",
              "transactionMethods": "MOVIMENTACAO_PRESENCIAL",
              "termsConditions": {
                "minimumBalance": 25.5,
                "minimumBalanceCurrency": "BRL",
                "elegibilityCriteriaInfo": "string",
                "closingProcessInfo": "www.banco.com.br/cancelamento-conta"
              },
              "incomeRates": {
                "rate": "string",
                "referencialRate": "string",
                "indexer": "CDI",
                "prePostTax": "PRE",
                "frequency": "A_D",
                "additionalInfo": "string"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/product-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/product-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/product-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

`GET /product-services/<versão>/business-accounts`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados da Conta Pessoa Jurídica

Esta especificação inclui todos os itens relevantes para a Especificação de API da Conta corrente pessoa jurídica de dados abertos.

Atualmente, os sites de comparação de preços precisam obter seus dados de produtos BCA por meio de APIs proprietárias de bancos, por informações coletadas por agências dedicadas de captura de dados ou por "captura de tela" (ou seja, capturando informações da página da Web do produto e escrevendo scripts para extrair dados relevantes). Esse trabalho é complexo e propenso a erros; portanto, ter uma API padrão tornaria o lado da captura de dados muito mais fácil e permitiria que outros provedores terceirizados fornecessem aplicativos que poderiam atingir mercados consumidores específicos.

Esse terminal pode conter várias marcas pertencentes a um grupo bancário específico. Cada marca pode possuir vários produtos BCA.

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessAccountsList](#schemaResponseBusinessAccountsList)|
