## Cartão de crédito de pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessCreditCards": [
            {
              "name": "Cartão Vantagens",
              "identification": {
                "product": {
                  "type": "CLASSIC_INTERNACIONAL"
                },
                "creditCard": {
                  "network": "MASTERCARD"
                }
              },
              "rewardsProgram": {
                "hasRewardProgram": false,
              },
              "fees": {
                "services": [
                  {
                    "name": "ANUIDADE_CARTAO_BASICO_INTERNACIONAL",
                    "code": "ANUIDADE_INTERNACIONAL",
                    "chargingTriggerInfo": "Disponibilização de rede de estabelecimentos afiliados, instalada no País e no exterior, para pagamentos de bens e serviços, cobrada no máximo uma vez a cada doze meses, admitido o parcelamento da cobrança.",
                    "prices": [
                      {
                        "interval": "1_FAIXA",
                        "value": "20.00",
                        "currency": "BRL",
                        "customers": {
                          "rate": "0.1500"
                        }
                      },
                      {
                        "interval": "2_FAIXA",
                        "value": "35.00",
                        "currency": "BRL",
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "3_FAIXA",
                        "value": "55.00",
                        "currency": "BRL",
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "4_FAIXA",
                        "value": "68.00",
                        "currency": "BRL",
                        "customers": {
                          "rate": "0.3500"
                        }
                      }
                    ],
                    "minimum": {
                      "value": "19.50",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "72.00",
                      "currency": "BRL"
                    }
                  }
                ]
              },
              "interest": {
                "rates": [
                  {
                    "referentialRateIndexer": "PRE_FIXADO",
                    "rate": "NA",
                    "applications": [
                      {
                        "interval": "1_FAIXA",
                        "rate": "0.1500",
                        "customers": {
                          "rate": "0.1500"
                        }
                      },
                      {
                        "interval": "2_FAIXA",
                        "rate": "0.2000",
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "3_FAIXA",
                        "rate": "0.3500",
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "4_FAIXA",
                        "rate": "0.6800",
                        "customers": {
                          "rate": "0.3500"
                        }
                      }
                    ],
                    "minimum":{
                      "rate": "0.1099"
                    },
                    "maximum":{
                      "rate": "0.7000"
                    }
                  }
                ],
                "instalmentRates": [
                  {
                    "referentialRateIndexer": "PRE_FIXADO",
                    "rate": "NA",
                    "applications": [
                      {
                        "interval": "1_FAIXA",
                        "indexer": {
                          "rate": "0.1500"
                        },
                        "customers": {
                          "rate": "0.1500"
                        }
                      },
                      {
                        "interval": "2_FAIXA",
                        "indexer": {
                          "rate": "0.2000"
                        },
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "3_FAIXA",
                        "indexer": {
                          "rate": "0.3500"
                        },
                        "customers": {
                          "rate": "0.2500"
                        }
                      },
                      {
                        "interval": "4_FAIXA",
                        "indexer": {
                          "rate": "0.6800"
                        },
                        "customers": {
                          "rate": "0.3500"
                        }
                      }
                    ],
                    "minimum":{
                      "rate": "0.0900"
                    },
                    "maximum":{
                      "rate": "0.7500"
                    }
                  }
                ],
                "otherCredits": [
                  {
                    "code": "SAQUE_A_CREDITO"
                  },
                  {
                    "code": "PAGAMENTOS_CONTAS"
                  }
                ]
              },
              "termsConditions": {
                "minimumFeeRate": "0.40",
                "elegibilityCriteriaInfo": "https://empresaa1.com/creditcards_elegibility_criteria",
                "closingProcessInfo": "https://empresaa1.com/creditcards_closing_process"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-credit-cards`

Versão|
------|
1     |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Credit_Cards_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema                                                           |
|:-----|:----------|:--------|:----------------------------------------------------------------|
|200   |OK         |Sucesso  |[ResponseBusinessCreditCards](#schemaResponseBusinessCreditCards)|
