## Cartão de crédito de pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessCreditCards": [
            {
              "name": "Cartão Microempreendedor Bem-Vindo",
              "identification": {
                "product": {
                  "type": "PLATINUM",
                  "additionalInfo": "string"
                },
                "creditCard": {
                  "network": "MASTERCARD",
                  "additionalInfo": "string"
                }
              },
              "rewardsProgram": {
                "hasRewardProgram": true,
                "rewardProgramInfo": "https://example.com/mobile-banking"
              },
              "fees": {
                "services": [
                  {
                    "name": "ANUIDADE",
                    "code": "ANUIDADE_NACIONAL",
                    "chargingTriggerInfo": "Disponibilização de rede de estabelecimentos afiliados, instalada no País, para pagamentos de bens e serviços, cobrada no máximo uma vez a cada doze meses, admitido o parcelamento da cobrança",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "45.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "57.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "39.90",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "71.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interest": {
                "feeRate": {
                  "fees": [
                    {
                      "referentialRateIndexer": "PRE_FIXADO"
                      "rate": "0.15"
                    },
                    {
                      "referentialRateIndexer": "POS_FIXADO_TR_TBF"
                      "rate": "0.10"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "rate": "0.1500"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "rate": "0.2000"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "rate": "0.3500"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "rate": "0.6800"
                    }
                  ],
                  "minimumRate": "0.0845",
                  "maximumRate": "0.9000",
                  "customers": [
                    {
                      "frequency": "1_FAIXA_CLIENTE",
                      "rate": "0.1500"
                    },
                    {
                      "frequency": "2_FAIXA_CLIENTE",
                      "rate": "0.3500"
                    },
                    {
                      "frequency": "3_FAIXA_CLIENTE",
                      "rate": "0.2000"
                    },
                    {
                      "frequency": "4_FAIXA_CLIENTE",
                      "rate": "0.3000"
                    }
                  ]
                },
                "instalmentRate": {
                  "fees": [
                    {
                      "referentialRateIndexer": "PRE_FIXADO"
                      "rate": "0.15"
                    },
                    {
                      "referentialRateIndexer": "POS_FIXADO_TR_TBF"
                      "rate": "0.10"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "rate": "0.0987"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "rate": "0.1600"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "rate": "0.3600"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "rate": "0.5890"
                    }
                  ],
                  "minimumRate": "0.0845",
                  "maximumRate": "0.9000",
                  "customers": [
                    {
                      "frequency": "1_FAIXA_CLIENTE",
                      "rate": "0.1500"
                    },
                    {
                      "frequency": "2_FAIXA_CLIENTE",
                      "rate": "0.3500"
                    },
                    {
                      "frequency": "3_FAIXA_CLIENTE",
                      "rate": "0.2000"
                    },
                    {
                      "frequency": "4_FAIXA_CLIENTE",
                      "rate": "0.3000"
                    }
                  ]
                },
                "interestRates": [
                  {
                    "code": "SAQUE_A_CREDITO",
                    "additionalInfo": "NA",
                    "fees": [
                      {
                        "referentialRateIndexer": "PRE_FIXADO"
                        "rate": "0.15"
                      },
                      {
                        "referentialRateIndexer": "POS_FIXADO_TR_TBF"
                        "rate": "0.10"
                      }
                    ],
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "rate": "0.1500"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "rate": "0.2000"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "rate": "0.3500"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "rate": "0.6800"
                      }
                    ],
                    "minimumRate": "0.0450",
                    "maximumRate": "0.7000",
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  },
                  {
                    "code": "PAGAMENTOS_CONTAS",
                    "additionalInfo": "NA",
                    "fees": [
                      {
                        "referentialRateIndexer": "PRE_FIXADO"
                        "rate": "0.15"
                      },
                      {
                        "referentialRateIndexer": "POS_FIXADO_TR_TBF"
                        "rate": "0.10"
                      }
                    ],
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "rate": "0.1500"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "rate": "0.2700"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "rate": "0.4000"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "rate": "0.4100"
                      }
                    ],
                    "minimumRate": "0.0900",
                    "maximumRate": "0.5500",
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "termsConditions": {
                "minimumFeeRate": "0.25",
                "additionalInfo": "NA",
                "elegibilityCriteriaInfo": "https://empresaa1.com/creditcards_elegibility_criteria",
                "closingProcessInfo": "https://empresaa1.com/creditcards_closing_process"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-credit-cards"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-credit-cards`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Credit_Cards_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessCreditCards](#schemaResponseBusinessCreditCards)|
