## Contas pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "The Big Bank Organisation",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "54672317000101",
          "urlComplementaryList": "https://www.bigbank.com",
          "businessAccounts": [
            {
              "type": "CONTA_CORRENTE",
              "fees": {
                "services": [
                  {
                    "name": "FORNECIMENTO_EXTRATO_MENSAL_CONTA_VISTA_POUPANCA",
                    "code": "EXTRATO_MOVIMENTO_P",
                    "chargingTriggerInfo": "CHEQUE_ADMINISTRATIVO",
                    "price": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "value": "500",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "value": "600",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "value": "700",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "value": "800",
                        "currency": "BRL"
                      }
                    ],
                    "minimum":{
                      "value": "50",
                      "currency": "BRL",
                    },
                    "maximum":{
                      "value": "50",
                      "currency": "BRL",
                    },
                    "additionalInfo": "0,5% do valor do orçamento",
                    "chargingUnit": "Por depósito recebido"
                  }
                ]
              },
              "serviceBundles": {
                "name": "string",
                "services": [
                  {
                    "code": "SAQUEterminal",
                    "eventLimitQuantity": "2",
                    "freeEventQuantity": "1",
                    "price":  {
                      "monthlyFees": "25",
                      "currencies": "BRL",
                      "intervals" : [
                        "1_QUARTIL_CLIENTES",
                        "2_QUARTIL_CLIENTES",
                        "3_QUARTIL_CLIENTES",
                        "4_QUARTIL_CLIENTES"
                      ]
                    },
                    "minimum":{
                      "value": "50",
                      "currency": "BRL",
                    },
                    "maximum":{
                      "value": "50",
                      "currency": "BRL",
                    },
                  }
                ],
                "price": {
                  "monthlyFee": "15",
                  "currency": "BRL"
                  "interval" : [
                    "1_QUARTIL_CLIENTES",
                    "2_QUARTIL_CLIENTES",
                    "3_QUARTIL_CLIENTES",
                    "4_QUARTIL_CLIENTES"
                  ]
                },
                "minimum":{
                  "value": "50",
                  "currency": "BRL",
                },
                "maximum":{
                  "value": "50",
                  "currency": "BRL",
                },
              },
              "openCloseChannels": "CENTRAL_TELEFONICA",
              "additionalInfo": "string",
              "transactionMethods": "MOVIMENTACAO_PRESENCIAL",
              "termsConditions": {
                "minimumBalance": "25.5",
                "minimumBalanceCurrency": "BRL",
                "elegibilityCriteriaInfo": "string",
                "closingProcessInfo": "www.banco.com.br/cancelamento-conta"
              },
              "incomeRates": {
                "savingAccount": "70% da Taxa Selic (6,5%) = 4,55%, que é o atual rendimento anual da poupança. O rendimento mensal é de 0,3715",
                "prepaidPaymentAccount": [ 
                    {
                      "application": [
                            {
                              "intervals": "1_QUARTIL_CLIENTES",
                              "rates": "0.5"
                            },
                            {
                              "intervals": "2_QUARTIL_CLIENTES",
                              "rates": "0.6"
                            },
                            {
                              "intervals": "3_QUARTIL_CLIENTES",
                              "rates": "0.7"
                            },
                            {
                              "intervals": "4_QUARTIL_CLIENTES",
                              "rates": "0.8"
                            }
                          ],
                          "minimumRate": "0.9",
                          "maximumRate": "0.5"
                    }
                  ]
                }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "null",
    "next": "null",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-accounts`

Versão |;
------ |
1 |

### Visão Geral

Obtém os dados da Conta Pessoa Jurídica.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessAccountsList](#schemaResponseBusinessAccountsList)|
