## Contas pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessAccounts": [
            {
              "type": "CONTA_DEPOSITO_A_VISTA",
              "fees": [
                {
                  "service": {
                    "name": null,
                    "code": null,
                    "chargingTriggerInfo": null,
                    "prices": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "value": "55.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "value": "65.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "value": "69.00\t",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "value": "72.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "49.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "88.00",
                      "currency": "BRL"
                    }
                  }
                }
              ],
              "serviceBundles": [
                {
                  "name": "Conta de depósitos à vista Movimentação com cartão (sem cheque)",
                  "services": [
                    {
                      "code": "CADASTRO",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "999999"
                    },
                    {
                      "code": "SAQUE_TERMINAL",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "8"
                    },
                    {
                      "code": "EXTRATO_MOVIMENTO_E",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "4"
                    },
                    {
                      "code": "TRANSF_RECURSO_P",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "2"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_QUARTIL_CLIENTES",
                      "monthlyFee": "50.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_QUARTIL_CLIENTES",
                      "monthlyFee": "65.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_QUARTIL_CLIENTES",
                      "monthlyFee": "75.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_QUARTIL_CLIENTES",
                      "monthlyFee": "83.00",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "45.00",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "87.00",
                    "currency": "BRL"
                  }
                }
              ],
              "openingClosingChannels": [
                "DEPENDENCIAS_PROPRIAS",
                "CORRESPONDENTES_BANCARIOS",
                "INTERNET_BANKING",
                "MOBILE_BANKING",
                "CENTRAL_TELEFONICA",
                "CHAT",
                "OUTROS"
              ],
              "additionalInfo": "Whatsapp",
              "transactionMethods": "MOVIMENTACAO_CARTAO",
              "termsConditions": {
                "minimumBalance": {
                  "value": "500.00",
                  "currency": "BRL"
                },
                "elegibilityCriteriaInfo": "https://empresaa1.com/Accounts_elegebilityCriteria",
                "closingProcessInfo": "https://empresaa1.com/Accounts_closingProcess"
              },
              "incomeRates": {
                "savingAccount": "NA",
                "prepaidPaymentAccount": {
                  "applications": [
                    {
                      "interval": "NA",
                      "rate": "NA"
                    },
                    {
                      "interval": "NA",
                      "rate": "NA"
                    },
                    {
                      "interval": "NA",
                      "rate": "NA"
                    },
                    {
                      "interval": "NA",
                      "rate": "NA"
                    }
                  ],
                  "minimumRate": "NA",
                  "maximumRate": "NA"
                }
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-accounts"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/business-accounts`

Versão |;
------ |
1 |

### Visão Geral

Obtém os dados da Conta Pessoa Jurídica.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessAccountsList](#schemaResponseBusinessAccountsList)|
