## Empréstimos pessoa jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-loans HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-loans", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Marca A",
      "companies": [
        {
          "cnpjNumber": "50.685.362/0001-35",
          "name": "Empresa da Organização A",
          "businessLoans": [
            {
              "types": "CHEQUE_ESPECIAL",
              "fees": [
                {
                  "serviceName": "Cheque Especial",
                  "serviceCode": "Cheque Especial",
                  "chargingTriggerInfo": "(e) Tarifa válida a partir de 06.01.2020, para novas contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI (f) Tarifa válida a partir de 01.06.2020, para contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI realizadas até 05.01.2020",
                  "price": [
                    {
                      "type": "MINIMO",
                      "value": "45,00",
                      "currency": "BRL",
                      "additionalInfo": "",
                      "changingUnit": "Por mês"
                    }
                  ]
                }
              ],
              "interestRates": [
                {
                  "rate": "",
                  "referencialRate": "",
                  "indexer": "IPCA",
                  "prePostTax": "PRE",
                  "frecuency": "AD",
                  "incomeRateInfo": ""
                }
              ],
              "requiredWarranties": [
                "CESSAO_DIREITOS_CREDITORIOS"
              ],
              "termsConditions": ""
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-loans",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-loans",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-loans"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}

```

`GET /products-services/<versão>/business-loans`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Empréstimos pessoa jurídica

Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos pessoa jurídica de dados abertos (BCA).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Loans_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_loans.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessLoansList](#schemaResponseBusinessLoansList)|
