## Antecipação de recebíveis Pessoa Jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/product-services/v1/business-invoice-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/product-services/v1/business-invoice-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "The Big Bank Brand",
        "companies": [
          {
            "name": "The Big Bank Company",
            "cnpjNumber": "12345678901234",
            "businessInvoiceFinancings": [
              {
                "type": "Desconto de Duplicata",
                "fees": [
                  {
                    "serviceName": "Taxa de Cadastro",
                    "serviceCode": "TC",
                    "chargingTriggerInfo": "Fatores geradores da taxa",
                    "chargingUnit": "Por novo contrato",
                    "price": [
                      {
                        "type": "minimo",
                        "value": "500",
                        "currency": "BRL"
                      }
                    ],
                    "additionalInfo": "Vamor mínimo aplicado"
                  }
                ],
                "interestRates": [
                  {
                    "rate": "10",
                    "referencialRate": null,
                    "indexer": "CDI",
                    "prePostTax": "POS",
                    "frequency": "a.m.",
                    "incomeRateInfo": "Informações adicionais do calculo de juros"
                  }
                ],
                "requiredWarranties": [
                  "Caução"
                ],
                "termsCondictions": "Lista dos termos em texto livre ou URL de indicação das condições"
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /product-services/<versão>/business-invoice-financings`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Antecipação de Recebíveis


Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis de Pessoa Jurídica de dados abertos (BCA).


### Visão de alto nível das estruturas de dados

<a href='images/tld/TLD_Business_Invoice_Financing_v1.png' target="_blank">Imagem top level design</a>

### Dicionário de dados

<a href='dictionary/business_invoice_financingss.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessInvoiceFinancingList](#schemaResponseBusinessInvoiceFinancingsList)|
