## Financiamento Pessoa Jurídica

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/business-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/business-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "cnpjNumber": "45086338000178",
          "name": "Empresa A1",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "businessFinancings": [
            {
              "type": "FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia",
                    "code": "AQBAM009",
                    "chargingTriggerInfo": "570.00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "1000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "1200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "3072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "7020.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "560.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8000.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_AQUISICAO_BENS_OUTROS_BENS",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação do Bem",
                    "code": "NA",
                    "chargingTriggerInfo": "1% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "2000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "6006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1890.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0187"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.2900"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.7990"
                  }
                ],
                "minimumRate": "0.0056",
                "maximumRate": "0.8565",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_MICROCREDITO",
              "fees": [
                {
                  "service": {
                    "name": "Taxa de Abertura de Crédito - Microcrédito Produtivo Orientado",
                    "code": "NA",
                    "chargingTriggerInfo": "3% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "1700.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "2200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "4030.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "5030.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "770.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                },
                {
                  "service": {
                    "name": "Microcrédito Pessoa Jurídica",
                    "code": "MICRO_PJ",
                    "chargingTriggerInfo": "2% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "55.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "75.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "86.90",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "49.90",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "90.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.13"
                  },
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.6800"
                  }
                ],
                "minimumRate": "0.1450",
                "maximumRate": "0.6900",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "OPERACOES_GARANTIDAS_OUTRAS_ENTIDADE"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_RURAL_CUSTEIO",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia para Empréstimos com Garantia de Imóvel",
                    "code": "FRC998",
                    "chargingTriggerInfo": "",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "345.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "479.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "776.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "1300.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "110.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "1390.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0134"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.0198"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.0290"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.0334"
                  }
                ],
                "minimumRate": "0.0098",
                "maximumRate": "0.0433",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "PENHOR"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_RURAL_INVESTIMENTO",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação de Propriedade Rural e Parecer Técnico para Prorrogação de Operações Rurais",
                    "code": "NA",
                    "chargingTriggerInfo": "Mín. 450,00 Máx. 6.000,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "1000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "8006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "890.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.20"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.8100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "HIPOTECA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_RURAL_COMERCIALIZACAO",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação de Propriedade Rural e Parecer Técnico para Prorrogação de Operações Rurais",
                    "code": "NA",
                    "chargingTriggerInfo": "Mín. 450,00 Máx. 6.000,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "1700.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "2200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "4030.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "5030.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "770.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                },
                {
                  "service": {
                    "name": "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia/Suplementação de Verba",
                    "code": "NA",
                    "chargingTriggerInfo": "R$ 3.200,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "2000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "8006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1330.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }

              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "CREDITO_RURAL_TCR_POS",
                    "rate": "0.18"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "PENHOR"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_RURAL_INDUSTRIALIZACAO",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação de Propriedade Rural e Parecer Técnico para Prorrogação de Operações Rurais",
                    "code": "NA",
                    "chargingTriggerInfo": "Mín. 450,00 Máx. 6.000,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "45.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "57.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "39.90",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "71.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "CREDITO_RURAL_TCR_POS",
                    "rate": "0.18"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.6800"
                  }
                ],
                "minimumRate": "0.1450",
                "maximumRate": "0.6900",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO-SFH",
              "fees": [
                {
                  "service": {
                    "name": "Financiamento à aquisição de imóvel residencial ou comercial",
                    "code": "NA",
                    "chargingTriggerInfo": "Tarifa R$ 220,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "860.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "1090.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "2100.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "430.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "2200.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.23"
                  },
                  {
                    "referentialRateIndexer": "INDICES_PRECOS_IPCA",
                    "rate": "0.12"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },

            {
              "type": "FINANCIAMENTO_IMOBILIARIO_SISTEMA_FINANCIERO_HABILITACAO-SFI",
              "fees": [
                {
                  "service": {
                    "name": "Avaliação de Bens Recebidos em Garantia",
                    "code": "NA",
                    "chargingTriggerInfo": "Tarifa R$ 320,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "value": "1500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "value": "4000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "value": "6896.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1290.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "7800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                }
              ],
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.23"
                  },
                  {
                    "referentialRateIndexer": "INDICES_PRECOS_IGPM",
                    "rate": "0.34"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_CLIENTE",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_CLIENTE",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_CLIENTE",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_CLIENTE",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            }

          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
No links
```

`GET /products-services/<versão>/business-financings`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Financiamento para pessoa jurídica.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Financings_v1.png'/>

### Dicionário de dados

<a href='dictionary/business_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBusinessFinancingsList](#schemaResponseBusinessFinancingsList)|
