## Divulgação dos valores de tarifas e taxas de juros remuneratórias

Conforme disposto na Circular nº 4.015, art. 3º, para fins de compartilhamento dos valores de tarifas e taxas de juros remuneratórias dos produtos e serviços ofertados, as instituições devem compartilhar uma distribuição de frequência relativa dos valores cobrados e dos clientes.

Segundo o Art. 6º  da Instrução Normativa nº 32 BCB, de 2020: “O compartilhamento da distribuição de frequência relativa dos valores de tarifas e taxas de juros cobrados dos clientes, de que trata o § 2º do art. 3º da Circular nº 4.015, de 2020, deve dar-se com base em quatro faixas de igual tamanho, com explicitação dos valores sobre a mediana e o percentual de clientes em cada uma dessas faixas, além dos valores máximos e mínimos do universo, segmentados em pessoas naturais e jurídicas, bem como por tipo de serviço ou modalidade de operação e por indexador ou referencial, no caso de operações pós-fixadas.

§ 1º  Admite-se que as instituições compartilhem dados relacionados à distribuição de frequência de que trata o caput em base atualizada em periodicidade mensal, divulgada no décimo dia útil de cada mês, a partir de janeiro de 2021, referente a valores cobrados de seus clientes no mês anterior.

§ 2º  A distribuição de frequência relativa a taxas de juros divulgada conforme o § 1º deve corresponder às operações de crédito concedidas no mês anterior”’.

Desta forma, cada instituição deve, no momento de compartilhamento, ordenar sua base em ordem crescente de valores cobrados por tarifas e taxas de juros remuneratórias dos produtos e serviços ofertados durante o mês de apuração, segmentá-la em quatro faixas de mesmo valor e divulgar 10 valores:

* Valores: máximo e mínimo do universo de clientes (i.e. 2 valores)
* Mediana de cada faixa (i.e. 4 valores)
* Percentual de clientes em cada faixa (i.e. 4 valores)

Devem ser utilizados no cálculo os valores devidos de tarifas e os valores cobrados de taxas de juros remuneratórias disponíveis nas bases de cliente no mês anterior, referente às Modalidades de crédito ofertáveis. 

Caso haja mais de 1 evento por cliente referente ao mesmo produto e/ou serviço, deverá ser considerado apenas 1 valor, calculado como a média aritmética dos valores das ocorrências daquele cliente.

Para taxas de juros remuneratórias, os valores compartilhados/divulgados serão os que correspondem às concessões no mês da apuração (contratação), segmentados em pessoas naturais e jurídicas, bem como por modalidade de operação e por indexador ou referencial, no caso de operações pós-fixadas.

Para tarifas, a segmentação é por pessoas naturais e jurídicas e por tipo de serviço referente a tarifa avulsa (fora do Pacote de Serviço) cobradas no mês de apuração, devendo-se considerar inclusive as de valor zero (ou isentas).

### Tarifas – Apuração Frequência e valores correspondentes

**Serviço:** tarifas avulsas cobradas no mês de apuração, referentes às Modalidades de crédito ofertáveis. (Cada tarifa será informada separadamente, devendo ser informadas tantas tarifas quanto as que satisfizerem os critérios de apuração)
As tarifas de valor zero (ou isentas) fora de pacotes de serviços, caso tenham ocorrido no mês de referência, devem ser consideradas na distribuição de frequência relativa dos valores.  

**Tipo Pessoa:** PN ou PJ

**Período:** Mês fechado, identificado como M-1

**Base Clientes:** clientes segregados por tipo de pessoa que tiveram cobrança da mesma tarifa avulsa (não inclusa no Pacote de serviços) no mês de apuração. 
Caso haja mais de 1 evento por cliente, referente ao mesmo produto e/ou serviço, deverá ser considerado apenas 1 valor, calculado como a média aritmética dos valores das ocorrências daquele cliente

**Processo de Apuração para cada tipo de tarifa que satisfizer critérios de apuração:** 

1. Identificar clientes com mais de uma ocorrência de evento e calcular a média aritmética  sobre valores cobrados;
2. Enfileirar os valores em ordem crescente de grandeza;
3. Definir menor (MenorVL) e maior valor (MaiorVL)  relativos às tarifas enfileiradas em ordem crescente
4. Definir: ( MaiorVL – MenorVL )  /  4 = Intervalo para definição faixas de valores (e se MenorVL = MaiorVL, então (MaiorVL – 0) / 4
5. Calcular mediana dos valores em cada faixa
6. Calcular o percentual de clientes por faixa ( soma dos valores apurados = 100% )

**Exemplo de Uso:** 

* Tarifas – Apuração Frequência e valores correspondentes

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo-Tarifas-Apuracao_Frequencia_e_valores_correspondentes.png'/>
<a href='images/extras/Exemplo-Tarifas-Apuracao_Frequencia_e_valores_correspondentes.png' target="_blank">Download do exemplo</a>

* Tarifas – Distribuição de Frequência

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo-Tarifas-Distribuicao_de_Frequencia.png'/>
<a href='images/extras/Exemplo-Tarifas-Distribuicao_de_Frequencia.png' target="_blank">Download do exemplo</a>

### Apuração Frequência Taxas Juros remuneratórios

**Modalidade:** relativa às operações de crédito concedidas (contratadas*) no mês da apuração (M-1 – mês anterior) 

<aside class="notice">
* Operações com característica de crédito rotativo como cartão e cheque especial, por exemplo, estas deverão ter sua distribuição de frequência relativa às taxas remuneratórias informada quando ocorrer a “concessão” do crédito, ou seja, quando se fizer uso do crédito
</aside>

**Tipo Pessoa:**  PN ou PJ

**Taxa ou Indexador:** referente ao custo da operação contratada e percentual de incidência (conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040, BCB) – Dado informativo

**Período:** mês fechado, identificado como M-1

**Base Clientes:** clientes segregados por tipo de pessoa (contrato) que tomou crédito de mesma Modalidade no mês de apuração. Com mesmo tipo de taxa ou Indexador e mesmo percentual aplicado. Caso haja mais de 1 evento por cliente referente a mesma Modalidade e Indexador deverá ser considerado apenas 1 valor, calculado como a média aritmética dos valores das ocorrências daquele cliente

**Processo de Apuração para cada tipo de Indexador/taxa – percentual aplicado para cada Modalidade que satisfizer os critérios de apuração**

Para cada Indexador/Taxa e seu percentual, da Modalidade apurada: 

1. Identificar clientes com mais de uma ocorrência de evento e calcular a média aritmética  sobre valores cobrados;
2. Enfileirar os valores em ordem crescente de grandeza;
3. Definir menor (MenorVL) e maior valor (MaiorVL)  relativos aos valores enfileirados em ordem crescente
4. Calcular: ( MaiorVL – MenorVL )  /  4 = Intervalo para definição faixas de valores (e se MenorVL = MaiorVL, então 1. (MaiorVL – 0) / 4 
5. Calcular mediana dos valores em cada faixa
6. Calcular o percentual de clientes por faixa ( soma dos valores apurados = 100% )

**Exemplos de Uso:** 

* Taxas Remuneratórias – Apuração Frequência e valores correspondentes 1

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo1-Taxas_Remuneratorias-Apuracao_Frequencia_e_valores_correspondentes.png'/>
<a href='images/extras/Exemplo1-Taxas_Remuneratorias-Apuracao_Frequencia_e_valores_correspondentes.png' target="_blank">Download do exemplo</a>

* Taxas Remuneratórias – Apuração Frequência e valores correspondentes 2

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo2-Taxas_Remuneratorias-Apuracao_Frequencia_e_valores_correspondentes.png'/>
<a href='images/extras/Exemplo2-Taxas_Remuneratorias-Apuracao_Frequencia_e_valores_correspondentes.png' target="_blank">Download do exemplo</a>

* Distribuição de Frequência 

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo-Distribuicao_de_Frequencia.png'/>
<a href='images/extras/Exemplo-Distribuicao_de_Frequencia.png' target="_blank">Download do exemplo</a>

* Distribuição de Frequência Convenções

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo-Distribuicao_de_Frequencia_Convencoes.png'/>
<a href='images/extras/Exemplo-Distribuicao_de_Frequencia_Convencoes.png' target="_blank">Download do exemplo</a>

* Taxas Remuneratórias – Distribuição de Frequência 

<img class='lazy' src='images/loading.gif' data-src='images/extras/Exemplo-Taxas_Remuneratorias-Distribuicao_de_Frequencia.png'/>
<a href='images/extras/Exemplo-Taxas_Remuneratorias-Distribuicao_de_Frequencia.png' target="_blank">Download do exemplo</a>
