## Divulgação dos valores de tarifas e taxas de juros remuneratórias

Conforme disposto na Circular nº 4.015, art. 3º, para fins de compartilhamento dos valores de tarifas e taxas de juros remuneratórias dos produtos e serviços ofertados, as instituições devem compartilhar uma distribuição de frequência relativa dos valores cobrados dos clientes. 

Desta forma, cada instituição deve, no momento de compartilhamento, ordenar sua base em ordem crescente de valores cobrados para um determinado produto/serviço, segmentá-la em <b>quatro faixas com mesmo número de clientes</b> (i.e. 4 quartis de clientes) e <b>divulgar 6 valores</b>:
<ul>
    <li>Valores máximos e mínimos do universo de clientes (i.e. 2 valores)</li>
    <li> Mediana de cada quartil (i.e. 4 valores)</li>
</ul>

Devem ser utilizados no cálculo os <b>valores devidos de tarifas</b> e os <b>valores cobrados de taxas de juros</b> remuneratórias <b>disponíveis nas bases de cliente no mês de referência (M-1)</b>. 

Caso haja <b>mais de 1 operação por cliente referente ao mesmo produto e/ou serviço</b>, deverá ser considerado apenas <b>1 valor</b>, calculado como a <b>média aritmética dos valores das ocorrências daquele cliente</b>.

Por fim, para <b>taxas de juros remuneratórias</b>, os valores a serem compartilhados/divulgados serão as taxas efetivas, <b>ajustadas pelos indexadores associados</b>, das concessões no mês de referência (M-1). 
