## Divulgação dos valores de tarifas e taxas de juros remuneratórias

Conforme disposto na Circular nº 4.015, art. 3º, para fins de compartilhamento dos valores de tarifas e taxas de juros remuneratórias dos produtos e serviços ofertados, as instituições devem compartilhar uma distribuição de frequência relativa dos valores cobrados dos clientes.
Segundo o Art. 6º  da Instrução Normativa nº 32 BCB, de 2020: “O compartilhamento da distribuição de frequência relativa dos valores de tarifas e taxas de juros cobrados dos clientes, de que trata o § 2º do art. 3º da Circular nº 4.015, de 2020, deve dar-se com base em quatro faixas de igual tamanho, com explicitação dos valores sobre a mediana e o percentual de clientes em cada uma dessas faixas, além dos valores máximos e mínimos do universo, segmentados em pessoas naturais e jurídicas, bem como por tipo de serviço ou modalidade de operação e por indexador ou referencial, no caso de operações pós-fixadas.
§ 1º  Admite-se que as instituições compartilhem dados relacionados à distribuição de frequência de que trata o caput em base atualizada em periodicidade mensal, divulgada no décimo dia útil de cada mês, a partir de janeiro de 2021, referente a valores cobrados de seus clientes no mês anterior.
§ 2º  A distribuição de frequência relativa a taxas de juros divulgada conforme o § 1º deve corresponder às operações de crédito concedidas no mês anterior”’.


Desta forma, cada instituição deve, no momento de compartilhamento, ordenar sua base em ordem crescente de valores cobrados para um determinado produto/serviço. A segmentação será por <b>4 faixas de valores cobrados e não por clientes. E serão divulgados 6 valores</b>:
<ul>
    <li>Valores máximos e mínimos (i.e. 2 valores)</li>
    <li>Mediana de cada quartil (i.e. 4 valores)</li>
</ul>

Devem ser utilizados no cálculo os <b>valores devidos de tarifas</b> e os <b>valores cobrados de taxas de juros</b> remuneratórias <b>disponíveis nas bases de cliente no mês de referência (M-1)</b>. 

Caso haja <b>mais de 1 operação por cliente referente ao mesmo produto e/ou serviço</b>, deverá ser considerado apenas <b>1 valor</b>, calculado como a <b>média aritmética dos valores das ocorrências daquele cliente</b>.

Por fim, para <b>taxas de juros remuneratórias</b>, os valores a serem compartilhados/divulgados serão as taxas efetivas, <b>ajustadas pelos indexadores associados</b>, das concessões no mês de referência (M-1). 
