## Financiamento Pessoa Física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "The Big Bank Brand",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "12345678901234",
          "urlComplementaryList": "www.urldobanco.com.br",
          "personalFinancings": [
            {
              "type": "FINANCIMENTO_IMOBILIARIO_SFI",
              "fees": [
                {
                  "services": [
                    {
                      "name" : "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia",
                      "code" : "N/A",
                      "chargingTriggerInfo": "R$ 570",
                      "price": [
                            {
                              "interval": "1_QUARTIL_CLIENTES",
                              "value": "500",
                              "currency": "BRL"
                            },
                            {
                              "interval": "2_QUARTIL_CLIENTES",
                              "value": "600",
                              "currency": "BRL"
                            },
                            {
                              "interval": "3_QUARTIL_CLIENTES",
                              "value": "700",
                              "currency": "BRL"
                            },
                            {
                              "interval": "4_QUARTIL_CLIENTES",
                              "value": "800",
                              "currency": "BRL"
                            }
                          ],
                          "minimum": {
                            "value": "400",
                            "currency": "BRL"
                          },
                          "maximum": {
                            "value": "1000",
                            "currency": "BRL"
                          },
                          "additionalInfo": "Taxa fixada"
                          "chargingUnit": "por solicitação"
                    }
                  ]
                }
              ],
              "interestRates": [
                {
                  "application": [
                    {
                      "interval" : "1_QUARTIL_CLIENTES",
                      "rate": "88.0100"
                    },
                    {
                      "interval" : "2_QUARTIL_CLIENTES",
                      "rate": "27.0000"
                    },
                    {
                      "interval" : "3_QUARTIL_CLIENTES",
                      "rate": "56.0090"
                    },
                    {
                      "interval" : "4_QUARTIL_CLIENTES",
                      "rate": "44.0123"
                    }
                  ],
                  "minimumRate": "22.0100",
                  "maximumRate": "88.0100"
                }
              ],
              "requiredWarranties": [
                "CAUCAO"
              ],
              "termsConditions": "Lista dos termos em texto livre ou URL de indicação das condições"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-financings`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Financiamento para pessoa física.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Física de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Financings_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalFinancingsList](#schemaResponsePersonalFinancingsList)|
