## Antecipação de recebíveis Pessoa Física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "The Big Bank Brand",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "12345678901234",
          "urlComplementaryList": "www.urldobanco.com.br",
          "personalInvoiceFinancings": [
            {
              "type": "DESCONTO_CHEQUES",
              "fees": [
                {
                  "serviceName": "Taxa de Cadastro",
                  "serviceCode": "TC",
                  "chargingTriggerInfo": "Fatos geradores da taxa",
                  "chargingUnit": "Por novo contrato",
                  "price": [
                    {
                      "interval": "1_QUARTIL_CLIENTES",
                      "value": "500",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_QUARTIL_CLIENTES",
                      "value": "600",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_QUARTIL_CLIENTES",
                      "value": "700",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_QUARTIL_CLIENTES",
                      "value": "800",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "400",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "1000",
                    "currency": "BRL"
                  },
                  "additionalInfo": "Vamor mínimo aplicado"
                }
              ],
              "interestRates": [
                {
                  "rate": "0.10",
                  "referencialRate": null,
                  "indexer": "CDI",
                  "prePostTax": "POS",
                  "occurrence": "AM",
                  "incomeRateInfo": "Informações adicionais do calculo de juros",
                  "application": [
                    {
                      "interval": "1_QUARTIL_CLIENTES",
                      "value": "500",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_QUARTIL_CLIENTES",
                      "value": "600",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_QUARTIL_CLIENTES",
                      "value": "700",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_QUARTIL_CLIENTES",
                      "value": "800",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "400",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "1000",
                    "currency": "BRL"
                  }
                }
              ],
              "requiredWarranties": [
                "CAUCAO"
              ],
              "termsConditions": "Lista dos termos em texto livre ou URL de indicação das condições"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-invoice-financings`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Antecipação de Recebíveis.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Física de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Invoice_Financing_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_invoice_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalInvoiceFinancingList](#schemaResponsePersonalInvoiceFinancingsList)|
