## Empréstimos pessoa natural

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-loans HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-loans", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "cnpjNumber": "45086338000178",
          "name": "Empresa A1",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "personalLoans": [
            {
              "type": "EMPRESTIMO_CREDITO_PESSOAL_CONSIGNADO",
              "fees": {
                "services": [
                  {
                    "name": "Crédito pessoal consignado",
                    "code": "NA",
                    "chargingTriggerInfo": "Tarifa cobrada sobre demanda",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "860.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "1090.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "2100.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "430.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "2200.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0187"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2900"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7990"
                  }
                ],
                "minimumRate": "0.0056",
                "maximumRate": "0.8565",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "NAO_APLICAVEL"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CREDITO_PESSOAL_SEM_CONSIGNACAO",
              "fees": {
                "services": [
                  {
                    "name": "Crédito pessoal sem consignação",
                    "code": "NA",
                    "chargingTriggerInfo": "1% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "3500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "4200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "4900.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "5006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "2290.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.1500"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2000"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3500"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.6800"
                  }
                ],
                "minimumRate": "0.1450",
                "maximumRate": "0.6900",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "HIPOTECA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_HOME_EQUITY",
              "fees": {
                "services": [
                  {
                    "name": "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia para Empréstimos com Garantia de Imóvel",
                    "code": "NA",
                    "chargingTriggerInfo": "2% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "2000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1350.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.13"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA",
                "HIPOTECA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_MICROCREDITO_PRODUTIVO_ORIENTADO",
              "fees": {
                "services": [
                  {
                    "name": "Taxa de Abertura de Crédito - Microcrédito Produtivo Orientado",
                    "code": "NA",
                    "chargingTriggerInfo": "3% do valor do contrato",
                    "prices": [
                        {
                          "interval": "1_FAIXA_VALOR",
                          "value": "1000.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "2_FAIXA_VALOR",
                          "value": "1200.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "3_FAIXA_VALOR",
                          "value": "3072.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "4_FAIXA_VALOR",
                          "value": "7020.00",
                          "currency": "BRL"
                        }
                    ],
                    "minimum": {
                        "value": "560.00",
                        "currency": "BRL"
                    },
                    "maximum": {
                        "value": "8000.00",
                        "currency": "BRL"
                    },
                    "customers": [
                        {
                          "frequency": "1_FAIXA_CLIENTE",
                          "rate": "0.1500"
                        },
                        {
                          "frequency": "2_FAIXA_CLIENTE",
                          "rate": "0.3500"
                        },
                        {
                          "frequency": "3_FAIXA_CLIENTE",
                          "rate": "0.2000"
                        },
                        {
                          "frequency": "4_FAIXA_CLIENTE",
                          "rate": "0.3000"
                        }
                    ]
                  },
                  {
                    "name": "Microcrédito Pessoa Natural",
                    "code": "NA",
                    "chargingTriggerInfo": "2% do valor do contrato",
                    "prices": [
                        {
                          "interval": "1_FAIXA_VALOR",
                          "value": "2000.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "2_FAIXA_VALOR",
                          "value": "3200.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "3_FAIXA_VALOR",
                          "value": "5072.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "4_FAIXA_VALOR",
                          "value": "3006.00",
                          "currency": "BRL"
                        }
                    ],
                    "minimum": {
                        "value": "1890.00",
                        "currency": "BRL"
                    },
                    "maximum": {
                        "value": "5800.00",
                        "currency": "BRL"
                    },
                    "customers": [
                        {
                          "frequency": "1_FAIXA_CLIENTE",
                          "rate": "0.1500"
                        },
                        {
                          "frequency": "2_FAIXA_CLIENTE",
                          "rate": "0.3500"
                        },
                        {
                          "frequency": "3_FAIXA_CLIENTE",
                          "rate": "0.2000"
                        },
                        {
                          "frequency": "4_FAIXA_CLIENTE",
                          "rate": "0.3000"
                        }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.8100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "OUTRAS_GARANTIAS_NAO_FIDEJUSSORIAS"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CHEQUE_ESPECIAL",
              "fees": {
                "services": [
                  {
                    "name": "Adiantamento a Depositantes / Excesso Limite",
                    "code": "NA",
                    "chargingTriggerInfo": "0,25% sobre o excedente do limite acima de R$500,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "1700.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "2200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "4030.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "5030.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "770.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.20"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "GARANTIA_FIDEJUSSORIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            },

            {
              "type": "EMPRESTIMO_CONTA_GARANTIDA",
              "fees": {
                "services": [
                  {
                    "name": "Descoberto em C/C, Conta garantida",
                    "code": "NA",
                    "chargingTriggerInfo": "Tarifa R$63,00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "345.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "479.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "776.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "1300.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "110.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "1390.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.18"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.8100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "GARANTIA_FIDEJUSSORIA"
              ],
              "termsConditions": "https://empresaa1.com/personal_loans"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-loans`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados de Empréstimos para pessoa natural.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa natural de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)], [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Loans_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_loans.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalLoans](#schemaResponsePersonalLoans)|
