## Financiamento Pessoa Física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "The Big Bank Brand",
        "companies": [
          {
            "name": "The Big Bank Company",
            "cnpjNumber": "12345678901234",
            "personalFinancings": [
              {
                "type": "FINANCIMENTO_IMOBILIARIO_SFI",
                "fees": [
                  {
                    "serviceName": "Taxa de Cadastro",
                    "serviceCode": "TC",
                    "chargingTriggerInfo": "Fatores geradores da taxa",
                    "chargingUnit": "Por novo contrato",
                    "price": [
                      {
                        "type": "MINIMO",
                        "value": "500",
                        "currency": "BRL"
                      },
                      {
                        "type": "PRIMEIRO_QUARTIL",
                        "value": "600",
                        "currency": "BRL"
                      },
                      {
                        "type": "SEGUNDO_QUARTIL",
                        "value": "700",
                        "currency": "BRL"
                      },
                      {
                        "type": "TERCEIRO_QUARTIL",
                        "value": "800",
                        "currency": "BRL"
                      },
                      {
                        "type": "QUARTO_QUARTIL",
                        "value": "900",
                        "currency": "BRL"
                      }
                    ],
                    "referenceValue": "1000",
                    "referenceCurrency": "BRL",
                    "additionalInfo": "Vamor mínimo aplicado"
                  }
                ],
                "interestRates": [
                  {
                    "rate": "0.9",
                    "referencialRate": null,
                    "indexer": "IGPM",
                    "prePostTax": "POS",
                    "frequency": "AA",
                    "incomeRateInfo": "Informações adicionais do calculo de juros",
                    "application": [
                      {
                        "type": "MINIMO",
                        "rate": "0.5"
                      },
                      {
                        "type": "PRIMEIRO_QUARTIL",
                        "rate": "0.6"
                      },
                      {
                        "type": "SEGUNDO_QUARTIL",
                        "rate": "0.7"
                      },
                      {
                        "type": "TERCEIRO_QUARTIL",
                        "rate": "0.8"
                      },
                      {
                        "type": "QUARTO_QUARTIL",
                        "rate": "0.9"
                      }
                    ],
                    "referenceValue": "1000",
                    "referenceCurrency": "BRL"
                  }
                ],
                "requiredWarranties": [
                  "CAUCAO"
                ],
                "termsConditions": "Lista dos termos em texto livre ou URL de indicação das condições"
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-financings"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-financings`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Financiamento pessoa física.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos de Pessoa Física de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Financings_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalFinancingsList](#schemaResponsePersonalFinancingsList)|
