## Cartão de crédito de pessoa física

Versão |
------ |
1 |

### Visão Geral

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/product-services/v1/personal-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/product-services/v1/personal-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "organisation": {
      "name": "The Big Bank Organisation",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "54672317000101",
          "personalCreditCards": [
            {
              "name": "Cartão Univertário Bem-Vindo",
              "identification": {
                "productType": "PLATINUM",
                "brandCode": "MASTERCARD"
              },
              "rewardsProgram": {
                "hasProgramReward": true,
                "programRewardInfo": "www.banco.com.br/programa-recompensas"
              },
              "fees": {
                "priorityServices": [
                  {
                    "name": "AVALIACAO_EMERGENCIAL_CREDITO",
                    "code": "AVALIACAO_EMERGENCIAL_CREDITO",
                    "chargingTriggerInfo": "AVAL.EMERG.CRÉDITO",
                    "maxPrice": 45.88,
                    "currency": "BRL",
                    "chargingUnit": "Por depósito recebido"
                  }
                ],
                "otherServices": [
                  {
                    "name": "Evento personalizado",
                    "code": "EVENTO_PERSONALIZADO",
                    "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                    "price": {
                      "type": "MEDIO",
                      "value": 15.66,
                      "currency": "BRL"
                    },
                    "additionalInfo": "50% do valor da anuidade do cartão titular",
                    "chargingUnit": "Anualmente"
                  }
                ]
              },
              "interestRates": {
                "feeRate": 9.87,
                "instalmentRate": 4.1,
                "code": "SAQUE_CREDITO"
              },
              "termsConditions": {
                "minimumFeeRate": 25.5,
                "additionalInfo": "string",
                "elegibilityCriteriaInfo": "string",
                "closingProcessInfo": "www.banco.com.br/cancelamento-cartao"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/product-services/v1/personal-credit-cards",
    "first": "https://api.banco.com.br/open-banking/product-services/v1/personal-credit-cards",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/product-services/v1/personal-credit-cards"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /product-services/<versão>/personal-credit-cards`


Versão |
------ |
1 |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa física


Esta especificação inclui todos os itens relevantes para a Especificação de API de Cartões de Crédito de Pessoa Física de dados abertos (PCA).


### Visão de alto nível das estruturas de dados

<a href='images/tld/TLD_Personal_Credit_Cards_v1.png' target="_blank">Imagem top level design</a>

### Dicionário de dados

<a href='dictionary/personal_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalCreditCardsList](#schemaResponsePersonalCreditCardsList)|
