## Cartão de crédito de pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "The Big Bank Brand",
        "companies": [
          {
            "name": "The Big Bank Company",
            "cnpjNumber": "54672317000101",
            "urlComplementaryList": "https://www.bigbank.com.br",
            "personalCreditCards": [
              {
                "name": "Cartão Univertário Bem-Vindo",
                "identification": {
                  "productType": "PLATINUM",
                  "creditCardNetwork": "MASTERCARD"
                },
                "rewardsProgram": {
                  "hasRewardProgram": "true",
                  "rewardProgramInfo": "www.banco.com.br/programa-recompensas"
                },
                "fees": {
                  "priorityServices": [
                    {
                      "code": "AVALIACAO_EMERGENCIAL_CREDITO",
                      "price": [
                        {
                          "interval": "1_QUARTIL_CLIENTES",
                          "value": "500",
                          "currency": "BRL",
                        },
                        {
                          "interval": "2_QUARTIL_CLIENTES",
                          "value": "600",
                          "currency": "BRL",
                        },
                        {
                          "interval": "3_QUARTIL_CLIENTES",
                          "value": "700",
                          "currency": "BRL",
                        },
                        {
                          "interval": "4_QUARTIL_CLIENTES",
                          "value": "800",
                          "currency": "BRL",
                        }
                      ],
                      "minimum":{
                        "value": "50",
                        "currency": "BRL",
                      },
                      "maximum":{
                        "value": "50",
                        "currency": "BRL",
                      },
                      "chargingUnit": "Por depósito recebido"
                    }
                  ],
                  "otherServices": [
                    {
                      "name": "Evento personalizado",
                      "code": "EVENTO_PERSONALIZADO",
                      "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                      "price": [
                        {
                          "interval": "1_QUARTIL_CLIENTES",
                          "value": "500",
                          "currency": "BRL"
                        },
                        {
                          "interval": "2_QUARTIL_CLIENTES",
                          "value": "600",
                          "currency": "BRL"
                        },
                        {
                          "interval": "3_QUARTIL_CLIENTES",
                          "value": "700",
                          "currency": "BRL"
                        },
                        {
                          "interval": "4_QUARTIL_CLIENTES",
                          "value": "800",
                          "currency": "BRL"
                        }
                      ],
                      "minimum":{
                        "value": "50",
                        "currency": "BRL",
                      },
                      "maximum":{
                        "value": "50",
                        "currency": "BRL",
                      },
                      "additionalInfo": "50% do valor da anuidade do cartão titular",
                      "chargingUnit": "Anualmente"
                    }
                  ]
                },
                "interestRates": {
                  "feeRate": {
                    "price": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "rate": "0.5"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "rate": "0.6"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "rate": "0.7"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "rate": "0.8"
                      }
                    ],
                    "minimumRate": "0.9",
                    "maximumRate": "0.7",
                  },
                  "codes": "SAQUE_CREDITO"
                },
                "termsConditions": {
                  "minimumFeeRate": "25.5",
                  "additionalInfo": "string",
                  "elegibilityCriteriaInfo": "string",
                  "closingProcessInfo": "www.banco.com.br/cancelamento-cartao"
                }
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-credit-cards`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa física.

Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Credit_Cards_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalCreditCardsList](#schemaResponsePersonalCreditCardsList)|
