## Cartão de crédito de pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa da Organização A",
          "cnpjNumber": "50685362000135",
          "urlComplementaryList": "https://empresadaorganizacaoa.com/complementarylist",
          "personalCreditCards": [
            {
              "name": "Cartão Universitário",
              "identification": {
                "product": {
                  "type": "PLATINUM",
                  "additionalInfo": "NA"
                },
                "creditCard": {
                  "network": "MASTERCARD",
                  "additionalInfo": "NA"
                }
              },
              "rewardsProgram": {
                "hasRewardProgram": false,
                "rewardProgramInfo": "https://empresaa1.com/credit_cards_rewards"
              },
              "fees": [
                {
                  "service": {
                    "name": "ANUIDADE_CARTAO_BASICO_NACIONAL",
                    "code": "ANUIDADE_NACIONAL",
                    "chargingTriggerInfo": "Disponibilização de rede de estabelecimentos afiliados, instalada no País, para pagamentos de bens e serviços, cobrada no máximo uma vez a cada doze meses, admitido o parcelamento da cobrança",
                    "prices": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "value": "45.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "value": "57.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "1350.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    }
                  }
                }
              ],
              "interest": {
                "feeRate": {
                  "prices": [
                    {
                      "interval": "1_QUARTIL_CLIENTES",
                      "rate": "0.0987"
                    },
                    {
                      "interval": "2_QUARTIL_CLIENTES",
                      "rate": "0.1600"
                    },
                    {
                      "interval": "3_QUARTIL_CLIENTES",
                      "rate": "0.3600"
                    },
                    {
                      "interval": "4_QUARTIL_CLIENTES",
                      "rate": "0.5890"
                    }
                  ],
                  "minimumRate": "0.0845",
                  "maximumRate": "0.9000",
                  "fees": [
                    {
                      "referentialRateOrIndexer": "PRE_FIXADO",
                      "rate": "0.15"
                    }
                  ]
                },
                "instalmentRate": {
                  "prices": [
                    {
                      "interval": "1_QUARTIL_CLIENTES",
                      "rate": "0.0987"
                    },
                    {
                      "interval": "2_QUARTIL_CLIENTES",
                      "rate": "0.1600"
                    },
                    {
                      "interval": "3_QUARTIL_CLIENTES",
                      "rate": "0.3600"
                    },
                    {
                      "interval": "4_QUARTIL_CLIENTES",
                      "rate": "0.5890"
                    }
                  ],
                  "minimumRate": "0.0845",
                  "maximumRate": "0.9000",
                  "fees": [
                    {
                      "referentialRateOrIndexer": "PRE_FIXADO",
                      "rate": "0.15"
                    }
                  ]
                },
                "interestRates": [
                  {
                    "code": "SAQUE_A_CREDITO",
                    "additionalInfo": "NA",
                    "prices": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "rate": "0.1500"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "rate": "0.2000"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "rate": "0.3500"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "rate": "0.6800"
                      }
                    ],
                    "minimumRate": "0.0450",
                    "maximumRate": "0.7000",
                    "fees": [
                      {
                        "referentialRateOrIndexer": "PRE_FIXADO",
                        "rate": "0.15"
                      }
                    ]
                  },
                  {
                    "code": "PAGAMENTOS_CONTAS",
                    "additionalInfo": "NA",
                    "prices": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "rate": "0.1500"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "rate": "0.2700"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "rate": "0.4000"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "rate": "0.4100"
                      }
                    ],
                    "minimumRate": "0.0900",
                    "maximumRate": "0.5500",
                    "fees": [
                      {
                        "referentialRateOrIndexer": "PRE_FIXADO",
                        "rate": "0.15"
                      }
                    ]
                  }
                ]
              },
              "termsConditions": {
                "minimumFeeRate": "0.25",
                "additionalInfo": "string",
                "elegibilityCriteriaInfo": "https://empresaa1.com/creditcards_elegibility_criteria",
                "closingProcessInfo": "https://empresaa1.com/creditcards_closing_process"
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-credit-cards`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa física.

Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Credit_Cards_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalCreditCardsList](#schemaResponsePersonalCreditCardsList)|
