## Contas pessoa natural

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "personalAccounts": [
            {
              "type": "CONTA_DEPOSITO_A_VISTA",
              "fees": {
                "priorityServices": [
                  {
                    "name": "TRANSFERENCIA_TED_PESSOAL_OU_PRESENCIAL",
                    "code": "TED_PESSOAL",
                    "chargingTriggerInfo": "Realização de transferência de recursos por meio de Transferência Eletrônica Disponível (TED) em guichê de caixa ou mediante outras formas de atendimento pessoal, incluindo o atendimento telefônico realizado por atendente",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "35.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "45.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "52.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "19.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "88.00",
                      "currency": "BRL"
                    },
                    "customers":[
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "rate": "0.15"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "rate": "0.35"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "rate": "0.20"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "rate": "0.30"
                      }
                    ]
                  },
                  {
                    "name": "FORNECIMENTO_2_VIA_CARTAO_FUNCAO_DEBITO",
                    "code": "2_VIA_CARTAO_DEBITO",
                    "chargingTriggerInfo": "Confecção e emissão de novo cartão com função débito, restrito a casos de pedidos de reposição formulados pelo detentor da conta, decorrente de perda, roubo, furto, danificação e outros motivos não imputáveis à instituição emitente",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "37.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "45.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "52.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "35.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "72.00",
                      "currency": "BRL"
                    },
                    "customers":[
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "rate": "0.15"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "rate": "0.35"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "rate": "0.20"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "rate": "0.30"
                      }
                    ]
                  }
                ],
                "otherServices": [
                  {
                    "name": "Entrega de talão de cheque em domícilio",
                    "code": "'TALAO_DOMICILIO",
                    "chargingTriggerInfo": "Por remessa",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "30.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "45.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "19.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "88.00",
                      "currency": "BRL"
                    },
                    "customers":[
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "rate": "0.15"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "rate": "0.35"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "rate": "0.20"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "rate": "0.30"
                      }
                    ]
                  },
                  {
                    "name": "2ª via de recibo de transação eletrônica",
                    "code": "'SEGUNDA_RECIBO_TE",
                    "chargingTriggerInfo": "Por documento",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "37.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "45.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "15.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "72.00",
                      "currency": "BRL"
                    },
                    "customers":[
                      {
                        "interval": "1_FAIXA_CLIENTE",
                        "rate": "0.15"
                      },
                      {
                        "interval": "2_FAIXA_CLIENTE",
                        "rate": "0.35"
                      },
                      {
                        "interval": "3_FAIXA_CLIENTE",
                        "rate": "0.20"
                      },
                      {
                        "interval": "4_FAIXA_CLIENTE",
                        "rate": "0.30"
                      }
                    ]
                  }
                ]
              },
              "serviceBundles": [
                {
                  "name": "Conta de depósitos à vista Movimentação com cartão (sem cheque)",
                  "services": [
                    {
                      "code": "CADASTRO",
                      "chargingTriggerInfo": "Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente",
                      "eventLimitQuantity": "1",
                      "freeEventQuantity": "0"
                    },
                    {
                      "code": "SAQUE_TERMINAL",
                      "chargingTriggerInfo": "Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas 'contas eletrônicas' não pode ser cobrada tarifa para este canal de entrega",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "8"
                    },
                    {
                      "code": "CHEQUE_VISADO",
                      "chargingTriggerInfo": "Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "4"
                    },
                    {
                      "code": "CHEQUE_ADMINISTRATIVO",
                      "chargingTriggerInfo": "Emissão de cheque administrativo",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "2"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "monthlyFee": "43.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "monthlyFee": "55.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "monthlyFee": "62.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "monthlyFee": "69.0",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "19.00",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "88.00",
                    "currency": "BRL"
                  },
                  "customers":[
                    {
                      "interval": "1_FAIXA_CLIENTE",
                      "rate": "0.15"
                    },
                    {
                      "interval": "2_FAIXA_CLIENTE",
                      "rate": "0.35"
                    },
                    {
                      "interval": "3_FAIXA_CLIENTE",
                      "rate": "0.20"
                    },
                    {
                      "interval": "4_FAIXA_CLIENTE",
                      "rate": "0.30"
                    }
                  ]
                },
                {
                  "name": "Conta de depósitos à vista -Pacote XXX",
                  "services": [
                    {
                      "code": "Serviço 1",
                      "chargingTriggerInfo": "Realização de pesquisa em serviços de proteção ao crédito, base de dados e informações cadastrais, e tratamento de dados e informações necessários ao início relacionamento decorrente da abertura de conta de depósitos à vista ou de poupança ou contratação de operação de crédito ou de arrendamento mercantil, não podendo ser cobrada cumulativamente",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "999999"
                    },
                    {
                      "code": "Serviço 2",
                      "chargingTriggerInfo": "Saque em terminal de autoatendimento além do número de saques permitidos gratuitamente por mês. Nas 'contas eletrônicas' não pode ser cobrada tarifa para este canal de entrega",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "8"
                    },
                    {
                      "code": "Serviço 3",
                      "chargingTriggerInfo": "Procedimentos para registro e bloqueio do saldo em conta de depósitos à vista",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "4"
                    },
                    {
                      "code": "Serviço 4",
                      "chargingTriggerInfo": "Emissão de cheque administrativo",
                      "eventLimitQuantity": "999999",
                      "freeEventQuantity": "2"
                    }
                  ],
                  "prices": [
                    {
                      "interval": "1_FAIXA_VALOR",
                      "monthlyFee": "30.40",
                      "currency": "BRL"
                    },
                    {
                      "interval": "2_FAIXA_VALOR",
                      "monthlyFee": "45.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "3_FAIXA_VALOR",
                      "monthlyFee": "62.00",
                      "currency": "BRL"
                    },
                    {
                      "interval": "4_FAIXA_VALOR",
                      "monthlyFee": "69.0",
                      "currency": "BRL"
                    }
                  ],
                  "minimum": {
                    "value": "25.00",
                    "currency": "BRL"
                  },
                  "maximum": {
                    "value": "72.00",
                    "currency": "BRL"
                  },
                  "customers":[
                    {
                      "interval": "1_FAIXA_CLIENTE",
                      "rate": "0.15"
                    },
                    {
                      "interval": "2_FAIXA_CLIENTE",
                      "rate": "0.35"
                    },
                    {
                      "interval": "3_FAIXA_CLIENTE",
                      "rate": "0.20"
                    },
                    {
                      "interval": "4_FAIXA_CLIENTE",
                      "rate": "0.30"
                    }
                  ]
                }
              ],
              "openingClosingChannels": [
                "DEPENDENCIAS_PROPRIAS",
                "CORRESPONDENTES_BANCARIOS",
                "INTERNET_BANKING",
                "MOBILE_BANKING",
                "CENTRAL_TELEFONICA",
                "CHAT",
                "OUTROS"
              ],
              "additionalInfo": "WhatsApp",
              "transactionMethods": [
                "MOVIMENTACAO_CARTAO"
              ],
              "termsConditions": {
                "minimumBalance": {
                  "value": "200.00",
                  "currency": "BRL"
                },
                "elegibilityCriteriaInfo": "https://empresaa1.com/Accounts_closingProcess",
                "closingProcessInfo": "https://empresaa1.com/Accounts_closingProcess"
              },
              "incomeRate": [
                {
                  "savingAccount": "NA",
                  "prepaidPaymentAccount": "NA"
                }
              ]
            },
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-accounts`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados da Conta Pessoa Natural.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalAccounts](#schemaResponsePersonalAccounts)|
