## Cartão de crédito de pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "The Big Bank Brand",
        "companies": [
          {
            "name": "The Big Bank Company",
            "cnpjNumber": "54672317000101",
            "personalCreditCards": [
              {
                "name": "Cartão Univertário Bem-Vindo",
                "identification": {
                  "productType": "PLATINUM",
                  "creditCardNetwork": "MASTERCARD"
                },
                "rewardsProgram": {
                  "hasRewardProgram": true,
                  "rewardProgramInfo": "www.banco.com.br/programa-recompensas"
                },
                "fees": {
                  "priorityServices": [
                    {
                      "code": "AVALIACAO_EMERGENCIAL_CREDITO",
                      "price": [
                        {
                          "type": "MINIMO",
                          "value": "500",
                          "currency": "BRL"
                        },
                        {
                          "type": "PRIMEIRO_QUARTIL",
                          "value": "600",
                          "currency": "BRL"
                        },
                        {
                          "type": "SEGUNDO_QUARTIL",
                          "value": "700",
                          "currency": "BRL"
                        },
                        {
                          "type": "TERCEIRO_QUARTIL",
                          "value": "800",
                          "currency": "BRL"
                        },
                        {
                          "type": "QUARTO_QUARTIL",
                          "value": "900",
                          "currency": "BRL"
                        }
                      ],
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL",
                      "chargingUnit": "Por depósito recebido"
                    }
                  ],
                  "otherServices": [
                    {
                      "name": "Evento personalizado",
                      "code": "EVENTO_PERSONALIZADO",
                      "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                      "price": [
                        {
                          "type": "MINIMO",
                          "value": "500",
                          "currency": "BRL"
                        },
                        {
                          "type": "PRIMEIRO_QUARTIL",
                          "value": "600",
                          "currency": "BRL"
                        },
                        {
                          "type": "SEGUNDO_QUARTIL",
                          "value": "700",
                          "currency": "BRL"
                        },
                        {
                          "type": "TERCEIRO_QUARTIL",
                          "value": "800",
                          "currency": "BRL"
                        },
                        {
                          "type": "QUARTO_QUARTIL",
                          "value": "900",
                          "currency": "BRL"
                        }
                      ],
                      "additionalInfo": "50% do valor da anuidade do cartão titular",
                      "chargingUnit": "Anualmente"
                    }
                  ]
                },
                "interestRates": {
                  "feeRate": [
                    {
                      "type": "MINIMO",
                      "rate": "0.5",
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL"
                    },
                    {
                      "type": "PRIMEIRO_QUARTIL",
                      "rate": "0.6",
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL"
                    },
                    {
                      "type": "SEGUNDO_QUARTIL",
                      "rate": "0.7",
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL"
                    },
                    {
                      "type": "TERCEIRO_QUARTIL",
                      "rate": "0.8",
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL"
                    },
                    {
                      "type": "QUARTO_QUARTIL",
                      "rate": "0.9",
                      "referenceValue": "1000",
                      "referenceCurrency": "BRL"
                    }
                  ],
                  
                  "instalmentRate": 4.1,
                  "code": "SAQUE_CREDITO"
                },
                "termsConditions": {
                  "minimumFeeRate": 25.5,
                  "additionalInfo": "string",
                  "elegibilityCriteriaInfo": "string",
                  "closingProcessInfo": "www.banco.com.br/cancelamento-cartao"
                }
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-credit-cards"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-credit-cards`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados de produtos e serviços de cartões de crédito para pessoa física

Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga) e [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Credit_Cards_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalCreditCardsList](#schemaResponsePersonalCreditCardsList)|
