## Financiamento Pessoa Natural

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "cnpjNumber": "50685362000135",
          "name": "Empresa A1",
          "urlComplementaryList": "https://empresadaorganizacaoa.com/complementarylist",
          "personalFinancings": [
            {
              "type": "FINANCIAMENTO_AQUISICAO_BENS_VEICULOS_AUTOMOTORES",
              "fees": {
                "services": [
                  {
                    "name": "Avaliação, Reavaliação e Substituição de Bens Recebidos em Garantia",
                    "code": "AQBAM009",
                    "chargingTriggerInfo": "R$ 570.00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "45.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "57.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "62.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "39.90",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "71.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "PRE_FIXADO",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA",
                "PENHOR"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            },
            {
              "type": "FINANCIAMENTO_AQUISICAO_BENS_OUTROS_BENS",
              "fees": {
                "services": [
                  {
                    "name": "tarifa para abertura de credito",
                    "code": "tarifa para abertura de credito",
                    "chargingTriggerInfo": "R$ 570.00",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "860.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "1090.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "2100.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "430.90",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "2200.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0187"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2900"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7990"
                  }
                ],
                "minimumRate": "0.0056",
                "maximumRate": "0.8565",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "ALIENACAO_FIDUCIARIA",
                "PENHOR"
              ],
              "termsConditions": "https://empresaa1.com/personal_financing"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```


`GET /products-services/<versão>/personal-financings`


Versão |
------ |
2      |

### Visão Geral

Obtém os dados de Financiamento para pessoa natural.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Financings_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalFinancings](#schemaResponsePersonalFinancings)|
