## Contas pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "names": "Empresa A1",
          "cnpjNumbers": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "personalAccounts": [
            {
              "types": "CONTA_DEPOSITO_A_VISTA",
              "fees": {
                "priorityServices": [
                  {
                    "names": "Fornecimento de extrato de um período de conta de depósitos à vista e de poupança",
                    "code": "TED_PESSOAL",
                    "chargingTriggerInfo": "Fornecimento de extrato com a movimentação de um período em guichê de caixa ou por outras formas de atendimento pessoal, tal como atendimento telefônico realizado por atendente.",
                    "prices": [
                        {
                          "interval": "1_QUARTIL_CLIENTES",
                          "value": "35.40",
                          "currency": "BRL"
                        },
                        {
                          "interval": "2_QUARTIL_CLIENTES",
                          "value": "45.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "3_QUARTIL_CLIENTES",
                          "value": "52.00",
                          "currency": "BRL"
                        },
                        {
                          "interval": "4_QUARTIL_CLIENTES",
                          "value": "69.00",
                          "currency": "BRL"
                        }
                      ],
                    "minimum": {
                      "value": "35.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "72.00",
                      "currency": "BRL"
                    }
                  }
                ],
                "otherServices": [
                  {
                    "name": "Evento personalizado",
                    "code": "EVENTO_PERSONALIZADO",
                    "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                    "prices": [
                      {
                        "interval": "1_QUARTIL_CLIENTES",
                        "value": "35.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_QUARTIL_CLIENTES",
                        "value": "45.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_QUARTIL_CLIENTES",
                        "value": "52.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_QUARTIL_CLIENTES",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                      "minimum": {
                        "value": "15.00",
                        "currency": "BRL"
                      },
                      "maximum": {
                        "value": "72.00",
                        "currency": "BRL"
                      }
                    }
                  }
                ]
              },
              "serviceBundles": {
                "name": "string",
                "services": [
                  {
                    "code": "SAQUEterminal",
                    "eventLimitQuantity": "2",
                    "freeEventQuantity": "1"
                  }
                ],
                "prices": [
                  {
                    "interval": "1_QUARTIL_CLIENTES",
                    "value": "30.40",
                    "currency": "BRL"
                  },
                  {
                    "interval": "2_QUARTIL_CLIENTES",
                    "value": "45.00",
                    "currency": "BRL"
                  },
                  {
                    "interval": "3_QUARTIL_CLIENTES",
                    "value": "62.00",
                    "currency": "BRL"
                  },
                  {
                    "interval": "4_QUARTIL_CLIENTES",
                    "value": "69.00",
                    "currency": "BRL"
                  }
                ],
                "minimum": {
                  "value": "25.00",
                  "currency": "BRL"
                },
                "maximum": {
                  "value": "77.00",
                  "currency": "BRL"
                }
              },
              "openingClosingChannels": "CENTRAL_TELEFONICA",
              "transactionMethods": "MOVIMENTACAO_CARTAO",
              "additionalInfo": "Texto livre",
              "termsConditions": {
                "minimumBalance": {
                  "value": "200.00",
                  "currency": "BRL"
                },
                "elegibilityCriteriaInfo": "https://example.com/mobile-banking",
                "closingProcessInfo": "https://example.com/mobile-banking"
              },
              "incomeRates": {
                "savingAccount": "NA",
                "prepaidPaymentAccount": {
                  "applications": {
                    "interval": "NA",
                    "rate": "NA"
                  },
                  "mininumRate": "NA",
                  "maximumRate": "NA"
                }
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-accounts`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados da Conta Pessoa Física.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa física de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalAccountsList](#schemaResponsePersonalAccountsList)|