## Contas pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-accounts HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-accounts", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "The Big Bank Organisation",
      "companies": [
        {
          "name": "The Big Bank Company",
          "cnpjNumber": "54672317000101",
          "personalAccounts": [
            {
              "type": "CONTA_CORRENTE",
              "fees": {
                "priorityServices": [
                  {
                    "name": "FORNECIMENTO_EXTRATO_MENSAL_CONTA_VISTA_POUPANCA",
                    "code": "EXTRATO_MOVIMENTO_P",
                    "chargingTriggerInfo": "CHEQUE_ADMINISTRATIVO",
                    "price": [
                      {
                        "interval": "1_FAIXA_VALORES",
                        "value": "500",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "2_FAIXA_VALORES",
                        "value": "600",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "3_FAIXA_VALORES",
                        "value": "700",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "4_FAIXA_VALORES",
                        "value": "800",
                        "currency": "BRL",
                        "frequency": "0.25"
                      }
                    ],
                    "chargingUnit": "Por depósito recebido"
                  }
                ],
                "otherServices": [
                  {
                    "name": "Evento personalizado",
                    "code": "EVENTO_PERSONALIZADO",
                    "chargingTriggerInfo": "Cobrança devido a evento personalizado",
                    "price": [
                      {
                        "interval": "1_FAIXA_VALORES",
                        "value": "500",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "2_FAIXA_VALORES",
                        "value": "600",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "3_FAIXA_VALORES",
                        "value": "700",
                        "currency": "BRL",
                        "frequency": "0.25"
                      },
                      {
                        "interval": "4_FAIXA_VALORES",
                        "value": "800",
                        "currency": "BRL",
                        "frequency": "0.25"
                      }
                    ],
                    "additionalInfo": "0,5% do valor do orçamentor",
                    "chargingUnit": "Por depósito recebido"
                  }
                ]
              },
              "serviceBundles": {
                "name": "string",
                "services": [
                  {
                    "code": "segundo Resolução 3.919 do Bacen: 'SAQUEterminal'.",
                    "eventLimitQuantity": "2",
                    "freeEventQuantity": "1",
                    "price": {
                      "value": "25",
                      "currency": "BRL"
                    }
                  }
                ],
                "price": {
                  "monthlyFee": "15",
                  "currency": "BRL"
                }
              },
              "openCloseChannels": "CENTRAL_TELEFONICA",
              "transactionMethods": "MOVIMENTACAO_PRESENCIAL",
              "termsConditions": {
                "minimumBalance": 25.5,
                "minimumBalanceCurrency": "BRL",
                "elegibilityCriteriaInfo": "string",
                "closingProcessInfo": "www.banco.com.br/cancelamento-conta"
              },
              "incomeRates": {
                "rate": "string",
                "referencialRate": "string",
                "indexer": "CDI",
                "prePostTax": "PRE",
                "frequency": "A_D",
                "additionalInfo": "string",
                "application": [
                  {
                    "interval": "1_FAIXA_VALORES",
                    "rate": "0.5",
                    "frequency": "0.25"
                  },
                  {
                    "interval": "2_FAIXA_VALORES",
                    "rate": "0.6",
                    "frequency": "0.25"
                  },
                  {
                    "interval": "3_FAIXA_VALORES",
                    "rate": "0.7",
                    "frequency": "0.25"
                  },
                  {
                    "interval": "4_FAIXA_VALORES",
                    "rate": "0.8",
                    "frequency": "0.25"
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/<resource>",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/<resource>"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-accounts`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados da Conta Pessoa Física.

Esta especificação inclui todos os artefatos relevantes para a Especificação de API da Conta corrente pessoa física de dados abertos.

Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos) e [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Accounts_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalAccountsList](#schemaResponsePersonalAccountsList)|