## Antecipação de recebíveis pessoa natural

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-invoice-financings", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "45086338000178",
          "urlComplementaryList": "https://empresaa1.com/branches-banking",
          "personalInvoiceFinancings": [
            {
              "type": "DESCONTO_DUPLICATAS",
              "fees": {
                "services": [
                  {
                    "name": "Custódia de Duplicatas",
                    "code": "NA",
                    "chargingTriggerInfo": "5% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "25.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "35.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "52.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "69.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "15.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "87.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.15"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "CESSAO_DIREITOS_CREDITORIOS"
              ],
              "termsConditions": "https://empresaa1.com/personal_invoice_financings"
            },
            {
              "type": "DESCONTO_CHEQUES",
              "fees": {
                "services": [
                  {
                    "name": "Custódia de Cheques pré-datados: Inclusão",
                    "code": "NA",
                    "chargingTriggerInfo": "R$ 0,80",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "345.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "479.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "776.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "1300.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "110.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "1390.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.10"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "CAUCAO"
              ],
              "termsConditions": "https://empresaa1.com/personal_invoice_financings"
            },

            {
              "type": "ANTECIPACAO_FATURA_CARTAO_CREDITO",
              "fees": {
                "services": [
                  {
                    "name": "Aditamento de recebiveis",
                    "code": "NA",
                    "chargingTriggerInfo": "3% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "860.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "1090.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "2100.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "430.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "2200.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  },
                  {
                    "name": "Custódia de Cheques pré-datados: Inclusão",
                    "code": "NA",
                    "chargingTriggerInfo": "2% do valor do contrato",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "3000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "4000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "5006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "2290.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "5800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "POS_FIXADO_TR_TBF",
                    "rate": "0.13"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.1500"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2000"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3500"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.6800"
                  }
                ],
                "minimumRate": "0.1450",
                "maximumRate": "0.6900",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "CAUCAO"
              ],
              "termsConditions": "https://empresaa1.com/personal_invoice_financings"
            },

            {
              "type": "OUTROS_DIREITOS_CREDITORIOS_DESCONTADOS",
              "fees": {
                "services": [
                  {
                    "name": "Documentos em Custódia",
                    "code": "NA",
                    "chargingTriggerInfo": "NA",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "3200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "5072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7006.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "150.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8800.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.20"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.5890"
                  }
                ],
                "minimumRate": "0.0889",
                "maximumRate": "0.6865",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "CESSAO_DIREITOS_CREDITORIOS"
              ],
              "termsConditions": "https://empresaa1.com/personal_invoice_financings"
            },

            {
              "type": "OUTROS_TITULOS_DESCONTADOS",
              "fees": {
                "services": [
                  {
                    "name": "Documentos em Custódia",
                    "code": "NA",
                    "chargingTriggerInfo": "NA",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "1000.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "1200.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "3072.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "7020.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "560.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "8000.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "OUTRAS_TAXAS_POS_FIXADAS",
                    "rate": "0.20"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0987"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.1600"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7680"
                  }
                ],
                "minimumRate": "0.0456",
                "maximumRate": "0.8100",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "requiredWarranties": [
                "CESSAO_DIREITOS_CREDITORIOS"
              ],
              "termsConditions": "https://empresaa1.com/personal_invoice_financings"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings",
    "prev": "",
    "next": "",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/business-invoice-financings"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-invoice-financings`


Versão |
------ |
2      |

### Visão Geral

Obtém os dados de Antecipação de Recebíveis.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Invoice_Financing_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_invoice_financings.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalInvoiceFinancings](#schemaResponsePersonalInvoiceFinancings)|
