## Empréstimos pessoa física

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/products-services/v1/personal-loans HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-loans", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "brand": [
      {
        "name": "Marca A",
        "companies": [
          {
            "name": "Empresa da Organização A",
            "cnpjNumber": "50.685.362/0001-35",
            "personalLoans": [
              {
                "types": "CHEQUE_ESPECIAL",
                "fees": [
                  {
                    "serviceName": "Cheque Especial",
                    "serviceCode": "Cheque Especial",
                    "chargingTriggerInfo": "(e) Tarifa válida a partir de 06.01.2020, para novas contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI (f) Tarifa válida a partir de 01.06.2020, para contratações de Cheque Especial e Cheque Empresarial direcionado a clientes MEI realizadas até 05.01.2020",
                    "price": [
                      {
                        "type": "MINIMO",
                        "value": "500",
                        "currency": "BRL"
                      },
                      {
                        "type": "PRIMEIRO_QUARTIL",
                        "value": "600",
                        "currency": "BRL"
                      },
                      {
                        "type": "SEGUNDO_QUARTIL",
                        "value": "700",
                        "currency": "BRL"
                      },
                      {
                        "type": "TERCEIRO_QUARTIL",
                        "value": "800",
                        "currency": "BRL"
                      },
                      {
                        "type": "QUARTO_QUARTIL",
                        "value": "900",
                        "currency": "BRL"
                      }
                    ],
                    "referenceValue": "1000",
                    "referenceCurrency": "BRL",
                    "additionalInfo": "Vamor mínimo aplicado"
                  }
                ],
                "interestRates": [
                  {
                    "rate": "0.9",
                    "referencialRate": null,
                    "indexer": "IGPM",
                    "prePostTax": "POS",
                    "frequency": "AA",
                    "incomeRateInfo": "Informações adicionais do calculo de juros",
                    "application": [
                      {
                        "type": "MINIMO",
                        "rate": "0.5"
                      },
                      {
                        "type": "PRIMEIRO_QUARTIL",
                        "rate": "0.6"
                      },
                      {
                        "type": "SEGUNDO_QUARTIL",
                        "rate": "0.7"
                      },
                      {
                        "type": "TERCEIRO_QUARTIL",
                        "rate": "0.8"
                      },
                      {
                        "type": "QUARTO_QUARTIL",
                        "rate": "0.9"
                      }
                    ],
                    "referenceValue": "1000",
                    "referenceCurrency": "BRL"
                  }
                ],
                "requiredWarranties": [
                  "CESSAO_DIREITOS_CREDITORIOS"
                ],
                "termsConditions": ""
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-loans",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-loans",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-loans"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /products-services/<versão>/personal-loans`

Versão |
------ |
1 |

### Visão Geral

Obtém os dados de Empréstimos pessoa física.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos pessoa física de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Loans_v1.png'/>

### Dicionário de dados

<a href='dictionary/personal_loans.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalLoansList](#schemaResponsePersonalLoansList)|
