## Adiantamento a Depositante pessoa natural

> Exemplo de código

```http
GET http://api.banco.com.br/open-banking/products-services/v1/personal-unarranged-account-overdraft HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/products-services/v1/personal-unarranged-account-overdraft", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa

```json
{
  "data": {
    "brand": {
      "name": "Organização A",
      "companies": [
        {
          "name": "Empresa A1",
          "cnpjNumber": "50685362000135",
          "urlComplementaryList": "https://empresadaorganizacaoa.com/complementarylist",
          "personalUnarrangedAccountOverdraft": [
            {
              "fees": {
                "priorityServices": [
                  {
                    "name": "CONCESSAO_ADIANTAMENTO_DEPOSITANTE",
                    "code": "ADIANT_DEPOSITANTE",
                    "chargingTriggerInfo": "Levantamento de informações e avaliação de viabilidade e de riscos para a concessão de crédito em caráter emergencial para cobertura de saldo devedor em conta de depósitos à vista e de excesso sobre o limite previamente pactuado de cheque especial, cobrada no máximo uma vez nos últimos trinta dias",
                    "prices": [
                      {
                        "interval": "1_FAIXA_VALOR",
                        "value": "500.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "2_FAIXA_VALOR",
                        "value": "860.00",
                        "currency": "BRL"
                      },
                      {
                        "interval": "3_FAIXA_VALOR",
                        "value": "1090.40",
                        "currency": "BRL"
                      },
                      {
                        "interval": "4_FAIXA_VALOR",
                        "value": "2100.00",
                        "currency": "BRL"
                      }
                    ],
                    "minimum": {
                      "value": "430.00",
                      "currency": "BRL"
                    },
                    "maximum": {
                      "value": "2200.00",
                      "currency": "BRL"
                    },
                    "customers": [
                      {
                        "frequency": "1_FAIXA_CLIENTE",
                        "rate": "0.1500"
                      },
                      {
                        "frequency": "2_FAIXA_CLIENTE",
                        "rate": "0.3500"
                      },
                      {
                        "frequency": "3_FAIXA_CLIENTE",
                        "rate": "0.2000"
                      },
                      {
                        "frequency": "4_FAIXA_CLIENTE",
                        "rate": "0.3000"
                      }
                    ]
                  }
                ]
              },
              "interestRate": {
                "fees": [
                  {
                    "referentialRateIndexer": "SEM_INDEXADOR_TAXA",
                    "rate": "0.65"
                  }
                ],
                "applications": [
                  {
                    "interval": "1_FAIXA_VALOR",
                    "rate": "0.0187"
                  },
                  {
                    "interval": "2_FAIXA_VALOR",
                    "rate": "0.2900"
                  },
                  {
                    "interval": "3_FAIXA_VALOR",
                    "rate": "0.3600"
                  },
                  {
                    "interval": "4_FAIXA_VALOR",
                    "rate": "0.7990"
                  }
                ],
                "minimumRate": "0.0056",
                "maximumRate": "0.8565",
                "customers": [
                  {
                    "frequency": "1_FAIXA_CLIENTE",
                    "rate": "0.1500"
                  },
                  {
                    "frequency": "2_FAIXA_CLIENTE",
                    "rate": "0.3500"
                  },
                  {
                    "frequency": "3_FAIXA_CLIENTE",
                    "rate": "0.2000"
                  },
                  {
                    "frequency": "4_FAIXA_CLIENTE",
                    "rate": "0.3000"
                  }
                ]
              },
              "termsConditions": "https://empresaa1.com/personal_unarranged_account_overdraft"
            }
          ]
        }
      ]
    }
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/products-services/v1/personal-unarranged-account-overdraft",
    "first": "https://api.banco.com.br/open-banking/products-services/v1/personal-unarranged-account-overdraft",
    "prev": "",
    "next": "",
    "last": "https://api.banco.com.br/open-banking/products-services/v1/personal-unarranged-account-overdraft"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```
`GET /products-services/<versão>/personal-unarranged-account-overdraft`

Versão |
------ |
2      |

### Visão Geral

Obtém os dados de Adiantamento a Depositante para pessoa natural.

Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

### Visão de alto de nível das estruturas de dados

<img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png'/>


### Dicionário de dados

<a href='dictionary/personal_unarranged_account_overdraft.csv' target="_blank">Fazer download do dicionário de dados</a>

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalUnarrangedAccountOverdraft](#schemaResponsePersonalUnarrangedAccountOverdraft)|
