## Disponibilização da Ferramenta de Certificação Funcional

A Estrutura Inicial disponibilizou no dia 11/06, a versão beta das ferramentas de testes e homologação das APIs desenvolvidas pelas Instituições Participantes da Fase 2 do Open Banking.

Dentro do escopo previsto pelo motor de testes, destacamos, de maneira não exaustiva, as principais validações, em curso de desenvolvimento: 
    
- Open Banking Brasil – Funcional 
    - Estrutura das URLs 
    - Cabeçalhos 
    - Códigos de Resposta 
    - Escopos e Permissões 
    - Schema / Estrutura da API 

A plataforma de testes funcionais pode ser acessada em: 

<a href="https://web.conformance.directory.openbankingbrasil.org.br/" target="_blank">https://web.conformance.directory.openbankingbrasil.org.br/</a>. 

A ferramenta foi disponibilizada no dia 11/06 com a primeira versão do perfil de segurança FAPI Brasil, disponibilizada pela OIDF e a API de contas. A previsão é termos testes para todas as APIs implementadas até  25/06

A ferramenta também será atualizada conforme calendário de certificação, disponível em:

<a href="documents/Cronograma%20Sandbox_Versão%20-%2020210609.pdf" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/documents/Cronograma Sandbox_Versão - 20210609.pdf</a>

Para acesso à plataforma e criação do plano de testes, é possível seguir o seguinte guia 

<a href="https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf</a>

Para a execução dos testes funcionais das APIs, sem segurança, é necessário a execução da ferramenta localmente, disponibilizada no endereço <a href="https://gitlab.com/obb1/certification" target="_blank">https://gitlab.com/obb1/certification</a>. 

Além disso, também é possível consultar a documentação de referência, incluindo como rodar a ferramenta localmente, por meio dos links: 

<a href="https://gitlab.com/obb1/certification/-/wikis/Introduction" target="_blank">https://gitlab.com/obb1/certification/-/wikis/Introduction</a>

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/home" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/home</a>

Também foi realizado no dia um 15/06 um Workshop para demonstração da utilização da ferramenta, disponível em: <a href="https://youtu.be/C8TV7j3nb8I" target="_blank">https://youtu.be/C8TV7j3nb8I</a>

Vale notar que a ferramenta do Open Banking Brasil é baseada na ferramenta da OIDF, logo a extensa documentação produzida pela OIDF também se aplica a essa plataforma.
