## Disponibilização da Ferramenta de Certificação FAPI e DCR

A OIDF disponibilizou no dia 11/06 os perfis FAPI – Brasil e DCR – Brasil, que serão utilizados para realização da certificação funcional mandatória ao Open Banking Brasil.

O acesso a plataforma e a as instruções de utilização desta podem ser consultadas através dos links: 

<a href="https://www.certification.openid.net/login.html" target="_blank">https://www.certification.openid.net/login.html</a>

<a href="https://openid.net/certification/fapi_op_testing" target="_blank">https://openid.net/certification/fapi_op_testing</a>

Exemplos das configurações dos testes podem ser encontrados em: 

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-Example-Configuration" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-Example-Configuration</a>

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-DCR-Example-Configuration" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-DCR-Example-Configuration</a>

Em caso de dúvidas sobre a execução dos testes, pedimos que entrem em contato pelo e-mail certificate@oidf.org. Para relatar possíveis bugs ou alterações necessárias, pedimos que a instituição abra um novo issue em: 

<a href="https://gitlab.com/openid/conformance-suite/-/issues/new" target="_blank">https://gitlab.com/openid/conformance-suite/-/issues/new</a>

No dia 22/06 será realizado um Workshop em que haverá demonstração e esclarecimento de dúvidas sobre a ferramenta da OIDF. Após o Workshop essa agenda será disponibilizada no nosso canal do Youtube, acessível em: 

<a href="https://www.youtube.com/channel/UCcEHG9ibMcBEK1tDAG-2WMQ" target="_blank">https://www.youtube.com/channel/UCcEHG9ibMcBEK1tDAG-2WMQ</a>