## Como utilizar a ferramenta da OpenID Foundation para testes FAPI R/W - Plain FAPI

Para a segunda fase do Open Banking Brasil, as instituições financeiras dos segmentos
S1 e S2 e as que se voluntariaram para participar como “instituição transmissora e
receptora de dados”, abreviada por DADOS no diretório de participantes, deverão
realizar o teste e certificação dos seus Authorization Servers, 
conforme <a href='https://www.in.gov.br/en/web/dou/-/instrucao-normativa-bcb-n-98-de-14-de-abril-de-2021-314703081' target="_blank">
resolução do Banco Central (BC)</a>, antes de iniciarem o envio dos dados de usuários.

Como o perfil FAPI R/W – Brasil está previsto para ser publicado em versão beta no
meio de junho, uma alternativa para as instituições financeiras que desejarem já iniciar
o teste da sua implementação é utilizar o teste FAPI R/W – Plain FAPI.

O Perfil FAPI R/W – Plain FAPI já está configurado na plataforma de conformidade da
OpenID Foundation (OIDF) e permite que qualquer instituição financeira teste sua
implementação sem nenhum custo. Além disso, o perfil é muito semelhante ao que
será utilizado no Brasil, tendo como principais diferenças:

- FAPI R/W - Brasil suporta signed e encrypted request objects ou push authorization request - Plain FAPI define os campos como opcionais
- FAPI R/W - Brasil demanda dynamic scopes - Plain FAPI não demanda
- FAPI R/W - Brasil demanda dynamic client registration/management - Plain FAPI não demanda
- FAPI R/W - Brasil demanda validação e processamento de specific indentity claims - Plain FAPI não demanda

Essa proximidade entre os perfis faz com que uma instituição que consiga passar em
todos os testes hoje do Plain FAPI tenha poucas dificuldades em se certificar no FAPI
Brasil quando este for disponibilizado.

É importante ressaltar que não será necessária a certificação FAPI R/W - Plain FAPI
para o Open Banking Brasil, apenas a certificação FAPI R/W - Brasil. Neste caso, essa
instrução tem como único objetivo ajudar a instituição a testar seu deployment antes
do lançamento do perfil brasileiro e se ambientar no uso da ferramenta da OIDF.

### Processo para utilização da ferramenta de certificação:

**1. Criação de certificado no diretório de participantes**: Antes da inicialização do teste,
a instituição financeira deverá realizar a publicação de dois Software Statements no
Sandbox do diretório de participantes e realizar a emissão de dois certificados de
transporte que serão utilizados para acessar o Authorization Server a ser testado. O
guia para realizar a emissão desse certificado pode ser consultado em:
https://openbanking-brasil.github.io/areadesenvolvedor/#guia-operacional-do-
diretorio-central.
A instituição também pode optar por utilizar outro conjunto de certificados além
destes emitidos pelo Sandbox do diretório de participantes.

**2. Criação do plano de testes**: Após a configuração do certificado, o desenvolvedor,
em posse dos atributos do seu Authorization Server, poderá se conectar no 
[motor de testes da OIDF](https://www.certification.openid.net/) e realizar a 
criação de um plano de testes em “Create a new test plan”.
O preenchimento do plano de testes FAPI R/W - Plain FAPI pode ser conferido através
do pdf: [Guia OIDF](/documents/Guia_OIDF.pdf).

**3. Execução do plano de testes**: Após a criação do plano de testes, a instituição poderá
realizar todos os testes existentes na sua implementação. Para maior detalhamento
dos testes, é possível consultar os dois workshops realizados pelo Open Banking Brasil
e a OIDF sobre o perfil de segurança FAPI e o conjunto de testes de conformidade e
certificação: [https://openbanking-brasil.github.io/areadesenvolvedor/#workshops-com-openid-foundation](https://openbanking-brasil.github.io/areadesenvolvedor/#workshops-com-openid-foundation)

A OIDF também disponibiliza uma extensa documentação em relação ao motor de
testes e aos perfis FAPI que pode ser acessada através dos links abaixo:

FAPI Especificações  
[Financial-grade API Security Profile 1.0 — Part 1: Baseline](https://openid.net/specs/openid-financial-api-part-1-1_0-final.html)  
[Financial-grade API Security Profile 1.0 — Part 2: Advanced](https://openid.net/specs/openid-financial-api-part-2-1_0-final.html)  
[Differences between ID2 and Final](https://bitbucket.org/atlassianid/bb-signup/?next=/openid/fapi/src/master/FAPI_1.0/changes-between-id2-and-final.md)  
  

FAPI Motor de testes e certificação  
[How to run conformance tests for FAPI-RW OPs](https://openid.net/certification/fapi_op_testing/)  
[How to request certification after successfully completing conformance testing for FAPI-RW and FAPI-CIBA OPs](https://openid.net/certification/op_submission/)  
[Financial-grade API (FAPI), Explained by an Implementer – Updated](https://openid.net/2021/04/14/guest-blog-financial-grade-api-fapi-explained-by-an-implementer-updated/)
