## Correspondentes Bancários

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/banking-agents HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/banking-agents", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "organization": "Itaú Unibanco",
  "contractor": [
    {
      "name": "Recovery",
      "cnpjMain": "14684579",
      "cnpjSubsidiary": "0001",
      "cnpjCheckNumber": "63",
      "bankingAgents": [
        {
          "identification": {
            "corporationName": "Abilio S/A",
            "tradingName": "Pão de Açucar Minuto",
            "cnpjMain": "14684579",
            "cnpjSubsidiary": "0001",
            "cnpjCheckNumber": "63",
            "groupName": "Pão de Açucar"
          },
          "postalAddress": {
            "streetType": "Alameda",
            "streetName": "Santos",
            "buildingNumber": "554",
            "additionalInfo": "",
            "district": "Cerqueira César",
            "townName": "São Paulo",
            "countrySubDivision": "SP",
            "postCode": "06585-548"
          },
          "services": {
            "codes": [
              "1",
              "2",
              "3",
              "4"
            ],
            "detail": ""
          }
        },
        {
          "identification": {
            "corporationName": "Carrefour S/A",
            "tradingName": "Carrefour Express",
            "cnpjMain": "848745",
            "cnpjSubsidiary": "21312",
            "cnpjCheckNumber": "11",
            "groupName": "Carrefour"
          },
          "postalAddress": {
            "streetType": "Alameda",
            "streetName": "Santos",
            "buildingNumber": "554",
            "additionalInfo": "",
            "district": "Cerqueira César",
            "townName": "São Paulo",
            "countrySubDivision": "SP",
            "postCode": "06585-548"
          },
          "services": {
            "codes": [
              "1",
              "2",
              "3",
              "4"
            ],
            "detail": ""
          }
        }
      ]
    }
  ]
}
```

`GET /channels/<versão>/banking-agents`

Versão |
------ |
1 |

### Visão Geral

Obtém a lista de Correspondentes bancários

A lista de correspondentes bancários é compostas pelos dados descritos abaixo.

- **Marca (Brand)**  
Dados que identificam a instituição financeira que correspondente bancário representa.

- **Dependência Prória (Branch)**  
Dados que identificam o correspondente bancário.  
Ex.: Código, Tipo, Descrição.

- **Endereço (Postal Address)**  
Endereço físico do correspondente bancário.

- **Serviços Prestados (Services)**  
Dados sobre os serviços prestados pelo correspondente bancário.


### Visão de alto de nível das estruturas de dados

<a href='images/tld/TLD_Banking_Agents_v1.png' target="_blank">Imagem da visão de alto nível das estruturas de dados</a>

### Dicionário de dados

<a href='images/tld/TLD_Banking_Agents_v1.png' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBankingAgentsList](#schemaResponseBankingAgentsList)|