## Correspondentes bancários

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/banking-agents HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/banking-agents", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "organisation": [
      {
        "name": "Big Banks",
        "companies": [
          {
            "name": "Brazil Campany LTDA",
            "cnpjNumber": "12345678901234",
            "contractors": [
              {
                "name": "Brazil Contractor LTDA",
                "cnpjNumber": "14684579163",
                "bankingAgents": [
                  {
                    "identification": {
                      "corporationName": "Salt Mount S/A",
                      "groupName": "HyperMarkets",
                      "cnpjNumber": "50870366190"
                    },
                    "postalAddress": {
                      "streetType": "Alameda",
                      "streetName": "Santos",
                      "buildingNumber": "1041",
                      "additionalInfo": null,
                      "districtName": "Cerqueira César",
                      "townName": "São Paulo",
                      "countrySubDivision": "SP",
                      "postCode": "01419-002"
                    },
                    "services": {
                      "codes": [
                        "ABERTURA_CONTAS",
                        "RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS",
                        "RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA",
                        "ORDEM_PAGAMENTO",
                        "OPERACOES_CREDITO"
                      ],
                      "additionalInfo": null
                    }
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/channels/v1/banking-agents",
    "first": "https://api.banco.com.br/open-banking/channels/v1/banking-agents",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/channels/v1/banking-agents"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /channels/<versão>/banking-agents`

Versão |
------ |
1 |

### Visão Geral

Obtém a lista de Correspondentes bancários

A lista de correspondentes bancários é compostas pelos dados descritos abaixo.

- **Organização (Organisation)**  
Dados que identificam a instituição financeira detentora das dependências próprias.

- **Contratante (Contractor)**
Dados da contratante

- **Correspondentes Bancários (BankingAgents)**  
Dados que identificam o correspondente bancário.  
Ex.: Código, Tipo, Descrição.

- **Endereço (PostalAddress)**  
Endereço físico do correspondente bancário.

- **Serviços Prestados (Services)**  
Dados sobre os serviços prestados pelo correspondente bancário.

### Visão de alto de nível das estruturas de dados

<a href='images/tld/TLD_Banking_Agents_v1.png' target="_blank">Imagem da visão de alto nível das estruturas de dados</a>

### Dicionário de dados

<a href='dictionary/banking_agents.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBankingAgentsList](#schemaResponseBankingAgentsList)|