## Listar Correspondentes

`GET https://example.com/open-banking/v1/open-data/banking-agents`

Versão |
------ |
1 |

### Descrição

Obtém a lista de Correspondentes bancários

### Top Level Design

<a href='images/tld/TLD_Banking_Agents_v1.png' target="_blank">Imagem top level design</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBankingAgentsList](#schemaResponseBankingAgentsList)|