## Listar Agências

`GET /channels/<versão>/branches`

Versão |
------ |
1 |

### Descrição

Obtém a lista de agências bancárias da instituição financeira.

### Visão geral da estrutura de dados  

A lista de agências bancárias é compostas pelos dados descritos abaixo.

- **Marca (Brand)**  
Dados que identificam a instituição financeira detentora das agências.

- **Agência (Branch)**  
Dados que identificam a agência bancária.

- **Endereço (Postal Address)**  
Endereço físico da agência bancária.

- **Disponiblidade (Availability)**  
Dados que exibem o horário de funcionamento e exceções para o não funcionamento da agência bancária.

- **Serviços (Services and Facilities)**  
Dados sobre os serviços prestados pela agência bancária.

### Visão de alto de nível das estruturas de dados

<a href='images/tld/TLD_Branches_v1.png' target="_blank">Imagem da visão de alto nível das estruturas de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBranchesList](#responsebrancheslist)|

<aside class="notice">
Para utilizar essa API não é necessário realizar autenticação.
</aside>