## Listar agências

`GET https://example.com/open-banking/v1/open-data/branches`

Versão |
------ |
1 |

### Descrição

Obtém a lista de agências da instituição financeira

### Top Level Design

<a href='images/tld/TLD_Branches_v1.png' target="_blank">Imagem top level design</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBranchesList](#schemaResponseBranchesList)|