## Dependências Próprias

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/channels/v1/branches HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/channels/v1/branches", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "organization": [
      {
        "name": "The Big Bank Company",
        "companies": [
          {
            "name": "RSR Bank",
            "cnpjNumber": "14684579163",
            "branches": [
              {
                "identification": {
                  "type": "1",
                  "code": "7055",
                  "checkDigit": "0",
                  "name": "Agência Alameda Santos"
                },
                "postalAddress": {
                  "streetType": "Alameda",
                  "streetName": "Santos",
                  "buildingNumber": "1041",
                  "additionalInfo": null,
                  "districtName": "Cerqueira César",
                  "townName": "São Paulo",
                  "countrySubDivision": "SP",
                  "postCode": "01419-002"
                },
                "availability": {
                  "standard": [
                    {
                      "weekday": "Segunda-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Terça-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Quarta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Quinta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    },
                    {
                      "weekday": "Sexta-feira",
                      "openingTime": "13:00:00+0000",
                      "closingTime": "19:00:00+0000"
                    }
                  ],
                  "exceptionAvailability": "Exceto feriados municipais, estaduais e nacionais",
                  "allowPublicAccess": "true",
                  "phones": [
                    {
                      "type": "1",
                      "areaCode": "11",
                      "number": "4444-5555"
                    },
                    {
                      "type": "2",
                      "areaCode": "11",
                      "number": "99999-8888"
                    }
                  ]
                },
                "services": {
                  "codes": [
                    "1",
                    "2"
                  ],
                  "additionalInfo": null
                }
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/channels/v1/branches",
    "first": "https://api.banco.com.br/open-banking/channels/v1/branches",
    "prev": null,
    "next": null,
    "last": "https://api.banco.com.br/open-banking/channels/v1/branches"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /channels/<versão>/branches`

Versão |
------ |
1 |

### Visão Geral

Obtém a lista de dependências próprias da instituição financeira.  

Dependência própria é o espaço físico destinado ao atendimento ao público, podendo ser:  

- Agência
 
  Agência é a dependência destinada ao atendimento aos clientes e ao público em geral no exercício de atividades da instituição, não podendo ser móvel ou transitória;
  Dependência de instituições financeiras e demais instituições, autorizadas a funcionar pelo Banco Central do Brasil, destinada à prática das atividades para as quais a instituição esteja regularmente habilitada.

- Posto de atendimento

  Posto de Atendimento é a dependência subordinada a agência  ou à sede da instituição financeira, destinada ao atendimento ao público no exercício de uma ou mais de suas atividades, podendo ser fixo ou móvel. Segundo Art.15. Os Postos de Atendimento Bancário (PAB), Postos Avançados de Atendimento (PAA), Postos de Atendimento Transitórios (PAT), Postos de Compra de Ouro (PCO), Postos de Atendimento Cooperativo (PAC), Postos de Atendimento de Microcrédito (PAM), Postos Bancários de Arrecadação e Pagamento (PAP) e os Postos de Câmbio atualmente em funcionamento serão considerados PA.

- Posto de atendimento eletrônico

  Posto de Atendimento Eletrônico é a dependência constituída por um ou mais terminais de autoatendimento, subordinada a agência ou à sede da instituição, destinada à prestação de serviços por meio eletrônico, podendo ser fixo ou móvel, permanente ou transitório

A lista de dependências próprias é compostas pelos dados descritos abaixo.

- **Organização (Organization)**  
Dados que identificam a instituição financeira detentora das dependências próprias.

- **Dependência Própria (Companies)**  
Dados que identificam a dependência própria.
Ex.: Tipo, Descrição.

- **Endereço (Postal Address)**  
Endereço físico da dependência própria.

- **Disponiblidade (Availability)**  
Dados que exibem o horário de funcionamento e exceções para o não funcionamento da dependência própria.

- **Serviços Prestados (Services)**  
Dados sobre os serviços prestados pela dependência própria.

### Visão de alto de nível das estruturas de dados

<a href='images/tld/TLD_Branches_v1.png' target="_blank">Imagem da visão de alto nível das estruturas de dados</a>

### Dicionário de dados

<a href='dictionary/branches.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseBranchesList](#schemaResponseBranchesList)|