## Listar Canais de Atendimento Eletrônico

`GET /channels/<versão>/electronic-channels`

```shell
curl "https://example.com/open-banking/channels/v1/electronic-channels"
  -H "Authorization: YOURAUTHTOKEN"
```

```javascript
const channels = require('channels');

let api = channels.authorize('YOURAUTHTOKEN');
let channels = api.channels.get();
```

> O comando acima retorna uma estrutura json como essa:

```json
{
    "brand": {
        "name": "Nome do Banco",
        "identification": "987",
        "channels" : [
            {
                "identification" : {
                    "type": "INTERNET_BANKING",
                    "channelPhoneDDI": "99",
                    "channelPhoneDDD": "99",
                    "channelPhoneNumber": "999999999",
                    "channelURL": "https://example.com/channel"
                },
                "serviceAndFacility" : {
                    "services" : [
                        "ABERTURA_CONTAS",
                        "RECEBIMENTOS",
                        "PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS",
                        "RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA"
                        "INVESTIMENTOS",
                        "SEGUROS"
                    ],
                    "description": "Canal de atendimento 1"
                }
            },
            {
                "identification" : {
                    "type": "Mobile Banking",
                    "channelURL": "https://example.com/mobile-banking"
                },
                "serviceAndFacility" : {
                    "services" : [
                        "RECEBIMENTOS",
                        "PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS",
                        "RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA",
                        "OPERACOES_CREDITO",
                        "CARTAO_CREDITO",
                        "SEGUROS"
                    ],
                    "description": "Canal de atendimento 2"
                }
            }
        ]
    }
}
```

Versão |
--------- |
1  | 


### Descrição

Essas especificações incluem todas as informações relevantes sobre os canais de atendimento eletrônico.
Esse endpoint retorna os possíveis canais de atendimento eletrônicos bem como suas informações de serviços prestados e formas de acesso.

### Visão geral da estrutura de dados

A lista de canais eletrônicos é composta pelos dados descritos abaixo:

- **Marca (Brand)**  
Dados que identificam a instituição financeira detentora das agências.

- **Canal Eletrônico (Channels)**
Dados do canal eletrônico composto pelas informações de contato e serviços

- **Identificação (Identification)** 
Dados contendo o tipo do canal e as informações de contato como telefone e endereço URL

- **Serviços (ServiceAndFacility)**
Dados contendo os serviços disponíveis no canal 


* YYYY
    dasdas dasd asdsa    

### Visão de alto nível das estruturas de dados

<a href='images/tld/TLD_Channels_v1.png' target="_blank">Imagem top level design</a>



### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|


### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponseEletronicChannelsList](#schemaResponseEletronicChannelsList)|
