## Empréstimos pessoas físicas

> Exemplo de código

```http
GET https://api.banco.com.br/open-banking/product-services/v1/personal-loans HTTP/1.1
Host: api.banco.com.br
Accept: application/json

```

```javascript
var req = new XMLHttpRequest();
req.setRequestHeader("Accept", "application/json");
req.open("GET", "https://api.banco.com.br/open-banking/product-services/v1/personal-loans", true);
req.send();

```

> O comando acima retorna uma estrutura json como essa:

```json
{
  "data": {
    "organisation": [
      {
        "name": "Big Banks",
        "companies": [
          {
            "cnpjNumber": 14684579163,
            "name": "Brazil Campany LTDA",
            "personalLoans": [
              {
                "types": "CHEQUE_ESPECIAL",
                "fees": [
                  {
                    "serviceName": "",
                    "serviceCode": "",
                    "chargingTriggerInfo": "",
                    "price": [
                      {
                        "type": "MINIMO",
                        "value": "45,00",
                        "currency": "BRL",
                        "priceInfo": "",
                        "changingUnit": "Por mês"
                      }
                    ]
                  }
                ],
                "interestRates": [
                  {
                    "rate": "",
                    "referencialRate": "",
                    "indexer": "IPCA",
                    "prePostTax": "PRE",
                    "frecuency": "AD",
                    "incomeRateInfo": ""
                  }
                ],
                "requiredWarranties": [
                  "CESSAO_DIR_CRE_DUPLICATAS"
                ],
                "termsConditions": ""
              }
            ]
          }
        ]
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/product-services/v1/personal-loans",
    "first": "https://api.banco.com.br/open-banking/product-services/v1/personal-loans",
    "prev": "string",
    "next": "string",
    "last": "https://api.banco.com.br/open-banking/product-services/v1/personal-loans"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1
  }
}
```

`GET /product-services/<versão>/personal-loans`

Versão |
------ |
1 |

### Visão Geral

### Visão de alto de nível das estruturas de dados

<a href='images/tld/a.png' target="_blank">Imagem da visão de alto nível das estruturas de dados</a>

### Dicionário de dados

<a href='dictionary/a.csv' target="_blank">Fazer download do dicionário de dados</a>

### Parâmetros de entrada

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|

### Resposta

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|OK|Sucesso|[ResponsePersonalLoansList](#schemaResponsePersonalLoansList)|
