<h1 id="fase-1-apis-do-open-banking-brasil">Fase 1 - APIs do Open Banking Brasil v1.0.0</h1>

Para visualizar as especificações das API's do projeto Open Banking Brasil Fase 1, favor acessar o link abaixo:

</h2><a href="https://openbanking-brasil.github.io/areadesenvolvedor-fase1">API's Open Banking Fase 1</a></h2>