<h1 id="monitoramento-apis">Monitoramento - APIs v1.0.2</h1>

Conforme IN nº 130, as APIs de Status, de Outages e Métricas são comuns a todos os participantes do Open Banking Brasil, independentemente da fase de adesão. Portanto, todas as instituições devem publicar essas APIs que monitoram a situação do ambiente. Reforçamos ainda que na API de métricas devem ser reportados os dados de performance de todas demais APIs que a instituição desenvolveu.

  <%= partial "./includes/_common_apis" %>
  <%= partial "./includes/_admin_apis" %>
  
  <h1 id="all-fhases-schemas">Schemas</h1>
 <%= partial "./includes/partials_schemas/all_phases" %>