
<h1 id="fase-4-apis-do-open-banking-brasil">Fase 4 - APIs do Open Banking Brasil v1.0.0-rc1.0</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

Estas APIs visam o compartilhamento de dados sobre Títulos de Capitalização e suas 
características entre as Instituições Financeiras participantes do Open Banking Brasil.    

<h1 id="fase-4-apis-do-open-banking-brasil-api-t-tulos-de-capitaliza-o">API - Títulos de Capitalização</h1>

|Versão|
|:-----|
|1.0.0-rc1.0|

#### Visão Geral

As instituições financeiras participantes podem consultar a lista de Títulos de Capitalização de outras instituições participantes. 

#### Especificação em OAS 3.0

<a href="swagger/swagger_capitalization_bonds_apis.yaml" target="_blank">Download da Especificação (OAS 3.0)</a>

## Conjunto de informações dos Títulos de Capitalização.

<a id="opIdcapitalizationBondsGetProducts"></a>

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://example.com/capitalization-bonds/v1/products");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = { 'Accept': "application/json" }

conn.request("GET", "/capitalization-bonds/v1/products", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://example.com/capitalization-bonds/v1/products")
  .header("Accept", "application/json")
  .asString();
```

`GET /capitalization-bonds/v1/products`

Método para obter a lista de Títulos de Capitalização.

### Dicionário de dados

Campos de resposta do endpoint de `/products`

<a href='dictionary/capitalizationBondsGetProducts_v1.csv' target="_blank">Fazer download do dicionário de dados</a>

Consulte a seção **Convenções de payload** para obter mais informações sobre [Atributos Obrigatórios / Opcionais](#convencoes-de-propriedade-dos-atributos).

<h3 id="conjunto-de-informações-dos-títulos-de-capitalização.-parameters">Parâmetros</h3>

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|page|query|integer(int32)|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer(int32)|false|Quantidade total de registros por páginas.|

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": [
    {
      "participantIdentification": {
        "brand": "",
        "participantName": "",
        "cnpjNumber": ""
      },
      "societyIdentification": {
        "name": "ACME cap da ACME seguros",
        "cnpjNumber": "12345678901234"
      },
      "product": {
        "name": "ACMEcap",
        "productId": "01234589_cap",
        "modality": "TRADICIONAL",
        "paymentTerm": "PAGAMENTO_UNICO"
      }
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}
```

<h3 id="conjunto-de-informações-dos-títulos-de-capitalização.-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Conjunto de informações das Contas de pagamento pós paga|[ResponseCapitalizationBondsProductsList](#schemaresponsecapitalizationbondsproductslist)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|

<aside class="success">
This operation does not require authentication
</aside>

## Obtém os dados do Título de Capitalização por productId.

<a id="opIdcapitalizationBondsGetProductsProductId"></a>

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://example.com/capitalization-bonds/v1/products/string");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = { 'Accept': "application/json" }

conn.request("GET", "/capitalization-bonds/v1/products/string", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://example.com/capitalization-bonds/v1/products/string")
  .header("Accept", "application/json")
  .asString();
```

`GET /capitalization-bonds/v1/products/{productId}`

Método para obter os dados do Título de Capitalização por productId.

### Dicionário de dados

Campos de resposta do endpoint de `/products/{productId}`

<a href='dictionary/capitalizationBondsGetProductsProductId_v1.csv' target="_blank">Fazer download do dicionário de dados</a>

Consulte a seção **Convenções de payload** para obter mais informações sobre [Atributos Obrigatórios / Opcionais](#convencoes-de-propriedade-dos-atributos).

<h3 id="obtém-os-dados-do-título-de-capitalização-por-productid.-parameters">Parâmetros</h3>

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|productId|path|string|true|Identifica de forma única um Título de Capitalização|

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": {
    "termsAndConditions": {
      "susepNumber": "15414.622222/2222-22",
      "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
    },
    "quotas": {
      "tranche": 999,
      "capitalization": 100000.04,
      "drawing": 100000.04,
      "loadingRate": 100000.04
    },
    "periodMonths": 48,
    "serieSize": 5000000000,
    "capitalizationPeriod": {
      "interestRate": 0.25123,
      "adjustmentIndex": "IGPM_FGV",
      "adjustmentIndexOthers": "",
      "contributionMinimum": 5000,
      "contributionAmountMaximum": 5000,
      "contributionAmountAllowed": 5000,
      "earlyRedemption": 99,
      "finalRedemptionRate": 100.002,
      "redemptionGraceMonths": 999,
      "periodUpdateIndex": "IPCA_IBGE"
    },
    "latePayment": {
      "suspensionMonths": 999,
      "periodExtensionOption": "999"
    },
    "contributionPayment": {
      "paymentMethod": "CARTAO_DE_CREDITO",
      "adjustmentIndex": 99,
      "updateIndex": "IPCA_IBGE"
    },
    "draws": {
      "periodicity": "UNICO",
      "periodicityOthers": 99999,
      "quantity": 99999,
      "prizeMultiplier": 999999,
      "earlyRedemption": "SIM",
      "mandatoryDraw": "SIM",
      "additionalConditions": "",
      "minimumProbability": 0.000001
    },
    "additionalInfo": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
    "minimumRequirement": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
    "targetAudience": "PESSOA_NATURAL",
    "finalRedemptionRate": 151.23
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}
```

<h3 id="obtém-os-dados-do-título-de-capitalização-por-productid.-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de identificação da conta identificada por creditCardAccountId obtidos com sucesso.|[ResponseCapitalizationBondsProductIdentification](#schemaresponsecapitalizationbondsproductidentification)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|

<aside class="success">
This operation does not require authentication
</aside>

<h1 id="fase-4-apis-do-open-banking-brasil-schemas">Schemas</h1>

<h2 id="tocS_ResponseCapitalizationBondsProductsList">ResponseCapitalizationBondsProductsList</h2>

<a id="schemaresponsecapitalizationbondsproductslist"></a>
<a id="schema_ResponseCapitalizationBondsProductsList"></a>
<a id="tocSresponsecapitalizationbondsproductslist"></a>
<a id="tocsresponsecapitalizationbondsproductslist"></a>

```json
{
  "data": [
    {
      "participantIdentification": {
        "brand": "",
        "participantName": "",
        "cnpjNumber": ""
      },
      "societyIdentification": {
        "name": "ACME cap da ACME seguros",
        "cnpjNumber": "12345678901234"
      },
      "product": {
        "name": "ACMEcap",
        "productId": "01234589_cap",
        "modality": "TRADICIONAL",
        "paymentTerm": "PAGAMENTO_UNICO"
      }
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|[[CapitalizationBondsProductData](#schemacapitalizationbondsproductdata)]|true|Conjunto de informações do Título de Capitalização|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|Meta informações referente à API requisitada.|

<h2 id="tocS_CapitalizationBondsProductData">CapitalizationBondsProductData</h2>

<a id="schemacapitalizationbondsproductdata"></a>
<a id="schema_CapitalizationBondsProductData"></a>
<a id="tocScapitalizationbondsproductdata"></a>
<a id="tocscapitalizationbondsproductdata"></a>

```json
{
  "participantIdentification": {
    "brand": "",
    "participantName": "",
    "cnpjNumber": ""
  },
  "societyIdentification": {
    "name": "ACME cap da ACME seguros",
    "cnpjNumber": "12345678901234"
  },
  "product": {
    "name": "ACMEcap",
    "productId": "01234589_cap",
    "modality": "TRADICIONAL",
    "paymentTerm": "PAGAMENTO_UNICO"
  }
}

```

Conjunto de informações do Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|participantIdentification|[CapitalizationBondsParticipantIdentification](#schemacapitalizationbondsparticipantidentification)|true|Conjunto de informações relativas ao Título de Capitalização|
|societyIdentification|[CapitalizationBondsInsuranceCompanyIdentification](#schemacapitalizationbondsinsurancecompanyidentification)|true|Conjunto de informações relativas ao Título de Capitalização|
|product|[CapitalizationBondsProduct](#schemacapitalizationbondsproduct)|true|Conjunto de informações relativas aos Títulos de Capitalização|

<h2 id="tocS_CapitalizationBondsParticipantIdentification">CapitalizationBondsParticipantIdentification</h2>

<a id="schemacapitalizationbondsparticipantidentification"></a>
<a id="schema_CapitalizationBondsParticipantIdentification"></a>
<a id="tocScapitalizationbondsparticipantidentification"></a>
<a id="tocscapitalizationbondsparticipantidentification"></a>

```json
{
  "brand": "",
  "participantName": "",
  "cnpjNumber": ""
}

```

Conjunto de informações relativas ao Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|brand|string|true|Nome da marca reportada pelo participante do Open Banking. O conceito a que se refere a 'marca' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.|
|participantName|string|true|Nome da Instituição, pertencente à marca, responsável pela comercialização do produto/serviço.<br>p.ex.'Empresa da Organização A'|
|cnpjNumber|string|true|Número completo do CNPJ da instituição. O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.|

<h2 id="tocS_CapitalizationBondsInsuranceCompanyIdentification">CapitalizationBondsInsuranceCompanyIdentification</h2>

<a id="schemacapitalizationbondsinsurancecompanyidentification"></a>
<a id="schema_CapitalizationBondsInsuranceCompanyIdentification"></a>
<a id="tocScapitalizationbondsinsurancecompanyidentification"></a>
<a id="tocscapitalizationbondsinsurancecompanyidentification"></a>

```json
{
  "name": "ACME cap da ACME seguros",
  "cnpjNumber": "12345678901234"
}

```

Conjunto de informações relativas ao Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|string|true|Nome da Sociedade Seguradora. <br>p. ex. ‘Sociedade A'|
|cnpjNumber|string|true|Número completo do CNPJ da instituição. O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.|

<h2 id="tocS_CapitalizationBondsProduct">CapitalizationBondsProduct</h2>

<a id="schemacapitalizationbondsproduct"></a>
<a id="schema_CapitalizationBondsProduct"></a>
<a id="tocScapitalizationbondsproduct"></a>
<a id="tocscapitalizationbondsproduct"></a>

```json
{
  "name": "ACMEcap",
  "productId": "01234589_cap",
  "modality": "TRADICIONAL",
  "paymentTerm": "PAGAMENTO_UNICO"
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|string|true|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|productId|string|true|Código único a ser definido pela sociedade.|
|modality|[EnumCapitalizationBondsProductModality](#schemaenumcapitalizationbondsproductmodality)|true|1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)<br>2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)<br>3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)<br>4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)<br>5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)<br>6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)|
|paymentTerm|string|true|Pagamento efetuado ao subscritor à sociedade de capitalização para aquisição do título de capitalização, podendo ser única, periódica ou mensal.<br>1. Pagamento Único<br>2. Pagamento Mensal<br>3. Pagamento Periódico|

#### Enumerated Values

|Nome|Código|
|---|---|
|paymentTerm|PAGAMENTO_UNICO|
|paymentTerm|PAGAMENTO_MENSAL|
|paymentTerm|PAGAMENTO_PERIODICO|

<h2 id="tocS_EnumCapitalizationBondsProductModality">EnumCapitalizationBondsProductModality</h2>

<a id="schemaenumcapitalizationbondsproductmodality"></a>
<a id="schema_EnumCapitalizationBondsProductModality"></a>
<a id="tocSenumcapitalizationbondsproductmodality"></a>
<a id="tocsenumcapitalizationbondsproductmodality"></a>

```json
"TRADICIONAL"

```

1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)
2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)
3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)
4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)
5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)
6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)<br>2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)<br>3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)<br>4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)<br>5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)<br>6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|TRADICIONAL|
|**|INSTRUMENTO_DE_GARANTIA|
|**|COMPRA_PROGRAMADA|
|**|POPULAR|
|**|INCENTIVO|
|**|FILANTROPIA|
|**|PREMIAVEL|

<h2 id="tocS_EnumCapitalizationBondsProductPaymentFrequency">EnumCapitalizationBondsProductPaymentFrequency</h2>

<a id="schemaenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="schema_EnumCapitalizationBondsProductPaymentFrequency"></a>
<a id="tocSenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="tocsenumcapitalizationbondsproductpaymentfrequency"></a>

```json
"SINGLE_PAYMENT"

```

Descrição do campo

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Descrição do campo|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|SINGLE_PAYMENT|
|**|MONTHLY_PAYMENT|
|**|PERIODIC_PAYMENT|

<h2 id="tocS_ResponseCapitalizationBondsProductIdentification">ResponseCapitalizationBondsProductIdentification</h2>

<a id="schemaresponsecapitalizationbondsproductidentification"></a>
<a id="schema_ResponseCapitalizationBondsProductIdentification"></a>
<a id="tocSresponsecapitalizationbondsproductidentification"></a>
<a id="tocsresponsecapitalizationbondsproductidentification"></a>

```json
{
  "data": {
    "termsAndConditions": {
      "susepNumber": "15414.622222/2222-22",
      "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
    },
    "quotas": {
      "tranche": 999,
      "capitalization": 100000.04,
      "drawing": 100000.04,
      "loadingRate": 100000.04
    },
    "periodMonths": 48,
    "serieSize": 5000000000,
    "capitalizationPeriod": {
      "interestRate": 0.25123,
      "adjustmentIndex": "IGPM_FGV",
      "adjustmentIndexOthers": "",
      "contributionMinimum": 5000,
      "contributionAmountMaximum": 5000,
      "contributionAmountAllowed": 5000,
      "earlyRedemption": 99,
      "finalRedemptionRate": 100.002,
      "redemptionGraceMonths": 999,
      "periodUpdateIndex": "IPCA_IBGE"
    },
    "latePayment": {
      "suspensionMonths": 999,
      "periodExtensionOption": "999"
    },
    "contributionPayment": {
      "paymentMethod": "CARTAO_DE_CREDITO",
      "adjustmentIndex": 99,
      "updateIndex": "IPCA_IBGE"
    },
    "draws": {
      "periodicity": "UNICO",
      "periodicityOthers": 99999,
      "quantity": 99999,
      "prizeMultiplier": 999999,
      "earlyRedemption": "SIM",
      "mandatoryDraw": "SIM",
      "additionalConditions": "",
      "minimumProbability": 0.000001
    },
    "additionalInfo": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
    "minimumRequirement": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
    "targetAudience": "PESSOA_NATURAL",
    "finalRedemptionRate": 151.23
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|object|true|Conjunto de informações do Título de Capitalização|
|» termsAndConditions|object|true|Conjunto de informações relativas ao Título de Capitalização|
|»» susepNumber|string|true|Sequência numérica utilizada para consulta dos processos eletrônicos na SUSEP com caracteres especiais, conforme campo de consulta no site da SUSEP(15414.6XXXXX/AAAA-DV).|
|»» generalConditions|string|true|Conjunto de cláusulas que regem um mesmo título de capitalização, estabelecendo obrigações e direitos, da sociedade de capitalização, do titular, e do subscritor. Campo aberto (possibilidade de incluir URL).<br>Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance foi adotado a metade deste tamanho (1024 caracteres).|
|» quotas|object|true|Conjunto de informações relativas ao Título de Capitalização|
|»» tranche|integer|true|Número da parcela.|
|»» capitalization|number(double)|true|Percentual da contribuição destinado à constituição de capital referente ao direito de resgate. (Resolução CNSP 384/20) Em porcentagem(%).|
|»» drawing|number(double)|true|Percentual da contribuição destinado a custear os sorteios, se previstos no plano. (Resolução CNSP 384/20) Em porcentagem(%).|
|»» loadingRate|number(double)|true|Percentual da contribuição destinado aos custos de despesas com corretagem, colocação e administração do título de capitalização, emissão, divulgação, lucro da sociedade de capitalização e eventuais despesas relativas ao custeio da contemplação obrigatória e da distribuição de bônus. (Resolução CNSP 384/20) Em porcentagem(%).|
|» periodMonths|number|true|Período entre a data de início e a data final para constituição do capital a ser pago ao(s) titular(es) do direito de resgate. Prazo de vigência do título de capitalização em meses (Resolução CNSP 384/20). Em meses.|
|» serieSize|integer|false|Os títulos de capitalização que prevejam sorteio devem ser estruturados em séries, ou seja, em sequências ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.|
|» capitalizationPeriod|object|true|Conjunto de informações relativas ao Título de Capitalização|
|»» interestRate|number(double)|true|Taxa que remunera a parte da mensalidade destinada a formar o Capital, ou seja, a Provisão Matemática de Resgate, também chamada de saldo de capitalização. Em porcentagem ao mês (% a.m.).|
|»» adjustmentIndex|string|true|Índice utilizado na correção que remunera a provisão matemática para capitalização.<br>  1. IPCA (IBGE)<br>  2. IGP M (FGV)<br>  3. INPC (IBGE)<br>  4. TR (BC)<br>  5. Índice de remuneração dos depósitos de poupança<br>  6. Outros|
|»» adjustmentIndexOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘Índice de atualização’.|
|»» contributionMinimum|number|true|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor mínimo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|»» contributionAmountMaximum|number|true|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|»» contributionAmountAllowed|number|true|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor mínimo e máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|»» earlyRedemption|number|true|Possibilidade de o titular efetuar o resgate do capital constituído antes do fim do prazo de vigência do título, podendo ocorrer por solicitação expressa do titular ou por contemplação em sorteio com liquidação antecipada (Resolução CNSP 384/20). Em percentuais a cada parcela (meses de vigência) - Obs No caso de garantia, não contempla a extinção antecipada do contrato.|
|»» finalRedemptionRate|number(double)|true|Percentual mínimo da soma das contribuições efetuadas que poderá ser resgatado ao final da vigência, tendo como condição os pagamentos das parcelas nos respectivos vencimentos.|
|»» redemptionGraceMonths|number|true|Intervalo de tempo mínimo entre contratação e resgate do direito, em meses.|
|»» periodUpdateIndex|string|true|...|
|» latePayment|object|true|Conjunto de informações relativas aos Títulos de Capitalização|
|»» suspensionMonths|number|true|Conforme manual SUSEP: Prazo máximo (contínuo ou intermitente) em dias em meses que o título fica suspenso por atraso de pagamento, antes de ser cancelado (não aplicável a pagamento único).|
|»» periodExtensionOption|string|true|Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único). A considerar os seguintes domínios: <br>  1. Sim<br>  2. Não|
|» contributionPayment|object|true|Conjunto de informações relativas aos Títulos de Capitalização|
|»» paymentMethod|string|true|Meio de Pagamento utilizado para pagamento da contribuição. A considerar os domínios abaixo:<br>  1. Cartão de Crédito<br>  2. Cartão de Débito<br>  3. Débito em conta corrente<br>  4. Débito em conta poupança<br>  5. Boleto bancário<br>  6. PIX<br>  7. Consignação em Folha de Pagamento<br>  8. Pontos de Programas de Benefício<br>  9. Outros|
|»» adjustmentIndex|number|false|Lista string a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘Meio de pagamento’.|
|»» updateIndex|string|false|Índice utilizado na atualização dos pagamentos mensais (para títulos com mais de 12 meses de vigência) (não aplicável a pagamento único). A considerar os domínios abaixo:<br>  1. IPCA (IBGE)<br>  2. IGP M (FGV)<br>  3. INPC (IBGE)<br>  4. TR (BC)<br>  5. Outros|
|» draws|object|true|Conjunto de informações relativas aos Títulos de Capitalização|
|»» periodicity|string|true|Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:<br>  Único<br>  Diário<br>  Semanal<br>  Quinzenal<br>  Mensal<br>  Bimestral<br>  Trimestral<br>  QuadrimestraL<br>  Semestral<br>  Anual<br>  Outros|
|»» periodicityOthers|number|true|Lista string a ser preenchida pelas participantes quando houver ‘Outros’ no campo‘Informações - Periodicidade’.|
|»» quantity|number|true|Número da quantidade de sorteios previstos ao longo da vigência.|
|»» prizeMultiplier|number|true|Valor dos sorteios representado por múltiplo do valor de contribuição. Por exemplo: 5 vezes valor da contribuição|
|»» earlyRedemption|string|true|Modelo de sorteio que acarreta, ao título contemplado, o seu resgate total obrigatório (Resolução Normativa 384/20). Conforme os domínios:<br>  1. SIM <br>  2. NAO|
|»» mandatoryDraw|string|true|Possibilidade de realização de sorteio com previsão de que o título sorteado seja<br>obrigatoriamente um título comercializado, desde que atingidos os requisitos definidos nas<br>condições gerais do plano. Conforme os domínios:<br>  1. SIM <br>  2. NÃO|
|»» additionalConditions|string|true|Campo aberto para complementar a regra dos sorteios do produto, a ser feita para cada participante.|
|»» minimumProbability|number(double)|true|Número representativo da probabilidade mínima de contemplação nos sorteios, em porcentagem (%).|
|» additionalInfo|string|true|Campo aberto (possibilidade de incluir URL) Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). tamanho p.ex.  ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.|
|» minimumRequirement|string|true|Campo aberto (possibilidade de incluir URL).<br>Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). <br>tamanho. p.ex. ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.’|
|» targetAudience|string|true|Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.|
|» finalRedemptionRate|number(double)|true|Valor percentual (%) de resgate final permitido.|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|Meta informações referente à API requisitada.|

#### Enumerated Values

|Nome|Código|
|---|---|
|adjustmentIndex|IGPM_FGV|
|adjustmentIndex|INPC_IBGE|
|adjustmentIndex|TR_BC|
|adjustmentIndex|INDICE_DE_REMUNERACAO_DOS_DEPOSITOS_DE_POUPANCA|
|adjustmentIndex|OUTROS|
|periodUpdateIndex|IPCA_IBGE|
|periodUpdateIndex|IGPM_FGV|
|periodUpdateIndex|INPC_IBGE|
|periodUpdateIndex|TR_BC|
|periodUpdateIndex|SAVINGS_DEPOSITS_REMUNERATION_TAX|
|periodUpdateIndex|OTHER|
|paymentMethod|CARTAO_DE_CREDITO|
|paymentMethod|CARTAO_DE_DEBITO|
|paymentMethod|DEBITO_EM_CONTA_CORRENTE|
|paymentMethod|DEBITO_EM_CONTA_POUPANCA|
|paymentMethod|BOLETO_BANCARIO|
|paymentMethod|PIX|
|paymentMethod|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|paymentMethod|PONTOS_DE_PROGRAMAS_DE_BENEFICIO|
|paymentMethod|OUTROS|
|updateIndex|IPCA_IBGE|
|updateIndex|IGPM_FGV|
|updateIndex|INPC_IBGE|
|updateIndex|TR_BC|
|updateIndex|OUTROS|
|periodicity|UNICO|
|periodicity|DIARIO|
|periodicity|SEMANAL|
|periodicity|QUINZENAL|
|periodicity|MENSAL|
|periodicity|BIMESTRAL|
|periodicity|TRIMESTRAL|
|periodicity|QUADRIMESTRAL|
|periodicity|SEMESTRAL|
|periodicity|ANUAL|
|periodicity|OUTROS|
|targetAudience|PESSOA_NATURAL|
|targetAudience|PESSOA_JURIDICA|

<h2 id="tocS_Links">Links</h2>

<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.banco.com.br/open-banking/api/v1/resource",
  "first": "https://api.banco.com.br/open-banking/api/v1/resource",
  "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
  "next": "https://api.banco.com.br/open-banking/api/v1/resource",
  "last": "https://api.banco.com.br/open-banking/api/v1/resource"
}

```

Referências para outros recusos da API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|self|string(uri)|true|URI completo que gerou a resposta atual.|
|first|string(uri)|false|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Meta">Meta</h2>

<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1,
  "requestDateTime": "2021-05-21T08:30:00Z"
}

```

Meta informações referente à API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|Número total de registros no resultado|
|totalPages|integer(int32)|true|Número total de páginas no resultado|
|requestDateTime|string(date-time)|true|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|

<h2 id="tocS_ResponseError">ResponseError</h2>

<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|errors|[object]|true||
|» code|string|true|Código de erro específico do endpoint|
|» title|string|true|Título legível por humanos deste erro específico|
|» detail|string|true|Descrição legível por humanos deste erro específico|
|meta|[Meta](#schemameta)|false|Meta informações referente à API requisitada.|

