
<h1 id="fase-4-apis-do-open-banking-brasil">Fase 4 - APIs do Open Banking Brasil v1.0.0-rc1.0</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

Estas APIs visam o compartilhamento de dados sobre Títulos de Capitalização e suas
características entre as Instituições Financeiras participantes do Open Banking Brasil

<h1 id="fase-4-apis-do-open-banking-brasil-api-t-tulos-de-capitaliza-o">API - Títulos de Capitalização</h1>

|Versão|
|:-----|
|1.0.0-rc1.0|

#### Visão Geral

As instituições financeiras participantes podem consultar a lista de Títulos de Capitalização de outras instituições participantes

#### Especificação em OAS 3.0

<a href="swagger/swagger_capitalization_bonds_apis.yaml" target="_blank">Download da Especificação (OAS 3.0)</a>

## Lista de títulos de capitalização

<a id="opIdcapitalizationBondsGetProducts"></a>

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://example.com/capitalization-bonds/v1/products");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = { 'Accept': "application/json" }

conn.request("GET", "/capitalization-bonds/v1/products", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://example.com/capitalization-bonds/v1/products")
  .header("Accept", "application/json")
  .asString();
```

`GET /capitalization-bonds/v1/products`

Método para obter a lista de todos os títulos de Capitalização de uma instituição

### Dicionário de dados

Campos de resposta do endpoint de `/products`

<a href='dictionary/capitalizationBondsGetProducts_v1.csv' target="_blank">Fazer download do dicionário de dados</a>

Consulte a seção **Convenções de payload** para obter mais informações sobre [Atributos Obrigatórios / Opcionais](#convencoes-de-propriedade-dos-atributos).

<h3 id="lista-de-títulos-de-capitalização-parameters">Parâmetros</h3>

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|page|query|integer(int32)|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer(int32)|false|Quantidade total de registros por páginas.|

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": [
    {
      "product": {
        "name": "ACMEcap",
        "productId": "01234589_cap",
        "modality": "TRADICIONAL",
        "paymentTerm": "PAGAMENTO_UNICO"
      },
      "termsAndConditions": {
        "susepNumber": "15414.622222/2222-22",
        "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
      },
      "quotas": [
        {
          "tranche": 999,
          "capitalization": 10.000001,
          "drawing": 10.000001,
          "loadingRate": 10.000001
        }
      ],
      "periodMonths": 999,
      "serieSize": 5000000000,
      "capitalizationPeriod": {
        "interestRate": 0.25123,
        "adjustmentIndex": "IPCA_IBGE",
        "adjustmentIndexOthers": "",
        "contributionAmount": {
          "periodicity": "SEMANAL",
          "periodicityOthers": "",
          "minimum": 500,
          "maximum": 5000,
          "allowed": [
            500
          ]
        },
        "earlyRedemptions": [
          {
            "tranche": 1,
            "rate": 10.000001
          }
        ],
        "finalRedemptionRate": 100.002,
        "redemptionGraceMonths": 999
      },
      "latePayment": {
        "suspensionMonths": 999,
        "periodExtensionOption": "SIM"
      },
      "contributionPayment": {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentMethodOthers": "",
        "adjustmentIndex": "IPCA_IBGE",
        "adjustmentIndexOthers": ""
      },
      "finalRedemptionRate": 151.23,
      "draws": [
        {
          "periodicity": "SEMANAL",
          "periodicityOthers": "",
          "quantity": 99999,
          "prizeMultiplier": 999999,
          "earlyRedemption": "SIM",
          "mandatoryDraw": "SIM",
          "additionalConditions": "Sorteio aos Sábados",
          "minimumProbability": 0.000001
        }
      ],
      "additionalInfo": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
      "minimumRequirements": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
      "targetAudience": [
        "PESSOA_NATURAL"
      ]
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}
```

<h3 id="lista-de-títulos-de-capitalização-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de título(s) de capitalização obtidos com sucesso.|[ResponseCapitalizationBondsProductsList](#schemaresponsecapitalizationbondsproductslist)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|

<h1 id="fase-4-apis-do-open-banking-brasil-api-c-mbio-e-credenciamento">API - Câmbio e Credenciamento</h1>

|Versão|
|:-----|
|1.0.0-rc1.0|

#### Visão Geral

As instituições financeiras participantes podem consultar as informações de câmbio de outras instituições participantes

#### Especificação em OAS 3.0

<a href="swagger/swagger_exchange_and_acquiring_services_apis.yaml" target="_blank">Download da Especificação (OAS 3.0)</a>

## Conjunto de informações de Câmbio.

<a id="opIdgetExchange"></a>

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://example.com/exchange-and-acquiring-services/v1/exchange");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = { 'Accept': "application/json" }

conn.request("GET", "/exchange-and-acquiring-services/v1/exchange", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://example.com/exchange-and-acquiring-services/v1/exchange")
  .header("Accept", "application/json")
  .asString();
```

`GET /exchange-and-acquiring-services/v1/exchange`

Método para disponibilizar o valor VET.

 ### Dicionário de dados

 Campos de resposta do endpoint de `/exchange`

 <a href='dictionary/exchangeAndAcquiringServicesGetExchange_v1.csv' target="_blank">Fazer download do dicionário de dados</a>

 Consulte a seção **Convenções de payload** para obter mais informações sobre [Atributos Obrigatórios / Opcionais](#convencoes-de-propriedade-dos-atributos).

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": {
    "participantIdentification": {
      "brand": "NA",
      "name": "NA",
      "cnpjNumber": "NA"
    },
    "transactionType": "COMPRA",
    "foreignCurrency": "USD",
    "transactionCategory": "COMERCIO_EXTERIOR",
    "deliveryForeignCurrency": "ESPECIE_CARTAO_PRE_PAGO",
    "rangeTransactionCategory": "0,01_200",
    "targetAudience": "PF",
    "vetAmount": 5.5023,
    "onlineRate": [
      {
        "term": "D+2",
        "foreignCurrency": "USD",
        "transactionType": "COMPRA",
        "targetAudience": "PF",
        "value": 5.5023
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  }
}
```

<h3 id="conjunto-de-informações-de-câmbio.-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Dados de operações de câmbio da instituição obtidos com sucesso.|[OKResponseGetExchange](#schemaokresponsegetexchange)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|

## Conjunto de informações de Credenciamento.

<a id="opIdgetAcquiringServices"></a>

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("GET", "https://example.com/exchange-and-acquiring-services/v1/acquiring-services");
xhr.setRequestHeader("Accept", "application/json");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = { 'Accept': "application/json" }

conn.request("GET", "/exchange-and-acquiring-services/v1/acquiring-services", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.get("https://example.com/exchange-and-acquiring-services/v1/acquiring-services")
  .header("Accept", "application/json")
  .asString();
```

`GET /exchange-and-acquiring-services/v1/acquiring-services`

Método para disponibilizar as taxas e tarifas por serviços.

 ### Dicionário de dados

 Campos de resposta do endpoint de `/acquiring-services`

 <a href='dictionary/exchangeAndAcquiringServicesGetAcquiringServices_v1.csv' target="_blank">Fazer download do dicionário de dados</a>

 Consulte a seção **Convenções de payload** para obter mais informações sobre [Atributos Obrigatórios / Opcionais](#convencoes-de-propriedade-dos-atributos).

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": {
    "name": "TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO",
    "code": "MDR_CREDITO",
    "price": [
      {
        "interval": "1_FAIXA",
        "value": 0.0203,
        "rate": 0.5
      }
    ],
    "chargingTriggerInfo": "NA",
    "minimum": 0,
    "maximum": 0
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  }
}
```

<h3 id="conjunto-de-informações-de-credenciamento.-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Taxas e tarifas por serviços obtidos com sucesso.|[OKResponseGetAcquiringServices](#schemaokresponsegetacquiringservices)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|

<h1 id="fase-4-apis-do-open-banking-brasil-schemas">Schemas</h1>

<h2 id="tocS_OKResponseGetAcquiringServices">OKResponseGetAcquiringServices</h2>

<a id="schemaokresponsegetacquiringservices"></a>
<a id="schema_OKResponseGetAcquiringServices"></a>
<a id="tocSokresponsegetacquiringservices"></a>
<a id="tocsokresponsegetacquiringservices"></a>

```json
{
  "data": {
    "name": "TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO",
    "code": "MDR_CREDITO",
    "price": [
      {
        "interval": "1_FAIXA",
        "value": 0.0203,
        "rate": 0.5
      }
    ],
    "chargingTriggerInfo": "NA",
    "minimum": 0,
    "maximum": 0
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|[AcquiringServicesContractData](#schemaacquiringservicescontractdata)|true|Conjunto de informações referentes às informações de credenciamento|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|

<h2 id="tocS_AcquiringServicesContractData">AcquiringServicesContractData</h2>

<a id="schemaacquiringservicescontractdata"></a>
<a id="schema_AcquiringServicesContractData"></a>
<a id="tocSacquiringservicescontractdata"></a>
<a id="tocsacquiringservicescontractdata"></a>

```json
{
  "name": "TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO",
  "code": "MDR_CREDITO",
  "price": [
    {
      "interval": "1_FAIXA",
      "value": 0.0203,
      "rate": 0.5
    }
  ],
  "chargingTriggerInfo": "NA",
  "minimum": 0,
  "maximum": 0
}

```

Conjunto de informações referentes às informações de credenciamento

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|[EnumAcquiringServicesName](#schemaenumacquiringservicesname)|true|Nome da tarifa cobrada sobre o serviço de credenciamento, para pessoa física/jurídica.<br>1. Taxa de Desconto na Modalidade Crédito<br>2. Taxa de Desconto na Modalidade Débito|
|code|[EnumAcquiringServicesCode](#schemaenumacquiringservicescode)|true|Sigla da Tarifa cobrada sobre o Serviço de Credenciamento informado.|
|price|[[Price](#schemaprice)]|false|[4 Faixas de igual tamanho, com suas respectivas medianas e percentuais de clientes.]|
|chargingTriggerInfo|string|true|Recebimento através de transação de cartão.|
|minimum|number|false||
|maximum|number|false||

<h2 id="tocS_Price">Price</h2>

<a id="schemaprice"></a>
<a id="schema_Price"></a>
<a id="tocSprice"></a>
<a id="tocsprice"></a>

```json
{
  "interval": "1_FAIXA",
  "value": 0.0203,
  "rate": 0.5
}

```

4 Faixas de igual tamanho, com suas respectivas medianas e percentuais de clientes.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|interval|[EnumAcquiringServicesInterval](#schemaenumacquiringservicesinterval)|true|Identificação do intervalo a ser exibido.|
|value|number|true||
|rate|number|true||

<h2 id="tocS_EnumAcquiringServicesCode">EnumAcquiringServicesCode</h2>

<a id="schemaenumacquiringservicescode"></a>
<a id="schema_EnumAcquiringServicesCode"></a>
<a id="tocSenumacquiringservicescode"></a>
<a id="tocsenumacquiringservicescode"></a>

```json
"MDR_CREDITO"

```

Sigla da Tarifa cobrada sobre o Serviço de Credenciamento informado.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Sigla da Tarifa cobrada sobre o Serviço de Credenciamento informado.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|MDR_CREDITO|
|**|MDR_DEBITO|

<h2 id="tocS_EnumAcquiringServicesInterval">EnumAcquiringServicesInterval</h2>

<a id="schemaenumacquiringservicesinterval"></a>
<a id="schema_EnumAcquiringServicesInterval"></a>
<a id="tocSenumacquiringservicesinterval"></a>
<a id="tocsenumacquiringservicesinterval"></a>

```json
"1_FAIXA"

```

Identificação do intervalo a ser exibido.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Identificação do intervalo a ser exibido.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|1_FAIXA|
|**|2_FAIXA|
|**|3_FAIXA|
|**|4_FAIXA|

<h2 id="tocS_EnumAcquiringServicesName">EnumAcquiringServicesName</h2>

<a id="schemaenumacquiringservicesname"></a>
<a id="schema_EnumAcquiringServicesName"></a>
<a id="tocSenumacquiringservicesname"></a>
<a id="tocsenumacquiringservicesname"></a>

```json
"TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO"

```

Nome da tarifa cobrada sobre o serviço de credenciamento, para pessoa física/jurídica.
1. Taxa de Desconto na Modalidade Crédito
2. Taxa de Desconto na Modalidade Débito

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Nome da tarifa cobrada sobre o serviço de credenciamento, para pessoa física/jurídica.<br>1. Taxa de Desconto na Modalidade Crédito<br>2. Taxa de Desconto na Modalidade Débito|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|TAXA_DE_DESCONTO_NA_MODALIDADE_CREDITO|
|**|TAXA_DE_DESCONTO_NA_MODALIDADE_DEBITO|

<h2 id="tocS_OKResponseGetExchange">OKResponseGetExchange</h2>

<a id="schemaokresponsegetexchange"></a>
<a id="schema_OKResponseGetExchange"></a>
<a id="tocSokresponsegetexchange"></a>
<a id="tocsokresponsegetexchange"></a>

```json
{
  "data": {
    "participantIdentification": {
      "brand": "NA",
      "name": "NA",
      "cnpjNumber": "NA"
    },
    "transactionType": "COMPRA",
    "foreignCurrency": "USD",
    "transactionCategory": "COMERCIO_EXTERIOR",
    "deliveryForeignCurrency": "ESPECIE_CARTAO_PRE_PAGO",
    "rangeTransactionCategory": "0,01_200",
    "targetAudience": "PF",
    "vetAmount": 5.5023,
    "onlineRate": [
      {
        "term": "D+2",
        "foreignCurrency": "USD",
        "transactionType": "COMPRA",
        "targetAudience": "PF",
        "value": 5.5023
      }
    ]
  },
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|[ExchangeContractData](#schemaexchangecontractdata)|true|Conjunto de informações referentes às informações de câmbio|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|

<h2 id="tocS_ExchangeContractData">ExchangeContractData</h2>

<a id="schemaexchangecontractdata"></a>
<a id="schema_ExchangeContractData"></a>
<a id="tocSexchangecontractdata"></a>
<a id="tocsexchangecontractdata"></a>

```json
{
  "participantIdentification": {
    "brand": "NA",
    "name": "NA",
    "cnpjNumber": "NA"
  },
  "transactionType": "COMPRA",
  "foreignCurrency": "USD",
  "transactionCategory": "COMERCIO_EXTERIOR",
  "deliveryForeignCurrency": "ESPECIE_CARTAO_PRE_PAGO",
  "rangeTransactionCategory": "0,01_200",
  "targetAudience": "PF",
  "vetAmount": 5.5023,
  "onlineRate": [
    {
      "term": "D+2",
      "foreignCurrency": "USD",
      "transactionType": "COMPRA",
      "targetAudience": "PF",
      "value": 5.5023
    }
  ]
}

```

Conjunto de informações referentes às informações de câmbio

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|participantIdentification|[ParticipantIdentification](#schemaparticipantidentification)|true|Objeto de identificação do participante OB.|
|transactionType|[EnumExchangeTransactionType](#schemaenumexchangetransactiontype)|true|"Determina se o Banco está comprando ou vendendo a moeda estrangeira nas operações<br>spot,  que se liquidam em até dois dias (não aplica-se a operações futuras. (Vide Enum)<br>- Compra<br>- Venda|
|foreignCurrency|[EnumExchangeForeignCurrency](#schemaenumexchangeforeigncurrency)|true|"É a moeda estrangeira, segundo modelo ISO 4217. (Vide Enum)<br>- USD<br>- EUR|
|transactionCategory|[EnumExchangeTransactionCategory](#schemaenumexchangetransactioncategory)|false|A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013.|
|deliveryForeignCurrency|[EnumExchangeDeliveryForeignCurrency](#schemaenumexchangedeliveryforeigncurrency)|false|"A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013. (Vide Enum)<br>- ESPECIE_CARTAO_PRE_PAGO<br>- TELETRANSMISSAO_SWIFT|
|rangeTransactionCategory|[EnumExchangeRangeTransactionCategory](#schemaenumexchangerangetransactioncategory)|false|A classificação conforme a circular BCB nº 4015.|
|targetAudience|[EnumExchangeTargetAudience](#schemaenumexchangetargetaudience)|false|Média das operações PF/PJ.|
|vetAmount|number|false||
|onlineRate|[[OnlineRate](#schemaonlinerate)]|false|[Taxa disponibilizada (taxa online) pelas instituições no formato D+0/D+2 (valor U$100.000 operações câmbio pronto) separado por moeda dólar e euro compra e venda PF/PJ.]|

<h2 id="tocS_ParticipantIdentification">ParticipantIdentification</h2>

<a id="schemaparticipantidentification"></a>
<a id="schema_ParticipantIdentification"></a>
<a id="tocSparticipantidentification"></a>
<a id="tocsparticipantidentification"></a>

```json
{
  "brand": "NA",
  "name": "NA",
  "cnpjNumber": "NA"
}

```

Objeto de identificação do participante OB.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|brand|string|true|Nome da Marca reportada pelo participante do Open Banking.|
|name|string|true|Nome da Instituição, pertencente à Marca, responsável pela Dependência.|
|cnpjNumber|string|true|Número completo do CNPJ da instituição responsável pela dependência o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.|

<h2 id="tocS_OnlineRate">OnlineRate</h2>

<a id="schemaonlinerate"></a>
<a id="schema_OnlineRate"></a>
<a id="tocSonlinerate"></a>
<a id="tocsonlinerate"></a>

```json
{
  "term": "D+2",
  "foreignCurrency": "USD",
  "transactionType": "COMPRA",
  "targetAudience": "PF",
  "value": 5.5023
}

```

Taxa disponibilizada (taxa online) pelas instituições no formato D+0/D+2 (valor U$100.000 operações câmbio pronto) separado por moeda dólar e euro compra e venda PF/PJ.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|term|string|true|Formato da taxa online.|
|foreignCurrency|string|true|"É a moeda estrangeira, segundo modelo ISO 4217. (Vide Enum)<br>- USD<br>- EUR|
|transactionType|string|true|"Determina se o Banco está comprando ou vendendo a moeda estrangeira nas operações<br>spot,  que se liquidam em até dois dias (não aplica-se a operações futuras. (Vide Enum)<br>- Compra<br>- Venda|
|targetAudience|string|true|Média das operações PF/PJ.|
|value|number|true||

#### Enumerated Values

|Nome|Código|
|---|---|
|foreignCurrency|USD|
|foreignCurrency|EUR|
|transactionType|COMPRA|
|transactionType|VENDA|
|targetAudience|PF|
|targetAudience|PJ|
|targetAudience|PF_PJ|

<h2 id="tocS_EnumExchangeDeliveryForeignCurrency">EnumExchangeDeliveryForeignCurrency</h2>

<a id="schemaenumexchangedeliveryforeigncurrency"></a>
<a id="schema_EnumExchangeDeliveryForeignCurrency"></a>
<a id="tocSenumexchangedeliveryforeigncurrency"></a>
<a id="tocsenumexchangedeliveryforeigncurrency"></a>

```json
"ESPECIE_CARTAO_PRE_PAGO"

```

"A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013. (Vide Enum)
- ESPECIE_CARTAO_PRE_PAGO
- TELETRANSMISSAO_SWIFT

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|"A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013. (Vide Enum)<br>- ESPECIE_CARTAO_PRE_PAGO<br>- TELETRANSMISSAO_SWIFT|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|ESPECIE_CARTAO_PRE_PAGO|
|**|TELETRANSMISSAO_SWIFT|

<h2 id="tocS_EnumExchangeForeignCurrency">EnumExchangeForeignCurrency</h2>

<a id="schemaenumexchangeforeigncurrency"></a>
<a id="schema_EnumExchangeForeignCurrency"></a>
<a id="tocSenumexchangeforeigncurrency"></a>
<a id="tocsenumexchangeforeigncurrency"></a>

```json
"USD"

```

"É a moeda estrangeira, segundo modelo ISO 4217. (Vide Enum)
- USD
- EUR

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|"É a moeda estrangeira, segundo modelo ISO 4217. (Vide Enum)<br>- USD<br>- EUR|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|USD|
|**|EUR|

<h2 id="tocS_EnumExchangeRangeTransactionCategory">EnumExchangeRangeTransactionCategory</h2>

<a id="schemaenumexchangerangetransactioncategory"></a>
<a id="schema_EnumExchangeRangeTransactionCategory"></a>
<a id="tocSenumexchangerangetransactioncategory"></a>
<a id="tocsenumexchangerangetransactioncategory"></a>

```json
"0,01_200"

```

A classificação conforme a circular BCB nº 4015.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|A classificação conforme a circular BCB nº 4015.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|0,01_200|
|**|200,01_500|
|**|500,01_1.000|
|**|1.000,01_3.000|
|**|3.000,01_10.000|
|**|10.000,01_30.000|
|**|30.000,01_100.000|

<h2 id="tocS_EnumExchangeTargetAudience">EnumExchangeTargetAudience</h2>

<a id="schemaenumexchangetargetaudience"></a>
<a id="schema_EnumExchangeTargetAudience"></a>
<a id="tocSenumexchangetargetaudience"></a>
<a id="tocsenumexchangetargetaudience"></a>

```json
"PF"

```

Média das operações PF/PJ.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Média das operações PF/PJ.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|PF|
|**|PJ|
|**|PF_PJ|

<h2 id="tocS_EnumExchangeTransactionCategory">EnumExchangeTransactionCategory</h2>

<a id="schemaenumexchangetransactioncategory"></a>
<a id="schema_EnumExchangeTransactionCategory"></a>
<a id="tocSenumexchangetransactioncategory"></a>
<a id="tocsenumexchangetransactioncategory"></a>

```json
"COMERCIO_EXTERIOR"

```

A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|A classificação do tipo de operação, conforme a circular BCB nº 3690 de 16/12/2013.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|COMERCIO_EXTERIOR|
|**|TRANSPORTE|
|**|SEGUROS|
|**|VIAGENS_INTERNACIONAIS|
|**|TRANSFERENCIAS_UNILATERAIS|
|**|SERVICOS_DIVERSOS|
|**|RENDAS_DE_CAPITAIS|
|**|CAPITAIS_BRASILEIROS|
|**|CAPITAIS_ESTRANGEIROS|
|**|PRESTACAO_DE_SERVICO_DE_PAGAMENTO_OU_TRANSFERENCIA_INTERNACIONAL_EFX|

<h2 id="tocS_EnumExchangeTransactionType">EnumExchangeTransactionType</h2>

<a id="schemaenumexchangetransactiontype"></a>
<a id="schema_EnumExchangeTransactionType"></a>
<a id="tocSenumexchangetransactiontype"></a>
<a id="tocsenumexchangetransactiontype"></a>

```json
"COMPRA"

```

"Determina se o Banco está comprando ou vendendo a moeda estrangeira nas operações
spot,  que se liquidam em até dois dias (não aplica-se a operações futuras. (Vide Enum)
- Compra
- Venda

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|"Determina se o Banco está comprando ou vendendo a moeda estrangeira nas operações<br>spot,  que se liquidam em até dois dias (não aplica-se a operações futuras. (Vide Enum)<br>- Compra<br>- Venda|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|COMPRA|
|**|VENDA|

<h2 id="tocS_ResponseCapitalizationBondsProductsList">ResponseCapitalizationBondsProductsList</h2>

<a id="schemaresponsecapitalizationbondsproductslist"></a>
<a id="schema_ResponseCapitalizationBondsProductsList"></a>
<a id="tocSresponsecapitalizationbondsproductslist"></a>
<a id="tocsresponsecapitalizationbondsproductslist"></a>

```json
{
  "data": [
    {
      "product": {
        "name": "ACMEcap",
        "productId": "01234589_cap",
        "modality": "TRADICIONAL",
        "paymentTerm": "PAGAMENTO_UNICO"
      },
      "termsAndConditions": {
        "susepNumber": "15414.622222/2222-22",
        "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
      },
      "quotas": [
        {
          "tranche": 999,
          "capitalization": 10.000001,
          "drawing": 10.000001,
          "loadingRate": 10.000001
        }
      ],
      "periodMonths": 999,
      "serieSize": 5000000000,
      "capitalizationPeriod": {
        "interestRate": 0.25123,
        "adjustmentIndex": "IPCA_IBGE",
        "adjustmentIndexOthers": "",
        "contributionAmount": {
          "periodicity": "SEMANAL",
          "periodicityOthers": "",
          "minimum": 500,
          "maximum": 5000,
          "allowed": [
            500
          ]
        },
        "earlyRedemptions": [
          {
            "tranche": 1,
            "rate": 10.000001
          }
        ],
        "finalRedemptionRate": 100.002,
        "redemptionGraceMonths": 999
      },
      "latePayment": {
        "suspensionMonths": 999,
        "periodExtensionOption": "SIM"
      },
      "contributionPayment": {
        "paymentMethod": "CARTAO_DE_CREDITO",
        "paymentMethodOthers": "",
        "adjustmentIndex": "IPCA_IBGE",
        "adjustmentIndexOthers": ""
      },
      "finalRedemptionRate": 151.23,
      "draws": [
        {
          "periodicity": "SEMANAL",
          "periodicityOthers": "",
          "quantity": 99999,
          "prizeMultiplier": 999999,
          "earlyRedemption": "SIM",
          "mandatoryDraw": "SIM",
          "additionalConditions": "Sorteio aos Sábados",
          "minimumProbability": 0.000001
        }
      ],
      "additionalInfo": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
      "minimumRequirements": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
      "targetAudience": [
        "PESSOA_NATURAL"
      ]
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|[[CapitalizationBondsProductIdentificationData](#schemacapitalizationbondsproductidentificationdata)]|true|Conjunto de informações do Título de Capitalização|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|Meta informações referente à API requisitada.|

<h2 id="tocS_CapitalizationBondsProduct">CapitalizationBondsProduct</h2>

<a id="schemacapitalizationbondsproduct"></a>
<a id="schema_CapitalizationBondsProduct"></a>
<a id="tocScapitalizationbondsproduct"></a>
<a id="tocscapitalizationbondsproduct"></a>

```json
{
  "name": "ACMEcap",
  "productId": "01234589_cap",
  "modality": "TRADICIONAL",
  "paymentTerm": "PAGAMENTO_UNICO"
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|string|true|Nome comercial do produto, pelo qual é identificado nos canais de distribuição e atendimento da sociedade.|
|productId|string|true|Código único a ser definido pela sociedade.|
|modality|[EnumCapitalizationBondsProductModality](#schemaenumcapitalizationbondsproductmodality)|true|1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)<br>2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)<br>3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)<br>4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)<br>5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)<br>6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)|
|paymentTerm|[EnumCapitalizationBondsProductPaymentFrequency](#schemaenumcapitalizationbondsproductpaymentfrequency)|true|Pagamento efetuado ao subscritor à sociedade de capitalização para aquisição do título de capitalização, podendo ser única, periódica ou mensal.<br>1. Pagamento Único<br>2. Pagamento Mensal<br>3. Pagamento Periódico|

<h2 id="tocS_CapitalizationBondsProductEarlyRedemption">CapitalizationBondsProductEarlyRedemption</h2>

<a id="schemacapitalizationbondsproductearlyredemption"></a>
<a id="schema_CapitalizationBondsProductEarlyRedemption"></a>
<a id="tocScapitalizationbondsproductearlyredemption"></a>
<a id="tocscapitalizationbondsproductearlyredemption"></a>

```json
{
  "tranche": 1,
  "rate": 10.000001
}

```

Conjunto de informações relativas ao Resgate Antecipado

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|tranche|number|true|Parcela relativa ao Resgate Antecipado|
|rate|number(double)|true|Taxa relativa ao Resgate Antecipado|

<h2 id="tocS_EnumCapitalizationBondsProductModality">EnumCapitalizationBondsProductModality</h2>

<a id="schemaenumcapitalizationbondsproductmodality"></a>
<a id="schema_EnumCapitalizationBondsProductModality"></a>
<a id="tocSenumcapitalizationbondsproductmodality"></a>
<a id="tocsenumcapitalizationbondsproductmodality"></a>

```json
"TRADICIONAL"

```

1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)
2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)
3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)
4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)
5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)
6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|1. Tradicional: A modalidade tradicional tem por objetivo restituir ao titular, ao final do prazo de vigência, no mínimo, o valor total das contribuições efetuadas pelo subscritor, desde que todas as contribuições previstas tenham sido realizadas nas datas programadas. (Res CNSP 384/20)<br>2. Instrumento de Garantia: A modalidade tem por objetivo propiciar que a provisão matemática para capitalização do título de capitalização seja utilizada para assegurar o cumprimento de obrigação assumida em contrato principal pelo titular perante terceiro. (Res CNSP 384/20)<br>3. Compra Programada: A modalidade compra programada garante o valor de resgate em moeda corrente nacional, sendo disponibilizada ao assim desejar e sem qualquer outro custo, pelo recebimento do bem e/ou serviço referenciado no subsidiado por acordos comerciais celebrados com indústrias, atacadistas, empresas comerciais ou prestadores de serviço. (Res CNSP 384/20)<br>4. Popular: A modalidade popular tem por objetivo propiciar a capitalização da contribuição e a participação do titular em sorteios, sem que haja devolução integral do valor pago. (Res CNSP 384/20)<br>5. Incentivo: A modalidade incentivo tem por objetivo a vinculação a um evento promocional de caráter comercial instituído pelo subscritor para alavancar a venda de seu(s) produto(s) ou serviços ou para fidelizar seus clientes. (Res CNSP 384/20)<br>6. Filantropia Premiável: A modalidade filantropia premiável é destinada ao subscritor interessado em contribuir com entidades beneficentes de assistências sociais, certificadas nos termos da legislação vigente, e participar de sorteio(s). (Res CNSP 384/20)|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|TRADICIONAL|
|**|INSTRUMENTO_DE_GARANTIA|
|**|COMPRA_PROGRAMADA|
|**|POPULAR|
|**|INCENTIVO|
|**|FILANTROPIA|
|**|PREMIAVEL|

<h2 id="tocS_EnumCapitalizationBondsProductPaymentFrequency">EnumCapitalizationBondsProductPaymentFrequency</h2>

<a id="schemaenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="schema_EnumCapitalizationBondsProductPaymentFrequency"></a>
<a id="tocSenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="tocsenumcapitalizationbondsproductpaymentfrequency"></a>

```json
"PAGAMENTO_UNICO"

```

Pagamento efetuado ao subscritor à sociedade de capitalização para aquisição do título de capitalização, podendo ser única, periódica ou mensal.
1. Pagamento Único
2. Pagamento Mensal
3. Pagamento Periódico

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Pagamento efetuado ao subscritor à sociedade de capitalização para aquisição do título de capitalização, podendo ser única, periódica ou mensal.<br>1. Pagamento Único<br>2. Pagamento Mensal<br>3. Pagamento Periódico|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|PAGAMENTO_UNICO|
|**|PAGAMENTO_MENSAL|
|**|PAGAMENTO_PERIODICO|

<h2 id="tocS_CapitalizationBondsProductIdentificationData">CapitalizationBondsProductIdentificationData</h2>

<a id="schemacapitalizationbondsproductidentificationdata"></a>
<a id="schema_CapitalizationBondsProductIdentificationData"></a>
<a id="tocScapitalizationbondsproductidentificationdata"></a>
<a id="tocscapitalizationbondsproductidentificationdata"></a>

```json
{
  "product": {
    "name": "ACMEcap",
    "productId": "01234589_cap",
    "modality": "TRADICIONAL",
    "paymentTerm": "PAGAMENTO_UNICO"
  },
  "termsAndConditions": {
    "susepNumber": "15414.622222/2222-22",
    "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
  },
  "quotas": [
    {
      "tranche": 999,
      "capitalization": 10.000001,
      "drawing": 10.000001,
      "loadingRate": 10.000001
    }
  ],
  "periodMonths": 999,
  "serieSize": 5000000000,
  "capitalizationPeriod": {
    "interestRate": 0.25123,
    "adjustmentIndex": "IPCA_IBGE",
    "adjustmentIndexOthers": "",
    "contributionAmount": {
      "periodicity": "SEMANAL",
      "periodicityOthers": "",
      "minimum": 500,
      "maximum": 5000,
      "allowed": [
        500
      ]
    },
    "earlyRedemptions": [
      {
        "tranche": 1,
        "rate": 10.000001
      }
    ],
    "finalRedemptionRate": 100.002,
    "redemptionGraceMonths": 999
  },
  "latePayment": {
    "suspensionMonths": 999,
    "periodExtensionOption": "SIM"
  },
  "contributionPayment": {
    "paymentMethod": "CARTAO_DE_CREDITO",
    "paymentMethodOthers": "",
    "adjustmentIndex": "IPCA_IBGE",
    "adjustmentIndexOthers": ""
  },
  "finalRedemptionRate": 151.23,
  "draws": [
    {
      "periodicity": "SEMANAL",
      "periodicityOthers": "",
      "quantity": 99999,
      "prizeMultiplier": 999999,
      "earlyRedemption": "SIM",
      "mandatoryDraw": "SIM",
      "additionalConditions": "Sorteio aos Sábados",
      "minimumProbability": 0.000001
    }
  ],
  "additionalInfo": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
  "minimumRequirements": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais",
  "targetAudience": [
    "PESSOA_NATURAL"
  ]
}

```

Conjunto de informações do Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|product|[CapitalizationBondsProduct](#schemacapitalizationbondsproduct)|true|Conjunto de informações relativas aos Títulos de Capitalização|
|termsAndConditions|[TermsAndConditions](#schematermsandconditions)|true|Conjunto de informações relativas ao Título de Capitalização|
|quotas|[[CapitalizationBondsProductQuota](#schemacapitalizationbondsproductquota)]|true|Informações relativas às taxas da Quotas praticadas para cada Parcela|
|periodMonths|number|true|Período entre a data de início e a data final para constituição do capital a ser pago ao(s) titular(es) do direito de resgate. Prazo de vigência do título de capitalização em meses (Resolução CNSP 384/20). Em meses.|
|serieSize|integer|false|Os títulos de capitalização que prevejam sorteio devem ser estruturados em séries, ou seja, em sequências ou em grupos de títulos submetidos às mesmas condições e características, à exceção do valor do pagamento.|
|capitalizationPeriod|[CapitalizationPeriod](#schemacapitalizationperiod)|true|Conjunto de informações relativas ao Título de Capitalização|
|latePayment|[LatePayment](#schemalatepayment)|true|Conjunto de informações relativas aos Títulos de Capitalização|
|contributionPayment|[ContributionPayment](#schemacontributionpayment)|true|Conjunto de informações relativas aos Títulos de Capitalização|
|finalRedemptionRate|number(double)|true|Valor percentual (%) de resgate final permitido.|
|draws|[[PrizeDraw](#schemaprizedraw)]|true|Informações relativas aos Sorteios|
|additionalInfo|string|true|Campo aberto (possibilidade de incluir URL) Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). tamanho p.ex.  ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.|
|minimumRequirements|string|false|Campo aberto (possibilidade de incluir URL).<br>Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance , foi adotado a metade deste tamanho (1024). <br>tamanho. p.ex. ‘https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.’|
|targetAudience|[[EnumTargetAudience](#schemaenumtargetaudience)]|true|Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.|

<h2 id="tocS_TermsAndConditions">TermsAndConditions</h2>

<a id="schematermsandconditions"></a>
<a id="schema_TermsAndConditions"></a>
<a id="tocStermsandconditions"></a>
<a id="tocstermsandconditions"></a>

```json
{
  "susepNumber": "15414.622222/2222-22",
  "generalConditions": "https://ACME.exemplo/capitalizacao/tradicional/pdf/condicoes_gerais.pdf"
}

```

Conjunto de informações relativas ao Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|susepNumber|string|true|Sequência numérica utilizada para consulta dos processos eletrônicos na SUSEP com caracteres especiais, conforme campo de consulta no site da SUSEP(15414.6XXXXX/AAAA-DV).|
|generalConditions|string|true|Conjunto de cláusulas que regem um mesmo título de capitalização, estabelecendo obrigações e direitos, da sociedade de capitalização, do titular, e do subscritor. Campo aberto (possibilidade de incluir URL).<br>Observação: As URLs são limitadas a 2048 caracteres mas, para o contexto do Open Insurance foi adotado a metade deste tamanho (1024 caracteres).|

<h2 id="tocS_CapitalizationBondsProductQuota">CapitalizationBondsProductQuota</h2>

<a id="schemacapitalizationbondsproductquota"></a>
<a id="schema_CapitalizationBondsProductQuota"></a>
<a id="tocScapitalizationbondsproductquota"></a>
<a id="tocscapitalizationbondsproductquota"></a>

```json
{
  "tranche": 999,
  "capitalization": 10.000001,
  "drawing": 10.000001,
  "loadingRate": 10.000001
}

```

Conjunto de informações relativas ao Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|tranche|integer|true|Número da parcela.|
|capitalization|number(double)|true|Percentual da contribuição destinado à constituição de capital referente ao direito de resgate. (Resolução CNSP 384/20) Em porcentagem(%).|
|drawing|number(double)|true|Percentual da contribuição destinado a custear os sorteios, se previstos no plano. (Resolução CNSP 384/20) Em porcentagem(%).|
|loadingRate|number(double)|true|Percentual da contribuição destinado aos custos de despesas com corretagem, colocação e administração do título de capitalização, emissão, divulgação, lucro da sociedade de capitalização e eventuais despesas relativas ao custeio da contemplação obrigatória e da distribuição de bônus. (Resolução CNSP 384/20) Em porcentagem(%).|

<h2 id="tocS_CapitalizationPeriod">CapitalizationPeriod</h2>

<a id="schemacapitalizationperiod"></a>
<a id="schema_CapitalizationPeriod"></a>
<a id="tocScapitalizationperiod"></a>
<a id="tocscapitalizationperiod"></a>

```json
{
  "interestRate": 0.25123,
  "adjustmentIndex": "IPCA_IBGE",
  "adjustmentIndexOthers": "",
  "contributionAmount": {
    "periodicity": "SEMANAL",
    "periodicityOthers": "",
    "minimum": 500,
    "maximum": 5000,
    "allowed": [
      500
    ]
  },
  "earlyRedemptions": [
    {
      "tranche": 1,
      "rate": 10.000001
    }
  ],
  "finalRedemptionRate": 100.002,
  "redemptionGraceMonths": 999
}

```

Conjunto de informações relativas ao Título de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|interestRate|number(double)|true|Taxa que remunera a parte da mensalidade destinada a formar o Capital, ou seja, a Provisão Matemática de Resgate, também chamada de saldo de capitalização. Em porcentagem ao mês (% a.m.).|
|adjustmentIndex|[ContributionPayment/properties/adjustmentIndex](#schemacontributionpayment/properties/adjustmentindex)|true|Índice utilizado na correção que remunera a provisão matemática para capitalização.<br>  1. IPCA (IBGE)<br>  2. IGP M (FGV)<br>  3. INPC (IBGE)<br>  4. TR (BC)<br>  5. Índice de remuneração dos depósitos de poupança<br>  6. Outros|
|adjustmentIndexOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘Outros’ no campo ‘Índice de atualização’.|
|contributionAmount|object|true|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20).|
|» periodicity|[EnumCapitalizationBondsFrequency](#schemaenumcapitalizationbondsfrequency)|true|Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:<br>  Único<br>  Diário<br>  Semanal<br>  Quinzenal<br>  Mensal<br>  Bimestral<br>  Trimestral<br>  QuadrimestraL<br>  Semestral<br>  Anual<br>  Outros|
|» periodicityOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘periodicity’.|
|» minimum|number|false|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor mínimo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|» maximum|number|false|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|» allowed|[number]|false|Corresponde ao pagamento efetuado pelo subscritor à sociedade de capitalização para a aquisição do título de capitalização, podendo ser única, periódica ou mensal (Resolução CNSP 384/20). Valores em reais (R$). Esclarecimentos adicionais SUSEP.<br>Na modalidade Tradicional, informar a faixa de valor mínimo e máximo em R$ de contribuição ao plano. Para as demais modalidades, informar a lista com os valores permitidos de contribuição ao plano. Em todas as situações indicar para qual periodicidade de pagamento se aplicam os valores: pagamento mensal, pagamento único ou periódico.|
|earlyRedemptions|[[CapitalizationBondsProductEarlyRedemption](#schemacapitalizationbondsproductearlyredemption)]|false|Possibilidade de o titular efetuar o resgate do capital constituído antes do fim do prazo de vigência do título, <br>podendo ocorrer por solicitação expressa do titular ou por contemplação em sorteio com liquidação antecipada (Resolução CNSP 384/20). <br>Em percentuais a cada parcela (meses de vigência) Obs: No caso de garantia, não contempla a extinção antecipada do contrato.|
|finalRedemptionRate|number(double)|true|Percentual mínimo da soma das contribuições efetuadas que poderá ser resgatado ao final da vigência, tendo como condição os pagamentos das parcelas nos respectivos vencimentos.|
|redemptionGraceMonths|number|true|Intervalo de tempo mínimo entre contratação e resgate do direito, em meses.|

<h2 id="tocS_LatePayment">LatePayment</h2>

<a id="schemalatepayment"></a>
<a id="schema_LatePayment"></a>
<a id="tocSlatepayment"></a>
<a id="tocslatepayment"></a>

```json
{
  "suspensionMonths": 999,
  "periodExtensionOption": "SIM"
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|suspensionMonths|number|true|Conforme manual SUSEP: Prazo máximo (contínuo ou intermitente) em dias em meses que o título fica suspenso por atraso de pagamento, antes de ser cancelado (não aplicável a pagamento único).|
|periodExtensionOption|[EnumCapitalizationBondsProductYesOrNoOptions](#schemaenumcapitalizationbondsproductyesornooptions)|true|Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).|

<h2 id="tocS_ContributionPayment">ContributionPayment</h2>

<a id="schemacontributionpayment"></a>
<a id="schema_ContributionPayment"></a>
<a id="tocScontributionpayment"></a>
<a id="tocscontributionpayment"></a>

```json
{
  "paymentMethod": "CARTAO_DE_CREDITO",
  "paymentMethodOthers": "",
  "adjustmentIndex": "IPCA_IBGE",
  "adjustmentIndexOthers": ""
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|paymentMethod|[CapitalizationBondsProductPaymentMethod](#schemacapitalizationbondsproductpaymentmethod)|true|Meio de Pagamento utilizado para pagamento da contribuição. A considerar os domínios abaixo:<br>  1. Cartão de Crédito<br>  2. Cartão de Débito<br>  3. Débito em conta corrente<br>  4. Débito em conta poupança<br>  5. Boleto bancário<br>  6. PIX<br>  7. Consignação em Folha de Pagamento<br>  8. Pontos de Programas de Benefício<br>  9. Outros|
|paymentMethodOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘paymentMethod’.|
|adjustmentIndex|string|true|Índice utilizado na correção que remunera a provisão matemática para capitalização.<br>  1. IPCA (IBGE)<br>  2. IGP M (FGV)<br>  3. INPC (IBGE)<br>  4. TR (BC)<br>  5. Índice de remuneração dos depósitos de poupança<br>  6. Outros|
|adjustmentIndexOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘adjustmentIndex’.|

#### Enumerated Values

|Nome|Código|
|---|---|
|adjustmentIndex|IPCA_IBGE|
|adjustmentIndex|IGPM_FGV|
|adjustmentIndex|INPC_IBGE|
|adjustmentIndex|TR_BC|
|adjustmentIndex|INDICE_DE_REMUNERACAO_DOS_DEPOSITOS_DE_POUPANCA|
|adjustmentIndex|OUTROS|

<h2 id="tocS_CapitalizationBondsProductPaymentMethod">CapitalizationBondsProductPaymentMethod</h2>

<a id="schemacapitalizationbondsproductpaymentmethod"></a>
<a id="schema_CapitalizationBondsProductPaymentMethod"></a>
<a id="tocScapitalizationbondsproductpaymentmethod"></a>
<a id="tocscapitalizationbondsproductpaymentmethod"></a>

```json
"CARTAO_DE_CREDITO"

```

Meio de Pagamento utilizado para pagamento da contribuição. A considerar os domínios abaixo:
  1. Cartão de Crédito
  2. Cartão de Débito
  3. Débito em conta corrente
  4. Débito em conta poupança
  5. Boleto bancário
  6. PIX
  7. Consignação em Folha de Pagamento
  8. Pontos de Programas de Benefício
  9. Outros

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Meio de Pagamento utilizado para pagamento da contribuição. A considerar os domínios abaixo:<br>  1. Cartão de Crédito<br>  2. Cartão de Débito<br>  3. Débito em conta corrente<br>  4. Débito em conta poupança<br>  5. Boleto bancário<br>  6. PIX<br>  7. Consignação em Folha de Pagamento<br>  8. Pontos de Programas de Benefício<br>  9. Outros|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|CARTAO_DE_CREDITO|
|**|CARTAO_DE_DEBITO|
|**|DEBITO_EM_CONTA_CORRENTE|
|**|DEBITO_EM_CONTA_POUPANCA|
|**|BOLETO_BANCARIO|
|**|PIX|
|**|CONSIGNACAO_EM_FOLHA_DE_PAGAMENTO|
|**|PONTOS_DE_PROGRAMAS_DE_BENEFICIO|
|**|OUTROS|

<h2 id="tocS_EnumCapitalizationBondsProductYesOrNoOptions">EnumCapitalizationBondsProductYesOrNoOptions</h2>

<a id="schemaenumcapitalizationbondsproductyesornooptions"></a>
<a id="schema_EnumCapitalizationBondsProductYesOrNoOptions"></a>
<a id="tocSenumcapitalizationbondsproductyesornooptions"></a>
<a id="tocsenumcapitalizationbondsproductyesornooptions"></a>

```json
"SIM"

```

Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|SIM|
|**|NAO|

<h2 id="tocS_PrizeDraw">PrizeDraw</h2>

<a id="schemaprizedraw"></a>
<a id="schema_PrizeDraw"></a>
<a id="tocSprizedraw"></a>
<a id="tocsprizedraw"></a>

```json
{
  "periodicity": "SEMANAL",
  "periodicityOthers": "",
  "quantity": 99999,
  "prizeMultiplier": 999999,
  "earlyRedemption": "SIM",
  "mandatoryDraw": "SIM",
  "additionalConditions": "Sorteio aos Sábados",
  "minimumProbability": 0.000001
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|periodicity|[EnumCapitalizationBondsFrequency](#schemaenumcapitalizationbondsfrequency)|true|Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:<br>  Único<br>  Diário<br>  Semanal<br>  Quinzenal<br>  Mensal<br>  Bimestral<br>  Trimestral<br>  QuadrimestraL<br>  Semestral<br>  Anual<br>  Outros|
|periodicityOthers|string|false|Lista string a ser preenchida pelas participantes quando houver ‘OUTROS’ no campo ‘periodicity’.|
|quantity|number|true|Número da quantidade de sorteios previstos ao longo da vigência.|
|prizeMultiplier|number|true|Valor dos sorteios representado por múltiplo do valor de contribuição. Por exemplo: 5 vezes valor da contribuição|
|earlyRedemption|[EnumCapitalizationBondsProductYesOrNoOptions](#schemaenumcapitalizationbondsproductyesornooptions)|true|Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).|
|mandatoryDraw|[EnumCapitalizationBondsProductYesOrNoOptions](#schemaenumcapitalizationbondsproductyesornooptions)|true|Alteração do prazo de vigência original, pela suspensão (não aplicável a pagamento único).|
|additionalConditions|string|true|Campo aberto para complementar a regra dos sorteios do produto, a ser feita para cada participante.|
|minimumProbability|number(double)|true|Número representativo da probabilidade mínima de contemplação nos sorteios, em porcentagem (%).|

<h2 id="tocS_EnumCapitalizationBondsFrequency">EnumCapitalizationBondsFrequency</h2>

<a id="schemaenumcapitalizationbondsfrequency"></a>
<a id="schema_EnumCapitalizationBondsFrequency"></a>
<a id="tocSenumcapitalizationbondsfrequency"></a>
<a id="tocsenumcapitalizationbondsfrequency"></a>

```json
"SEMANAL"

```

Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:
  Único
  Diário
  Semanal
  Quinzenal
  Mensal
  Bimestral
  Trimestral
  QuadrimestraL
  Semestral
  Anual
  Outros

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Intervalo de tempo regular previsto entre os sorteios. Conforme os domínios:<br>  Único<br>  Diário<br>  Semanal<br>  Quinzenal<br>  Mensal<br>  Bimestral<br>  Trimestral<br>  QuadrimestraL<br>  Semestral<br>  Anual<br>  Outros|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|UNICO|
|**|DIARIO|
|**|SEMANAL|
|**|QUINZENAL|
|**|MENSAL|
|**|BIMESTRAL|
|**|TRIMESTRAL|
|**|QUADRIMESTRAL|
|**|SEMESTRAL|
|**|ANUAL|
|**|OUTROS|

<h2 id="tocS_EnumTargetAudience">EnumTargetAudience</h2>

<a id="schemaenumtargetaudience"></a>
<a id="schema_EnumTargetAudience"></a>
<a id="tocSenumtargetaudience"></a>
<a id="tocsenumtargetaudience"></a>

```json
"PESSOA_NATURAL"

```

Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Público a quem se destina o produto, podendo ser Pessoa Natural ou Pessoa Jurídica.|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|PESSOA_NATURAL|
|**|PESSOA_JURIDICA|

<h2 id="tocS_Links">Links</h2>

<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.banco.com.br/open-banking/api/v1/resource",
  "first": "https://api.banco.com.br/open-banking/api/v1/resource",
  "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
  "next": "https://api.banco.com.br/open-banking/api/v1/resource",
  "last": "https://api.banco.com.br/open-banking/api/v1/resource"
}

```

Referências para outros recusos da API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|self|string(uri)|true|URI completo que gerou a resposta atual.|
|first|string(uri)|false|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Meta">Meta</h2>

<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1,
  "requestDateTime": "2021-05-21T08:30:00Z"
}

```

Meta informações referente à API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|Número total de registros no resultado|
|totalPages|integer(int32)|true|Número total de páginas no resultado|
|requestDateTime|string(date-time)|true|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|

<h2 id="tocS_ResponseError">ResponseError</h2>

<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|errors|[object]|true||
|» code|string|true|Código de erro específico do endpoint|
|» title|string|true|Título legível por humanos deste erro específico|
|» detail|string|true|Descrição legível por humanos deste erro específico|
|meta|[Meta](#schemameta)|false|Meta informações referente à API requisitada.|

