<h1 id="fase-1-apis-do-open-banking-brasil">Fase 1 - APIs do Open Banking Brasil</h1>

Estas APIs disponíveis visam exibir e compartilhar dados não sensíveis de instituições participantes do OpenBanking Brasil, disponibilizando ao público informações sobre os seus canais de atendimento e as características de produtos e serviços bancários tradicionais que oferecem.

  <%= partial "./includes/_channels_apis" %>
  <%= partial "./includes/_products_services_apis" %>
  <%= partial "./includes/_schemas" %>
  
