
<h1 id="fase-4-apis-do-open-banking-brasil">Fase 4 - APIs do Open Banking Brasil v1.0.0-rc1.0</h1>

> Scroll down for code samples, example requests and responses. Select a language for code samples from the tabs above or the mobile navigation menu.

### Sub titulo fase 4...

Na fase 4 do Open Banking Brasil........

## Authentication

- OpenID Connect URL: https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration

- oAuth2 authentication. Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados.

    - Flow: authorizationCode
    - Authorization URL = [https://authserver.example/authorization](https://authserver.example/authorization)
    - Token URL = [https://authserver.example/token](https://authserver.example/token)

|Scope|Scope Description|
|---|---|
|credit-cards-accounts|Escopo necessário para acesso à API Credit-cards-accounts. O controle dos endpoints específicos é feito via permissions.|

<h1 id="fase-4-apis-do-open-banking-brasil-api-titulos-de-capitaliza-o">API - Titulos de Capitalização</h1>

|Versão|
|:-----|
|1.0.0-rc1.0|

#### Visão Geral

A API tem como objetivo .....

#### Especificação em OAS 3.0

<a href="swagger/swagger_capitalization_bonds_apis.yaml" target="_blank">Download da Especificação (OAS 3.0)</a>

## Conjunto de informações dos Títulos de Capitalização.

> Exemplo de código

```javascript
const data = null;

const xhr = new XMLHttpRequest();
xhr.withCredentials = true;

xhr.addEventListener("readystatechange", function () {
  if (this.readyState === this.DONE) {
    console.log(this.responseText);
  }
});

xhr.open("POST", "https://example.com/capitalization-bonds/v1/products");
xhr.setRequestHeader("Accept", "application/json");
xhr.setRequestHeader("Authorization", "string");
xhr.setRequestHeader("x-fapi-auth-date", "stringstringstringstringstrin");
xhr.setRequestHeader("x-fapi-customer-ip-address", "string");
xhr.setRequestHeader("x-fapi-interaction-id", "string");
xhr.setRequestHeader("x-customer-user-agent", "string");

xhr.send(data);
```

```python
import http.client

conn = http.client.HTTPSConnection("example.com")

headers = {
    'Accept': "application/json",
    'Authorization': "string",
    'x-fapi-auth-date': "stringstringstringstringstrin",
    'x-fapi-customer-ip-address': "string",
    'x-fapi-interaction-id': "string",
    'x-customer-user-agent': "string"
    }

conn.request("POST", "/capitalization-bonds/v1/products", headers=headers)

res = conn.getresponse()
data = res.read()

print(data.decode("utf-8"))
```

```java
HttpResponse<String> response = Unirest.post("https://example.com/capitalization-bonds/v1/products")
  .header("Accept", "application/json")
  .header("Authorization", "string")
  .header("x-fapi-auth-date", "stringstringstringstringstrin")
  .header("x-fapi-customer-ip-address", "string")
  .header("x-fapi-interaction-id", "string")
  .header("x-customer-user-agent", "string")
  .asString();
```

`POST /capitalization-bonds/v1/products`

Método para obter a lista de Títulos de Capitalização.

<h3 id="conjunto-de-informações-dos-títulos-de-capitalização.-parameters">Parâmetros</h3>

|Nome|Origem|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|Authorization|header|string|true|Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado|
|x-fapi-auth-date|header|string|false|Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC|
|x-fapi-customer-ip-address|header|string|false|O endereço IP do usuário se estiver atualmente logado com o receptor.|
|x-fapi-interaction-id|header|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|
|x-customer-user-agent|header|string|false|Indica o user-agent que o usuário utiliza.|
|page|query|integer(int32)|false|Número da página que está sendo requisitada (o valor da primeira página é 1).|
|page-size|query|integer(int32)|false|Quantidade total de registros por páginas.|

> O comando acima retorna uma estrutura json como essa:

> 200 Response

```json
{
  "data": [
    {
      "participantIdentification": {
        "brand": "",
        "name": "",
        "document": ""
      },
      "societyIdentification": {
        "name": "",
        "document": ""
      },
      "product": {
        "name": "",
        "productId": "",
        "modality": "TRADITIONAL",
        "paymentFrequency": "SINGLE_PAYMENT"
      }
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}
```

<h3 id="conjunto-de-informações-dos-títulos-de-capitalização.-responses">Resposta</h3>

|Status|Significado|Descrição|Schema|
|---|---|---|---|
|200|[OK](https://tools.ietf.org/html/rfc7231#section-6.3.1)|Conjunto de informações das Contas de pagamento pós paga|[ResponseCapitalizationBondsProductsList](#schemaresponsecapitalizationbondsproductslist)|
|400|[Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)|A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.|[ResponseError](#schemaresponseerror)|
|401|[Unauthorized](https://tools.ietf.org/html/rfc7235#section-3.1)|Cabeçalho de autenticação ausente/inválido ou token inválido|[ResponseError](#schemaresponseerror)|
|403|[Forbidden](https://tools.ietf.org/html/rfc7231#section-6.5.3)|O token tem escopo incorreto ou uma política de segurança foi violada|[ResponseError](#schemaresponseerror)|
|404|[Not Found](https://tools.ietf.org/html/rfc7231#section-6.5.4)|O recurso solicitado não existe ou não foi implementado|[ResponseError](#schemaresponseerror)|
|405|[Method Not Allowed](https://tools.ietf.org/html/rfc7231#section-6.5.5)|O consumidor tentou acessar o recurso com um método não suportado|[ResponseError](#schemaresponseerror)|
|406|[Not Acceptable](https://tools.ietf.org/html/rfc7231#section-6.5.6)|A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8|[ResponseError](#schemaresponseerror)|
|429|[Too Many Requests](https://tools.ietf.org/html/rfc6585#section-4)|A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido|[ResponseError](#schemaresponseerror)|
|500|[Internal Server Error](https://tools.ietf.org/html/rfc7231#section-6.6.1)|Ocorreu um erro no gateway da API ou no microsserviço|[ResponseError](#schemaresponseerror)|
|default|Default|Conjunto de informações das Contas de pagamento pós paga|[ResponseCapitalizationBondsProductsList](#schemaresponsecapitalizationbondsproductslist)|

### Response Headers

|Status|Header|Type| |
|---|---|---|---|---|
|200|x-fapi-interaction-id|string|<a href='#x-fapi-interaction-id'>Consultar Padrões</a>|
|default|x-fapi-interaction-id|string|<a href='#x-fapi-interaction-id'>Consultar Padrões</a>|

<aside class="warning">
Para realizar esta operação, você deve estar autenticado e autorizado com os seguintes escopos: 

OpenId,openidOAuth2Security,consent:consentId,credit-cards-accounts
</aside>

<h1 id="fase-4-apis-do-open-banking-brasil-schemas">Schemas</h1>

<h2 id="tocS_ResponseCapitalizationBondsProductsList">ResponseCapitalizationBondsProductsList</h2>

<a id="schemaresponsecapitalizationbondsproductslist"></a>
<a id="schema_ResponseCapitalizationBondsProductsList"></a>
<a id="tocSresponsecapitalizationbondsproductslist"></a>
<a id="tocsresponsecapitalizationbondsproductslist"></a>

```json
{
  "data": [
    {
      "participantIdentification": {
        "brand": "",
        "name": "",
        "document": ""
      },
      "societyIdentification": {
        "name": "",
        "document": ""
      },
      "product": {
        "name": "",
        "productId": "",
        "modality": "TRADITIONAL",
        "paymentFrequency": "SINGLE_PAYMENT"
      }
    }
  ],
  "links": {
    "self": "https://api.banco.com.br/open-banking/api/v1/resource",
    "first": "https://api.banco.com.br/open-banking/api/v1/resource",
    "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
    "next": "https://api.banco.com.br/open-banking/api/v1/resource",
    "last": "https://api.banco.com.br/open-banking/api/v1/resource"
  },
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|[[CapitalizationBondsProductData](#schemacapitalizationbondsproductdata)]|true|Conjunto de informações de Titulos de Capitalização|
|links|[Links](#schemalinks)|true|Referências para outros recusos da API requisitada.|
|meta|[Meta](#schemameta)|true|Meta informações referente a API requisitada.|

<h2 id="tocS_CapitalizationBondsProductData">CapitalizationBondsProductData</h2>

<a id="schemacapitalizationbondsproductdata"></a>
<a id="schema_CapitalizationBondsProductData"></a>
<a id="tocScapitalizationbondsproductdata"></a>
<a id="tocscapitalizationbondsproductdata"></a>

```json
{
  "participantIdentification": {
    "brand": "",
    "name": "",
    "document": ""
  },
  "societyIdentification": {
    "name": "",
    "document": ""
  },
  "product": {
    "name": "",
    "productId": "",
    "modality": "TRADITIONAL",
    "paymentFrequency": "SINGLE_PAYMENT"
  }
}

```

Conjunto de informações de Titulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|participantIdentification|[CapitalizationBondsParticipantIdentification](#schemacapitalizationbondsparticipantidentification)|true|Conjunto de informações relativas aos Títulos de Capitalização|
|societyIdentification|[CapitalizationBondsSocietyIdentification](#schemacapitalizationbondssocietyidentification)|true|Conjunto de informações relativas aos Títulos de Capitalização|
|product|[CapitalizationBondsProduct](#schemacapitalizationbondsproduct)|true|Conjunto de informações relativas aos Títulos de Capitalização|

<h2 id="tocS_CapitalizationBondsParticipantIdentification">CapitalizationBondsParticipantIdentification</h2>

<a id="schemacapitalizationbondsparticipantidentification"></a>
<a id="schema_CapitalizationBondsParticipantIdentification"></a>
<a id="tocScapitalizationbondsparticipantidentification"></a>
<a id="tocscapitalizationbondsparticipantidentification"></a>

```json
{
  "brand": "",
  "name": "",
  "document": ""
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|brand|string|true|Descrição do campo|
|name|string|true|Descrição do campo|
|document|string|true|Descrição do campo|

<h2 id="tocS_CapitalizationBondsSocietyIdentification">CapitalizationBondsSocietyIdentification</h2>

<a id="schemacapitalizationbondssocietyidentification"></a>
<a id="schema_CapitalizationBondsSocietyIdentification"></a>
<a id="tocScapitalizationbondssocietyidentification"></a>
<a id="tocscapitalizationbondssocietyidentification"></a>

```json
{
  "name": "",
  "document": ""
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|string|true|Descrição do campo|
|document|string|true|Descrição do campo|

<h2 id="tocS_CapitalizationBondsProduct">CapitalizationBondsProduct</h2>

<a id="schemacapitalizationbondsproduct"></a>
<a id="schema_CapitalizationBondsProduct"></a>
<a id="tocScapitalizationbondsproduct"></a>
<a id="tocscapitalizationbondsproduct"></a>

```json
{
  "name": "",
  "productId": "",
  "modality": "TRADITIONAL",
  "paymentFrequency": "SINGLE_PAYMENT"
}

```

Conjunto de informações relativas aos Títulos de Capitalização

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|name|string|true|Descrição do campo|
|productId|string|true|Descrição do campo|
|modality|[EnumCapitalizationBondsProductModality](#schemaenumcapitalizationbondsproductmodality)|true|Descrição do campo|
|paymentFrequency|[EnumCapitalizationBondsProductPaymentFrequency](#schemaenumcapitalizationbondsproductpaymentfrequency)|true|Descrição do campo|

<h2 id="tocS_EnumCapitalizationBondsProductModality">EnumCapitalizationBondsProductModality</h2>

<a id="schemaenumcapitalizationbondsproductmodality"></a>
<a id="schema_EnumCapitalizationBondsProductModality"></a>
<a id="tocSenumcapitalizationbondsproductmodality"></a>
<a id="tocsenumcapitalizationbondsproductmodality"></a>

```json
"TRADITIONAL"

```

Descrição do campo

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Descrição do campo|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|TRADITIONAL|
|**|WARRANTY_INSTRUMENT|
|**|SCHEDULED_PURCHASE|
|**|POPULAR|
|**|INCENTIVE|
|**|REWARDABLE_PHILANTHROPY|

<h2 id="tocS_EnumCapitalizationBondsProductPaymentFrequency">EnumCapitalizationBondsProductPaymentFrequency</h2>

<a id="schemaenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="schema_EnumCapitalizationBondsProductPaymentFrequency"></a>
<a id="tocSenumcapitalizationbondsproductpaymentfrequency"></a>
<a id="tocsenumcapitalizationbondsproductpaymentfrequency"></a>

```json
"SINGLE_PAYMENT"

```

Descrição do campo

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Descrição do campo|

#### Enumerated Values

|Nome|Código|
|---|---|
|**|SINGLE_PAYMENT|
|**|MONTHLY_PAYMENT|
|**|PERIODIC_PAYMENT|

<h2 id="tocS_ResponseCapitalizationBondsProductIdentification">ResponseCapitalizationBondsProductIdentification</h2>

<a id="schemaresponsecapitalizationbondsproductidentification"></a>
<a id="schema_ResponseCapitalizationBondsProductIdentification"></a>
<a id="tocSresponsecapitalizationbondsproductidentification"></a>
<a id="tocsresponsecapitalizationbondsproductidentification"></a>

```json
{
  "data": {
    "name": "Cartão Universitário",
    "productAdditionalInfo": "OURO_INTERNACIONAL",
    "networkAdditionalInfo": "NA"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|data|object|true|Conjunto de informações referentes à identificação da conta de pagamento pós-paga.|
|» name|string|true|Denominação/Identificação do nome da conta de pagamento pós-paga (cartão). Conforme CIRCULAR Nº 3.680,BCB, 2013: 'conta de pagamento pós-paga: destinada à execução de transações de pagamento que independem do aporte prévio de recursos'.|
|» productAdditionalInfo|string|false|Informações complementares se tipo de Cartão 'OUTROS'|
|» networkAdditionalInfo|string|false|Texto livre para especificar categoria de bandeira marcada como 'OUTRAS'.|

<h2 id="tocS_Links">Links</h2>

<a id="schemalinks"></a>
<a id="schema_Links"></a>
<a id="tocSlinks"></a>
<a id="tocslinks"></a>

```json
{
  "self": "https://api.banco.com.br/open-banking/api/v1/resource",
  "first": "https://api.banco.com.br/open-banking/api/v1/resource",
  "prev": "https://api.banco.com.br/open-banking/api/v1/resource",
  "next": "https://api.banco.com.br/open-banking/api/v1/resource",
  "last": "https://api.banco.com.br/open-banking/api/v1/resource"
}

```

Referências para outros recusos da API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|self|string(uri)|true|URI completo que gerou a resposta atual.|
|first|string(uri)|false|URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta|
|prev|string(uri)|false|URI da página anterior dessa lista de resultados. Restrição - 	Obrigatório quando não for a primeira página da resposta|
|next|string(uri)|false|URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|
|last|string(uri)|false|URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta|

<h2 id="tocS_Meta">Meta</h2>

<a id="schemameta"></a>
<a id="schema_Meta"></a>
<a id="tocSmeta"></a>
<a id="tocsmeta"></a>

```json
{
  "totalRecords": 1,
  "totalPages": 1,
  "requestDateTime": "2021-05-21T08:30:00Z"
}

```

Meta informações referente a API requisitada.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|totalRecords|integer(int32)|true|Número total de registros no resultado|
|totalPages|integer(int32)|true|Número total de páginas no resultado|
|requestDateTime|string(date-time)|true|Data e hora da consulta, conforme especificação RFC-3339, formato UTC.|

<h2 id="tocS_ResponseError">ResponseError</h2>

<a id="schemaresponseerror"></a>
<a id="schema_ResponseError"></a>
<a id="tocSresponseerror"></a>
<a id="tocsresponseerror"></a>

```json
{
  "errors": [
    {
      "code": "string",
      "title": "string",
      "detail": "string"
    }
  ],
  "meta": {
    "totalRecords": 1,
    "totalPages": 1,
    "requestDateTime": "2021-05-21T08:30:00Z"
  }
}

```

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|errors|[object]|true||
|» code|string|true|Código de erro específico do endpoint|
|» title|string|true|Título legível por humanos deste erro específico|
|» detail|string|true|Descrição legível por humanos deste erro específico|
|meta|[Meta](#schemameta)|false|Meta informações referente a API requisitada.|

<h2 id="tocS_XFapiInteractionId">XFapiInteractionId</h2>

<a id="schemaxfapiinteractionid"></a>
<a id="schema_XFapiInteractionId"></a>
<a id="tocSxfapiinteractionid"></a>
<a id="tocsxfapiinteractionid"></a>

```json
"string"

```

Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.

### Propriedades

|Nome|Tipo|Obrigatório|Descrição|
|---|---|---|---|---|
|**|string|false|Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.|

