# Especificação em OAS 3.0

<a href='swagger/swagger_common_apis.yaml'>Download da Especificação (OAS 3.0) | APIs Comuns </a>
<a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0) | API - Canais de Atendimento</a>
<a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0) | API - Produtos e Serviços</a>
<a href='swagger/swagger_admin_apis.yaml'>Download da Especificação (OAS 3.0) | API - Admin</a>
