## ResponseMetricsList
<a id="schemaResponseMetricsList"></a>

```json
{
  "data": {
    "requestTime": "string",
    "availability": {
        "uptime" : {
            "generalUptimeRate" : "",
            "endpoints" : [
                {
                    "url" : "",
                    "uptimeRate" : ""
                }
            ]
        },
        "downtime" : {
            "generalDowntime" : 0,
            "scheduledOutage" : 0,
            "endpoints" : [
                {
                    "url" : "",
                    "partialDowntime" : 0
                }
            ]
        }
    },
    "invocations": {
      "unauthenticated": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "highPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "mediumPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "unattended": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
    },
    "averageResponse": {
      "unauthenticated": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "highPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "mediumPriority": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
      "unattended": {
        "currentDay": 0,
        "previousDays": [
          0
        ]
      },
    },
    "averageTps": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "peakTps": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "errors": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    },
    "rejections": {
      "currentDay": 0,
      "previousDays": [
        0
      ]
    }
  },
  "links": {
    "self": "string"
  },
  "meta": {}
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|data|object|Sim||
|» requestTime|[DateTimeString](#common-field-types)|Sim|Data e hora que as métricas foram requisitadas.|
|» availability|[AvailabilityMetrics](#schemaAvailabilityMetrics)|Sim|Índices de disponibilidades das APIs.|
|» invocations|[InvocationMetrics](#schemaInvocationMetrics)|Sim|Número de chamadas em cada nível e prioridade.|
|» averageResponse|[AverageMetrics](#schemaAverageMetrics)|Sim|Tempo médio de reposta em milissegundos em cada nível e prioridade.|
|» averageTps|[AverageTPSMetrics](#schemaAverageTPSMetrics)|Sim|Transações em média por segundo.|
|» peakTps|[PeakTPSMetrics](#schemaPeakTPSMetrics)|Sim|Número máximo de transações por segundo.|
|» errors|[ErrorMetrics](#schemaErrorMetrics)|Sim|Número de chamadas que resultaram em erro devido ao servidor.|
|» rejections|[RejectionMetrics](#schemaRejectionMetrics)|Sim|Número de chamadas rejeitadas devido aos limites.|
|links|[Links](#schemalinks)|Sim||
|meta|[Meta](#schemameta)|Não||


## AvailabilityMetrics
<a id="schemaAvailabilityMetrics"></a>

```json
{
  "uptime" : {
      "generalUptimeRate" : "",
      "endpoints" : [
          {
              "url" : "",
              "uptimeRate" : ""
          }
      ]
  },
  "downtime" : {
      "generalDowntime" : 0,
      "scheduledOutage" : 0,
      "endpoints" : [
          {
              "url" : "",
              "partialDowntime" : 0
          }
      ]
  }
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|uptime|object|Sim|Tempos de uptime por endpoint|
|» generalUptimeRate|[RateString](#introducao-tipos-de-dados-comuns)|Sim|Taxa de disponibilidade (considerando todos os serviços ativos ao mesmo tempo).|
|» endpoints|[EndpointUptime](#schemaEndpointUptime)|Sim|Tempos de uptime por endpoint.|
|downtime|object|Sim|Tempos de downtime por endpoint.|
|» generalDowntime|number|Sim|Quantidade de segundos de downtime (considerando qualquer api em downtime).|
|» scheduledOutage|number|Sim|Quantidade de segundos de indisponibilidade agendada.|
|» endpoints|[EndpointDowntime](#schemaEndpointDowntime)|Sim|Tempos de downtime por endpoint.|


## EndpointUptime
<a id="schemaEndpointUptime"></a>

```json
{
  "url" : "",
  "uptimeRate" : ""
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|url|string|Sim|URL do endpoint|
|uptimeRate|[RateString](#introducao-tipos-de-dados-comuns)|Sim|Taxa de disponibilidade do endpoint.|


## EndpointDowntime
<a id="schemaEndpointDowntime"></a>

```json
{
  "url" : "",
  "partialDowntime" : 0
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|url|string|Sim|URL do endpoint|
|partialDowntime|number|Sim|Quantidade de segundos de indisponibilidade do endpoint.|

## InvocationMetrics
<a id="schemaInvocationMetrics"></a>

```json
{
  "unauthenticated": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "highPriority": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "mediumPriority": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "unattended": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  }
}

```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|unauthenticated|object|Sim|Número de chamadas não autenticadas.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|highPriority|object|Sim|Número de chamadas para o nível de alta prioridade.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|mediumPriority|object|Sim|Número de chamadas para o nível de média prioridade.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|unattended|object|Sim|Número de chamadas para o nível não acompanhado.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|

## AverageMetrics
<a id="schemaAverageMetrics"></a>

```json
{
  "unauthenticated": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "highPriority": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "mediumPriority": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
  "unattended": {
    "currentDay": 0,
    "previousDays": [
      0
    ]
  },
}

```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|unauthenticated|object|Sim|Tempo médio de resposta em milissegundos para chamadas não autenticadas.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|highPriority|object|Sim|Tempo médio de resposta em milissegundos para chamadas para o nível de alta prioridade.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|mediumPriority|object|Sim|Tempo médio de resposta em milissegundos para chamadas para o nível de média prioridade.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
|unattended|object|Sim|Tempo médio de resposta em milissegundos para chamadas para o nível não acompanhado.|
|» currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|» previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|

## AverageTPSMetrics
<a id="schemaAverageTPSMetrics"></a>

```json
{
  "currentDay": 0,
  "previousDays": [
    0
  ]
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|

## PeakTPSMetrics
<a id="schemaPeakTPSMetrics"></a>

```json
{
  "currentDay": 0,
  "previousDays": [
    0
  ]
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|

## ErrorMetrics
<a id="schemaErrorMetrics"></a>

```json
{
  "currentDay": 0,
  "previousDays": [
    0
  ]
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|


## RejectionMetrics
<a id="schemaRejectionMetrics"></a>

```json
{
  "currentDay": 0,
  "previousDays": [
    0
  ]
}
```

|Nome|Tipo|Obrigatório|Definição|
|---|---|---|---|
|currentDay|integer|Sim|Tempo médio de resposta em milissegundos para chamadas no dia atual.|
|previousDays|[integer]|Sim|Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.|
