---
title: v1.0.0-rc6.5 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.5 Release Notes

Release Notes para a v1.0.0-rc6.5 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações nas APIs da Fase 2
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                         | Inclusão da versão completa no swagger (version: 1.0.0-rc6.5).               | [APIs da Fase 2.](../../#fase-2-apis-do-open-banking-brasil) |
| Todas as Operações.                         | Ajuste do nome do GT responsável para GT Especificações.                     | [APIs da Fase 2.](../../#fase-2-apis-do-open-banking-brasil) |
| Todas as Operações, exceto API de Consents. | Correção do item securitySchemes.                                            | [APIs da Fase 2.](../../#fase-2-apis-do-open-banking-brasil) |
| Todas as Operações, exceto API de Consents. | Correção do item security para compatibilizar com os testes de conformidade. | [APIs da Fase 2.](../../#fase-2-apis-do-open-banking-brasil) |
