---
title: v1.0.0-rc6.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.2 Release Notes

Release Notes para a v1.0.0-rc6.2 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil [ATA 8](https://ata.8.html).

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Automação de Dicionários. | API Loans - Lista de Empréstimos.                                             | [Página](../../#emprestimos)                                             [Dicionário](../../dictionary/loansGetContracts_v1.csv) |
| Automação de Dicionários. | API Loans - Detalhes do Empréstimo.                                           | [Página](../../#emprestimos-contrato)                                    [Dicionário](../../dictionary/loansGetContractsContractId_v1.csv) |
| Automação de Dicionários. | API Loans - Garantias do Empréstimo.                                          | [Página](../../#emprestimos-garantias-do-contrato)                       [Dicionário](../../dictionary/loansGetContractsContractIdWarranties_v1.csv) |
| Automação de Dicionários. | API Loans - Parcelas do Empréstimo.                                           | [Página](../../#emprestimos-parcelas-do-contrato)                        [Dicionário](../../dictionary/loansGetContractsContractIdScheduledInstalments_v1.csv) |
| Automação de Dicionários. | API Loans - Pagamentos do Empréstimo.                                         | [Página](../../#emprestimos-pagamentos-do-contrato)                      [Dicionário](../../dictionary/loansGetContractsContractIdPayments_v1.csv) |
| Automação de Dicionários. | API Financings - Lista de Financiamentos                                      | [Página](../../#financiamentos)                                          [Dicionário](../../dictionary/financingsGetContracts_v1.csv) |
| Automação de Dicionários. | API Financings - Detalhes do Financiamento                                    | [Página](../../#financiamentos-contrato)                                 [Dicionário](../../dictionary/financingsGetContractsContractId_v1.csv) |
| Automação de Dicionários. | API Financings - Garantias do Financiamento                                   | [Página](../../#financiamentos-garantias-do-contrato)                    [Dicionário](../../dictionary/financingsGetContractsContractIdWarranties_v1.csv) |
| Automação de Dicionários. | API Financings - Parcelas do Financiamento                                    | [Página](../../#financiamentos-parcelas-do-contrato)                     [Dicionário](../../dictionary/financingsGetContractsContractIdScheduledInstalments_v1.csv) |
| Automação de Dicionários. | API Financings - Pagamentos do Financiamento                                  | [Página](../../#financiamentos-pagamentos-do-contrato)                   [Dicionário](../../dictionary/financingsGetContractsContractIdPayments_v1.csv) |
| Automação de Dicionários. | API Invoice Financings - Lista de Direitos Créditórios Descontados            | [Página](../../#direitos-creditorios-descontados)                        [Dicionário](../../dictionary/invoiceFinancingsGetContracts_v1.csv) |
| Automação de Dicionários. | API Invoice Financings - Detalhes do Direito Créditório Descontado            | [Página](../../#direitos-creditorios-descontados-contrato)               [Dicionário](../../dictionary/invoiceFinancingsGetContractsContractId_v1.csv) |
| Automação de Dicionários. | API Invoice Financings - Garantias do Direito Créditório Descontado           | [Página](../../#direitos-creditorios-descontados-garantias-do-contrato)  [Dicionário](../../dictionary/invoiceFinancingsGetContractsContractIdWarranties_v1.csv) |
| Automação de Dicionários. | API Invoice Financings - Parcelas do Direito Créditório Descontado            | [Página](../../#direitos-creditorios-descontados-parcelas-do-contrato)   [Dicionário](../../dictionary/invoiceFinancingsGetContractsContractIdScheduledInstalments_v1.csv) |
| Automação de Dicionários. | API Invoice Financings - Pagamentos do Direito Créditório Descontado          | [Página](../../#direitos-creditorios-descontados-pagamentos-do-contrato) [Dicionário](../../dictionary/invoiceFinancingsGetContractsContractIdPayments_v1.csv) |
| Automação de Dicionários. | API Unarranged-Accounts-Overdraft - Lista de Adiantamentos a Depositantes     | [Página](../../#adiantamento-a-depositantes)                             [Dicionário](../../dictionary/unarrangedAccountsOverdraftGetContracts_v1.csv) |
| Automação de Dicionários. | API Unarranged-Accounts-Overdraft - Detalhes do Adiantamento a Depositantes   | [Página](../../#adiantamento-a-depositantes-contrato)                    [Dicionário](../../dictionary/unarrangedAccountsOverdraftGetContractsContractId_v1.csv) |
| Automação de Dicionários. | API Unarranged-Accounts-Overdraft - Garantias do Adiantamento a Depositantes  | [Página](../../#adiantamento-a-depositantes-garantias-do-contrato)       [Dicionário](../../dictionary/unarrangedAccountsOverdraftGetContractsContractIdWarranties_v1.csv) |
| Automação de Dicionários. | API Unarranged-Accounts-Overdraft - Parcelas do Adiantamento a Depositantes   | [Página](../../#adiantamento-a-depositantes-parcelas-do-contrato)        [Dicionário](../../dictionary/unarrangedAccountsOverdraftGetContractsContractIdScheduledInstalments_v1.csv) |
| Automação de Dicionários. | API Unarranged-Accounts-Overdraft - Pagamentos do Adiantamento a Depositantes | [Página](../../#adiantamento-a-depositantes-pagamentos-do-contrato)      [Dicionário](../../dictionary/unarrangedAccountsOverdraftGetContractsContractIdPayments_v1.csv) |

## Implementações na API Accounts

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . |  |
| [GET] /accounts | Remoção do Campo data/brandID | [Lista de Contas](../../#lista-de-contas) |
| [GET] /accounts/{accountId} | Correção do Enum data/subtype | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do Campo data/brandID | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do Campo data/brandName | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do Campo data/companyCnpj | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do Campo data/requestDateTime | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do Campo data/updateDateTime | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do Campo data/avaiableAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do Campo data/blockedAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do Campo data/automaticallyInvestedAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/avaiableAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/blockedAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/automaticallyInvestedAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/transactions | Criação do Campo data/transactionCurrency 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCnpjCpf Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partiePersonType Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCompeCode Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieBranchCode Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieNumber Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCheckDigit Será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Criação do Campo data/transactionId 'opcional' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Correção do Enum data/completedAuthorisedPaymentType | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Correção e Inclusão de Itens no Enum data/type | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Atualização da Descrição do Campo data/creditDebitType | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do Campo data/overdraftLimitContractedCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do Campo data/overdraftLimitUsedCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do Campo data/unarrangedOverdraftAmountCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do Campo data/unarrangedOverdraftAmount 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Atualização de XPath e Nome | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Campo data/overdraftLimitContracted Aceitará 'null' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Campo data/overdraftLimitUsed Aceitará 'null' | [Limites da Conta](../../#limites-da-conta) |

## Implementações na API Credit Cards

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . | . |
| [GET] /accounts | Atualização da Descrição do Campo data/creditCardAccountId | [Lista de Cartões de Crédito](../../#lista-de-cartoes-de-credito) |
| [GET] /accounts/{creditCardAccountId} | Atualização da Descrição do Campo data/paymentMethod/isMultipleCreditCard | [Identificação do Cartão de Crédito](../../#identificacao-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId} | Campo data/paymentMethod/isMultipleCreditCard Será 'obrigatório' | [Identificação do Cartão de Crédito](../../#identificacao-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/bills | Alteração do Campo data/billIdentification Para data/billId | [Faturas do Cartão de Crédito](../../#fatura-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/bills | Alteração do Campo data/currency Para data/payments/currency | [Faturas do Cartão de Crédito](../../#fatura-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/bills | Criação do Campo data/isInstalment | [Faturas do Cartão de Crédito](../../#fatura-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/bills | Campo data/payments/financeCharges/amount Permitirá 'nulo' | [Faturas do Cartão de Crédito](../../#fatura-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/bills/{billId}/transactions | . | [Transações do Cartão de Crédito por Fatura](../../#transacoes-de-cartao-de-credito-por-fatura) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/limitAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/usedAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/availableAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/availableAmount | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Inclusão de Itens no Enum data/lineName | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Atualização da Descrição do Campo data/islimitflexible | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Campo data/islimitflexible Será Boolean | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/limitAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/usedAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/availableAmountCurrency | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Criação do Campo data/availableAmount | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Alteração do Tamanho do Campo data/identificationNumber | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Campo data/limitAmount Permitirá 'nulo' | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/limits | Campo data/usedAmount Permitirá 'nulo' | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Alteração do Campo data/transactions/billIdentification Para data/transactions/billId | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Inclusão de Itens no Enum data/transactions/lineName | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Campo data/transactions/lineName Será 'obrigatório' | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Atualização de Itens no Enum data/transactions/paymentType | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Criação do Campo data/transactions/transactionId | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Atualização da Descrição do Campo data/paymentType | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Alteração do Tamanho do Campo data/identificationNumber | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Atualização da Descrição do Campo data/feeType | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |
| [GET] /accounts/{creditCardAccountId}/transactions | Atualização da Descrição do Campo data/otherCreditsType | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito) |

## Implementações na API Customers

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . | . |
| [GET] /personal/identifications | Campo data/documents/passportNumber Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/passportNumber Aceitará 'NA' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/passportExpirationDate Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/passportExpirationDate Aceitará 'NA' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/passportCountry Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/passportCountry Aceitará 'NA' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Atualização da Descrição do Campo data/contacts/postalAddresses/address | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/contacts/postalAddresses/additionalInfo Será 'opcional' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/contacts/postalAddresses/districtName Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/contacts/postalAddresses/districtName Aceitará 'NA' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/filiationType Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Inclusão de Itens no Enum data/filiationType | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/filiation/civilName Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/filiation/civilName Aceitará 'NA' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/documents/otherDocuments/additionalInfo Será 'opcional' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Campo data/hasBrazilianNationality Será 'obrigatório' | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Criação do Campo data/nationality/documents/country | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Exclusão do Campo data/personalId | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Atualização da Descrição do Campo data/maritalStatusAdditionalInfo | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Objeto Renomeado De data/contacts/postaAddresses Para data/contacts/postalAddresses | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Atualização da Descrição do Campo data/maritalStatusCode | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/identifications | Atualização da Descrição do Campo data/maritalStatusAdditionalInfo | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural) |
| [GET] /personal/qualifications | Inclusão de Itens no Enum data/informedIcome/frequency | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/currency Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/currency Aceitará 'NA' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/amount Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/amount Aceitará 'null' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/date Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedIncome/date Aceitará 'NA' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/currency Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/currency Aceitará 'NA' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/amount Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/amount Aceitará 'null' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/year Será 'obrigatório' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Campo data/informedPatrimony/year Aceitará 'null' | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Exclusão do Campo data/personalId | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Exclusão do Campo data/brandName | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/qualifications | Exclusão do Campo data/brandID | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural) |
| [GET] /personal/financial-relations | Inclusão de Itens no Enum data/productsServicesType | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Campo data/productsServicesType Será 'obrigatório' | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Criação do Campo data/productsServicesTypeAddionalInfo | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Inclusão de Itens no Enum data/procurators/type | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Campo data/procurators/socialName Será 'obrigatório' | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Campo data/procurators/socialName Aceitará 'NA' | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Exclusão do Campo data/personalId | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Exclusão do Campo data/brandName | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /personal/financial-relations | Exclusão do Campo data/brandID | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural) |
| [GET] /business/identifications | Campo data/tradeName Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/otherDocuments/number Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/otherDocuments/country Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/otherDocuments/expirationDate Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Atualização da Descrição do Campo data/contacts/postalAddresses/address | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/contacts/postalAddresses/districtName Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/contacts/postalAddresses/countryCode Será 'opcional' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/contacts/postalAddresses/additionalInfo Será 'opcional' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/documentCountry Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/documentExpirationDate Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/type Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/companyName Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/startDate Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/parties/personType Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Campo data/businessId Será 'obrigatório' | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Atualização da Descrição do Campo data/parties/documentIssueDate | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/identifications | Exclusão do Campo data/brandID | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica) |
| [GET] /business/qualifications | Atualização da Descrição do Campo data/economicActivities/isMain | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Inclusão de Itens no Enum data/informedRevenue/frequency | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/frequency Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/amount Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/amount Aceitará 'null' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/year Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/year Aceitará 'null' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedRevenue/currency Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedPatrimony/currency Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedPatrimony/amount Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedPatrimony/amount Aceitará 'null' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo Renomeado De data/informedPatrimony/year Para data/informedPatrimony/date | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedPatrimony/date Será 'obrigatório' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Campo data/informedPatrimony/date Aceitará 'null' | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Exclusão do Campo data/businessId | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Exclusão do Campo data/brandID | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Exclusão do Campo data/brandName | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Exclusão do Campo data/companiesCnpj | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/qualifications | Criação do Campo data/informedRevenue/frequencyAdditionalInfo | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica) |
| [GET] /business/financial-relations | Inclusão de Itens no Enum data/productsServicesType | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Inclusão de Itens no Enum data/procurators/type | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Atualização da Descrição do Campo data/procurators/socialName | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Exclusão do Campo data/companiesCnpj | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Exclusão do Campo data/brandID | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Exclusão do Campo data/brandName | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |
| [GET] /business/financial-relations | Campo data/productsServicesType Será 'opcional' | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |

## Implementações na API Loans

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . | . |
| [GET] /contracts | . | [Lista de Empréstimos](../../#emprestimos) |
| [GET] /contracts/{contractId} | . | [Detalhes do Contrato](../../#emprestimos-contrato) |
| [GET] /contracts/{contractId}/warranties | . | [Garantias do Contrato](../../#emprestimos-garantias-do-contrato) |
| [GET] /contracts/{contractId}/scheduled-instalments | . | [Parcelas do Contrato](../../#emprestimos-parcelas-do-contrato) |
| [GET] /contracts/{contractId}/payments | . | [Pagamentos do Contrato](../../#emprestimos-pagamentos-do-contrato) |
