---
title: v1.0.0-rc6.9 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.9 Release Notes

Release Notes para a v1.0.0-rc6.9 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|                                                |


## Implementações na API - Pagamentos

| Mudança | Descrição |
|---------|-----------|
