---
title: v1.0.0-rc9.6 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc9.6 Release Notes

Release Notes para a v1.0.0-rc9.6 do projeto [Open Banking Brasil](../../index.html).

Estas correções foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                         |
| Menu para a nova API Seguros.                                     | Adicionado link para a API no menu lateral.                           | .                     |
| Menu para a nova API Previdência.                                 | Adicionado link para a API no menu lateral.                           | .                     |
| Menu para a nova API Câmbio.                                      | Adicionado link para a API no menu lateral.                           | .                     |
| Menu para a nova API Títulos de Capitalização.                    | Adicionado link para a API no menu lateral.                           | .                     |
| Menu para a nova operação Revogar consentimento de pagamento.     | Adicionado link para a nova operação na API Pagamentos                | .                     |
| Menu para nova página Orientações sobre pagamentos.               | Adicionado link para a nova página no menu na Fase 3                  | .                     |

## Implementações na API Seguros
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                             | Criação da API de Seguros.                  | .                                                          |
| GET /opendata-insurance/v1/automotives          | .                                           | [Página](../../#lista-de-seguros-automotivos)              |
| GET /opendata-insurance/v1/homes                | .                                           | [Página](../../#lista-de-seguros-residenciais)             |
| GET /opendata-insurance/v1/personals            | .                                           | [Página](../../#lista-de-seguros-pessoais)                 |

## Implementações na API Previdência
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                             | Criação da API de Previdência.                | .                                                                                        |
| GET /opendata-pension/v1/risk-coverages         | .                                             | [Página](../../#conjunto-de-informacoes-de-previdencia-de-coberturas-de-risco)           |
| GET /opendata-pension/v1/survival-coverages     | .                                             | [Página](../../#conjunto-de-informacoes-de-previdencia-de-coberturas-de-sobrevivencia)   |

## Implementações na API Câmbio
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                             | Criação da API de Câmbio.                     | .                                                                          |
| GET /opendata-exchange/v1/online-rates          | .                                             | [Página](../../#conjunto-de-informacoes-de-cambio-para-taxa-online)        |
| GET /opendata-exchange/v1/vet-values            | .                                             | [Página](../../#conjunto-de-informacoes-de-cambio-para-valor-vet)          |

## Implementações na API Títulos de Capitalização
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                             | Criação da API de Títulos de Capitalização.   | .                                                                        |
| GET /opendata-capitalization/v1/bonds           | .                                             | [Página](../../#lista-de-titulos-de-capitalizacao)                       |

## Implementações na API Pagamentos
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| PATCH /payments/v1/consents/{consentId}         | Criação da operação de revogação de consentimento na API Pagamentos.    | [Página](../../#revogar-consentimento-de-pagamento)                     |
