---
title: v1.0.0-rc8.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.3 Release Notes

Release Notes para a v1.0.0-rc8.3 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Seção *Problemas conhecidos da especificação* | Atualização do conteudo do pdf do item *Problemas conhecidos da especificação - fase 2*. | [Página](../../#especificacoes-da-fase-2-do-open-banking-brasil)       |
| Seção *Notificações*                          | Atualização do conteudo do item *Definições para o Lançamento Escalonado da fase 2*. Remoção do parágrafo referente ao *Limite de consentimentos*.                | [Página](../../#definicoes-para-o-lancamento-escalonado-da-fase-2)                                                                                                                                                        |
  
## Implementações na API Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0-rc5.4             | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| [POST] /payments/v1/pix/payments             | Alteração do campo *endToEndId* para condicional.             | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/pix/payments/{paymentId} | Alteração do campo *endToEndId* para condicional.             | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
