---
title: v1.0.0-rc7.9 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.9 Release Notes

Release Notes para a v1.0.0-rc7.9 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API Consents

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Inclusão de Novo HTTP Status - 422 Unprocessable Entity | [API - Consents](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)                   |

## Implementações na API Customers

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.             | Versionamento da API para 1.0.3                              | [API - Customers](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)|
| [GET] /personal/identifications | Inclusão de valor NAO_DISPONIVEL para o campo EnumSex        | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural)          |
| [GET] /personal/identifications | Alteração do campo hasBrazilianNationality para aceitar NULL | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural)          |
