---
title: v1.0.0-rc7.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.2 Release Notes

Release Notes para a v1.0.0-rc7.2 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do Guia de Compartilhamento de Dados e Iniciação de Pagamento | Atualização para a versão v3.02.03 | [novo arquivo](../../#guia-de-experiencia-de-compartilhamento-de-dados-e-iniciacao-de-pagamento) |
| Atualização da seção de problemas conhecidos da especificação - fase 2    | Inclusão campos transactionFromDateTime e transactionToDateTime | [Atualiza menu](../../#problemas-conhecidos-da-especificacao)       |

## Implementações na API - Consentimento - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)      |
| Todas as Operações.     | Correção da expressão regular dos campos (*code, title, detail, Authorization, xCustomerUserAgent, xFapiCustomerIpAddress*)   | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)      |
| POST /consents          | Campo expirationDateTime passa a ser obrigatório.                                                                             | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)      |

## Implementações na API - Resources - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)               |
| Todas as Operações.     | Correção da expressão regular dos campos (*code, title, detail, Authorization, xCustomerUserAgent, xFapiCustomerIpAddress*)  | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)               |

## Implementações na API - Dados Cadastrais - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, address, Authorization, brandName, businessId, checkDigit, civilName, code, companyName, country, detail, districtName, documentAdditionalInfo, documentNumber, email, civilName, socialName, frequencyAdditionalInfo, maritalStatusAdditionalInfo, number, occupationDescription, passportNumber, personalId, productsServicesTypeAdditionalInfo, socialName, title, townName, tradeName, type, typeAdditionalInfo, xCustomerUserAgent, xFapiCustomerIpAddress*) | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |
| Diversas Operações.     | Inclusão do atributo "nullable: true" nos campos isMain, productsServicesType, procurators, accounts, parties, contacts, postalAddresses, phones, emails, otherNationalitiesInfo, procurators e ajuste na descrição da lista accounts.                                                                                                                                                                                                                                                                                       | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |

## Implementações na API Payment Initiation - Fase 3
| Mudança | Descrição | 
|---------|-----------|   
| Todas as Operações.               | Versionamento da API para 1.0.0-rc5.0                                                                                               |    
| POST ​/pix​/payments                | Ajuste na expressão regular dos campos remittanceInformation, qrCode e proxy.                                                       |
| POST ​/consents                    | Ajuste na descrição do campo expirationDateTime.                                                                                    |  
| GET  /pix/payments/{paymentId}    | Ajuste na expressão regular dos campos remittanceInformation e proxy.  Ajuste do campo consentId para compatibilizar com a fase 2.  | 







