---
title: v1.0.0-rc6.4 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.4 Release Notes

Release Notes para a v1.0.0-rc6.4 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Menu para a nova API Pagamentos. | Adicionado link para a API no menu lateral. | .                                                                   |
| Automação de Dicionários.        | API Pagamentos                              | [Página](../../##fase-3-apis-do-open-banking-brasil-api-pagamentos) |

## Implementações na API Pagamentos
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                         | Criação da API de Pagamentos. |                                                                                                                               |
| [POST] /payments/v1/consents                | .                             | [Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [GET] /payments/v1/consents/{consentId}     | .                             | [Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments            | .                             | [Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)                                     |
| [GET] /payments/v1/pix/payments/{paymentId} | .                             | [Pix - Consultar iniciação de pagamento..](../../#em-revisao-pix-consultar-iniciacao-de-pagamento)                            |