---
title: v1.0.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0 Release Notes

Release Notes para a v1.0.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Inclusão de Item de Menu. | Migração do Seção "APIs comuns" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#apis-comuns)                                     |
| Inclusão de Item de Menu. | Migração do Seção "API - Canais de atendimento" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-canais-de-atendimento)       |
| Inclusão de Item de Menu. | Migração do Seção "API - Produtos e serviços" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-produtos-e-servicos)           |
| Inclusão de Item de Menu. | Migração do Seção "API - Admin" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-admin)                                       |


### Observação:

As especificaçãões(OAS 3.0) e os dicionário de dados das APIs não sofreram alterações. 