---
title: v1.0.0-rc6.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.2 Release Notes

Release Notes para a v1.0.0-rc6.2 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil [ATA 8](https://ata.8.html).

## Implementações na API Accounts

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . |  |
| [GET] /accounts | . | [Lista de Contas](../../#lista-de-contas) |
| [GET] /accounts/{accountId} | Correção do Enum data/subtype | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do campo data/brandName | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do campo data/companyCnpj | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do campo data/requestDateTime | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId} | Remoção do campo data/updateDateTime | [Detalhes da Conta](../../#identificacao-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do campo data/avaiableAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do campo data/blockedAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Criação do campo data/automaticallyInvestedAmountCurrency 'obrigatório' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/avaiableAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/blockedAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/balances | Campo data/automaticallyInvestedAmount aceitará 'null' | [Saldos da Conta](../../#saldos-da-conta) |
| [GET] /accounts/{accountId}/transactions | Criação do campo data/transactionCurrency 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCnpjCpf será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partiePersonType será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCompeCode será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieBranchCode será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieNumber será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Campo data/partieCheckDigit será 'obrigatório' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Criação do campo data/transactionId 'opcional' | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Correção do Enum data/completedAuthorisedPaymentType | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Correção e Inclusão de Itens no Enum data/type | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/transactions | Atualização da descrição do campo data/creditDebitType | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do campo data/overdraftLimitContractedCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do campo data/overdraftLimitUsedCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do campo data/unarrangedOverdraftAmountCurrency 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Criação do campo data/unarrangedOverdraftAmount 'obrigatório' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Atualização de XPath e Nome | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Campo data/overdraftLimitContracted aceitará 'null' | [Limites da Conta](../../#limites-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | Campo data/overdraftLimitUsed aceitará 'null' | [Limites da Conta](../../#limites-da-conta) |
