---
title: v1.0.0-rc6.8 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.8 Release Notes

Release Notes para a v1.0.0-rc6.8 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.


## Implementações na APIs comuns
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Versionamento da API para 1.0.1     |   [APIs comuns](../../#apis-comuns)  |

## Implementações na API - Canais de atendimento
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Versionamento da API para 1.0.1     |   [API - Canais de atendimento](../../#api-canais-de-atendimento)  |

## Implementações na API - Produtos e serviços
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Versionamento da API para 1.0.1     |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |
| Todas as Operações. | Correção do campo "url" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |  
| Todas as Operações. | Remoção da seção "required" do schema "PersonalAccountCompany" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |
| Todas as Operações. | Remoção do campo "customers" do schema "FinancingService" no swagger       |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  | 
| Todas as Operações. | Remoção do campo "customers" do schema "FinancingInterestRate" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |    
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/minimumRate no dicionário.                 | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/maximumRate no dicionário.                 | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/applications/indexer/rate no dicionário.   | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |

## Implementações na API - Admin
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Versionamento da API para 1.0.1     |   [API - Admin](../../#api-admin)  |
