---
title: v1.0.0-rc6.6 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.6 Release Notes

Release Notes para a v1.0.0-rc6.6 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Inclusão de Submenu de Segurança. | Guia do usuário: Instituição Transmissora.                          | [Novo Submenu](../../#guia-do-usuario-instituicao-transmissora)                                |
| Inclusão de Submenu de Segurança. | Guia do usuário: Instituição Receptora ou Iniciadora de Pagamentos. | [Novo Submenu](../../#guia-do-usuario-instituicao-receptora-ou-iniciadora-de-pagamentos)       |
| Remoção de Submenu de Segurança.  | Perfil de Segurança.                                                | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-perfil-de-seguranca)                  |
| Remoção de Submenu de Segurança.  | OpenID Connect (OIDC).                                              | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-openid-connect-oidc)                  |
| Remoção de Submenu de Segurança.  | JWT.                                                                | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-jwt)                                  |
| Remoção de Submenu de Segurança.  | Fluxo OpenID Connect (OIDC).                                        | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-fluxo-openid-connect-oidc)            |
| Remoção de Submenu de Segurança.  | Financial-Grade API (FAPI).                                         | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-financial-grade-api-fapi)             |
| Remoção de Submenu de Segurança.  | Fluxos de Autenticação e Autorização.                               | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-fluxos-de-autenticacao-e-autorizacao) |
| Remoção de Submenu de Segurança.  | Fluxo de Consentimento.                                             | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-fluxo-de-consentimento)               |                                                                                                                                
| Remoção de Submenu de Segurança.  | Assinatura de Mensagens.                                            | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-assinatura-de-mensagens)              |
| Remoção de Submenu de Segurança.  | Certificados.                                                       | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-certificados)                         |
| Remoção de Submenu de Segurança.  | CSR.                                                                | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-csr)                                  |
| Remoção de Submenu de Segurança.  | Diretório de Participantes.                                         | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-diretorio-de-participantes)           |
| Remoção de Submenu de Segurança.  | Registro de Client Dinâmico.                                        | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-registro-de-client-dinamico)          |
| Remoção de Submenu de Segurança.  | CORS.                                                               | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-cors)                                 |
| Remoção de Submenu de Segurança.  | Endpoints.                                                          | [Acessar Backup](../../versions/v1.0.0-rc6.5/#em-revisao-endpoints)                            |














