---
title: v1.0.0-rc8.7 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.7 Release Notes

Release Notes para a v1.0.0-rc8.7 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.3                                                                                    | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountFee* no swagger.    | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsBillingValueType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsConsolidationType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsFinanceChargeType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsLineLimitType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsLineName* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsOtherCreditType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsPaymentMode* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardAccountsPaymentType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumCreditCardTransactionType* no swagger.      | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)               |


## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Alteração do item *maxLength* no campo *LoansInstalments* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *LoansInstalments* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumContractFeeChargeType* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumContractAmortizationScheduled* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumContractInstalmentPeriodicity* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumContractInterestRateType* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumContractTaxType* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumWarrantySubType* no swagger.      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração do item *maxLength* no campo *EnumWarrantyType* no swagger.         | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
| Todas as Operações.     | Alteração nas opções do *enum* no campo *EnumWarrantySubType* no swagger.     | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)               |
