---
title: v1.0.0-rc7.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.0 Release Notes

Release Notes para a v1.0.0-rc7.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do Diagrama de Sequência             | Diagrama de Sequência da Fase 3               | [Diagrama de Sequência](../../#diagrama-de-sequencia)                   |
| Atualização de Conteudo.                         | Atualização do "Nível de serviço (SLA)"       | [Página](../../#requisitos-nao-funcionais)      |

## Implementações nas APIs da Fase 1
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as APIs.                              | Alteração da versão no swagger (version: 1.0.1-rc1.0).                                    | [APIs da Fase 1.](../../#fase-1-apis-do-open-banking-brasil)                                                                    |
| Todas as APIs.                              | Correção da descrição dos campos "currentDay" e "previousDays" no Swagger.                | [APIs da Fase 1.](../../#fase-1-apis-do-open-banking-brasil)   
| Atualização de Conteudo na Fase 1.          | Correção do tipo e definição dos campos "currentDay" e "previousDays" no menu 'Schemas'.  | [Página](../../#schemas)                                                                   |                                                                |


## Implementações na API - Pagamentos
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                 |    
| Todas as Operações.                          | Versionamento da API para 1.0.0-rc3.0                                                  | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão de informativo abaixo do link "Dicionário de dados"                           | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão dos campos "links" e "meta" na resposta dos endpoints.                        | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Alteração da descrição do swagger, abaixo do titulo "Orientações".                     | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão do item "OAuth2Security" dentro de security, no swagger.                      | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Alteração do item "securitySchemes", no swagger.                                       | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Inclusão de Submenu na Fase 3.               | "Iniciação de pagamentos".                                                                                    | [Novo Submenu](../../#iniciacao-de-pagamentos)                                                                 |
| Atualização de Conteudo na Fase 3.           | "Recomendação uso de pooling".                                                                                | [Página](../../#recomendacao-uso-de-pooling)                                                                   |
| Todas as Operações.                          | Criação da estrutura "meta" dentro do schema "UnprocessableEntityConsents".                                   | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Criação da estrutura "meta" dentro do schema "UnprocessableEntityPixPayments".                                   | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| [POST] /payments/v1/pix/payments             | Alteração da descrição do campo "endToEndId".                                                                 | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [POST] /payments/v1/pix/payments             | Unificação dos campos "creditorAccount/number" e "creditorAccount/checkDigit" para "creditorAccount/number".  | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [POST] /payments/v1/pix/payments             | Exclusão do campo "credito".         | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [POST] /payments/v1/pix/payments             | Inclusão do campo "creditorAccount". | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/pix/payments/{paymentId} | Exclusão do campo "creditor"         | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId} | Inclusão do campo "creditorAccount"  | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId} | Alteração da descrição do campo "endToEndId".                                                                 | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId} | Unificação dos campos "creditorAccount/number" e "creditorAccount/checkDigit" para "creditorAccount/number".  | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                 | Unificação dos campos "debtorAccount/number" e "debtorAccount/checkDigit" para "debtorAccount/number".        | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [POST] /payments/v1/consents                 | Exclusão do campo "debtor".                                                                                   | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/consents/{consentId}     | Unificação dos campos "debtorAccount/number" e "debtorAccount/checkDigit" para "debtorAccount/number".        | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |

