---
title: v1.0.0-rc7.5 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.5 Release Notes

Release Notes para a v1.0.0-rc7.5 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do Guia de Compartilhamento de Dados e Iniciação de Pagamento | Atualização para a versão v3.02.05 | [Página](../../#guia-de-experiencia-de-compartilhamento-de-dados-e-iniciacao-de-pagamento) |
| Atualização do Guia Operacional do Diretório Central   | Atualização para a versão 1.1.3 | [Página](../../#guia-operacional-do-diretorio-central)       |

## Implementações na API - Consentimento - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.2     | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)        |

## Implementações na API - Dados Cadastrais- Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.2     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)  |
| Todas as Operações.     | Alteração do atributo minItems para 1 nos campos (*accounts, emails, parties, phones e procurators*).  | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/otherDocuments            | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/hasBrazilianNationality   | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/nationality               | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/filiation                 | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalFinancialRelationData/productsServicesType.  | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalFinancialRelationData/procurators.           | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalFinancialRelationData/accounts.              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessIdentificationData/parties.                  | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessQualificationData/economicActivities         | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessContacts/postalAddresses                     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessContacts/phones                              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessContacts/emails                              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalContacts/postalAddresses                     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalContacts/phones                              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalContacts/emails                              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo CustomerEmail/isMain                                 | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo CustomerPhone/isMain                                 | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo BusinessPostalAddress/isMain                         | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalPostalAddress/isMain                         | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo EconomicActivity/code                                | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo EconomicActivity/isMain                              | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo Nationality/otherNationalitiesInfo                   | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo Nationality/documents                                | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/sex                       | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalIdentificationData/maritalStatusCode         | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo PersonalQualificationData/occupationCode             | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |  


## Implementações na API - Resources - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.2     | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)                |







