---
title: v1.0.0-rc6.8 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.8 Release Notes

Release Notes para a v1.0.0-rc6.8 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|                                                |
| Automação de Dicionários.        | API - Dados Cadastrais                   | [Página](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |
| Automação de Dicionários.        | API - API - Cartão de Crédito            | [Página](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito) |
| Automação de Dicionários.        | API - Contas                             | [Página](../../#fase-2-apis-do-open-banking-brasil-api-contas) |


## Implementações na API - Dados Cadastrais

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular do campo amount |                                                                                                                                                                                         |

## Implementações na API - Cartão de Crédito

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, billTotalAmount, billMinimumAmount, limitAmount, usedAmount, availableAmount e  brazilianAmount) |                                                                                                                                                                                         |


## Implementações na API - Contas

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, availableAmount, blockedAmount, automaticallyInvestedAmount, overdraftContractedLimit, overdraftUsedLimit e unarrangedOverdraftAmount) |
  

## Implementações na API - Operações de Crédito - Empréstimos

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, contractAmount, feeAmount, chargeAmount, contractOutstandingBalance, paidAmount e warrantyAmount) |
  

## Implementações na API - Operações de Crédito - Financiamentos

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, chargeAmount, contractAmount, feeAmount, contractOutstandingBalance, paidAmount e warrantyAmount) |
  

## Implementações na API - Operações de Crédito - Adiantamento a Depositantes

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, chargeAmount, feeAmount, contractOutstandingBalance, paidAmount, warrantyAmount e contractAmount) |
  

## Implementações na API - Operações de Crédito - Direitos Creditórios Descontados

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | Correção da expressão regular dos campos (amount, chargeAmount, feeAmount, contractAmount, warrantyAmount, contractOutstandingBalance e paidAmount) |
  

