---
title: v1.0.0-rc7.7 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.7 Release Notes

Release Notes para a v1.0.0-rc7.7 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API - Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0-rc6.0                 | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| Todas as Operações.     | Correção da expressão regular do campo *currency*.    | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| [POST] /payments/v1/consents                 | Alteração da expressão regular e do minLength do campo *debtorAccount/number*.    | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/consents/{consentId}     | Alteração da expressão regular e do minLength do campo *debtorAccount/number*.    | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments             | Alteração na descrição do campo *qrCode*.                                         | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [POST] /payments/v1/pix/payments             | Alteração da expressão regular e do minLength do campo *creditorAccount/number*.  | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/pix/payments/{paymentId} | Alteração da expressão regular e do minLength do campo *creditorAccount/number*.  | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
