---
title: v1.0.0-rc6.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.3 Release Notes

Release Notes para a v1.0.0-rc6.3 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Automação de Dicionários.  | API Consents - Criar novo pedido de consentimento.                          | [Página](../../#criar-novo-pedido-de-consentimento) [Dicionário](../../dictionary/consentsPostConsents_v1.csv)                       |
| Automação de Dicionários.  | API Consents - Obter detalhes do consentimento identificado por consentId.  | [Página](../../#obter-detalhes-do-consentimento-identificado-por-consentid) [Dicionário](../../dictionary/consentsGetConsentsConsentId_v1.csv)                       |
| Automação de Dicionários.  | API Resources - Obtém a lista de recursos consentidos pelo cliente.         | [Página](../../#obtem-a-lista-de-recursos-consentidos-pelo-cliente) [Dicionário](../../dictionary/resourcesGetResources_v1.csv)                       |

## Implementações na API Consents

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.            | . | .                                                                                                                                                                                 |
| [POST] /consents               | Exclusão do Campo data/brandID                    | [Criar novo pedido de consentimento](../../#criar-novo-pedido-de-consentimento)                                                   |
| [POST] /consents               | Correção do Enum data/permissions                 | [Criar novo pedido de consentimento](../../#criar-novo-pedido-de-consentimento)                                                   |
| [POST] /consents               | Reorganização dos itens no schema/swagger.        | [Criar novo pedido de consentimento](../../#criar-novo-pedido-de-consentimento)                                                   |
| [GET] /consents/{consentId}    | Exclusão do Campo data/brandID                    | [Obter detalhes do consentimento identificado por consentId](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |
| [GET] /consents/{consentId}    | Exclusão do Campo data/brandName                  | [Obter detalhes do consentimento identificado por consentId](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |
| [GET] /consents/{consentId}    | Correção do Enum data/permissions                 | [Obter detalhes do consentimento identificado por consentId](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |
| [GET] /consents/{consentId}    | Reorganização dos itens no schema/swagger.        | [Obter detalhes do consentimento identificado por consentId](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |
| [GET] /consents/{consentId}    | Inclusão de exemplos no consentId e outros identificadores da API.        | [Obter detalhes do consentimento identificado por consentId](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |

## Implementações na API Resources

| Mudança | Descrição |
|---------|-----------|
| Todas as Operações. | . |                                                                                                                                                                                         |
| [GET] /resources               | Reorganização dos itens no schema/swagger e da seção de descrição da API.        |
| [GET] /resources               | Correção da descrição do campo resourceId e ajuste do tamanho.        |
| [GET] /resources               | Correção da expressão regular do campo resourceId.        |
