---
title: v1.0.0-rc6.9 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.9 Release Notes

Release Notes para a v1.0.0-rc6.9 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|                                                |
| Todas as Operações.                            | Inclusão de informativo abaixo do titulo "Dicionário de dados"                  |
| Inclusão de Submenu de Segurança.              | Assinaturas                          | [Novo Submenu](../../#signatures)        |
  

## Implementações na API - Pagamentos

| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações. | Versionamento da API para 1.0.1     |   [APIs comuns](../../#pagamentos)  |




--pix/payments
Alteração no campo endToEndId para Obrigatório
Inclusão de descrição no campo Retry-After do headers
Inclusão de descrição no campo headers x-fapi-interaction-id do headers
Inclusão da propriedade minLength nos campos "amount"
Correção do campo issuerCode para issuer
Correção do campo pixKey para proxy
Alteração dos itens do EnumErrorsCreatePayment, referente as descrição dos erros 422
Alteração dos itens do EnumRejectionReasonType

--Portal - payments

Alteração da descrição do campo "expirationDateTime" no swagger - api /consents
  Alteração do campo /paymentConsent/dateTime para /paymentConsent/date
    Alterar o campo "businessEntity" para condicional
    Alterar a descrição do campo "businessEntity" para "Usuário (pessoa jurídica) que encontra-se logado na instituição Iniciadora de Pagamento."