---
title: v1.0.0-rc8.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.2 Release Notes

Release Notes para a v1.0.0-rc8.2 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|


## Implementações na API Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0-rc5.3             | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| Todas as Operações.     | Alteração do *Content-Type* do request e response para *application/jwt*.     | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| Todas as Operações.     | Inclusão do item *Como assinar o payload* no menu da Fase 3.                  | [Página](../../#como-assinar-o-payload)               |
| [POST] /payments/v1/consents                  | Alteração da descrição do campo *expirationDateTime*.   | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/consents/{consentId}      | Alteração da descrição do campo *expirationDateTime*.   | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
