---
title: v1.0.0-rc8.6 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.6 Release Notes

Release Notes para a v1.0.0-rc8.6 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  


## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Melhoria no Menu do Portal.            |  Inclusão de quebra de linha e tooltip nos textos do menu.         | -         |
| Nova seção *Monitoramento APIs v1.0.2* | Reorganização das *APIs comuns* e *Admin* da Fase 1 para a nova seção.   |  [Monitoramento - APIs v1.0.2](../../#monitoramento-apis) |

## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.3                                                                                    | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Inclusão do item *maxLength* no *EnumAccountType*.                                                                 | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Inclusão do item *maxLength* no *EnumAccountSubType*.                                                              | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Inclusão do item *maxLength* no *EnumPartiePersonType*.                                                            | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Alteração do item *minItens* no *ResponseAccountList*.                                                             | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Alteração do item *minItens* no *ResponseAccountTransactions*.                                                     | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |

## Implementações na API Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.1.             | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| Todas as Operações.     | Alteração da descrição da API no swagger.    | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
