---
title: v1.0.0-rc7.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.3 Release Notes

Release Notes para a v1.0.0-rc7.3 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  


## Implementações na API da Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Ajuste de segurança para as criticas prioritárias do API Security  | [Fase 2 - APIs do Open Banking Brasil](../../#fase-2-apis-do-open-banking-brasil)   |

## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*accountsCheckDigit, Authorization, brandName, checkDigit, code, detail, partieCheckDigit, title, transactionName, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)      |


## Implementações na API - Cartão de Crédito - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, Authorization, brandName, chargeIdentificator, code, detail, lineNameAdditionalInfo, name, networkAdditionalInfo, productAdditionalInfo, title, transactionName, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)      |
| Diversos.               | Inclusão do atributo nullable: true no schema/campo CreditCardAccountsBillsData/payments.   | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)      |


## Implementações na API - Operações de Crédito - Empréstimos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)      |

| Outras alterações em Loans | 
|----------------------------|
|Inclusão do atributo nullable: true no schema/campo LoansContract/CET                          |
|Inclusão do atributo nullable: true no schema/campo LoansContract/interestRates                |
|Inclusão do atributo nullable: true no schema/campo LoansContract/contractedFees               |
|Inclusão do atributo nullable: true no schema/campo LoansContract/contractedFinanceCharges     |
|Inclusão do atributo nullable: true no schema/campo LoansContractInterestRate/preFixedRate     |
|Inclusão do atributo nullable: true no schema/campo LoansPayments/contractOutstandingBalance   |
|Inclusão do atributo nullable: true no schema/campo LoansPayments/releases                     |
|Inclusão do atributo nullable: true no schema/campo LoansReleases/isOverParcelPayment          |
|Inclusão do atributo nullable: true no schema/campo LoansReleases/paidAmount                   |
|Inclusão do atributo nullable: true no schema/campo LoansReleases/overParcel/fees              |
|Inclusão do atributo nullable: true no schema/campo LoansReleases/overParcel/charges           |
|Inclusão do atributo nullable: true no schema/campo LoansWarranties/warrantyAmount             | 

## Implementações na API - Operações de Crédito - Financiamentos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)      |

| Outras alterações em Financings | 
|---------------------------------|
|Inclusão do atributo nullable: true no schema/campo FinancingsContractInterestRate/preFixedRate	| 
|Inclusão do atributo nullable: true no schema/campo FinancingsContract/CET				|
|Inclusão do atributo nullable: true no schema/campo FinancingsContract/interestRates			|
|Inclusão do atributo nullable: true no schema/campo FinancingsContract/contractedFees			|
|Inclusão do atributo nullable: true no schema/campo FinancingsContract/contractedFinanceCharges	|
|Inclusão do atributo nullable: true no schema/campo FinancingsPayments/contractOutstandingBalance	|
|Inclusão do atributo nullable: true no schema/campo FinancingsPayments/releases			|
|Inclusão do atributo nullable: true no schema/campo FinancingsReleases/paidAmount			|
|Inclusão do atributo nullable: true no schema/campo FinancingsReleases/isOverParcelPayment		|
|Inclusão do atributo nullable: true no schema/campo FinancingsWarranties/warrantyAmount		|
|Inclusão do atributo nullable: true no schema/campo FinancingsOverParcel/fees				|
|Inclusão do atributo nullable: true no schema/campo FinancingsOverParcel/charges			|

## Implementações na API - Operações de Crédito - Direitos Creditórios Descontados - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)      |

| Outras alterações em Invoice-financings | 
|-----------------------------------------|
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContract/CET 			|
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContract/interestRates 		|
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContract/contractedFees 		|
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContract/contractedFinanceCharges |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContractedWarranty/warrantyAmount |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsContractInterestRate/preFixedRate |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsPayments/contractOutstandingBalance |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsPayments/releases |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsReleases/isOverParcelPayment |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsReleases/paidAmount |
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsReleases/overParcel/fees	|
|Inclusão do atributo nullable: true no schema/campo InvoiceFinancingsReleases/overParcel/charges	|

## Implementações na API - Operações de Crédito - Adiantamento a Depositantes - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)      |

| Outras alterações em Unarranged-accounts-overdraft | 
|----------------------------------------------------|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftPaymentsData/contractOutstandingBalance |
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftPaymentsData/releases|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftReleases/isOverParcelPayment|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftReleases/paidAmount|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftReleases/overParcel/fees|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftReleases/overParcel/charges|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountsOverdraftContractedWarranty/warrantyAmount|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractData/CET|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractData/interestRates|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractData/contractedFees|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractData/contractedFinanceCharges|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractInterestRate/preFixedRate|
|Inclusão do atributo nullable: true no schema/campo UnarrangedAccountOverdraftContractInterestRate/postFixedRate|  

