---
title: v1.0.0-rc9.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc9.3 Release Notes

Release Notes para a v1.0.0-rc9.3 do projeto [Open Banking Brasil](../../index.html).

Estas correções foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Inclusão de informações a respeito da Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                                     |
| Nova subseção *Assinatura de Mensagem vs Idempotência* na fase 3                  | Criação da subseção *Assinatura de Mensagem vs Idempotência* na fase 3            | [Página](../../#assinatura-de-mensagem-vs-idempotencia)                     |
| Evolução do conteúdo existentes na sessão *Como assinar payload* na fase 3        | Evolução do conteúdo existentes na sessão *Como assinar payload* na fase 3        | [Página](../../#como-assinar-o-payload)                                     |
| Inclusão de texto na sessão *Idempotencia* na fase 3                              | Inclusão de texto na sessão *Idempotencia* na fase 3                              | [Página](../../#idempotencia)                                               |
| Nova subseção *Definições para o Lançamento Escalonado* na fase 3                 | Criação da subseção *Definições para o Lançamento Escalonado* da fase 3           | [Página](../../#definicoes-para-o-lancamento-escalonado-da-fase-3)          |
| Atualização planilha de problemas conhecidos da versão da Fase 3                  | Atualização planilha de problemas conhecidos da versão da Fase 3                  | [Página](../../#especificacoes-da-fase-3-do-open-banking-brasil)            |
| Atualização links de Segurança na seção sobre Fase 3                              | Atualização links de Segurança na seção sobre Fase 3                              | [Página](../../#fase-3-apis-do-open-banking-brasil)                         |

## Atualização dos links de Segurança
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Atualização dos links de Segurança                                                | Atualização dos links de Segurança                                                | [Página](../../#seguranca)                                                  |
