---
title: v1.0.0-rc7.3 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.3 Release Notes

Release Notes para a v1.0.0-rc7.3 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  


## Implementações na API da Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Ajuste de segurança para as criticas prioritárias do API Security  | [Fase 2 - APIs do Open Banking Brasil](../../#fase-2-apis-do-open-banking-brasil)   |

## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*accountsCheckDigit, Authorization, brandName, checkDigit, code, detail, partieCheckDigit, title, transactionName, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)      |


## Implementações na API - Cartão de Crédito - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, Authorization, brandName, chargeIdentificator, code, detail, lineNameAdditionalInfo, name, networkAdditionalInfo, productAdditionalInfo, title, transactionName, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)      |


## Implementações na API - Operações de Crédito - Empréstimos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)      |

## Implementações na API - Operações de Crédito - Financiamentos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)      |

## Implementações na API - Operações de Crédito - Direitos Creditórios Descontados - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)      |

## Implementações na API - Operações de Crédito - Adiantamento a Depositantes - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)                    |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, amortizationScheduledAdditionalInfo, Authorization, brandName, chargeAdditionalInfo, code, contractId, detail, feeCode, feeName, instalmentPeriodicityAdditionalInfo, productName, referentialRateIndexerAdditionalInfo, title, xCustomerUserAgent e xFapiCustomerIpAddress*)   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)      |
| Todas as Operações.     | Alteração no maxLength do campo *contractId*   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)      |

