---
title: v1.0.0-rc7.2 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.2 Release Notes

Release Notes para a v1.0.0-rc7.2 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações na API - Consentimento - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                       |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)      |
| Todas as Operações.     | Correção da expressão regular dos campos (*code, title, detail, Authorization, xCustomerUserAgent, xFapiCustomerIpAddress*)   | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)      |

## Implementações na API - Resources - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)               |
| Todas as Operações.     | Correção da expressão regular dos campos (*code, title, detail, Authorization, xCustomerUserAgent, xFapiCustomerIpAddress*)  | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)               |

## Implementações na API - Dados Cadastrais - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.     | Versionamento da API para 1.0.0     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |
| Todas as Operações.     | Correção da expressão regular dos campos (*additionalInfo, address, Authorization, brandName, businessId, checkDigit, civilName, code, companyName, country, detail, districtName, documentAdditionalInfo, documentNumber, email, civilName, socialName, frequencyAdditionalInfo, maritalStatusAdditionalInfo, number, occupationDescription, passportNumber, personalId, productsServicesTypeAdditionalInfo, socialName, title, townName, tradeName, type, typeAdditionalInfo, xCustomerUserAgent, xFapiCustomerIpAddress*) | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais) |







