---
title: v1.0.0-rc8.1 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.1 Release Notes

Release Notes para a v1.0.0-rc8.1 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do *Cronograma de certificação*  | Seção *Diretrizes técnicas de certificação de conformidade* | [Página](../../#diretrizes-tecnicas-de-certificacao-de-conformidade)     |

## Implementações nas APIs da Fase 1
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as APIs.                              | Versionamento da API para 1.0.2.                                                        | [APIs da Fase 1.](../../#fase-1-apis-do-open-banking-brasil)                                  |
| Todas as APIs.                              | Remoção do atributo *contact: email* no swagger das APIs                                | [APIs da Fase 1.](../../#fase-1-apis-do-open-banking-brasil)                                  |
| Todas as APIs.                              | Inclusão do atributo *contact: url* no swagger das APIs                                 | [APIs da Fase 1.](../../#fase-1-apis-do-open-banking-brasil)                                  |
| Seção *Schemas*                             | Correção das informações de *tipo e definição* dos campos *currentDay e previousDays .  | [Página.](../../#schemas)                                  |
| Seção *Schemas*                             | Ordenação alfabética dos itens de menu da seção.                                        | [Página.](../../#schemas)                                  |


## Implementações na API - Canais de atendimento - Fase 1
| Mudança | Descrição | Link |
|---------|-----------|------|
| [GET] /channels/v1/shared-automated-teller-machines    | Inclusão do *minItems e maxItems* na propriedade *sharedAutomatedTellerMachines* no swagger.   | [Terminais de autoatendimento compartilhados](../../#terminais-de-autoatendimento-compartilhados) |
