---
title: v1.0.0-rc9.5 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc9.5 Release Notes

Release Notes para a v1.0.0-rc9.5 do projeto [Open Banking Brasil](../../index.html).

Estas correções foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                       |
| Menu para a nova Fase 4                  | Adicionado item de menu lateral para identificação das novas APIs.   | .                     |
| Menu para a nova API Investimentos.      | Adicionado link para a API no menu lateral.                          | .                     |
| Menu para a nova API Credenciamento.     | Adicionado link para a API no menu lateral.                          | .                     |

## Implementações na API Investimentos
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                                 | Criação da API de Investimentos.        | .                                                                                   |
| GET /opendata-investments/v1/funds                  | .                                       | [Página](../../#lista-de-fundos-de-investimento)                                    |
| GET /opendata-investments/v1/bank-fixed-incomes     | .                                       | [Página](../../#lista-de-produtos-de-renda-fixa-bancaria-cdb-rdb-lci-e-lca)         |
| GET /opendata-investments/v1/credit-fixed-incomes   | .                                       | [Página](../../#lista-de-produtos-de-renda-fixa-credito-debentures-cri-e-cra)       |
| GET /opendata-investments/v1/variable-incomes       | .                                       | [Página](../../#lista-de-produtos-de-renda-variavel-acoes-e-fundos-de-indices)      |
| GET /opendata-investments/v1/treasure-titles        | .                                       | [Página](../../#lista-de-informacoes-sobre-titulos-do-tesouro-direto)               |

## Implementações na API Credenciamento
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                                 | Criação da API de Credenciamento.        | .                                                                                       |
| GET /opendata-acquiring-services/v1/personals       | .                                       | [Página](../../#conjunto-de-informacoes-de-credenciamento-para-pessoa-fisica)           |
| GET /opendata-acquiring-services/v1/businesses      | .                                       | [Página](../../#conjunto-de-informacoes-de-credenciamento-para-pessoa-juridica)         |

