---
title: v1.0.0-rc6.9 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.9 Release Notes

Release Notes para a v1.0.0-rc6.9 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Inclusão de Submenu de Segurança.              | Assinaturas                | [Novo Submenu](../../#signatures)        |

## Implementações na API - Pagamentos
| Mudança | Descrição | Link |
|---------|-----------|-----------|
| Todas as Operações.                            | Inclusão de informativo abaixo do titulo "Dicionário de dados"                  |
| Todas as Operações. | Versionamento da API para 1.0.0-rc2.0    |   [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)  |
| [POST] /payments/v1/pix/payments               | Alteração do campo "endToEndId" para obrigatório                                        | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments               | Inclusão do campo "Retry-After" no header da resposta do status 429                     | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments               | Inclusão do campo "x-fapi-interaction-id" no header da resposta de todos os status      | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments               | Inclusão do "minLength" nos campos "amount"                                             | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments               | Alteração do campo "issuerCode" para "issuer"                                           | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments               | Alteração do campo "pixKey" para "proxy"                                                | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments              | Alteração dos itens do "EnumErrorsCreatePayment"                                        | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [POST] /payments/v1/pix/payments              | Alteração dos itens do "EnumRejectionReasonType"                                        | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Alteração do campo "endToEndId" para obrigatório                                        | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Inclusão do campo "Retry-After" no header da resposta do status 429                     | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Inclusão do campo "x-fapi-interaction-id" no header da resposta de todos os status      | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Inclusão do "minLength" nos campos "amount"                                             | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Alteração do campo "issuerCode" para "issuer"                                           | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Alteração do campo "pixKey" para "proxy"                                                | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Alteração dos itens do "EnumErrorsCreatePayment"                                        | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId}   | Alteração dos itens do "EnumRejectionReasonType"                                        | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/consents/{consentId}       | Alteração da descrição do campo "businessEntity"                 | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [GET]  /payments/v1/consents/{consentId}       | Alteração do campo "businessEntity" para condicional             | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [GET]  /payments/v1/consents/{consentId}       | Alteração do campo "dateTime" para "date"                        | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [GET]  /payments/v1/consents/{consentId}       | Alteração da descrição do campo "expirationDateTime"             | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                   | Alteração da descrição do campo "businessEntity"                 | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                   | Alteração do campo "businessEntity" para condicional             | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                   | Alteração do campo "dateTime" para "date"                        | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                   | Alteração da descrição do campo "expirationDateTime"             | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento) |
