---
title: v1.0.0-rc8.4 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.4 Release Notes

Release Notes para a v1.0.0-rc8.4 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Seção *Guia de Experiência de Compartilhamento de Dados e Iniciação de Pagamento* | Atualização do conteudo do pdf. | [Página](../../#guia-de-experiencia-de-compartilhamento-de-dados-e-iniciacao-de-pagamento)       |

## Implementações na API Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.               | Versionamento da API para 1.0.0-rc5.5             | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)               |
| [POST] /payments/v1/pix/payments  | Inclusão do campo *cnpjInitiator* no payload do request e do response.   | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/pix/payments/{paymentId} | Inclusão do campo *cnpjInitiator* no payload do response.     | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
