---
title: v1.0.0-rc7.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.0 Release Notes

Release Notes para a v1.0.0-rc7.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do Diagrama de Sequência             | Diagrama de Sequência da Fase 3 | [Diagrama de Sequência](../../#diagrama-de-sequencia)                   |


## Implementações na API - Pagamentos
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                 |    
| Todas as Operações.                          | Versionamento da API para 1.0.0-rc3.0                                                  | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão de informativo abaixo do link "Dicionário de dados"                           | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão dos campos "links" e "meta" na resposta dos endpoints.                        | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Alteração da descrição do swagger, abaixo do titulo "Orientações".                     | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Inclusão do item "OAuth2Security" dentro de security, no swagger.                      | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Todas as Operações.                          | Alteração do item "securitySchemes", no swagger.                      | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                   |
| Inclusão de Submenu na Fase 3.               | "Iniciação de pagamentos"                                                                                    | [Novo Submenu](../../#iniciacao-de-pagamentos)                                                                 |
| Atualização de Conteudo na Fase 3.           | "Recomendação uso de pooling"                                                                                | [Página](../../#recomendacao-uso-de-pooling)                                                                   |
| [POST] /payments/v1/pix/payments             | Alteração da descrição do campo "endToEndId"                                                                 | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [POST] /payments/v1/pix/payments             | Unificação dos campos "creditorAccount/number" e "creditorAccount/checkDigit" para "creditorAccount/number"  | [[Em Revisão] Pix - Criar iniciação de pagamento.](../../#em-revisao-pix-criar-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/pix/payments/{paymentId} | Alteração da descrição do campo "endToEndId"                                                                 | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [GET]  /payments/v1/pix/payments/{paymentId} | Unificação dos campos "creditorAccount/number" e "creditorAccount/checkDigit" para "creditorAccount/number"  | [[Em Revisão] Pix - Consultar iniciação de pagamento.](../../#em-revisao-pix-consultar-iniciacao-de-pagamento) |
| [POST] /payments/v1/consents                 | Unificação dos campos "debtorAccount/number" e "debtorAccount/checkDigit" para "debtorAccount/number"        | [[Em Revisão] Criar consentimento para iniciação de pagamento.](../../#em-revisao-criar-consentimento-para-iniciacao-de-pagamento)         |
| [GET]  /payments/v1/consents/{consentId}     | Unificação dos campos "debtorAccount/number" e "debtorAccount/checkDigit" para "debtorAccount/number"        | [[Em Revisão] Consultar consentimento para iniciação de pagamento.](../../#em-revisao-consultar-consentimento-para-iniciacao-de-pagamento) |
     

  schema debtorAccount e schema creditorAccount
