---
title: v1.0.0-rc7.6 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.6 Release Notes

Release Notes para a v1.0.0-rc7.6 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API - Operações de Crédito - Financiamentos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                                    | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo FinancingsContractInterestRate/preFixedRate.    | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsContract/CET.                        | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsContract/interestRates.              | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsContract/contractedFees.             | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsContract/contractedFinanceCharges.   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsPayments/contractOutstandingBalance. | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsPayments/releases.                   | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsReleases/paidAmount.                 | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsReleases/isOverParcelPayment.        | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsWarranties/warrantyAmount.           | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsOverParcel/fees.                     | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo  FinancingsOverParcel/charges.                  | [API - Operações de Crédito - Financiamentos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-financiamentos)     |

## Implementações na API - Operações de Crédito - Direitos Creditórios Descontados - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                                          | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContract/CET.                        | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContract/interestRates.              | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContract/contractedFees.             | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContract/contractedFinanceCharges.   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContractedWarranty/warrantyAmount.   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsContractInterestRate/preFixedRate.   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsPayments/contractOutstandingBalance. | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsPayments/releases.                   | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsReleases/isOverParcelPayment.        | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsReleases/paidAmount.                 | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsReleases/overParcel/fees.            | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo InvoiceFinancingsReleases/overParcel/charges.         | [API - Operações de Crédito - Direitos Creditórios Descontados](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-direitos-credit-rios-descontados)     |

## Implementações na API - Operações de Crédito - Empréstimos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                                                    | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansContract/LoansFinancingsContract/CET.                      | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansContract/LoansFinancingsContract/interestRates.            | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansContract/LoansFinancingsContract/contractedFees.           | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansContract/LoansFinancingsContract/contractedFinanceCharges. | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansContractInterestRate/preFixedRate.                         | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansPayments/contractOutstandingBalance.                       | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansPayments/releases.                                         | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansReleases/isOverParcelPayment.                              | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansReleases/paidAmount.                                       | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansReleases/overParcel/fees.                                  | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansReleases/overParcel/charges.                               | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo LoansWarranties/warrantyAmount.                                 | [API - Operações de Crédito - Empréstimos](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-empr-stimos)     |
  
## Implementações na API - Operações de Crédito - Adiantamento a Depositantes - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                                                       | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftPaymentsData/contractOutstandingBalance. | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftPaymentsData/releases.                   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftReleases/isOverParcelPayment.            | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftReleases/paidAmount.                     | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftReleases/overParcel/fees.                | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftReleases/overParcel/charges.             | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountsOverdraftContractedWarranty/warrantyAmount.      | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractData/CET.                        | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractData/interestRates.              | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractData/contractedFees.             | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractData/contractedFinanceCharges.   | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractInterestRate/preFixedRate.       | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo UnarrangedAccountOverdraftContractInterestRate/postFixedRate.      | [API - Operações de Crédito - Adiantamento a Depositantes](../../#fase-2-apis-do-open-banking-brasil-api-opera-es-de-cr-dito-adiantamento-a-depositantes)     |
  

## Implementações na API - Cartão de Crédito - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                              | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo CreditCardAccountsBillsData/payments.     | [API - Cartão de Crédito](../../#fase-2-apis-do-open-banking-brasil-api-cart-o-de-cr-dito)     |


## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|  
| Todas as Operações.     | Versionamento da API para 1.0.2                                                              | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |
| Todas as Operações.     | Remoção do atributo nullable: true do schema/campo AccountTransactionsData/partiePersonType. | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)     |

