---
title: v1.0.0-rc8.8 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.8 Release Notes

Release Notes para a v1.0.0-rc8.8 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API Pagamentos - Fase 3
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                        |    
| Todas as Operações.                           | Versionamento da API para release candidate 1.0.1-rc1.0             | [API - Pagamentos](../../#fase-3-apis-do-open-banking-brasil-api-pagamentos)                                                |
| Iniciação de pagamentos                       | Inclusão do texto do conceito de Iniciação pelo Recebedor.          | [API - Pagamentos](../../#iniciacao-de-pagamentos)                                                                          |
| Diagrama de Sequência                         | Inclusão de validação de regra de negócio a ser executada pela detentora na iniciação de pagamento.          | [API - Pagamentos](../../#diagrama-de-sequencia)                                   |
| Como assinar o payload                        | Correção do texto para o parametro iss.                             | [API - Pagamentos](../../#como-assinar-o-payload)                                  |
| [POST] /payments/v1/consents                  | Inclusão do objeto details no request e response.                   | [Criar consentimento para iniciação de pagamento.](../../#criar-consentimento-para-iniciacao-de-pagamento)                  |
| [POST] /payments/v1/consents                  | Inclusão de novo código de erro HTTP 422 DETALHE_PGTO_INVALIDO.     | [Criar consentimento para iniciação de pagamento.](../../#criar-consentimento-para-iniciacao-de-pagamento)                  |
| [POST] /payments/v1/consents                  | Inclusão de tipo de iniciação de pagamento pelo recebedor no campo EnumLocalInstrument (INIC).    | [Criar consentimento para iniciação de pagamento.](../../#criar-consentimento-para-iniciacao-de-pagamento)                  |
| [GET] /payments/v1/consents                   | Inclusão do objeto details no response.                             | [Consultar consentimento para iniciação de pagamento.](../../#consultar-consentimento-para-iniciacao-de-pagamento)          |
| [POST] /payments/v1/pix/payments              | Inclusão do campo transactionIdentification no request e response.  | [Pix - Criar iniciação de pagamento.](../../#pix-criar-iniciacao-de-pagamento)                                              |
| [POST] /payments/v1/pix/payments              | ResponsePixPaymentData e CreatePixPaymentData, alterar a descrição do campo proxy.  | [Pix - Criar iniciação de pagamento.](../../#pix-criar-iniciacao-de-pagamento)                              |
| [GET]  /payments/v1/pix/payments/{paymentId}  | Inclusão do campo transactionIdentification no response.            | [Pix - Consultar iniciação de pagamento.](../../#pix-consultar-iniciacao-de-pagamento)                                      |




  