---
title: v1.0.0-rc7.4 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc7.4 Release Notes

Release Notes para a v1.0.0-rc7.4 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API - Contas - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.1     | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)                      |
| Todas as Operações.     | Inclusão do atributo nullable: true no schema/campo AccountTransactionsData/partiePersonType.   | [API - Contas](../../#fase-2-apis-do-open-banking-brasil-api-contas)      |

## Implementações na API - Consentimento - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.1     | [API - Consentimento](../../#fase-2-apis-do-open-banking-brasil-api-consentimento)        |

## Implementações na API - Dados Cadastrais- Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.1     | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)  |
| Todas as Operações.     | Alteração do atributo minItems para 0 nos campos (*accounts, emails, parties, phones e procurators*).  | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Inclusão do atributo nullable: true no schema/campo PersonalIdentificationData/maritalStatusCodesex.   | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Inclusão do atributo nullable: true no schema/campo PersonalIdentificationData/sex.                    | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |
| Todas as Operações.     | Inclusão do atributo nullable: true no schema/campo PersonalQualificationData/occupationCode.          | [API - Dados Cadastrais](../../#fase-2-apis-do-open-banking-brasil-api-dados-cadastrais)     |

## Implementações na API - Resources - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                         |    
| Todas as Operações.     | Versionamento da API para 1.0.1     | [API - Resources](../../#fase-2-apis-do-open-banking-brasil-api-resources)                |




