---
title: v1.0.0-rc8.9 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.9 Release Notes

Release Notes para a v1.0.0-rc8.9 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Atualização do *Cronograma de certificação*   | Seção *Diretrizes técnicas de certificação de conformidade*                             | [Página](../../#diretrizes-tecnicas-de-certificacao-de-conformidade)    |
| Problemas conhecidos da especificação         | Atualização do conteudo do pdf do item Problemas conhecidos da especificação - fase 2.  | [Problemas Conhecidos](../../#problemas-conhecidos-da-especificacao)   |

## Implementações na API Pagamentos - Fase 2
| Mudança | Descrição | Link |
|---------|-----------|-----------|                                                                                                                                           |
| [GET]  /loans/v1/contracts/{contractId}                                     | Remoção do atributo minItems das propriedades *LoansContractedFee, LoansInstalments*          | [Empréstimos - Contrato](../../#emprestimos-contrato)                                             |
| [GET]  /financings/v1/contracts/{contractId}                                | Remoção do atributo minItems das propriedades *contractedFees, contractedFinanceCharges*      | [Financiamentos - Contrato](../../#financiamentos-contrato)                                       |
| [GET]  /invoice-financings/v1/contracts/{contractId}                        | Remoção do atributo minItems das propriedades *contractedFees, contractedFinanceCharges*      | [Direitos Creditórios Descontados - Contrato](../../#direitos-creditorios-descontados-contrato)   |
| [GET]  /unarranged-accounts-overdraft/v1/contracts/{contractId}             | Remoção do atributo minItems das propriedades *contractedFees, contractedFinanceCharges*      | [Adiantamento a Depositantes - Contrato](../../#adiantamento-a-depositantes-contrato)             |
| [GET]  /credit-cards-accounts/v1/accounts                                   | Remoção do atributo minItems da propriedade *data*                                            | [Lista de cartões de crédito](../../#lista-de-cartoes-de-credito)                                 |
| [GET]  /credit-cards-accounts/v1/accounts/{creditCardAccountId}/bills       | Remoção do atributo minItems da propriedade *payments*                                        | [Fatura de Cartão de Crédito](../../#transacoes-de-cartao-de-credito-por-fatura)                  |
