---
title: v1.0.0-rc9.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc9.0 Release Notes

Release Notes para a v1.0.0-rc9.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal
| Mudança | Descrição | Link |
|---------|-----------|------|
| Problemas conhecidos da especificação         | Inclusão do item *Especificações da fase 3 do Open Banking Brasil*. | [Página](../../#especificacoes-da-fase-3-do-open-banking-brasil)   |
