---
title: v1.0.0-rc8.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc8.0 Release Notes

Release Notes para a v1.0.0-rc8.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.  

## Implementações na API Payments - Fase 3
| Mudança | Descrição | 
|---------|-----------|   
| Todas as Operações.               | Versionamento da API para 1.0.0-rc5.2                                                                                               |    
| POST ​/pix​/payments                | Ajuste na expressão regular dos campos remittanceInformation, qrCode e proxy.                                                       |
| POST ​/consents                    | Ajuste na descrição do campo expirationDateTime.                                                                                    |  
| GET  /pix/payments/{paymentId}    | Ajuste na expressão regular dos campos remittanceInformation e proxy.  Ajuste do campo consentId para compatibilizar com a fase 2.  | 
