---
title: v1.0.0-rc6.6 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.7 Release Notes

Release Notes para a v1.0.0-rc6.7 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil.

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Inclusão de Item de Menu. | Migração do Seção "APIs comuns" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#apis-comuns)                                                                                                                                         |
| Inclusão de Item de Menu. | Migração do Seção "API - Canais de atendimento" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-canais-de-atendimento)                                                                                                                                         |
| Inclusão de Item de Menu. | Migração do Seção "API - Produtos e serviços" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-produtos-e-servicos)                                                                                                                                         |
| Inclusão de Item de Menu. | Migração do Seção "API - Admin" do Portal "API's Open Banking Fase 1" para o Portal atual | [Página](../../#api-admin)                                                                                                                                         |


## Implementações na API - Produtos e serviços
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | Correção do campo "url" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |  
| Todas as Operações. | Remoção da seção "required" do schema "PersonalAccountCompany" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |
| Todas as Operações. | Remoção do campo "customers" do schema "FinancingService" no swagger       |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  | 
| Todas as Operações. | Remoção do campo "customers" do schema "FinancingInterestRate" no swagger  |   [API - Produtos e serviços](../../#api-produtos-e-servicos)  |    
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/minimumRate no dicionário.                 | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/maximumRate no dicionário.                 | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |
| [GET] /products-services/v1/personal-credit-cards    | Correção do nome do campo /personalCreditCards/interest/rates/applications/indexer/rate no dicionário.   | [Cartão de crédito de pessoa natural](../../#cartao-de-credito-de-pessoa-natural) |
