---
title: v1.0.0-rc6.0 Release Notes

#language_tabs: # must be one of https://git.io/vQNgJ

toc_footers:
  - <a href='../../index.html'>Open Banking Brasil</a>

search: false
---

# v1.0.0-rc6.0 Release Notes

Release Notes para a v1.0.0-rc6.0 do projeto [Open Banking Brasil](../../index.html).

Estas mudanças foram aprovadas pelo Comitê de Mudanças do projeto Open Banking Brasil [ATA 7](https://ata.7.html).

## Implementações no Portal

| Mudança | Descrição | Link |
|---------|-----------|------|
| Implementações Geral.          | Correção dos Menus.                         | . |
| Menu para a nova API Consents. | Adicionado link para a API no menu lateral. | . |

## Implementações na API Accounts

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                          | . |                                                   |
| [GET] /accounts                              | . | [Lista de Contas](../../#lista-de-contas)         |
| [GET] /accounts/{accountId}                  | . | [Detalhes da Conta](#identificacao-da-conta)      |
| [GET] /accounts/{accountId}/balances         | . | [Saldos da Conta](../../#saldos-da-conta)         |
| [GET] /accounts/{accountId}/transactions     | . | [Transações da Conta](../../#transacoes-da-conta) |
| [GET] /accounts/{accountId}/overdraft-limits | . | [Limites da Conta](../../#limites-da-conta)       |

## Criação da API Consents

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.            | . | .                                                                                                |
| [POST] /consents               | . | [Cria Pedido de Consentimento](../../#criar-novo-pedido-de-consentimento)                        |
| [GET] /consents/{consentId}    | . | [Detalhes do Consentimento](../../#obter-detalhes-do-consentimento-identificado-por-consentid)   |
| [DELETE] /consents/{consentId} | . | [Exclui/Revoga Consentimento](../../#deletar-revogar-o-consentimento-identificado-por-consentid) |

## Implementações na API Credit Cards

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                                               | . | .                                                                                               |
| [GET] /accounts                                                   | . | [Lista de Cartões de Crédito](../../#lista-de-cartoes-de-credito)                               |
| [GET] /accounts/{creditCardAccountId}                             | . | [Identificação do Cartão de Crédito](../../#identificacao-de-cartao-de-credito)                 |
| [GET] /accounts/{creditCardAccountId}/bills                       | . | [Faturas do Cartão de Crédito](../../#fatura-de-cartao-de-credito)                              |
| [GET] /accounts/{creditCardAccountId}/bills/{billId}/transactions | . | [Transações do Cartão de Crédito por Fatura](../../#transacoes-de-cartao-de-credito-por-fatura) |
| [GET] /accounts/{creditCardAccountId}/limits                      | . | [Limites do Cartão de Crédito](../../#limites-de-cartao-de-credito)                             |
| [GET] /accounts/{creditCardAccountId}/transactions                | . | [Transações do Cartão de Crédito](../../#transacoes-de-cartao-de-credito)                       |

## Implementações na API Customers

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                 | . | .                                                                           |
| [GET] /personal/identifications     | . | [Identificações da Pessoa Natural](../../#identificacao-pessoa-natural)     |
| [GET] /personal/qualifications      | . | [Qualificações da Pessoa Natural](../../#qualificacao-pessoa-natural)       |
| [GET] /personal/financial-relations | . | [Relacionamentos da Pessoa Natural](../../#relacionamento-pessoa-natural)   |
| [GET] /business/identifications     | . | [Identificações da Pessoa Juridica](../../#identificacao-pessoa-juridica)   |
| [GET] /business/qualifications      | . | [Qualificações da Pessoa Juridica](../../#qualificacao-pessoa-juridica)     |
| [GET] /business/financial-relations | . | [Relacionamentos da Pessoa Juridica](../../#relacionamento-pessoa-juridica) |

## Implementações na API Financings

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                                 | . | .                                                                           |
| [GET] /contracts                                    | . | [Lista de Financiamentos](../../#financiamentos)                            |
| [GET] /contracts/{contractId}                       | . | [Detalhes do Financiamento](../../#financiamentos-contrato)                 |
| [GET] /contracts/{contractId}/warranties            | . | [Garantias do Financiamento](../../#financiamentos-garantias-do-contrato)   |
| [GET] /contracts/{contractId}/scheduled-instalments | . | [Parcelas do Financiamento](../../#financiamentos-parcelas-do-contrato)     |
| [GET] /contracts/{contractId}/payments              | . | [Pagamentos do Financiamento](../../#financiamentos-pagamentos-do-contrato) |

## Implementações na API Invoice Financings

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                                 | . | .                                                                                                             |
| [GET] /contracts                                    | . | [Lista de Direitos Créditórios Descontados](../../#direitos-creditorios-descontados)                          |
| [GET] /contracts/{contractId}                       | . | [Detalhes do Direito Créditório Descontado](../../#direitos-creditorios-descontados-contrato)                 |
| [GET] /contracts/{contractId}/warranties            | . | [Garantias do Direito Créditório Descontado](../../#direitos-creditorios-descontados-garantias-do-contrato)   |
| [GET] /contracts/{contractId}/scheduled-instalments | . | [Parcelas do Direito Créditório Descontado](../../#direitos-creditorios-descontados-parcelas-do-contrato)     |
| [GET] /contracts/{contractId}/payments              | . | [Pagamentos do Direito Créditório Descontado](../../#direitos-creditorios-descontados-pagamentos-do-contrato) |

## Implementações na API Loans

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                                 | . | .                                                                     |
| [GET] /contracts                                    | . | [Lista de Empréstimos](../../#emprestimos)                            |
| [GET] /contracts/{contractId}                       | . | [Detalhes do Empréstimo](../../#emprestimos-contrato)                 |
| [GET] /contracts/{contractId}/warranties            | . | [Garantias do Empréstimo](../../#emprestimos-garantias-do-contrato)   |
| [GET] /contracts/{contractId}/scheduled-instalments | . | [Parcelas do Empréstimo](../../#emprestimos-parcelas-do-contrato)     |
| [GET] /contracts/{contractId}/payments              | . | [Pagamentos do Empréstimo](../../#emprestimos-pagamentos-do-contrato) |

## Implementações na API Unarranged Accounts Overdraft
  
| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações.                                 | . | .                                                                                                      |
| [GET] /contracts                                    | . | [Lista de Adiantamentos a Depositantes](../../#adiantamento-a-depositantes)                            |
| [GET] /contracts/{contractId}                       | . | [Detalhes do Adiantamento a Depositantes](../../#adiantamento-a-depositantes-contrato)                 |
| [GET] /contracts/{contractId}/warranties            | . | [Garantias do Adiantamento a Depositantes](../../#adiantamento-a-depositantes-garantias-do-contrato)   |
| [GET] /contracts/{contractId}/scheduled-instalments | . | [Parcelas do Adiantamento a Depositantes](../../#adiantamento-a-depositantes-parcelas-do-contrato)     |
| [GET] /contracts/{contractId}/payments              | . | [Pagamentos do Adiantamento a Depositantes](../../#adiantamento-a-depositantes-pagamentos-do-contrato) |
          
## Implementações na API Participants

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . | .          |
| [GET] /participants | . | [](../../) |

## Implementações na API Resources

| Mudança | Descrição | Link |
|---------|-----------|------|
| Todas as Operações. | . | .                                                                                                |
| [GET] /resources    | . | [Obtém Lista de Recursos Consentidos](../../#obtem-a-lista-de-recursos-consentidos-pelo-cliente) |
