openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: "http://api.banco.com.br/open-banking/accounts/v1"
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts/identification:
    get:
      tags:
        - Accounts Identification
      summary: Obtém os dados de identificação da conta mantidos na instituição transmissora.
      description: Método para obter os dados de identificação da conta na transmissora.
      operationId: getAccountsIdentification
      parameters:
        - $ref: ./parameters/AccountsCompeCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountIdentification.yaml"

        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/balances:
    get:
      tags:
        - Accounts Balances
      summary: Obtém os saldos da conta mantidos na instituição transmissora.
      description: Método para obter os dados da conta na transmissora.
      operationId: getAccountsBalances
      parameters:
        - $ref: ./parameters/AccountsCompeCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountBalances.yaml"
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Obtém a lista de transações da conta mantidos na instituição transmissora.
      description: Método para obter a lista de transações da conta na transmissora.
      operationId: getAccountsTransactions
      parameters:
        - $ref: ./parameters/AccountsCompeCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountTransactions.yaml"
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Obtém os dados de limite de cheque especial e de adiantamento a depositante  da conta mantidos na instituição transmissora.
      description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: ./parameters/AccountsCompeCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml"
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'
