openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: "http://api.banco.com.br/open-banking/accounts/v1"
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts/identification:
    get:
      tags:
        - Accounts Identification
      summary: Obtém os dados de identificação da conta mantidos na instituição transmissora.
      description: Método para obter os dados de identificação da conta na transmissora.
      operationId: getAccountsIdentification
      parameters:
        - $ref: ./parameters/AccountsIspbCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountIdentification.yaml"
  /accounts/balances:
    get:
      tags:
        - Accounts Balances
      summary: Obtém os saldos da conta mantidos na instituição transmissora.
      description: Método para obter os dados da conta na transmissora.
      operationId: getAccountsBalances
      parameters:
        - $ref: ./parameters/AccountsIspbCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountBalances.yaml"
  /accounts/transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Obtém a lista de transações da conta mantidos na instituição transmissora.
      description: Método para obter a lista de transações da conta na transmissora.
      operationId: getAccountsTransactions
      parameters:
        - $ref: ./parameters/AccountsIspbCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountTransactions.yaml"
  /accounts/overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Obtém os dados de limite de cheque especial e de adiantamento a depositante  da conta mantidos na instituição transmissora.
      description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: ./parameters/AccountsIspbCode.yaml
        - $ref: ./parameters/AccountsBranchCode.yaml
        - $ref: ./parameters/AccountsNumber.yaml
        - $ref: ./parameters/AccountsCheckDigit.yaml
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml"
