openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: "http://api.banco.com.br/open-banking/accounts/v1"
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /identification:
    get:
      tags:
        - Accounts Identification
      summary: Dados de identificação de uma conta
      description: Obtém dados que identificam uma conta
      operationId: getAccountsIdentification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de identificação de conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/ResponseAccountIdentification.yaml"

  /balances:
    get:
      tags:
        - Accounts Balances
      summary: Dados relativos aos saldos em conta
      description: Obtém dados relativos aos saldos em conta
      operationId: getAccountsBalances
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/ResponseAccountBalances.yaml"

  /transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Transações de crédito e débito realizadas e autorizadas
      description: Obtém dados relativos a Transações de crédito e débito realizadas e autorizadas
      operationId: getAccountsTransactions
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Transações de crédito e débito realizadas e autorizadas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/ResponseAccountTransactions.yaml"

  /overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Limites referentes ao valor das operações de crédito
      description: Obtém dados relativos Limites referentes ao valor das operações de crédito (cheque especial e Adiantamento a Depositantes) vinculadas à conta de depósito à vista ou conta corrente
      operationId: getAccountsOverdraftLimits
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        "200":
          description: Dados de Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "./schemas/ResponseAccountOverdraftLimits.yaml"
