openapi: 3.0.0
info:
  title: API de contas de depósito à vista, poupança e contas pré-pagas do Open Banking Brasil – Fase 2.
  description: |
    API que retorna informações de contas de depósito à vista, contas de poupança e contas de pagamento pré-pagas mantidas nas instituições transmissoras por seus clientes, incluindo dados de identificação da conta, saldos, limites e transações.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/accounts/v1'
    description: Servidor de Homologação
tags:
  - name: Accounts Identification
  - name: Accounts Balances
  - name: Accounts Transactions
  - name: Accounts Overdraft Limits
paths:
  /accounts:
    get:
      tags:
        - Accounts Identification
      summary: Obtém a lista de contas consentidas pelo cliente.
      description: Método para obter a lista de contas depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      operationId: getAccounts
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        "200":
          description: Dados de identificação das contas obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAccount"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/{accountId}:
    get:
      tags:
        - Accounts Identification
      summary: Obtém os dados de identificação da conta identificada por accountId.
      description: Método para obter os dados de identificação da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsAccountId
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
      responses:
        "200":
          description: Dados de identificação da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAccountIdentification"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/{accountId}/balances:
    get:
      tags:
        - Accounts Balances
      summary: Obtém os saldos da conta identificada por accountId.
      description: Método para obter os saldos da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsAccountIdBalances
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
      responses:
        "200":
          description: Dados relativos aos saldos da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAccountBalances"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/{accountId}/transactions:
    get:
      tags:
        - Accounts Transactions
      summary: Obtém a lista de transações da conta identificada por accountId.
      description: Método para obter a lista de transações da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsAccountIdTransactions
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromBookingDate'
        - $ref: '#/components/parameters/toBookingDate'
        - $ref: '#/components/parameters/creditDebitIndicator'
      responses:
        "200":
          description: Dados da lista de transações da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAccountTransactions"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/{accountId}/overdraft-limits:
    get:
      tags:
        - Accounts Overdraft Limits
      summary: Obtém os limites da conta identificada por accountId.
      description: Método para obter os limites da conta de depósito à vista, poupança ou pagamento pré-paga identificada por accountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsAccountIdOverdraftLimits
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/accountId'
        - $ref: '#/components/parameters/accountsCompeCode'
        - $ref: '#/components/parameters/accountsBranchCode'
        - $ref: '#/components/parameters/accountsNumber'
        - $ref: '#/components/parameters/accountsCheckDigit'
      responses:
        "200":
          description: Dados de limites da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseAccountOverdraftLimits"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

components:
  schemas:
    Account:
      $ref: ./schemas/accounts_apis/Account.yaml
    AccountBrand:
      $ref: ./schemas/accounts_apis/AccountBrand.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    EnumAccountSubType:
      $ref: ./schemas/enum/EnumAccountSubType.yaml
    EnumAccountType:
      $ref: ./schemas/enum/EnumAccountType.yaml
    EnumCompletedAuthorisedPaymentIndicator:
      $ref: ./schemas/enum/EnumCompletedAuthorisedPaymentIndicator.yaml
    EnumCreditDebitIndicator:
      $ref: ./schemas/enum/EnumCreditDebitIndicator.yaml
    EnumOverdraftLimit:
      $ref: ./schemas/enum/EnumOverdraftLimit.yaml
    EnumOverdraftLimitType:
      $ref: ./schemas/enum/EnumOverdraftLimitType.yaml
    EnumPayerPersonType:
      $ref: ./schemas/enum/EnumPayerPersonType.yaml
    EnumPayeePersonType:
      $ref: ./schemas/enum/EnumPayeePersonType.yaml
    EnumTransactionTypes:
      $ref: ./schemas/enum/EnumTransactionTypes.yaml
    EnumTypeAccount:
      $ref: ./schemas/enum/EnumTypeAccount.yaml
    Identification:
      $ref: ./schemas/accounts_apis/Identification.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    OverdraftLimits:
      $ref: ./schemas/accounts_apis/OverdraftLimits.yaml
    OverdraftLimitsBalance:
      $ref: ./schemas/accounts_apis/OverdraftLimitsBalance.yaml
    ResponseAccount:
      $ref: ./schemas/accounts_apis/ResponseAccount.yaml
    ResponseAccountBalances:
      $ref: ./schemas/accounts_apis/ResponseAccountBalances.yaml
    ResponseAccountIdentification:
      $ref: ./schemas/accounts_apis/ResponseAccountIdentification.yaml
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml
    ResponseAccountTransactions:
      $ref: ./schemas/accounts_apis/ResponseAccountTransactions.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
    Transactions:
      $ref: ./schemas/accounts_apis/Transactions.yaml
  parameters:
    accountId:
      $ref: ./parameters/AccountId.yaml
    accountsBranchCode:
      $ref: ./parameters/AccountsBranchCode.yaml
    accountsCheckDigit:
      $ref: ./parameters/AccountsCheckDigit.yaml
    accountsCompeCode:
      $ref: ./parameters/AccountsCompeCode.yaml
    accountsNumber:
      $ref: ./parameters/AccountsNumber.yaml
    Authorization:
      $ref: ./parameters/Authorization.yaml
    creditDebitIndicator:
      $ref: ./parameters/CreditCardDebitIndicator.yaml
    fromBookingDate:
      $ref: ./parameters/FromBookingDate.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    toBookingDate:
      $ref: ./parameters/ToBookingDate.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://authserver.example/.well-known/openid-configuration"
  responses:
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml
