openapi: 3.0.0
info:
  title: APIs Admin do Open Banking Brasil
  description: As API's administrativas são recursos que podem ser consumidos apenas pelo diretório para avaliação e controle da qualidade dos serviços fornecidos pelas instituições financeiras
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking/admin/v1
tags:
- name: Metrics
paths:
  /metrics:
    get:
      tags:
        - Metrics
      summary: Obtém as métricas de disponibilidade das APIs
      description: Obtém as métricas de disponibilidade das APIs
      operationId: getMetrics
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
        - $ref: ./parameters/Period.yaml
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseMetricsList.yaml
        '201':
          $ref: './schemas/ErrorHTTP.yaml#/201'
        '204':
          $ref: './schemas/ErrorHTTP.yaml#/204'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '415':
          $ref: './schemas/ErrorHTTP.yaml#/415'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '502':
          $ref: './schemas/ErrorHTTP.yaml#/502'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'
