openapi: 3.0.0
info:
  title: APIs OpenData do Open Banking Brasil
  description: As APIs descritas neste documento são referentes as APIs da fase OpenData do Open Banking Brasil.
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
tags:
  - name: Channels
    description: Operações para listagem de canais de atendimentos
servers:
  - url: http://api.banco.com.br/open-banking/channels/v1
paths:
  /banking-agents:
    get:
      tags:
        - Channels
      summary: Obtém a lista de correspondentes bancários da instituição financeira.
      description: Método para obter a lista de correspondentes bancários da instituição financeira.
      operationId: getBankingAgents
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseBankingAgentsList.yaml
  /branches:
    get:
      tags:
        - Channels
      summary: Obtém a lista de dependências próprias da instituição financeira.
      description: Método para obter a lista de dependências próprias da instituição financeira.
      operationId: getBranches
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseBranchesList.yaml
  /electronic-channels:
    get:
      tags:
        - Channels
      summary: Obtém a lista de canais eletrônicos de atendimento da instituição financeira.
      description: Método para obter a lista de canais eletrônicos de atendimento da instituição financeira.
      operationId: getElectronicChannels
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseElectronicChannelsList.yaml
  /phone-channels:
    get:
      tags:
        - Channels
      summary: Obtém a lista de canais telefônicos de atendimento da instituição financeira.
      description: Método para obter a lista de canais telefônicos de atendimento da instituição financeira.
      operationId: getPhoneChannels
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponsePhoneChannelsList.yaml
  /shared-automated-teller-machines:
    get:
      tags:
        - Channels
      summary: Obtém a lista de terminais compartilhados de autoatendimento.
      description: Método para obter a lista de terminais compartilhados de autoatendimento da instituição financeira.
      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseSharedAutomatedTellerMachinesList.yaml

