openapi: 3.0.0
info:
  title: APIs OpenData do Open Banking Brasil
  description: As APIs descritas neste documento são referentes as APIs da fase OpenData do Open Banking Brasil.
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
tags:
  - name: Channels
    description: Operações para listagem de canais de atendimentos
servers:
  - url: http://api.banco.com.br/open-banking/channels/v1
paths:
  /banking-agents:
    get:
      tags:
        - Channels
      summary: Obtém a lista de correspondentes bancários da instituição financeira.
      description: Método para obter a lista de correspondentes bancários da instituição financeira.
      operationId: getBankingAgents
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseBankingAgentsList.yaml
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /branches:
    get:
      tags:
        - Channels
      summary: Obtém a lista de dependências próprias da instituição financeira.
      description: Método para obter a lista de dependências próprias da instituição financeira.
      operationId: getBranches
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseBranchesList.yaml
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /electronic-channels:
    get:
      tags:
        - Channels
      summary: Obtém a lista de canais eletrônicos de atendimento da instituição financeira.
      description: Método para obter a lista de canais eletrônicos de atendimento da instituição financeira.
      operationId: getElectronicChannels
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseElectronicChannelsList.yaml
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /phone-channels:
    get:
      tags:
        - Channels
      summary: Obtém a lista de canais telefônicos de atendimento da instituição financeira.
      description: Método para obter a lista de canais telefônicos de atendimento da instituição financeira.
      operationId: getPhoneChannels
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponsePhoneChannelsList.yaml
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /shared-automated-teller-machines:
    get:
      tags:
        - Channels
      summary: Obtém a lista de terminais compartilhados de autoatendimento.
      description: Método para obter a lista de terminais compartilhados de autoatendimento da instituição financeira.
      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponseSharedAutomatedTellerMachinesList.yaml
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'
