openapi: 3.0.0
info:
  title: API Credit-cards-accounts - Open Banking Brasil
  description: |
    API de contas de pagamento pós-pagas do Open Banking Brasil – Fase 2.     
    API que retorna informações de contas de pagamento pós-paga mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, produto, bandeira,\
    limites de crédito, informações sobre transações de pagamento efetuadas e faturas.\
    Não possui segregação entre pessoa natural e pessoa jurídica.   
    Requer consentimento do cliente para todos os `endpoints`.
    
    ## Permissions necessárias para a API Credit-cards-accounts

    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas: 
     
    ### `/accounts`
      - permissions: 
        - GET: **credit-cards-accounts.read**
    ### `/accounts/{creditCardAccountId}`
      - permissions: 
        - GET: **credit-cards-accounts.read**
    ### `/accounts/{creditCardAccountId}/bills`
      - permissions: 
        - GET: **credit-cards-accounts.bills.read**
    ### `/accounts/{creditCardAccountId}/{billId}/transactions`
      - permissions: 
        - GET: **credit-cards-accounts.bills.transactions.read**
    ### `/accounts/{creditCardAccountId}/limits`
      - permissions: 
        - GET: **credit-cards-accounts.limits.read** 
    ### `/accounts/{creditCardAccountId}/transactions`
      - permissions: 
        - GET: **credit-cards-accounts.transactions.read**   
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
    - url: 'https://api.banco.com.br/open-banking/credit-cards-accounts/v1'
      description: Servidor de Produção
    - url: 'https://apih.banco.com.br/open-banking/credit-cards-accounts/v1'
      description: Servidor de Homologação
tags:
  - name: Credit Card
    description: Operações para listagem das informações de Cartão de Crédito
paths:
  /accounts:
    get:
      tags:
        - Credit Card
      summary: Conjunto de informações das Contas de pagamento pós paga
      description: Método para obter a lista de contas de pagamento pós-paga mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      operationId: getAccountsCreditCard
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Conjunto de informações das Contas de pagamento pós paga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccounts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /accounts/{creditCardAccountId}:
    get:
      tags:
        - Credit Card
      summary: Obtém os dados de identificação da conta identificada por creditCardAccountId.
      description: Método para obter os dados de identificação da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountId
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados de identificação da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /accounts/{creditCardAccountId}/bills:
    get:
      tags:
        - Credit Card
      summary: Obtém a lista de faturas da conta identificada por creditCardAccountId.
      description: Método para obter a lista de faturas da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdBills
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromDueDate'
        - $ref: '#/components/parameters/toDueDate'
      responses:
        '200':
          description: Dados referentes à lista de faturas da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBills'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /accounts/{creditCardAccountId}/limits:
    get:
      tags:
        - Credit Card
      summary: |
        Obtém os limites da conta identificada por creditCardAccountId.
      description: |
        Método para obter os limites da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdLimits
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados dos limites da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /accounts/{creditCardAccountId}/transactions:
    get:
      tags:
        - Credit Card
      summary: Obtém a lista de transações da conta identificada por creditCardAccountId.
      description: Método para obter a lista de transações da conta de pagamento pós-paga identificada por creditCardAccountId mantida pelo cliente na instituição transmissora.
      operationId: getAccountsCreditCardAccountIdTransactions
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromTransactionDate'
        - $ref: '#/components/parameters/toTransactionDate'
        - $ref: '#/components/parameters/creditCardTransactionType'
        - $ref: '#/components/parameters/creditCardPayeeMCC'
      responses:
        '200':
          description: Dados das lista de transações da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

components:
  schemas:
    AccountsLimits:
      $ref: ./schemas/credit_cards_apis/AccountsLimits.yaml
    CreditCardAccountsBillsData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillsData.yaml
    CreditCardAccountsBillsFinanceCharge:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillsFinanceCharge.yaml
    CreditCardAccountsBillsPayment:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillsPayment.yaml
    CreditCardAccountsData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsData.yaml
    CreditCardAccountsLimitsData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimitsData.yaml
    CreditCardsAccountPaymentMethod:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsPaymentMethod.yaml
    CreditCardAccountsTransaction:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransaction.yaml
    CreditCardAccountsTransactionsData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactionsData.yaml
    EnumCreditCardAccountFee:
      $ref: ./schemas/enum/EnumCreditCardAccountFee.yaml
    EnumCreditCardAccountsBillingValueType:
      $ref: ./schemas/enum/EnumCreditCardAccountsBillingValueType.yaml
    EnumCreditCardAccountsConsolidationType:
      $ref: ./schemas/enum/EnumCreditCardAccountsConsolidationType.yaml
    EnumCreditCardAccountsFinanceChargeType:
      $ref: ./schemas/enum/EnumCreditCardAccountsFinanceChargeType.yaml
    EnumCreditCardAccountsLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLimitType.yaml
    EnumCreditCardAccountsLineLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineLimitType.yaml
    EnumCreditCardAccountsLineName:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineName.yaml
    EnumCreditCardAccountNetwork:
      $ref: ./schemas/enum/EnumCreditCardAccountNetwork.yaml
    EnumCreditCardAccountsOtherCreditType:
      $ref: ./schemas/enum/EnumCreditCardAccountsOtherCreditType.yaml
    EnumCreditCardAccountsPaymentMode:
      $ref: ./schemas/enum/EnumCreditCardAccountsPaymentMode.yaml
    EnumCreditCardAccountsPaymentType:
      $ref: ./schemas/enum/EnumCreditCardAccountsPaymentType.yaml
    EnumCreditCardAccountsProductType:
      $ref: ./schemas/enum/EnumCreditCardAccountsProductType.yaml
    EnumCreditCardTransactionType:
      $ref: ./schemas/enum/EnumCreditCardTransactionType.yaml
    EnumCreditDebitIndicator:
      $ref: ./schemas/enum/EnumCreditDebitIndicator.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    ResponseCreditCardAccounts:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccounts.yaml
    ResponseCreditCardAccountsBills:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsBills.yaml
    ResponseCreditCardAccountsIdentification:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsIdentification.yaml
    ResponseCreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsLimits.yaml
    ResponseCreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsTransactions.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    creditCardAccountId:
      $ref: ./parameters/CreditCardAccountId.yaml
    creditCardPayeeMCC:
      $ref: ./parameters/CreditCardPayeeMCC.yaml
    creditCardTransactionType:
      $ref: ./parameters/CreditCardTransactionType.yaml
    fromDueDate:
      $ref: ./parameters/FromDueDate.yaml
    fromTransactionDate:
      $ref: ./parameters/FromTransactionDate.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    toDueDate:
      $ref: ./parameters/ToDueDate.yaml
    toTransactionDate:
      $ref: ./parameters/ToTransactionDate.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://authserver.example/.well-known/openid-configuration"
  responses:
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml
