openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking/customers/v1
tags:
  - name: Customers
    description: Operações para listagem das informações Cadastrais do Cliente
paths:
  /business-customers/identification:
    get:
      tags:
        - Customers
      summary: Obtém os dados de identificação da pessoa jurídica mantidos na instituição transmissora.
      description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre identificação pessoa jurídica
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
  /business-customers/qualification:
    get:
      tags:
        - Customers
      summary: Obtém os dados de qualificação da pessoa jurídica mantidos na instituição transmissora.
      description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre qualificação pessoa jurídica
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
  /business-customers/financial-relation:
    get:
      tags:
        - Customers
      summary: Obtém os dados de relacionamento financeiro da pessoa jurídica mantidos na instituição transmissora.
      description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre relacionamento pessoa jurídica
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponseBusinessCustomersFinancialRelation.yaml
  /personal-customers/identification:
    get:
      tags:
        - Customers
      summary: Obtém os dados de identificação da pessoa natural mantidos na instituição transmissora.
      description: Método para obter os dados de identificação da pessoa natural na transmissora.
      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre identificação pessoa física.
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
        '204':
          $ref: './schemas/ErrorHTTP.yaml#/204'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '502':
          $ref: './schemas/ErrorHTTP.yaml#/502'
  /personal-customers/qualification:
    get:
      tags:
        - Customers
      summary: Obtém os dados de qualificação da pessoa natural mantidos na instituição transmissora.
      description: Método para obter os dados de qualificação da pessoa natural na transmissora.
      operationId: getPersonalCustomersQualification 
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre qualificação da pessoa física
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
  /personal-customers/financial-relation:
    get:
      tags:
        - Customers
      summary: Obtém os dados de relacionamento financeiro da pessoa natural mantidos na instituição transmissora.
      description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre relacionamento da pessoa física
          content:
            application/json:
              schema:
                $ref: ./schemas/customers_apis/ResponsePersonalCustomersFinancialRelation.yaml
