openapi: 3.0.0
info:
  title: API's OpenData do Open Banking Brasil
  description: As API's descritas neste documento são referentes as API's da fase OpenData do Open Banking Brasil.
  version: 1.0.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking/customers/v1
tags:
  - name: Qualification
paths:
  /personal-qualification:
    get:
      tags:
        - Qualification
      summary: Obtém dados relativos ao processo de qualificação pessoa natural
      description: Obtém dados relativos ao processo de qualificação pessoa natural
      operationId: getPersonalQualification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre qualificação pessoa natural
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponsePersonalCustomersQualification.yaml
  /business-qualification:
    get:
      tags:
        - Qualification
      summary: Obtém dados relativos ao processo de qualificação pessoa jurídica
      description: Obtém dados relativos ao processo de qualificação pessoa jurídica
      operationId: getBusinessQualification
      parameters:
        - $ref: ./parameters/Page.yaml
        - $ref: ./parameters/PageSize.yaml
      responses:
        '200':
          description: Dados sobre qualificação pessoa jurídica
          content:
            application/json:
              schema:
                $ref: ./schemas/ResponsePersonalCustomersQualification.yaml
