openapi: 3.0.0
info:
  title: API de dados cadastrais de clientes do Open Banking Brasil – Fase 2.
  description: |
    API que retorna os dados cadastrais de clientes e de seus representantes, incluindo dados de identificação, de qualificação financeira, informações sobre representantes cadastrados e sobre o relacionamento financeiro do cliente com a instituição transmissora dos dados.\
    Possui segregação entre pessoa natural e pessoa jurídica. Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/customers/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/customers/v1'
    description: Servidor de Homologação
tags:
  - name: Customers
    description: Operações para listagem das informações Cadastrais do Cliente
paths:
  /personal/identifications:
    get:
      tags:
        - Customers
      summary: Obtém os registros de identificação da pessoa natural.
      description: Método para obter os registros de identificação da pessoa natural mantidos na instituição transmissora.
      operationId: getCustomersPersonalIdentifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre identificação pessoa física.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

  /personal/qualifications:
    get:
      tags:
        - Customers
      summary: Obtém os registros de qualificação da pessoa natural.
      description: Método para obter os registros de qualificação da pessoa natural mantidos na instituição transmissora.
      operationId: getCustomersPersonalQualifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre qualificação da pessoa física
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

  /personal/finantial-relations:
    get:
      tags:
        - Customers
      summary: Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa natural.
      description: Método para obter registros de relacionamentos com a instituição financeira e de representantes da pessoa natural mantidos na instituição transmissora.
      operationId: getCustomersPersonalRelationships
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre relacionamento da pessoa física
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

  /business/identifications:
    get:
      tags:
        - Customers
      summary: Obtém os registros de identificação da pessoa jurídica.
      description: Método para obter os registros de identificação da pessoa jurídica mantidos na instituição transmissora

      operationId: getCustomersBusinessIdentifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre identificação pessoa jurídica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

  /business/qualifications:
    get:
      tags:
        - Customers
      summary: Obtém os registros de qualificação da pessoa jurídica.
      description: Método para obter os registros de qualificação da pessoa jurídica mantidos na instituição transmissora.
      operationId: getCustomersBusinessQualifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre qualificação pessoa jurídica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

  /business/finantial-relations:
    get:
      tags:
        - Customers
      summary: Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica.
      description: Método para obter registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica mantidos na instituição transmissora.
      operationId: getCustomersBusinessRelationships
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre relacionamento pessoa jurídica
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
      security:
        - OpenId:
            - openId
            - customers

components:
  schemas:
    ResponseBusinessCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersFinancialRelation.yaml
    ResponseBusinessCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
    ResponseBusinessCustomersQualification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
    ResponsePersonalCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersFinancialRelation.yaml
    ResponsePersonalCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
    ResponsePersonalCustomersQualification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://authserver.example/.well-known/openid-configuration"   

