openapi: 3.0.0
info:
  title: API Exchange - Open Banking Brasil
  description: |
    API de Câmbio do Open Banking Brasil – Fase 4.
    API que retorna informações de Câmbio.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-exchange/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-exchange/v1"
    description: Servidor de Homologação
tags:
  - name: Exchange Online Rate
    description: Operações para obter as informações de Câmbio para taxa online.
  - name: Exchange VET Value
    description: Operações para obter as informações de Câmbio para valor do VET.

paths:
  /online-rates:
    get:
      tags:
        - Exchange Online Rate
      summary: Conjunto de informações de Câmbio para taxa online.
      operationId: exchangeGetOnlineRate
      description: Método para disponibilizar a taxa online.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseExchangeOnlineRate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /vet-values:
    get:
      tags:
        - Exchange VET Value
      summary: Conjunto de informações de Câmbio para valor do VET.
      operationId: exchangeGetVetValue
      description: Método para disponibilizar o valor VET.<br>O retorno, embora não especificado, deve abranger a classificação do tipo de operação, conforme a circular BCB n&#186; 3690 de 16/12/2013 com os seguintes items&#58;<br><ol><li>Comércio exterior</li><li>Transporte</li><li>Seguros</li><li>Viagens internacionais</li><li>Transferências unilaterais</li><li>Serviços diversos</li><li>Rendas de capitais</li><li>Capitais brasileiros</li><li>Capitais estrangeiros</li><li>Prestação de serviço de pagamento ou transferência internacional - EFX</li></ol>
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseExchangeVetValue"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
components:
  schemas:
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    Phase4Meta:
      $ref: ./schemas/Phase4Meta.yaml
    OKResponseExchangeOnlineRate:
      $ref: ./schemas/exchange_apis/ResponseExchangeOnlineRate.yaml
    OKResponseExchangeVetValue:
      $ref: ./schemas/exchange_apis/ResponseExchangeVetValue.yaml
    ExchangeOnlineRate:
      $ref: ./schemas/exchange_apis/ExchangeOnlineRate.yaml
    ExchangeVetValue:
      $ref: ./schemas/exchange_apis/ExchangeVetValue.yaml
    OnlineRate:
      $ref: ./schemas/exchange_apis/OnlineRate.yaml
    VetValueFrequencyDistribution:
      $ref: ./schemas/business_commons/FrequencyDistribution.yaml
    VetValueFrequencyDistributionPrice:
      $ref: ./schemas/business_commons/FrequencyDistributionPrice.yaml
    EnumExchangeDeliveryForeignCurrency:
      $ref: ./schemas/enum/EnumExchangeDeliveryForeignCurrency.yaml
    EnumExchangeRangeTransactionCategory:
      $ref: ./schemas/enum/EnumExchangeRangeTransactionCategory.yaml
    EnumExchangeTransactionCategory:
      $ref: ./schemas/enum/EnumExchangeTransactionCategory.yaml
    EnumExchangeTransactionType:
      $ref: ./schemas/enum/EnumExchangeTransactionType.yaml
    Participant:
      $ref: ./schemas/business_commons/Participant.yaml
    EnumDistinctTargetAudience:
      $ref: ./schemas/business_commons/EnumDistinctTargetAudience.yaml
    EnumTargetAudience:
      $ref: ./schemas/business_commons/EnumTargetAudience.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
  responses:
    OKResponseExchangeOnlineRate:
      description: "Dados de operações de câmbio da instituição obtidos com sucesso."
      content:
        application/json:
          schema:
            $ref: "./schemas/exchange_apis/ResponseExchangeOnlineRate.yaml"
    OKResponseExchangeVetValue:
      description: "Dados de operações de câmbio da instituição obtidos com sucesso."
      content:
        application/json:
          schema:
            $ref: "./schemas/exchange_apis/ResponseExchangeVetValue.yaml"
    BadRequest:
      description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    TooManyRequests:
      description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
