openapi: 3.0.0
info:
  title: API de informações de operações de financiamentos do Open Banking Brasil – Fase 2.
  description: |
    API que retorna informações de operações de crédito do tipo financiamento, mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, modalidade, número do contrato, tarifas, prazo, prestações, pagamentos, amortizações, garantias, encargos e taxas de juros remuneratórios.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/financings/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/financings/v1'
    description: Servidor de Homologação
tags:
  - name: Financings
paths:
  /contracts/{contractId}:
    get:
      tags:
        - Financings
      summary: Obtém os dados do contrato de financiamento identificado por contractId
      description: Método para obter os dados do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractId
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados do contrato de financiamento identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /contracts/{contractId}/warranties:
    get:
      tags:
        - Financings
      summary: Obtém a lista de garantias vinculadas ao contrato de financiamento identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdWarranties
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Lista de garantias vinculadas ao contrato de financiamento identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /contracts/{contractId}/instalments:
    get:
      tags:
        - Financings
      summary: Obtém os dados do cronograma de parcelas do contrato de financiamento identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdInstalments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados do cronograma de parcelas do contrato de financiamento identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /contracts/{contractId}/payments:
    get:
      tags:
        - Financings
      summary: Obtém os dados de pagamentos do contrato de financiamento identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de financiamento identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdPayments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados de pagamentos do contrato de financiamento identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

components:
  schemas:
    EnumBankBorrowingContractAmortizationSchedule:
      $ref: ./schemas/enum/EnumBankBorrowingContractAmortizationSchedule.yaml
    EnumBankBorrowingContractCalculation:
      $ref: ./schemas/enum/EnumBankBorrowingContractCalculation.yaml
    EnumBankBorrowingContractFeeCharge:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeCharge.yaml
    EnumBankBorrowingContractFeeChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeChargeType.yaml
    EnumBankBorrowingContractFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFinanceChargeType.yaml
    EnumBankBorrowingContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractInstalmentPeriodicity.yaml
    EnumBankBorrowingContractInterestRateType:
      $ref: ./schemas/enum/EnumBankBorrowingContractInterestRateType.yaml
    EnumBankBorrowingContractReferentialRateIndexerSubType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerSubType.yaml
    EnumBankBorrowingContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerType.yaml
    EnumBankBorrowingContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxPeriodicity.yaml
    EnumBankBorrowingContractTaxType:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxType.yaml
    EnumBankBorrowingWarrantySubType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantySubType.yaml
    EnumBankBorrowingWarrantyType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantyType.yaml
    EnumContractProductSubTypeFinancings:
      $ref: ./schemas/enum/EnumContractProductSubTypeFinancings.yaml
    EnumContractProductTypeFinancings:
      $ref: ./schemas/enum/EnumContractProductTypeFinancings.yaml
    EnumTaxType:
      $ref: ./schemas/enum/EnumTaxType.yaml
    FinancingsBalloonPayment:
      $ref: ./schemas/financings_apis/FinancingsBalloonPayment.yaml
    FinancingsChargeOverParcel:
      $ref: ./schemas/financings_apis/FinancingsChargeOverParcel.yaml
    FinancingsContract:
      $ref: ./schemas/financings_apis/FinancingsContract.yaml
    FinancingsContractedFee:
      $ref: ./schemas/financings_apis/FinancingsContractedFee.yaml
    FinancingsContractedWarranty:
      $ref: ./schemas/financings_apis/FinancingsContractedWarranty.yaml
    FinancingsContractInterestRate:
      $ref: ./schemas/financings_apis/FinancingsContractInterestRate.yaml
    FinancingsFinanceCharge:
      $ref: ./schemas/financings_apis/FinancingsFinanceCharge.yaml
    FinancingsInstalments:
      $ref: ./schemas/financings_apis/FinancingsInstalments.yaml
    FinancingsInstalmentsBank:
      $ref: ./schemas/financings_apis/FinancingsInstalmentsBank.yaml
    FinancingsInstalmentsData:
      $ref: ./schemas/financings_apis/FinancingsInstalmentsData.yaml
    FinancingsNonRegulatedCharge:
      $ref: ./schemas/financings_apis/FinancingsNonRegulatedCharge.yaml
    FinancingsPayments:
      $ref: ./schemas/financings_apis/FinancingsPayments.yaml
    FinancingsPaymentBank:
      $ref: ./schemas/financings_apis/FinancingsPaymentBank.yaml
    FinancingsPaymentsData:
      $ref: ./schemas/financings_apis/FinancingsPaymentsData.yaml
    FinancingsReleases:
      $ref: ./schemas/financings_apis/FinancingsReleases.yaml
    FinancingsTaxesOverParcel:
      $ref: ./schemas/financings_apis/FinancingsTaxesOverParcel.yaml
    FinancingsWarranties:
      $ref: ./schemas/financings_apis/FinancingsWarranties.yaml
    FinancingsWarrantiesBank:
      $ref: ./schemas/financings_apis/FinancingsWarrantiesBank.yaml
    FinancingsWarrantiesData:
      $ref: ./schemas/financings_apis/FinancingsWarrantiesData.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
    ResponseFinancingsContract:
      $ref: ./schemas/financings_apis/ResponseFinancingsContract.yaml
    ResponseFinancingsInstalments:
      $ref: ./schemas/financings_apis/ResponseFinancingsInstalments.yaml
    ResponseFinancingsPayments:
      $ref: ./schemas/financings_apis/ResponseFinancingsPayments.yaml
    ResponseFinancingsWarranties:
      $ref: ./schemas/financings_apis/ResponseFinancingsWarranties.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    contractId:
      $ref: ./parameters/ContractId.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://authserver.example/.well-known/openid-configuration"
  responses:
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml
