openapi: 3.0.0
info:
  title: API Seguros - Open Banking Brasil
  description: |
    As APIs descritas neste documento são referentes a API de Seguros da fase OpenInsurance do Open Banking Brasil.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/insurance/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/insurance/v1'
    description: Servidor de Homologação
tags:
  - name: Seguros
    description: Operações para consulta de informações de seguros automotivos, residenciais e pessoais
paths:
  /car:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros automotivos de uma instituição
      operationId: getCarInsurance
      description: Método para obter a lista de todos os seguros automotivos de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCarInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /home:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros residenciais de uma instituição
      operationId: getCarInsurance
      description: Método para obter a lista de todos os seguros automotivos de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCarInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /personal:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros pessoais de uma instituição
      operationId: getCarInsurance
      description: Método para obter a lista de todos os seguros pessoais de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCarInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    ParticipantIdentification:
      $ref: ./schemas/business_commons/ParticipantIdentification.yaml

    CarInsuranceData:
      $ref: ./schemas/insurance_apis/car/CarInsuranceData.yaml



    HomeInsuranceData:
      $ref: ./schemas/insurance_apis/home/HomeInsuranceData.yaml



    PersonalInsuranceData:
      $ref: ./schemas/insurance_apis/personal/PersonalInsuranceData.yaml



#    CapitalizationBondsInsuranceCompanyIdentification:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsInsuranceCompanyIdentification.yaml
#    CapitalizationBondsProduct:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProduct.yaml
#    EnumCapitalizationBondsProductModality:
#      $ref: ./schemas/enum/EnumCapitalizationBondsProductModality.yaml
#    EnumCapitalizationBondsProductPaymentTerm:
#      $ref: ./schemas/enum/EnumCapitalizationBondsProductPaymentTerm.yaml
#    CapitalizationBondsProductTermsAndConditions:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductTermsAndConditions.yaml
#    CapitalizationBondsProductQuota:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductQuota.yaml
#    CapitalizationBondsProductCapitalizationPeriod:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductCapitalizationPeriod.yaml
#    CapitalizationBondsProductAdjustmentIndex:
#      $ref: ./schemas/enum/CapitalizationBondsProductAdjustmentIndex.yaml
#    CapitalizationPeriodContributionAmount:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationPeriodContributionAmount.yaml
#    CapitalizationPeriodEarlyRedemptionItem:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationPeriodEarlyRedemptionItem.yaml
#    LatePayment:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductLatePayment.yaml
#    EnumLatePaymentPeriodExtensionOption:
#      $ref: ./schemas/enum/EnumLatePaymentPeriodExtensionOption.yaml
#    ContributionPayment:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductContributionPayment.yaml
#    CapitalizationBondsProductPaymentMethod:
#      $ref: ./schemas/enum/CapitalizationBondsProductPaymentMethod.yaml
#    CapitalizationBondsProductPrizeDraw:
#      $ref: ./schemas/capitalization_bonds_apis/CapitalizationBondsProductPrizeDraw.yaml
#    EnumPrizeDrawPeriodicity:
#      $ref: ./schemas/enum/EnumPrizeDrawPeriodicity.yaml
#    EnumPrizeDrawLiquidityEarlyRedemption:
#      $ref: ./schemas/enum/EnumPrizeDrawLiquidityEarlyRedemption.yaml
#    EnumPrizeDrawMandatoryDraw:
#      $ref: ./schemas/enum/EnumPrizeDrawMandatoryDraw.yaml
#    CapitalizationBondsProductEnumTargetAudience:
#      $ref: ./schemas/enum/CapitalizationBondsProductEnumTargetAudience.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
  responses:
    OKResponseCarInsuranceList:
      description: Dados de seguros automotivos obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurance_apis/car/ResponseCarInsuranceList.yaml
    OKResponseHomeInsuranceList:
      description: Dados de seguros residenciais obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurance_apis/home/ResponseHomeInsuranceList.yaml
    OKResponsePersonalInsuranceList:
      description: Dados de seguros pessoais obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurance_apis/personal/ResponsePersonalInsuranceList.yaml
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
