openapi: 3.0.0
info:
  title: API Seguros - Open Banking Brasil
  description: |
    As APIs descritas neste documento são referentes a API de Seguros da fase OpenInsurance do Open Banking Brasil.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/opendata-insurances/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/opendata-insurances/v1'
    description: Servidor de Homologação
tags:
  - name: Seguros
    description: Operações para consulta de informações de seguros automotivos, residenciais e pessoais
paths:
  /car:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros automotivos de uma instituição
      operationId: getCarInsurance
      description: Método para obter a lista de todos os seguros automotivos de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCarInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /home:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros residenciais de uma instituição
      operationId: getHomeInsurance
      description: Método para obter a lista de todos os seguros automotivos de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseHomeInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /personal:
    get:
      tags:
        - Seguros
      summary: Conjunto de informações referentes a seguros pessoais de uma instituição
      operationId: getPersonalInsurance
      description: Método para obter a lista de todos os seguros pessoais de uma instituição
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponsePersonalInsuranceList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    # Início schemas comuns
    ParticipantIdentification:
      $ref: ./schemas/business_commons/ParticipantIdentification.yaml
    AssistanceServicesItem:
      $ref: ./schemas/insurances_apis/AssistanceServicesItem.yaml
    CoverageItemAttributesMinLMI:
      $ref: ./schemas/insurances_apis/CoverageItemAttributesMinLMI.yaml
    CoverageItemAttributesMaxLMI:
      $ref: ./schemas/insurances_apis/CoverageItemAttributesMaxLMI.yaml
    CoverageItemAttributeUnit:
      $ref: ./schemas/insurances_apis/CoverageItemAttributeUnit.yaml
    MinimumRequirement:
      $ref: ./schemas/insurances_apis/MinimumRequirement.yaml
    PremiumPayment:
      $ref: ./schemas/insurances_apis/PremiumPayment.yaml
    TermsAndConditionsItem:
      $ref: ./schemas/business_commons/TermsAndConditionsItem.yaml
    # Fim schemas comuns

    # Início car schemas
    OKResponseCarInsuranceList:
      $ref: ./schemas/insurances_apis/car/ResponseCarInsuranceList.yaml
    CarInsuranceData:
      $ref: ./schemas/insurances_apis/car/CarInsuranceData.yaml
    CarInsuranceProduct:
      $ref: ./schemas/insurances_apis/car/CarInsuranceProduct.yaml
    CarCoverageItem:
      $ref: ./schemas/insurances_apis/car/CarCoverageItem.yaml
    EnumCarCoverageType:
      $ref: ./schemas/enum/EnumCarCoverageType.yaml
    CarCoverageItemAttributes:
      $ref: ./schemas/insurances_apis/car/CarCoverageItemAttributes.yaml
    ContractBase:
      $ref: ./schemas/insurances_apis/car/ContractBase.yaml
    EnumCarContractBaseType:
      $ref: ./schemas/enum/EnumCarContractBaseType.yaml
    ContractBaseValue:
      $ref: ./schemas/insurances_apis/car/ContractBaseValue.yaml
    ContractBaseValueUnit:
      $ref: ./schemas/insurances_apis/car/ContractBaseValueUnit.yaml
    CoverageItemFullIndemnityPercentage:
      $ref: ./schemas/insurances_apis/car/CoverageItemFullIndemnityPercentage.yaml
    EnumCoverageItemDeductibleType:
      $ref: ./schemas/enum/EnumCoverageItemDeductibleType.yaml
    CoverageItemDeductiblePercentage:
      $ref: ./schemas/insurances_apis/car/CoverageItemDeductiblePercentage.yaml
    EnumCoverageItemGeographicScopeType:
      $ref: ./schemas/enum/EnumCoverageItemGeographicScopeType.yaml
    CarPartsItem:
      $ref: ./schemas/insurances_apis/car/CarPartsItem.yaml
    EnumCarPartType:
      $ref: ./schemas/enum/EnumCarPartType.yaml
    CarModelsItem:
      $ref: ./schemas/insurances_apis/car/CarModelsItem.yaml
    EnumInsuranceAdditionalType:
      $ref: ./schemas/enum/EnumInsuranceAdditionalType.yaml
    EnumAssistanceServicesPackageType:
      $ref: ./schemas/enum/EnumAssistanceServicesPackageType.yaml
    EnumChargeTypeSignalingType:
      $ref: ./schemas/enum/EnumChargeTypeSignalingType.yaml
    EnumInsuranceTermType:
      $ref: ./schemas/enum/EnumInsuranceTermType.yaml
    EnumCustomerServiceType:
      $ref: ./schemas/enum/EnumCustomerServiceType.yaml
    EnumPremiumPaymentMethodType:
      $ref: ./schemas/enum/EnumPremiumPaymentMethodType.yaml
    EnumPremiumPaymentType:
      $ref: ./schemas/enum/EnumPremiumPaymentType.yaml
    EnumTargetAudiencesType:
      $ref: ./schemas/enum/EnumTargetAudiencesType.yaml
    # Fim car schemas

    # Início home schemas
    OKResponseHomeInsuranceList:
      $ref: ./schemas/insurances_apis/home/ResponseHomeInsuranceList.yaml
    HomeInsuranceData:
      $ref: ./schemas/insurances_apis/home/HomeInsuranceData.yaml
    HomeInsuranceProduct:
      $ref: ./schemas/insurances_apis/home/HomeInsuranceProduct.yaml
    HomeCoverageItem:
      $ref: ./schemas/insurances_apis/home/HomeCoverageItem.yaml
    EnumHomeCoverageType:
      $ref: ./schemas/enum/EnumHomeCoverageType.yaml
    HomeCoverageItemAttributes:
      $ref: ./schemas/insurances_apis/home/HomeCoverageItemAttributes.yaml
    HomePropertyCharacteristics:
      $ref: ./schemas/insurances_apis/home/HomePropertyCharacteristics.yaml
    EnumHomePropertyTypeType:
      $ref: ./schemas/enum/EnumHomePropertyTypeType.yaml
    EnumHomePropertyBuildTypeType:
      $ref: ./schemas/enum/EnumHomePropertyBuildTypeType.yaml
    EnumHomePropertyUsageType:
      $ref: ./schemas/enum/EnumHomePropertyUsageType.yaml
    EnumHomeImportanceInsuredType:
      $ref: ./schemas/enum/EnumHomeImportanceInsuredType.yaml
    ValidityItem:
      $ref: ./schemas/insurances_apis/home/ValidityItem.yaml
    # Fim home schemas

    # Início personal schemas
    OKResponsePersonalInsuranceList:
      $ref: ./schemas/insurances_apis/personal/ResponsePersonalInsuranceList.yaml
    PersonalInsuranceData:
      $ref: ./schemas/insurances_apis/personal/PersonalInsuranceData.yaml
    PersonalInsuranceProduct:
      $ref: ./schemas/insurances_apis/personal/PersonalInsuranceProduct.yaml
    EnumPersonalInsuranceModalityType:
      $ref: ./schemas/enum/EnumPersonalInsuranceModalityType.yaml
    PersonalCoverageItem:
      $ref: ./schemas/insurances_apis/personal/PersonalCoverageItem.yaml
    PersonalCoverageItemAttributes:
      $ref: ./schemas/insurances_apis/personal/PersonalCoverageItemAttributes.yaml
    EnumPersonalIndemnityPaymentMethodType:
      $ref: ./schemas/enum/EnumPersonalIndemnityPaymentMethodType.yaml
    EnumPersonalIndemnityPaymentFrequencyType:
      $ref: ./schemas/enum/EnumPersonalIndemnityPaymentFrequencyType.yaml
    EnumPersonalIndemnifiablePeriodType:
      $ref: ./schemas/enum/EnumPersonalIndemnifiablePeriodType.yaml
    EnumCurrencyType:
      $ref: ./schemas/enum/EnumCurrencyType.yaml
    PersonalInsuranceGracePeriod:
      $ref: ./schemas/insurances_apis/personal/PersonalInsuranceGracePeriod.yaml
    EnumPersonalExcludedRisksType:
      $ref: ./schemas/enum/EnumPersonalExcludedRisksType.yaml
    EnumPersonalInsuranceAssistanceType:
      $ref: ./schemas/enum/EnumPersonalInsuranceAssistanceType.yaml
    EnumPersonalInsuranceValidityType:
      $ref: ./schemas/enum/EnumPersonalInsuranceValidityType.yaml
    PersonalInsurancePmbacRemuneration:
      $ref: ./schemas/insurances_apis/personal/PersonalInsurancePmbacRemuneration.yaml
    EnumPersonalPmbacUpdateIndexType:
      $ref: ./schemas/enum/EnumPersonalPmbacUpdateIndexType.yaml
    PersonalInsuranceBenefitRecalculation:
      $ref: ./schemas/insurances_apis/personal/PersonalInsuranceBenefitRecalculation.yaml
    PersonalInsuranceAgeAdjustment:
      $ref: ./schemas/insurances_apis/personal/PersonalInsuranceAgeAdjustment.yaml
    EnumPersonalInsuranceOtherGuaranteedValues:
      $ref: ./schemas/enum/EnumPersonalInsuranceOtherGuaranteedValues.yaml
    EnumPersonalInsuranceIndemnityPaymentMethod:
      $ref: ./schemas/enum/EnumPersonalInsuranceIndemnityPaymentMethod.yaml
    EnumPersonalInsuranceIndemnityPaymentIncome:
      $ref: ./schemas/enum/EnumPersonalInsuranceIndemnityPaymentIncome.yaml
    PersonalInsurancePremiumPayment:
      $ref: ./schemas/insurances_apis/personal/PersonalInsurancePremiumPayment.yaml
    EnumPersonalInsurancePremiumPaymentFrequency:
      $ref: ./schemas/enum/EnumPersonalInsurancePremiumPaymentFrequency.yaml
    # Fim personal schemas

    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
  responses:
    OKResponseCarInsuranceList:
      description: Dados de seguro(s) automotivos obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurances_apis/car/ResponseCarInsuranceList.yaml
    OKResponseHomeInsuranceList:
      description: Dados de seguro(s) residenciais obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurances_apis/home/ResponseHomeInsuranceList.yaml
    OKResponsePersonalInsuranceList:
      description: Dados de seguro(s) pessoais obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/insurances_apis/personal/ResponsePersonalInsuranceList.yaml
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
