openapi: 3.0.0
info:
  title: API de informações de operações de antecipação de recebíveis do Open Banking Brasil – Fase 2.
  description: |
    API que retorna informações de operações de crédito do tipo antecipação de recebíveis – direitos creditórios descontados - mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, modalidade, número do contrato, tarifas, prazo, prestações, pagamentos, amortizações, garantias, encargos e taxas de juros remuneratórios.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/invoice-financings/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/invoice-financings/v1'
    description: Servidor de Homologação
tags:
  - name: Invoice Financings
paths:
  /contracts/{contractId}:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractId
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados do contrato de antecipação de recebíveis identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseInvoiceFinancingsContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - invoice-financings

  /contracts/{contractId}/warranties:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdWarranties
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseInvoiceFinancingsWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - invoice-financings

  /contracts/{contractId}/instalments:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdInstalments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseInvoiceFinancingsInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - invoice-financings

  /contracts/{contractId}/payments:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdPayments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          description: Dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseInvoiceFinancingsPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - invoice-financings

components:
  schemas:
    EnumBankBorrowingContractAmortizationSchedule:
      $ref: ./schemas/enum/EnumBankBorrowingContractAmortizationSchedule.yaml
    EnumBankBorrowingContractCalculation:
      $ref: ./schemas/enum/EnumBankBorrowingContractCalculation.yaml
    InvoiceFinancingsContractedFee:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedFee.yaml
    EnumBankBorrowingContractFeeCharge:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeCharge.yaml
    EnumBankBorrowingContractFeeChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeChargeType.yaml
    EnumBankBorrowingContractFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFinanceChargeType.yaml
    EnumBankBorrowingContractInterestRateType:
      $ref: ./schemas/enum/EnumBankBorrowingContractInterestRateType.yaml
    EnumBankBorrowingContractReferentialRateIndexerSubType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerSubType.yaml
    EnumBankBorrowingContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerType.yaml
    EnumBankBorrowingContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxPeriodicity.yaml
    EnumBankBorrowingContractTaxType:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxType.yaml
    EnumBankBorrowingContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractInstalmentPeriodicity.yaml
    EnumBankBorrowingWarrantySubType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantySubType.yaml
    EnumBankBorrowingWarrantyType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantyType.yaml
    EnumContractProductSubTypeInvoiceFinancings:
      $ref: ./schemas/enum/EnumContractProductSubTypeInvoiceFinancings.yaml
    EnumContractProductTypeInvoiceFinancings:
      $ref: ./schemas/enum/EnumContractProductTypeInvoiceFinancings.yaml
    EnumTaxType:
      $ref: ./schemas/enum/EnumTaxType.yaml
    InvoiceFinancingsContract:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContract.yaml
    InvoiceFinancingsContractedWarranty:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedWarranty.yaml
    InvoiceFinancingsContractInterestRate:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractInterestRate.yaml
    InvoiceFinancingsChargeOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsChargeOverParcel.yaml
    InvoiceFinancingsFinanceCharge:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsFinanceCharge.yaml
    InvoiceFinancingsBalloonInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBalloonInstalments.yaml
    InvoiceFinancingsBalloonPayment:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBalloonPayment.yaml
    InvoiceFinancingsInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalments.yaml
    InvoiceFinancingsInstalmentsBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalmentsBank.yaml
    InvoiceFinancingsInstalmentsData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalmentsData.yaml
    InvoiceFinancingsNonRegulatedCharge:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsNonRegulatedCharge.yaml
    InvoiceFinancingsPayments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPayments.yaml
    InvoiceFinancingsPaymentBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPaymentBank.yaml
    InvoiceFinancingsPaymentsData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPaymentsData.yaml
    InvoiceFinancingsReleases:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsReleases.yaml
    InvoiceFinancingsTaxesOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsTaxesOverParcel.yaml
    InvoiceFinancingsWarranties:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarranties.yaml
    InvoiceFinancingsWarrantiesBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarrantiesBank.yaml
    InvoiceFinancingsWarrantiesData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarrantiesData.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
    ResponseInvoiceFinancingsContract:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsContract.yaml
    ResponseInvoiceFinancingsInstalments:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsInstalments.yaml
    ResponseInvoiceFinancingsPayments:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsPayments.yaml
    ResponseInvoiceFinancingsWarranties:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsWarranties.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    contractId:
      $ref: ./parameters/ContractId.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: "https://authserver.example/.well-known/openid-configuration"
  responses:
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml

