openapi: 3.0.0
info:
  title: API Invoice-financings - Open Banking Brasil
  description: |
    API de informações de operações de antecipação de recebíveis do Open Banking Brasil – Fase 2.
    API que retorna informações de operações de crédito do tipo antecipação de recebíveis – direitos creditórios descontados - mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, modalidade, número do contrato, tarifas, prazo, prestações, pagamentos, amortizações, garantias, encargos e taxas de juros remuneratórios.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os `endpoints`.

    # Orientações
    A `Role`  do diretório de participantes relacionada à presente API é a `DADOS`.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Este token deverá estar relacionado ao consentimento (`consentId`) mantido na instituição transmissora dos dados, o qual permitirá a pesquisa e retorno, na API em questão, dos
    dados relacionados ao `consentId` específico relacionado.\
    Os dados serão devolvidos na consulta desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    É também necessário que o recurso em questão (conta, contrato, etc) esteja disponível na instituição transmissora (ou seja, sem boqueios de qualquer natureza e com todas as autorizações/consentimentos já autorizados).\
    Além disso as `permissions` necessárias deverão ter sido solicitadas quando da criação do consentimento relacionado (`consentId`).\
    Relacionamos a seguir as `permissions` necessárias para a consulta de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Invoice-financings

    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/contracts`
      - permissions:
        - GET: **INVOICE_FINANCINGS_READ**
    ### `/contracts/{contractId}`
      - permissions:
        - GET: **INVOICE_FINANCINGS_READ**
    ### `/contracts/{contractId}/warranties`
      - permissions:
        - GET: **INVOICE_FINANCINGS_WARRANTIES_READ**
    ### `/contracts/{contractId}/scheduled-instalments`
      - permissions:
        - GET: **INVOICE_FINANCINGS_SCHEDULED_INSTALMENTS_READ**
    ### `/contracts/{contractId}/payments`
      - permissions:
        - GET: **INVOICE_FINANCINGS_PAYMENTS_READ**
  version: 1.0.4
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/invoice-financings/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/invoice-financings/v1'
    description: Servidor de Homologação
tags:
  - name: Invoice Financings
paths:
  /contracts:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de contratos de antecipação de recebíveis consentidos pelo cliente.
      description: Método para obter a lista de contratos de antecipação de recebíveis mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento.
      operationId: invoiceFinancingsGetContracts
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContractList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContractList'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'invoice-financings'
  /contracts/{contractId}:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractId
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseInvoiceFinancingsContract'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'invoice-financings'
  /contracts/{contractId}/warranties:
    get:
      tags:
        - Invoice Financings
      summary: Obtém a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdWarranties
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseInvoiceFinancingsWarranties'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'invoice-financings'
  /contracts/{contractId}/scheduled-instalments:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdScheduledInstalments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseInvoiceFinancingsInstalments'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'invoice-financings'
  /contracts/{contractId}/payments:
    get:
      tags:
        - Invoice Financings
      summary: Obtém os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: invoiceFinancingsGetContractsContractIdPayments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseInvoiceFinancingsPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseInvoiceFinancingsPayments'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'invoice-financings'
components:
  schemas:
    EnumContractAmortizationScheduled:
      $ref: ./schemas/enum/EnumContractAmortizationScheduled.yaml
    EnumContractCalculation:
      $ref: ./schemas/enum/EnumContractCalculation.yaml
    InvoiceFinancingsContractedFee:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedFee.yaml
    EnumContractFeeCharge:
      $ref: ./schemas/enum/EnumContractFeeCharge.yaml
    EnumContractFeeChargeType:
      $ref: ./schemas/enum/EnumContractFeeChargeType.yaml
    EnumContractFinanceChargeType:
      $ref: ./schemas/enum/EnumContractFinanceChargeType.yaml
    EnumContractInterestRateType:
      $ref: ./schemas/enum/EnumContractInterestRateType.yaml
    EnumContractReferentialRateIndexerSubType:
      $ref: ./schemas/enum/EnumContractReferentialRateIndexerSubType.yaml
    EnumContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumContractReferentialRateIndexerType.yaml
    EnumContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumContractTaxPeriodicity.yaml
    EnumContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumContractInstalmentPeriodicity.yaml
    EnumWarrantySubType:
      $ref: ./schemas/enum/EnumWarrantySubType.yaml
    EnumWarrantyType:
      $ref: ./schemas/enum/EnumWarrantyType.yaml
    EnumContractProductSubTypeInvoiceFinancings:
      $ref: ./schemas/enum/EnumContractProductSubTypeInvoiceFinancings.yaml
    EnumContractProductTypeInvoiceFinancings:
      $ref: ./schemas/enum/EnumContractProductTypeInvoiceFinancings.yaml
    InvoiceFinancingsContract:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContract.yaml
    InvoiceFinancingsContractedWarranty:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedWarranty.yaml
    InvoiceFinancingsContractInterestRate:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractInterestRate.yaml
    InvoiceFinancingsFinanceCharge:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsFinanceCharge.yaml
    InvoiceFinancingsBalloonPayment:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBalloonPayment.yaml
    InvoiceFinancingsInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalments.yaml
    InvoiceFinancingsContractData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractData.yaml
    InvoiceFinancingsPayments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPayments.yaml
    InvoiceFinancingsReleases:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsReleases.yaml
    InvoiceFinancingsFeeOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsFeeOverParcel.yaml
    InvoiceFinancingsChargeOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsChargeOverParcel.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
    ResponseInvoiceFinancingsContract:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsContract.yaml
    ResponseInvoiceFinancingsInstalments:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsInstalments.yaml
    ResponseInvoiceFinancingsContractList:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsContractList.yaml
    ResponseInvoiceFinancingsPayments:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsPayments.yaml
    ResponseInvoiceFinancingsWarranties:
      $ref: ./schemas/invoice_financings_apis/ResponseInvoiceFinancingsWarranties.yaml
    XFapiInteractionId:
      $ref: ./headers/XFapiInteractionId.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    contractId:
      $ref: ./parameters/ContractId.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: "Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados."
      flows:
        authorizationCode:
          authorizationUrl: "https://authserver.example/authorization"
          tokenUrl: "https://authserver.example/token"
          scopes:
            invoice-financings: "Escopo necessário para acesso à API Invoice-financings. O controle dos endpoints específicos é feito via permissions."
  responses:
    OKResponseInvoiceFinancingsContractList:
      description: Lista de contratos obtida com sucesso.
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseInvoiceFinancingsContractList'
    OKResponseInvoiceFinancingsContract:
      description: Dados do contrato de antecipação de recebíveis identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseInvoiceFinancingsContract'
    OKResponseInvoiceFinancingsWarranties:
      description: Lista de garantias vinculadas ao contrato de antecipação de recebíveis identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseInvoiceFinancingsWarranties'
    OKResponseInvoiceFinancingsInstalments:
      description: Dados do cronograma de parcelas do contrato de antecipação de recebíveis identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseInvoiceFinancingsInstalments'
    OKResponseInvoiceFinancingsPayments:
      description: Dados de pagamentos do contrato de antecipação de recebíveis identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseInvoiceFinancingsPayments'
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml

