openapi: 3.0.0
info:
  title: API Loans - Open Banking Brasil
  description: |
    API de informações de operações de empréstimos do Open Banking Brasil – Fase 2.
    API que retorna informações de operações de crédito do tipo empréstimo, mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação, modalidade, número do contrato, tarifas, prazo, prestações, pagamentos, amortizações, garantias, encargos e taxas de juros remuneratórios.\
    Não possui segregação entre pessoa natural e pessoa jurídica.\
    Requer consentimento do cliente para todos os `endpoints`.

    # Permissions necessárias para a API Loans

    Para cada um dos paths desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/contracts`
      - permissions:
        - GET: **loans.read**
    ### `/contracts/{contractId}`
      - permissions: **loans.read**
    ### `/contracts/{contractId}/warranties`
      - permissions:
        - GET: **loans.warranties.read**
    ### `/contracts/{contractId}/scheduled-instalments`
      - permissions:
        - GET: **loans.scheduled-instalments.read**
    ### `/contracts/{contractId}/payments`
      - permissions:
        - GET: **loans.payments.read**
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Governança do Open Banking Brasil – Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: 'https://api.banco.com.br/open-banking/loans/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/loans/v1'
    description: Servidor de Homologação
tags:
  - name: Loans
paths:
  /contracts:
    get:
      tags:
        - Loans
      summary: Conjunto de informações  de contratos de empréstimo mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento
      description: Método para obter a lista de contratos de empréstimo mantidos pelo cliente na instituição transmissora e para os quais ele tenha fornecido consentimento
      operationId: getContracts
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansContractList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseLoansContractList'
      security:
        - OpenId:
            - openId
            - loans

  /contracts/{contractId}:
    get:
      tags:
        - Loans
      summary: Obtém os dados do contrato de empréstimo identificado por contractId
      description: Método para obter os dados do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractId
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseLoansContract'
      security:
        - OpenId:
            - openId
            - loans

  /contracts/{contractId}/warranties:
    get:
      tags:
        - Loans
      summary: Obtém a lista de garantias vinculadas ao contrato de empréstimo identificado por contractId
      description: Método para obter a lista de garantias vinculadas ao contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdWarranties
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseLoansWarranties'
      security:
        - OpenId:
            - openId
            - loans

  /contracts/{contractId}/scheduled-instalments:
    get:
      tags:
        - Loans
      summary: Obtém os dados do cronograma de parcelas do contrato de empréstimo identificado por contractId
      description: Método para obter os dados do cronograma de parcelas do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdInstalments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseLoansInstalments'
      security:
        - OpenId:
            - openId
            - loans

  /contracts/{contractId}/payments:
    get:
      tags:
        - Loans
      summary: Obtém os dados de pagamentos do contrato de empréstimo identificado por contractId
      description: Método para obter os dados de pagamentos do contrato de empréstimo identificado por contractId mantido pelo cliente na instituição transmissora
      operationId: getContractsContractIdPayments
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseLoansPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/OKResponseLoansPayments'
      security:
        - OpenId:
            - openId
            - loans

components:
  schemas:
    EnumContractAmortizationScheduled:
      $ref: ./schemas/enum/EnumContractAmortizationScheduled.yaml
    EnumContractCalculation:
      $ref: ./schemas/enum/EnumContractCalculation.yaml
    EnumContractFeeCharge:
      $ref: ./schemas/enum/EnumContractFeeCharge.yaml
    EnumContractFeeChargeType:
      $ref: ./schemas/enum/EnumContractFeeChargeType.yaml
    EnumContractFinanceChargeType:
      $ref: ./schemas/enum/EnumContractFinanceChargeType.yaml
    EnumContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumContractInstalmentPeriodicity.yaml
    EnumContractInterestRateType:
      $ref: ./schemas/enum/EnumContractInterestRateType.yaml
    EnumContractReferentialRateIndexerSubType:
      $ref: ./schemas/enum/EnumContractReferentialRateIndexerSubType.yaml
    EnumContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumContractReferentialRateIndexerType.yaml
    EnumContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumContractTaxPeriodicity.yaml
    EnumContractTaxType:
      $ref: ./schemas/enum/EnumContractTaxType.yaml
    EnumWarrantySubType:
      $ref: ./schemas/enum/EnumWarrantySubType.yaml
    EnumWarrantyType:
      $ref: ./schemas/enum/EnumWarrantyType.yaml
    EnumContractProductSubTypeLoans:
      $ref: ./schemas/enum/EnumContractProductSubTypeLoans.yaml
    EnumContractProductTypeLoans:
      $ref: ./schemas/enum/EnumContractProductTypeLoans.yaml
    EnumTaxType:
      $ref: ./schemas/enum/EnumTaxType.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoansBalloonPayment:
      $ref: ./schemas/loans_apis/LoansBalloonPayment.yaml
    LoansContract:
      $ref: ./schemas/loans_apis/LoansFinancingsContract.yaml
    LoansContractedFee:
      $ref: ./schemas/loans_apis/LoansFinancingsContractedFee.yaml
    LoansContractedWarranty:
      $ref: ./schemas/loans_apis/LoansFinancingsContractedWarranty.yaml
    LoansContractInterestRate:
      $ref: ./schemas/loans_apis/LoansFinancingsContractInterestRate.yaml
    LoansChargeOverParcel:
      $ref: ./schemas/loans_apis/LoansChargeOverParcel.yaml
    LoansFinanceCharge:
      $ref: ./schemas/loans_apis/LoansFinanceCharge.yaml
    LoansInstalments:
      $ref: ./schemas/loans_apis/LoansInstalments.yaml
    LoansListContract:
      $ref: ./schemas/loans_apis/LoansListContractData.yaml
    LoansPayments:
      $ref: ./schemas/loans_apis/LoansPayments.yaml
    LoansReleases:
      $ref: ./schemas/loans_apis/LoansReleases.yaml
    LoansTaxesOverParcel:
      $ref: ./schemas/loans_apis/LoansTaxesOverParcel.yaml
    LoansWarranties:
      $ref: ./schemas/loans_apis/LoansWarranties.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    ResponseError:
      $ref: ./schemas/ResponseError.yaml
    ResponseLoansContractList:
      $ref: ./schemas/loans_apis/ResponseLoansContractList.yaml
    ResponseLoansContract:
      $ref: ./schemas/loans_apis/ResponseLoansFinancingsContract.yaml
    ResponseLoansInstalments:
      $ref: ./schemas/loans_apis/ResponseLoansInstalments.yaml
    ResponseLoansPayments:
      $ref: ./schemas/loans_apis/ResponseLoansPayments.yaml
    ResponseLoansWarranties:
      $ref: ./schemas/loans_apis/ResponseLoansWarranties.yaml
  parameters:
    Authorization:
      $ref: ./parameters/Authorization.yaml
    contractId:
      $ref: ./parameters/ContractId.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://authserver.example/.well-known/openid-configuration'
  responses:
    OKResponseLoansContractList:
      description: Dados dos contratos de empréstimos obtidos com sucesso.
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: ./headers/XFapiInteractionId.yaml
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseLoansContractList"
    OKResponseLoansContract:
      description: Dados do contrato de empréstimo identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: ./headers/XFapiInteractionId.yaml
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseLoansContract'
    OKResponseLoansWarranties:
      description: Lista de garantias vinculadas ao contrato de empréstimo identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: ./headers/XFapiInteractionId.yaml
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseLoansWarranties'
    OKResponseLoansInstalments:
      description: Dados do cronograma de parcelas do contrato de empréstimo identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: ./headers/XFapiInteractionId.yaml
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseLoansInstalments'
    OKResponseLoansPayments:
      description: Dados de pagamentos do contrato de empréstimo identificado por contractId
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: ./headers/XFapiInteractionId.yaml
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseLoansPayments'
    BadRequest:
      $ref: ./responses/BadRequest.yaml
    Forbidden:
      $ref: ./responses/Forbidden.yaml
    InternalServerError:
      $ref: ./responses/InternalServerError.yaml
    MethodNotAllowed:
      $ref: ./responses/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/Unauthorized.yaml

