openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking
tags:
  - name: APIs Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
  - name: API - Admin
  - name: API - Customers
  - name: API - Contas
paths:
  /discovery/v1/status:
    get:
      tags:
        - APIs Comuns
      summary: API de Status
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de descrição e código de status retornado pelas APIs obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
  /discovery/v1/outages:
    get:
      tags:
        - APIs Comuns
      summary: API de Outages
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtêm a lista de indisponibilidade agendada para os serviços.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de indisponilidade agendada obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutagesList'
  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Dependências próprias
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de dependências próprias da instituição financeira.

        Dependência própria é o espaço físico destinado ao atendimento ao público.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Branches_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/branches.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento eletrônico
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de canais eletrônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_ElectronicChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/electronic_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento telefônico
      description: |
        |Versão|
        |:-----|
        |1     |


        ### Visão Geral

        Obtém a lista de canais telefônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_PhoneChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/phone_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Correspondentes bancários
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de Correspondentes bancários.

        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados
        <img src="images/tld/TLD_Banking_Agents_v1.png">

        ### Dicionário de dados

        <a href="dictionary/banking_agents.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Terminais de Autoatendimento Compartilhado
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Shared_Automated_Teller_Machines_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/automated_teller_machines.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Natural.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Jurídica.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

        Tags: [ Marca (Brand) ](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa natural
      description: |
        Obtém dados sobre empréstimos pessoa natural

        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCreditCard'
  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCreditCard'
  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Métricas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_admin_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getMetrics
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
  /customers/v1/personal-identification:
    get:
      tags:
        - API - Customers
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre identificação pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
  /customers/v1/business-identification:
    get:
      tags:
        - API - Customers
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre identificação pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
  /customers/v1/personal-qualification:
    get:
      tags:
        - API - Customers
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre qualificação pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
  /customers/v1/business-qualification:
    get:
      tags:
        - API - Customers
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre qualificação pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
  /accounts/v1/identification:
      get:
        tags:
          - API - Contas
        summary: Dados de Identificação de Contas
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Este *endpoint* possibilita ao diretório consultar dados que identificam uma conta

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Dados de identificação de conta obtidos com sucesso.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
  /accounts/v1/balances:
    get:
      tags:
        - API - Contas
      summary: Dados relativos aos saldos em conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar dados relativos aos saldos em conta

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
  /accounts/v1/transactions:
    get:
      tags:
        - API - Contas
      summary: Informações relativas às Transações de crédito e débito realizadas e autorizadas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar informações relativas às Transações de crédito e débito realizadas e autorizadas

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos a Transações de crédito e débito realizadas e autorizadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
  /accounts/v1/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites referentes ao valor das operações de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar limites referentes ao valor das operações de crédito vinculadas à conta de depósito à vista ou conta corrente

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos a Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
components:
  schemas:
    AccountBalances:
      $ref: ./schemas/accounts_apis/AccountBalances.yaml
    AccountFee:
      $ref: ./schemas/AccountFee.yaml
    AccountOtherService:
      $ref: ./schemas/AccountOtherService.yaml
    AccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimits.yaml
    AccountPriorityService:
      $ref: ./schemas/AccountPriorityService.yaml
    AccountsIdentification:
      $ref: ./schemas/accounts_apis/AccountIdentification.yaml
    AccountsIncomeRate:
      $ref: ./schemas/AccountsIncomeRate.yaml
    AccountsTermsConditions:
      $ref: ./schemas/AccountsTermsConditions.yaml
    AccountType:
      properties:
        type:
          $ref: ./schemas/enum/EnumAccountType.yaml
    ApplicationIntervals:
      properties:
        interval:
          $ref: ./schemas/enum/EnumApplicationIntervals.yaml
    ApplicationRate:
      $ref: ./schemas/ApplicationRate.yaml
    AvailabilityMetrics:
      $ref: ./schemas/AvailabilityMetrics.yaml
    AverageMetrics:
      $ref: ./schemas/AverageMetrics.yaml
    AverageTPSMetrics:
      $ref: ./schemas/AverageTPSMetrics.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    BankingAgent:
      $ref: ./schemas/BankingAgent.yaml
    BankingAgentAvailability:
      $ref: ./schemas/BankingAgentAvailability.yaml
    BankingAgentIdentification:
      $ref: ./schemas/BankingAgentIdentification.yaml
    BankingAgentLocation:
      $ref: ./schemas/BankingAgentLocation.yaml
    BankingAgentPostalAddress:
      $ref: ./schemas/BankingAgentPostalAddress.yaml
    BankingAgentService:
      $ref: ./schemas/BankingAgentService.yaml
    BankingAgentsBrand:
      $ref: ./schemas/BankingAgentsBrand.yaml
    BankingAgentsCompanies:
      $ref: ./schemas/BankingAgentsCompanies.yaml
    BankingAgentsContractor:
      $ref: ./schemas/BankingAgentsContractor.yaml
    Branch:
      $ref: ./schemas/Branch.yaml
    BranchAvailability:
      $ref: ./schemas/BranchAvailability.yaml
    BranchIdentification:
      $ref: ./schemas/BranchIdentification.yaml
    BranchPhone:
      $ref: ./schemas/BranchPhone.yaml
    BranchPostalAddress:
      $ref: ./schemas/BranchPostalAddress.yaml
    BranchService:
      $ref: ./schemas/BranchService.yaml
    BranchesBrand:
      $ref: ./schemas/BranchesBrand.yaml
    BranchesCompany:
      $ref: ./schemas/BranchesCompany.yaml
    Brand:
      $ref: ./schemas/Brand.yaml
    BusinessAccounts:
      $ref: ./schemas/BusinessAccounts.yaml
    BusinessAccountsBrand:
      $ref: ./schemas/BusinessAccountsBrand.yaml
    BusinessAccountsCompany:
      $ref: ./schemas/BusinessAccountsCompany.yaml
    BusinessAccountsService:
      $ref: ./schemas/BusinessAccountsService.yaml
    BusinessCreditCard:
      $ref: ./schemas/BusinessCreditCard.yaml
    BusinessCreditCardBrand:
      $ref: ./schemas/BusinessCreditCardBrand.yaml
    BusinessCreditCardCompany:
      $ref: ./schemas/BusinessCreditCardCompany.yaml
    BusinessCustomers:
      $ref: ./schemas/customers_apis/BusinessCustomer.yaml
    BusinessFinancing:
      $ref: ./schemas/BusinessFinancing.yaml
    BusinessFinancingBrand:
      $ref: ./schemas/BusinessFinancingBrand.yaml
    BusinessFinancingCompany:
      $ref: ./schemas/BusinessFinancingCompany.yaml
    BusinessFinancingFee:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessIdentification:
      $ref: ./schemas/customers_apis/BusinessIdentification.yaml
    BusinessIdentificationBrand:
      $ref: ./schemas/customers_apis/BusinessIdentificationBrand.yaml
    BusinessIdentificationCompany:
      $ref: ./schemas/customers_apis/BusinessIdentificationCompany.yaml
    BusinessIdentificationCustomers:
      $ref: ./schemas/customers_apis/BusinessIdentificationCustomers.yaml
    BusinessInformedPatrimony:
      $ref: ./schemas/customers_apis/BusinessInformedPatrimony.yaml
    BusinessInvoiceFinancings:
      $ref: ./schemas/BusinessInvoiceFinancings.yaml
    BusinessInvoiceFinancingsBrand:
      $ref: ./schemas/BusinessInvoiceFinancingsBrand.yaml
    BusinessInvoiceFinancingsCompanies:
      $ref: ./schemas/BusinessInvoiceFinancingsCompanies.yaml
    BusinessInvoiceFinancingsFees:
      $ref: ./schemas/BusinessInvoiceFinancingsFees.yaml
    BusinessInvoiceFinancingsInterestRates:
      $ref: ./schemas/BusinessInvoiceFinancingsInterestRates.yaml
    BusinessLoan:
      $ref: ./schemas/BusinessLoan.yaml
    BusinessLoanBrand:
      $ref: ./schemas/BusinessLoanBrand.yaml
    BusinessLoanCompany:
      $ref: ./schemas/BusinessLoanCompany.yaml
    BusinessOtherDocument:
      $ref: ./schemas/customers_apis/BusinessOtherDocument.yaml
    BusinessQualification:
      $ref: ./schemas/customers_apis/BusinessQualification.yaml
    BusinessQualificationBrand:
      $ref: ./schemas/customers_apis/BusinessQualificationBrand.yaml
    BusinessQualificationCompany:
      $ref: ./schemas/customers_apis/BusinessQualificationCompany.yaml
    BusinessQualificationCustomers:
      $ref: ./schemas/customers_apis/BusinessQualificationCustomers.yaml
    BusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraft.yaml
    BusinessUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftBrand.yaml
    BusinessUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftCompany.yaml
    BusinessUnarrangedAccountOverdraftFee:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftFee.yaml
    CreditCardsAccountIdentification:
      $ref: ./schemas/credit_cards/CreditCardsAccountsIdentification.yaml
    CreditCardsAccountPaymentMethod:
      $ref: ./schemas/credit_cards/CreditCardsAccountsPaymentMethod.yaml
    CreditCardIdentification:
      $ref: ./schemas/CreditCardIdentification.yaml
    CreditCardInterest:
      $ref: ./schemas/CreditCardInterest.yaml
    CreditCardRewardsProgram:
      $ref: ./schemas/CreditCardRewardsProgram.yaml
    CreditCardService:
      $ref: ./schemas/CreditCardService.yaml
    CreditCardTermsConditions:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    Customer:
      $ref: ./schemas/Customer.yaml
    CustomerContacts:
      $ref: ./schemas/customers_apis/CustomerContacts.yaml
    CustomerEmail:
      $ref: ./schemas/customers_apis/CustomerEmail.yaml
    CustomerPhone:
      $ref: ./schemas/customers_apis/CustomerPhone.yaml
    CustomerPostalAddress:
      $ref: ./schemas/customers_apis/CustomerPostalAddress.yaml
    EconomicActivity:
      $ref: ./schemas/customers_apis/EconomicActivity.yaml
    ElectronicChannel:
      $ref: ./schemas/ElectronicChannel.yaml
    ElectronicChannelIdentification:
      $ref: ./schemas/ElectronicChannelIdentification.yaml
    ElectronicChannelService:
      $ref: ./schemas/ElectronicChannelService.yaml
    ElectronicChannelUrl:
      $ref: ./schemas/ElectronicChannelUrl.yaml
    ElectronicChannelsBrand:
      $ref: ./schemas/ElectronicChannelsBrand.yaml
    ElectronicChannelsCompanies:
      $ref: ./schemas/ElectronicChannelsCompanies.yaml
    EndpointDowntime:
      $ref: ./schemas/EndpointDowntime.yaml
    EndpointUptime:
      $ref: ./schemas/EndpointUptime.yaml
    EnumAccountPriorityServiceCode:
      properties:
        code:
          $ref: ./schemas/enum/EnumAccountPriorityServiceCode.yaml
    EnumAccountSubType:
      properties:
        accountSubType:
          $ref: ./schemas/enum/EnumAccountSubType.yaml
    EnumAccountType:
      properties:
        type:
          $ref: ./schemas/enum/EnumAccountType.yaml
    EnumApplicationIntervals:
      properties:
        interval:
          $ref: ./schemas/enum/EnumApplicationIntervals.yaml
    EnumCustomerPhoneType:
      properties:
        type:
          $ref: ./schemas/enum/EnumCustomerPhoneType.yaml
    EnumFiliationType:
      properties:
        type:
          $ref: ./schemas/enum/EnumFiliationType.yaml
    EnumInformedIncomeFrequency:
      properties:
        frequency:
          $ref: ./schemas/enum/EnumInformedIncomeFrequency.yaml
    EnumInformedRevenueFrequency:
      properties:
        frequency:
          $ref: ./schemas/enum/EnumInformedRevenueFrequency.yaml
    EnumMaritalStatusCode:
      properties:
        type:
          $ref: ./schemas/enum/EnumMaritalStatusCode.yaml
    EnumOccupationMainCodeType:
      properties:
        mainCodeType:
          $ref: ./schemas/enum/EnumOccupationMainCodeType.yaml
    EnumBalanceType:
      properties:
        balanceType:
          $ref: ./schemas/enum/EnumBalanceType.yaml
    EnumCreditCardAccountNetwork:
      properties:
        network:
          $ref: ./schemas/enum/EnumCreditCardAccountNetwork.yaml
    EnumCreditCardAccountPaymentMethodApresentation:
      properties:
        apresentation:
          $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodApresentation.yaml
    EnumCreditCardAccountPaymentMethodType:
      properties:
        apresentation:
          $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodType.yaml
    EnumCreditDebitIndicator:
      properties:
        creditDebitIndicator:
          $ref: "./schemas/enum/EnumCreditDebitIndicator.yaml"
    EnumOpeningClosingChannels:
      properties:
        openingClosingChannels:
          $ref: ./schemas/enum/EnumOpeningClosingChannels.yaml
    EnumPartiesParticipationDocumentType:
      properties:
        type:
          $ref: ./schemas/enum/EnumPartiesParticipationDocumentType.yaml
    EnumPartiesParticipationType:
      properties:
        type:
          $ref: ./schemas/enum/EnumPartiesParticipationType.yaml
    EnumPersonalBusinessIndicator:
      properties:
        type:
          $ref: ./schemas/enum/EnumPersonalBusinessIndicator.yaml
    EnumPersonalOtherDocumentType:
      properties:
        type:
          $ref: ./schemas/enum/EnumPersonalOtherDocumentType.yaml
    EnumOverdraftLimitType:
      properties:
        overdraftLimitType:
          $ref: ./schemas/enum/EnumOverdraftLimitType.yaml
    EnumPriceIntervals:
        $ref: ./schemas/enum/EnumPriceIntervals.yaml
    EnumProcuratorsType:
      properties:
        procurators:
          $ref: ./schemas/enum/EnumProcuratorsType.yaml
    EnumProductServiceType:
      properties:
        products:
          $ref: ./schemas/enum/EnumProductServiceType.yaml
    EnumPriorityServiceName:
      properties:
        name:
          $ref: ./schemas/enum/EnumPriorityServiceName.yaml
    EnumTransactionTypes:
      properties:
        transactionTypes:
          $ref: ./schemas/enum/EnumTransactionTypes.yaml
    EnumReferentialRateIndexer:
      properties:
        referentialRateIndexer:
          $ref: ./schemas/enum/EnumReferentialRateIndexer.yaml
    EnumRequiredWarranty:
      properties:
        requiredWarranties:
          $ref: ./schemas/enum/EnumRequiredWarranty.yaml
    EnumSex:
      properties:
        sex:
          $ref: ./schemas/enum/EnumSex.yaml
    EnumTransactionMethods:
      properties:
        transactionMethods:
          $ref: ./schemas/enum/EnumTransactionMethods.yaml
    ErrorMetrics:
      $ref: ./schemas/ErrorMetrics.yaml
    FeeReferentialRateIndexer:
      $ref: ./schemas/FeeReferentialRateIndexer.yaml
    Filiation:
      $ref: ./schemas/customers_apis/Filiation.yaml
    FinantialRelation:
      $ref: ./schemas/customers_apis/FinantialRelation.yaml
    FinancingInterestRate:
      $ref: ./schemas/FinancingInterestRate.yaml
    FinancingService:
      $ref: ./schemas/FinancingService.yaml
    GeographicCoordinates:
      $ref: ./schemas/GeographicCoordinates.yaml
    Identification:
      $ref: ./schemas/accounts_apis/Identification.yaml
    Indexer:
      $ref: ./schemas/Indexer.yaml
    InformedIncome:
      $ref: ./schemas/customers_apis/InformedIncome.yaml
    InformedPatrimony:
      $ref: ./schemas/customers_apis/InformedPatrimony.yaml
    InformedRevenue:
      $ref: ./schemas/customers_apis/InformedRevenue.yaml
    InterestRate:
      $ref: ./schemas/InterestRate.yaml
    InterestRateFee:
      $ref: ./schemas/InterestRateFee.yaml
    InvocationMetrics:
      $ref: ./schemas/InvocationMetrics.yaml
    InvoiceFinancingsService:
      $ref: ./schemas/InvoiceFinancingsService.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoanFees:
      $ref: ./schemas/LoanFees.yaml
    LoanInterestRate:
      $ref: ./schemas/LoanInterestRate.yaml
    LoanService:
      $ref: ./schemas/LoanService.yaml
    MaximumPrice:
      $ref: ./schemas/MaximumPrice.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    MinimumBalance:
      $ref: ./schemas/MinimumBalance.yaml
    MinimumPrice:
      $ref: ./schemas/MinimumPrice.yaml
    MonthlyPrice:
      $ref: ./schemas/MonthlyPrice.yaml
    Nationality:
      $ref: ./schemas/customers_apis/Nationality.yaml
    NationalityComplementaryDocuments:
      $ref: ./schemas/customers_apis/NationalityComplementaryDocuments.yaml
    NationalityOther:
      $ref: ./schemas/customers_apis/NationalityOther.yaml
    PartiesParticipation:
      $ref: ./schemas/customers_apis/PartiesParticipation.yaml
    OverdraftLimits:
      $ref: ./schemas/accounts_apis/OverdraftLimits.yaml
    OverdraftLimitsBalance:
      $ref: ./schemas/accounts_apis/OverdraftLimitsBalance.yaml
    PeakTPSMetrics:
      $ref: ./schemas/PeakTPSMetrics.yaml
    PersonalAccount:
      $ref: ./schemas/PersonalAccount.yaml
    PersonalAccountBrand:
      $ref: ./schemas/PersonalAccountBrand.yaml
    PersonalAccountCompany:
      $ref: ./schemas/PersonalAccountCompany.yaml
    PersonalCreditCard:
      $ref: ./schemas/PersonalCreditCard.yaml
    PersonalCreditCardBrand:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalCreditCardCompany:
      $ref: ./schemas/PersonalCreditCardCompany.yaml
    PersonalCustomer:
      $ref: ./schemas/customers_apis/PersonalCustomers.yaml
    PersonalFinancing:
      $ref: ./schemas/PersonalFinancing.yaml
    PersonalFinancingBrand:
      $ref: ./schemas/PersonalFinancingBrand.yaml
    PersonalFinancingCompany:
      $ref: ./schemas/PersonalFinancingCompany.yaml
    PersonalFinancingFee:
      $ref: ./schemas/PersonalFinancingFee.yaml
    PersonalIdentification:
      $ref: ./schemas/customers_apis/PersonalIdentification.yaml
    PersonalIdentificationBrand:
      $ref: ./schemas/customers_apis/PersonalIdentificationBrand.yaml
    PersonalIdentificationCompany:
      $ref: ./schemas/customers_apis/PersonalIdentificationCompany.yaml
    PersonalIdentificationCustomers:
      $ref: ./schemas/customers_apis/PersonalIdentificationCustomers.yaml
    PersonalInformedPatrimony:
      $ref: ./schemas/customers_apis/PersonalInformedPatrimony.yaml
    PersonalInvoiceFinancings:
      $ref: ./schemas/PersonalInvoiceFinancings.yaml
    PersonalInvoiceFinancingsBrand:
      $ref: ./schemas/PersonalInvoiceFinancingsBrand.yaml
    PersonalInvoiceFinancingsCompanies:
      $ref: ./schemas/PersonalInvoiceFinancingsCompanies.yaml
    PersonalInvoiceFinancingsFees:
      $ref: ./schemas/PersonalInvoiceFinancingsFees.yaml
    PersonalInvoiceFinancingsInterestRates:
      $ref: ./schemas/PersonalInvoiceFinancingsInterestRates.yaml
    PersonalLoan:
      $ref: ./schemas/PersonalLoan.yaml
    PersonalLoanBrand:
      $ref: ./schemas/PersonalLoanBrand.yaml
    PersonalLoanCompany:
      $ref: ./schemas/PersonalLoanCompany.yaml
    PersonalOtherDocument:
      $ref: ./schemas/customers_apis/PersonalOtherDocument.yaml
    PersonalQualification:
      $ref: ./schemas/customers_apis/PersonalQualification.yaml
    PersonalQualificationBrand:
      $ref: ./schemas/customers_apis/PersonalQualificationBrand.yaml
    PersonalQualificationCompany:
      $ref: ./schemas/customers_apis/PersonalQualificationCompany.yaml
    PersonalQualificationCustomers:
      $ref: ./schemas/customers_apis/PersonalQualificationCustomers.yaml
    PersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraft.yaml
    PersonalUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftBrand.yaml
    PersonalUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftCompany.yaml
    PersonalUnarrangedAccountOverdraftFee:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftFee.yaml
    Phone:
      $ref: ./schemas/Phone.yaml
    PhoneChannel:
      $ref: ./schemas/PhoneChannel.yaml
    PhoneChannelIdentification:
      $ref: ./schemas/PhoneChannelIdentification.yaml
    PhoneChannelPhone:
      $ref: ./schemas/PhoneChannelPhone.yaml
    PhoneChannelService:
      $ref: ./schemas/PhoneChannelService.yaml
    PhoneChannelsBrand:
      $ref: ./schemas/PhoneChannelsBrand.yaml
    PhoneChannelsCompany:
      $ref: ./schemas/PhoneChannelsCompany.yaml
    ResponseAccountBalances:
      $ref: ./schemas/accounts_apis/ResponseAccountBalances.yaml
    ResponseAccountIdentification:
      $ref: ./schemas/accounts_apis/ResponseAccountIdentification.yaml
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml
    ResponseAccountTransactions:
      $ref: ./schemas/accounts_apis/ResponseAccountTransactions.yaml
    Price:
      $ref: ./schemas/Price.yaml
    PriceIntervals:
      $ref: ./schemas/enum/EnumPriceIntervals.yaml
    PriorityServiceName:
      $ref: ./schemas/enum/EnumPriorityServiceName.yaml
    ReferentialRateIndexer:
      $ref: ./schemas/enum/EnumReferentialRateIndexer.yaml
    RejectionMetrics:
      $ref: ./schemas/RejectionMetrics.yaml
    ResponseBankingAgentsList:
      $ref: ./schemas/ResponseBankingAgentsList.yaml
    ResponseBranchesList:
      $ref: ./schemas/ResponseBranchesList.yaml
    ResponseBusinessAccounts:
      $ref: ./schemas/ResponseBusinessAccounts.yaml
    ResponseBusinessCreditCard:
      $ref: ./schemas/ResponseBusinessCreditCard.yaml
    ResponseBusinessCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
    ResponseBusinessCustomersQualification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
    ResponseBusinessFinancings:
      $ref: ./schemas/ResponseBusinessFinancings.yaml
    ResponseBusinessInvoiceFinancings:
      $ref: ./schemas/ResponseBusinessInvoiceFinancings.yaml
    ResponseBusinessLoans:
      $ref: ./schemas/ResponseBusinessLoans.yaml
    ResponseBusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponseBusinessUnarrangedAccountOverdraft.yaml
    ResponseDiscoveryOutagesList:
      $ref: ./schemas/ResponseDiscoveryOutagesList.yaml
    ResponseDiscoveryStatusList:
      $ref: ./schemas/ResponseDiscoveryStatusList.yaml
    ResponseElectronicChannelsList:
      $ref: ./schemas/ResponseElectronicChannelsList.yaml
    ResponseMetricsList:
      $ref: ./schemas/ResponseMetricsList.yaml
    ResponsePersonalAccounts:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ResponsePersonalCreditCard:
      $ref: ./schemas/ResponsePersonalCreditCard.yaml
    ResponsePersonalCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
    ResponsePersonalCustomersQualification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
    ResponsePersonalFinancings:
      $ref: ./schemas/ResponsePersonalFinancings.yaml
    ResponsePersonalInvoiceFinancings:
      $ref: ./schemas/ResponsePersonalInvoiceFinancings.yaml
    ResponsePersonalLoans:
      $ref: ./schemas/ResponsePersonalLoans.yaml
    ResponsePersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponsePersonalUnarrangedAccountOverdraft.yaml
    ResponsePhoneChannelsList:
      $ref: ./schemas/ResponsePhoneChannelsList.yaml
    ResponseSharedAutomatedTellerMachinesList:
      $ref: ./schemas/ResponseSharedAutomatedTellerMachinesList.yaml
    ServiceBundle:
      $ref: ./schemas/ServiceBundle.yaml
    ServiceBundleServiceDetail:
      $ref: ./schemas/ServiceBundleServiceDetail.yaml
    SharedAutomatedTellerMachines:
      $ref: ./schemas/SharedAutomatedTellerMachines.yaml
    SharedAutomatedTellerMachinesAvailability:
      $ref: ./schemas/SharedAutomatedTellerMachinesAvailability.yaml
    SharedAutomatedTellerMachinesBrand:
      $ref: ./schemas/SharedAutomatedTellerMachinesBrand.yaml
    SharedAutomatedTellerMachinesCompany:
      $ref: ./schemas/SharedAutomatedTellerMachinesCompany.yaml
    SharedAutomatedTellerMachinesIdentification:
      $ref: ./schemas/SharedAutomatedTellerMachinesIdentification.yaml
    SharedAutomatedTellerMachinesPostalAddress:
      $ref: ./schemas/SharedAutomatedTellerMachinesPostalAddress.yaml
    SharedAutomatedTellerMachinesServices:
      $ref: ./schemas/SharedAutomatedTellerMachinesServices.yaml
    StatementAccountBalance:
      $ref: ./schemas/accounts_apis/StatementAccountBalance.yaml
    StatementAccountTransaction:
      $ref: ./schemas/accounts_apis/StatementAccountTransaction.yaml
    Status:
      $ref: ./schemas/Status.yaml
    Transactions:
      $ref: ./schemas/accounts_apis/Transactions.yaml
    UnarrangedAccountOverdraftRate:
      $ref: ./schemas/UnarrangedAccountOverdraftRate.yaml
    UnarrangedAccountOverdraftService:
      $ref: ./schemas/UnarrangedAccountOverdraftService.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
