openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.0.0
  contact:
    name: Governança do Open Banking Brasil - Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: http://api.banco.com.br/open-banking
    description: Servidor de Produção
  - url: https://apih.banco.com.br/open-banking
    description: Servidor de Homologação
tags:
  - name: API - Dados Cadastrais
  - name: API - Cartão de Crédito
  - name: API - Contas
  - name: API - Operações de Crédito

paths:
  /customers/v1/business-customers/identifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de identificação da pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Razão Social (Company Name)](#glossarioRazaoSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersIdentifications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /customers/v1/business-customers/qualifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de qualificação da pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersQualifications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /customers/v1/business-customers/relationships:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersRelationships
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /customers/v1/personal-customers/identifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de identificação da pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Sexo (Gender)](#glossarioSexo).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersIdentifications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /customers/v1/personal-customers/qualifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de qualificação da pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersQualifications
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /customers/v1/personal-customers/relationships:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa natural.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersRelationships
      parameters:
        - $ref: '#/components/parameters/authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /credit-card/v1/accounts/identification:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Identificação de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga

        Tags: [Bandeira (Credit Card Network)](#glossarioBandeira), [Cartão Múltiplo (Multiple CreditCard)](#glossarioCartaoMultiplo), [CNPJ (CNPJ Number)](#glossarioCNPJ) e [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Identification.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/limits:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Limites de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos limites: de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Empréstimo Cartão Consignado (Payroll Loan)](#glossarioEmprestimoCartaoConsignado) e [Limite Flexível (Flexible Limit)](#glossarioLimiteFlexivel).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Limits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Limits.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Limits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_limits.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_limits.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsLimits
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos limites de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/transactions:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Transações de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados das transações relativas à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [MCC (Merchant Category Code)](#glossarioMCC).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Transactions.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_transactions.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsTransaction
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das transações relativas à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/bill:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Fatura de Cartão de Crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à fatura da conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Fatura (Bill)](#glossarioFatura).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Bill.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Bill.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Bill.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/credit_cards_accounts_bill.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_billing.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_credit_cards_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getCrediCardsBilling"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados referentes à fatura da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/identification:
      get:
        tags:
          - API - Contas
        summary: Identificação da Conta
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Obtém os dados de identificação da conta mantidos na instituição transmissora

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria),
                [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agencia (Agency)](#glossarioAgencia), [Conta depósito à vista (Current Account)](#glossarioContaDepositoVista), [Conta Poupança (Savings Account)](#glossarioContaPoupanca),
                [Conta de Pagamento Pré-Paga (Prepayd Payment Account)](#glossarioContaPagamentoPrePaga).

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

          <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.v1.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/accountsCompeCode"
          - $ref: "#/components/parameters/accountsBranchCode"
          - $ref: "#/components/parameters/accountsNumber"
          - $ref: "#/components/parameters/accountsCheckDigit"
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Método para obter os dados de identificação da conta na transmissora.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
          '400':
            $ref: './schemas/ErrorHTTP.yaml#/400'
          '401':
            $ref: './schemas/ErrorHTTP.yaml#/401'
          '403':
            $ref: './schemas/ErrorHTTP.yaml#/403'
          '404':
            $ref: './schemas/ErrorHTTP.yaml#/404'
          '405':
            $ref: './schemas/ErrorHTTP.yaml#/405'
          '406':
            $ref: './schemas/ErrorHTTP.yaml#/406'
          '410':
            $ref: './schemas/ErrorHTTP.yaml#/410'
          '422':
            $ref: './schemas/ErrorHTTP.yaml#/422'
          '429':
            $ref: './schemas/ErrorHTTP.yaml#/429'
          '500':
            $ref: './schemas/ErrorHTTP.yaml#/500'
          '503':
            $ref: './schemas/ErrorHTTP.yaml#/503'
          '504':
            $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os saldos da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de transações da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de limite de cheque especial e de adiantamento a depositante  da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-operations/v1/contracts/{contractId}:
    get:
      tags:
        - API - Operações de Crédito
      summary: Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à identificação da operação de crédito

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Contract.v1.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Contract.v1.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Contract.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_bank_borrowing_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingContract"
      parameters:
        - $ref: "#/components/parameters/ContractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes à identificação da operação de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingContract'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-operations/v1/contracts/{contractId}/warranties:
    get:
      tags:
        - API - Operações de Crédito
      summary: Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às garantias que avalizam a operação de crédito contratada

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Warranties.v1.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Warranties.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_bank_borrowing_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdWarranties"
      parameters:
        - $ref: "#/components/parameters/ContractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingWarranties'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'

  /bank-borrowing/v1/payments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos pagamentos referentes às operações de crédito contratadas

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Payments.v1.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Payments.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_bank_borrowing_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingPayments"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados dos pagamentos referentes às operações de crédito contratadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingPayments'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /bank-borrowing/v1/instalments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às parcelas / prestações da operação de crédito contratada

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Instalments.v1.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Instalments.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_bank_borrowing_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingInstalments"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingInstalments'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

components:
  schemas:
    AccountBalances:
      $ref: ./schemas/accounts_apis/AccountBalances.yaml
    AccountBalancesData:
      $ref: ./schemas/accounts_apis/AccountBalancesData.yaml
    AccountsLimits:
      $ref: ./schemas/credit_cards_apis/AccountsLimits.yaml
    AccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimits.yaml
    AccountOverdraftLimitsData:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimitsData.yaml
    AccountsIdentification:
      $ref: ./schemas/accounts_apis/AccountIdentification.yaml
    AccountIdentificationData:
      $ref: ./schemas/accounts_apis/AccountIdentificationData.yaml
    AccountTransactions:
      $ref: ./schemas/accounts_apis/AccountTransactions.yaml
    AccountTransactionsData:
      $ref: ./schemas/accounts_apis/AccountTransactionsData.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    BankBorrowingBallonInstalments:
      $ref: ./schemas/bank_borrowing_apis/BalloonInstalments.yaml
    BankBorrowingBallonPayment:
      $ref: ./schemas/bank_borrowing_apis/BalloonPayment.yaml
    BankBorrowingCompletedPayment:
      $ref: ./schemas/bank_borrowing_apis/CompletedPayment.yaml
    BankBorrowingContract:
      $ref: ./schemas/bank_borrowing_apis/Contract.yaml
    BankBorrowingContractBank:
      $ref: ./schemas/bank_borrowing_apis/ContractBank.yaml
    BankBorrowingContractData:
      $ref: ./schemas/bank_borrowing_apis/ContractData.yaml
    BankBorrowingContractedFee:
      $ref: ./schemas/bank_borrowing_apis/ContractedFee.yaml
    BankBorrowingContractedWarranty:
      $ref: ./schemas/bank_borrowing_apis/ContractedWarranty.yaml
    BankBorrowingContractInterestRate:
      $ref: ./schemas/bank_borrowing_apis/ContractInterestRate.yaml
    BankBorrowingFinanceCharge:
      $ref: ./schemas/bank_borrowing_apis/FinanceCharge.yaml
    BankBorrowingInstalments:
      $ref: ./schemas/bank_borrowing_apis/Instalments.yaml
    BankBorrowingInstalmentsBank:
      $ref: ./schemas/bank_borrowing_apis/InstalmentsBank.yaml
    BankBorrowingInstalmentsData:
      $ref: ./schemas/bank_borrowing_apis/InstalmentsData.yaml
    BankBorrowingPaymentBank:
      $ref: ./schemas/bank_borrowing_apis/PaymentBank.yaml
    BankBorrowingPayments:
      $ref: ./schemas/bank_borrowing_apis/Payments.yaml
    BankBorrowingPaymentsData:
      $ref: ./schemas/bank_borrowing_apis/PaymentsData.yaml
    BankBorrowingNonRegulatedCharge:
      $ref: ./schemas/bank_borrowing_apis/NonRegulatedCharge.yaml
    BankBorrowingReleases:
      $ref: ./schemas/bank_borrowing_apis/Releases.yaml
    BankBorrowingWarranties:
      $ref: ./schemas/bank_borrowing_apis/Warranties.yaml
    BankBorrowingWarrantiesBank:
      $ref: ./schemas/bank_borrowing_apis/WarrantiesBank.yaml
    BankBorrowingWarrantiesData:
      $ref: ./schemas/bank_borrowing_apis/WarrantiesData.yaml
    BusinessFinancialRelationBrand:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationBrand.yaml
    BusinessFinancialRelationCompany:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCompany.yaml
    BusinessFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCustomers.yaml
    BusinessFinancialRelationData:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationData.yaml
    BusinessIdentification:
      $ref: ./schemas/customers_apis/BusinessIdentification.yaml
    BusinessIdentificationBrand:
      $ref: ./schemas/customers_apis/BusinessIdentificationBrand.yaml
    BusinessIdentificationCompany:
      $ref: ./schemas/customers_apis/BusinessIdentificationCompany.yaml
    BusinessIdentificationCustomers:
      $ref: ./schemas/customers_apis/BusinessIdentificationCustomers.yaml
    BusinessIdentificationData:
      $ref: ./schemas/customers_apis/BusinessIdentificationData.yaml
    BusinessInformedPatrimony:
      $ref: ./schemas/customers_apis/BusinessInformedPatrimony.yaml
    BusinessOtherDocument:
      $ref: ./schemas/customers_apis/BusinessOtherDocument.yaml
    BusinessQualification:
      $ref: ./schemas/customers_apis/BusinessQualification.yaml
    BusinessQualificationBrand:
      $ref: ./schemas/customers_apis/BusinessQualificationBrand.yaml
    BusinessQualificationCompany:
      $ref: ./schemas/customers_apis/BusinessQualificationCompany.yaml
    BusinessQualificationCustomers:
      $ref: ./schemas/customers_apis/BusinessQualificationCustomers.yaml
    BusinessQualificationData:
      $ref: ./schemas/customers_apis/BusinessQualificationData.yaml
    CreditCardAccountBalances:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountBalances.yaml
    CreditCardAccountsBilling:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBilling.yaml
    CreditCardAccountsBillingBill:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingBill.yaml
    CreditCardAccountsBillingData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingData.yaml
    CreditCardAccountsBillingFinanceCharge:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingFinanceCharge.yaml
    CreditCardAccountsBillingPayment:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingPayment.yaml
    CreditCardAccountsLimitsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimitsBrand.yaml
    CreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimits.yaml
    CreditCardaccountsTransactionsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactionsBrand.yaml
    CreditCardAccountsStatement:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsStatement.yaml
    CreditCardAccountsStatementBalance:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsStatementBalance.yaml
    CreditCardAccountStatementTransaction:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountStatementTransaction.yaml
    CreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactions.yaml
    CreditCardsAccountIdentification:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsIdentification.yaml
    CreditCardAccountIdentificationAccount:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountIdentificationAccount.yaml
    CreditCardsAccountIdentificationBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsIdentificationBrand.yaml
    CreditCardsAccountPaymentMethod:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsPaymentMethod.yaml
    CreditCardTransactionAccount:
      $ref: ./schemas/credit_cards_apis/CreditCardTransactionAccount.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    CustomerContacts:
      $ref: ./schemas/customers_apis/CustomerContacts.yaml
    CustomerEmail:
      $ref: ./schemas/customers_apis/CustomerEmail.yaml
    CustomerPhone:
      $ref: ./schemas/customers_apis/CustomerPhone.yaml
    CustomerPostalAddress:
      $ref: ./schemas/customers_apis/CustomerPostalAddress.yaml
    EconomicActivity:
      $ref: ./schemas/customers_apis/EconomicActivity.yaml
    EnumAccountSubType:
      $ref: ./schemas/enum/EnumAccountSubType.yaml
    EnumAccountType:
      $ref: ./schemas/enum/EnumAccountType.yaml
    EnumAreaCode:
      $ref: ./schemas/enum/EnumAreaCode.yaml
    EnumBankBorrowingContractAmortizationSchedule:
      $ref: ./schemas/enum/EnumBankBorrowingContractAmortizationSchedule.yaml
    EnumBankBorrowingContractCalculation:
      $ref: ./schemas/enum/EnumBankBorrowingContractCalculation.yaml
    EnumBankBorrowingContractFeeCharge:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeCharge.yaml
    EnumBankBorrowingContractFeeChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFeeChargeType.yaml
    EnumBankBorrowingContractFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFinanceChargeType.yaml
    EnumBankBorrowingContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractInstalmentPeriodicity.yaml
    EnumBankBorrowingContractInterestRateType:
      $ref: ./schemas/enum/EnumBankBorrowingContractInterestRateType.yaml
    EnumBankBorrowingContractProductType:
      $ref: ./schemas/enum/EnumBankBorrowingContractProductType.yaml
    EnumBankBorrowingContractProductSubType:
      $ref: ./schemas/enum/EnumBankBorrowingContractProductSubType.yaml
    EnumBankBorrowingContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerType.yaml
    EnumBankBorrowingContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxPeriodicity.yaml
    EnumBankBorrowingContractTaxType:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxType.yaml
    EnumBankBorrowingFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingFinanceChargeType.yaml
    EnumBankBorrowingInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingInstalmentPeriodicity.yaml
    EnumBankBorrowingContractReferentialRateIndexerSubType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerSubType.yaml
    EnumBankBorrowingWarrantySubType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantySubType.yaml
    EnumBankBorrowingWarrantyType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantyType.yaml
    EnumCustomerPhoneType:
      $ref: ./schemas/enum/EnumCustomerPhoneType.yaml
    EnumFiliationType:
      $ref: ./schemas/enum/EnumFiliationType.yaml
    EnumGender:
      $ref: ./schemas/enum/EnumGender.yaml
    EnumInformedIncomeFrequency:
      $ref: ./schemas/enum/EnumInformedIncomeFrequency.yaml
    EnumInformedRevenueFrequency:
      $ref: ./schemas/enum/EnumInformedRevenueFrequency.yaml
    EnumMaritalStatusCode:
      $ref: ./schemas/enum/EnumMaritalStatusCode.yaml
    EnumOccupationMainCodeType:
      $ref: ./schemas/enum/EnumOccupationMainCodeType.yaml
    EnumBalanceType:
      $ref: ./schemas/enum/EnumBalanceType.yaml
    EnumCompletedAuthorisedPaymentIndicator:
      $ref: ./schemas/enum/EnumCompletedAuthorisedPaymentIndicator.yaml
    EnumCountrySubDivision:
      $ref: ./schemas/enum/EnumCountrySubDivision.yaml
    EnumCreditCardAccountBalance:
      $ref: ./schemas/enum/EnumCreditCardAccountBalance.yaml
    EnumCreditCardAccountFee:
      $ref: ./schemas/enum/EnumCreditCardAccountFee.yaml
    EnumCreditCardAccountNetwork:
      $ref: ./schemas/enum/EnumCreditCardAccountNetwork.yaml
    EnumCreditCardAccountPaymentMethodApresentation:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodApresentation.yaml
    EnumCreditCardAccountPaymentMethodType:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodType.yaml
    EnumCreditCardAccountsBillingValueType:
      $ref: ./schemas/enum/EnumCreditCardAccountsBillingValueType.yaml
    EnumCreditCardAccountsConsolidationType:
      $ref: ./schemas/enum/EnumCreditCardAccountsConsolidationType.yaml
    EnumCreditCardAccountsFinanceChargeType:
      $ref: ./schemas/enum/EnumCreditCardAccountsFinanceChargeType.yaml
    EnumCreditCardAccountsLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLimitType.yaml
    EnumCreditCardAccountsLineLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineLimitType.yaml
    EnumCreditCardAccountsLineName:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineName.yaml
    EnumCreditCardAccountsOtherCredits:
      $ref: ./schemas/enum/EnumCreditCardAccountsOtherCredits.yaml
    EnumCreditCardAccountsProductType:
      $ref: ./schemas/enum/EnumCreditCardAccountsProductType.yaml
    EnumCreditCardTransactionType:
      $ref: ./schemas/enum/EnumCreditCardTransactionType.yaml
    EnumCreditDebitIndicator:
      $ref: ./schemas/enum/EnumCreditDebitIndicator.yaml
    EnumCreditCardAccountsPaymentMode:
      $ref: ./schemas/enum/EnumCreditCardAccountsPaymentMode.yaml
    EnumPartiesParticipationDocumentType:
      $ref: ./schemas/enum/EnumPartiesParticipationDocumentType.yaml
    EnumPartiesParticipationType:
      $ref: ./schemas/enum/EnumPartiesParticipationType.yaml
    EnumPersonalOtherDocumentType:
      $ref: ./schemas/enum/EnumPersonalOtherDocumentType.yaml
    EnumOverdraftLimitType:
      $ref: ./schemas/enum/EnumOverdraftLimitType.yaml
    EnumProcuratorsType:
      $ref: ./schemas/enum/EnumProcuratorsType.yaml
    EnumProductServiceType:
      $ref: ./schemas/enum/EnumProductServiceType.yaml
    EnumTransactionTypes:
      $ref: ./schemas/enum/EnumTransactionTypes.yaml
    Filiation:
      $ref: ./schemas/customers_apis/Filiation.yaml
    FinancialRelation:
      $ref: ./schemas/customers_apis/FinancialRelation.yaml
    FinancingsBalloonInstalments:
      $ref: ./schemas/financings_apis/FinancingsBalloonInstalments.yaml
    FinancingsBalloonPayment:
      $ref: ./schemas/financings_apis/FinancingsBalloonPayment.yaml
    FinancingsChargeOverParcel:
      $ref: ./schemas/financings_apis/FinancingsChargeOverParcel.yaml
    FinancingsCompletedPayment:
      $ref: ./schemas/financings_apis/FinancingsCompletedPayment.yaml
    FinancingsContract:
      $ref: ./schemas/financings_apis/FinancingsContract.yaml
    FinancingsContractBank:
      $ref: ./schemas/financings_apis/FinancingsContractBank.yaml
    FinancingsContractData:
      $ref: ./schemas/financings_apis/FinancingsContractData.yaml
    FinancingsContractedFee:
      $ref: ./schemas/financings_apis/FinancingsContractedFee.yaml
    FinancingsContractedWarranty:
      $ref: ./schemas/financings_apis/FinancingsContractedWarranty.yaml
    FinancingsContractInterestRate:
      $ref: ./schemas/financings_apis/FinancingsContractInterestRate.yaml
    FinancingsFinanceCharge:
      $ref: ./schemas/financings_apis/FinancingsFinanceCharge.yaml
    FinancingsInstalments:
      $ref: ./schemas/financings_apis/FinancingsInstalments.yaml
    FinancingsInstalmentsBank:
      $ref: ./schemas/financings_apis/FinancingsInstalmentsBank.yaml
    FinancingsInstalmentsData:
      $ref: ./schemas/financings_apis/FinancingsInstalmentsData.yaml
    FinancingsNonRegulatedCharge:
      $ref: ./schemas/financings_apis/FinancingsNonRegulatedCharge.yaml
    FinancingsPaymentBank:
      $ref: ./schemas/financings_apis/FinancingsPaymentBank.yaml
    FinancingsPayments:
      $ref: ./schemas/financings_apis/FinancingsPayments.yaml
    FinancingsPaymentsData:
      $ref: ./schemas/financings_apis/FinancingsPaymentsData.yaml
    FinancingsReleases:
      $ref: ./schemas/financings_apis/FinancingsReleases.yaml
    FinancingsResponseContract:
      $ref: ./schemas/financings_apis/FinancingsResponseContract.yaml
    FinancingsResponseInstalments:
      $ref: ./schemas/financings_apis/FinancingsResponseInstalments.yaml
    FinancingsResponsePayments:
      $ref: ./schemas/financings_apis/FinancingsResponsePayments.yaml
    FinancingsResponseWarranties:
      $ref: ./schemas/financings_apis/FinancingsResponseWarranties.yaml
    FinancingsTaxesOverParcel:
      $ref: ./schemas/financings_apis/FinancingsTaxesOverParcel.yaml
    FinancingsWarranties:
      $ref: ./schemas/financings_apis/FinancingsWarranties.yaml
    FinancingsWarrantiesBank:
      $ref: ./schemas/financings_apis/FinancingsWarrantiesBank.yaml
    FinancingsWarrantiesData:
      $ref: ./schemas/financings_apis/FinancingsWarrantiesData.yaml
    GeographicCoordinates:
      $ref: ./schemas/GeographicCoordinates.yaml
    Identification:
      $ref: ./schemas/accounts_apis/Identification.yaml
    InformedIncome:
      $ref: ./schemas/customers_apis/InformedIncome.yaml
    InformedRevenue:
      $ref: ./schemas/customers_apis/InformedRevenue.yaml
    InvoiceFinancingsBalloonInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBalloonInstalments.yaml
    InvoiceFinancingsBalloonPayment:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBalloonPayment.yaml
    InvoiceFinancingsBorrowingWarranties:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsBorrowingWarranties.yaml
    InvoiceFinancingsChargeOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsChargeOverParcel.yaml
    InvoiceFinancingsCompletedPayment:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsCompletedPayment.yaml
    InvoiceFinancingsContract:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContract.yaml
    InvoiceFinancingsContractBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractBank.yaml
    InvoiceFinancingsContractData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractData.yaml
    InvoiceFinancingsContractedFee:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedFee.yaml
    InvoiceFinancingsContractedWarranty:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractedWarranty.yaml
    InvoiceFinancingsContractInterestRate:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsContractInterestRate.yaml
    InvoiceFinancingsFinanceCharge:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsFinanceCharge.yaml
    InvoiceFinancingsInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalments.yaml
    InvoiceFinancingsInstalmentsBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalmentsBank.yaml
    InvoiceFinancingsInstalmentsData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsInstalmentsData.yaml
    InvoiceFinancingsNonRegulatedCharge:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsNonRegulatedCharge.yaml
    InvoiceFinancingsPaymentBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPaymentBank.yaml
    InvoiceFinancingsPayments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPayments.yaml
    InvoiceFinancingsPaymentsData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsPaymentsData.yaml
    InvoiceFinancingsReleases:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsReleases.yaml
    InvoiceFinancingsResponseContract:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsResponseContract.yaml
    InvoiceFinancingsResponseInstalments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsResponseInstalments.yaml
    InvoiceFinancingsResponsePayments:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsResponsePayments.yaml
    InvoiceFinancingsTaxesOverParcel:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsTaxesOverParcel.yaml
    InvoiceFinancingsWarranties:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarranties.yaml
    InvoiceFinancingsWarrantiesBank:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarrantiesBank.yaml
    InvoiceFinancingsWarrantiesData:
      $ref: ./schemas/invoice_financings_apis/InvoiceFinancingsWarrantiesData.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoansBalloonInstalments:
      $ref: ./schemas/loans_apis/LoansBalloonInstalments.yaml
    LoansBalloonPayment:
      $ref: ./schemas/loans_apis/LoansBalloonPayment.yaml
    LoansBank:
      $ref: ./schemas/loans_apis/LoansBank.yaml
    LoansChargeOverParcel:
      $ref: ./schemas/loans_apis/LoansChargeOverParcel.yaml
    LoansCompletedPayment:
      $ref: ./schemas/loans_apis/LoansCompletedPayment.yaml
    LoansContract:
      $ref: ./schemas/loans_apis/LoansContract.yaml
    LoansContractBank:
      $ref: ./schemas/loans_apis/LoansContractBank.yaml
    LoansContractData:
      $ref: ./schemas/loans_apis/LoansContractData.yaml
    LoansContractedFee:
      $ref: ./schemas/loans_apis/LoansContractedFee.yaml
    LoansContractedWarranty:
      $ref: ./schemas/loans_apis/LoansContractedWarranty.yaml
    LoansContractInterestRate:
      $ref: ./schemas/loans_apis/LoansContractInterestRate.yaml
    LoansFinanceCharge:
      $ref: ./schemas/loans_apis/LoansFinanceCharge.yaml
    LoansInstalments:
      $ref: ./schemas/loans_apis/LoansInstalments.yaml
    LoansInstalmentsBank:
      $ref: ./schemas/loans_apis/LoansInstalmentsBank.yaml
    LoansInstalmentsData:
      $ref: ./schemas/loans_apis/LoansInstalmentsData.yaml
    LoansNonRegulatedCharge:
      $ref: ./schemas/loans_apis/LoansNonRegulatedCharge.yaml
    LoansPaymentBank:
      $ref: ./schemas/loans_apis/LoansPaymentBank.yaml
    LoansPayments:
      $ref: ./schemas/loans_apis/LoansPayments.yaml
    LoansPaymentsData:
      $ref: ./schemas/loans_apis/LoansPaymentsData.yaml
    LoansReleases:
      $ref: ./schemas/loans_apis/LoansReleases.yaml
    LoansResponseContract:
      $ref: ./schemas/loans_apis/LoansResponseContract.yaml
    LoansResponseInstalments:
      $ref: ./schemas/loans_apis/LoansResponseInstalments.yaml
    LoansResponsePayments:
      $ref: ./schemas/loans_apis/LoansResponsePayments.yaml
    LoansResponseWarranties:
      $ref: ./schemas/loans_apis/LoansResponseWarranties.yaml
    LoansTaxesOverParcel:
      $ref: ./schemas/loans_apis/LoansTaxesOverParcel.yaml
    LoansWarranties:
      $ref: ./schemas/loans_apis/LoansWarranties.yaml
    LoansWarrantiesBank:
      $ref: ./schemas/loans_apis/LoansWarrantiesBank.yaml
    LoansWarrantiesData:
      $ref: ./schemas/loans_apis/LoansWarrantiesData.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    Nationality:
      $ref: ./schemas/customers_apis/Nationality.yaml
    NationalityComplementaryDocuments:
      $ref: ./schemas/customers_apis/NationalityComplementaryDocuments.yaml
    NationalityOther:
      $ref: ./schemas/customers_apis/NationalityOther.yaml
    PartiesParticipation:
      $ref: ./schemas/customers_apis/PartiesParticipation.yaml
    PersonalDocument:
      $ref: ./schemas/customers_apis/PersonalDocument.yaml
    OverdraftLimits:
      $ref: ./schemas/accounts_apis/OverdraftLimits.yaml
    OverdraftLimitsBalance:
      $ref: ./schemas/accounts_apis/OverdraftLimitsBalance.yaml
    PersonalFinancialRelationBrand:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationBrand.yaml
    PersonalFinancialRelationCompany:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCompany.yaml
    PersonalFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCustomers.yaml
    PersonalFinancialRelationData:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationData.yaml
    PersonalIdentification:
      $ref: ./schemas/customers_apis/PersonalIdentification.yaml
    PersonalIdentificationBrand:
      $ref: ./schemas/customers_apis/PersonalIdentificationBrand.yaml
    PersonalIdentificationCompany:
      $ref: ./schemas/customers_apis/PersonalIdentificationCompany.yaml
    PersonalIdentificationCustomers:
      $ref: ./schemas/customers_apis/PersonalIdentificationCustomers.yaml
    PersonalIdentificationData:
      $ref: ./schemas/customers_apis/PersonalIdentificationData.yaml
    PersonalInformedPatrimony:
      $ref: ./schemas/customers_apis/PersonalInformedPatrimony.yaml
    PersonalOtherDocument:
      $ref: ./schemas/customers_apis/PersonalOtherDocument.yaml
    PersonalQualification:
      $ref: ./schemas/customers_apis/PersonalQualification.yaml
    PersonalQualificationBrand:
      $ref: ./schemas/customers_apis/PersonalQualificationBrand.yaml
    PersonalQualificationCompany:
      $ref: ./schemas/customers_apis/PersonalQualificationCompany.yaml
    PersonalQualificationCustomers:
      $ref: ./schemas/customers_apis/PersonalQualificationCustomers.yaml
    PersonalQualificationData:
      $ref: ./schemas/customers_apis/PersonalQualificationData.yaml
    Procurator:
      $ref: ./schemas/customers_apis/Procurator.yaml
    ProductService:
      $ref: ./schemas/customers_apis/ProductService.yaml
    ResponseAccountBalances:
      $ref: ./schemas/accounts_apis/ResponseAccountBalances.yaml
    ResponseAccountIdentification:
      $ref: ./schemas/accounts_apis/ResponseAccountIdentification.yaml
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml
    ResponseAccountTransactions:
      $ref: ./schemas/accounts_apis/ResponseAccountTransactions.yaml
    ResponseBankBorrowingContract:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingContract.yaml
    ResponseBankBorrowingInstalments:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingInstalments.yaml
    ResponseBankBorrowingPayments:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingPayments.yaml
    ResponseBankBorrowingWarranties:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingWarranties.yaml
    ResponseBusinessCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersFinancialRelation.yaml
    ResponseBusinessCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
    ResponseBusinessCustomersQualification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
    ResponseCreditCardAccountsIdentification:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsIdentification.yaml
    ResponseCreditCardAccountsBilling:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsBilling.yaml
    ResponseCreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsLimits.yaml
    ResponseCreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsTransactions.yaml
    ResponsePersonalCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersFinancialRelation.yaml
    ResponsePersonalCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
    ResponsePersonalCustomersQualification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
    StatementAccountBalance:
      $ref: ./schemas/accounts_apis/StatementAccountBalance.yaml
    StatementAccountTransaction:
      $ref: ./schemas/accounts_apis/StatementAccountTransaction.yaml
    Transactions:
      $ref: ./schemas/accounts_apis/Transactions.yaml
    UnarrangedAccountOverdraftBalloonInstalments:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftBalloonInstalments.yaml
    UnarrangedAccountOverdraftBalloonPayment:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftBalloonPayment.yaml
    UnarrangedAccountOverdraftChargeOverParcel:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftChargeOverParcel.yaml
    UnarrangedAccountOverdraftCompletedPayment:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftCompletedPayment.yaml
    UnarrangedAccountOverdraftContract:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContract.yaml
    UnarrangedAccountOverdraftContractBank:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContractBank.yaml
    UnarrangedAccountOverdraftContractData:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContractData.yaml
    UnarrangedAccountOverdraftContractedFee:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContractedFee.yaml
    UnarrangedAccountOverdraftContractedWarranty:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContractedWarranty.yaml
    UnarrangedAccountOverdraftContractInterestRate:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftContractInterestRate.yaml
    UnarrangedAccountOverdraftFinanceCharge:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftFinanceCharge.yaml
    UnarrangedAccountOverdraftInstalments:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftInstalments.yaml
    UnarrangedAccountOverdraftInstalmentsBank:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftInstalmentsBank.yaml
    UnarrangedAccountOverdraftInstalmentsData:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftInstalmentsData.yaml
    UnarrangedAccountOverdraftNonRegulatedCharge:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftNonRegulatedCharge.yaml
    UnarrangedAccountOverdraftPaymentBank:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftPaymentBank.yaml
    UnarrangedAccountOverdraftPayments:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftPayments.yaml
    UnarrangedAccountOverdraftPaymentsData:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftPaymentsData.yaml
    UnarrangedAccountOverdraftReleases:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftReleases.yaml
    UnarrangedAccountOverdraftResponseContract:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftResponseContract.yaml
    UnarrangedAccountOverdraftResponseInstalments:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftResponseInstalments.yaml
    UnarrangedAccountOverdraftResponsePayments:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftResponsePayments.yaml
    UnarrangedAccountOverdraftResponseWarranties:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftResponseWarranties.yaml
    UnarrangedAccountOverdraftTaxesOverParcel:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftTaxesOverParcel.yaml
    UnarrangedAccountOverdraftWarranties:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftWarranties.yaml
    UnarrangedAccountOverdraftWarrantiesBank:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftWarrantiesBank.yaml
    UnarrangedAccountOverdraftWarrantiesData:
      $ref: ./schemas/unarranged_account_overdraft_apis/UnarrangedAccountOverdraftWarrantiesData.yaml
  parameters:
    accountsBranchCode:
      $ref: ./parameters/AccountsBranchCode.yaml
    accountsCheckDigit:
      $ref: ./parameters/AccountsCheckDigit.yaml
    accountsCompeCode:
      $ref: ./parameters/AccountsCompeCode.yaml
    accountsNumber:
      $ref: ./parameters/AccountsNumber.yaml
    authorization:
      $ref: ./parameters/Authorization.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    ContractId:
      $ref: ./parameters/ContractId.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
