openapi: 3.0.0
info:
  title: Fase 1 - APIs do Open Banking Brasil
  description: ''
  version: 1.0.2
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil - Interfaces
    url: 'https://servicedesk.openbankingbrasil.org.br/Login.jsp?navLanguage=pt-BR'
servers:
  - url: 'https://api.banco.com.br/open-banking'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking'
    description: Servidor de Homologação
tags:
  - name: API - Admin
  - name: API - Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
paths:
  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Obtém as métricas de disponibilidade das APIs
      description: | 
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_admin_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getMetrics
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
      responses:  
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
  /discovery/v1/status:
    get:
      tags:
        - API - Comuns
      summary: Obtém a descrição referente ao código de status retornado pelas APIs.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtêm a lista de indisponibilidade agendada para os serviços.
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_common_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: código de status retornado pelas APIs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
  /discovery/v1/outages:
    get:
      tags:
        - API - Comuns
      summary: Obtêm a lista de indisponibilidade agendada para os serviços.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a descrição referente ao código de status retornado pelas APIs.
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_common_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: código de status retornado pelas APIs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutageList'
  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Obtém a lista de correspondentes bancários da instituição financeira.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de Correspondentes bancários.
        
        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Banking_Agents_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/banking_agents.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Obtém a lista de dependências próprias da instituição financeira.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de dependências próprias da instituição financeira.
        
        Dependência própria é o espaço físico destinado ao atendimento ao público.
        
        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Branches_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/branches.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Obtém a lista de canais eletrônicos de atendimento da instituição financeira.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de canais eletrônicos próprios da instituição financeira.
        
        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_ElectronicChannels_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/electronic_channels.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Obtém a lista de canais telefônicos de atendimento da instituição financeira.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de canais telefônicos próprios da instituição financeira.
        
        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_PhoneChannels_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/phone_channels.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Obtém a lista de terminais compartilhados de autoatendimento.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Shared_Automated_Teller_Machines_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/automated_teller_machines.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_channels_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados das contas pessoa natural
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados da Conta pessoa natural.
        
        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.
        
        Tags: [Marca (Brand)](#glossarioMarca), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Accounts_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados das contas pessoa jurídica
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados da Conta pessoa jurídica.
        
        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.
        
        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Accounts_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_accounts.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados sobre empréstimos pessoa natural
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Empréstimos para pessoa natural.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa natural de dados abertos.
        
        Tags: [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Loans_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_loans.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>      
      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados sobre empréstimos pessoa jurídica
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Empréstimos para pessoa jurídica.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Loans_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_loans.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados sobre cartões de crédito pessoa natural
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.
        
        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Credit_Cards_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>        
      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalCreditCardResponse'
  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém dados sobre cartões de crédito pessoa jurídica
      description: | 
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.
        
        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Credit_Cards_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_credit_cards.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreditCardResponse'
  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de Financiamentos de Pessoa Natural.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Financiamento para pessoa natural.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para pessoa natural de dados abertos.
        
        Tags: [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Financings_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_financings.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de Financiamentos de Pessoa Jurídica.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Financiamento para pessoa jurídica.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para pessoa jurídica de dados abertos.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Financings_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_financings.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Natural.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Antecipação de Recebíveis.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para pessoa natural de dados abertos.
        
        Tags: [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Invoice_Financing_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_invoice_financings.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém a lista de Adiantamento de Recebíveis de Pessoa Jurídica.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para pessoa jurídica de dados abertos.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Invoice_Financing_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_invoice_financings.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de adiantamento de depositante de Pessoa Natural.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Adiantamento a Depositante para pessoa natural.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.
        
        Tags: [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/personal_unarranged_account_overdraft.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Obtém a lista de adiantamento de depositante de Pessoa Jurídica.
      description: |
        |Versão|
        |------|
        |1     |
        
        ### Visão geral
        
        Obtém os dados de Adiantamento a Depositante para pessoa natural.
        
        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.
        
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).
        
        ### Visão de alto de nível das estruturas de dados
        
        <img class='lazy' src='images/loading.gif' data-src='images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png'/>
        
        ### Dicionário de dados
        
        <a href='dictionary/business_unarranged_account_overdraft.csv' target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_products_services_apis.yaml'>Download da Especificação (OAS 3.0)</a>
      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
components:
  schemas:
    ResponseMetricsList:
      type: object
      required:
        - data
        - links
      properties:
        data:
          type: object
          required:
            - requestTime
            - availability
            - invocations
            - averageResponse
            - averageTps
            - peakTps
            - errors
            - rejections
          properties:
            requestTime:
              type: string
              description: Data e hora que as métricas foram requisitadas.
              format: date-time
            availability:
              $ref: '#/components/schemas/AvailabilityMetrics'
            invocations:
              $ref: '#/components/schemas/InvocationMetrics'
            averageResponse:
              $ref: '#/components/schemas/AverageMetrics'
            averageTps:
              $ref: '#/components/schemas/AverageTPSMetrics'
            peakTps:
              $ref: '#/components/schemas/PeakTPSMetrics'
            errors:
              $ref: '#/components/schemas/ErrorMetrics'
            rejections:
              $ref: '#/components/schemas/RejectionMetrics'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    AvailabilityMetrics:
      type: object
      required:
        - uptime
        - downtime
      properties:
        uptime:
          type: object
          required:
            - generalUptimeRate
            - endpoints
          properties:
            generalUptimeRate:
              type: string
              description: Taxa de disponibilidade (considerando todos os serviços ativos ao mesmo tempo).
            endpoints:
              $ref: '#/components/schemas/EndpointUptime'
        downtime:
          type: object
          required:
            - generalDowntime
            - scheduledOutage
            - endpoints
          properties:
            generalDowntime:
              type: integer
              description: Quantidade de segundos de downtime (considerando qualquer api em downtime).
            scheduledOutage:
              type: integer
              description: Quantidade de segundos de indisponibilidade agendada.
            endpoints:
              $ref: '#/components/schemas/EndpointDowntime'
    EndpointUptime:
      type: object
      description: Tempos de uptime por endpoint.
      required:
        - url
        - uptimeRate
      properties:
        url:
          type: string
          description: URL do endpoint
        uptimeRate:
          type: string
          description: Taxa de disponibilidade do endpoint.
    EndpointDowntime:
      type: object
      description: Tempos de downtime por endpoint.
      required:
        - url
        - partialDowntime
      properties:
        url:
          type: string
          description: URL do endpoint
        partialDowntime:
          type: integer
          description: Quantidade de segundos de indisponibilidade do endpoint.
    InvocationMetrics:
      type: object
      required:
        - unauthenticated
        - highPriority
        - mediumPriority
        - unattended
      properties:
        unauthenticated:
          type: object
          description: Número de chamadas não autenticadas.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Número de chamadas não autenticadas no dia atual.
            previousDays:
              type: array
              description: 'Número de chamadas não autenticadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
              items:
                type: integer
        highPriority:
          type: object
          description: Número de chamadas para o nível de alta prioridade.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Número de chamadas no dia atual para o nível de alta prioridade.
            previousDays:
              type: array
              description: 'Número de chamadas nos dias anteriores para o nível de alta prioridade. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
              items:
                type: integer
        mediumPriority:
          type: object
          description: Número de chamadas para o nível de média prioridade.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Número de chamadas no dia atual para o nível de média prioridade.
            previousDays:
              type: array
              description: 'Número de chamadas nos dias anteriores para o nível de média prioridade. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
              items:
                type: integer
        unattended:
          type: object
          description: Número de chamadas para o nível não acompanhado.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              description: Número de chamadas no dia atual para o nível não acompanhado.
              type: integer
            previousDays:
              type: array
              description: 'Número de chamadas nos dias anteriores para o nível não acompanhado. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
              items:
                type: integer
    AverageMetrics:
      type: object
      required:
        - unauthenticated
        - highPriority
        - mediumPriority
        - unattended
      properties:
        unauthenticated:
          type: object
          description: Tempo médio de resposta para chamadas não autenticadas.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Tempo médio de resposta em milissegundos para chamadas no dia atual.
            previousDays:
              type: array
              description: Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.
              items:
                type: integer
        highPriority:
          type: object
          description: Tempo médio de resposta de chamadas para o nível de alta prioridade.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Tempo médio de resposta em milissegundos para chamadas no dia atual.
            previousDays:
              type: array
              description: Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.
              items:
                type: integer
        mediumPriority:
          type: object
          description: Tempo médio de resposta para chamadas para o nível de média prioridade.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Tempo médio de resposta em milissegundos para chamadas no dia atual.
            previousDays:
              type: array
              description: Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.
              items:
                type: integer
        unattended:
          type: object
          description: Tempo médio de resposta para chamadas para o nível não acompanhado.
          required:
            - currentDay
            - previousDays
          properties:
            currentDay:
              type: integer
              description: Tempo médio de resposta em milissegundos para chamadas no dia atual.
            previousDays:
              type: array
              description: Tempo médio de resposta em milissegundos para chamadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.
              items:
                type: integer
    AverageTPSMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
          description: Número médio de chamadas por segundo no dia.
        previousDays:
          type: array
          description: 'Número médio de chamadas por segundo nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
          items:
            type: integer
    PeakTPSMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
          description: Pico de chamadas por segundo no dia.
        previousDays:
          type: array
          description: 'Pico de chamadas por segundo nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
          items:
            type: integer
    ErrorMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
          description: Número de chamadas com erro no dia atual.
        previousDays:
          type: array
          description: 'Número de chamadas com erro nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
          items:
            type: integer
    RejectionMetrics:
      type: object
      required:
        - currentDay
        - previousDays
      properties:
        currentDay:
          type: integer
          description: Número de chamadas rejeitadas no dia atual.
        previousDays:
          type: array
          description: 'Número de chamadas rejeitadas nos dias anteriores. O primeiro item do array é referente a ontem, e assim por diante. Devem ser retornados no máximo sete dias caso estejam disponíveis.'
          items:
            type: integer
    Links:
      type: object
      properties:
        self:
          type: string
          description: URL da página atualmente requisitada
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
        first:
          type: string
          description: URL da primeira página de registros
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
        prev:
          type: string
          description: URL da página anterior de registros
        next:
          type: string
          description: URL da próxima página de registros
        last:
          type: string
          description: URL da última página de registros
          example: 'https://api.banco.com.br/open-banking/admin/v1/<resource>'
    Meta:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total de registros encontrados
          example: 1
        totalPages:
          type: integer
          description: Total de páginas para os registros encontrados
          example: 1
      required:
        - totalRecords
        - totalPages
    ResponseDiscoveryStatusList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - status
          properties:
            status:
              type: array
              items:
                $ref: '#/components/schemas/Status'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    ResponseDiscoveryOutageList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            required:
              - outageTime
              - duration
              - isPartial
              - explanation
            properties:
              outageTime:
                type: string
                description: Data e hora planejada do início da indisponibilidade
                example: '2020-07-21T08:30:00Z'
              duration:
                type: string
                description: Duração prevista da indisponibilidade
                example: PT2H30M
              isPartial:
                type: boolean
                description: Flag que indica se a indisponibilidade é parcial (atingindo apenas alguns end points) ou total (atingindo todos os end points)
                example: false
              explanation:
                type: string
                description: Explicação sobre os motivos da indisponibilidade.
                example: Atualização do API Gateway
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    Status:
      type: object
      required:
        - code
        - explanation
      properties:
        code:
          type: string
          enum:
            - OK
            - PARTIAL_FAILURE
            - UNAVAILABLE
            - SCHEDULED_OUTAGE
          description: |
            Condição atual da API:
              * `OK` - A implementação é totalmente funcional
              * `PARTIAL_FAILURE` - Um ou mais endpoints estão indisponíveis
              * `UNAVAILABLE` - A implementação completa está indisponível
              * `SCHEDULED_OUTAGE` - Uma interrupção anunciada está em vigor
          example: OK
        explanation:
          type: string
          description: Fornece uma explicação da interrupção atual que pode ser exibida para um cliente final. Será obrigatoriamente preenchido se code tiver algum valor que não seja OK
          example: Retorno com Sucesso
        detectionTime:
          type: string
          description: A data e hora em que a interrupção atual foi detectada. Será obrigatoriamente preenchido se a propriedade code for PARTIAL_FAILURE ou UNAVAILABLE
          example: '2020-07-21T08:30:00Z'
        expectedResolutionTime:
          type: string
          description: A data e hora em que o serviço completo deve continuar (se conhecido). Será obrigatoriamente preenchido se code tiver algum valor que não seja OK
          example: '2020-07-21T08:30:00Z'
        updateTime:
          type: string
          description: A data e hora em que esse status foi atualizado pela última vez pelo titular dos dados.
          example: '2020-01-02T01:00:00Z'
        unavailableEndpoints:
          type: array
          description: Endpoints com indisponibilidade
          items:
            type: string
          example:
            - 'https://api.banco.com.br/open-banking/channels/v1/electronic-channels'
    ResponseBankingAgentsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/BankingAgentsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                contractors:
                  - name: Empresa Contratante 1
                    cnpjNumber: '99558332000137'
                    bankingAgents:
                      - identification:
                          corporationName: Empresa Correspondente A
                          groupName: Grupo Master
                          cnpjNumber: 02345876000299
                          isUnderestablishment: true
                        locations:
                          - postalAddress:
                              address: 'Av Tasuko Ykeda, 25'
                              districtName: Centro
                              townName: Marília
                              countrySubDivision: SP
                              postCode: '17500001'
                              additionalInfo: Loja B.
                              ibgeCode: '3550308'
                              country: Brasil
                              countryCode: BRA
                              geographicCoordinates:
                                latitude: '-90.8365180'
                                longitude: '-180.836519'
                            phones:
                              - type: FIXO
                                countryCallingCode: '55'
                                areaCode: '14'
                                number: '35721199'
                              - type: MOVEL
                                countryCallingCode: '55'
                                areaCode: '14'
                                number: '997865532'
                            availability:
                              standards:
                                - weekday: SEGUNDA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: TERCA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUARTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUINTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: SEXTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                              exception: 'Exceto feriados municipais, estaduais e nacionais'
                              isPublicAccessAllowed: true
                          - postalAddress:
                              address: 'R Yroshima Takasi, 72'
                              districtName: Altos da Colina
                              townName: Marília
                              countrySubDivision: SP
                              postCode: '17526760'
                              additionalInfo: Loja 2.
                              ibgeCode: '3550308'
                              country: Brasil
                              countryCode: BRA
                              geographicCoordinates:
                                latitude: '-90.8365180'
                                longitude: '-180.836519'
                            phones:
                              - type: FIXO
                                countryCallingCode: '55'
                                areaCode: '14'
                                number: '64721199'
                            availability:
                              standards:
                                - weekday: SEGUNDA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: TERCA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUARTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUINTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: SEXTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                              exception: 'Exceto feriados municipais, estaduais e nacionais'
                              isPublicAccessAllowed: true
                          - postalAddress:
                              address: 'Al Nasso Origami, 15, bloco A'
                              districtName: Centro
                              townName: Marília
                              countrySubDivision: SP
                              postCode: '17500001'
                              additionalInfo: Loja B.
                              ibgeCode: '3550308'
                              country: Brasil
                              countryCode: BRA
                              geographicCoordinates:
                                latitude: '-90.8365180'
                                longitude: '-180.836519'
                            availability:
                              standards:
                                - weekday: SEGUNDA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: TERCA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUARTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: QUINTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                                - weekday: SEXTA_FEIRA
                                  openingTime: '10:00:57Z'
                                  closingTime: '16:00:57Z'
                              exception: 'Exceto feriados municipais, estaduais e nacionais'
                              isPublicAccessAllowed: true
                        services:
                          - name: RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_ABERTURA_CONTAS_DEPOSITOS_VISTA_PRAZO_POUPANCA_MANTIDOS_INSTITUICAO_CONTRATANTE
                            code: RECEBE_ENCAMINHA_PROPOSTAS_ABERTURA_CONTAS
                            additionalInfo: NA
                          - name: REALIZACAO_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_TITULARIDADE_CLIENTES_MANTIDAS_INSTITUICAO_CONTRATANTE
                            code: REALIZA_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS
                            additionalInfo: NA
                          - name: RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_OUTRAS_ATIVIDADES_DECORRENTES_EXECUCAO_CONTRATOS_CONVENIOS_PRESTACAO_SERVICOS
                            code: RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_EXECUCAO_CONTRATOS_CONVENIO
                            additionalInfo: NA
        links:
          self: 'https://api.banco.com.br/open-banking/channels/v1/banking-agents'
          first: 'https://api.banco.com.br/open-banking/channels/v1/banking-agents'
          prev: 'null'
          next: 'null'
          last: 'https://api.banco.com.br/open-banking/channels/v1/banking-agents'
        meta:
          totalRecords: 1
          totalPages: 1
    BankingAgentsBrand:
      type: object
      required:
        - name
        - companies
      allOf:
        - $ref: '#/components/schemas/Brand'
      properties:
        name:
          type: string
          description: Nome da marca selecionada pela Organização proprietário da dependência (titular).
          maxLength: 80
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentsCompanies'
          minItems: 1
          description: Lista de instituições pertencentes à marca
    BankingAgentsCompanies:
      type: object
      required:
        - name
        - cnpjNumber
        - contractors
      properties:
        name:
          type: string
          maxLength: 80
          pattern: \w*\W*
          description: 'Nome da Instituição, pertencente à marca, responsável pelo Correspondente Bancário no país.'
          example: Empresa da Organização A
        contractors:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentsContractor'
          minItems: 1
          description: Relação de informações de um contratante do serviço de correspondente.
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    BankingAgentsContractor:
      type: object
      required:
        - name
        - cnpjNumber
      properties:
        name:
          type: string
          maxLength: 100
          pattern: \w*\W*
        bankingAgents:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgent'
          minItems: 1
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ResponseBranchesList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/BranchesBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                branches:
                  - identification:
                      type: AGENCIA
                      code: '0001'
                      checkDigit: '9'
                      name: Marília
                      relatedBranch: '0001'
                      openingDate: '2010-01-02'
                    postalAddress:
                      address: 'Av Naburo Ykesaki, 1270'
                      additionalInfo: Loja B
                      districtName: Centro
                      townName: Marília
                      ibgeCode: '3550308'
                      countrySubDivision: SP
                      postCode: 17500-001
                      country: Brasil
                      countryCode: BRA
                      geographicCoordinates:
                        latitude: '-90.8365180'
                        longitude: '-180.836519'
                    availability:
                      standards:
                        - weekday: SEGUNDA_FEIRA
                          openingTime: '10:00:57Z'
                          closingTime: '16:00:57Z'
                        - weekday: TERCA_FEIRA
                          openingTime: '10:00:57Z'
                          closingTime: '16:00:57Z'
                        - weekday: QUARTA_FEIRA
                          openingTime: '10:00:57Z'
                          closingTime: '16:00:57Z'
                        - weekday: QUINTA_FEIRA
                          openingTime: '10:00:57Z'
                          closingTime: '16:00:57Z'
                        - weekday: SEXTA_FEIRA
                          openingTime: '10:00:57Z'
                          closingTime: '16:00:57Z'
                      exception: 'Exceto feriados municipais, estaduais e nacionais'
                      isPublicAccessAllowed: true
                    phones:
                      - type: FIXO
                        countryCallingCode: '55'
                        areaCode: '14'
                        number: '35721199'
                      - type: MOVEL
                        countryCallingCode: '55'
                        areaCode: '14'
                        number: '997865532'
                    services:
                      - name: RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
                        code: RECEBE_PAGA_QUALQUER_NATUREZA
                      - name: OUTROS_PRODUTOS_SERVICOS
                        code: OUTROS_PRODUTOS_SERVICOS
                        additionalInfo: Renegociação
        links:
          self: 'https://api.banco.com.br/open-banking/channels/v1/branches'
          first: 'https://api.banco.com.br/open-banking/channels/v1/branches'
          prev: 'null'
          next: 'null'
          last: 'https://api.banco.com.br/open-banking/channels/v1/branches'
        meta:
          totalRecords: 1
          totalPages: 1
    BranchesBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: 'Nome da Marca reportada pelo participante do Open Banking. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
          maxLength: 80
          pattern: \w*\W*
        companies:
          type: array
          items:
            $ref: '#/components/schemas/BranchesCompany'
          minItems: 1
          description: Companies traz uma lista de todas as instuituições da Marca.
    BranchesCompany:
      type: object
      required:
        - name
        - cnpjNumber
      properties:
        name:
          type: string
          maxLength: 80
          pattern: \w*\W*
        cnpjNumber:
          type: string
          minLength: 14
          maxLength: 14
          pattern: '^(\d{14})$|^NA$'
          description: |
            Número completo do CNPJ da instituição responsável pela dependência - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica.
            Deve-se ter apenas os números do CNPJ, sem máscara
          example: '45086338000178'
        urlComplementaryList:
          type: string
          maxLength: 1024
          pattern: \w*\W*
          example: 'https://example.com/mobile-banking'
        branches:
          type: array
          items:
            $ref: '#/components/schemas/Branch'
          minItems: 1
          description: Lista de Dependências de uma Instituição
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    ResponseElectronicChannelsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/ElectronicChannelsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                electronicChannels:
                  - identification:
                      type: INTERNET_BANKING
                      additionalInfo: NA
                      urls:
                        - 'https://empresaa1.com/internet-banking'
                    services:
                      - name: ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
                        code: ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
                        additionalInfo: NA
                      - name: SEGUROS
                        code: SEGUROS
                        additionalInfo: NA
        links:
          self: 'https://api.banco.com.br/open-banking/channels/v1/electronic-channels'
          first: 'https://api.banco.com.br/open-banking/channels/v1/electronic-channels'
          prev: 'null'
          next: 'null'
          last: 'https://api.banco.com.br/open-banking/channels/v1/electronic-channels'
        meta:
          totalRecords: 1
          totalPages: 1
    ElectronicChannelsBrand:
      type: object
      required:
        - name
        - companies
      properties:
        name:
          type: string
          description: Nome da marca selecionada pela Organização proprietária da dependência (titular).
          example: Marca A
          maxLength: 80
          pattern: \w*\W*
        companies:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannelsCompanies'
          minItems: 1
          description: Lista de instituições pertencentes à marca
    ElectronicChannelsCompanies:
      type: object
      required:
        - name
        - electronicChannels
        - cnpjNumber
      properties:
        name:
          type: string
          description: Nome da marca selecionada pela Organização proprietária da dependência (titular).
          example: Empresa da Marca A
          maxLength: 80
          pattern: \w*\W*
        urlComplementaryList:
          type: string
          maxLength: 1024
          pattern: \w*\W*
          example: 'https://example.com/mobile-banking'
        electronicChannels:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannel'
          minItems: 1
          maxItems: 4
          description: Lista  de canais de atendimento eltrônico
      allOf:
        - $ref: '#/components/schemas/CNPJ'
    BankingAgent:
      type: object
      required:
        - identification
        - locations
        - services
      properties:
        identification:
          $ref: '#/components/schemas/BankingAgentIdentification'
        locations:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentLocation'
          minItems: 1
          description: Relação de informações referentes as localizações dos Correspondentes bancários.
        services:
          type: array
          items:
            $ref: '#/components/schemas/BankingAgentService'
          minItems: 1
          maxItems: 20
          description: Traz a relação de serviços disponbilizados pelo Canal de Atendimento
    BankingAgentIdentification:
      type: object
      properties:
        corporationName:
          type: string
          maxLength: 100
          pattern: \w*\W*
        groupName:
          type: string
          maxLength: 100
          pattern: \w*\W*
        isUnderestablishment:
          type: boolean
          description: Indicador do Correspondente Bancário ser um Substabelecimento (são empresas  que foram contratadas por um correspondente bancário para prestar serviços. A empresa substabelecida é tratada como um correspondente do banco e tem praticamente os mesmos direitos e obrigações que possui o correspondente direto)
      allOf:
        - $ref: '#/components/schemas/CNPJ'
      required:
        - cnpjNumber
        - corporationName
    BankingAgentLocation:
      type: object
      required:
        - postalAddress
      properties:
        postalAddress:
          $ref: '#/components/schemas/BankingAgentPostalAddress'
        availability:
          $ref: '#/components/schemas/BankingAgentAvailability'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
    BankingAgentPostalAddress:
      type: object
      required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      allOf:
        - $ref: '#/components/schemas/PostalAddress'
    BankingAgentAvailability:
      type: object
      properties:
        standards:
          type: array
          items:
            required:
              - weekday
            properties:
              weekday:
                type: string
                enum:
                  - DOMINGO
                  - SEGUNDA_FEIRA
                  - TERCA_FEIRA
                  - QUARTA_FEIRA
                  - QUINTA_FEIRA
                  - SEXTA_FEIRA
                  - SABADO
                description: Dia da semana de abertura
              openingTime:
                type: string
                description: Horário de abertura (UTC)
                maxLength: 13
                pattern: '^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)|Z$'
              closingTime:
                type: string
                description: Horário de fechamento (UTC)
                maxLength: 13
                pattern: '^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)|Z$'
        exception:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          example: 'Exceto feriados municipais, nacionais e estaduais'
        isPublicAccessAllowed:
          type: boolean
          example: false
    BankingAgentService:
      type: object
      properties:
        name:
          type: string
          enum:
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_ABERTURA_CONTAS_DEPOSITOS_VISTA_PRAZO_POUPANCA_MANTIDOS_INSTITUICAO_CONTRATANTE
            - REALIZACAO_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_TITULARIDADE_CLIENTES_MANTIDAS_INSTITUICAO_CONTRATANTE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_OUTRAS_ATIVIDADES_DECORRENTES_EXECUCAO_CONTRATOS_CONVENIOS_PRESTACAO_SERVICOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_CURSADAS_INTERMEDIO_INSTITUICAO_CONTRATANTE_SOLICITACAO_CLIENTES_USUARIOS
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_OPERACAO_CREDITO_ARRENDAMENTO_MERCANTIL_CONCESSAO_INSTITUICAO_CONTRATANTE
            - RECEBIMENTOS_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO_CONTRATANTE
            - RECEPCAO_ENCAMINHAMENTO_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO_RESPONSABILIDADE_INSTITUICAO_CONTRATANTE
            - REALIZACAO_OPERACOES_CAMBIO_RESPONSABILIDADE_INSTITUICAO_CONTRATANTE
            - OUTROS
          description: Relação dos Nomes de serviços prestados pelo Correspondente
        code:
          type: string
          enum:
            - RECEBE_ENCAMINHA_PROPOSTAS_ABERTURA_CONTAS
            - REALIZA_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_EXECUCAO_CONTRATOS_CONVENIO
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO
            - RECEBE_ENCAMINHA_PROPOSTAS_CREDITO_ARRENDAMENTO_MERCANTIL
            - RECEBE_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO
            - RECEBE_ENCAMINHA_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO
            - REALIZA_OPERACOES_CAMBIO
            - OUTROS
          description: |-
            > Relação dos Códigos relativos aos serviços prestados pelo Correspondente 
            * `RECEBE_ENCAMINHA_PROPOSTAS_ABERTURA_CONTAS` - Recepção e encaminhamento de propostas de abertura de contas 
            * `REALIZA_RECEBIMENTOS_PAGAMENTOS_TRANSFERENCIAS_ELETRONICAS` - Realização de recebimentos, pagamentos e transferências eletrônicas 
            * `RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA_EXECUCAO_CONTRATOS_CONVENIO` - Recebimentos e pagamentos de qualquer natureza 
            * `EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO` - Execução ativa e passiva de ordens de pagamento 
            * `RECEBE_ENCAMINHA_PROPOSTAS_CREDITO_ARRENDAMENTO_MERCANTIL` - Recepção e encaminhamento de propostas de operações de crédito e de arrendamento mercantil 
            * `RECEBE_PAGAMENTOS_RELACIONADOS_LETRAS_CAMBIO_ACEITE_INSTITUICAO` - Recebimento e pagamentos relacionados a letras de câmbio de aceite da instituição 
            * `RECEBE_ENCAMINHA_PROPOSTAS_FORNECIMENTO_CARTAO_CREDITO` - Recepção e encaminhamento de propostas de fornecimento de cartões de crédito 
            * `REALIZA_OPERACOES_CAMBIO` - Realização de operações de câmbio 
            * `OUTROS` - Outros
        additionalInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Campo aberto para detalhamento
      required:
        - name
        - code
    Branch:
      type: object
      description: 'Dependência de instituições financeiras e demais instituições, autorizadas a funcionar pelo Banco Central do Brasil, destinada à prática das atividades para as quais a instituição esteja regularmente habilitada.'
      required:
        - identification
        - postalAddress
        - availability
        - services
      properties:
        identification:
          $ref: '#/components/schemas/BranchIdentification'
        postalAddresses:
          $ref: '#/components/schemas/BranchPostalAddress'
        availability:
          $ref: '#/components/schemas/BranchAvailability'
        phones:
          type: array
          items:
            $ref: '#/components/schemas/BranchPhone'
          minItems: 1
          description: Lista de telefones da Dependência
        services:
          type: array
          description: Traz a relação de serviços disponbilizados pelo Canal de Atendimento
          items:
            $ref: '#/components/schemas/BranchService'
          minItems: 1
          maxItems: 20
    BranchPostalAddress:
      type: object
      required:
        - address
        - districtName
        - townName
        - countrySubDivision
        - postCode
      allOf:
        - $ref: '#/components/schemas/PostalAddress'
    BranchPhone:
      type: object
      required:
        - type
      allOf:
        - $ref: '#/components/schemas/Phone'
    BranchIdentification:
      type: object
      properties:
        type:
          type: string
          enum:
            - AGENCIA
            - POSTO_ATENDIMENTO
            - POSTO_ATENDIMENTO_ELETRONICO
            - UNIDADE_ADMINISTRATIVA_DESMEMBRADA
          description: |2-
             > Tipo da dependência, segundo a regulamentação do Bacen,  na Resolução Nº 4072, de 26 de abril de 2012: Dependência de instituições financeiras e demais instituições, autorizadas a funcionar pelo Banco Central do Brasil, destinada à prática das atividades para as quais a instituição esteja regularmente habilitada. 
            * `AGENCIA`: Agência é a dependência destinada ao atendimento aos clientes, ao público em geral e aos associados de cooperativas de crédito, no exercício de atividades da instituição, não podendo ser móvel ou transitória; 
            * `POSTO_ATENDIMENTO`: Posto de Atendimento é a dependência subordinada a agência  ou à sede da instituição financeira, destinada ao atendimento ao público no exercício de uma ou mais de suas atividades, podendo ser fixo ou móvel. Segundo Art.15. Os Postos de Atendimento Bancário (PAB), Postos Avançados de Atendimento (PAA), Postos de Atendimento Transitórios (PAT), Postos de Compra de Ouro (PCO), Postos de Atendimento Cooperativo (PAC), Postos de Atendimento de Microcrédito (PAM), Postos Bancários de Arrecadação e Pagamento (PAP) e os Postos de Câmbio atualmente em funcionamento serão considerados PA. 
            * `POSTO_ATENDIMENTO_ELETRONICO`: Posto de Atendimento Eletrônico é a dependência constituída por um ou mais terminais de autoatendimento, subordinada a agência ou à sede da instituição, destinada à prestação de serviços por meio eletrônico, podendo ser fixo ou móvel, permanente ou transitório 
            * `UNIDADE_ADMINISTRATIVA_DESMEMBRADA `: Unidade Administrativa Desmembrada (UAD) segundo a Resolução 4072 , BCB, 2012, no Art. 8º "... é dependência destinada à execução de atividades administrativas da instituição, vedado o atendimento ao público"
        code:
          type: string
          maxLength: 4
          pattern: '^\d{4}$|^NA$'
          description: Código identificador da dependência
        checkDigit:
          type: string
          maxLength: 1
          pattern: \w*\W*
          description: Dígito verificador do código da dependência
        name:
          type: string
          maxLength: 100
          pattern: \w*\W*
          description: Nome da dependência
        relatedBranch:
          type: string
          maxLength: 4
          pattern: '^\d{4}$'
          description: Código da agência vinculada ao Posto de Atendimento - se aplicável
        openingDate:
          type: string
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: Data de abertura da dependência (uma string com data conforme especificação RFC-3339. p.ex. 2014-03-19)
      required:
        - type
        - code
        - checkDigit
        - name
    BranchAvailability:
      type: object
      properties:
        standards:
          type: array
          description: Lista disponibilidade padrão da depêndencia por dias da semana
          items:
            properties:
              weekday:
                type: string
                enum:
                  - DOMINGO
                  - SEGUNDA_FEIRA
                  - TERCA_FEIRA
                  - QUARTA_FEIRA
                  - QUINTA_FEIRA
                  - SEXTA_FEIRA
                  - SABADO
                description: Dia da semana de abertura da dependência bancária
              openingTime:
                type: string
                description: Horário de abertura da dependência bancária (UTC)
                maxLength: 13
                pattern: '^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)|Z$|^NA$'
              closingTime:
                type: string
                description: Horário de fechamento da dependência bancária (UTC)
                maxLength: 13
                pattern: '^(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)|Z$|^NA$'
            required:
              - weekday
              - openingTime
              - closingTime
          minItems: 1
          maxItems: 7
        exception:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: Em campo texto devem ser registradas todas as Exceções para o não atendimento.
        isPublicAccessAllowed:
          type: boolean
          description: Indica se a instalação da Dependência tem acesso restrito a clientes.
      required:
        - standards
        - exception
    BranchService:
      type: object
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_CONTAS_PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO_CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Nome dos Serviços efetivamente prestados pelo Canal de Atendimento
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGTO_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_PAGTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGTO
            - DEPOSITO_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Código dos Serviços efetivamente prestados pelo Canal de Atendimento
        additionalInfo:
          type: string
          description: 'Texto livre para complementar informação relativa ao Serviço disponível, quando for selecionada a opção ''OUTROS_PRODUTOS_SERVICOS'''
          maxLength: 2000
          pattern: \w*\W*
      required:
        - code
        - name
    ElectronicChannel:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/ElectronicChannelIdentification'
        services:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannelService'
          minItems: 1
          maxItems: 20
          description: Traz a relação de serviços disponbilizados pelo Canal de Atendimento
      required:
        - identification
        - services
    ElectronicChannelIdentification:
      type: object
      required:
        - type
        - urls
      properties:
        type:
          type: string
          enum:
            - INTERNET_BANKING
            - MOBILE_BANKING
            - SAC
            - OUVIDORIA
            - CHAT
            - OUTROS
          description: Tipo de canal de atendimento eletrônico
          example: CHAT
        additionalInfo:
          type: string
          pattern: \w*\W*
          maxLength: 300
          description: |
            Campo de texto livre para descrever complementação de informações necessárias. De preenchimento obrigatório para  o tipo de canal de atendimento 'OUTROS'
            Restrição: Preenchimento obrigatório para o tipo de canal de atendimento 'OUTROS'
        urls:
          type: array
          items:
            $ref: '#/components/schemas/ElectronicChannelUrl'
          minItems: 1
          description: Lista das URLs que atendem um tipo de canal eletrônico selecionado
    ElectronicChannelUrl:
      type: string
      pattern: \w*\W*
      maxLength: 1024
    ElectronicChannelService:
      type: object
      required:
        - name
        - code
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO_CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_CONTAS_PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO_CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Nome dos Serviços efetivamente prestados pelo Canal de Atendimento
          example: ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGTO_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_PAGTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGTO
            - DEPOSITO_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Código dos Serviços efetivamente prestados pelo Canal de Atendimento
          example: ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
        additionalInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Texto livre para complementar informação relativa ao Serviço disponível, quando for selecionada a opção ''OUTROS_PRODUTOS_SERVICOS'''
          example: SIC
    Phone:
      type: object
      properties:
        type:
          type: string
          enum:
            - FIXO
            - MOVEL
          example: FIXO
          description: 'Identificação do Tipo de telefone da dependência. p.ex.FIXO, MOVEL.'
        countryCallingCode:
          type: string
          maxLength: 4
          pattern: '^\d{1,4}$'
          example: '55'
          description: Número de DDI (Discagem Direta Internacional) para  telefone de acesso ao Canal - se houver. p.ex. '55'
        areaCode:
          type: string
          maxLength: 2
          pattern: '^\d{2}$'
          example: '19'
          description: Número de DDD (Discagem Direta à Distância) do telefone da dependência - se houver. p.ex. '19'
        number:
          type: string
          maxLength: 11
          pattern: '^([0-9]{8,11})$'
          example: '35721199'
          description: Número de telefone da dependência - se houver
    PostalAddress:
      type: object
      properties:
        address:
          type: string
          description: 'Deverá trazer toda a informação referente ao endereço da dependência informada: Tipo de logradouro + Nome do logradouro + Número do Logradouro (se não existir usar '' s/n'') + complemento (se houver), como, p.ex.: ''R Diamatina, 59, bloco 35, fundos'' ''Praça da Boa Vontade s/n'''
          maxLength: 150
          pattern: \w*\W*
          example: 'Av Naburo Ykesaki, 1270'
        additionalInfo:
          type: string
          description: Alguns logradouros ainda necessitam ser especificados por meio de complemento
          maxLength: 30
          pattern: \w*\W*
          example: Fundos
        districtName:
          type: string
          description: 'Bairro é uma comunidade ou região localizada em uma cidade ou município de acordo com as suas subdivisões geográficas. p.ex: ''Paraíso'''
          maxLength: 50
          pattern: \w*\W*
          example: Centro
        townName:
          type: string
          description: 'Localidade: O nome da localidade corresponde à designação da cidade ou município no qual o endereço está localizado. p.ex. ''São Paulo'''
          maxLength: 50
          pattern: \w*\W*
          example: Marília
        ibgeCode:
          type: string
          description: Código IBGE do município
          maxLength: 7
          pattern: '^\d{7}$'
          example: '3515890'
        countrySubDivision:
          type: string
          description: 'Enumeração referente a cada sigla da unidade da federação que identifica o estado ou o distrito federal, no qual o endereço está localizado. p.ex. ''AC''. São consideradas apenas as siglas para os estados brasileiros'
          enum:
            - AC
            - AL
            - AP
            - AM
            - BA
            - CE
            - DF
            - ES
            - GO
            - MA
            - MT
            - MS
            - MG
            - PA
            - PB
            - PR
            - PE
            - PI
            - RJ
            - RN
            - RS
            - RO
            - RR
            - SC
            - SP
            - SE
            - TO
          example: SP
        postCode:
          type: string
          description: Código de Endereçamento Postal
          pattern: '(\d{8}|^NA$)'
          maxLength: 8
          example: '17500001'
        country:
          type: string
          description: Nome do país
          maxLength: 80
          pattern: \w*\W*
          example: Brasil
        countryCode:
          type: string
          description: Código do país
          example: BRA
        geographicCoordinates:
          $ref: '#/components/schemas/GeographicCoordinates'
    ResponseSharedAutomatedTellerMachinesList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          properties:
            brand:
              $ref: '#/components/schemas/SharedAutomatedTellerMachinesBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
    SharedAutomatedTellerMachinesBrand:
      type: object
      allOf:
        - $ref: '#/components/schemas/Brand'
      properties:
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SharedAutomatedTellerMachinesCompanies'
          description: Lista de instituições pertencentes à marca
    SharedAutomatedTellerMachinesCompanies:
      properties:
        sharedAutomatedTellerMachines:
          type: array
          items:
            $ref: '#/components/schemas/SharedAutomatedTellerMachines'
          minItems: 0
          maxItems: 1
      allOf:
        - $ref: '#/components/schemas/SharedAutomatedTellerMachinesCompany'
    SharedAutomatedTellerMachines:
      type: object
      properties:
        identification:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesIdentification'
        postalAddress:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesPostalAddress'
        availability:
          $ref: '#/components/schemas/SharedAutomatedTellerMachinesAvailability'
        services:
          type: array
          items:
            $ref: '#/components/schemas/SharedAutomatedTellerMachinesServices'
    SharedAutomatedTellerMachinesServices:
      type: object
      properties:
        name:
          type: string
          enum:
            - ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
            - SAQUE_MOEDA_EM_ESPECIE
            - RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_VISANDO_MOVIMENTACAO
            - CONTAS_DEPOSITOS_OU_PAGAMENTO_TITULARIDADE_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS_E_CONTAS
            - PAGAMENTOS
            - APLICACOES_RESGATES_INVESTIMENTOS
            - EXECUCAO_ATIVA_PASSIVA_ORDENS_PAGAMENTO_SOLICITACAO
            - CLIENTES_USUARIOS
            - DEPOSITOS_MOEDA_ESPECIE_CHEQUE
            - OPERACOES_CREDITO_BEM_COMO_OUTROS_SERVICOS_PRESTADOS_ACOMPANHAMENTO_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERACOES_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDA_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDA_CHEQUE_CHEQUE_VIAGEM_BEM_COMO_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDA_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Nome dos Serviços efetivamente prestados pelo Terminal de Autoatendimento Compartilhado informado
          example: OUTROS_PRODUTOS_SERVICOS
        code:
          type: string
          enum:
            - ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
            - SAQUE_MOEDA_ESPECIE
            - RECEBE_PAGA_QUALQUER_NATUREZA
            - TRANSFERENCIAS_ELETRONICAS_MOVIMENTA_CONTAS_DEPOSITOS_OU_PAGA_TITULARES_CLIENTES
            - CONSULTA_SALDOS_EXTRATOS_CONTAS_DEPOSITOS
            - PAGAMENTOS
            - APLICA_RESGATA_INVESTIMENTOS
            - EXECUTA_ATIVA_PASSIVA_ORDENS_PAGAMENTO
            - DEPOSITA_MOEDA_ESPECIE_CHEQUE
            - OPERA_CREDITO_OUTROS_SERVICOS_ACOMPANHA_OPERACAO
            - CARTAO_CREDITO
            - SEGUROS
            - OPERA_ARRENDAMENTO_MERCANTIL
            - ABERTURA_CONTA_PAGAMENTO_POS_PAGA
            - COMPRA_VENDE_MOEDA_ESTRANGEIRA_ESPECIE
            - COMPRA_VENDE_CHEQUE_CHEQUE_VIAGEM_CARGA_MOEDA_ESTRANGEIRA_CARTAO_PRE_PAGO
            - COMPRA_VENDE_OURO
            - OUTROS_PRODUTOS_SERVICOS
            - CANCELAMENTO
            - INFORMACOES
            - RECLAMACOES
          description: Código dos Serviços efetivamente prestados pelo Terminal de Autoatendimento Compartilhado informado
          example: OUTROS_PRODUTOS_SERVICOS
        additionalInfo:
          type: string
          maxLength: 2000
          pattern: \w*\W*
          description: 'Texto livre para complementar informação relativa ao Serviço disponível, quando for preenchida a opção ''OUTROS_PRODUTOS_SERVICOS'''
          example: Serviços complementares de atendimento via terminais de autoatendimento.
    SharedAutomatedTellerMachinesIdentification:
      type: object
      properties:
        ownerName:
          type: string
          maxLength: 100
          pattern: \w*\W*
          description: Nome do proprietário do terminal de Autoatendimento Compartilhado
          example: João da Silva Santos
    ResponsePhoneChannelsList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - brand
          properties:
            brand:
              $ref: '#/components/schemas/PhoneChannelsBrand'
        links:
          $ref: '#/components/schemas/Links'
        meta:
          $ref: '#/components/schemas/Meta'
      example:
        data:
          brand:
            name: Organização A
            companies:
              - name: Empresa A1
                cnpjNumber: '45086338000178'
                urlComplementaryList: 'https://empresaa1.com/branches-banking'
                phoneChannels:
                  - identification:
                      type: CENTRAL_TELEFONICA
                      phones:
                        - countryCallingCode: '55'
                          areaCode: '14'
                          number: '35721199'
                          additionalInfo: NA
                        - countryCallingCode: '55'
                          areaCode: '14'
                          number: '997865532'
                          additionalInfo: NA
                    services:
                      - name: ABERTURA_CONTAS_DEPOSITOS_OU_PAGAMENTO_PRE_PAGA
                        code: ABRE_CONTA_DEPOSITO_OU_PRE_PAGA
                      - name: RECEBIMENTOS_PAGAMENTOS_QUALQUER_NATUREZA
                        code: RECEBE_PAGA_QUALQUER_NATUREZA
                      - name: OUTROS_PRODUTOS_SERVICOS
                        code: OUTROS_PRODUTOS_SERVICOS
                        additionalInfo: Atendimento em outros idiomas
                  - identification:
                      type: SAC
                      phones:
[...]
