openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking
tags:
  - name: API - Dados Cadastrais
  - name: API - Cartão de Crédito
  - name: API - Contas
  - name: API - Operações de Crédito

paths:
  /customers/v1/business-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Razão Social (Company Name)](#glossarioRazaoSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/business-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/business-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento pessoa jurídica com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Sexo (Gender)](#glossarioSexo).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento da pessoa natural com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers.png"/>

        <a href="images/der/customers/DER_Personal_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/identification:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Identificação de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga.

        Tags: [Bandeira (Credit Card Network)](#glossarioBandeira), [Cartão Múltiplo (Multiple CreditCard)](#glossarioCartaoMultiplo), [CNPJ (CNPJ Number)](#glossarioCNPJ) e [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Identification.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/limits:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Limites de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos limites: de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Empréstimo Cartão Consignado (Payroll Loan)](#glossarioEmprestimoCartaoConsignado) e [Limite Flexível (Flexible Limit)](#glossarioLimiteFlexivel).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Limits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Limits.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Limits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_limits.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_limits.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsLimits
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados dos limites de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/transactions:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Transações de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados das transações relativas à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [MCC (Merchant Category Code)](#glossarioMCC).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Transactions.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_transactions.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsTransaction
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das transações relativas à conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/bill:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Fatura de Cartão de Crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à fatura da conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Fatura (Bill)](#glossarioFatura).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Bill.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Bill.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Bill.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/credit_cards_accounts_bill.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_billing.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_credit_cards_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getCrediCardsBilling"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados referentes à fatura da conta de pagamento pós-paga.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/identification:
      get:
        tags:
          - API - Contas
        summary: Identificação da Conta
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria),
                [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agencia (Agency)](#glossarioAgencia), [Conta depósito à vista (Current Account)](#glossarioContaDepositoVista), [Conta Poupança (Savings Account)](#glossarioContaPoupanca),
                [Conta de Pagamento Pré-Paga (Prepayd Payment Account)](#glossarioContaPagamentoPrePaga).

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

          <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.v1.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/accountsCompeCode"
          - $ref: "#/components/parameters/accountsBranchCode"
          - $ref: "#/components/parameters/accountsNumber"
          - $ref: "#/components/parameters/accountsCheckDigit"
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Método para obter os dados de identificação da conta na transmissora.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
          '400':
            $ref: './schemas/ErrorHTTP.yaml#/400'
          '401':
            $ref: './schemas/ErrorHTTP.yaml#/401'
          '403':
            $ref: './schemas/ErrorHTTP.yaml#/403'
          '404':
            $ref: './schemas/ErrorHTTP.yaml#/404'
          '405':
            $ref: './schemas/ErrorHTTP.yaml#/405'
          '406':
            $ref: './schemas/ErrorHTTP.yaml#/406'
          '410':
            $ref: './schemas/ErrorHTTP.yaml#/410'
          '422':
            $ref: './schemas/ErrorHTTP.yaml#/422'
          '429':
            $ref: './schemas/ErrorHTTP.yaml#/429'
          '500':
            $ref: './schemas/ErrorHTTP.yaml#/500'
          '503':
            $ref: './schemas/ErrorHTTP.yaml#/503'
          '504':
            $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'
  /bank-borrowing/v1/contract:
    get:
      tags:
        - API - Operações de Crédito
      summary: Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes à identificação da operação de crédito.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Contract.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingContract"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes à identificação da operação de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingContract'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /bank-borrowing/v1/warranties:
    get:
      tags:
        - API - Operações de Crédito
      summary: Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes às garantias que avalizam a operação de crédito contratada.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Warranties.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Warranties.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingWarranties"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingWarranties'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /bank-borrowing/v1/payments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados dos pagamentos referentes às operações de crédito contratadas.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Payments.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Payments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingPayments"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados dos pagamentos referentes às operações de crédito contratadas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingPayments'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /bank-borrowing/v1/instalments:
    get:
      tags:
        - API - Operações de Crédito
      summary: Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        A definir.
        Obtém dados referentes às parcelas / prestações da operação de crédito contratada.

        A definir.
        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/bank_borrowing/TLD_BankBorrowing_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/bank_borrowing/DER_BankBorrowing_Instalments.png"/>

        <a href="images/der/bank_borrowing/DER_BankBorrowing_Instalments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/bank_borrowing_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        A definir.
        <a href="dictionary/example/examples_bank_borrowing_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_bank_borrowing_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getBankBorrowingInstalments"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter dados referentes às garantias que avalizam a operação de crédito contratada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankBorrowingInstalments'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

components:
  schemas:
    AccountBalances:
      $ref: ./schemas/accounts_apis/AccountBalances.yaml
    AccountBalancesData:
      $ref: ./schemas/accounts_apis/AccountBalancesData.yaml
    AccountsLimits:
      $ref: ./schemas/credit_cards_apis/AccountsLimits.yaml
    AccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimits.yaml
    AccountOverdraftLimitsData:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimitsData.yaml
    AccountsIdentification:
      $ref: ./schemas/accounts_apis/AccountIdentification.yaml
    AccountIdentificationData:
      $ref: ./schemas/accounts_apis/AccountIdentificationData.yaml
    AccountTransactions:
      $ref: ./schemas/accounts_apis/AccountTransactions.yaml
    AccountTransactionsData:
      $ref: ./schemas/accounts_apis/AccountTransactionsData.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    BankBorrowingBallonInstalments:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingBallonInstalments.yaml
    BankBorrowingBallonPayment:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingBallonPayment.yaml
    BankBorrowingCompletedPayment:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingCompletedPayment.yaml
    BankBorrowingContract:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingContract.yaml
    BankBorrowingContractBank:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingContractBank.yaml
    BankBorrowingContractData:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingContractData.yaml
    BankBorrowingContractedWarranty:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingContractedWarranty.yaml
    BankBorrowingContractInterestRate:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingContractInterestRate.yaml
    BankBorrowingInstalments:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingInstalments.yaml
    BankBorrowingInstalmentsBank:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingInstalmentsBank.yaml
    BankBorrowingInstalmentsData:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingInstalmentsData.yaml
    BankBorrowingPaymentBank:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingPaymentBank.yaml
    BankBorrowingPayments:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingPayments.yaml
    BankBorrowingPaymentsData:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingPaymentsData.yaml
    BankBorrowingReleases:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingReleases.yaml
    BankBorrowingWarranties:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingWarranties.yaml
    BankBorrowingWarrantiesBank:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingWarrantiesBank.yaml
    BankBorrowingWarrantiesData:
      $ref: ./schemas/bank_borrowing_apis/BankBorrowingWarrantiesData.yaml
    BusinessFinancialRelationBrand:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationBrand.yaml
    BusinessFinancialRelationCompany:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCompany.yaml
    BusinessFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCustomers.yaml
    BusinessFinancialRelationData:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationData.yaml
    BusinessIdentification:
      $ref: ./schemas/customers_apis/BusinessIdentification.yaml
    BusinessIdentificationBrand:
      $ref: ./schemas/customers_apis/BusinessIdentificationBrand.yaml
    BusinessIdentificationCompany:
      $ref: ./schemas/customers_apis/BusinessIdentificationCompany.yaml
    BusinessIdentificationCustomers:
      $ref: ./schemas/customers_apis/BusinessIdentificationCustomers.yaml
    BusinessIdentificationData:
      $ref: ./schemas/customers_apis/BusinessIdentificationData.yaml
    BusinessInformedPatrimony:
      $ref: ./schemas/customers_apis/BusinessInformedPatrimony.yaml
    BusinessOtherDocument:
      $ref: ./schemas/customers_apis/BusinessOtherDocument.yaml
    BusinessQualification:
      $ref: ./schemas/customers_apis/BusinessQualification.yaml
    BusinessQualificationBrand:
      $ref: ./schemas/customers_apis/BusinessQualificationBrand.yaml
    BusinessQualificationCompany:
      $ref: ./schemas/customers_apis/BusinessQualificationCompany.yaml
    BusinessQualificationCustomers:
      $ref: ./schemas/customers_apis/BusinessQualificationCustomers.yaml
    BusinessQualificationData:
      $ref: ./schemas/customers_apis/BusinessQualificationData.yaml
    CreditCardAccountBalances:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountBalances.yaml
    CreditCardAccountsBilling:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBilling.yaml
    CreditCardAccountsBillingBill:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingBill.yaml
    CreditCardAccountsBillingData:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingData.yaml
    CreditCardAccountsBillingFinanceCharge:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingFinanceCharge.yaml
    CreditCardAccountsBillingPayment:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsBillingPayment.yaml
    CreditCardAccountsLimitsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimitsBrand.yaml
    CreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimits.yaml
    CreditCardaccountsTransactionsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactionsBrand.yaml
    CreditCardAccountsStatement:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsStatement.yaml
    CreditCardAccountsStatementBalance:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsStatementBalance.yaml
    CreditCardAccountStatementTransaction:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountStatementTransaction.yaml
    CreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactions.yaml
    CreditCardsAccountIdentification:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsIdentification.yaml
    CreditCardAccountIdentificationAccount:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountIdentificationAccount.yaml
    CreditCardsAccountIdentificationBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsIdentificationBrand.yaml
    CreditCardsAccountPaymentMethod:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsPaymentMethod.yaml
    CreditCardTransactionAccount:
      $ref: ./schemas/credit_cards_apis/CreditCardTransactionAccount.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    CustomerContacts:
      $ref: ./schemas/customers_apis/CustomerContacts.yaml
    CustomerEmail:
      $ref: ./schemas/customers_apis/CustomerEmail.yaml
    CustomerPhone:
      $ref: ./schemas/customers_apis/CustomerPhone.yaml
    CustomerPostalAddress:
      $ref: ./schemas/customers_apis/CustomerPostalAddress.yaml
    EconomicActivity:
      $ref: ./schemas/customers_apis/EconomicActivity.yaml
    EnumAccountSubType:
      $ref: ./schemas/enum/EnumAccountSubType.yaml
    EnumAccountType:
      $ref: ./schemas/enum/EnumAccountType.yaml
    EnumAreaCode:
      $ref: ./schemas/enum/EnumAreaCode.yaml
    EnumBankBorrowingContractAmortizationSchedule:
      $ref: ./schemas/enum/EnumBankBorrowingContractAmortizationSchedule.yaml
    EnumBankBorrowingContractCalculation:
      $ref: ./schemas/enum/EnumBankBorrowingContractCalculation.yaml
    EnumBankBorrowingContractFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingContractFinanceChargeType.yaml
    EnumBankBorrowingContractInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractInstalmentPeriodicity.yaml
    EnumBankBorrowingContractInterestRateType:
      $ref: ./schemas/enum/EnumBankBorrowingContractInterestRateType.yaml
    EnumBankBorrowingContractProductType:
      $ref: ./schemas/enum/EnumBankBorrowingContractProductType.yaml
    EnumBankBorrowingContractReferentialRateIndexerType:
      $ref: ./schemas/enum/EnumBankBorrowingContractReferentialRateIndexerType.yaml
    EnumBankBorrowingContractTaxPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxPeriodicity.yaml
    EnumBankBorrowingContractTaxType:
      $ref: ./schemas/enum/EnumBankBorrowingContractTaxType.yaml
    EnumBankBorrowingFinanceChargeType:
      $ref: ./schemas/enum/EnumBankBorrowingFinanceChargeType.yaml
    EnumBankBorrowingInstalmentPeriodicity:
      $ref: ./schemas/enum/EnumBankBorrowingInstalmentPeriodicity.yaml
    EnumBankBorrowingWarrantySubType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantySubType.yaml
    EnumBankBorrowingWarrantyType:
      $ref: ./schemas/enum/EnumBankBorrowingWarrantyType.yaml
    EnumCustomerPhoneType:
      $ref: ./schemas/enum/EnumCustomerPhoneType.yaml
    EnumFiliationType:
      $ref: ./schemas/enum/EnumFiliationType.yaml
    EnumGender:
      $ref: ./schemas/enum/EnumGender.yaml
    EnumInformedIncomeFrequency:
      $ref: ./schemas/enum/EnumInformedIncomeFrequency.yaml
    EnumInformedRevenueFrequency:
      $ref: ./schemas/enum/EnumInformedRevenueFrequency.yaml
    EnumMaritalStatusCode:
      $ref: ./schemas/enum/EnumMaritalStatusCode.yaml
    EnumOccupationMainCodeType:
      $ref: ./schemas/enum/EnumOccupationMainCodeType.yaml
    EnumBalanceType:
      $ref: ./schemas/enum/EnumBalanceType.yaml
    EnumCompletedAuthorisedPaymentIndicator:
      $ref: ./schemas/enum/EnumCompletedAuthorisedPaymentIndicator.yaml
    EnumCountrySubDivision:
      $ref: ./schemas/enum/EnumCountrySubDivision.yaml
    EnumCreditCardAccountBalance:
      $ref: ./schemas/enum/EnumCreditCardAccountBalance.yaml
    EnumCreditCardAccountFee:
      $ref: ./schemas/enum/EnumCreditCardAccountFee.yaml
    EnumCreditCardAccountNetwork:
      $ref: ./schemas/enum/EnumCreditCardAccountNetwork.yaml
    EnumCreditCardAccountPaymentMethodApresentation:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodApresentation.yaml
    EnumCreditCardAccountPaymentMethodType:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodType.yaml
    EnumCreditCardAccountsBillingValueType:
      $ref: ./schemas/enum/EnumCreditCardAccountsBillingValueType.yaml
    EnumCreditCardAccountsConsolidationType:
      $ref: ./schemas/enum/EnumCreditCardAccountsConsolidationType.yaml
    EnumCreditCardAccountsFinanceChargeType:
      $ref: ./schemas/enum/EnumCreditCardAccountsFinanceChargeType.yaml
    EnumCreditCardAccountsLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLimitType.yaml
    EnumCreditCardAccountsLineLimitType:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineLimitType.yaml
    EnumCreditCardAccountsLineName:
      $ref: ./schemas/enum/EnumCreditCardAccountsLineName.yaml
    EnumCreditCardAccountsOtherCredits:
      $ref: ./schemas/enum/EnumCreditCardAccountsOtherCredits.yaml
    EnumCreditCardAccountsProductType:
      $ref: ./schemas/enum/EnumCreditCardAccountsProductType.yaml
    EnumCreditCardTransactionType:
      $ref: ./schemas/enum/EnumCreditCardTransactionType.yaml
    EnumCreditDebitIndicator:
      $ref: ./schemas/enum/EnumCreditDebitIndicator.yaml
    EnumCreditCardAccountsPaymentMode:
      $ref: ./schemas/enum/EnumCreditCardAccountsPaymentMode.yaml
    EnumPartiesParticipationDocumentType:
      $ref: ./schemas/enum/EnumPartiesParticipationDocumentType.yaml
    EnumPartiesParticipationType:
      $ref: ./schemas/enum/EnumPartiesParticipationType.yaml
    EnumPersonalOtherDocumentType:
      $ref: ./schemas/enum/EnumPersonalOtherDocumentType.yaml
    EnumOverdraftLimitType:
      $ref: ./schemas/enum/EnumOverdraftLimitType.yaml
    EnumProcuratorsType:
      $ref: ./schemas/enum/EnumProcuratorsType.yaml
    EnumProductServiceType:
      $ref: ./schemas/enum/EnumProductServiceType.yaml
    EnumTransactionTypes:
      $ref: ./schemas/enum/EnumTransactionTypes.yaml
    Filiation:
      $ref: ./schemas/customers_apis/Filiation.yaml
    FinancialRelation:
      $ref: ./schemas/customers_apis/FinancialRelation.yaml
    GeographicCoordinates:
      $ref: ./schemas/GeographicCoordinates.yaml
    Identification:
      $ref: ./schemas/accounts_apis/Identification.yaml
    InformedIncome:
      $ref: ./schemas/customers_apis/InformedIncome.yaml
    InformedRevenue:
      $ref: ./schemas/customers_apis/InformedRevenue.yaml
    Links:
      $ref: ./schemas/Links.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    Nationality:
      $ref: ./schemas/customers_apis/Nationality.yaml
    NationalityComplementaryDocuments:
      $ref: ./schemas/customers_apis/NationalityComplementaryDocuments.yaml
    NationalityOther:
      $ref: ./schemas/customers_apis/NationalityOther.yaml
    PartiesParticipation:
      $ref: ./schemas/customers_apis/PartiesParticipation.yaml
    PersonalDocument:
      $ref: ./schemas/customers_apis/PersonalDocument.yaml
    OverdraftLimits:
      $ref: ./schemas/accounts_apis/OverdraftLimits.yaml
    OverdraftLimitsBalance:
      $ref: ./schemas/accounts_apis/OverdraftLimitsBalance.yaml
    PersonalFinancialRelationBrand:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationBrand.yaml
    PersonalFinancialRelationCompany:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCompany.yaml
    PersonalFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCustomers.yaml
    PersonalFinancialRelationData:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationData.yaml
    PersonalIdentification:
      $ref: ./schemas/customers_apis/PersonalIdentification.yaml
    PersonalIdentificationBrand:
      $ref: ./schemas/customers_apis/PersonalIdentificationBrand.yaml
    PersonalIdentificationCompany:
      $ref: ./schemas/customers_apis/PersonalIdentificationCompany.yaml
    PersonalIdentificationCustomers:
      $ref: ./schemas/customers_apis/PersonalIdentificationCustomers.yaml
    PersonalIdentificationData:
      $ref: ./schemas/customers_apis/PersonalIdentificationData.yaml
    PersonalInformedPatrimony:
      $ref: ./schemas/customers_apis/PersonalInformedPatrimony.yaml
    PersonalOtherDocument:
      $ref: ./schemas/customers_apis/PersonalOtherDocument.yaml
    PersonalQualification:
      $ref: ./schemas/customers_apis/PersonalQualification.yaml
    PersonalQualificationBrand:
      $ref: ./schemas/customers_apis/PersonalQualificationBrand.yaml
    PersonalQualificationCompany:
      $ref: ./schemas/customers_apis/PersonalQualificationCompany.yaml
    PersonalQualificationCustomers:
      $ref: ./schemas/customers_apis/PersonalQualificationCustomers.yaml
    PersonalQualificationData:
      $ref: ./schemas/customers_apis/PersonalQualificationData.yaml
    Procurator:
      $ref: ./schemas/customers_apis/Procurator.yaml
    ProductService:
      $ref: ./schemas/customers_apis/ProductService.yaml
    ResponseAccountBalances:
      $ref: ./schemas/accounts_apis/ResponseAccountBalances.yaml
    ResponseAccountIdentification:
      $ref: ./schemas/accounts_apis/ResponseAccountIdentification.yaml
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml
    ResponseAccountTransactions:
      $ref: ./schemas/accounts_apis/ResponseAccountTransactions.yaml
    ResponseBankBorrowingContract:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingContract.yaml
    ResponseBankBorrowingInstalments:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingInstalments.yaml
    ResponseBankBorrowingPayments:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingPayments.yaml
    ResponseBankBorrowingWarranties:
      $ref: ./schemas/bank_borrowing_apis/ResponseBankBorrowingWarranties.yaml
    ResponseBusinessCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersFinancialRelation.yaml
    ResponseBusinessCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
    ResponseBusinessCustomersQualification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
    ResponseCreditCardAccountsIdentification:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsIdentification.yaml
    ResponseCreditCardAccountsBilling:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsBilling.yaml
    ResponseCreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsLimits.yaml
    ResponseCreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsTransactions.yaml
    ResponsePersonalCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersFinancialRelation.yaml
    ResponsePersonalCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
    ResponsePersonalCustomersQualification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
    StatementAccountBalance:
      $ref: ./schemas/accounts_apis/StatementAccountBalance.yaml
    StatementAccountTransaction:
      $ref: ./schemas/accounts_apis/StatementAccountTransaction.yaml
    Transactions:
      $ref: ./schemas/accounts_apis/Transactions.yaml
  parameters:
    accountsBranchCode:
      $ref: ./parameters/AccountsBranchCode.yaml
    accountsCheckDigit:
      $ref: ./parameters/AccountsCheckDigit.yaml
    accountsCompeCode:
      $ref: ./parameters/AccountsCompeCode.yaml
    accountsNumber:
      $ref: ./parameters/AccountsNumber.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
