openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking
tags:
  - name: APIs Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
  - name: API - Admin
  - name: API - Dados Cadastrais
  - name: API - Cartão de Crédito
  - name: API - Contas
paths:
  /discovery/v1/status:
    get:
      tags:
        - APIs Comuns
      summary: API de Status
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de descrição e código de status retornado pelas APIs obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /discovery/v1/outages:
    get:
      tags:
        - APIs Comuns
      summary: API de Outages
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtêm a lista de indisponibilidade agendada para os serviços.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de indisponilidade agendada obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutagesList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Dependências próprias
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de dependências próprias da instituição financeira.

        Dependência própria é o espaço físico destinado ao atendimento ao público.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Branches_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/branches.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento eletrônico
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de canais eletrônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_ElectronicChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/electronic_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento telefônico
      description: |
        |Versão|
        |:-----|
        |1     |


        ### Visão Geral

        Obtém a lista de canais telefônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_PhoneChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/phone_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Correspondentes bancários
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de Correspondentes bancários.

        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados
        <img src="images/tld/TLD_Banking_Agents_v1.png">

        ### Dicionário de dados

        <a href="dictionary/banking_agents.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Terminais de Autoatendimento Compartilhado
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Shared_Automated_Teller_Machines_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/automated_teller_machines.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Natural.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Jurídica.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

        Tags: [ Marca (Brand) ](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa natural
      description: |
        Obtém dados sobre empréstimos pessoa natural

        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCreditCard'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCreditCard'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Métricas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_admin_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getMetrics
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/business-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Razão Social (Company Name)](#glossarioRazaoSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/business-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/business-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento pessoa jurídica com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Qualificação (Qualification)](#glossarioQualificacao),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /customers/v1/personal-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento da pessoa natural com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/identification:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Identificação de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos a identificação de cartão de crédito.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação de cartão de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/limits:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Limites de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao limite de cartão de crédito.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Limits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsLimits
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação de cartão de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-card/v1/accounts/transactions:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Transações de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos a transações de cartão de crédito.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento), [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal),
              [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCreditCardAccountsTransaction
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação de cartão de crédito.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /credit-cards/v1/billing:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Fatura do Cartão de Crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à fatura da conta de pagamento pós-paga.

        Tags: A definir [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        A definir

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Bill.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        A definir

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Cards.png"/>

        <a href="images/der/accounts/DER_Cards.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        A definir

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Cards_Billing.png"/>

        <a href="images/der/accounts/DER_Cards_Billing.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/credit_cards_billing.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_billing.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_credit_cards_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getCrediCardsBilling"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados referentes à fatura da conta de pagamento pós-paga
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/identification:
      get:
        tags:
          - API - Contas
        summary: Identificação da Conta
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria),
                [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agencia (Agency)](#glossarioAgencia), [Conta depósito à vista (Current Account)](#glossarioContaDepositoVista), [Conta Poupança (Saving Account)](#glossarioContaPoupanca),
                [Conta de Pagamento Pré-Paga (Prepayd Payment Account)](#glossarioContaPagamentoPrePaga).

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

          <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.png" target="_blank">Fazer download do DER Lógico</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/accountsIspbCode"
          - $ref: "#/components/parameters/accountsBranchCode"
          - $ref: "#/components/parameters/accountsNumber"
          - $ref: "#/components/parameters/accountsCheckDigit"
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Método para obter os dados de identificação da conta na transmissora.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
          '400':
            $ref: './schemas/ErrorHTTP.yaml#/400'
          '401':
            $ref: './schemas/ErrorHTTP.yaml#/401'
          '403':
            $ref: './schemas/ErrorHTTP.yaml#/403'
          '404':
            $ref: './schemas/ErrorHTTP.yaml#/404'
          '405':
            $ref: './schemas/ErrorHTTP.yaml#/405'
          '406':
            $ref: './schemas/ErrorHTTP.yaml#/406'
          '410':
            $ref: './schemas/ErrorHTTP.yaml#/410'
          '422':
            $ref: './schemas/ErrorHTTP.yaml#/422'
          '429':
            $ref: './schemas/ErrorHTTP.yaml#/429'
          '500':
            $ref: './schemas/ErrorHTTP.yaml#/500'
          '503':
            $ref: './schemas/ErrorHTTP.yaml#/503'
          '504':
            $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/accountsIspbCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction) (Scheduled Payment)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/accountsIspbCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'

  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/accountsIspbCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: './schemas/ErrorHTTP.yaml#/400'
        '401':
          $ref: './schemas/ErrorHTTP.yaml#/401'
        '403':
          $ref: './schemas/ErrorHTTP.yaml#/403'
        '404':
          $ref: './schemas/ErrorHTTP.yaml#/404'
        '405':
          $ref: './schemas/ErrorHTTP.yaml#/405'
        '406':
          $ref: './schemas/ErrorHTTP.yaml#/406'
        '410':
          $ref: './schemas/ErrorHTTP.yaml#/410'
        '422':
          $ref: './schemas/ErrorHTTP.yaml#/422'
        '429':
          $ref: './schemas/ErrorHTTP.yaml#/429'
        '500':
          $ref: './schemas/ErrorHTTP.yaml#/500'
        '503':
          $ref: './schemas/ErrorHTTP.yaml#/503'
        '504':
          $ref: './schemas/ErrorHTTP.yaml#/504'


components:
  schemas:
    AccountBalances:
      $ref: ./schemas/accounts_apis/AccountBalances.yaml
    AccountBalancesData:
      $ref: ./schemas/accounts_apis/AccountBalancesData.yaml
    AccountFee:
      $ref: ./schemas/AccountFee.yaml
    AccountsLimits:
      $ref: ./schemas/credit_cards_apis/AccountsLimits.yaml
    AccountOtherService:
      $ref: ./schemas/AccountOtherService.yaml
    AccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimits.yaml
    AccountOverdraftLimitsData:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimitsData.yaml
    AccountPriorityService:
      $ref: ./schemas/AccountPriorityService.yaml
    AccountsIdentification:
      $ref: ./schemas/accounts_apis/AccountIdentification.yaml
    AccountIdentificationData:
      $ref: ./schemas/accounts_apis/AccountIdentificationData.yaml
    AccountsIncomeRate:
      $ref: ./schemas/AccountsIncomeRate.yaml
    AccountsTermsConditions:
      $ref: ./schemas/AccountsTermsConditions.yaml
    AccountTransactions:
      $ref: ./schemas/accounts_apis/AccountTransactions.yaml
    AccountTransactionsData:
      $ref: ./schemas/accounts_apis/AccountTransactionsData.yaml
    ApplicationRate:
      $ref: ./schemas/ApplicationRate.yaml
    AvailabilityMetrics:
      $ref: ./schemas/AvailabilityMetrics.yaml
    AverageMetrics:
      $ref: ./schemas/AverageMetrics.yaml
    AverageTPSMetrics:
      $ref: ./schemas/AverageTPSMetrics.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    BankingAgent:
      $ref: ./schemas/BankingAgent.yaml
    BankingAgentAvailability:
      $ref: ./schemas/BankingAgentAvailability.yaml
    BankingAgentIdentification:
      $ref: ./schemas/BankingAgentIdentification.yaml
    BankingAgentLocation:
      $ref: ./schemas/BankingAgentLocation.yaml
    BankingAgentPostalAddress:
      $ref: ./schemas/BankingAgentPostalAddress.yaml
    BankingAgentService:
      $ref: ./schemas/BankingAgentService.yaml
    BankingAgentsBrand:
      $ref: ./schemas/BankingAgentsBrand.yaml
    BankingAgentsCompanies:
      $ref: ./schemas/BankingAgentsCompanies.yaml
    BankingAgentsContractor:
      $ref: ./schemas/BankingAgentsContractor.yaml
    Branch:
      $ref: ./schemas/Branch.yaml
    BranchAvailability:
      $ref: ./schemas/BranchAvailability.yaml
    BranchIdentification:
      $ref: ./schemas/BranchIdentification.yaml
    BranchPhone:
      $ref: ./schemas/BranchPhone.yaml
    BranchPostalAddress:
      $ref: ./schemas/BranchPostalAddress.yaml
    BranchService:
      $ref: ./schemas/BranchService.yaml
    BranchesBrand:
[...]
