openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking
tags:
  - name: APIs Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
  - name: API - Admin
  - name: API - Dados Cadastrais
  - name: API - Contas
paths:
  /discovery/v1/status:
    get:
      tags:
        - APIs Comuns
      summary: API de Status
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de descrição e código de status retornado pelas APIs obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
  /discovery/v1/outages:
    get:
      tags:
        - APIs Comuns
      summary: API de Outages
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtêm a lista de indisponibilidade agendada para os serviços.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de indisponilidade agendada obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutagesList'
  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Dependências próprias
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de dependências próprias da instituição financeira.

        Dependência própria é o espaço físico destinado ao atendimento ao público.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Branches_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/branches.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento eletrônico
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de canais eletrônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_ElectronicChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/electronic_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento telefônico
      description: |
        |Versão|
        |:-----|
        |1     |


        ### Visão Geral

        Obtém a lista de canais telefônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_PhoneChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/phone_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Correspondentes bancários
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de Correspondentes bancários.

        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados
        <img src="images/tld/TLD_Banking_Agents_v1.png">

        ### Dicionário de dados

        <a href="dictionary/banking_agents.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Terminais de Autoatendimento Compartilhado
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Shared_Automated_Teller_Machines_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/automated_teller_machines.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Natural.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Jurídica.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

        Tags: [ Marca (Brand) ](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa natural
      description: |
        Obtém dados sobre empréstimos pessoa natural

        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCreditCard'
  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCreditCard'
  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Métricas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_admin_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getMetrics
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
  /customers/v1/personal-identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil) e [Nome Social (Social Name)](#glossarioNomeSocial).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_personal_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre identificação pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
  /customers/v1/business-identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos à identificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Razão Social (Company Name)](#glossarioRazaoSocial).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_BusinessCustomers.png"/>

        <a href="images/der/customers/DER_BusinessCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre identificação pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
  /customers/v1/personal-qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF) e [Qualificação (Qualification)](#glossarioQualificacao).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Personal_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_personal_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre qualificação pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
  /customers/v1/business-qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao processo de qualificação pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF) e [Qualificação (Qualification)](#glossarioQualificacao).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_BusinessCustomers.png"/>

        <a href="images/der/customers/DER_BusinessCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre qualificação pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
  /customers/v1/personal-financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento da pessoa natural com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento) e [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_PersonalCustomers.png"/>

        <a href="images/der/customers/DER_PersonalCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Personal_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_personal_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre relacionamento pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
  /customers/v1/business-financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados cadastrais relativos ao relacionamento pessoa jurídica com a sua instituição.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento) e [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_BusinessCustomers.png"/>

        <a href="images/der/customers/DER_BusinessCustomers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados cadastrais sobre relacionamento pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
  /customers/v1/business-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica na Transmissora.
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao processo de relacionamento pessoa jurídica.
        Método para obter os dados de identificação da pessoa jurídica na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification' 
  /customers/v1/business-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de qualificação da pessoa jurídica mantidos na instituição transmissora.
        Método para obter os dados de qualificação da pessoa jurídica na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
  /customers/v1/business-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de relacionamento financeiro da pessoa jurídica mantidos na instituição transmissora.
        Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
  /customers/v1/personal-customers/identification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Física na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de identificação da pessoa natural mantidos na instituição transmissora.
        Método para obter os dados de identificação da pessoa natural na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersIdentification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
  /customers/v1/personal-customers/qualification:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Física na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de qualificação da pessoa natural mantidos na instituição transmissora.
        Método para obter os dados de qualificação da pessoa natural na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersQualification
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
  /customers/v1/personal-customers/financial-relation:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Física na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de relacionamento financeiro da pessoa natural mantidos na instituição transmissora.
        Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersFinancialRelation
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
  /accounts/v1/identification:
      get:
        tags:
          - API - Contas
        summary: Identificação da Conta
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          Tags: [CNAE (Cnae Code)](#glossarioCNAE), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Conta individual (Sole Account)](#glossarioContaIndividual), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria) e [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria).

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

          <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.png" target="_blank">Fazer download do DER Lógico</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>
          
          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Dados de identificação de conta obtidos com sucesso.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
  /accounts/v1/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado) e [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel).


        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos aos saldos em conta obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
  /accounts/v1/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)(#glossarioTransacaoAgendada) e [Transações Realizadas (Completed Transaction) (Scheduled Payment)](#glossarioTransacaoRealizada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos a Transações de crédito e débito realizadas e autorizadas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
  /accounts/v1/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente. 

        Tags: [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Código Número (ISPB) (IspbCode)](#glossarioISPB), [Saldo (Account Balance)](#glossarioSaldo) e [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>
        
        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Dados relativos a Limites referentes ao valor das operações de crédito obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
  /accounts/v1/accounts/identification:
      get:
        tags:
          - API - Contas
        summary: Identificação Conta na Transmissora
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

          <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER lógico</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.png" target="_blank">Fazer download do DER conceitual</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>
          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsIdentification"
        parameters:
          - $ref: "#/components/parameters/page"
          - $ref: "#/components/parameters/pageSize"
        responses:
          '200':
            description: Método para obter os dados de identificação da conta na transmissora.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
  /accounts/v1/accounts/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da Conta na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER lógico</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.png" target="_blank">Fazer download do DER conceitual</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsBalances"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
  /accounts/v1/accounts/transactions:
    get:
      tags:
        - API - Contas
      summary: Lista Transações na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER lógico</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.png" target="_blank">Fazer download do DER conceitual</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsTransactions"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter a lista de transações da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
  /accounts/v1/accounts/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limite Cheque Especial Adiantamento Depositante na Transmissora
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente. 

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.png"/>

        <a href="images/der/accounts/DER_Accounts.png" target="_blank">Fazer download do DER lógico</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.png" target="_blank">Fazer download do DER conceitual</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>
        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          description: Método para obter os dados de cheque especial e de adiantamento a depositante  da conta na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
components:
  schemas:
    AccountBalances:
      $ref: ./schemas/accounts_apis/AccountBalances.yaml
    AccountFee:
      $ref: ./schemas/AccountFee.yaml
    AccountsLimits:
      $ref: ./schemas/credit_cards_apis/AccountsLimits.yaml
    AccountOtherService:
      $ref: ./schemas/AccountOtherService.yaml
    AccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/AccountOverdraftLimits.yaml
    AccountPriorityService:
      $ref: ./schemas/AccountPriorityService.yaml
    AccountsIdentification:
      $ref: ./schemas/accounts_apis/AccountIdentification.yaml
    AccountsIncomeRate:
      $ref: ./schemas/AccountsIncomeRate.yaml
    AccountsTermsConditions:
      $ref: ./schemas/AccountsTermsConditions.yaml
    ApplicationRate:
      $ref: ./schemas/ApplicationRate.yaml
    AvailabilityMetrics:
      $ref: ./schemas/AvailabilityMetrics.yaml
    AverageMetrics:
      $ref: ./schemas/AverageMetrics.yaml
    AverageTPSMetrics:
      $ref: ./schemas/AverageTPSMetrics.yaml
    Balances:
      $ref: ./schemas/accounts_apis/Balances.yaml
    BankingAgent:
      $ref: ./schemas/BankingAgent.yaml
    BankingAgentAvailability:
      $ref: ./schemas/BankingAgentAvailability.yaml
    BankingAgentIdentification:
      $ref: ./schemas/BankingAgentIdentification.yaml
    BankingAgentLocation:
      $ref: ./schemas/BankingAgentLocation.yaml
    BankingAgentPostalAddress:
      $ref: ./schemas/BankingAgentPostalAddress.yaml
    BankingAgentService:
      $ref: ./schemas/BankingAgentService.yaml
    BankingAgentsBrand:
      $ref: ./schemas/BankingAgentsBrand.yaml
    BankingAgentsCompanies:
      $ref: ./schemas/BankingAgentsCompanies.yaml
    BankingAgentsContractor:
      $ref: ./schemas/BankingAgentsContractor.yaml
    Branch:
      $ref: ./schemas/Branch.yaml
    BranchAvailability:
      $ref: ./schemas/BranchAvailability.yaml
    BranchIdentification:
      $ref: ./schemas/BranchIdentification.yaml
    BranchPhone:
      $ref: ./schemas/BranchPhone.yaml
    BranchPostalAddress:
      $ref: ./schemas/BranchPostalAddress.yaml
    BranchService:
      $ref: ./schemas/BranchService.yaml
    BranchesBrand:
      $ref: ./schemas/BranchesBrand.yaml
    BranchesCompany:
      $ref: ./schemas/BranchesCompany.yaml
    Brand:
      $ref: ./schemas/Brand.yaml
    BusinessAccounts:
      $ref: ./schemas/BusinessAccounts.yaml
    BusinessAccountsBrand:
      $ref: ./schemas/BusinessAccountsBrand.yaml
    BusinessAccountsCompany:
      $ref: ./schemas/BusinessAccountsCompany.yaml
    BusinessAccountsService:
      $ref: ./schemas/BusinessAccountsService.yaml
    BusinessCreditCard:
      $ref: ./schemas/BusinessCreditCard.yaml
    BusinessCreditCardBrand:
      $ref: ./schemas/BusinessCreditCardBrand.yaml
    BusinessCreditCardCompany:
      $ref: ./schemas/BusinessCreditCardCompany.yaml
    BusinessFinancialRelationBrand:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationBrand.yaml
    BusinessFinancialRelationCompany:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCompany.yaml
    BusinessFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/BusinessFinancialRelationCustomers.yaml
    BusinessFinancing:
      $ref: ./schemas/BusinessFinancing.yaml
    BusinessFinancingBrand:
      $ref: ./schemas/BusinessFinancingBrand.yaml
    BusinessFinancingCompany:
      $ref: ./schemas/BusinessFinancingCompany.yaml
    BusinessFinancingFee:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessIdentification:
      $ref: ./schemas/customers_apis/BusinessIdentification.yaml
    BusinessIdentificationBrand:
      $ref: ./schemas/customers_apis/BusinessIdentificationBrand.yaml
    BusinessIdentificationCompany:
      $ref: ./schemas/customers_apis/BusinessIdentificationCompany.yaml
    BusinessIdentificationCustomers:
      $ref: ./schemas/customers_apis/BusinessIdentificationCustomers.yaml
    BusinessInformedPatrimony:
      $ref: ./schemas/customers_apis/BusinessInformedPatrimony.yaml
    BusinessInvoiceFinancings:
      $ref: ./schemas/BusinessInvoiceFinancings.yaml
    BusinessInvoiceFinancingsBrand:
      $ref: ./schemas/BusinessInvoiceFinancingsBrand.yaml
    BusinessInvoiceFinancingsCompanies:
      $ref: ./schemas/BusinessInvoiceFinancingsCompanies.yaml
    BusinessInvoiceFinancingsFees:
      $ref: ./schemas/BusinessInvoiceFinancingsFees.yaml
    BusinessInvoiceFinancingsInterestRates:
      $ref: ./schemas/BusinessInvoiceFinancingsInterestRates.yaml
    BusinessLoan:
      $ref: ./schemas/BusinessLoan.yaml
    BusinessLoanBrand:
      $ref: ./schemas/BusinessLoanBrand.yaml
    BusinessLoanCompany:
      $ref: ./schemas/BusinessLoanCompany.yaml
    BusinessOtherDocument:
      $ref: ./schemas/customers_apis/BusinessOtherDocument.yaml
    BusinessQualification:
      $ref: ./schemas/customers_apis/BusinessQualification.yaml
    BusinessQualificationBrand:
      $ref: ./schemas/customers_apis/BusinessQualificationBrand.yaml
    BusinessQualificationCompany:
      $ref: ./schemas/customers_apis/BusinessQualificationCompany.yaml
    BusinessQualificationCustomers:
      $ref: ./schemas/customers_apis/BusinessQualificationCustomers.yaml
    BusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraft.yaml
    BusinessUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftBrand.yaml
    BusinessUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftCompany.yaml
    BusinessUnarrangedAccountOverdraftFee:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftFee.yaml
    CreditCardAccountBalances:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountBalances.yaml
    CreditCardAccountsLimitsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimitsBrand.yaml
    CreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsLimits.yaml
    CreditCardaccountsTransactionsBrand:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactionsBrand.yaml
    CreditCardAccountsStatement:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsStatement.yaml
    CreditCardAccountStatementTransaction:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountStatementTransaction.yaml
    CreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/CreditCardAccountsTransactions.yaml
    CreditCardsAccountIdentification:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsIdentification.yaml
    CreditCardsAccountPaymentMethod:
      $ref: ./schemas/credit_cards_apis/CreditCardsAccountsPaymentMethod.yaml
    CreditCardIdentification:
      $ref: ./schemas/CreditCardIdentification.yaml
    CreditCardInterest:
      $ref: ./schemas/CreditCardInterest.yaml
    CreditCardRewardsProgram:
      $ref: ./schemas/CreditCardRewardsProgram.yaml
    CreditCardService:
      $ref: ./schemas/CreditCardService.yaml
    CreditCardTermsConditions:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    Customer:
      $ref: ./schemas/Customer.yaml
    CustomerContacts:
      $ref: ./schemas/customers_apis/CustomerContacts.yaml
    CustomerEmail:
      $ref: ./schemas/customers_apis/CustomerEmail.yaml
    CustomerPhone:
      $ref: ./schemas/customers_apis/CustomerPhone.yaml
    CustomerPostalAddress:
      $ref: ./schemas/customers_apis/CustomerPostalAddress.yaml
    EconomicActivity:
      $ref: ./schemas/customers_apis/EconomicActivity.yaml
    ElectronicChannel:
      $ref: ./schemas/ElectronicChannel.yaml
    ElectronicChannelIdentification:
      $ref: ./schemas/ElectronicChannelIdentification.yaml
    ElectronicChannelService:
      $ref: ./schemas/ElectronicChannelService.yaml
    ElectronicChannelUrl:
      $ref: ./schemas/ElectronicChannelUrl.yaml
    ElectronicChannelsBrand:
      $ref: ./schemas/ElectronicChannelsBrand.yaml
    ElectronicChannelsCompanies:
      $ref: ./schemas/ElectronicChannelsCompanies.yaml
    EndpointDowntime:
      $ref: ./schemas/EndpointDowntime.yaml
    EndpointUptime:
      $ref: ./schemas/EndpointUptime.yaml
    EnumAccountPriorityServiceCode:
      $ref: ./schemas/enum/EnumAccountPriorityServiceCode.yaml
    EnumAccountSubType:
      $ref: ./schemas/enum/EnumAccountSubType.yaml
    EnumAccountType:
      $ref: ./schemas/enum/EnumAccountType.yaml
    EnumApplicationIntervals:
      $ref: ./schemas/enum/EnumApplicationIntervals.yaml
    EnumCustomerPhoneType:
      $ref: ./schemas/enum/EnumCustomerPhoneType.yaml
    EnumFiliationType:
      $ref: ./schemas/enum/EnumFiliationType.yaml
    EnumGender:
      $ref: ./schemas/enum/EnumGender.yaml
    EnumInformedIncomeFrequency:
      $ref: ./schemas/enum/EnumInformedIncomeFrequency.yaml
    EnumInformedRevenueFrequency:
      $ref: ./schemas/enum/EnumInformedRevenueFrequency.yaml
    EnumMaritalStatusCode:
      $ref: ./schemas/enum/EnumMaritalStatusCode.yaml
    EnumOccupationMainCodeType:
      $ref: ./schemas/enum/EnumOccupationMainCodeType.yaml
    EnumBalanceType:
      $ref: ./schemas/enum/EnumBalanceType.yaml
    EnumCreditCardAccountBalance:
      $ref: ./schemas/enum/EnumCreditCardAccountBalance.yaml
    EnumCreditCardAccountFee:
      $ref: ./schemas/enum/EnumCreditCardAccountFee.yaml
    EnumCreditCardAccountNetwork:
      $ref: ./schemas/enum/EnumCreditCardAccountNetwork.yaml
    EnumCreditCardAccountPaymentMethodApresentation:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodApresentation.yaml
    EnumCreditCardAccountPaymentMethodType:
      $ref: ./schemas/enum/EnumCreditCardAccountPaymentMethodType.yaml
    EnumCreditCardAccountsConsolidationIndicator:
      $ref: ./schemas/enum/EnumCreditCardAccountsConsolidationIndicator.yaml
    EnumCreditCardAccountsLimitIndicator:
      $ref: ./schemas/enum/EnumCreditCardAccountsLimitIndicator.yaml
    EnumCreditCardAccountsLimitsLinesIndicator:
      $ref: ./schemas/enum/EnumCreditCardAccountsLimitsLinesIndicator.yaml
    EnumCreditCardAccountsNameLine:
      $ref: ./schemas/enum/EnumCreditCardAccountsNameLine.yaml
    EnumCreditCardAccountsOtherCredits:
      $ref: ./schemas/enum/EnumCreditCardAccountsOtherCredits.yaml
    EnumCreditCardAccountsType:
      $ref: ./schemas/enum/EnumCreditCardAccountsType.yaml
    EnumCreditCardTransactionType:
      $ref: ./schemas/enum/EnumCreditCardTransactionType.yaml
    EnumCreditDebitIndicator:
      $ref: ./schemas/enum/EnumCreditDebitIndicator.yaml
    EnumOpeningClosingChannels:
      $ref: ./schemas/enum/EnumOpeningClosingChannels.yaml
    EnumPartiesParticipationDocumentType:
      $ref: ./schemas/enum/EnumPartiesParticipationDocumentType.yaml
    EnumPartiesParticipationType:
      $ref: ./schemas/enum/EnumPartiesParticipationType.yaml
    EnumPersonalBusinessIndicator:
      $ref: ./schemas/enum/EnumPersonalBusinessIndicator.yaml
    EnumPersonalOtherDocumentType:
      $ref: ./schemas/enum/EnumPersonalOtherDocumentType.yaml
    EnumOverdraftLimitType:
      $ref: ./schemas/enum/EnumOverdraftLimitType.yaml
    EnumPriceIntervals:
      $ref: ./schemas/enum/EnumPriceIntervals.yaml
    EnumProcuratorsType:
      $ref: ./schemas/enum/EnumProcuratorsType.yaml
    EnumProductServiceType:
      $ref: ./schemas/enum/EnumProductServiceType.yaml
    EnumPriorityServiceName:
      $ref: ./schemas/enum/EnumPriorityServiceName.yaml
    EnumTransactionTypes:
      $ref: ./schemas/enum/EnumTransactionTypes.yaml
    EnumReferentialRateIndexer:
      $ref: ./schemas/enum/EnumReferentialRateIndexer.yaml
    EnumRequiredWarranty:
      $ref: ./schemas/enum/EnumRequiredWarranty.yaml
    EnumTransactionMethods:
      $ref: ./schemas/enum/EnumTransactionMethods.yaml
    ErrorMetrics:
      $ref: ./schemas/ErrorMetrics.yaml
    FeeReferentialRateIndexer:
      $ref: ./schemas/FeeReferentialRateIndexer.yaml
    Filiation:
      $ref: ./schemas/customers_apis/Filiation.yaml
    FinancialRelation:
      $ref: ./schemas/customers_apis/FinancialRelation.yaml
    FinancingInterestRate:
      $ref: ./schemas/FinancingInterestRate.yaml
    FinancingService:
      $ref: ./schemas/FinancingService.yaml
    GeographicCoordinates:
      $ref: ./schemas/GeographicCoordinates.yaml
    Identification:
      $ref: ./schemas/accounts_apis/Identification.yaml
    Indexer:
      $ref: ./schemas/Indexer.yaml
    InformedIncome:
      $ref: ./schemas/customers_apis/InformedIncome.yaml
    InformedRevenue:
      $ref: ./schemas/customers_apis/InformedRevenue.yaml
    InterestRate:
      $ref: ./schemas/InterestRate.yaml
    InterestRateFee:
      $ref: ./schemas/InterestRateFee.yaml
    InvocationMetrics:
      $ref: ./schemas/InvocationMetrics.yaml
    InvoiceFinancingsService:
      $ref: ./schemas/InvoiceFinancingsService.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoanFees:
      $ref: ./schemas/LoanFees.yaml
    LoanInterestRate:
      $ref: ./schemas/LoanInterestRate.yaml
    LoanService:
      $ref: ./schemas/LoanService.yaml
    MaximumPrice:
      $ref: ./schemas/MaximumPrice.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    MinimumBalance:
      $ref: ./schemas/MinimumBalance.yaml
    MinimumPrice:
      $ref: ./schemas/MinimumPrice.yaml
    MonthlyPrice:
      $ref: ./schemas/MonthlyPrice.yaml
    Nationality:
      $ref: ./schemas/customers_apis/Nationality.yaml
    NationalityComplementaryDocuments:
      $ref: ./schemas/customers_apis/NationalityComplementaryDocuments.yaml
    NationalityOther:
      $ref: ./schemas/customers_apis/NationalityOther.yaml
    PartiesParticipation:
      $ref: ./schemas/customers_apis/PartiesParticipation.yaml
    PersonalDocument:
      $ref: ./schemas/customers_apis/PersonalDocument.yaml
    OverdraftLimits:
      $ref: ./schemas/accounts_apis/OverdraftLimits.yaml
    OverdraftLimitsBalance:
      $ref: ./schemas/accounts_apis/OverdraftLimitsBalance.yaml
    PeakTPSMetrics:
      $ref: ./schemas/PeakTPSMetrics.yaml
    PersonalAccount:
      $ref: ./schemas/PersonalAccount.yaml
    PersonalAccountBrand:
      $ref: ./schemas/PersonalAccountBrand.yaml
    PersonalAccountCompany:
      $ref: ./schemas/PersonalAccountCompany.yaml
    PersonalCreditCard:
      $ref: ./schemas/PersonalCreditCard.yaml
    PersonalCreditCardBrand:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalCreditCardCompany:
      $ref: ./schemas/PersonalCreditCardCompany.yaml
    PersonalFinancialRelationBrand:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationBrand.yaml
    PersonalFinancialRelationCompany:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCompany.yaml
    PersonalFinancialRelationCustomers:
      $ref: ./schemas/customers_apis/PersonalFinancialRelationCustomers.yaml
    PersonalFinancing:
      $ref: ./schemas/PersonalFinancing.yaml
    PersonalFinancingBrand:
      $ref: ./schemas/PersonalFinancingBrand.yaml
    PersonalFinancingCompany:
      $ref: ./schemas/PersonalFinancingCompany.yaml
    PersonalFinancingFee:
      $ref: ./schemas/PersonalFinancingFee.yaml
    PersonalIdentification:
      $ref: ./schemas/customers_apis/PersonalIdentification.yaml
    PersonalIdentificationBrand:
      $ref: ./schemas/customers_apis/PersonalIdentificationBrand.yaml
    PersonalIdentificationCompany:
      $ref: ./schemas/customers_apis/PersonalIdentificationCompany.yaml
    PersonalIdentificationCustomers:
      $ref: ./schemas/customers_apis/PersonalIdentificationCustomers.yaml
    PersonalInformedPatrimony:
      $ref: ./schemas/customers_apis/PersonalInformedPatrimony.yaml
    PersonalInvoiceFinancings:
      $ref: ./schemas/PersonalInvoiceFinancings.yaml
    PersonalInvoiceFinancingsBrand:
      $ref: ./schemas/PersonalInvoiceFinancingsBrand.yaml
    PersonalInvoiceFinancingsCompanies:
      $ref: ./schemas/PersonalInvoiceFinancingsCompanies.yaml
    PersonalInvoiceFinancingsFees:
      $ref: ./schemas/PersonalInvoiceFinancingsFees.yaml
    PersonalInvoiceFinancingsInterestRates:
      $ref: ./schemas/PersonalInvoiceFinancingsInterestRates.yaml
    PersonalLoan:
      $ref: ./schemas/PersonalLoan.yaml
    PersonalLoanBrand:
      $ref: ./schemas/PersonalLoanBrand.yaml
    PersonalLoanCompany:
      $ref: ./schemas/PersonalLoanCompany.yaml
    PersonalOtherDocument:
      $ref: ./schemas/customers_apis/PersonalOtherDocument.yaml
    PersonalQualification:
      $ref: ./schemas/customers_apis/PersonalQualification.yaml
    PersonalQualificationBrand:
      $ref: ./schemas/customers_apis/PersonalQualificationBrand.yaml
    PersonalQualificationCompany:
      $ref: ./schemas/customers_apis/PersonalQualificationCompany.yaml
    PersonalQualificationCustomers:
      $ref: ./schemas/customers_apis/PersonalQualificationCustomers.yaml
    PersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraft.yaml
    PersonalUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftBrand.yaml
    PersonalUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftCompany.yaml
    PersonalUnarrangedAccountOverdraftFee:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftFee.yaml
    Phone:
      $ref: ./schemas/Phone.yaml
    PhoneChannel:
      $ref: ./schemas/PhoneChannel.yaml
    PhoneChannelIdentification:
      $ref: ./schemas/PhoneChannelIdentification.yaml
    PhoneChannelPhone:
      $ref: ./schemas/PhoneChannelPhone.yaml
    PhoneChannelService:
      $ref: ./schemas/PhoneChannelService.yaml
    PhoneChannelsBrand:
      $ref: ./schemas/PhoneChannelsBrand.yaml
    PhoneChannelsCompany:
      $ref: ./schemas/PhoneChannelsCompany.yaml
    ResponseAccountBalances:
      $ref: ./schemas/accounts_apis/ResponseAccountBalances.yaml
    ResponseAccountIdentification:
      $ref: ./schemas/accounts_apis/ResponseAccountIdentification.yaml
    ResponseAccountOverdraftLimits:
      $ref: ./schemas/accounts_apis/ResponseAccountOverdraftLimits.yaml
    ResponseAccountTransactions:
      $ref: ./schemas/accounts_apis/ResponseAccountTransactions.yaml
    Price:
      $ref: ./schemas/Price.yaml
    RejectionMetrics:
      $ref: ./schemas/RejectionMetrics.yaml
    ResponseBankingAgentsList:
      $ref: ./schemas/ResponseBankingAgentsList.yaml
    ResponseBranchesList:
      $ref: ./schemas/ResponseBranchesList.yaml
    ResponseBusinessAccounts:
      $ref: ./schemas/ResponseBusinessAccounts.yaml
    ResponseBusinessCreditCard:
      $ref: ./schemas/ResponseBusinessCreditCard.yaml
    ResponseBusinessCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersFinancialRelation.yaml
    ResponseBusinessCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersIdentification.yaml
    ResponseBusinessCustomersQualification:
      $ref: ./schemas/customers_apis/ResponseBusinessCustomersQualification.yaml
    ResponseBusinessFinancings:
      $ref: ./schemas/ResponseBusinessFinancings.yaml
    ResponseBusinessInvoiceFinancings:
      $ref: ./schemas/ResponseBusinessInvoiceFinancings.yaml
    ResponseBusinessLoans:
      $ref: ./schemas/ResponseBusinessLoans.yaml
    ResponseBusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponseBusinessUnarrangedAccountOverdraft.yaml
    ResponseCreditCardAccountsLimits:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsLimits.yaml
    ResponseCreditCardAccountsTransactions:
      $ref: ./schemas/credit_cards_apis/ResponseCreditCardAccountsTransactions.yaml
    ResponseDiscoveryOutagesList:
      $ref: ./schemas/ResponseDiscoveryOutagesList.yaml
    ResponseDiscoveryStatusList:
      $ref: ./schemas/ResponseDiscoveryStatusList.yaml
    ResponseElectronicChannelsList:
      $ref: ./schemas/ResponseElectronicChannelsList.yaml
    ResponseMetricsList:
      $ref: ./schemas/ResponseMetricsList.yaml
    ResponsePersonalAccounts:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ResponsePersonalCreditCard:
      $ref: ./schemas/ResponsePersonalCreditCard.yaml
    ResponsePersonalCustomersFinancialRelation:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersFinancialRelation.yaml
    ResponsePersonalCustomersIdentification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersIdentification.yaml
    ResponsePersonalCustomersQualification:
      $ref: ./schemas/customers_apis/ResponsePersonalCustomersQualification.yaml
    ResponsePersonalFinancings:
      $ref: ./schemas/ResponsePersonalFinancings.yaml
    ResponsePersonalInvoiceFinancings:
      $ref: ./schemas/ResponsePersonalInvoiceFinancings.yaml
    ResponsePersonalLoans:
      $ref: ./schemas/ResponsePersonalLoans.yaml
    ResponsePersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponsePersonalUnarrangedAccountOverdraft.yaml
    ResponsePhoneChannelsList:
      $ref: ./schemas/ResponsePhoneChannelsList.yaml
    ResponseSharedAutomatedTellerMachinesList:
      $ref: ./schemas/ResponseSharedAutomatedTellerMachinesList.yaml
    ServiceBundle:
      $ref: ./schemas/ServiceBundle.yaml
    ServiceBundleServiceDetail:
      $ref: ./schemas/ServiceBundleServiceDetail.yaml
    SharedAutomatedTellerMachines:
      $ref: ./schemas/SharedAutomatedTellerMachines.yaml
    SharedAutomatedTellerMachinesAvailability:
      $ref: ./schemas/SharedAutomatedTellerMachinesAvailability.yaml
    SharedAutomatedTellerMachinesBrand:
      $ref: ./schemas/SharedAutomatedTellerMachinesBrand.yaml
    SharedAutomatedTellerMachinesCompany:
      $ref: ./schemas/SharedAutomatedTellerMachinesCompany.yaml
    SharedAutomatedTellerMachinesIdentification:
      $ref: ./schemas/SharedAutomatedTellerMachinesIdentification.yaml
    SharedAutomatedTellerMachinesPostalAddress:
      $ref: ./schemas/SharedAutomatedTellerMachinesPostalAddress.yaml
    SharedAutomatedTellerMachinesServices:
      $ref: ./schemas/SharedAutomatedTellerMachinesServices.yaml
    StatementAccountBalance:
      $ref: ./schemas/accounts_apis/StatementAccountBalance.yaml
    StatementAccountTransaction:
      $ref: ./schemas/accounts_apis/StatementAccountTransaction.yaml
    Status:
      $ref: ./schemas/Status.yaml
    Transactions:
      $ref: ./schemas/accounts_apis/Transactions.yaml
    UnarrangedAccountOverdraftRate:
      $ref: ./schemas/UnarrangedAccountOverdraftRate.yaml
    UnarrangedAccountOverdraftService:
      $ref: ./schemas/UnarrangedAccountOverdraftService.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
