openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.0.0
  contact:
    name: Governança do Open Banking Brasil - Interfaces
    email: gt-interfaces@openbankingbr.org
    url: https://openbanking-brasil.github.io/areadesenvolvedor/
servers:
  - url: http://api.banco.com.br/open-banking
    description: Servidor de Produção
  - url: https://apih.banco.com.br/open-banking
    description: Servidor de Homologação
tags:
  - name: API - Dados Cadastrais
  - name: API - Cartão de Crédito
  - name: API - Contas
  - name: API - Operações de Crédito - Empréstimos
  - name: API - Operações de Crédito - Financiamentos
  - name: API - Operações de Crédito - Adiantamento a Depositantes
  - name: API - Operações de Crédito - Direitos Creditórios Descontados

paths:
  /customers/v1/personal/identifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de identificação da pessoa natural

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa natural através de seus dados cadastrais.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (Cpf Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Sexo (Gender)](#glossarioSexo).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Identification_v3.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal.v1.png"/>

        <a href="images/der/customers/DER_Personal.v1.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Identification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersIdentifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /customers/v1/personal/qualifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de qualificação da pessoa natural

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CBO (Cbo Code)](#glossarioCBO), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Código Ocupação Receita Federal – Receita Federal Code](#glossarioCodigoOcupacaoRF), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca) e [Qualificação (Qualification)](#glossarioQualificacao).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Qualification_v3.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal.v1.png"/>

        <a href="images/der/customers/DER_Personal.v1.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Personal_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCustomersQualifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersQualification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /customers/v1/personal/finantial-relations:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa natural.

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento) e [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Personal_Financial_Relation_v3.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal.v1.png"/>

        <a href="images/der/customers/DER_Personal.v1.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Personal_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Personal_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/personal_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_personal_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getCustomersPersonalRelationships
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa natural na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalCustomersFinancialRelation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /customers/v1/business/identifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Identificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de identificação da pessoa jurídica

        Esta especificação inclui todos os itens relevantes que permitam a ação e o efeito de identificar de forma única a pessoa jurídica através de seus dados cadastrais.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Identificação (Identification)](#glossarioIdentificacao), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial) e [Razão Social (Company Name)](#glossarioRazaoSocial).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Identification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Identification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Identification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_identification.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersIdentifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de identificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /customers/v1/business/qualifications:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Qualificação Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de qualificação da pessoa jurídica

        Esta especificação inclui todos os itens relevantes, que permitam as instituições apreciar, avaliar, caracterizar e classificar o cliente com a finalidade de conhecer o seu perfil de risco e sua capacidade econômico-financeira.

        Tags: [CNAE (Cnae Code)](#glossarioCNAE), [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca) e [Qualificação (Qualification)](#glossarioQualificacao).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Qualification_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_Qualification.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_Qualification.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_qualification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_qualification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersQualifications
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de qualificação da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersQualification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /customers/v1/business/finantial-relations:
    get:
      tags:
        - API - Dados Cadastrais
      summary: Relacionamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os registros de relacionamentos com a instituição financeira e de representantes da pessoa jurídica

        Considera-se relacionamento as informações que permitam conhecer desde quando a pessoa consultada é cliente da instituição, bem como um indicador dos produtos e serviços que ela consome atualmente.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [CPF - Cadastro de Pessoa Física (CPF Number)](#glossarioCPF), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Marca (Brand)](#glossarioMarca), [Nome Civil Completo (Civil Name)](#glossarioNomeCivil), [Nome Social (Social Name)](#glossarioNomeSocial), [Procurador (Procurator)](#glossarioProcurador), [Relacionamento (Financial Relation)](#glossarioRelacionamento) e [Representante Legal (Legal Representative)](#glossarioRepresentanteLegal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/customers/TLD_Business_Customers_Financial_Relation_v2.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers.png"/>

        <a href="images/der/customers/DER_Business_Customers.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png"/>

        <a href="images/der/customers/DER_Business_Customers_FinancialRelation.v1.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/business_customers_financial_relation.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_business_customers_financial_relation.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_customers_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCustomersRelationships
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Método para obter os dados de relacionamento financeiro da pessoa jurídica na transmissora.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessCustomersFinancialRelation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - customers

  /credit-cards-accounts/v1/accounts:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Lista de cartões de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Método para obter a lista de contas de pagamento pós-paga mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento

        Tags: [Bandeira (Credit Card Network)](#glossarioBandeira), [Cartão Múltiplo (Multiple CreditCard)](#glossarioCartaoMultiplo), [CNPJ (CNPJ Number)](#glossarioCNPJ) e [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_List.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_List_Conceitual.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_List_Conceitual.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_List_Logico.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_List_Logico.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_list.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_list.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getAccountsCreditCard
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados de identificação da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccounts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /credit-cards-accounts/v1/accounts/{creditCardAccountId}:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Identificação de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados relativos ao conjunto de informações referentes à identificação da conta de pagamento pós-paga

        Tags: [Bandeira (Credit Card Network)](#glossarioBandeira), [Cartão Múltiplo (Multiple CreditCard)](#glossarioCartaoMultiplo), [CNPJ (CNPJ Number)](#glossarioCNPJ) e [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Identification.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Identification.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Identification.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_identification.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getAccountsCreditCardAccountId
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados de identificação da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsIdentification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /credit-cards-accounts/v1/accounts/{creditCardAccountId}/limits:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Limites de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos limites: de Crédito Total e por Modalidade de Crédito relativos à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Empréstimo Cartão Consignado (Payroll Loan)](#glossarioEmprestimoCartaoConsignado) e [Limite Flexível (Flexible Limit)](#glossarioLimiteFlexivel).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Limits.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Limits.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Limits.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_limits.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_limits.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getAccountsCreditCardAccountIdLimits
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: '#/components/parameters/creditCardAccountId'
      responses:
        '200':
          description: Dados dos limites da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsLimits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /credit-cards-accounts/v1/accounts/{creditCardAccountId}/transactions:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Transações de cartão de crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados das transações relativas à conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [MCC (Merchant Category Code)](#glossarioMCC).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Transactions.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Transactions.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Transactions.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href="dictionary/credit_cards_accounts_transactions.csv" target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_credit_cards_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getAccountsCreditCardAccountIdTransactions
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromTransactionDate'
        - $ref: '#/components/parameters/toTransactionDate'
        - $ref: '#/components/parameters/creditCardTransactionType'
        - $ref: '#/components/parameters/creditCardPayeeMCC'
      responses:
        '200':
          description: Dados das lista de transações da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /credit-cards-accounts/v1/accounts/{creditCardAccountId}/bills:
    get:
      tags:
        - API - Cartão de Crédito
      summary: Fatura de Cartão de Crédito
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à fatura da conta de pagamento pós-paga.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo) e [Fatura (Bill)](#glossarioFatura).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/credit_cards/TLD_CreditCardAccount_Bill.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/credit_cards/DER_CreditCardAccount_Bill.png"/>

        <a href="images/der/credit_cards/DER_CreditCardAccount_Bill.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/credit_cards_accounts_bill.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_credit_cards_billing.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_credit_cards_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsCreditCardAccountIdBills"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: '#/components/parameters/creditCardAccountId'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/fromDueDate'
        - $ref: '#/components/parameters/toDueDate'
      responses:
        '200':
          description: Dados referentes à lista de faturas da conta identificada por creditCardAccountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreditCardAccountsBilling'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - credit-card

  /accounts/v1/accounts:
    get:
      tags:
        - API - Contas
      summary: Lista de Contas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de contas consentidas pelo cliente.

        Método para obter a lista de contas depósito à vista, poupança e pagamento pré-pagas mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Código Compe (compeCode)](#glossarioCompe), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria), [Conta de Depósito à Vista (Current Account)](#glossarioContaDepositoVista), [Conta de Pagamento Pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Savings Account)](#glossarioContaPoupanca), [Conta Individual (Sole Account)](#glossarioContaIndividual), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Marca (Brand)](#glossarioMarca).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Lista.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.v2.png"/>

        <a href="images/der/accounts/DER_Accounts.v2.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Lista_Accounts.png"/>

        <a href="images/der/accounts/DER_Lista_Accounts.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_list.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_list.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccounts"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/fromBookingDate"
        - $ref: "#/components/parameters/toBookingDate"
        - $ref: "#/components/parameters/creditDebitIndicator"

      responses:
        '200':
          description: Dados de identificação da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccount'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/v1/accounts/{accountId}:
      get:
        tags:
          - API - Contas
        summary: Identificação da Conta
        description: |
          |Versão|
          |:-----|
          |1     |

          ### Visão Geral

          Obtém os dados de identificação da conta mantidos na instituição transmissora

          Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre a Identificação de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

          Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Código Compe (compeCode)](#glossarioCompe), [Conta Conjunta Não-solidária (Joint Account And)](#glossarioContaConjuntaNaoSolidaria), [Conta Conjunta Solidária (Joint Account Or)](#glossarioContaConjuntaSolidaria), [Conta de Depósito à Vista (Current Account)](#glossarioContaDepositoVista), [Conta de Pagamento Pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Savings Account)](#glossarioContaPoupanca), [Conta Individual (Sole Account)](#glossarioContaIndividual), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Marca (Brand)](#glossarioMarca).

          ### Visão de alto de nível das estruturas de dados

          <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Identification.v1.png"/>

          ### DER - Diagramas de Entidade e Relacionamento

          * DER Conceitual

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.v2.png"/>

          <a href="images/der/accounts/DER_Accounts.v2.png" target="_blank">Fazer download do DER Conceitual</a>

          * DER Lógico

          <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Identification.v2.png"/>

          <a href="images/der/accounts/DER_Accounts_Identification.v2.png" target="_blank">Fazer download do DER Lógico</a>

          ### Dicionário de dados

          <a href='dictionary/accounts_identification.csv' target="_blank">Fazer download do dicionário de dados</a>

          <a href="dictionary/example/examples_accounts_identification.csv" target="_blank">Fazer download dos exemplos</a>

          ### Especificação em OAS 3.0

          <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

        operationId: "getAccountsAccountId"
        parameters:
          - $ref: "#/components/parameters/Authorization"
          - $ref: "#/components/parameters/xFapiAuthDate"
          - $ref: "#/components/parameters/xFapiCustomerIpAddress"
          - $ref: "#/components/parameters/xFapiInteractionId"
          - $ref: "#/components/parameters/xCustomerUserAgent"
          - $ref: "#/components/parameters/accountId"
          - $ref: "#/components/parameters/fromBookingDate"
          - $ref: "#/components/parameters/toBookingDate"
          - $ref: "#/components/parameters/creditDebitIndicator"

        responses:
          '200':
            description: Dados de identificação da conta identificada por accountId obtidos com sucesso.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ResponseAccountIdentification'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '403':
            $ref: '#/components/responses/Forbidden'
          '404':
            $ref: '#/components/responses/NotFound'
          '405':
            $ref: '#/components/responses/MethodNotAllowed'
          '406':
            $ref: '#/components/responses/NotAcceptable'
          '429':
            $ref: '#/components/responses/TooManyRequests'
          '500':
            $ref: '#/components/responses/InternalServerError'
        security:
          - OpenId:
              - openId
              - accounts

  /accounts/v1/accounts/{accountId}/balances:
    get:
      tags:
        - API - Contas
      summary: Saldos da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os saldos da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os saldos de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Agência (Branch)](#glossarioAgencia), [Saldo (Account Balance)](#glossarioSaldo), [Saldo Bloqueado (Cash Blocked)](#glossarioSaldoBloqueado), [Saldo Disponível (Cash Amount)](#glossarioSaldoDisponivel), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Balances.v1.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.v2.png"/>

        <a href="images/der/accounts/DER_Accounts.v2.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Balances.v2.png"/>

        <a href="images/der/accounts/DER_Accounts_Balances.v2.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_balances.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_balances.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsAccountIdBalances"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
      responses:
        '200':
          description: Dados relativos aos saldos da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountBalances'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/v1/accounts/{accountId}/transactions:
    get:
      tags:
        - API - Contas
      summary: Transações da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de transações da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre as transações efetivadas e os pagamentos autorizados de uma conta de: depósito à vista, poupança ou de pagamento pré-paga referente às informações transacionais de cliente.

        Tags: [Crédito (Credit)](#glossarioCredito), [Débito (Debit)](#glossarioDebito), [Pagador (Payer)](#glossarioPagador), [Pagamento autorizado (Authorised Payment)](#glossarioPagamentoAutorizado), [Recebedor (Payee)](#glossarioRecebedor), [Transação Agendada (Scheduled Payment)](#glossarioTransacaoAgendada), [Transações Realizadas (Completed Transaction)](#glossarioTransacaoRealizada), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira) e [Agência (Branch)](#glossarioAgencia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_Transactions.v1.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.v2.png"/>

        <a href="images/der/accounts/DER_Accounts.v2.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_Transactions.v2.png"/>

        <a href="images/der/accounts/DER_Accounts_Transactions.v2.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_transactions.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_transactions.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsAccountIdTransactions"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/fromBookingDate"
        - $ref: "#/components/parameters/toBookingDate"
        - $ref: "#/components/parameters/creditDebitIndicator"
      responses:
        '200':
          description: Dados da lista de transações da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /accounts/v1/accounts/{accountId}/overdraft-limits:
    get:
      tags:
        - API - Contas
      summary: Limites da conta
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de limite de cheque especial e de adiantamento a depositante  da conta mantidos na instituição transmissora

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre os valores utilizado e disponível do limite do Cheque Especial e o valor em excesso (Adiantamento a depositante) de uma conta de depósito à vista, referente às informações transacionais de cliente.

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Cheque Especial (Arranged Overdraft)](#glossarioChequeEspecial), [Saldo (Account Balance)](#glossarioSaldo), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Agência (Branch)](#glossarioAgencia) e [Conta de depósito à vista (Account)](#glossarioContaDepositoVista).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/accounts/TLD_Accounts_OverdraftLimits.v1.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts.v2.png"/>

        <a href="images/der/accounts/DER_Accounts.v2.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/accounts/DER_Accounts_OverdraftLimits.v2.png"/>

        <a href="images/der/accounts/DER_Accounts_OverdraftLimits.v2.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/accounts_overdraft_limits.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_accounts_overdraft_limits.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_accounts_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getAccountsAccountIdOverdraftLimits"
      parameters:
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
        - $ref: "#/components/parameters/accountId"
        - $ref: "#/components/parameters/accountsCompeCode"
        - $ref: "#/components/parameters/accountsBranchCode"
        - $ref: "#/components/parameters/accountsNumber"
        - $ref: "#/components/parameters/accountsCheckDigit"
      responses:
        '200':
          description: Dados de limites da conta identificada por accountId obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseAccountOverdraftLimits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - accounts

  /loans/v1/contracts/{contractId}:
    get:
      tags:
        - API - Operações de Crédito - Empréstimos
      summary: Empréstimos - Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à identificação da operação de crédito de Empréstimos

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Custo Efetivo Total (CET)](#glossarioCET), [Empréstimo (Loan)](#glossarioEmprestimo), [Encargo (Charge)](#glossarioEncargo), [Ente Consignante (CnpjConsignee)](#glossarioEnteConsignante), [Identificador padronizado da operação de crédito – Ipoc Code](#glossarioIPOC), [Indexador (Indexer)](#glossarioIndexador), [Sistema de Amortização Constante (SAC)](#glossarioSAC), [Sistema Francês de Amortização (Price)](#glossarioPrice), [Sociedade de arrendamento mercantil  (SAM)](#glossarioSAM), [Tarifa (Fee)](#glossarioTarifa), [Taxa Efetiva (EffectiveTax)](#glossarioTaxaEfetiva) e [Taxa nominal (NominalTax)](#glossarioTaxaNominal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/loans/TLD_Loans_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans.png"/>

        <a href="images/der/loans/DER_Loans.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans_Contract.png"/>

        <a href="images/der/loans/DER_Loans_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/loans_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_loans_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_loans_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractId"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do contrato de empréstimo identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoansContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - loans

  /loans/v1/contracts/{contractId}/warranties:
    get:
      tags:
        - API - Operações de Crédito - Empréstimos
      summary: Empréstimos - Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às garantias que avalizam a operação de crédito de Empréstimos contratada

        Tags: [Empréstimo (Loan)](#glossarioEmprestimo) e [Garantia (Warranty)](#glossarioGarantia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/loans/TLD_Loans_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans.png"/>

        <a href="images/der/loans/DER_Loans.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans_Warranties.png"/>

        <a href="images/der/loans/DER_Loans_Warranties.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/loans_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_loans_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_loans_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdWarranties"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Lista de garantias vinculadas ao contrato de empréstimo identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoansWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - loans

  /loans/v1/contracts/{contractId}/payments:
    get:
      tags:
        - API - Operações de Crédito - Empréstimos
      summary: Empréstimos - Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos pagamentos referentes às operações de crédito de Empréstimos contratadas

        Tags: [Empréstimo (Loan)](#glossarioEmprestimo), [Encargo (Charge)](#glossarioEncargo), [Saldo Devedor (Outstanding Balance)](#glossarioSaldoDevedor) e [Tarifa (Fee)](#glossarioTarifa).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/loans/TLD_Loans_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans.png"/>

        <a href="images/der/loans/DER_Loans.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans_Payments.png"/>

        <a href="images/der/loans/DER_Loans_Payments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/loans_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_loans_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_loans_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdPayments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados de pagamentos do contrato de empréstimo identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoansPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - loans

  /loans/v1/contracts/{contractId}/instalments:
    get:
      tags:
        - API - Operações de Crédito - Empréstimos
      summary: Empréstimos - Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às parcelas / prestações da operação de crédito de Empréstimos contratadas

        Tags: [Empréstimo (Loan)](#glossarioEmprestimo) e [Prestação Regular (Instalment)](#glossarioPrestacaoRegular).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/loans/TLD_Loans_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans.png"/>

        <a href="images/der/loans/DER_Loans.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/loans/DER_Loans_Instalments.png"/>

        <a href="images/der/loans/DER_Loans_Instalments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/loans_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_loans_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_loans_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdInstalments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do cronograma de parcelas do contrato de empréstimo identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseLoansInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - loans

  /financings/v1/contracts/{contractId}:
    get:
      tags:
        - API - Operações de Crédito - Financiamentos
      summary: Financiamentos - Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à identificação da operação de crédito de Financiamentos

        Tags: [Custo Efetivo Total (CET)](#glossarioCET), [Encargo (Charge)](#glossarioEncargo), [Ente Consignante (CnpjConsignee)](#glossarioEnteConsignante), [Financiamento (Financing)](#glossarioFinanciamento), [Identificador padronizado da operação de crédito – Ipoc Code](#glossarioIPOC), [Indexador (Indexer)](#glossarioIndexador), [Sistema de Amortização Constante (SAC)](#glossarioSAC), [Sistema Francês de Amortização (Price)](#glossarioPrice), [Sociedade de arrendamento mercantil  (SAM)](#glossarioSAM), [Tarifa (Fee)](#glossarioTarifa), [Taxa Efetiva (EffectiveTax)](#glossarioTaxaEfetiva) e [Taxa nominal (NominalTax)](#glossarioTaxaNominal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/financings/TLD_Financings_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings.png"/>

        <a href="images/der/financings/DER_Financings.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings_Contract.png"/>

        <a href="images/der/financings/DER_Financings_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/financings_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_financings_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_financings_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractId"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do contrato de financiamento identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /financings/v1/contracts/{contractId}/warranties:
    get:
      tags:
        - API - Operações de Crédito - Financiamentos
      summary: Financiamentos - Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às garantias que avalizam a operação de crédito de Financiamentos contratada

        Tags: [Financiamento (Financing)](#glossarioFinanciamento) e [Garantia (Warranty)](#glossarioGarantia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/financings/TLD_Financings_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings.png"/>

        <a href="images/der/financings/DER_Financings.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings_Warranties.png"/>

        <a href="images/der/financings/DER_Financings_Warranties.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/financings_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_financings_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_financings_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdWarranties"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Lista de garantias vinculadas ao contrato de financiamento identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /financings/v1/contracts/{contractId}/payments:
    get:
      tags:
        - API - Operações de Crédito - Financiamentos
      summary: Financiamentos - Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos pagamentos referentes às operações de crédito de Financiamentos contratadas

        Tags: [Encargo (Charge)](#glossarioEncargo), [Financiamento (Financing)](#glossarioFinanciamento), [Saldo Devedor (Outstanding Balance)](#glossarioSaldoDevedor) e [Tarifa (Fee)](#glossarioTarifa).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/financings/TLD_Financings_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings.png"/>

        <a href="images/der/financings/DER_Financings.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings_Payments.png"/>

        <a href="images/der/financings/DER_Financings_Payments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/financings_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_financings_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_financings_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdPayments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados de pagamentos do contrato de financiamento identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /financings/v1/contracts/{contractId}/instalments:
    get:
      tags:
        - API - Operações de Crédito - Financiamentos
      summary: Financiamentos - Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às parcelas / prestações da operação de crédito de Financiamentos contratadas

        Tags: [Financiamento (Financing)](#glossarioFinanciamento) e [Prestação Regular (Instalment)](#glossarioPrestacaoRegular).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/financings/TLD_Financings_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings.png"/>

        <a href="images/der/financings/DER_Financings.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/financings/DER_Financings_Instalments.png"/>

        <a href="images/der/financings/DER_Financings_Instalments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/financings_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_financings_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_financings_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdInstalments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do cronograma de parcelas do contrato de financiamento identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseFinancingsInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /unarranged-accounts-overdraft/v1/contracts/{contractId}:
    get:
      tags:
        - API - Operações de Crédito - Adiantamento a Depositantes
      summary: Adiantamento a Depositantes - Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à identificação da operação de crédito de Adiantamento a Depositantes

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Custo Efetivo Total (CET)](#glossarioCET), [Encargo (Charge)](#glossarioEncargo), [Identificador padronizado da operação de crédito – Ipoc Code](#glossarioIPOC), [Indexador (Indexer)](#glossarioIndexador), [Sistema de Amortização Constante (SAC)](#glossarioSAC), [Sistema Francês de Amortização (Price)](#glossarioPrice), [Sociedade de arrendamento mercantil  (SAM)](#glossarioSAM), [Tarifa (Fee)](#glossarioTarifa), [Taxa Efetiva (EffectiveTax)](#glossarioTaxaEfetiva) e [Taxa nominal (NominalTax)](#glossarioTaxaNominal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/unarranged_accounts_overdraft/TLD_UnarrangedAccountsOverdraft_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Contract.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/unarranged_accounts_overdraft_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_unarranged_accounts_overdraft_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_unarranged_accounts_overdraft_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractId"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do contrato de adiantamento a depositantes identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUnarrangedAccountOverdraftContract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /unarranged-accounts-overdraft/v1/contracts/{contractId}/warranties:
    get:
      tags:
        - API - Operações de Crédito - Adiantamento a Depositantes
      summary: Adiantamento a Depositantes - Garantias do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às garantias que avalizam a operação de crédito de Adiantamento a Depositantes contratada

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante) e [Garantia (Warranty)](#glossarioGarantia).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/unarranged_accounts_overdraft/TLD_UnarrangedAccountsOverdraft_Warranties.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Warranties.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Warranties.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/unarranged_accounts_overdraft_warranties.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_unarranged_accounts_overdraft_warranties.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_unarranged_accounts_overdraft_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdWarranties"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Lista de garantias vinculadas ao contrato de adiantamento a depositantes identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUnarrangedAccountOverdraftWarranties'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - financings

  /unarranged-accounts-overdraft/v1/contracts/{contractId}/payments:
    get:
      tags:
        - API - Operações de Crédito - Adiantamento a Depositantes
      summary: Adiantamento a Depositantes - Pagamentos do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados dos pagamentos referentes às operações de crédito de Adiantamento a Depositantes contratadas

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante), [Encargo (Charge)](#glossarioEncargo), [Saldo Devedor (Outstanding Balance)](#glossarioSaldoDevedor) e [Tarifa (Fee)](#glossarioTarifa).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/unarranged_accounts_overdraft/TLD_UnarrangedAccountsOverdraft_Payments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Payments.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Payments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/unarranged_accounts_overdraft_payments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_unarranged_accounts_overdraft_payments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_unarranged_accounts_overdraft_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdPayments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados de pagamentos do contrato de adiantamento a depositantes identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUnarrangedAccountOverdraftPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - unarranged-accounts-overdraft

  /unarranged-accounts-overdraft/v1/contracts/{contractId}/instalments:
    get:
      tags:
        - API - Operações de Crédito - Adiantamento a Depositantes
      summary: Adiantamento a Depositantes - Parcelas do Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes às parcelas / prestações da operação de crédito de Adiantamento a Depositantes contratadas

        Tags: [Adiantamento a Depositante (Unarranged Account Overdraft)](#glossarioAdiantamentoDepositante).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/unarranged_accounts_overdraft/TLD_UnarrangedAccountsOverdraft_Instalments.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Instalments.png"/>

        <a href="images/der/unarranged_accounts_overdraft/DER_UnarrangedAccountsOverdraft_Instalments.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/unarranged_accounts_overdraft_instalments.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_unarranged_accounts_overdraft_instalments.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_unarranged_accounts_overdraft_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractIdInstalments"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
        - $ref: "#/components/parameters/xFapiInteractionId"
        - $ref: "#/components/parameters/xCustomerUserAgent"
      responses:
        '200':
          description: Dados do cronograma de parcelas do contrato de adiantamento a depositantes identificado por `contractId`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseUnarrangedAccountOverdraftInstalments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OpenId:
            - openId
            - unarranged-accounts-overdraft

  /invoice-financings/v1/contracts/{contractId}:
    get:
      tags:
        - API - Operações de Crédito - Direitos Creditórios Descontados
      summary: Direitos Creditórios Descontados - Contrato
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém dados referentes à identificação da operação de crédito de Direitos Creditórios Descontados

        Tags: [Custo Efetivo Total (CET)](#glossarioCET), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Encargo (Charge)](#glossarioEncargo), [Ente Consignante (CnpjConsignee)](#glossarioEnteConsignante), [Identificador padronizado da operação de crédito – Ipoc Code](#glossarioIPOC), [Indexador (Indexer)](#glossarioIndexador), [Sistema de Amortização Constante (SAC)](#glossarioSAC), [Sistema Francês de Amortização (Price)](#glossarioPrice), [Sociedade de arrendamento mercantil  (SAM)](#glossarioSAM), [Tarifa (Fee)](#glossarioTarifa), [Taxa Efetiva (EffectiveTax)](#glossarioTaxaEfetiva) e [Taxa nominal (NominalTax)](#glossarioTaxaNominal).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/invoice_financings/TLD_InvoiceFinancings_Contract.png"/>

        ### DER - Diagramas de Entidade e Relacionamento

        * DER Conceitual

        <img class="lazy" src="images/loading.gif" data-src="images/der/invoice_financings/DER_InvoiceFinancings.png"/>

        <a href="images/der/invoice_financings/DER_InvoiceFinancings_.png" target="_blank">Fazer download do DER Conceitual</a>

        * DER Lógico

        <img class="lazy" src="images/loading.gif" data-src="images/der/invoice_financings/DER_InvoiceFinancings_Contract.png"/>

        <a href="images/der/invoice_financings/DER_InvoiceFinancings_Contract.png" target="_blank">Fazer download do DER Lógico</a>

        ### Dicionário de dados

        <a href='dictionary/invoice_financings_contract.csv' target="_blank">Fazer download do dicionário de dados</a>

        <a href="dictionary/example/examples_invoice_financings_contract.csv" target="_blank">Fazer download dos exemplos</a>

        ### Especificação em OAS 3.0

        <a href='swagger/swagger_invoice_financings_apis.yaml'>Download da Especificação (OAS 3.0)</a>

      operationId: "getContractsContractId"
      parameters:
        - $ref: "#/components/parameters/contractId"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/xFapiAuthDate"
        - $ref: "#/components/parameters/xFapiCustomerIpAddress"
[...]
