openapi: 3.0.0
info:
  title: APIs do Open Banking Brasil
  description: ""
  version: 1.1.0-rc
  contact:
    email: apiteam@swagger.io
servers:
  - url: http://api.banco.com.br/open-banking
tags:
  - name: APIs Comuns
  - name: API - Canais de Atendimento
  - name: API - Produtos e Serviços
  - name: API - Admin
paths:
  /discovery/v1/status:
    get:
      tags:
        - APIs Comuns
      summary: API de Status
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getStatus
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de descrição e código de status retornado pelas APIs obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryStatusList'
  /discovery/v1/outages:
    get:
      tags:
        - APIs Comuns
      summary: API de Outages
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtêm a lista de indisponibilidade agendada para os serviços.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_common_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getOutage
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de indisponilidade agendada obtida com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDiscoveryOutageList'
  /channels/v1/banking-agents:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Correspondentes bancários
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de Correspondentes bancários.

        Tags: [Correspondente bancário (Banking Agent)](#glossarioCorrespondenteBancario), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados
        <img src="images/tld/TLD_Banking_Agents_v1.png">

        ### Dicionário de dados

        <a href="dictionary/banking_agents.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBankingAgents
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de correspondentes bancários obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBankingAgentsList'
  /channels/v1/branches:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Dependências próprias
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de dependências próprias da instituição financeira.

        Dependência própria é o espaço físico destinado ao atendimento ao público.

        Tags: [Agência (Branch)](#glossarioAgencia), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Dependência (Branch)](#glossarioDependencia), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Posto de Atendimento Bancário - PAB (Branch)](#glossarioPostoAtendimentoBancario), [Posto de Atendimento Eletrônico – PAE (Branch)](#glossarioPostoAtendimentoEletronico) e [Unidade Administrativa Desmembrada – UAD (Branch)](#glossarioUnidadeAdministrativaDesmembrada).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Branches_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/branches.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBranches
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de dependências próprias obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBranchesList'
  /channels/v1/electronic-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento eletrônico
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de canais eletrônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento eletrônico, bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_ElectronicChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/electronic_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getElectronicChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais eletrônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseElectronicChannelsList'
  /channels/v1/phone-channels:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Canais de atendimento telefônico
      description: |
        |Versão|
        |:-----|
        |1     |


        ### Visão Geral

        Obtém a lista de canais telefônicos próprios da instituição financeira.

        Esse *endpoint* retorna os possíveis canais de atendimento telefônico bem como suas informações, serviços prestados e formas de acesso.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca) e [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_PhoneChannels_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/phone_channels.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPhoneChannels
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de canais telefônicos de atendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePhoneChannelsList'
  /channels/v1/shared-automated-teller-machines:
    get:
      tags:
        - API - Canais de Atendimento
      summary: Terminais de Autoatendimento Compartilhado
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém a lista de terminais compartilhados de autoatendimento da instituição financeira.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Terminais de Autoatendimento Compartilhados (Shared Automatic Teller Machine)](#glossarioTerminaisAutoAtendimentoCompartilhados).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Shared_Automated_Teller_Machines_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/automated_teller_machines.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_channels_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getSharedAutomatedTellerMachines
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de terminais compartilhados de autoatendimento obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseSharedAutomatedTellerMachinesList'
  /products-services/v1/personal-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Natural.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga pessoa natural de dados abertos.

        Tags: [Marca (Brand)](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalAccounts'
  /products-services/v1/business-accounts:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Contas pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados da Conta Pessoa Jurídica.

        Esta especificação inclui todos os artefatos relevantes para a Especificação de API sobre  Contas de depósito à vista, poupança e de pagamento pré-paga para pessoa jurídica de dados abertos.

        Tags: [ Marca (Brand) ](#glossarioMarca), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Conta de depósito à vista (Account)](#glossarioContaDepositoVista), [Conta de pagamento pré-paga (Prepaid Payment Account)](#glossarioContaPagamentoPrePaga), [Conta de Poupança (Saving Account)](#glossarioContaPoupanca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Pacote de Serviços (Service Bundles)](#glossarioPacoteServicos), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Accounts_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_accounts.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessAccounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre contas pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessAccounts'
  /products-services/v1/personal-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa natural
      description: |
        Obtém dados sobre empréstimos pessoa natural

        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalLoans'
  /products-services/v1/business-loans:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Empréstimos pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Empréstimos para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Empréstimos para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Empréstimo (Loan)](#glossarioEmprestimo), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Loans_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_loans.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessLoans
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre empréstimos pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessLoans'
  /products-services/v1/personal-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa natural.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartão de crédito pessoa natural obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalCreditCardResponse'
  /products-services/v1/business-credit-cards:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Cartão de crédito de pessoa jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de produtos e serviços de cartões de crédito para pessoa jurídica.

        Tags: [Marca (Brand)](#glossarioMarca),[Bandeira (Credit Card Network)](#glossarioBandeira), [CNPJ (CNPJ Number)](#glossarioCNPJ), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Conta de pagamento pós-paga (Credit Card)](#glossarioContaPagamentoPosPaga), [Crédito Rotativo (Overdraft)](#glossarioCreditoRotativo), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Credit_Cards_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_credit_cards.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessCreditCards
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados sobre cartões de crédito pessoa jurídica obtidos com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessCreditCardResponse'
  /products-services/v1/personal-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalFinancings'
  /products-services/v1/business-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Financiamento Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Financiamento para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Financiamentos para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Financiamento (Financing)](#glossarioFinanciamento), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Financings_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de financiamentos de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessFinancings'
  /products-services/v1/personal-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/personal_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalInvoiceFinancings'
  /products-services/v1/business-invoice-financings:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Antecipação de recebíveis Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Antecipação de Recebíveis.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Antecipação de Recebíveis para Pessoa Jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Direito Creditório Descontado (Invoice Financing)](#glossarioDireitoCreditorioDescontado), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Invoice_Financing_v1.png"/>

        ### Dicionário de dados

        <a href="dictionary/business_invoice_financings.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessInvoiceFinancings
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de recebíveis de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessInvoiceFinancings'
  /products-services/v1/personal-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Natural
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa natural.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa natural de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Personal_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/personal_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getPersonalUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa natural obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsePersonalUnarrangedAccountOverdraft'
  /products-services/v1/business-unarranged-account-overdraft:
    get:
      tags:
        - API - Produtos e Serviços
      summary: Adiantamento a Depositante Pessoa Jurídica
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Obtém os dados de Adiantamento a Depositante para pessoa jurídica.

        Esta especificação inclui todos os itens relevantes para a Especificação de API de Adiantamento a Depositante para pessoa jurídica de dados abertos.

        Tags: [CNPJ (CNPJ Number)](#glossarioCNPJ), [Marca (Brand)](#glossarioMarca), [Instituição Financeira (Company)](#glossarioInstituicaoFinanceira), [Taxa Referencial – TR (Referential Rate)](#glossarioTaxaReferencial), [Indexador (Indexer)](#glossarioIndexador) e [Divulgação dos valores de tarifas e taxas de juros remuneratórias (Disclosure of Fees and Interest Rates)](#api-canais-de-atendimento-divulgacao-dos-valores-de-tarifas-e-taxas-de-juros-remuneratorias).

        ### Visão de alto de nível das estruturas de dados

        <img class="lazy" src="images/loading.gif" data-src="images/tld/TLD_Business_Unarranged_Account_Overdraft_v1.png"/>


        ### Dicionário de dados

        <a href="dictionary/business_unarranged_account_overdraft.csv" target="_blank">Fazer download do dicionário de dados</a>


        ### Especificação em OAS 3.0

        <a href="swagger/swagger_products_services_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getBusinessUnarrangedAccountOverdraft
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de adiantamento de depositante de pessoa jurídica obtida com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBusinessUnarrangedAccountOverdraft'
  /admin/v1/metrics:
    get:
      tags:
        - API - Admin
      summary: Métricas
      description: |
        |Versão|
        |:-----|
        |1     |

        ### Visão Geral

        Este *endpoint* possibilita ao diretório consultar estatísticas operacionais das APIs disponibilizadas pelas instituições financeiras, a fim de avaliar a qualidade dos serviços fornecidos ao usuário final.

        ### Especificação em OAS 3.0

        <a href="swagger/swagger_admin_apis.yaml">Download da Especificação (OAS 3.0)</a>

      operationId: getMetrics
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum:
              - CURRENT
              - ALL
          required: false
          description: |
            Período a ser consultado
              * `CURRENT` - Métricas do dia atual.
              * `ALL` - Métricas de todo o período disponível.
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Dados das métricas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseMetricsList'
components:
  schemas:
    AccountFee:
      $ref: ./schemas/AccountFee.yaml
    AccountOtherService:
      $ref: ./schemas/AccountOtherService.yaml
    AccountPriorityService:
      $ref: ./schemas/AccountPriorityService.yaml
    AccountPriorityServiceCode:
      $ref: ./schemas/AccountPriorityServiceCode.yaml
    AccountType:
      $ref: ./schemas/AccountType.yaml
    AccountsIncomeRate:
      $ref: ./schemas/AccountsIncomeRate.yaml
    AccountsTermsConditions:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ApplicationIntervals:
      $ref: ./schemas/ApplicationIntervals.yaml
    ApplicationRate:
      $ref: ./schemas/ApplicationRate.yaml
    AvailabilityMetrics:
      $ref: ./schemas/AvailabilityMetrics.yaml
    AverageMetrics:
      $ref: ./schemas/AverageMetrics.yaml
    AverageTPSMetrics:
      $ref: ./schemas/AverageTPSMetrics.yaml
    BankingAgent:
      $ref: ./schemas/BankingAgent.yaml
    BankingAgentAvailability:
      $ref: ./schemas/BankingAgentAvailability.yaml
    BankingAgentIdentification:
      $ref: ./schemas/BankingAgentIdentification.yaml
    BankingAgentLocation:
      $ref: ./schemas/BankingAgentLocation.yaml
    BankingAgentPostalAddress:
      $ref: ./schemas/BankingAgentPostalAddress.yaml
    BankingAgentService:
      $ref: ./schemas/BankingAgentService.yaml
    BankingAgentsBrand:
      $ref: ./schemas/BankingAgentsBrand.yaml
    BankingAgentsCompanies:
      $ref: ./schemas/BankingAgentsCompanies.yaml
    BankingAgentsContractor:
      $ref: ./schemas/BankingAgentsContractor.yaml
    Branch:
      $ref: ./schemas/Branch.yaml
    BranchAvailability:
      $ref: ./schemas/BranchAvailability.yaml
    BranchIdentification:
      $ref: ./schemas/BranchIdentification.yaml
    BranchPhone:
      $ref: ./schemas/BranchPhone.yaml
    BranchPostalAddress:
      $ref: ./schemas/BranchPostalAddress.yaml
    BranchService:
      $ref: ./schemas/BranchService.yaml
    BranchesBrand:
      $ref: ./schemas/BranchesBrand.yaml
    BranchesCompany:
      $ref: ./schemas/BranchesCompany.yaml
    Brand:
      $ref: ./schemas/Brand.yaml
    BusinessAccounts:
      $ref: ./schemas/BusinessAccounts.yaml
    BusinessAccountsBrand:
      $ref: ./schemas/BusinessAccountsBrand.yaml
    BusinessAccountsCompany:
      $ref: ./schemas/BusinessAccountsCompany.yaml
    BusinessAccountsService:
      $ref: ./schemas/BusinessAccountsService.yaml
    BusinessCreditCard:
      $ref: ./schemas/BusinessCreditCard.yaml
    BusinessCreditCardBrand:
      $ref: ./schemas/BusinessCreditCardBrand.yaml
    BusinessCreditCardCompany:
      $ref: ./schemas/BusinessCreditCardCompany.yaml
    BusinessCreditCardResponse:
      $ref: ./schemas/BusinessCreditCardResponse.yaml
    BusinessFinancing:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessFinancingBrand:
      $ref: ./schemas/BusinessFinancingBrand.yaml
    BusinessFinancingCompany:
      $ref: ./schemas/BusinessFinancingCompany.yaml
    BusinessFinancingFee:
      $ref: ./schemas/BusinessFinancingFee.yaml
    BusinessInvoiceFinancings:
      $ref: ./schemas/BusinessInvoiceFinancings.yaml
    BusinessInvoiceFinancingsBrand:
      $ref: ./schemas/BusinessInvoiceFinancingsBrand.yaml
    BusinessInvoiceFinancingsCompanies:
      $ref: ./schemas/BusinessInvoiceFinancingsCompanies.yaml
    BusinessInvoiceFinancingsFees:
      $ref: ./schemas/BusinessInvoiceFinancingsFees.yaml
    BusinessInvoiceFinancingsInterestRates:
      $ref: ./schemas/BusinessInvoiceFinancingsInterestRates.yaml
    BusinessLoan:
      $ref: ./schemas/BusinessLoan.yaml
    BusinessLoanBrand:
      $ref: ./schemas/BusinessLoanBrand.yaml
    BusinessLoanCompany:
      $ref: ./schemas/BusinessLoanCompany.yaml
    BusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraft.yaml
    BusinessUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftBrand.yaml
    BusinessUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftCompany.yaml
    BusinessUnarrangedAccountOverdraftFee:
      $ref: ./schemas/BusinessUnarrangedAccountOverdraftFee.yaml
    CNPJ:
      $ref: ./schemas/Links.yaml
    Company:
      $ref: ./schemas/Company.yaml
    CreditCardIdentification:
      $ref: ./schemas/CreditCardIdentification.yaml
    CreditCardInterest:
      $ref: ./schemas/CreditCardInterest.yaml
    CreditCardRewardsProgram:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    CreditCardService:
      $ref: ./schemas/CreditCardService.yaml
    CreditCardTermsConditions:
      $ref: ./schemas/CreditCardTermsConditions.yaml
    Currency:
      $ref: ./schemas/Currency.yaml
    Customer:
      $ref: ./schemas/Customer.yaml
    ElectronicChannel:
      $ref: ./schemas/ElectronicChannel.yaml
    ElectronicChannelIdentification:
      $ref: ./schemas/ElectronicChannelIdentification.yaml
    ElectronicChannelService:
      $ref: ./schemas/ElectronicChannelService.yaml
    ElectronicChannelUrl:
      $ref: ./schemas/ElectronicChannelUrl.yaml
    ElectronicChannelsBrand:
      $ref: ./schemas/ElectronicChannelsBrand.yaml
    ElectronicChannelsCompanies:
      $ref: ./schemas/ElectronicChannelsCompanies.yaml
    EndpointDowntime:
      $ref: ./schemas/EndpointDowntime.yaml
    EndpointUptime:
      $ref: ./schemas/EndpointUptime.yaml
    ErrorMetrics:
      $ref: ./schemas/ErrorMetrics.yaml
    FeeReferentialRateIndexer:
      $ref: ./schemas/FeeReferentialRateIndexer.yaml
    FinancingInterestRate:
      $ref: ./schemas/FinancingInterestRate.yaml
    FinancingService:
      $ref: ./schemas/FinancingService.yaml
    GeographicCoordinates:
      $ref: ./schemas/GeographicCoordinates.yaml
    Indexer:
      $ref: ./schemas/Indexer.yaml
    InterestRate:
      $ref: ./schemas/InterestRate.yaml
    InterestRateFee:
      $ref: ./schemas/InterestRateFee.yaml
    InvocationMetrics:
      $ref: ./schemas/InvocationMetrics.yaml
    InvoiceFinancingsService:
      $ref: ./schemas/InvoiceFinancingsService.yaml
    Links:
      $ref: ./schemas/Links.yaml
    LoanFees:
      $ref: ./schemas/LoanFees.yaml
    LoanInterestRate:
      $ref: ./schemas/LoanInterestRate.yaml
    LoanService:
      $ref: ./schemas/LoanService.yaml
    MaximumPrice:
      $ref: ./schemas/MaximumPrice.yaml
    Meta:
      $ref: ./schemas/Meta.yaml
    MinimumBalance:
      $ref: ./schemas/MinimumBalance.yaml
    MinimumPrice:
      $ref: ./schemas/MinimumPrice.yaml
    MonthlyPrice:
      $ref: ./schemas/MonthlyPrice.yaml
    OpeningClosingChannels:
      $ref: ./schemas/OpeningClosingChannels.yaml
    PeakTPSMetrics:
      $ref: ./schemas/PeakTPSMetrics.yaml
    PersonalAccount:
      $ref: ./schemas/PersonalAccount.yaml
    PersonalAccountBrand:
      $ref: ./schemas/PersonalAccountBrand.yaml
    PersonalAccountCompany:
      $ref: ./schemas/PersonalAccountCompany.yaml
    PersonalCreditCard:
      $ref: ./schemas/PersonalCreditCard.yaml
    PersonalCreditCardBrand:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalCreditCardCompany:
      $ref: ./schemas/PersonalCreditCardCompany.yaml
    PersonalCreditCardResponse:
      $ref: ./schemas/PersonalCreditCardBrand.yaml
    PersonalFinancing:
      $ref: ./schemas/PersonalFinancing.yaml
    PersonalFinancingBrand:
      $ref: ./schemas/PersonalFinancingBrand.yaml
    PersonalFinancingCompany:
      $ref: ./schemas/PersonalFinancingCompany.yaml
    PersonalFinancingFee:
      $ref: ./schemas/PersonalFinancingFee.yaml
    PersonalInvoiceFinancings:
      $ref: ./schemas/PersonalInvoiceFinancings.yaml
    PersonalInvoiceFinancingsBrand:
      $ref: ./schemas/PersonalInvoiceFinancingsBrand.yaml
    PersonalInvoiceFinancingsCompanies:
      $ref: ./schemas/PersonalInvoiceFinancingsCompanies.yaml
    PersonalInvoiceFinancingsFees:
      $ref: ./schemas/PersonalInvoiceFinancingsFees.yaml
    PersonalInvoiceFinancingsInterestRates:
      $ref: ./schemas/PersonalInvoiceFinancingsInterestRates.yaml
    PersonalLoan:
      $ref: ./schemas/PersonalLoan.yaml
    PersonalLoanBrand:
      $ref: ./schemas/PersonalLoanBrand.yaml
    PersonalLoanCompany:
      $ref: ./schemas/PersonalLoanCompany.yaml
    PersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraft.yaml
    PersonalUnarrangedAccountOverdraftBrand:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftBrand.yaml
    PersonalUnarrangedAccountOverdraftCompany:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftCompany.yaml
    PersonalUnarrangedAccountOverdraftFee:
      $ref: ./schemas/PersonalUnarrangedAccountOverdraftFee.yaml
    Phone:
      $ref: ./schemas/Phone.yaml
    PhoneChannel:
      $ref: ./schemas/PhoneChannel.yaml
    PhoneChannelIdentification:
      $ref: ./schemas/PhoneChannelIdentification.yaml
    PhoneChannelPhone:
      $ref: ./schemas/PhoneChannelPhone.yaml
    PhoneChannelService:
      $ref: ./schemas/PhoneChannelService.yaml
    PhoneChannelsBrand:
      $ref: ./schemas/PhoneChannelsBrand.yaml
    PhoneChannelsCompany:
      $ref: ./schemas/PhoneChannelsCompany.yaml
    PostalAddress:
      $ref: ./schemas/PostalAddress.yaml
    Price:
      $ref: ./schemas/Price.yaml
    PriceIntervals:
      $ref: ./schemas/PriceIntervals.yaml
    PriorityServiceName:
      $ref: ./schemas/PriorityServiceName.yaml
    ReferentialRateIndexer:
      $ref: ./schemas/ReferentialRateIndexer.yaml
    RejectionMetrics:
      $ref: ./schemas/RejectionMetrics.yaml
    RequiredWarranty:
      $ref: ./schemas/RequiredWarranty.yaml
    ResponseBankingAgentsList:
      $ref: ./schemas/ResponseBankingAgentsList.yaml
    ResponseBranchesList:
      $ref: ./schemas/ResponseBranchesList.yaml
    ResponseBusinessAccounts:
      $ref: ./schemas/ResponseBusinessAccounts.yaml
    ResponseBusinessFinancings:
      $ref: ./schemas/ResponseBusinessFinancings.yaml
    ResponseBusinessInvoiceFinancings:
      $ref: ./schemas/ResponseBusinessInvoiceFinancings.yaml
    ResponseBusinessLoans:
      $ref: ./schemas/ResponseBusinessLoans.yaml
    ResponseBusinessUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponseBusinessUnarrangedAccountOverdraft.yaml
    ResponseDiscoveryOutageList:
      $ref: ./schemas/ResponseDiscoveryOutagesList.yaml
    ResponseDiscoveryStatusList:
      $ref: ./schemas/ResponseDiscoveryStatusList.yaml
    ResponseElectronicChannelsList:
      $ref: ./schemas/ResponseElectronicChannelsList.yaml
    ResponseMetricsList:
      $ref: ./schemas/ResponseMetricsList.yaml
    ResponsePersonalAccounts:
      $ref: ./schemas/ResponsePersonalAccounts.yaml
    ResponsePersonalFinancings:
      $ref: ./schemas/ResponsePersonalFinancings.yaml
    ResponsePersonalInvoiceFinancings:
      $ref: ./schemas/ResponsePersonalInvoiceFinancings.yaml
    ResponsePersonalLoans:
      $ref: ./schemas/ResponsePersonalLoans.yaml
    ResponsePersonalUnarrangedAccountOverdraft:
      $ref: ./schemas/ResponsePersonalUnarrangedAccountOverdraft.yaml
    ResponsePhoneChannelsList:
      $ref: ./schemas/ResponsePhoneChannelsList.yaml
    ResponseSharedAutomatedTellerMachinesList:
      $ref: ./schemas/ResponseSharedAutomatedTellerMachinesList.yaml
    ServiceBundle:
      $ref: ./schemas/ServiceBundle.yaml
    ServiceBundleServiceDetail:
      $ref: ./schemas/ServiceBundleServiceDetail.yaml
    SharedAutomatedTellerMachines:
      $ref: ./schemas/SharedAutomatedTellerMachines.yaml
    SharedAutomatedTellerMachinesAvailability:
      $ref: ./schemas/SharedAutomatedTellerMachinesAvailability.yaml
    SharedAutomatedTellerMachinesBrand:
      $ref: ./schemas/SharedAutomatedTellerMachinesBrand.yaml
    SharedAutomatedTellerMachinesCompanies:
      $ref: ./schemas/SharedAutomatedTellerMachinesCompanies.yaml
    SharedAutomatedTellerMachinesCompany:
      $ref: ./schemas/SharedAutomatedTellerMachinesCompany.yaml
    SharedAutomatedTellerMachinesIdentification:
      $ref: ./schemas/SharedAutomatedTellerMachinesIdentification.yaml
    SharedAutomatedTellerMachinesPostalAddress:
      $ref: ./schemas/SharedAutomatedTellerMachinesPostalAddress.yaml
    SharedAutomatedTellerMachinesServices:
      $ref: ./schemas/SharedAutomatedTellerMachinesServices.yaml
    Status:
      $ref: ./schemas/Status.yaml
    TransactionMethods:
      $ref: ./schemas/TransactionMethods.yaml
    UnarrangedAccountOverdraftRate:
      $ref: ./schemas/UnarrangedAccountOverdraftRate.yaml
    UnarrangedAccountOverdraftService:
      $ref: ./schemas/UnarrangedAccountOverdraftService.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml

