openapi: 3.0.0
info:
  title: API Pension - Open Banking Brasil
  description: |
    API de Previdência do Open Banking Brasil – Fase 4.
    API que retorna informações de Previdência.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Banking Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/pension/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/pension/v1'
    description: Servidor de Homologação
tags:
  - name: Risk Coverages
    description: Operações relacionadas à Previdência com Coberturas de Risco.
paths:
  /risk-coverages:
    get:
      tags:
        - Risk Coverages
      summary: Informações de Previdência com Cobertura de Riscos.
      operationId: getPensionRiskCoverages
      description: Método para disponibilizar o valor VET.
      responses:
        '200':
          $ref: '#/components/responses/OKResponseRiskCoveragePension'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '429':
          $ref: '#/components/responses/TooManyRequests'   
        '500':
          $ref: '#/components/responses/InternalServerError'     
components:
  schemas:
    OKResponseRiskCoveragePension:
      $ref: './schemas/pension_apis/OkResponseGetRiskPensionContract.yaml'
    GetRiskPensionContractData:
      $ref: './schemas/pension_apis/GetRiskPensionContractData.yaml'
    Links:
      $ref: './schemas/Links.yaml'
    Meta:
      $ref: './schemas/Meta.yaml'
    ParticipantIdentification:
      $ref: ./schemas/business_commons/ParticipantIdentification.yaml
    Product:
      $ref: ./schemas/pension_apis/Product.yaml
    Coverage:
      $ref: ./schemas/pension_apis/RiskPensionCoverage.yaml
    CoverageAttributes:
      $ref: ./schemas/pension_apis/RiskPensionCoverageAttributes.yaml
    CoverageAttributesMaxValue:
      $ref: ./schemas/pension_apis/RiskPensionCoverageAttributes.yaml
    GracePeriod:
      $ref: ./schemas/pension_apis/RiskPensionGracePeriod.yaml
    TermsAndConditions:
      $ref: ./schemas/pension_apis/RiskPensionTermsAndConditions.yaml
    UpdatePMBaC:
      $ref: ./schemas/pension_apis/RiskPensionUpdatePMBaC.yaml
    UpdateAward:
      $ref: ./schemas/pension_apis/RiskPensionUpdateAward.yaml
    AgeReframing:
      $ref: ./schemas/pension_apis/RiskPensionAgeReframing.yaml
    Reclaim:
      $ref: ./schemas/pension_apis/RiskPensionReclaim.yaml
    ReclaimTable:
      $ref: ./schemas/pension_apis/RiskPensionReclaimTable.yaml
    ContributionPayment:
      $ref: ./schemas/pension_apis/RiskPensionContributionPayment.yaml
    MinimumRequirements:
      $ref: ./schemas/pension_apis/RiskPensionMinimumRequirements.yaml
  responses:
    OKResponseRiskCoveragePension:
      description: 'Dados de operações de câmbio da instituição obtidos com sucesso.'
      content:
        application/json:
          schema: 
            $ref: './schemas/pension_apis/OkResponseGetRiskPensionContract.yaml'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseError.yaml