## Diretrizes técnicas de certificação de conformidade

Para a entrada segura e assertiva no Ecossistema do Open Banking, a Estrutura de Governança disponibilizou um conjunto de ferramentas e infraestrutura para suportar o processo de testes e homologação
dos produtos e serviços desenvolvidos pelas Instituições Participantes. Foram disponibilizados ambientes que habilitam ao participante:

- Realizar testes da camada de segurança de suas aplicações e posterior certificação dessas aplicações, utilizando a estrutura criada e mantida pela Open ID Foundation (“Motor de Conformidade de Segurança”);

- Submeter, ainda em tempo de desenvolvimento, suas implementações das APIs do Open Banking a testes automatizados funcionais (“Motor de Conformidade Funcional”).

Lembramos que uma implementação de versão de API do Open Banking só poderá ser registrada no ambiente produtivo do Diretório caso tenha sido certificada nos testes de segurança e funcionais.

Todos os detalhes para a execução dos testes e obtenção dos certificados podem ser encontrados no <a href='documents/Guia_Certificação_Conformidade_v6.pdf' target="_blank">Guia de Certificação de Conformidade</a> e no material sobre <a href='documents/Orientações_Certificações_v2.pdf' target="_blank">Orientações para Certificação</a>.
Ambos os materiais estão em processo contínuo de atualização, podendo sofrer alterações. Qualquer dúvida em relação ao processo, fique à vontade para a submissão de tickets através do <a href='https://servicedesk.openbankingbrasil.org.br/servicePortal' target="_blank">Service Desk</a>.

**Workshops**:

Para demonstração dos motores de testes de conformidade funcional e de segurança foram realizados os seguintes workshops:

- <a href="https://www.youtube.com/watch?v=v8ks7C-f9Yg&ab_channel=OpenBankingBrasil" target="_blank">1° Workshop com OpenID Foundation (17/05/2021)</a>
- <a href="https://www.youtube.com/watch?v=pn51tKgLIoQ&t=3760s&ab_channel=OpenBankingBrasil" target="_blank">2° Workshop com OpenID Foundation (24/05/2021)</a>
- <a href="https://www.youtube.com/watch?v=zW14qlYg5Ts&ab_channel=OpenBankingBrasil" target="_blank">3° Workshop com OpenID Foundation - Motor de certificação de segurança</a>
- <a href="https://www.youtube.com/watch?v=C8TV7j3nb8I&ab_channel=OpenBankingBrasil" target="_blank">1° Workshop ferramenta de certificação funcional (15/06/2021)</a>
- <a href="https://www.youtube.com/watch?v=P8p3S_l95Kk&list=PLB4KVrA_iiEFxTWvI9rdxigLgBEmH95-l&index=6" target="_blank">Workshop Ferramenta de Certificação OIDF – FAPI Brasil e DCR - Fase 3 (03/08/2021)</a>
- <a href="https://www.youtube.com/watch?v=1LA_QzmQ0FA&list=PLB4KVrA_iiEFxTWvI9rdxigLgBEmH95-l&index=7" target="_blank">Workshop Ferramenta de Certificação OIDF – FAPI Brasil e DCR - Fase 3 (03/08/2021) (PT-BR)</a>
- <a href="https://www.youtube.com/watch?v=8GfZ8sCqyck&list=PLB4KVrA_iiEFxTWvI9rdxigLgBEmH95-l&index=8" target="_blank">Workshop de certificação de conformidade funcional da Fase 3 (27/10/2021)</a>