## Conformidade Funcional

Para a segunda fase do Open Banking Brasil, as instituições financeiras dos segmentos S1 e S2 e as que se voluntariaram para participar como “instituição transmissora e receptora de dados”, abreviada por DADOS no diretório de participantes, deverão realizar a certificação de conformidade dos seus *Authorization Servers*, <a href="https://www.in.gov.br/en/web/dou/-/instrucao-normativa-bcb-n-98-de-14-de-abril-de-2021-314703081" target="_blank">conforme resolução do BACEN</a>, antes de iniciarem o envio dos dados de usuários. 

O motor de conformidade funcional do Sandbox foi publicado em versão beta com os testes para as APIs da Fase 2, já sendo possível as Instituições realizarem testes de funcionais nas suas implementações. O cronograma de certificação funcional será da seguinte forma:

<a href="documents/Cronograma%20Sandbox_Versão%20-%2020210609.pdf" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/documents/Cronograma Sandbox_Versão - 20210609.pdf</a>

Dentro do escopo previsto pelo motor de testes, destacamos, de maneira não exaustiva, as principais validações, em curso de desenvolvimento: 

- Open Banking Brasil – Funcional 
    - Estrutura das URLs 
    - Cabeçalhos
    - Códigos de Resposta
    - Escopos e Permissões 
    - Schema / Estrutura da API

**Processo para utilização do motor de conformidade funcional**:

A plataforma de testes funcionais pode ser acessada em: 

<a href="https://web.conformance.directory.openbankingbrasil.org.br/" target="_blank">https://web.conformance.directory.openbankingbrasil.org.br/</a>

Para acesso à plataforma e criação do plano de testes, é possível seguir o seguinte guia:

<a href="https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf</a>

Para a execução dos testes funcionais das APIs, sem segurança, é necessário a execução da ferramenta localmente, 
disponibilizada no endereço <a href="https://gitlab.com/obb1/certification" target="_blank">https://gitlab.com/obb1/certification</a>. O motor de conformidade funcional foi baseado no motor disponibilizada pela OIDF, dessa forma a sua execução local pode ser realizada da mesma que este motor.

**Documentação e suporte**:

Wikis dos motores de conformidade funcional:

<a href="https://gitlab.com/obb1/certification/-/wikis/Introduction" target="_blank">https://gitlab.com/obb1/certification/-/wikis/Introduction</a>

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/home" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/home</a>


Vale notar que a ferramenta do Open Banking Brasil é baseada na ferramenta da OIDF, logo a extensa documentação produzida pela OIDF também se aplica a essa plataforma.

Também foi realizado no dia 15/06 um Workshop para demonstração da utilização da ferramenta, disponível em:

<a href="https://youtu.be/C8TV7j3nb8I" target="_blank">https://youtu.be/C8TV7j3nb8I</a>

A equipe de suporte do processo de conformidade utiliza a mesma infraestrutura do Service Desk do Open Banking, acessível através do link:

<a href="https://servicedesk.openbankingbrasil.org.br/Login.jsp" target="_blank">https://servicedesk.openbankingbrasil.org.br/Login.jsp</a>

A abertura de chamados pode ser realizada tanto pelos usuários logados, atrelados a alguma instituição financeira, quanto para usuários não logados. 
O processo para abertura de um chamado de um usuário logado pode ser conferido através do tutorial em vídeo, abaixo: 

<a href="https://youtu.be/bhMOtliGjKc" target="_blank">https://youtu.be/bhMOtliGjKc</a>