## Conformidade do Perfil de Segurança/DCR

Para a segunda fase do Open Banking Brasil, as instituições financeiras dos segmentos S1 e S2 e as que se voluntariaram para participar como “instituição transmissora e receptora de dados”, abreviada por DADOS no diretório de participantes, deverão realizar a certificação de conformidade dos seus *Authorization Servers*, <a href="https://www.in.gov.br/en/web/dou/-/instrucao-normativa-bcb-n-98-de-14-de-abril-de-2021-314703081" target="_blank">conforme resolução do BACEN</a>, antes de iniciarem o envio dos dados de usuários. 

O motor de conformidade da OIDF foi publicado em versão beta com os perfis FAPI Advanced – Brasil e DCR- Brasil, já sendo possível as Instituições realizarem testes de segurança nas suas implementações. O início da certificação de conformidade com esse plano de testes será realizado a partir 28/06.

É importante ressaltar que a certificação de conformidade é necessária para a publicação das APIs no ambiente produtivo, sendo assim mandatórios para o go-live da Fase 2.

**Processo para utilização do motor de conformidade de segurança**:

**1 - Criação de certificado no diretório de participantes**: Antes da inicialização do teste, a instituição financeira deverá realizar a publicação de dois Softwares Statements no Sandbox do diretório de participantes e realizar a emissão de dois certificados de transporte e assinatura que serão utilizados para acessar o Authorization Server a ser testado. O guia para realizar a emissão desse certificado pode ser consultado em:

<a href="https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/documents/Guia_OBB.pdf</a>

A instituição também pode optar por utilizar outro conjunto de certificados além destes emitidos pelo Sandbox do diretório de participantes.

**2 - Criação do plano de testes**: Após a configuração do certificado, o desenvolvedor, em posse dos atributos do seu Authorization Server, poderá se conectar no motor de testes da OIDF e realizar a criação de um plano de testes em “Create a new test plan”. O preenchimento do plano de testes FAPI R/W – FAPI Brasil e DCR podem ser conferidos através dos links abaixo:

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-Example-Configuration" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-Example-Configuration</a>

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-DCR-Example-Configuration" target="_blank">https://gitlab.com/openid/conformance-suite/-/wikis/Brazil-DCR-Example-Configuration</a>

**3 - Execução do plano de testes**: Após a criação do plano de testes, a instituição poderá realizar todos os testes existentes na sua implementação. Para maior detalhamento dos testes, é possível consultar os dois workshops realizados pelo Open Banking Brasil e a OIDF sobre o perfil de segurança FAPI, o conjunto de testes e a certificação de conformidade:

<a href="https://openbanking-brasil.github.io/areadesenvolvedor/#workshops-com-openid-foundation" target="_blank">https://openbanking-brasil.github.io/areadesenvolvedor/#workshops-com-openid-foundation</a>

**Documentação e suporte**:

Em caso de dúvidas sobre a execução dos testes, pedimos que entrem em contato pelo e-mail certificate@oidf.org. Para relatar possíveis bugs ou alterações necessárias, pedimos que a instituição abra um novo issue em: 

<a href="https://gitlab.com/openid/conformance-suite/-/issues/new" target="_blank">https://gitlab.com/openid/conformance-suite/-/issues/new</a>

No dia 22/06 será realizado um Workshop em que haverá demonstração e esclarecimento de dúvidas sobre o motor de conformidade de segurança, disponibilizado pela OIDF. Após a sua realização o link será disponibilizado no nosso canal do youtube em:

<a href="https://www.youtube.com/channel/UCcEHG9ibMcBEK1tDAG-2WMQ" target="_blank">https://www.youtube.com/channel/UCcEHG9ibMcBEK1tDAG-2WMQ</a>

A OIDF também disponibiliza uma extensa documentação em relação ao motor de testes e aos perfis FAPI que pode ser acessada através dos links abaixo:

FAPI Especificações:

<a href="#fapi-security-profile-1-0">Especificações FAPI – Brasil 1.0</a>

<a href="https://openid.net/specs/openid-financial-api-part-2-1_0-final.html" target="_blank">Financial-grade API Security Profile 1.0 — Part 2: Advanced</a>



FAPI Motor de testes e certificação:

<a href="https://openid.net/certification/fapi_op_testing/" target="_blank">How to run conformance tests for FAPI-RW OPs</a>

<a href="https://openid.net/certification/op_submission/" target="_blank">How to request certification after successfully completing conformance testing for FAPI-RW and FAPI-CIBA OPs</a>

<a href="https://openid.net/2021/04/14/guest-blog-financial-grade-api-fapi-explained-by-an-implementer-updated/" target="_blank">Financial-grade API (FAPI), Explained by an Implementer – Updated</a>

<a href="https://gitlab.com/openid/conformance-suite/-/wikis/Developers/Build-&-Run" target="_blank">Running the tests locally</a>
